<div class="collection-view-item item-type-item">
	<a href="{{link}}">
		<figure>
			<img class="collection-view-item-image" data-url="{{img}}" />
			<figcaption>{{{description}}}</figcaption>
		</figure>
	</a>
</div>
