<div class="collection-view-item item-type-item">
	<a class="collection-view-item item-type-link" href="{{link}}">
		<figure class="item-type-figure">
			<img class="item-type-image" data-url="{{img}}" />
			{{#description}}<figcaption class="item-type-caption">{{{description}}}</figcaption>{{/description}}
		</figure>
	</a>
</div>
