<li class="item">
	<div class="thumbnail">
		{{{thumbnail}}}
	</div><!--
	leave this comment in to truncate whitespace between elements
	for display: inline-block
	--><div class="info">
		<a href="{{fileUrl}}" alt="{{title}}">
			<span class="title">{{title}}</span>
			<span class="views">{{viewTotal}} </span>
		</a>
	</div>
</li>
