/*
 * Stylesheet for the TalkHere extension
 *
 * @file
 * @ingroup Extensions
 * @author Daniel Kinzler, brightbyte.de
 * @copyright © 2007 Daniel Kinzler
 * @licence GNU General Public Licence 2.0 or later
 */

.talkhere {
	margin-top:1ex;
	padding:1ex;
	background-color: #EEEEEE;
	border:1px solid #AAAAAA;
}

.talkhere-head, .talkhere-foot {
	color: black;
	text-align: center;
	font-style: italic;
}

.talkhere-foot #toolbar {
	text-align: left;
}

.talkhere form, .talkhere-foot form {
	text-align: left;
	font-style: normal;
}

.talkhere-head h1, .talkhere-foot h1 {
	margin-top: 0;
	padding-top: 0;
	color: black;
	text-align: left;
	border-color: black;
}

.talkhere-head hr, .talkhere-foot hr {
	background-color: black;
	color: black;
}

.talkhere-comments {
	color:#444444;
}

.talkhere-comments .toc,
.talkhere-comments .editsection {
	display: none;
}

.talkhere-comments h1,
.talkhere-comments h2,
.talkhere-comments h3,
.talkhere-comments h4,
.talkhere-comments h5,
.talkhere-comments h6 {
	color: #444444;
}

.talkhere-talklink {
	margin:1em;
	text-align:center;
	font-size:110%;
	font-weight: bold;
}