


<div class="footer content" style="color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; margin: 0 auto; max-width: 600px; padding: 40px;">
	<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 0 20px 0; padding: 0;">The Social Universe for Fans, By Fans <sup style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">TM</sup></p>
	<p class="hubs" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 0 20px 0; margin-left: auto; margin-right: auto; max-width: 450px; padding: 0;">
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">Comics</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">Games</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">Movies</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">Lifestyle</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">Music</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">Books</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; padding: 0 6px; text-decoration: none;">TV</a>
	</p>
	<p class="social-links" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 0 20px 0; padding: 0;">
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">Twitter Img</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">FB Img</a>
		<a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">YT Img</a>
	</p>
	<p class="fine-print" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 10px; line-height: 20px; margin: 0 0 20px 0; margin-bottom: 0; padding: 0;">First line of fine print</p>
	<p class="fine-print" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 10px; line-height: 20px; margin: 0 0 20px 0; margin-bottom: 0; padding: 0;">Second line of fine print</p>
	<p class="fine-print" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 10px; line-height: 20px; margin: 0 0 20px 0; margin-bottom: 0; padding: 0;">Third line of fine print</p>
</div>