

<h2 style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">{{{greeting}}}</h2>

<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
	{{{content}}}
</p>

<h5 style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">{{{signature}}}</h5>
