<html style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
<head style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
	<title style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">Email!</title>
	
	
</head>
<body style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0; padding: 0;">

<div class="main-wrapper" style="background-color: #E6EBF2; color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
	<table class="header-wrap" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-align: center; width: 100%;">
		<tr style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
			<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></td>
			<td class="container" style="clear: both; color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto; max-width: 600px;">
				<div class="header content" style="color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto; max-width: 520px; padding: 40px; padding-bottom: 20px; padding-top: 12px;">
					<a href="http://www.wikia.com" class="logo" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-decoration: none;">
						<img src="http://vignette3.wikia.nocookie.net/wikianewsletter/images/8/89/Wikia.gif/revision/latest?cb=20150330185243" alt="Wikia" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-decoration: none;">
					</a>
				</div>
			</td>
			<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></td>
		</tr>
	</table>
	<table class="body-wrap" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; width: 100%;">
		<tr style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
			<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></td>
			<td class="container" style="clear: both; color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto; max-width: 600px;">
				<div class="content main-content" style="background-color: #FFF; border-bottom: 1px solid #c5ced9; border-top: 1px solid #c5ced9; color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto; max-width: 520px; padding: 50px 40px 80px 40px;">
					{{{content}}}
				</div>
			</td>
			<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></td>
		</tr>
	</table>
	<table class="footer-wrap" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-align: center; width: 100%;">
		<tr style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
			<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></td>
			<td class="container" style="clear: both; color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto; max-width: 600px;">
				<div class="footer content" style="color: #656e78; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto; max-width: 600px; padding: 40px; padding-left: 0; padding-right: 0;">
					<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 0 20px 0; padding: 0;"><img src="http://vignette1.wikia.nocookie.net/wikianewsletter/images/1/17/Fans-by-Fans.gif/revision/latest?cb=20150330215152" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></p>
					<div class="hubs" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin-bottom: 5px; margin-left: auto; margin-right: auto; max-width: 300px;">
						<a href="http://comicshub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette1.wikia.nocookie.net/wikianewsletter/images/e/e3/Comics.gif/revision/latest?cb=20150330185129" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							Comics
						</a>
						<a href="http://gameshub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette1.wikia.nocookie.net/wikianewsletter/images/e/e8/Games.gif/revision/latest?cb=20150330185144" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							Games
						</a>
						<a href="http://movieshub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette1.wikia.nocookie.net/wikianewsletter/images/b/bf/Movies.gif/revision/latest?cb=20150330185202" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							Movies
						</a>
						<a href="http://lifestylehub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette4.wikia.nocookie.net/wikianewsletter/images/6/60/Lifestyle.gif/revision/latest?cb=20150330185152" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							Lifestyle
						</a>
						<a href="http://musichub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette4.wikia.nocookie.net/wikianewsletter/images/f/fb/Music.gif/revision/latest?cb=20150330185211" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							Music
						</a>
						<a href="http://bookshub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette4.wikia.nocookie.net/wikianewsletter/images/c/c2/Books.gif/revision/latest?cb=20150330185117" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							Books
						</a>
						<a href="http://tvhub.wikia.com/" style="color: #1a5eB8; display: inline-block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; padding: 0 6px 15px; text-decoration: none;">
							{{#fancyHubLinks}}<img src="http://vignette1.wikia.nocookie.net/wikianewsletter/images/c/c5/TV.gif/revision/latest?cb=20150330185219" class="hub-icon" style="color: #1a5eB8; display: block; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 auto 5px; text-decoration: none;">{{/fancyHubLinks}}
							TV
						</a>
					</div>
					<p class="social-links" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 0 20px 0; padding: 0;">
						<a href="https://twitter.com/wikia" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 10px; text-decoration: none;">
							<img src="http://vignette3.wikia.nocookie.net/wikianewsletter/images/8/88/Twitter.gif/revision/latest?cb=20150330185235" alt="Twitter" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-decoration: none;">
						</a>
						<a href="https://www.facebook.com/wikia" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 10px; text-decoration: none;">
							<img src="http://vignette2.wikia.nocookie.net/wikianewsletter/images/a/ad/Facebook.gif/revision/latest?cb=20150330185226" alt="Facebook" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-decoration: none;">
						</a>
						<a href="https://www.youtube.com/user/wikia" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; margin: 0 10px; text-decoration: none;">
							<img src="http://vignette4.wikia.nocookie.net/wikianewsletter/images/1/12/You-Tube.gif/revision/latest?cb=20150330185252" alt="YouTube" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px; text-decoration: none;">
						</a>
					</p>

					{{#footerMessages}}
						<p class="fine-print" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 10px; line-height: 20px; margin: 0 0 20px 0; margin-bottom: 0; padding: 0;">{{.}}</p>
					{{/footerMessages}}
				</div>			</td>
			<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;"></td>
		</tr>
	</table>
</div>
</body>
</html>
