

<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">Hi Lizlux,</p>

<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;"><strong style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;"><a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">Article Name</a> on <a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">Wikia Name</a> has been edited</strong></p>

<table style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
	<tr style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
		<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
			<img src="{{foo}}" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
		</td>
	</tr>


</table>

{{{foo}}}
{{{bar}}}