

<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">Hi Lizlux,</p>

<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;"><strong style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;"><a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">Article Name</a> on <a href="" style="color: #1a5eB8; font-family: 'Helvetica Neue', Arial, sans-serif; text-decoration: none;">Wikia Name</a> has been edited</strong></p>

<table style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
	<tr style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
		<td align="top" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
			<img src="http://vignette2.wikia.nocookie.net/common/avatars/2/29/4200831.png/revision/latest/scale-to-width/50?cb=1369933874&format=jpg" style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
		</td>
		<td style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">
			<p class="subtle" style="color: #93999f; font-family: 'Helvetica Neue', Arial, sans-serif;">Dear Foo,</p>
			<p style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">Here's the text of this email</p>
			<button style="color: #656e78; font-family: 'Helvetica Neue', Arial, sans-serif;">Compare changes</button>
		</td>
	</tr>
</table>