
.admin-container {
	margin:10px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	border-top:1px solid #dcdcdc;
	width:700px;
}

.admin-row {
	padding:0px 0px 10px 0px;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid #dcdcdc;
	width:700px;
}
.admin-image img {
	padding:3px;
	border:1px solid #dcdcdc;
	vertical-align:middle;
}

.admin-image {
	float:left;
	min-width:250px;
	text-align:center;
}

.admin-image p {
	margin:3px 0px 3px 0px !important;
}

.admin-controls {
	float:left;
	width:100px;
}