<form action="{{formSubmitUrl}}" method="POST" id="flagsEditForm">
	<ul>
		{{#flags}}
			<li>
				<input type="checkbox" id="{{inputNamePrefix}}:{{flag_type_id}}" name="{{inputNamePrefix}}:{{flag_type_id}}:{{inputNameCheckbox}}" {{#flag_id}}checked{{/flag_id}}>
				<label for="{{inputNamePrefix}}:{{flag_type_id}}">{{flag_name}}</label>
				<a href="{{flag_view_url}}" target="_blank">{{moreInfo}}</a>
				{{#flag_params_names.length}}
					<fieldset class="params">
						{{#flag_params_names}}
								<input type="text" name="{{inputNamePrefix}}:{{flag_type_id}}:{{param_name}}"
									   value="{{param_value}}" placeholder="{{param_description}}" class="param">
						{{/flag_params_names}}
					</fieldset>
				{{/flag_params_names.length}}
			</li>
		{{/flags}}
	</ul>
	<input type="hidden" name="page_id" value="{{pageId}}">
	<input type="hidden" name="edit_token" value="{{editToken}}">
</form>
