@import "../../../../skins/oasis/css/core/layout";

.WikiaSeasonsPencilUnit {
	background-image: url(/extensions/wikia/WikiaSeasons/images/time-to-play-pencil-unit.png); /* base64 */
	display: block;
	height: 60px;
	margin: 0 auto;
	position: relative;
	width: $width-outside;
	z-index: 1;
}

.WikiaHeader.WikiaSeasonsGlobalHeader {
	.wikia-header-mask {
		background-image: url(/extensions/wikia/WikiaSeasons/images/time-to-play-header-bg.png); /* base64 */
	}
	.page-width-container {
		background-image: url(/extensions/wikia/WikiaSeasons/images/time-to-play-header-lights.png); /* base64 */
		background-position: 50% center;
		background-repeat: no-repeat;
	}
}
//v.1.8