@import "../../../../skins/oasis/css/core/layout";

.WikiaSeasonsPencilUnit {
	background-image: url(/extensions/wikia/WikiaSeasons/images/time_to_play_pencil_unit.jpg); /* base64 */
	display: block;
	height: 60px;
	margin: 0 auto;
	width: $width-outside;
}