@import "../../../../skins/oasis/css/core/layout";

.WikiaSeasonsPencilUnit {
	background-image: url(/extensions/wikia/WikiaSeasons/images/time-to-play-pencil-unit.jpg); /* base64 */
	display: block;
	height: 60px;
	margin: 0 auto;
	width: $width-outside;
}

.WikiaHeader.WikiaSeasonsGlobalHeader {
	.wikia-header-mask {
		background-image: url(/extensions/wikia/WikiaSeasons/images/time-to-play-header-bg.png); /* base64 */
	}
	.wikia-seasons-header-lights {
		background-image: url(/extensions/wikia/WikiaSeasons/images/time-to-play-header-lights.png); /* base64 */
		display: block;
		height: 34px;
		margin: 0 10px 0 0;
		width: 238px;
	}
}