.WikiaPageHeader { 
	.wikia-button {
		display:none;
	}
	.WikiaSearch {
		.wikia-button {
			display: inline;
		}
	}
}

.mw-rev-head-action {
	display:none;
}

.mw-rollback-link{
	display:none;
}

.mw-revdelundel-link {
	display:none;
}