/* Special page */
.flags-special-list {
	width: 100%;
}

.flags-special-zero-status {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}
/*  */

.portable-flags {
	clear: both;
	margin: 5px 0;
}

.user-anon .flags-targeting-contributors {
	display: none;
}
