#reflected .cl {clear:both;}

#reflected li {
	background: none;	
}

#reflected .rf_comment_author {
	display:none;
}

#reflected .rf_comment_wrapper {
	position:relative;
}

#reflected .rf_comment_summary ol,
#reflected .rf_comment_summary ul,
#reflected .rf_comment_summary ol li,
#reflected .rf_comment_summary ul li{
	margin: 0;
	padding: 0;
	list-style: none;
}


/*	LAYOUT BASED */

	#reflected div.rf_comment_text_wrapper {
		width:50%;
		float:left;
	}

	#reflected div.rf_comment_summary{
		width:42%;
		float:right;
	}
	
		#reflected .rf_comment_summary div.summary {
			
		}
		
			#reflected .rf_comment_summary p.byline {
				margin-bottom:3px;
				position:relative;		
				font-size:105%;	 
				font-weight:bold;
			}
			
				#reflected .username {
					color: #999;
					font-size: 75%;
					margin-left: 4px;
				}
				 #reflected .rf_comment_summary p.byline a.user {
					cursor:pointer;
				 }
				 
			#reflected .rf_comment_summary ul.bullet_list {
				margin-left: 10px;
			}	
			
				 #reflected .rf_comment_summary li.bullet{
					padding: 5px 0px 5px 10px;
					display:list-item;
					position:relative;
					margin-bottom: 3px;
					
					line-height:1.3em;
					/*list-style-image:url('http://daniels.cs.washington.edu/javascript/bullet.png');*/
				 }	
								 
				 #reflected .rf_comment_summary ul.bullet_list li.bullet:hover {
					/*border:4px solid #EC9E5B;*/
					/*background-color:#f3f3f3;*/
					
				 }
				 
					#reflected .rf_comment_summary span.bullet_text {
						font-size:105%;
						overflow:hidden;
						word-wrap: break-word;
						
					}	
					
							
							#reflected .rf_comment_summary li.bullet_authored_by {
								font-size:85%;
								color:#777;
							}
							
								#reflected .rf_comment_summary ul.response_footer_wrapper,
								#reflected .rf_comment_summary ul.bullet_operations {
								margin-left: 6px;
								}
								 #reflected .rf_comment_summary ul.response_footer_wrapper li,
								 #reflected .rf_comment_summary ul.bullet_operations li {
									display:static;
								 }
									#reflected .rf_comment_summary .bullet ul.response_footer_wrapper button,
									#reflected .rf_comment_summary .bullet ul.bullet_operations button,
									#reflected .rf_comment_summary .bullet .submit_buttons button {
										border:none;
										background-color:inherit;
										padding:0;
										cursor:pointer;
									
									}
									
										#reflected .rf_comment_summary button.modify {
											
										}
										
									
										#reflected .rf_comment_summary button.delete {
											
										}			
																
									#reflected .rf_comment_summary li.dispute_operation{
										cursor:pointer;
									}
									
										#reflected .rf_comment_summary span.bullet_prompt_problem{
										text-decoration:underline;
										color:#777;
										cursor:pointer;
										font-size:85%;
										padding-right:3px;
										}
										
										#reflected .rf_comment_summary ul.bullet_report_problem{
											display:none;
											opacity:none;
											z-index:99;
											background-color: #fff;
											position:absolute;
											width:auto;
											right:0px;
										}
										
										 #reflected .rf_comment_summary ul.bullet_report_problem li {
											padding:5px;
											border: 1px solid #bbb;
											display:block;
											width:100%;
										 }
												#reflected .rf_comment_summary ul.bullet_report_problem li.flag.set {
												background-color:#333;
												color:#ccc;
												}
										 #reflected .rf_comment_summary ul.bullet_report_problem li:hover {
											background-color: #eee;
		
										 }					 
											#reflected .rf_comment_summary ul.bullet_report_problem li a.user:hover {
												text-decoration:none;
											 }
											 
									#reflected img.hover {
										display:none;
									}

								 
			
			/*************************
			 *	NEW BULLET *
			 ************************/
				 
			#reflected .rf_comment_summary li.new_bullet {
				border:none;
				
			}
			
			#reflected .rf_comment_summary li.modify {
				height:auto;
			}
			
			 #reflected .rf_comment_summary ul.bullet_list li.new_bullet:hover {
				background-color:inherit;
				border:none;
			 }
				 #reflected .rf_comment_summary button.add_bullet {
					 border: 1px solid #777;
					 color:#111;
					 background-color:#f2f2f2;
					 padding: 2px 10px;
					 font: bold 105% arial;
					 letter-spacing: -1px;
					 text-align: left;
					 
				 }

				 #reflected .rf_comment_summary button.add_bullet:hover {
					 background-color:#ddd;
					 cursor:pointer;
				 }
				 
			
				 #reflected .rf_comment_summary table.reflect {
					
				 }
				 
				 #reflected .rf_comment_summary table.new_bullet_wrapper {
					width:97%;
				 }	


					#reflected .rf_comment_summary td.connect_directions {
						width: 98%;
						/*border: 3px solid #004080 !important;
						color: #004080;*/
						font-size: 110%;
						padding: 10px;
						text-align:center;
					}
									 
					#reflected .rf_comment_summary td.new_bullet_text_wrap {
					}
					
					
						#reflected .rf_comment_summary textarea.new_bullet_text {
							height: 60px;
							padding: 4px 2px;
							width:100%;
							overflow: auto;
						}
						
						#reflected .rf_comment_summary tr.submit_footer {
							width:100%;
							padding-bottom: 5px; 
						}
						
								#reflected .rf_comment_summary tr.submit_footer a {
									color:inherit;
								}
								
								#reflected .rf_comment_summary tr.submit_footer a:hover {
									background-color:inherit;
									color:inherit;
								}
								
								#reflected .rf_comment_summary tr.submit_footer li {
									display:inline-block;
								}

								#reflected .rf_comment_summary tr.submit_footer li.submit{
									margin-right: 15px;
								}
								
								#reflected .rf_comment_summary tr.submit_footer li.be_neutral{
									float:right;
								}
								
								#reflected .rf_comment_summary span.big_word {
									text-decoration:underline;
								}
								
				#reflected .rf_comment_summary td.submit_buttons {
					z-index: 50;
					position:absolute;
					padding:0;
					left: 98%;
				}	

						#reflected .rf_comment_summary td.submit_buttons button {
							 border: none;
							 background-color:inherit;
							 cursor:pointer;
							 padding:0;
						}									
						#reflected .rf_comment_summary button.bullet_submit {
							
							
						}
						
						#reflected .rf_comment_summary button.cancel_bullet img{
							width: 15px;
						}
						
				 
			
/* TYPE BASED */

#reflected button {
	border: 1px outset;
	font-weight:bold;
}
#reflected .rf_comment_wrapper a:hover,
#reflected .rf_comment_summary a:hover{
	color:inherit;
	text-decoration:none;
	background-color:inherit;

}

#reflected a.sentence{
	text-decoration:none;
}
#reflected a{
	cursor:pointer; 
}

#reflected a.sentence,
#reflected a.sentence:hover,
#reflected .rf_comment_summary a:hover{
	color:inherit;

}
#reflected a.sentence {
	cursor:text;
}

#reflected .rf_comment_summary textarea {
	padding: 3px 5px;
	font-size:120%;
}

#reflected .highlight_state a.sentence {
	cursor:pointer;
	text-decoration:none
}

#reflected .highlight_state a.sentence:hover {
	text-decoration:underline !important;
}

#reflected span.highlight,
#reflected a.highlight {
	background-color: #FFFF88;
	color: #000;
}


#reflected a.highlight:hover {
	background-color: #fffc29;
	color: #000;
}

.fr {
	float:right;
}


/* unorganized */

#reflected .rf_comment_summary .response_dialog table.reflect {
	position:static;	
}



#reflected .rf_comment_summary .response table.new_bullet_wrapper {
	position:relative;
	
}

#reflected .rf_comment_summary .bullet ul.rebutt_list li {
	display:inline;

}


#reflected ul.response_eval {
}

#reflected ul.response_eval li {
	display:inline;
	margin-right: 3px;
	font-size: 85%;
}

#reflected ul.response_eval li input{
	margin: 5px 2px;
}

#reflected .response_footer_wrapper img,
#reflected .bullet_footer_wrapper img{
	width:15px;
}

#reflected .bullet .responses .response_def{

}

#reflected .response.new button.cancel_bullet {
	display:none;
}

#reflected .responses {
	margin-left: 8px;	
}

#reflected .response_dialog {
	display: none;	
}

#reflected .responses .response_dialog textarea {
	height:60px;
}
#reflected .response_def .prompt {
	padding: 5px; 
	font-weight:bold;
}

#reflected .rebutt_list li.img img {
	padding:2px 2px 0 0px;
	width: 12px;
}

#reflected .rf_comment_summary .bullet_main .bullet_main_wrapper {
	min-height:42px;
	
}

	#reflected .rf_comment_summary .bullet_main .bullet_main_wrapper li{
		list-style-type: none;
	}
		#reflected .rf_comment_summary .bullet_main .bullet_main_wrapper li.bullet_text{
			width: 90%;
			float:left;
		}

			#reflected .rf_comment_summary ul.rebutt_list {
				color: #777;
				width:75%;
				float:left;
			}
		#reflected .rf_comment_summary .bullet_main .bullet_main_wrapper li.bullet_footer_wrapper{
		 width:10%;
		}
		#reflected .rf_comment_summary .response_footer_wrapper {
		 width:20%;
		 height:15px;
		 
		}

		#reflected .rf_comment_summary .bullet_main .bullet_main_wrapper li.bullet_footer_wrapper,
		#reflected .rf_comment_summary .response_footer_wrapper {
			float:right;			
		}

#reflected .rebutt_txt {
	font-size: 85%;
}

#reflected .response_yes {
	color:green;
}

#reflected .response_no {
	color:red;
}

#reflected .response_maybe {
	color:goldenRod;
}

#reflected .response_yes,
#reflected .response_no,
#reflected .response_maybe {
	font-size: 125%;
}

#reflected .rf_comment_summary .responses li.response{

}

#reflected div.new_bullet_prompt {
	position:absolute;
	top:-9px;
	z-index:50;
	width:92%;
	margin-left:3px;
}
#reflected div.new_bullet_prompt li {
	display:inline;
}
#reflected div.new_bullet_prompt li.elicitation {
	font-size:85%;
	font-weight:bold;
}
#reflected div.new_bullet_prompt li.count {
	float:right;
	font-size: 125%;
	color: #555;
	text-decoration:none;
	
}


#reflected .highlight_state .bullet_footer_wrapper {
	display:none;
}

#reflected .response_footer_wrapper,
#reflected .response_footer_wrapper li {
	display:inline;
}

#reflected .response_def .response_prompt{
	background-color: #FFE5E5;
}