/* CSS StyleSheet for Drafts extensions */

#drafts-list-box {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: red solid 1px;
}

#drafts-list-table {
	margin-left: -5px;
	margin-right:-5px;
}