@import "skins/shared/mixins/clearfix";
@import "skins/shared/mixins/gradient";
@import "skins/shared/color";

$color-see-more-images-placeholder: darken($color-page, 5%);
@if $is-dark-wiki {
	$color-see-more-images-placeholder: lighten($color-page, 5%);
}

@mixin arrow-style {
	border-style: solid;
	border-width: 9px;
	margin-top: 35px;
	width: 0;
}

.UploadPhotos {
	input[type=checkbox] {
		cursor: pointer;
	}
	.options {
		background: $color-article-thumb-background;
		border-bottom: 1px solid $color-article-thumb-border;
		display: none;
		margin-top: 10px;
		padding: 15px;
		label {
			display:block;
			margin-top:15px;
			&:first-child {
				margin-top: 0;
			}
		}
		textarea {
			height: 4em;
			width: 425px;
		}
		input[type=text] {
			width: 100%;
		}
	}
	.toggles {
		margin-top: 15px;
		label {
			display: inline;
		}
	}
	.error {
		color: red;
	}
	.advanced {
		display: inline-block;
		margin: 15px 0 5px;
		.chevron {
			border-color: $color-text transparent transparent;
			&.up {
				border-color: transparent transparent $color-text;
				margin: 0 0 6px 0;
			}
		}
	}
	.status {
		display: none;
		padding: 10px;
	}
	.step-1 {
		input[type=file] {
			width: 80%;
		}
	}
	.step-2 {
		display: none;
		.wikia-gallery-item {
			display: block;
			margin: 0 auto;
			padding: 0;
		}
		input[type=submit] {
			display: block;
			margin: 0 auto;
		}
		.ajaxwait {
			display: block;	/* default, JS will hide initially */
			margin: 0 auto;
		}
	}
	li {
		list-style: none;
	}
	h3 {
		color: red;
		margin-bottom: 5px;
	}
	.thumbinner, .wikia-gallery-item {
		margin: 10px auto;
	}
	.override {
		display: none;
	}
	.ajaxwait{
		display: none;
	}
}

#UploadPhotosWrapper .modalContent {
	border: 0;
}
