# Configuration file for rcclient
# WARNING: make sure this file is not readable from the web!

[XMPP]
# NOTE: please put your XMPP login info
# WARNING: make sure this file is not readable from the web!
jid: example@jabber.org
password: snoopy64

# If you want to join a group chat, use the lines below
# or specify the group's JID on the command line
#group: recentchanges@conference.jabber.yourhost.com
#nick: john