#systemEventBar {
	color: #303136;
	width: 100%;
	font-weight: bold;
	clear: both;
	margin-bottom: 5px;
}

/** if the mark-up changes to div's - need to include float: left; **/
#systemEventBar .mb-left { width: 5px; height: 22px; background: url(http://images.wikia.com/common/skins/slate/images/messageBar_left.png) no-repeat #626466; }
#systemEventBar .mb-center { padding: 0 0 0 10px; height: 22px; background: url(http://images.wikia.com/common/skins/slate/images/messageBar_center.png) repeat-x; }
#systemEventBar .mb-center span {}
#systemEventBar .mb-right { width: 5px; height: 22px; background: url(http://images.wikia.com/common/skins/slate/images/messageBar_right.png) no-repeat #626466; }

#systemEventBarClose a:link { color: #303136; text-decoration: none; }
#systemEventBarClose a:visited { color: #303136; text-decoration: none; }
#systemEventBarClose a:active { color: #303136; text-decoration: none; }
#systemEventBarClose a:hover { color: #303136; text-decoration: underline; }

.closeSystemMessage_X {
	font: bold 11px tahoma, helvetica, sans-serif;
	padding: 0 0 0 0;
	height: 22px;
	background: url(http://images.wikia.com/common/skins/slate/images/messageBar_center.png) repeat-x;
}
