.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.line {
  fill: #fff;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.tickx line,
.ticky line {
  stroke-width: 1px;
  stroke: #333;
  stroke-opacity: 0.4;
  shape-rendering: crispedges;
}

.tickx text,
.ticky text {
  fill: #444;
  font-size: 10px;
}

.point {
  fill: rgb(200,0,0);
  stroke-width: 2px;
  stroke: rgb(255,255,255);
}

.point.max {
  fill: rgb(51, 156, 255);
  stroke-width: 2px;
}

.cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}