@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/sprite";
@import "skins/oasis/css/mixins/arrow";
@import "skins/oasis/css/mixins/border-radius";
@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/gradient";

.ForumBoardEdit {
	header {
		@include clearfix;
		margin-top: 5px;
		.create-new-board-button {
			float: right;
		}
		.BreadCrumbs {
			border: 0;
		}
	}
	.board {
		@include clearfix;
		.editControls {
			display: inline;
			position: relative;
			top: -2px;
			.moveup,
			.movedown {
				@include border-radius(4px);
				@include linear-gradient($color-secondary-button, top, $color-secondary-button-highlight, 15%, $color-secondary-button, 85%);
				border: 1px solid $color-page-border;
				cursor: pointer;
				display: inline-block;
				height: 14px;
				position: relative;
				top: 6px;
				width: 14px;
				&:after {
					content: "";
					position: absolute;
					left: 3px;
					top: 5px;
				}
			}
			.movedown:after {
				@include arrow(4px, $color-text, 'down');
			}
			.moveup:after {
				@include arrow(4px, $color-text, 'up');
			}
			.sprite {
				cursor: pointer;
			}
		}
		.heading {
			h4 {
				display: inline;
			}
		}
	}
}

.EditBoardModal {
	.WikiaForm {
		margin: 0 auto;
		width: 582px;
		input[type=text] {
			width: 550px;
		}
	}
}