@import "../../../../skins/oasis/css/mixins/clearfix";

.ForumBoardEdit {
	header {
		@include clearfix;
		margin-top: 10px;
		.create-new-board-button {
			float: right;
		}
	}
}

.CreateNewBoardModal {
	.WikiaForm {
		margin: 0 auto;
		width: 582px;
		input[type=text] {
			width: 550px;
		}
	}
}