@import "skins/oasis/css/core/color";
@import "skins/oasis/css/mixins/gradient";


.RelatedForumDiscussion {
	/* style resets */
	h4 {
		margin: 0;
	}
	ul {
		margin: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	
	.forum-discussions {
		.forum-thread {
			@include linear-gradient(false, top, rgba($color-module-shadow, 0), 50%, $color-module-shadow, 100%);
			padding: 15px 0 15px 40px;
			position: relative;
			.forum-total-replies {
				color: $color-alternate-text;
			}
			.talk {
				left: 10px;
				position: absolute;
				top: 20px;
			}
		}
	}
	
	.forum-new-post {
		float: right;
	}
	
	.forum-replies {
		.forum-reply {
			margin-top: 10px;
			padding-left: 40px;
			position: relative;
			.forum-timestamp {
				color: $color-alternate-text;
				margin-left: 1em;
			}
			.forum-user-avatar {
				background: red;
				height: 30px;
				left: 0;
				position: absolute;
				top: 3px;
				width: 30px;
			}
		}
	}
	
	.forum-see-more {
		text-align: right;
	}
	
	.forum-zero-state-creative {
		.talk {
			margin-right: 10px;
		}
	}
}