@import "../../../../skins/oasis/css/core/color.scss";
@import "../../../../skins/oasis/css/mixins/clearfix.scss";
@import "../../../../skins/oasis/css/mixins/box-shadow.scss";
@import "../../../../skins/oasis/css/mixins/opacity.scss";

.MediaToolContainer {

	border: 1px solid $color-page-border;
	margin: 10px;
	padding: 10px;
	padding-left: 5px;
	height: 359px;

	.mediatool-left-bar {

		width: 245px;
		padding-right: 5px;
		border-right: 1px solid $color-page-border;
		float: left;
		margin-right: 10px;
		height: 333px;

		.minor-tabs {
			margin-bottom: 20px;
		}
	}

	.mediatool-content {
		width: 700px;
		display: inline-block;
	}

	.float-title {
		@include box-shadow(2, 2, 2, #000);
		@include opacity(80);
		position: absolute;
		width: 690px;
		padding: 5px;
		line-height: 24px;
		font-size: 14pt;
		font-color: #7e7e7e;
		border: 1px bold $color-page-border;
		background: $color-page;
	}

	.mediatool-thumbnail-browser {
		width: 700px;
		border: 1px solid $color-page-border;
		overflow: auto;
		margin-top: 20px;
		min-height: 150px;

		.mediaToolItemList {
			padding-top: 30px;
			min-height: 150px;
			li {
				display: inline-block;
			}
		}
		&.loading {
			position: relative;
			background-color: mix($color-page-border, $color-page, 20%);
			&:after {
				position: absolute;
				top: 60px;
				left: 330px;
				content: url(/skins/common/images/ajax.gif); /* $wgCdnStylePath */;
			}
		}
	}

	#mediaToolItemList {
		&.custom-state-active {
			background: #eee;
		}
  }

	#mediaToolBasket {
		width: 700px;
		min-height: 140px;
		h4 { line-height: 16px; margin: 0 0 0.4em; }
		h4 .ui-icon { float: left; }
  	}
	#mediaToolItemList, #mediaToolBasket {
		li {
			float: left;
			padding: 0;
			margin: 5px;
			position: relative;
			height: 72px;
			width: 96px;
			text-align: center;
		}
	}

	@include clearfix;
}

.MediaTool-buttons {

	text-align: right;
	padding-right: 10px;
	margin-bottom: 20px;
}

.MediaToolModal .modalContent {
	margin: 0;
}