@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/opacity";

.MediaToolButtons {
	margin-bottom: 20px;
	padding-right: 10px;
	text-align: right;
}

.MediaToolContainer {
	@include clearfix;
	border: 1px solid $color-page-border;
	height: 359px;
	margin: 10px;
	padding: 10px;
	padding-left: 5px;

	.float-title {
		@include box-shadow(2, 2, 2, #000);
		@include opacity(80);
		background: $color-page;
		border: 1px bold $color-page-border;
		font-color: #7e7e7e;
		font-size: 14pt;
		line-height: 24px;
		padding: 5px;
		position: absolute;
		width: 690px;
	}

	.media-tool-basket {
		min-height: 140px;
		width: 700px;

		h4 {
			line-height: 16px;
			margin: 0 0 0.4em;

			.ui-icon {
				float: left;
			}
		}
	}

   .media-tool-content {
		display: inline-block;
		width: 700px;
	}

	.media-item-details {
		border-top: 1px solid $color-page-border;
		margin: 25px 0;
		padding: 25px 65px 65px 0px;

		&:before {
			border-color: transparent transparent $color-page transparent;
			border-style: solid;
			border-width: 8px;
			content: '';
			height: 0px;
			left: 28px;
			position: relative;
			top: -51px;
			visibility: visible;
			width: 0px;
		}

		.article-details {
			float: left;
			width: 250px;
		}

		.file-details {
			float: right;
			width: 250px;
		}

	}

	.media-tool-item-list {
		&.custom-state-active {
			background: #eee;
		}
	}

	.media-tool-item-list, .media-tool-basket {
		li {
			float: left;
			height: 72px;
			margin: 5px;
			padding: 0;
			position: relative;
			text-align: center;
			width: 96px;
		}
	}

	.media-tool-left-bar {
		border-right: 1px solid $color-page-border;
		float: left;
		height: 333px;
		margin-right: 10px;
		padding-right: 5px;
		width: 245px;

		.minor-tabs {
			margin-bottom: 20px;
		}
	}

	.media-tool-media-location {
		margin-top: 19px;

		img {
			margin-right: 18px;
			padding: 3px;

			&.selected {
				border: 2px solid $color-buttons;
				padding: 1px;
			}
		}
	}

	.media-tool-media-size {
		@include clearfix;
		margin-top: 15px;

		.media-size-input {
			height: 16px;
			width: 26px;
		}

		.media-size-slider {
			float: left;
			margin-left: 20px;
			width: 130px;
		}
	}

	.media-tool-online-url {
		width: 98%;
	}

	.media-tool-preview {
		overflow: auto;
		height:360px;
	}

	.media-tool-thumbnail-browser {
		border: 1px solid $color-page-border;
		margin-top: 20px;
		min-height: 150px;
		overflow: auto;
		width: 700px;

		&.loading {
			background-color: mix($color-page-border, $color-page, 20%);
			position: relative;

			&:after {
				content: url(/skins/common/images/ajax.gif); /* $wgCdnStylePath */;
				left: 330px;
				position: absolute;
				top: 60px;
			}
		}

		.media-tool-item-list {
			min-height: 150px;
			padding-top: 30px;

			li {
				display: inline-block;
			}
		}
	}

    .media-tool-thumbnail-style {
		img {
			padding: 3px;

			&.selected {
				border: 2px solid $color-buttons;
				padding: 1px;
			}
		}

		.thumb-style-desc {
			color: #9f9f9f;
			font-style: italic;
		}
	}
}

.MediaToolModal .modalContent {
	margin: 0;

	.WikiaArticle {
		min-height: 60px;

		.tleft {
			float: none;
			margin: 0;
		}
	}

}
