#mw-parser-popup .parseNode,
#mw-parser-inspector .parseNode {
	border: solid 1px transparent;
}
#mw-parser-popup .parseNodeHighlight,
#mw-parser-inspector .parseNodeHighlight {
	border: solid 1px blue;
}

#mw-parser-popup .template {
	background: #f8f8ff;
}

#mw-parser-popup del,
#mw-parser-popup ins {
	font-weight: bold;
	color: red;
}
#mw-parser-popup del {
	background: #FFFFAA;
}
#mw-parser-popup ins {
	background: #CCFFCC;
}
