# Configuration file for udp2xmpp bridge
# WARNING: make sure this file is not readable from the web!

[udp2xmpp]
# Location of the wiki list file:
wiki-info-file: ./udp2xmpp-wikis.ini

# Alternatively, for a single wiki, you can specify it inline:
# wiki-info-section: acme
#
# [acme]
# page-url: http://acme.com/wiki/$1
# channel-type: muc
# channel: acme-rc@conference.jabber.example.com

[UDP]
port: 4455
# interface: 0.0.0.0
# buffer-size: 8192

[XMPP]
# NOTE: please put your XMPP login info
# WARNING: make sure this file is not readable from the web!
jid: mediawiki@jabber.yourhost.com
password: snoopy64
# message-encoding: utf-8