# Wiki info for udp2xmpp bridge. Make sure
# wiki-info-file in udp2xmpp.ini points here.

# Create one section per wiki.
# The secion names must be the wiki IDs as returned by wfWikiID(). 
# A wiki's ID is the name of the database it uses ( $wgDBname ) plus,
# if applicable, the table prefix ( $wgDBname-$wgDBprefix ).

# Alternatively, for a single wiki, you can put
# the channel config directly into udp2xmpp.ini,
# using the wiki-info-section option

# Each section must specify the channel and channel-type options.
# In addition, base-url or both of page-url and script-url have
# to be defined.
#
# base-url: the base URL of your wiki, equivalent to $wgScriptPath.
#           Must end with "/".
#
# page-url: the URL of pages in your wiki, with $1 as a placeholder
#           for the page name. If not given, defaults to 
#           {base-url}index.php/$1
#
# script-url: the URL of the main entry point for the wiki ("ugly" URL
#             for index.php). If not given, defaults to {base-url}index.php
#
# channel-type: type of the notification channel. can be 'jabber' 
#               or 'muc'.
#
# channel: the channle's name/address. The meaning depends on the 
#          channel type, but for both 'jabber' and 'muc' this is
#          the XMPP JID, of the target user or chat group respectively.

# Adopt the below to your own wiki's parameters.
[acme]
base-url: http://acme.com/w/
page-url: http://acme.com/wiki/$1
channel-type: muc
channel: acme-rc@conference.jabber.example.com

#[bcme]
#script-url: http://bcme.com/w/index.php
#page-url: http://bcme.com/wiki/$1
#channel-type: jabber
#channel: john@jabber.example.com
