@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';
@import "extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/index";

// Use div to prevent Ooyala from overriding these styles
// We can't easily change the order of loading files, see ArticleVideoHooks::onBeforePageDisplay
div.oo-player-container {
	min-width: 0 !important;

	.oo-player {
		transition: none;
	}

	.oo-state-screen {
		// hides title on pause screen
		&.oo-pause-screen {
			.oo-state-screen-title {
				display: none;
			}
		}

		&.oo-start-screen {
			.oo-start-screen-linear-gradient {
				background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
			}

			.oo-action-icon {
				@include align-items(center);
				@include flexbox();
				@include justify-content(center);
				background-color: $color-buttons;
				border: 6px solid rgba(0, 0, 0, 0.32);
				border-radius: 100%;
				bottom: 35px;
				box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
				box-sizing: border-box;
				height: 80px;
				left: auto;
				position: absolute;
				right: 35px;
				top: auto;
				transform: none;
				width: 80px;

				svg {
					fill: $color-button-text;
					margin-left: 4px;
				}
			}
		}

		.oo-action-icon {
			position: absolute;
		}


		.oo-state-screen-info {
			bottom: 41px;
			left: 38px;
			top: auto;

			.oo-state-screen-title {
				font-size: 24px;
				font-family: $wds-font-family;
				line-height: 32px;
				margin-bottom: 0;
			}

			.video-duration {
				color: #fff;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 0.25px;
				line-height: 18px;
				opacity: .75;
			}
		}

		// Override one-line title with ellipsis
		.oo-text-truncate {
			overflow: visible;
			text-overflow: clip;
			white-space: normal;
		}

		.oo-state-screen-selectable {
			// This element should inherit the cursor from .oo-state-screen, where
			// the cursor is hidden whenever controls are hidden, using cursor:none.
			// Ooyala's own styles were preventing this from working correctly.
			cursor: inherit;
		}
	}

	.oo-social-action-text {
		display: none;
	}

	// Note that Ooyala delivers social svg's with round backgrounds
	.oo-player-skin .oo-content-panel.oo-share-panel .oo-share-tab-panel {
		.oo-facebook, .oo-twitter {
			border-radius: 0;
			height: 45px;
			margin-right: 6px;
			width: 45px;
		}

		.oo-facebook {
			background-color: #3b5998;
			background-size: 30px;
		}

		.oo-twitter {
			background-color: #55acee;
			background-size: 40px;
		}

		.oo-google-plus, .oo-email-share {
			display: none;
		}
	}

	.oo-thumbnail-carousel-time, .oo-thumbnail-time {
		font-family: $wds-font-family;
	}

	.oo-discovery-panel {
		width: 100%;
	}

	.oo-xsmall .oo-discovery-panel .oo-discovery-image-wrapper-style:nth-last-child(2) {
		margin-right: 20px !important;
	}
}
