@import 'skins/shared/mixins/transition';
@import 'video-shared-variables';

/**
 * Styles affecting the video controls that cannot be changed through the
 * config.json file. Some of these need to be marked as important due to inline
 * styling and importants already set in the ooyala initial css.
 *
 * Some of this is a little hacky. Might be able to cleanup when we pull in the full
 * html5-skin repo and build our own css.
 *
 */

// Use div to prevent Ooyala from overriding these styles
// We can't easily change the order of loading files, see ArticleVideoHooks::onBeforePageDisplay
div.oo-player-container {
	.oo-scrubber-bar-container {
		// Adjustment for smaller height on controlbar
		height: 5px;

		.oo-scrubber-bar-padding {
			.oo-scrubber-bar {
				height: $video-scrubber-height;
			}

			.oo-playhead-padding {
				.oo-playhead {
					background: $video-player-head-color;
					border-radius: $video-player-head-size;
					border: 2px solid #fff;
					height: $video-player-head-size;
					width: $video-player-head-size;
				}

				.oo-playhead-scrubbing {
					background: $video-player-head-color;
					border-radius: $video-player-head-size-scrubbing;
					border: 3px solid #fff;
					height: $video-player-head-size-scrubbing;
					width: $video-player-head-size-scrubbing;
				}
			}
		}
	}

	.oo-control-bar {
		@include transition-shorthand(none);

		height: 50px;

		.oo-logo {
			display: none !important;
		}

		.oo-icon {
			&:hover {
				// Remove however glow effect added by js
				filter: none !important;
			}
		}

		.oo-control-bar-items-wrapper {
			// Adjustment for smaller height on controlbar
			margin-top: 11px;

			.oo-control-bar-item {
				// Reduce original horizontal spacing of icons
				padding: 0 6px;

				// On selected don't show the icon behind the background image
				&.oo-selected > .fandom-video-gear-icon {
					// Already important from ooyala
					color: transparent !important;
				}
			}

			.oo-volume {
				.oo-volume-bar {
					@include transition-shorthand(none);

					// Make all icon bars the same height
					height: $video-player-volume-bar-height;
					background-color: $video-player-volume-bar-off-color;
					margin-bottom: 1px;
				}
			}

			.oo-control-bar-duration {
				font-weight: bold;
				font-family: $wds-font-family;
				top: 0;
			}
		}

		// For all default icons (new icons stay transparent) make the hover state the default video blue color
		.oo-icon:hover {
			color: $video-player-blue !important;
		}
	}

	.oo-volume-bar {
		padding-left: 6px;
	}

	.oo-close-button,
	.oo-icon-svg {
		filter: none !important;
		// That overrides ooyala icons font. It prevents downloading the font.
		font-family: $wds-font-family !important;
		opacity: 1 !important;

		svg {
			fill: #fff;
			filter: none !important;
		}

		&:hover {
			svg {
				fill: $video-player-blue;
			}
		}
	}
}
