@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';
@import 'video-shared-variables';

@keyframes spinner {
	0% {
		transform: rotate(0deg);
		stroke-dashoffset: (0.66 * $spinnerSize);
	}
	50% {
		transform: rotate(720deg);
		stroke-dashoffset: (3.14 * $spinnerSize);
	}
	100% {
		transform: rotate(1080deg);
		stroke-dashoffset: (0.66 * $spinnerSize);
	}
}

.featured-video-wrapper {
	margin-bottom: 11px;
}

.article-video {
	background-position: center;
	background-size: cover;
	padding-top: 56.25%; // we want to have 16:9 ratio div size
	position: relative;
	width: 100%;

	.video-thumbnail {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	&:before {
		background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.video-details {
		background-color: #000;
		display: none;
		font-weight: bold;
		padding: $video-details-horizontal-padding $video-details-vertical-padding;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;

		> div {
			max-width: $video-container-width - 2 * $video-details-vertical-padding;
		}
	}

	.video-title {
		color: #ccc;
		font-size: 14px;
	}

	.video-label {
		color: #999;
		font-size: 12px;
		opacity: 0.5;
		text-transform: uppercase;
	}

	.video-time {
		&:before {
			content: '\2022';
			padding: 0 2px;
		}
	}

	.video-wiki-play-button {
		@include align-items(center);
		@include flexbox();
		@include justify-content(center);
		background-color: $color-buttons;
		border: 6px solid rgba(0, 0, 0, .32);
		border-radius: 100%;
		bottom: 35px;
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		height: 80px;
		position: absolute;
		right: 35px;
		width: 80px;

		svg {
			margin-left: 5px;
			fill: $color-button-text;
		}
	}

	.video-container {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate3d(0, 0, 0); // hack for iOS for changing position to fixed while scrolling
		z-index: 2;

		.video-thumbnail {
			display: none;
			position: static;
		}

		.close {
			display: none;
			left: 0;
			padding: 7px;
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}

	&.ready-to-play {
		.spinner {
			display: none;
		}
	}

	&.is-collapsed-ready {
		.video-container {
			left: auto;
			position: fixed;
			top: auto;

			.video-thumbnail {
				display: block;
			}
		}
	}

	&.is-collapsed {
		.video-container {
			bottom: 45px !important;
			left: auto;
			position: fixed;
			right: 20px !important;
			top: auto;
			transition: right $video-collapse-animation-speed, bottom $video-collapse-animation-speed, width $video-collapse-animation-speed;
			width: $video-container-width !important;

			.close {
				cursor: pointer;
				display: block;
				z-index: 11001;
			}

			.video-thumbnail {
				display: block;
				height: $video-collapsed-height !important;
				transition: height $video-collapse-animation-speed;
			}

			.video-details {
				display: block;
			}
		}

		.ooyala-article-video {
			bottom: auto;
			height: $video-collapsed-height !important;
			transition: height $video-collapse-animation-speed;

			&.oo-player-container {
				.oo-volume-bar {
					margin-bottom: 0;
				}

				.oo-state-screen.oo-start-screen {
					.oo-action-icon {
						border-width: 3px;
						bottom: 10px;
						height: 60px;
						right: 10px;
						width: 60px;

						svg {
							height: 24px;
							margin-left: 3px;
							width: 18px;
						}
					}

					.oo-state-screen-info {
						display: none;
					}

					.oo-start-screen-linear-gradient {
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
					}
				}
			}
		}

		.spinner {
			top: $video-collapsed-height / 2;
		}
	}

	&.animating {
		.oo_controls {
			display: none;
		}
	}

	.spinner {
		height: $spinnerSize + px;
		left: 50%;
		margin: (-$spinnerSize/2 + px) 0 0 (-$spinnerSize/2 + px);
		position: absolute;
		top: 50%;
		width: $spinnerSize + px;

		circle {
			animation: spinner 2s linear infinite;
			fill: transparent;
			stroke: $spinner-color;
			stroke-width: 4;
			stroke-linecap: round;
			stroke-dasharray: (3.14 * $spinnerSize);
			transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
		}
	}

	.ooyala-article-video {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		.innerWrapper {
			width: 100%;
			height: 100%;
		}
	}
}

.WikiaMainContent {
	z-index: 3;
}
