.article-recommended-video-unit {
	background: #fff;
	bottom: 0;
	font-size: 14px;
	height: 230px;
	left: 0;
	padding: 17px 76px;
	position: fixed;
	right: 0;
	z-index: 10000000;

	h2 {
		color: #000;
		text-transform: uppercase;

		strong {
			font-weight: bold;
		}
	}

	&__close-button {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}
