@import 'video-shared-variables';

.article-video {
	&.collapsed {
		.video-feedback {
			top: $video-collapsed-height;
			right: 0;
		}
	}

	.video-feedback {
		align-items: center;
		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 2px;
		cursor: default;
		display: none;
		font-size: 14px;
		max-width: 240px;
		padding: 5px 8px;
		position: absolute;
		right: 6px;
		top: 6px;
		z-index: 100001;
		
		&.visible {
			display: flex;
		}

		.video-feedback-close {
			cursor: pointer;
			flex-shrink: 0;
			margin-right: 10px;
		}

		.video-thumb {
			align-items: center;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			flex-shrink: 0;
			height: 22px;
			justify-content: center;
			margin-left: 12px;
			width: 22px;
		}

		.video-thumb-up {
			background-color: #7ed321;

			svg {
				position: relative;
				top: -1px; // to have thumb centered in a circle
			}
		}

		.video-thumb-down {
			background-color: #e45264;
		}
	}
}