$video-container-width: 300px;
$video-collapsed-height: 169px;

$video-overlay-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
$video-collapse-animation-speed: 0.4s;

$video-details-horizontal-padding: 10px;
$video-details-vertical-padding: 12px;

$spinner-color: #ccc;
$spinnerSize: 48;


$related-video-width: 280px;
