// model ploticus config file
// for SRF-Ploticus
// be sure to specify PLOTICUS_CONFIG with the $srfgEnvSettings var in LocalSettings.php
// e.g. $srfgEnvSettings = 'PLOTICUS_CONFIG=[FULLPATH]/ploticus.config SWF_FONTS_DIR=/usr/share/ming/fonts/ttf-dejavu/fdb';
// see http://ploticus.sourceforge.net/doc/config.html for more info

// so we don't need to specify comma delimiter for CSVs
// with prefabs, this is not really an issue since SRF-Ploticus already sets delim=comma
// this is really only here for Ploticus scripts
option: delim=comma
