// model ploticus config file
// for SRF-Ploticus
// be sure modify specify PLOTICUS_CONFIG with the $srfgEnvSettings var in LocalSettings.php
// e.g. $srfgEnvSettings = 'PLOTICUS_CONFIG=[FULLPATH]/ploticus.config SWF_FONTS_DIR=/usr/share/ming/fonts/ttf-dejavu/fdb';
// see http://ploticus.sourceforge.net/doc/config.html for more info

// so we don't need to specify comma for the CSVs
option: delim=comma
