@import "skins/oasis/css/mixins/arrow";
@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/opacity";
@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/layout";

/*
 * Temporary styling for the TouchStorm right rail module
 * Currently have no control over 3rd party markup or styles
 * So the css below breaks style and naming conventions
 */
.veeseoRA2VWwikiaV1 {
	@include clearfix;
	position: relative;
	padding-bottom: 10px;

	.veeseoRCWInlineVHeadline {
			font-size: 18px;
			font-weight: bold;
			margin-top: 0px;
			margin-bottom: 15px;

			@if ( $responsive-layout-enabled ) {
				font-size: 20px;
				font-weight: normal;
			}

    }

	// move veeseo logo
	.veeseoRCWInlineVLogoImg {
		position: absolute;
		bottom: 0px;
	}

	// contains title and clip information
	.veeseoRCWInlineVItem {
		clear: both;
		margin-bottom: 10px;
		overflow: hidden;

		& > span {
			display: block;
			float: left;
			width: 50%;

			p {
				// style the <p> to look like a link because
				// veeseo doesn't let us change markup
				// and doesn't use semantic markup ~_~
				cursor: pointer;
				color: $color-links;
				font-weight: bold;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	// contains thumbnail
	.veeseoRCWInlineVDivItem {
		float: left;
		margin-right: 5%;
		width: 45%;

		img {
			cursor: pointer;
			height: auto;
			width: 100%;
		}
	}
}

