.mw-translate-helplink {
	position: absolute;
	width: 100%;
	display: block;
	margin-top: -10px;
}

.mw-translate-helplink a {
	/* @embed */
	background: url(images/help.png) no-repeat scroll left center transparent;
	padding-left: 20px;
	float: right;
}

