@import 'skins/shared/color';
@import 'skins/shared/mixins/transform';

$background-color-mix: 10%;
$black: #000;
$white: #fff;

$background-color: mix(mix($color-buttons, $black, $background-color-mix * 5), $color-page, $background-color-mix);
@if $is-dark-wiki {
	$background-color: mix(mix($color-buttons, $white, $background-color-mix * 5), $color-page, $background-color-mix);
}

.similars-block {
	overflow: hidden;
	margin: 0 -21px;
	margin-top: -8px;
	height: 300px;
	background-color: $background-color;
	position: relative;
	margin-bottom: 10px;
}

.similars {
	display: flex;
	height: 100%;
	position: absolute;
	left: 0;
	transition: left .2s linear;
}

.similar {
	padding: 10px;
	max-width: 150px;
}

.similar-link {
	display: flex;
	flex-direction: column;
}

.similar-title {
	font-size: 14px;
}

.similar-title-block {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 2px;
}

.scroll {
	background-color: $color-buttons;
	width: 30px;
	height: 30px;
	position: absolute;
	text-align: center;
	top: 140px;
	z-index: 1;
	cursor: pointer;
}

.scroll-left {
	left: 12px;
}

.scroll-icon-left {
	@include transform(rotate(90deg));
	fill: $color-button-text;
	height: 100%;
}

.scroll-right {
	right: 12px;
}

.scroll-icon-right {
	@include transform(rotate(-90deg));
	fill: $color-button-text;
	height: 100%;
}

.scroll-disabled {
	display: none;
}
