@import "skins/pirates/css/mixins/background-opacity";
@import "skins/pirates/css/mixins/border-opacity";

@mixin hoverState($size: '50') {
	$url: '/skins/pirates/images/videoPlayButtons/' + $size + 'x' + $size + '_hover.png';

	&:hover .play-circle {
		background-image: url($url); /* base64 */
	}
}

// Video Thumbnails
.video-thumbnail {
	@include hoverState();
	display: inline-block;
	position: relative;

	// play button styles
	// defaults to 'medium' size
	.play-circle {
		background-image: url('/skins/pirates/images/videoPlayButtons/50x50.png'); /* base64 */
		background-size: 100%;
		display: block;
		height: 50px; // only for medium
		left: 50%;
		margin: -25px 0 0 -25px; // only for medium
		position: absolute;
		top: 50%;
		width: 50px; // only for medium
	}

	&.xsmall, &.xxsmall {
		@include hoverState('27');
		.play-circle{
			background-image: url('/skins/pirates/images/videoPlayButtons/27x27.png'); /* base64 */
			height: 27px;
			width: 27px;
			bottom: 10px;
			left: 36px;
			top: auto;
		}
	}

	&.xxsmall {
		// same play button size as xsmall but positioned lower
		.play-circle {
			bottom: 6px;
			left: 32px;
		}
	}

	&.small {
		@include hoverState('35');
		.play-circle{
			background-image: url('/skins/pirates/images/videoPlayButtons/35x35.png'); /* base64 */
			height: 35px;
			width: 35px;
			bottom: 10px;
			left: 34px;
			top: auto;
		}
	}

	&.large {
		@include hoverState('70');
		.play-circle{
			background-image: url('/skins/pirates/images/videoPlayButtons/70x70.png'); /* base64 */
			height: 70px;
			margin: -35px 0 0 -35px;
			width: 70px;
		}
	}

	&.xlarge {
		@include hoverState('90');
		.play-circle{
			background-image: url('/skins/pirates/images/videoPlayButtons/90x90.png'); /* base64 */
			height: 90px;
			margin: -45px 0 0 -45px;
			width: 90px;
		}
	}

	&.hide-play {
		// Don't show the thumbnail till hover
		.play-circle {
			display: none;
		}

		&:hover {
			.play-circle {
				display: block;
			}
		}
	}

	&.fluid {
		width: 100%;

		> img {
			width: 100%;
		}
	}

	img {
		display: block;
	}

	.duration {
		background: black;
		border-radius: 1px 0 0 0;
		bottom: 0;
		color: white;
		font-size: 11px;
		line-height: 17px;
		opacity: .7;
		padding: 0px 6px;
		position: absolute;
		right: 0;
	}
}
