<section class="module embeddable-discussions-module">
	<div class="embeddable-discussions-heading-container">
		<div class="embeddable-discussions-heading">
			{{heading}}
		</div>
		<div class="embeddable-discussions-show-all">
			<a href="{{discussionsUrl}}">
				{{showAll}}
			</a>
		</div>
	</div>
	<div class="embeddable-discussions-threads {{columnsWrapperClass}}" data-requestData="{{requestData}}"  data-requestUrl="{{requestUrl}}">
		{{loading}}
	</div>
</section>
