<div class="embeddable-discussions-sharemodal-heading">
	{{heading}}
</div>
<div class="embeddable-discussions-sharemodal-icons">
	{{#icons}}
		<a target="_blank" href="{{url}}">
			<div class="embeddable-discussions-sharemodal-icon embeddable-discussions-icon-{{icon}}"></div>
		</a>
	{{/icons}}
</div>
