<html>
<head>
    <script>
        function onSyncCookies() {
            alert('well, not yet');
        }
    </script>
</head>
<body>
<button onClick="onSyncCookies();">Sync the cookie!</button>
</body>
</html>