{{#showSetCookieButton}}
    <button onClick="SafariStorageAccessPoC.setTestCookie('{{cookieName}}', '{{cookieDomain}}', '{{cookieExpires}}');">Set test cookie</button>
{{/showSetCookieButton}}
{{#showSyncFrame}}
    <iframe src="{{frameUrl}}" />
{{/showSyncFrame}}
{{#cookieSet}}
    <p>Cookie <b>{{cookieName}}</b> is set on this domain!</p>
{{/cookieSet}}
