/* DataCenter CSS Document */

div.datacenter-ui {
	min-width: 720px;
}
div.datacenter-ui div.menu {
	height: 22px;
	border-bottom: solid 1px silver;
	margin-bottom: 15px;
	position: absolute;
}
div.datacenter-ui div.menu div.item-normal {
	height: 21px;
	float: left;
	border-top: solid 1px white;
	border-bottom: solid 1px silver;
	padding-left: 7px;
	padding-right: 7px;
}
div.datacenter-ui div.menu div.item-current {
	height: 21px;
	float: left;
	border: solid 1px silver;
	border-bottom: solid 1px white;
	padding-left: 6px;
	padding-right: 6px;
}
div.datacenter-ui div.toolbar {
	height: 22px;
	border-bottom: solid 1px silver;
	margin-bottom: 15px;
}
div.datacenter-ui div.toolbar div.type-label {
	height: 21px;
	float: left;
	border-top: solid 1px white;
	border-bottom: solid 1px silver;
	padding-left: 7px;
	padding-right: 7px;
}
div.datacenter-ui div.toolbar div.type-normal {
	height: 21px;
	float: left;
	border-top: solid 1px white;
	border-bottom: solid 1px silver;
	padding-left: 7px;
	padding-right: 7px;
}
div.datacenter-ui div.toolbar div.type-current {
	height: 21px;
	float: left;
	border: solid 1px silver;
	border-bottom: solid 1px white;
	padding-left: 6px;
	padding-right: 6px;
}
div.datacenter-ui div.toolbar div.breadcrumb {
	height: 21px;
	float: left;
	padding-left: 7px;
	padding-right: 26px;
	background-image: url( "Resources/Arrow-Right.png" );
	background-position: right center;
	background-repeat: no-repeat;
}
div.datacenter-ui div.toolbar div.breadcrumb-end {
	height: 21px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
}
div.datacenter-ui div.toolbar div.action-normal {
	height: 21px;
	float: right;
	border-top: solid 1px white;
	border-bottom: solid 1px silver;
	padding-left: 7px;
	padding-right: 7px;
}
div.datacenter-ui div.toolbar div.action-current {
	height: 21px;
	float: right;
	border: solid 1px silver;
	border-bottom: solid 1px white;
	padding-left: 6px;
	padding-right: 6px;
}
div.datacenter-ui div.paging img.icon {
	cursor: pointer;
}
div.datacenter-ui div.paging img.icon-disabled {
	cursor: default;
}
div.datacenter-ui div.paging img.first {
	float: left;
}
div.datacenter-ui div.paging img.previous {
	float: left;
}
div.datacenter-ui div.paging img.next {
	float: right;
}
div.datacenter-ui div.paging img.last {
	float: right;
}
div.datacenter-ui div.paging div.label {
	padding-left: 10px;
	padding-right: 10px;
	height: 24px;
	line-height: 24px;
	color: #999999;
}

/*
 * Search Widget
 */
div.datacenter-ui div.widget-search {
	height: 22px;
	border-bottom: solid 1px silver;
	margin-bottom: 15px;
	text-align: right;
}
div.datacenter-ui div.widget-search input.query {
	margin-top: -8px;
}
div.datacenter-ui div.widget-search input.search {
	margin-top: -8px;
	margin-left: 8px;
}

/*
 * Search Results Widget
 */
div.datacenter-ui div.widget-searchresults div.types {
	height: 22px;
	border-bottom: solid 1px silver;
	margin-bottom: 15px;
}
div.datacenter-ui div.widget-searchresults div.type-normal {
	height: 21px;
	float: left;
	border-top: solid 1px white;
	border-bottom: solid 1px silver;
	padding-left: 7px;
	padding-right: 7px;
}
div.datacenter-ui div.widget-searchresults div.type-current {
	height: 21px;
	float: left;
	border: solid 1px silver;
	border-bottom: solid 1px white;
	padding-left: 6px;
	padding-right: 6px;
}
div.datacenter-ui div.widget-searchresults div.results {
}
div.datacenter-ui div.widget-searchresults div.result {
	padding: 8px;
	cursor: pointer;
	margin-bottom: 15px;
}

/*
 * Form Widget
 */
.datacenter-ui div.widget-form {
	border: solid 1px silver;
}
.datacenter-ui div.widget-form form {
	margin: 0px;
	padding: 0px;
}
.datacenter-ui div.widget-form input.cancel {
	margin-right: 10px;
}
div.datacenter-ui div.widget-form tr td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-form tr td.field {
	padding-right: 4px;
}
div.datacenter-ui div.widget-form tr.row {
	background-color: #FFFFFF;
}
div.datacenter-ui div.widget-form tr.meta {
	background-color: #FFEEDD;
}
div.datacenter-ui div.widget-form tr.change {
	background-color: #DDEEFF;
}

/*
 * FieldLinks Widget
 */
.datacenter-ui div.widget-fieldlinks form {
	margin: 0px;
	padding: 0px;
}
.datacenter-ui div.widget-fieldlinks input.reset {
	margin-right: 10px;
}
div.datacenter-ui div.widget-fieldlinks tr td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}
.datacenter-ui div.widget-fieldlinks input.reset {
	margin-right: 10px;
}
div.datacenter-ui div.widget-fieldlinks table {
	background-color: white;
	border: solid 1px #DDDDDD;
	width: 100%;
}
div.datacenter-ui div.widget-fieldlinks th {
	background-color: #DDDDDD;
	color: #999999;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-fieldlinks tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}


/*
 * Export Widget
 */
.datacenter-ui div.widget-export form {
	margin: 0px;
	padding: 0px;
}
.datacenter-ui div.widget-export input.reset {
	margin-right: 10px;
}
div.datacenter-ui div.widget-export tr td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}
.datacenter-ui div.widget-export input.reset {
	margin-right: 10px;
}
div.datacenter-ui div.widget-export table {
	background-color: white;
	border: solid 1px #DDDDDD;
	width: 100%;
}
div.datacenter-ui div.widget-export th {
	background-color: #DDDDDD;
	color: #999999;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-export tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

/*
 * History Widget
 */
.datacenter-ui div.widget-history form {
	margin: 0px;
	padding: 0px;
}
.datacenter-ui div.widget-history input.reset {
	margin-right: 10px;
}
div.datacenter-ui div.widget-history tr td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-history tr.odd {
	background-color: #FFFFFF;
}
div.datacenter-ui div.widget-history tr.even {
	background-color: #EEEEEE;
}
.datacenter-ui div.widget-history input.reset {
	margin-right: 10px;
}
div.datacenter-ui div.widget-history table {
	background-color: white;
	border: solid 1px #DDDDDD;
	width: 100%;
}
div.datacenter-ui div.widget-history th {
	background-color: #DDDDDD;
	color: #999999;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-history tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-history table {
	border: solid 1px silver;
	width: 100%;
}
div.datacenter-ui div.widget-history td.label {
	width: 20%;
	padding-left: 8px;
	padding-right: 8px;
	color: gray;
}
div.datacenter-ui div.widget-history td.older-odd {
	width: 40%;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #FFFFAA;
}
div.datacenter-ui div.widget-history td.older-even {
	width: 40%;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #FFFFDD;
}
div.datacenter-ui div.widget-history td.newer-odd {
	width: 40%;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #CCFFCC;
}
div.datacenter-ui div.widget-history td.newer-even {
	width: 40%;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #EEFFEE;
}
div.datacenter-ui div.widget-history span.different {
	color: red;
}

/**
 * Heading Widget
 */
div.datacenter-ui div.widget-heading {
	font-size: 20px;
}

/**
 * Body Widget
 */
div.datacenter-ui div.widget-body div {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
	color: black;
	font-weight: normal;
}
div.datacenter-ui div.widget-body div div {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}
div.datacenter-ui div.widget-body div.generic {
	border: solid 1px silver;
}
div.datacenter-ui div.widget-body div.important {
	border: solid 1px #FFFF66;
	background-color: #FFFFCC;
}
div.datacenter-ui div.widget-body div.important div {
	min-height: 48px;
	background-image: url( "Resources/Icons/Dialog/Important.png" );
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 58px;
}
div.datacenter-ui div.widget-body div.error {
	border: solid 1px #FF6666;
	background-color: #FFCCCC;
}
div.datacenter-ui div.widget-body div.error div {
	min-height: 48px;
	background-image: url( "Resources/Icons/Dialog/Error.png" );
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 58px;
}
div.datacenter-ui div.widget-body div.notice {
	border: solid 1px #6688FF;
	background-color: #CCDDFF;
}
div.datacenter-ui div.widget-body div.notice div {
	min-height: 48px;
	background-image: url( "Resources/Icons/Dialog/Notice.png" );
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 58px;
}

/**
 * Details Widget
 */
div.datacenter-ui div.widget-details table {
	background-color: white;
	border: solid 1px #DDDDDD;
	width: 100%;
}
div.datacenter-ui div.widget-details tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-details tr td.label {
	color: gray;
	width: 35%;
}
div.datacenter-ui div.widget-details tr td.value {
	color: black;
	width: 65%;
}

/**
 * Table Widget
 */
div.datacenter-ui div.widget-table table {
	background-color: white;
	border: solid 1px #DDDDDD;
	width: 100%;
}
div.datacenter-ui div.widget-table th {
	background-color: #DDDDDD;
	color: #999999;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-table tr.odd {
	background-color: #FFFFFF;
}
div.datacenter-ui div.widget-table tr.even {
	background-color: #EEEEEE;
}
div.datacenter-ui div.widget-table tr.link:hover td {
	text-decoration: underline;
	color: #002BB8;
	cursor: pointer;
}
div.datacenter-ui div.widget-table tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

/**
 * Actions Widget
 */
div.datacenter-ui div.widget-actions div.action {
	float: right;
	padding-left: 15px;
}

/**
 * Model Widget
 */
div.datacenter-ui div.widget-model table {
	background-color: white;
	border: solid 1px #DDDDDD;
	width: 100%;
}
div.datacenter-ui div.widget-model th {
	background-color: #DDDDDD;
	color: #999999;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
div.datacenter-ui div.widget-model tr.mute:hover td {
	text-decoration: none;
	color: #999999;
}
div.datacenter-ui div.widget-model tr.mute td {
	color: #999999;
}
div.datacenter-ui div.widget-model tr.link:hover td {
	text-decoration: underline;
	color: #002BB8;
	cursor: pointer;
}
div.datacenter-ui div.widget-model tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

/**
 * Map Widget
 */
div.datacenter-ui div.widget-map div.window div.heading,
div.datacenter-ui div.widget-map div.window div.heading a {
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	padding-top: 4px;
}
div.datacenter-ui div.widget-map div.window div.body {
	font-size: 12px;
}
div.datacenter-ui div.widget-map div.window div.body div.region {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
}
div.datacenter-ui div.widget-map div.window div.body div.spaces {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

/**
 * List Widget
 */
div.datacenter-ui div.input-list select.list {
	width: 200px;
}

/**
 * Tense Widget
 */
div.datacenter-ui div.input-tense input.button {
	margin-right: 5px;
}
div.datacenter-ui div.input-tense label.label {
	margin-right: 5px;
}
div.datacenter-ui div.input-tense label.disabled {
	color: silver;
}

/**
 * Boolean Widget
 */
div.datacenter-ui div.input-boolean input.button {
	margin-right: 5px;
}
div.datacenter-ui div.input-boolean label.label {
	margin-right: 5px;
}

/**
 * Number Widget
 */
div.datacenter-ui div.input-number input.number {
	width: 130px;
	margin-right: 5px;
}
div.datacenter-ui div.input-number input.button-dec {
	width: 30px;
	margin-right: 5px;
}
div.datacenter-ui div.input-number input.button-inc {
	width: 30px;
}

/**
 * Text Widget
 */
div.datacenter-ui div.input-text textarea.text {
	width: 200px;
}

/**
 * String Widget
 */
div.datacenter-ui div.input-string input.string {
	width: 200px;
}

/**
 * Columns Layout
 */
div.datacenter-ui div.layout-columns div.column {
	padding: 10px;
}

/**
 * Rows Layout
 */
div.datacenter-ui div.layout-rows div.row {
	padding: 10px;
}

/**
 * Tabs Layout
 */
div.datacenter-ui div.layout-tabs div.tabs {
	height: 22px;
	border-bottom: solid 1px silver;
	margin-bottom: 15px;
}
div.datacenter-ui div.layout-tabs div.tabs div {
	height: 21px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	color: #002BB8;
	cursor: pointer;
}
div.datacenter-ui div.layout-tabs div.tabs div:hover {
	text-decoration: underline;
}
div.datacenter-ui div.layout-tabs div.tabs div.item-normal {
	border: solid 1px white;
	border-bottom: solid 1px silver;
}
div.datacenter-ui div.layout-tabs div.tabs div.item-current {
	border: solid 1px silver;
	border-bottom: solid 1px white;
}
div.datacenter-ui div.layout-tabs div.tabs div.item-disabled {
	border: solid 1px white;
	border-bottom: solid 1px silver;
	color: gray;
	cursor: default;
}
div.datacenter-ui div.layout-tabs div.tabs div.item-disabled:hover {
	text-decoration: none;
}

/**
 * Position Widget
 */
div.datacenter-ui div.input-position label.label {
	width: 15px;
	height: 14px;
	line-height: 14px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	text-align: right;
}
div.datacenter-ui div.input-position input.number {
	width: 35px;
	height: 14px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
div.datacenter-ui div.input-position img.navigator {
	width: 60px;
	height: 34px;
	display: block;
	float: left;
	margin-left: 10px;
}

/**
 * Gallery Widget
 */
div.datacenter-ui div.widget-gallery div.paging {
	padding-bottom: 8px;
}
div.datacenter-ui div.widget-gallery div.icons {
	border: solid 1px #DDDDDD;
	padding: 8px;
	padding-bottom: 0px;
}
div.datacenter-ui div.widget-gallery div.icons div.icon {
	margin-right: 8px;
	margin-bottom: 8px;
	width: 160px;
	height: 65px;
	border: 1px solid #AAAAAA;
	text-align: center;
	float: left;
}
div.datacenter-ui div.widget-gallery div.icons div.generic {
	background-color: #FFFFFF;
}
div.datacenter-ui div.widget-gallery div.icons div.link:hover div {
	text-decoration: underline;
	color: #002BB8;
	cursor: pointer;
}
div.datacenter-ui div.widget-gallery div.icons div.icon div.label-0 {
	color: #000000;
	padding-top: 5px;
}
div.datacenter-ui div.widget-gallery div.icons div.icon div.label-1 {
	color: #555555;
}
div.datacenter-ui div.widget-gallery div.icons div.icon div.label-2 {
	color: #AAAAAA;
}
div.datacenter-ui div.widget-gallery div.icons div.category-network {
	background-color: #DDDDFF;
}
div.datacenter-ui div.widget-gallery div.icons div.category-power {
	background-color: #FFDDDD;
}
div.datacenter-ui div.widget-gallery div.icons div.category-audio {
	background-color: #DDFFDD;
}
div.datacenter-ui div.widget-gallery div.icons div.category-video {
	background-color: #FFDDFF;
}
div.datacenter-ui div.widget-gallery div.icons div.category-sensor {
	background-color: #DDFFFF;
}
div.datacenter-ui div.widget-gallery div.icons div.category-serial {
	background-color: #FFFFDD;
}
div.datacenter-ui div.widget-gallery div.icons div.category-other {
	background-color: #DDDDDD;
}
div.datacenter-ui div.widget-gallery div.icons div.category-other {
	background-color: #DDDDDD;
}
div.datacenter-ui div.widget-gallery div.icons div.format-analog {
	background-image: url( "Resources/Widgets/Gallery/Port-Format-Analog.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.format-digital {
	background-image: url( "Resources/Widgets/Gallery/Port-Format-Digital.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.format-mixed {
	background-image: url( "Resources/Widgets/Gallery/Port-Format-Mixed.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.format-none {
	background-image: url( "Resources/Widgets/Gallery/Port-Format-None.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.format-virtual {
	background-image: url( "Resources/Widgets/Gallery/Port-Format-Virtual.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.form_factor-rackunit {
	background-image: url( "Resources/Widgets/Gallery/Object-FormFactor-RackUnit.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.form_factor-module {
	background-image: url( "Resources/Widgets/Gallery/Object-FormFactor-Module.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.form_factor-desktop {
	background-image: url( "Resources/Widgets/Gallery/Object-FormFactor-Desktop.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.datacenter-ui div.widget-gallery div.icons div.form_factor-portable {
	background-image: url( "Resources/Widgets/Gallery/Object-FormFactor-Portable.png" );
	background-position: bottom right;
	background-repeat: no-repeat;
}