@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/opacity";
@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/core/layout";

.control-center {
	>header {
		@include linear-gradient(false, top, #cde2f0, 20%, #bbd6e8, 70%, #9db9cd, 100%);
		border-bottom: 1px solid #b6c1c9;
		border-top: 1px solid #c8d4dd;
		height: 48px;
		padding: 0 15px;
		position: relative;
		h1 {
			font-size: 20px;
			margin: 0;
		}
		nav {
			bottom: 5px;
			color: #788086;
			position: absolute;
			right: 10px;
		}
	}
	.control-center-content {
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		border-top: 1px solid #eee;
		padding-top: 20px;
		width: 690px;
		.controls-wiki {
			header {
				@include linear-gradient(false, top, $color-module-highlight, 60%, $color-module-shadow, 100%);
				border-bottom: 1px solid $color-page-border;
				border-top: 1px solid $color-page-border;
				font-size: 12px;
				font-style: italic;
				height: 25px;
				padding-top: 5px;
				h1 {
					color: #6aa8d1;
					float: left;
					font-size: 16px;
					font-style: normal;
					margin: 0 30px 0 20px;
				}
			}
			.row {
				font-size: 11px;
				line-height: 13px;
				text-align: center;
				@include clearfix;
				.item {
					cursor: pointer;
					/* 115px visual height */
					height: 95px;
					padding-top: 20px;
					width: 80px;
					.representation {
						@include border-radius(10px);
						@include linear-gradient($color-module-shadow, top, $color-module-highlight, 60%, $color-module-shadow, 100%);
						border: 1px solid #aaa;
						display: block;
						height: 50px;
						margin: 0px auto 5px;
						width: 50px;
						.icon {
							background: url(http://placekitten.com/30/30) no-repeat 10px 10px;
							height: 50px;
							width: 50px;
						}
						&:hover {
							$color-hover: mix($color-module-shadow, #000, 60%);
							@include linear-gradient($color-hover, top, $color-module-highlight, 60%, $color-module-shadow, 100%);
							@include box-shadow(-5px, 5px, 5px, #999, true, 0);
						}
					}
				}
			}
		}
	}
}

// Oasis overwrites
.WikiaArticle {
	padding: 0;
}
