/* default space between tabs */
.yui-navset .yui-nav li {
    margin:0 0.5em 0 0; /* horizontal tabs */
    padding:0;
}
#WikiaArticle .yui-nav {
    margin:0;
    padding:0;
    list-style:none;
}
.yui-navset .yui-nav li {
    display:inline;
}
.yui-navset .yui-nav a {
    outline:0; /* gecko: keep from shifting */
}
.yui-navset .yui-nav a { position:relative; } /* IE: to allow overlap */
