body {
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size: 12pt;
	margin: 0 40px 40px 40px;
}
form {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.accent {
	border-width: 1px;
	border-style: solid;
}
.step {
	clear: both;
	display: none;
	text-align: left;
}
.headline {
	font-size: 18pt;
	margin: 0;
	padding: 10px 15px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
}
.wrapper {
	border-width: 1px; 
	border-style: solid;
	padding: 40px;	
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

#header {
	background: url(logo.png) 15px 50% no-repeat;
	padding: 15px;
}
#progress {
	float: right;
}
#progress li {
	border-width: 1px;
	border-style: solid;
	float: left;
	font-size: 20pt;
	font-weight: bold;
	height: 28px;
	line-height: 32px;
	margin-left: 5px;
	text-align: center;
	width: 28px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.nav {
	padding: 15px;
	text-align: right;
}
.nav_reverse {
	float: left;
}
/* Button styling research: http://www.filamentgroup.com/lab/update_styling_the_button_element_with_css_sliding_doors_now_with_image_spr/ */
button {
	background: transparent url(green_button_sprite.png) no-repeat right -57px; 
	position: relative;
	border: 0; 
	padding: 0 15px 0 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}
button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}
button span { 
	background: transparent url(green_button_sprite.png) no-repeat left top; 
	color: #FFF;
	font-family: "Arial Narrow", sans-serif;
	font-size: 14pt;
	line-height: 36px;
	height: 37px;
	padding-left: 40px;
	position: relative;
	display: block; 
	white-space: nowrap;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}





/* logo page */
#logo_current {
	border: ridge black 3px;
	height: 155px;
	width: 216px;
	background-position:center center;
	background-repeat:no-repeat;
}

#logo_preview {
	background-position:center center;
	background-repeat:no-repeat;
	background-color: lightgray;
	border: ridge black 3px;
	color: gray;
	height: 155px;
	text-align: center;
	text-vertical-align: center;
	width: 216px;
}

/* Styles for status bar http://www.west-wind.com/WebLog/posts/388213.aspx */

.statusbar { 
	background: black;
	border: solid 1px lightgray;
	bottom: 5px;
	color: white;    
	filter: alpha(opacity="70");
	font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
	height: 20px;    
	left: 0;
	opacity: .70;    
	overflow: hidden;
	overflow-y: auto; 
	padding: 5px;
	position: fixed;
	right: 0;
	z-index: 200;
}

.statusbarhighlight {
	background-color: #F0E68C;
	border: solid 1px silver;
	color: maroon;
	font-weight: bold;
}

.statusbarerror {
	background-color: red;
	color: white;    
}


/*** Step 3: Theme ***/
#theme_scroller {
	overflow: auto;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
}
#theme_scroller td {
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#theme_scroller img {
	border: 1px solid #AAA;
	cursor: pointer;
	display: block;
	margin-bottom: 5px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
