<phpunit bootstrap="TestHelper.php">
	<filter>
		<blacklist>
			<directory>../resources</directory>
			<directory>../tests</directory>
			<directory>../tools</directory>
		</blacklist>
		<whitelist>
            <directory suffix=".php">../special</directory>
			<exclude>
			</exclude>
		</whitelist>
	</filter>
	<selenium>
		<!-- Choose a browser to run for testing and uncomment it. -->
		
		<!-- You may need to alter the parameters for your browser. -->

		<!-- Chrome -->

		<!--
		<browser name="Chrome on Mac" browser="*chrome /Applications/Google Chrome.app/Contents/MacOS/Google Chrome" host="localhost" port="4444" timeout="30000"/>
		-->

		<!-- Firefox -->

		<!--
		<browser name="Firefox on Linux" browser="*firefox /usr/lib/firefox/firefox-bin" host="localhost" port="4444" timeout="30000"/>
		<browser name="Firefox on Mac" browser="*firefox /Applications/Firefox.app/Contents/MacOS/firefox-bin" host="localhost" port="4444" timeout="30000"/>
		<browser name="Firefox on Windows XP" browser="*firefox C:\Program Files\Mozilla Firefox\firefox.exe" host="localhost" port="4444" timeout="30000"/>
		-->

		<!-- Internet Explorer -->

		<!--
		<browser name="IE on Windows XP" browser="*iexplore" host="localhost" port="4444" timeout="30000"/>
		-->

		<!-- Safari -->

		<!--
		<browser name="Safari on Mac" browser="*safari /Applications/Safari.app/Contents/MacOS/Safari" host="localhost" port="4444" timeout="30000"/>
		<browser name="Safari on Windows XP" browser="**custom C:\Program Files\Safari\Safari.exe -url" host="localhost" port="4444" timeout="30000"/>
		-->
	</selenium>
</phpunit>