@import "skins/shared/color";

@mixin insights-red-dot {
	.insights-red-dot {
		background-color: $color-buttons;
		border-radius: 12px;
		color: $color-button-text;
		font-size: 10px;
		font-weight: bold;
		height: 12px;
		left: 0;
		line-height: 17px;
		min-width: 16px;
		padding-bottom: 4px;
		position: absolute;
		text-align: center;
		top: 10px;

		&.highlighted {
			background-color: #ed1c24;
		}

		.insights-red-dot-count {
			min-width: 12px;
			padding: 0 3px;
		}
	}
}
