@mixin insights-icons-dark {
	.insights-icon-flags {
		background-image: url('/extensions/wikia/InsightsV2/images/flags_dark.svg'); /* inline */
	}

	.insights-icon-uncategorizedpages {
		background-image: url('/extensions/wikia/InsightsV2/images/uncategorized_dark.svg'); /* inline */
	}

	.insights-icon-withoutimages {
		background-image: url('/extensions/wikia/InsightsV2/images/withoutimages_dark.svg'); /* inline */
	}

	.insights-icon-deadendpages {
		background-image: url('/extensions/wikia/InsightsV2/images/deadendpages_dark.svg'); /* inline */
	}

	.insights-icon-wantedpages {
		background-image: url('/extensions/wikia/InsightsV2/images/wantedpages_dark.svg'); /* inline */
	}

	.insights-icon-popularpages {
		background-image: url('/extensions/wikia/InsightsV2/images/trending_dark.svg'); /* inline */
	}

	.insights-icon-nonportableinfoboxes,
	.insights-icon-pageswithoutinfobox,
	.insights-icon-templateswithouttype {
		background-image: url('/extensions/wikia/InsightsV2/images/genericinsights_dark.svg'); /* inline */
	}
}

@mixin insights-icons-light {
	.insights-icon-flags {
		background-image: url('/extensions/wikia/InsightsV2/images/flags.svg'); /* inline */
	}

	.insights-icon-uncategorizedpages {
		background-image: url('/extensions/wikia/InsightsV2/images/uncategorized.svg'); /* inline */
	}

	.insights-icon-withoutimages {
		background-image: url('/extensions/wikia/InsightsV2/images/withoutimages.svg'); /* inline */
	}

	.insights-icon-deadendpages {
		background-image: url('/extensions/wikia/InsightsV2/images/deadendpages.svg'); /* inline */
	}

	.insights-icon-wantedpages {
		background-image: url('/extensions/wikia/InsightsV2/images/wantedpages.svg'); /* inline */
	}

	.insights-icon-popularpages {
		background-image: url('/extensions/wikia/InsightsV2/images/trending.svg'); /* inline */
	}

	.insights-icon-nonportableinfoboxes,
	.insights-icon-pageswithoutinfobox,
	.insights-icon-templateswithouttype {
		background-image: url('/extensions/wikia/InsightsV2/images/genericinsights.svg'); /* inline */
	}
}
