@import "../../../../skins/oasis/css/mixins/gradient";

@mixin hubs-vertical-coloring($color-wikiahome-hubcolor, $color-wikiahome-hubcolor-dark){
	$whitecolor: #fff;
	$color-wikiahome-hubiframe-background: #C7D1D9;

	.WikiaArticleCategories {
		display: none;
	}

	.WikiaFrameContainer {
		width: 777px;
		overflow: auto;
		margin: 0;
		padding: 0;
		background: $color-wikiahome-hubiframe-background;
		.header_image {
			background: $whitecolor;
		}
	}
	.WikiaFrame {
		background: $whitecolor;
		border: 3px solid $color-wikiahome-hubcolor;
		border-radius: 10px;
		margin: 30px auto;
		overflow: hidden;
		padding: 25px 42px 24px 42px;
		width: 484px;
		.button {
			display: block;
			font-weight: regular;
			font-size: 15px;
			padding: 11px 20px 2px;
			margin: 10px auto 10px auto;
			height: 30px;
			width: 128px;
			text-align: center;
			@include linear-gradient($color-wikiahome-hubcolor-dark, top, $color-wikiahome-hubcolor, 35%, $color-wikiahome-hubcolor-dark, 65%);
			border: 1px solid $color-wikiahome-hubcolor;
			/*
			&:hover {
				@include linear-gradient($color-wikiahome-hubcolor, top, $color-wikiahome-hubcolor-dark, 35%, $color-wikiahome-hubcolor, 65%);
			}
			*/
		}
		.WikiaMosaicSlider {
			overflow: hidden;
			margin-bottom: 20px;
		}
		.wiki-images {
			margin: 10px 3px;
			overflow: hidden;
		}
		.links {
			height: 36px;
			margin-bottom: 25px;
			overflow:hidden;
			a {
				line-height: 18px;
				font-size: 13px;
				font-weight: 900;
				color: $color-wikiahome-hubcolor;
				float: right;
				clear: right;
			}


		}
	}
	.WikiaHubs {
		.wikiahubs-module {
			h1 {
				border-color: $color-wikiahome-hubcolor;
			}
		}
		.wikiahubs-explore {
			h2 {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
			}
			a {
				color: $color-wikiahome-hubcolor;
			}
		}
		.wikiahubs-pulse {
			h2 {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
				a {
					color: $color-wikiahome-hubcolor;
				}
			}
			.box {
				a {
					color: $color-wikiahome-hubcolor;
				}
			}
		}
		.wikiahubs-popular-videos {
			.title-wrapper {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
			}
			a {
				color: $color-wikiahome-hubcolor;
			}
			.button .chevron {
				border-color: transparent transparent transparent $color-wikiahome-hubcolor;
			}
			.button.left .chevron {
				border-color: transparent $color-wikiahome-hubcolor transparent transparent;
			}
		}
		.wikiahubs-featured-video {
			a {
				color: $color-wikiahome-hubcolor;
			}
		}
		.wikiahubs-top-wikis {
			h2 {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
			}
			a {
				color: $color-wikiahome-hubcolor;
			}
		}
		.wikiahubs-from-the-community {
			h2 {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
			}
			a {
				color: $color-wikiahome-hubcolor;
			}
		}
		.wikiahubs-newstabs {
			.title-wrapper {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
			}
			a {
				color: $color-wikiahome-hubcolor;
			}
		}
		.wikiahubs-wam .wam-content {
			.title {
				border-bottom: 4px solid $color-wikiahome-hubcolor;
				a {
					color: $color-wikiahome-hubcolor;
				}
				img {
					background-color: $color-wikiahome-hubcolor;
				}
			}
			.score-table {
				.rank {
					padding-left: 3px;
				}
				.url a {
					color: $color-wikiahome-hubcolor;
				}
			}
		}
	}
	.CorporateFooter {
		ul {
			li {
				a {
					color: $color-wikiahome-community;
				}
			}
		}
	}
	.wikiacorporatefooter {
		a {
			color: $color-wikiahome-community;
			&.wikia-button {
				color: $whitecolor;
			}
		}

	}
	.start-a-wiki {
		border-left: 1px solid mix($color-header-text, $color-header, 20%);
	}
	&.wkMobile {
		.WikiaHubs {
			h2 {
				border-left-color: $color-wikiahome-hubcolor;
				border-bottom: 0;
			}
			.title-wrapper {
				border-bottom: 0;			
			}
			a {
				color: #006CB0;
			}
		}
	}
	.WikiaSearch .wikia-button {
		@include linear-gradient($color-wikiahome-hubcolor-dark, top, $color-wikiahome-hubcolor, 35%, $color-wikiahome-hubcolor-dark, 65%);
		border-color: $color-wikiahome-hubcolor-dark;
	}
	.wikiahubs-module h2 {
		border-color: $color-wikiahome-hubcolor;
	}
}

.WikiaHubsVideoGames {
	$color-wikiahome-hubcolor: $color-wikiahome-videogames;
	$color-wikiahome-hubcolor-dark: $color-wikiahome-videogames-dark;
	@include hubs-vertical-coloring($color-wikiahome-hubcolor,$color-wikiahome-hubcolor-dark);
}

.WikiaHubsEntertainment {
	$color-wikiahome-hubcolor: $color-wikiahome-entertainment;
	$color-wikiahome-hubcolor-dark: $color-wikiahome-entertainment-dark;
	@include hubs-vertical-coloring($color-wikiahome-hubcolor,$color-wikiahome-hubcolor-dark);
}

.WikiaHubsLifestyle {
	$color-wikiahome-hubcolor: $color-wikiahome-lifestyle;
	$color-wikiahome-hubcolor-dark: $color-wikiahome-lifestyle-dark;
	@include hubs-vertical-coloring($color-wikiahome-hubcolor,$color-wikiahome-hubcolor-dark);
}
