.wikiahubs-wam {
	.social-links {
		float: left;
		a {
			display: block;
			float: left;
			padding: 10px;
		}
		a:first-child {
			padding-left: 0;
		}
		img {
			height: 20px;
			width: 20px;
		}
		.facebook {
			background-image: url("/extensions/wikia/WikiaHubsV2/images/fb.png"); /* base64 */
		}
		.twitter {
			background-image: url("/extensions/wikia/WikiaHubsV2/images/twitter.png"); /* base64 */
		}
		.gplus {
			background-image: url("/extensions/wikia/WikiaHubsV2/images/gplus.png"); /* base64 */
		}
	}
	div.search {
		float: right;
		margin-top: 8px;
	}
	.wam-content {
		clear: both;
	}
}