.wikiahubs-wam {
	.social-links {
		float: left;
		a {
			display: block;
			float: left;
			padding: 10px;
		}
		a:first-child {
			padding-left: 0;
		}
		img {
			height: 20px;
			width: 20px;
		}
		.facebook {
			background-image: url("/extensions/wikia/WikiaHubsV2/images/fb.png"); /* base64 */
		}
		.twitter {
			background-image: url("/extensions/wikia/WikiaHubsV2/images/twitter.png"); /* base64 */
		}
		.gplus {
			background-image: url("/extensions/wikia/WikiaHubsV2/images/gplus.png"); /* base64 */
		}
	}
	div.search {
		float: right;
		margin-top: 8px;
	}
	.wam-content {
		clear: both;
		.title {
			height: 25px;
			a {
				float: right;
			}
		}
		h2 {
			border: none;
			float: left;
		}
		h3 {
			clear: both;
			font-weight: bold;
		}
		table {
			border-collapse: collapse;
			width: 100%;
		}
		tr {
			border-bottom: 1px solid #eaeaea;
		}
		td {
		}
	}
}