<aside class="article-navigation">
	<ul>
		<li class="hidden">
			<span class="nav-icon toc" id="articleNavToc" title="{{tocTitle}}">&#xF001;</span>
		</li>
		<li>
			<span class="nav-icon edit" id="articleEditActions" title="{{editTitle}}">&#xF002;</span>
			{{{editActionsDropdown}}}
		</li>
		<li>
			<span class="nav-icon settings" id="articleNavSettings" title="{{toolsTitle}}" data-usertools="{{userTools}}">&#xF003;</span>
		</li>
		{{{share}}}
	</ul>
</aside>
