<li data-share-type="single">
	<span class="nav-icon share" id="articleNavShare">&#xF004;</span>
</li>
{{#services}}
<li data-share-type="multiple">
    <span class="nav-icon share-{{name}}" id="articleNavShare{{name_cased}}">
        <a class="share-link" href="{{{full_url}}}" target="_blank" title="{{title}}" data-share-name="{{name}}">{{{icon}}}</a>
    </span>
</li>
{{/services}}
