<li class="single-share">
	<span class="nav-icon share" id="articleShareActions" title="{{shareTitle}}">&#xF004;</span>
	{{{dropdown}}}
</li>
{{#services}}
<li class="multiple-share">
	<span class="nav-icon share-{{name}}" id="articleShareAction{{nameCased}}">
		<a class="share-link" href="{{{href}}}" target="_blank" title="{{title}}" data-share-name="{{name}}">{{{icon}}}</a>
	</span>
</li>
{{/services}}
