<nav class="article-navigation {{share_type}}-share">
	<ul>
		<li>
			<span class="nav-icon toc" id="articleNavToc">&#xF001;</span>
		</li>
		<li>
			<span class="nav-icon edit" id="articleNavEdit">&#xF002;</span>
		</li>
		<li>
			<span class="nav-icon settings" id="articleNavSettings">&#xF003;</span>
		</li>
		<li>
			<span class="nav-icon share" id="leftNavShare">&#xF006;</span>
		</li>
        {{{share}}}
	</ul>
</nav>
