<nav class="article-navigation">
	<ul>
		<li>
			<span class="nav-icon toc" id="leftNavToc">&#xF000;</span>
		</li>
		<li>
			<span class="nav-icon edit" id="leftNavEdit">&#xF001;</span>
		</li>
		<li>
			<span class="nav-icon settings" id="leftNavSettings">&#xF002;</span>
		</li>
		<li>
			<span class="nav-icon share" id="leftNavShare">&#xF006;</span>
		</li>
	</ul>
</nav>
