@import "skins/oasis/css/mixins/opacity";
@import "skins/oasis/css/mixins/arrow";

@mixin play-button {

	// Default case is .medium

	// Background circle
	.play-circle {
		@include opacity( 50 );
		background: black;
		border: 1px solid #FFF;
		border-radius: 100px;
		display: block;
		height: 50px;
		margin: -25px 0 0 -25px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50px;
	}

	// Arrow container
	.play-arrow {
		height: 30px;
		display: block;
		left: 50%;
		margin: -11px 0 0 -4px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		width: 25px;
	}

	// Arrow is a rotated square that's cut in half
	.play-arrow:after {
		background: white;
		border-radius: 2px;
		content: "";
		display: block;
		height: 20px;
		margin: 2px 0 0 -10px;
		width: 20px;
		-webkit-transform: rotate( 35deg ) skewX( -15deg );  /* Safari and Chrome */
		-ms-transform: rotate( 35deg ) skewX( -15deg ); /* IE 9 */
		-o-transform: rotate( 35deg ) skewX( -15deg ); /* Opera */
		-moz-transform: rotate( 35deg ) skewX( -15deg ); /* Firefox */
	}

	// small sizes are 70% of medium
	&.small {
		.play-circle{
			height: 35px;
			margin: -17.5px 0 0 -17.5px;
			width: 35px;
		}
		.play-arrow {
			height: 21px;
			margin: -7.5px 0 0 -2.5px;
			width: 17.5px;
		}
		.play-arrow:after {
			height: 14px;
			margin: 2px 0 0 -7px;
			width: 14px;
		}
	}

	&.large {
		.play-circle{

		}
		.play-arrow {

		}
		.play-arrow:after {

		}
	}

	&.xlarge {
		.play-circle{

		}
		.play-arrow {

		}
		.play-arrow:after {

		}
	}

	&:hover {
		.play-circle {
			@include opacity( 70 );
		}
	}
}