<figure class="wikia-interactive-map-thumbnail"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /><figcaption><p>{{map.title}}</p>{{^map.mobile}}<span><img src="{{avatarUrl}}" alt="{{created_by}}" width="20" height="20" />{{created_by}}</span>{{/map.mobile}}<a {{#map.mobile}}href="{{map.href}}"{{/map.mobile}} data-map-id="{{map.id}}" data-map-title="{{map.title}}" data-map-url="{{map.url}}">{{view}}</a></figcaption></figure>
