<section class="wikia-interactive-maps {{^hasMaps}}no-maps{{/hasMaps}}">
	{{#renderControls}}
	<nav class="maps-controls">
		{{{searchInput}}}
		{{#hasMaps}}
			<button id="createMap">{{messages.create-a-map}}</button>
			<select id="orderMapList">
				{{#sortingOptions}}
					<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
				{{/sortingOptions}}
			</select>
		{{/hasMaps}}
	</nav>
	{{/renderControls}}

	{{#renderTitle}}
	<h2>{{messages.title}}</h2>
	{{/renderTitle}}

	{{#hasMaps}}
	<ul class="map-list">
		{{#maps}}
		<li>
			<a href="{{baseUrl}}/{{id}}">
				<img src="{{image}}" alt="{{title}}" height="{{mapThumbHeight}}" width="{{mapThumbWidth}}"/>
				<h3>{{title}}</h3>
			</a>
		</li>
		{{/maps}}
	</ul>
	{{{pagination}}}
	{{/hasMaps}}

	{{^hasMaps}}
	<h3>{{messages.no-maps-header}}</h3>
	<p>{{messages.no-maps-text}} <a href="{{learnMoreUrl}}" target="_blank" title="{{messages.no-maps-learn-more}}">{{messages.no-maps-learn-more}}</a></p>

	{{#renderControls}}
	<button class="big" id="createMap">{{messages.create-a-map}}</button>
	{{/renderControls}}

	{{/hasMaps}}

</section>
