<figure class="wikia-interactive-map-thumbnail"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /><figcaption><p>{{map.title}}</p><span><img src="{{avatarUrl}}" alt="{{created_by}}" width="20" height="20" />{{created_by}}</span><a data-map-id="{{map.id}}" data-map-url="{{map.url}}">{{view}}</a></figcaption></figure>
