<figure class="wikia-interactive-map-thumbnail"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /><figcaption><strong>{{map.title}}</strong><span>Last edit by Lorem ipsum</span><a data-map-id="{{map.id}}" data-map-url="{{map.url}}">View Map</a></figcaption></figure>