@import 'skins/shared/color';
@import '../components/variables';

$logo-url: '/extensions/wikia/DesignSystem/bower_components/design-system/dist/svg/wds-company-logo-fandom-heart.svg';

$button-height: 46px;
$logo-size: 30px;
$logo-border-radius: $logo-size / 2;

.WikiaRail {
	// override default .WikiaRail .module styles
	.module {
		position: relative;

		&.community-page-entry-point-module {
			padding-top: $content-spacing-xxlarge;
		}
	}
}

.community-page-entry-point-module {
	font-family: $community-page-font-family;
	font-size: $wds-typescale-size-base;
	line-height: $module-default-line-height;
	margin-top: $content-spacing-regular;
	position: relative;
	text-align: center;

	.community-page-entry-point-logo {
		background: $wds-color-white url($logo-url) 50% 50%/18px 18px no-repeat; /* inline */
		border: 1px solid $color-page-border;
		border-radius: $logo-border-radius;
		box-sizing: border-box;
		height: $logo-size;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-50%, -40%);
		width: $logo-size;
	}

	.community-page-entry-point-button {
		background: $color-buttons;
		color: $color-button-text;
		display: inline-block;
		font-size: $wds-typescale-size-minus-2;
		font-weight: bold;
		height: $button-height;
		line-height: $button-height;
		margin: $content-spacing-small-plus 0;
		padding: 0 $content-spacing-xlarge;
		text-decoration: none;
		text-transform: uppercase;

		&:hover, &:active {
			background-color: $color-button-highlight;
			text-decoration: none;
		}
	}

	.community-page-entry-point-description {
		white-space: pre-line; // Respect linebreaks

		b {
			font-size: $wds-typescale-size-plus-1;
			&:before { content: '\A'; } // Add a linebreak before bolded text
		}

	}
}

@media #{$breakpoint-below-small-plus} {
	.WikiaRail {
		padding-top: $content-spacing-regular;
	}

	.community-page-entry-point-module {
		margin-top: 0;
	}
}
