@import "skins/shared/color";

$black: #000;
$white: #FFF;
$color-divider: #E6EBF2;
$color-rail-background: mix($color-page, $black, 90%);
@if $is-dark-wiki {
    $color-rail-background: mix($color-page, $white, 90%);
}


@mixin wikia-rail-element() {
    background-color: $color-rail-background;
    padding: 20px;

    zoom: 1;
    margin-bottom: 10px;
    position: relative;
    word-wrap: break-word;
}

.wikia-rail {

    float: right;
    overflow: hidden;
    padding: 0 10px 10px 0;
    width: 300px;

    .WikiaActivityModule {

        @include wikia-rail-element;
        font-size: 12px;
        font-weight: bold;

        a {
            color: $color-links-default;
        }

        a:hover {
            color: $color-links-default;
            text-decoration: underline;
            text-shadow: initial;
        }

        .activity-heading {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 0;
        }

        li em a {
            font-size: 16px;
            font-weight: bold;
            margin-top: 20px;
        }

        .more {
            float: right;
            font-size: 12px;
            font-weight: bold;
            margin-top: 30px;
            text-transform: uppercase;
        }

        .edited-by {
            font-size: 12px;
            font-weight: normal;
            margin-top: 10px;

            a {
                font-size: 12px;
            }
        }

        .sprite {
            left: 3px;
            position: absolute;
            top: 8px;
        }
    }

    .videos-module-rail {

        @include wikia-rail-element;

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .video-thumbnail img {
            margin-top: 16px;
        }

        .thumbnails {

            a:first-of-type {
                color: $color-links;
                margin-bottom: 10px;
            }

            a:first-of-type:hover {
                color: $color-links;
                text-decoration: underline;
                text-shadow: initial;
            }

            .title {
                font-size: 12px;

                a {
                    margin: 0;
                }
            }
        }
    }

    &.new-chat {
        .ChatModule {

            @include wikia-rail-element;

            p {
                color: mix($color-text, $color-page, 60%);
                font-size: 12px;
            }

            .chat-headline {

                .chat-live {
                    color: $color-text;
                    font-size: 18px;
                    font-weight: bold;
                }

                .chat-total {
                    background-color: $color-rail-background;
                    border: 1px solid;
                    border-radius: 50%;
                    font-size: 10px;
                    height: 12px;
                    margin: -5px 0 0 3px;
                    padding: 2px;
                    text-align: center;
                    width: 12px;
                }
            }

            .chat-join {
                height: 42px;

                button {
                    background-image: none;
                    border: 0;
                    border-radius: 0;
                    color: $white;
                    height: 100%;
                    text-transform: uppercase;
                }

                button:before {
                    display: none;
                }
            }

            a:hover {
                text-decoration: none;
            }

            .avatar {
                background-position: 50%;
                border-radius: 50%;
                height: 30px;
                margin-right: 14px;
                width: 30px;
            }

            .avatar:hover {
                opacity: 1;
            }

            .chat-whos-here {
                border: 0;
                margin: 20px 0;
                padding: 0;

                .arrow-left {
                    padding-left: 0;

                    img {
                        border-color: transparent;
                        border-right-color: $color-links;
                    }
                }

                .arrow-right {
                    padding-right: 0;

                    img {
                        border-color: transparent;
                        border-left-color: $color-links;
                    }
                }

                .arrow-left .disabled, .arrow-right .disabled {
                    color: mix($color-links, $color-page, 30%);
                    cursor: pointer;
                    opacity: .5;
                }

                .carousel-container {
                    left: 16px;
                    width: 260px;

                    li {
                        width: 32px;
                    }
                }

                .UserStatsMenu {
                    border: $white solid 2px;

                    .actions ul {
                        margin: 0;

                        li:hover {
                            background-color: $color-buttons;
                        }

                        li {
                            border-bottom: $color-divider solid thin;
                            cursor: pointer;
                            height: 44px;
                            margin: 0;
                            white-space: nowrap;

                            .label {
                                color: mix($color-text, $color-links, 80%);
                                line-height: 44px;
                                padding-left: 10px;
                            }
                        }
                    }

                    .info {
                        background: mix($color-text, $color-links, 80%);
                        padding: 10px;

                        ul .username {
                            font-weight: bold;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
