/* RailElement class*/
.WikiaRail .recent-wiki-activity {
	padding: 20px;
	font-size: 12px;
	font-weight: bold;

	.activity-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
	}
	
	li em a {
		font-size: 16px;
		font-weight: bold;
		margin-top: 20px;
	}

	.more {
        font-size: 12px;
        margin-top: 30px;
        text-transform: uppercase;
	}

    .edited-by {
        font-size: 12px;
        font-weight: normal;
        margin-top: 10px;

        a {
            font-size: 12px;
        }
    }
}


