.cleared {
	clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.blast-friends-list {
}

#blast-friends-list div.blast-friend-selected, #blast-friends-list div.blast-foe-selected {
	background-color:#FFFCA9;
	border:1px solid #FDC745;
	color:#002BB8;
	font-weight:bold;
	padding:3px;
	overflow:hidden;
	margin:0px 3px 3px 0px;
	float:left;
	cursor:pointer;
	width:200px;
	overflow:hidden;
	font-weight:bold;
	padding:4px;
	height:17px;
}

#blast-friends-list div.blast-friend-unselected, #blast-friends-list div.blast-foe-unselected {
	border:1px solid #dcdcdc;
	color:#285C98;
	font-weight:bold;
	padding:3px;
	overflow:hidden;
	margin:0px 3px 3px 0px;
	float:left;
	cursor:pointer;
	width:200px;
	overflow:hidden;
	font-weight:bold;
	padding:4px;
	height:17px;
}

.board-blast-message-form {
	margin:8px 0px 0px 0px;
}

.blast-nav {
	margin:0px 0px 12px 0px;
	font-size:12px;
}

.blast-nav a {
	color:#999999;
}

.blast-nav-text {
	margin:0px 0px 5px 0px;
}

.blast-message-box-button {
	padding:10px 0px 0px 0px;
}

.blast-message-text {
	color:#999999;
	font-weight:bold;
	font-size:12px;
	margin:0px 0px 3px 0px;
}

.board-blast-message-form h2 {
	color:#333333;
	margin:0px 0px 10px 0px !important;
}

.blast-nav h2 {
	color:#333333;
	margin:15px 0px 10px 0px !important;
}
