/* FILE: ShareFeature.css */

#shareFeatureInside {
        padding: 10px !important;
}

#shareFeatureInside ul {
	margin-left: 6px;
}

#shareFeatureInside li {
	padding: 4px 4px 4px 0px;
}

#shareFeatureInside img {
        padding: 0 6px;
}

#sf_providers div {
        background-image: url(http://images.wikia.com/common/extensions/wikia/ShareFeature/images/share_sprite.png);
        clip: rect(0px, 0px, 0px, 0px);
        height: 16px;
        margin: 8px 2px 0 0;
        position: absolute;
        width: 128px;
	top: -3px;
}
#sf_providers li {
        margin-right: 12px;
        padding-left: 24px;
        position: relative;
}
#sf_provider_myspace div {
        clip: rect(0px 128px 16px 112px );
        left: -112px;
}
#sf_provider_slashdot div {
        clip: rect(0px 32px 16px 16px );
        left: -16px;
}
#sf_provider_technorati div {
        clip: rect(0px 112px 16px 96px );
        left: -96px;
}
#sf_provider_stumbleupon div {
        clip: rect(0px 96px 16px 80px );
        left: -80px;
}
#sf_provider_digg div {
        clip: rect(0px 48px 16px 32px );
        left: -32px;
}
#sf_provider_twitter div {
        clip: rect(0px 16px 16px 0px );
        left: 0px;
}
#sf_provider_facebook div {
        clip: rect(0px 80px 16px 64px );
        left: -64px;
}
#sf_provider_reddit div {
        clip: rect(0px 64px 16px 48px );
        left: -48px;
}
