@import 'skins/shared/color';

// style according to Proposition 1
// https://wikia-inc.atlassian.net/wiki/spaces/DE/pages/553156730/Design+-+Admin+Analytics+Dashboard
// white background, black fonts, Fandom-style links, community/wiki's color only table headers
// use set Fandom colors from here: https://fandomdesignsystem.com/base-styles/colors
$font-bright: #fff;
$font-medium: #5f7a7b;
$color-card-background: $color-white;
$color-community: $color-community-header;

// FANDOM color palette
$lead-aqua: #00D6D6;
$green-navy: #002A32;
$accent-grey: #bed1cf;
$fandom-link-color: #088488;
$fandom-link-hover-color: #005252;

#analytics_wrapper {
	padding: 10px;
	border-radius: 5px;
}

#analytics_grid {
	align-items: stretch;
	display: grid;
	grid-gap: 30px;
	font-size: 14px;
}
// Lil Ole Baby Screens, also when the sidebar in hydra collapses.
@media screen and (max-width: 800px) {
	#analytics_grid { 
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
		grid-template-areas:
		"number_of_pageviews"
		"geolocation"
		"top_viewed_mediawiki_pages"
		"most_visited_files"
		"desktop_vs_mobile"
		"browser_breakdown"
		"edits_per_day"
		"logged_in_out"
		"top_editors"
		"active_editors"
		"top_search_terms";
	}
}

@media screen and (min-width: 801px) {
	#analytics_grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto auto;
		grid-template-areas:
		"number_of_pageviews number_of_pageviews"
		"top_search_terms  geolocation"
		"top_viewed_mediawiki_pages	 most_visited_files"
		"desktop_vs_mobile	 browser_breakdown	"
		"edits_per_day		 logged_in_out"
		"top_editors 		 active_editors";
	}
}

#analytics_grid.usage_grid { 
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"admin_count       active_admin_count admin_views"
		"admin_count_graph admin_count_graph  admin_views"
}

#analytics_grid * ul, #analytics_grid * ol {
	margin: 0;
	padding: 0.3em 0 0 1.6em;
}

.grid_box_header {
	background-color: $color-community;
	color: $font-bright;
	font-weight: bolder;
	border-radius: 4px 4px 0 0;
	display: block;
	font-size: 1em;
	line-height: 2.5em;
	letter-spacing: 1px;
	width: 100%;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

.last30 {
	font-style: italic;
	display: block;
	font-size: 12px;
	padding: 5px;
	color: $font-medium;
}

.analytics_table {
	width: 100%;
	border-collapse: collapse;
}

.analytics_table thead tr {
	border-bottom: 1px solid black;
}

.analytics_table th {
	color: black;
	text-align: left;
	padding: 5px;
}

.analytics_table td {
	padding: 3px 5px;
}

.analytics_table tbody tr {
	border-bottom: 1px solid $accent-grey;
	padding-bottom: 5px;
}

.analytics_table td:nth-child(1) {
	color: black;
	// make links fit fandom branding instead of being wiki-specific
	a:any-link {
		text-decoration: none;
		color: $fandom-link-color;
	}
	a:hover {
		color: $fandom-link-hover-color;
	}
}

.analytics_table td:nth-child(2) {
	color: black;
}
#analytics_header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#analytics_header > #analytics_usage {
	display: flex;
	flex: 1 1 auto;
}

#analytics_header > #analytics_report_time {
	display: flex;
	flex: 0 1 auto;
}

#analytics_confidential_header {
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

#analytics_confidential {
	border: 2px solid $color-community;
	background-color: $color-community;
	color: $font-bright;
	font-size: 1.0em;
	letter-spacing: 1px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 4px 4px 4px 4px;
}

.grid_box {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.grid_box_inner {
	background-color: $color-card-background;
	padding: 5px;
	position: relative;
}

.grid_box_chart {
	background-color: $color-card-background;
	flex: 1 0 300px;
	padding: 5px;
	position: relative;
}

.grid_box_largetext {
	font-size: 3em;
	text-align: center;
	margin: 15px 0;
}

.chart-footer {
	background-color: $color-card-background;
	color: black;
}

/* Remove license footer when on Special:Analytics */
body.mw-special-Analytics .license-description {
	display:  none;
}

