@import "skins/shared/color";
@import "color";

.ve-ui-wikiaOrientationDialog {
	.oo-ui-window-head {
		border-bottom-width: 0;
	}
	.oo-ui-window-body {
		bottom: 0;
		box-shadow: none;
		top: 59px;
	}
	.oo-ui-window-foot {
		display: none;
	}
	.ve-ui-wikiaOrientationDialog-content {
		margin-top: 4px;
	}
	.ve-ui-wikiaOrientationDialog-image {
		background: url(/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/pencil.png) no-repeat;
		float: left;
		height: 160px;
		margin-left: 38px;
		margin-right: 18px;
		width: 73px;
	}
	.ve-ui-wikiaOrientationDialog-headline {
		font-size: 2.35em;
		margin-bottom: 0.2em;
		text-transform: uppercase;
	}
	.ve-ui-wikiaOrientationDialog-text {
		font-size: 1.4em;
		line-height: 1.45em;
		margin-bottom: 1.15em;
		width: 460px;
	}
	.oo-ui-buttonedElement-framed.oo-ui-flaggableElement-primary .oo-ui-buttonedElement-button {
		font-size: 14px;
		font-weight: bold;
		height: 35px;
		line-height: 35px;
		padding: 0 14px;
	}
}
