@import "skins/shared/color";

.oo-ui-barToolGroup {
	.oo-ui-tool-name-wikiaMediaInsert {
		padding-left: .5em;
		padding-right: .5em;
		width: auto;

		.oo-ui-iconedElement-icon {
			display: inline-block;
			margin-right: .3em;
			vertical-align: middle;
		}

		.oo-ui-labeledElement-label {
			display: inline;
			font-size: .8em;
			vertical-align: middle;
		}

		.oo-ui-tool-link:hover {
			text-decoration: none;
		}

		.oo-ui-tool-title {
			display: inline;
		}
	}
}

.oo-ui-toolGroup .oo-ui-tool .oo-ui-labeledElement-label {
	color: $color-text;
}
