/*
 * It is not known how many specific style changes will be necessary for Venus, for for now, all changes are here.
 * This file loads after the Wikia VE SCSS so selectors of the same specificity here will win.
 */

.oo-ui-frame-html {
	box-sizing: content-box;
}

.ve-ce-documentNode {
	padding-top: 20px;
	overflow: visible;
}

.ve-init-mw-viewPageTarget-toolbar {
	margin-left: 0;
	margin-right: 0;
}

.oo-ui-toolbar-bar {
	background-image: none;
}

.oo-ui-toolbar-shadow {
	display: none;
}