/**
 * TEMPORARY SOLUTION
 *
 * This file should be removed once the UI Styleguide team implements these new modal styles universally in Oasis
 */

#UPPLightboxWrapper {
	@include linear-gradient($color-user-profile-gradient-bottom, top, $color-page, 0%, $color-user-profile-gradient-bottom, 35%); 
	.modalContent {
		margin: 0 0 20px 0;
	}	
	.modalToolbar {
		margin-top: 20px;
		padding: 0 20px;
	}
	.tab-content > li {
		background: $color-page;
		padding: 20px;
	}
}