/**
 * TEMPORARY SOLUTION
 *
 * This file should be removed once the UI Styleguide team implements these new tab styles universally in Oasis
 */

$color-tab: desaturate($color-menu-highlight, 20%);

/* Un-do some current styling from skins/oasis/css/core/_tabs.scss */
.WikiaUserPagesHeader, #UPPLightboxWrapper {
	.tabs {
		border-bottom: none;
		li {
			a {
				@include border-radius(0px);
				background-image: none;
				margin-top: 0;
			}
		}
		.selected {
			a {
				background-image: none;
				padding: 8px 20px 8px;
			}
		}
		.chevron {
			display: none;
		}
	}
}

/* New styling */
.WikiaUserPagesHeader, #UPPLightboxWrapper {
	.tabs {
		border-bottom: 1px solid $color-page;
		padding-left: 15px;
		li {
			a {
				background: $color-tab;
				color: $color-links;
				display: inline-block;
				font-size: 14px;
				min-width: 80px;
				padding: 8px 20px 8px;
				text-align: center;
			}
		}
		.selected {
			@include box-shadow(2px, 0, 2px, rgba(0,0,0,.15));
			z-index: 1;
			a {
				background: $color-page;
				color: $color-text;
			}
		}
	}
	/* Modal tabs are smaller */
	&.modalWrapper .tabs {
		li {
			a {
				font-size: 12px;
				min-width: 40px;
				padding: 2px 20px 2px;
			}
		}
	}
}