@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/responsive-variables";
@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/box-sizing-border-box";

.UPPLightbox {

	.tab-content {
		padding-top: 20px;

		li {
			border: none;
		}
	}

	.input-group {
		float: none;
		position: relative;

		input[type="text"],
		.favorite-wikis {
			@include box-sizing-border-box;
			width: 100%;
		}
	}

	img.avatar {
		display: block;
		float: left;
		margin-right: 60px;
	}

	.sample-avatars {
		overflow: hidden;

		li {
			float: left;
			margin: 0 10px 10px 0;

		}
	}

	.tweet-at {
		font-family: 'Lucida Grande', sans-serif;
		left: 15px;
		position: absolute;
		top: 35px;

		+ input[type="text"] {
			padding-left: 20px;
		}
	}

	.favorite-wikis {
		@include clearfix;
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		border: 1px solid $color-page-border;
		margin-bottom: 5px;
		padding: 3px;

		+ label {
			text-align: right;
		}

		li {
			background: mix($color-page, $color-text, 92%);
			border-radius: 5px;
			float: left;
			font-size: 12px;
			line-height: normal;
			margin: 3px;
			max-width: 225px;
			padding: 0 20px 0 5px;
			position: relative;
			&.join-more-wikis {
				background: transparent;
				border: 1px solid $color-page-border;
				color: $color-alternate-text;
			}
		}
		span {
			display: inline-block;
			line-height: 20px;
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.delete {
			cursor: pointer;
			position: absolute;
			right: 3px;
			top: 3px;
		}
	}
	.favorite-wikis-refresh {
		background-color: $color-buttons;
		position: absolute;
		bottom: 10px;

		img {
			background: url(/extensions/wikia/UserProfilePageV3/images/icon-return.png); /* $wgCdnStylePath */
			height: 12px;
			width: 14px;		
		}
	}
	
	#facebookPage a {
		display: block;
		font-size: 11px;
		line-height: 11px;
		text-align: right;
		width: 260px;
	}

	@media screen and (max-width: $breakpoint-min) {

		// prevent layout errors while 'connect with facebook' button is loading
		.avatar-options {
			overflow: hidden;
			width: 248px;
		}

		input[type="file"] {
			width: 230px;
		}
	}
}
