{{#error}}
<p class="error">{{{error}}}</p>
{{/error}}
{{^error}}
<p>{{{introText}}}</p>
{{/error}}

{{#showForm}}
<form method="POST" name="CloseMyAccountForm" id="CloseMyAccountForm" class="CloseMyAccountForm">
	<input type="hidden" name="token" value="{{editToken}}" />
	{{{submitButton}}}
</form>
{{/showForm}}
