<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VisualEditor Example</title>

<!-- STYLES -->

		<!-- example styles -->
		<style>
			body {
				margin: 0;
				padding: 0;
				overflow-y: scroll;
				background: #fff;
				font: normal 1em/1.5 sans-serif;
			}
		</style>
	</head>
	<body>
<!-- SCRIPTS -->

		<!-- example scripts -->
		<script>
			// Ensure ve.init.platform exists for use in examples
			var platform = new ve.init.sa.Platform( ve.messagePaths ).initialize();

			function loadInlineExample( code, options, callback ) {
				platform.done( function () {
					try {
						eval( code );
						callback && callback( true );
					} catch (e) {
						document.body.appendChild( document.createTextNode( e ) );
						callback && callback( false, e );
					}
				} );
			}
		</script>
	</body>
</html>
