# Wikia .editorconfig
# Download the plugin for your editor/IDE of choice from http://editorconfig.org/#download
root = true

[**.js]
indent_style = tab
indent_size = tab
end_of_line = lf
charset = utf8
trim_trailing_whitespace = true
insert_final_newline = true

# tab_width = SET INDIVIDUALLY

# VIM only features
max_line_length = 120
