/.komodotools
/mediawiki-1.19.komodoproject
/nbproject
/.project
/.settings
/wikia-trunk.komodoproject
/Wikia (trunk).esproj
/.idea
/.tags
/.tags_sorted_by_file
/mysql-connector-java-5.1.18-bin.jar
/mysql-connector-license.txt
.DS_Store
