# Defines per-directory code ownership to help selecting reviewers
# @see https://github.com/blog/2392-introducing-code-owners

#
# The Sustaining Team
#
extensions/3rdparty/RSS/*		@Wikia/sus 
extensions/AbuseFilter/*		@Wikia/sus
extensions/Arrays/*		@Wikia/sus 
extensions/Autoincrement/*		@Wikia/sus 
extensions/CategoryIntersection/*		@Wikia/sus 
extensions/CategoryTree/*		@Wikia/sus 
extensions/CharInsert/*		@Wikia/sus 
extensions/Cite/*		@Wikia/sus 
extensions/cldr/*		@Wikia/sus 
extensions/ConfirmEdit/*		@Wikia/sus 
extensions/CreateBox/*		@Wikia/sus 
extensions/DismissableSiteNotice/*		@Wikia/sus 
extensions/DPLforum/*		@Wikia/sus 
extensions/DynamicPageList/*		@Wikia/sus 
extensions/ExpandTemplates/*		@Wikia/sus 
extensions/FormatNum/*		@Wikia/sus 
extensions/Gadgets/*		@Wikia/sus 
extensions/GlobalUsage/*		@Wikia/sus 
extensions/HeaderTabs/*		@Wikia/sus 
extensions/ImageMap/*		@Wikia/sus 
extensions/InputBox/*		@Wikia/sus 
extensions/LabeledSectionTransclusion/*		@Wikia/sus 
extensions/Loops/*		@Wikia/sus 
extensions/Maps/*		@Wikia/sus 
extensions/Math/*		@Wikia/sus 
extensions/MultiUpload/*		@Wikia/sus 
extensions/Nuke/*		@Wikia/sus
extensions/NumberFormat/*		@Wikia/sus 
extensions/OAI/*		@Wikia/sus 
extensions/OggHandler/*		@Wikia/sus 
extensions/OpenGraphMeta/*		@Wikia/sus 
extensions/Oversight/*		@Wikia/sus 
extensions/PageBy/*		@Wikia/sus 
extensions/ParserFunctions/*		@Wikia/sus 
extensions/PdfHandler/*		@Wikia/sus 
extensions/Poem/*		@Wikia/sus 
extensions/PoolCounter/*		@Wikia/sus 
extensions/RandomImage/*		@Wikia/sus 
extensions/RandomInCategory/*		@Wikia/sus 
extensions/RandomRootPage/*		@Wikia/sus 
extensions/RefreshSpecial/*		@Wikia/sus 
extensions/RegexFun/*		@Wikia/sus 
extensions/Scribunto/*		@Wikia/sus 
extensions/SemanticMediaWiki/*		@Wikia/sus 
extensions/SpamBlacklist/*		@Wikia/sus 
extensions/SpamRegex/*		@Wikia/sus 
extensions/SyntaxHighlight_GeSHi/*		@Wikia/sus 
extensions/Tabber/*		@Wikia/sus 
extensions/timeline/*		@Wikia/sus 
extensions/TitleBlacklist/*		@Wikia/sus 
extensions/TitleKey/*		@Wikia/sus 
extensions/TorBlock/*		@Wikia/sus 
extensions/Variables/*		@Wikia/sus 
extensions/wikia/Blogs/*		@Wikia/sus 
extensions/wikia/Chat2/*		@Wikia/sus 
extensions/wikia/CreateNewWiki/*		@Wikia/sus 
extensions/wikia/FacebookClient/*		@Wikia/sus 
extensions/wikia/Forum/*		@Wikia/sus 
extensions/wikia/HAWelcome/*		@Wikia/sus 
extensions/wikia/ImageReview/*		@Wikia/sus 
extensions/wikia/Lightbox/*		@Wikia/sus 
extensions/wikia/MediaGallery/*		@Wikia/sus 
extensions/wikia/PhalanxII/*		@Wikia/sus 
extensions/wikia/RTE/*		@Wikia/sus 
extensions/wikia/Search/*		@Wikia/sus 
extensions/wikia/ThemeDesigner/*		@Wikia/sus 
extensions/wikia/UserProfilePageV3/*		@Wikia/sus 
extensions/wikia/UserRenameTool/*		@Wikia/sus 
extensions/wikia/VideoHandlers/*		@Wikia/sus 
extensions/wikia/Wall/*		@Wikia/sus 
extensions/wikia/WallNotifications/*		@Wikia/sus 
extensions/wikia/WikiFactory/*		@Wikia/sus 
# staff tools
extensions/AbuseFilter/*		@Wikia/sus 
extensions/wikia/CloseMyAccount/*		@Wikia/sus 
extensions/wikia/CoppaTool/*		@Wikia/sus 
extensions/wikia/DMCARequest/*		@Wikia/sus 
extensions/wikia/EditAccount/*		@Wikia/sus 
extensions/wikia/Listusers/*		@Wikia/sus 
extensions/wikia/LookupContribs/*		@Wikia/sus 
extensions/wikia/LookupUser/*		@Wikia/sus 
extensions/wikia/Piggyback/*		@Wikia/sus 
extensions/wikia/SiteWideMessages/*		@Wikia/sus 
extensions/wikia/SpecialContact2/*		@Wikia/sus 
extensions/wikia/SpecialMultipleLookup/*		@Wikia/sus 
extensions/wikia/SpecialProtectSite/*		@Wikia/sus 
extensions/wikia/StaffLog/*		@Wikia/sus 
extensions/wikia/WhereIsExtension/*		@Wikia/sus

# JS code
resources/Ace/*     @Wikia/core-team

#
# The Data Engineering team (aka DataEng) 
#
includes/wikia/api/CrossWikiArticlesApiController.class.php		@Wikia/dataeng
includes/wikia/api/DWDimensionApiController.class.php    @Wikia/dataeng
includes/wikia/api/DWDimensionApiControllerSQL.class.php    @Wikia/dataeng
extensions/wikia/DataWarehouse/*    @Wikia/dataeng
extensions/wikia/Hydralytics/*    @Wikia/dataeng
