# Defines per-directory code ownership to help selecting reviewers
# @see https://github.com/blog/2392-introducing-code-owners

# SUS team: @mixth-sense @TK-999 @macbre 
extensions/3rdparty/RSS/*		@mixth-sense @TK-999 @macbre 
extensions/AbuseFilter/*		@mixth-sense @TK-999 @macbre 
extensions/AntiBot/*		@mixth-sense @TK-999 @macbre 
extensions/ApiExplorer/*		@mixth-sense @TK-999 @macbre 
extensions/Arrays/*		@mixth-sense @TK-999 @macbre 
extensions/Autoincrement/*		@mixth-sense @TK-999 @macbre 
extensions/CategoryIntersection/*		@mixth-sense @TK-999 @macbre 
extensions/CategoryTree/*		@mixth-sense @TK-999 @macbre 
extensions/CharInsert/*		@mixth-sense @TK-999 @macbre 
extensions/Cite/*		@mixth-sense @TK-999 @macbre 
extensions/cldr/*		@mixth-sense @TK-999 @macbre 
extensions/ConfirmEdit/*		@mixth-sense @TK-999 @macbre 
extensions/CreateBox/*		@mixth-sense @TK-999 @macbre 
extensions/DismissableSiteNotice/*		@mixth-sense @TK-999 @macbre 
extensions/DPLforum/*		@mixth-sense @TK-999 @macbre 
extensions/DynamicPageList/*		@mixth-sense @TK-999 @macbre 
extensions/ExpandTemplates/*		@mixth-sense @TK-999 @macbre 
extensions/FormatNum/*		@mixth-sense @TK-999 @macbre 
extensions/Gadgets/*		@mixth-sense @TK-999 @macbre 
extensions/GlobalUsage/*		@mixth-sense @TK-999 @macbre 
extensions/HeaderTabs/*		@mixth-sense @TK-999 @macbre 
extensions/ImageMap/*		@mixth-sense @TK-999 @macbre 
extensions/InputBox/*		@mixth-sense @TK-999 @macbre 
extensions/LabeledSectionTransclusion/*		@mixth-sense @TK-999 @macbre 
extensions/Loops/*		@mixth-sense @TK-999 @macbre 
extensions/Maps/*		@mixth-sense @TK-999 @macbre 
extensions/Math/*		@mixth-sense @TK-999 @macbre 
extensions/MultiUpload/*		@mixth-sense @TK-999 @macbre 
extensions/NewestPages/*		@mixth-sense @TK-999 @macbre 
extensions/Nuke/*		@mixth-sense @TK-999 @macbre 
extensions/NumberFormat/*		@mixth-sense @TK-999 @macbre 
extensions/OAI/*		@mixth-sense @TK-999 @macbre 
extensions/OggHandler/*		@mixth-sense @TK-999 @macbre 
extensions/OpenGraphMeta/*		@mixth-sense @TK-999 @macbre 
extensions/Oversight/*		@mixth-sense @TK-999 @macbre 
extensions/PageBy/*		@mixth-sense @TK-999 @macbre 
extensions/ParserFunctions/*		@mixth-sense @TK-999 @macbre 
extensions/PdfHandler/*		@mixth-sense @TK-999 @macbre 
extensions/Poem/*		@mixth-sense @TK-999 @macbre 
extensions/PoolCounter/*		@mixth-sense @TK-999 @macbre 
extensions/RandomImage/*		@mixth-sense @TK-999 @macbre 
extensions/RandomInCategory/*		@mixth-sense @TK-999 @macbre 
extensions/RandomRootPage/*		@mixth-sense @TK-999 @macbre 
extensions/RefreshSpecial/*		@mixth-sense @TK-999 @macbre 
extensions/RegexFun/*		@mixth-sense @TK-999 @macbre 
extensions/Scribunto/*		@mixth-sense @TK-999 @macbre 
extensions/SemanticMediaWiki/*		@mixth-sense @TK-999 @macbre 
extensions/SpamBlacklist/*		@mixth-sense @TK-999 @macbre 
extensions/SpamRegex/*		@mixth-sense @TK-999 @macbre 
extensions/SyntaxHighlight_GeSHi/*		@mixth-sense @TK-999 @macbre 
extensions/Tabber/*		@mixth-sense @TK-999 @macbre 
extensions/timeline/*		@mixth-sense @TK-999 @macbre 
extensions/TitleBlacklist/*		@mixth-sense @TK-999 @macbre 
extensions/TitleKey/*		@mixth-sense @TK-999 @macbre 
extensions/TorBlock/*		@mixth-sense @TK-999 @macbre 
extensions/Variables/*		@mixth-sense @TK-999 @macbre 
extensions/VisualEditor/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/AchievementsII/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/AjaxPoll/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Answers/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/ArticleComments/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Blogs/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CategoryExhibition/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CategoryGalleries/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CategorySelect/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Chat2/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Chat2/nodejs/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CloseMyAccount/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CommunityPage/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/ContentReview/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CoppaTool/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CreateNewWiki/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/CuratedContent/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/DMCARequest/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/EditAccount/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/FacebookClient/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Forum/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/GlobalShortcuts/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/GoogleFormTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/HAWelcome/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/HubRssFeed/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/ImageReview/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/ImageServing/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/InfoboxBuilder/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/JsonFormat/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Lightbox/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Listusers/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/LookupContribs/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/LookupUser/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/MediaGallery/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/MiniEditor/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/MyHome/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/PageShare/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/PartnerFeed/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/PhalanxII/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Piggyback/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/POI/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/PolldaddyTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/PollSnackTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/PortableInfobox/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/RelatedPages/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/RTE/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Search/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SharedHelp/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SiteWideMessages/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SoundCloudTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SpecialContact2/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SpecialMultipleLookup/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SpecialProtectSite/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SpotifyTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/StaffLog/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/SwiftSync/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/TabView/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/TaskManager/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/TemplateClassification/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/ThemeDesigner/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/TwitterTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/UserProfilePageV3/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/UserRenameTool/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/VideoHandlers/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/VKTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/Wall/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WallNotifications/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WeiboTag/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WhereIsExtension/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiaHomePage/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiaHubsV3/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiaMaps/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiaMaps/nodejs/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiAnswers/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiaRSS/*		@mixth-sense @TK-999 @macbre 
extensions/wikia/WikiFactory/*		@mixth-sense @TK-999 @macbre 
extensions/wikihiero/*		@mixth-sense @TK-999 @macbre 
includes/wikia/services/usercommands/*		@mixth-sense @TK-999 @macbre 
