<tr class="flags-special-form-param">
	<td class="flags-special-form-param-name">
		<input type="text" class="flags-special-form-param-name-input" value="{{name}}" {{#disableName}}disabled{{/disableName}}>
	</td>
	<td class="flags-special-form-param-description">
		<input type="text" class="flags-special-form-param-description-input" value="{{description}}">
	</td>
</tr>
