<tr class="flags-special-form-param" data-id="{{id}}">
	<td class="flags-special-form-param-name">
		<input type="text" id="flags-special-form-param-name-{{id}}" value="{{name}}">
	</td>
	<td>
		<input type="text" id="flags-special-form-param-description-{{id}}" value="{{description}}">
	</td>
</tr>
