<tr class="flags-special-form-param" data-id="{{id}}">
	<td class="flags-special-form-param-name">
		<input type="text" class="flags-special-form-param-name-input" id="flags-special-form-param-name-{{id}}" value="{{name}}">
	</td>
	<td class="flags-special-form-param-description">
		<input type="text" class="flags-special-form-param-description-input" id="flags-special-form-param-description-{{id}}" value="{{description}}">
	</td>
</tr>
