<tr class="flags-special-item-new">
	<form>
		<td class="flags-special-item-new-name">
			<input type="text" placeholder="{{flags-special-create-form-name-placeholder}}">
		</td>
		<td class="flags-special-item-new-template">
			<input type="text" placeholder="{{flags-special-create-form-template-placeholder}}">
		</td>
		<td class="flags-special-item-new-parameters">
			{{flags-special-create-form-parameters}}
		</td>
		<td class="flags-special-item-new-">
			<select name="" id="">
				<option value="" disabled selected>{{flags-special-create-form-group}}</option>
			</select>
		</td>
		<td class="flags-special-item-new-">
			<select name="" id="">
				<option value="" disabled selected>{{flags-special-create-form-target}}</option>
			</select>
		</td>
	</form>
</tr>