.LightboxModal {
	.WikiaLightbox {
		height: 100%;
	}
	.close {
		display: none;
	}
	.modalContent {
		margin: 0;
		height: 100%;
	}
	.media {
		text-align: center;
		height: 100%;
		line-height: 100%;
		img {
			vertical-align: middle;
		}
	}
	.video-media {
		height: auto;
		embed, object {
			display: block;
			margin: 0 auto;
		}
	}
	#image-preload {
		position: absolute;
		top: -99999999px;
		left: -99999999px;
	}
}
