@import "../../../../skins/oasis/css/mixins/arrow";
@import "../../../../skins/oasis/css/mixins/background-opacity";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/opacity";
@import "../../../../skins/oasis/css/mixins/transition";
@import "../../../../skins/oasis/css/core/color";

$carousel-height: 110px;
$carousel-vertical-padding: 20px;

.LightboxModal {
	overflow: hidden;
	.WikiaLightbox {
		height: 100%;
		header {
			@include transition-shorthand(top 600ms ease-out);
			/* permanent code */
			z-index: 1;	/* this should be lower than close button */
			/* /permanent */
			/* temp code, combine with carousel box */
			@include box-shadow( 0px, 0px, 20px, darken($color-page, 50%), false, 2px);
			background-color: rgba(#ffffff, 0.8);
			padding: 20px;
			position: absolute;
			top: 0;
			width: 960px;
			/* /temp code */
			&.hidden {
				top: -150px;
			}
			h1 {
				float: left;
				font-size: 18px;
				max-width: 650px;	/* compensation for i18n on .see-full-size-link */
			}
			.avatar {
				height: 16px;
				margin-right: 2px;
				position: relative;
				top: 2px;
				width: 16px;
			}
			.caption {
				clear: left;
				margin-top: 2px;
			}
			.more-info-button {
				float: right;
				margin-right: 50px;
			}
			.see-full-size-link {
				border-left: 1px solid $color-page-border;
				margin-left: 10px;
				padding-left: 10px;
				position: relative;
				top: 2px;
			}
		}
	}
	.close {
		display: none;
		z-index: 2;
	}
	.modalContent {
		margin: 0;
		height: 100%;
	}
	.media {
		text-align: center;
		height: 100%;
		line-height: 100%;
		overflow: hidden;
		img {
			vertical-align: middle;
		}
	}
	.video-media {
		height: auto;
		embed, object {
			display: block;
			margin: 0 auto;
		}
	}
	#LightboxPreload {
		position: absolute;
		top: -99999999px;
		left: -99999999px;
	}
	.lightbox-arrows {
		span {
			@include border-radius(4px);
			@include box-shadow( 0px, 0px, 10px, darken($color-page,50%), false, 2px);
			@include opacity(80);
			background: $color-buttons;
			cursor: pointer;
			display: block;
			height: 50px;
			margin-top: -25px;
			position: absolute;
			top: 50%;
			width: 50px;
			&:hover {
				@include opacity(100);
			}
			&.disabled {
				@include opacity(40);
				cursor: default;
				&:hover {
					@include opacity(40);			
				}
			}
		}
		.next {
			right: 20px;
			&:before {
				@include arrow(15px, $color-button-text, 'right');
				content: "";
				display: block;
				margin: 10px auto;
			}
		}
		.previous {
			left: 20px;
			&:before {
				@include arrow(15px, $color-button-text, 'left');
				content: "";
				display: block;
				margin: 10px auto;
			}
		}
	}
	.LightboxCarousel {
		@include box-shadow( 0px, 0px, 20px, darken($color-page,50%), false, 2px);
		@include background-opacity($color-page, 90);
		@include clearfix;
		bottom: 0;
		height: $carousel-height;
		position: absolute;
		width: 100%;
		
		.content {
			border-right: 1px solid $color-page-border;
			height: $carousel-height - $carousel-vertical-padding * 2;
			padding: $carousel-vertical-padding 20px;
			width: 645px;
		}
		
		.thumbs {
			height: 50px;
			overflow: hidden;
			position: relative;
			width: 580px;
			ul {
				@include clearfix;
				position: absolute;
			}
			li {
				float: left;
				margin-right: 8px;
				&:last-child {
					margin-right: 0;
				}
			}
			img {
				width: 90px; // TODO: get these dimensions from thumbnailer
				height: 55px; // TODO: get these dimensions from thumbnailer
			}
		}
	}
}
