{{#isLoggedIn}}
  {{{introText}}}
  <form method="POST" name="DownloadYourDataForm" id="DownloadYourDataForm" class="DownloadYourDataForm">
    {{{submitButton}}}
    <input type="hidden" name="token" value="{{editToken}}" />
  </form>
{{/isLoggedIn}}
{{^isLoggedIn}}
    {{{notLoggedInMessage}}}
{{/isLoggedIn}}
