@import "../../TopLists/css/mixins";

div.cr-video {
	margin: 20px 0px 0px 75px;
}

.crunchyroll {
	position: relative;
	width: 100%;
	margin: 6px auto;
	padding: 0;
	overflow: hidden;

	
	.crunchyroll-holder {

		margin-left: 30px;
		width: 1900px;
		.crunchyroll-room1 {
			vertical-align: top;
			border: 0px;
			display: inline-block;
			position: relative;
			width: 920px;
		}
		.crunchyroll-room2 {
			vertical-align: top;
			border: 0px;
			display: inline-block;
			width: 920px;
			position: relative;
		}
	}
}

.wikia-paginator {
	margin-top: 20px;
}

#toplists-loading-screen {
	@include blockInput;
}