.firstHeading {
	padding-left:0px;
	margin: 0px 0px 10px 79px;
	z-index:1;
}

.user-image-avatar {
	color:#797979;
	font-weight:normal;
	float:left;
	margin-top: -25px;
	padding-top:-15px;
	padding-bottom: 10px;
	border: 0px;
	width: 77px;
	height: 75px;
	text-align:center;
	z-index:3;
	position: relative;
}

.usermessage {
	clear: both;
	position: relative;
	top: -75px;
	margin: 0 0 -50px 82px;
	z-index: 10;
}
