/**Give Gift Page **/
.give-gift-message {
color:#999999;
font-size:1.1em;
font-weight:bold;
margin:0px 0px 20px 0px;
}

/** View X Friends on Userpage**/
.user-page-friends, .user-page-foes, .user-page-gifts, .user-page-articles {
width:100%;
padding:3px 0px 5px 0px;
margin:0px 0px 5px 0px;
}

.user-page-rel-title, .user-page-gifts-title {
font-size:1.1em;
font-weight:bold;
border-bottom:1px solid #dcdcdc;
padding:0px 0px 1px 0px;
}

.user-page-rel-link, .user-page-gift-link {
font-size:.8em;
padding:0px 0px 0px 0px;
}

.user-page-rel, .user-page-gift {
float:left;
width:85px;
margin:5px 5px 0px 0px;
text-align:center;
}

.user-page-gift-image-new {
border:2px solid #FFFB9B;
padding:4px;
}

.user-page-gift-image {
padding:2px;
}

.cleared {
clear:both;
}

.page-nav {
clear:both;
font-weight:bold;	
}

.firstHeading {
	padding-left:0px;
	margin: 0px 0px 10px 0px;
	z-index:1;
}

.user-feed-title{
	color:#000;
	font-weight:bold;
	float:left;
	margin: -15px 0px 30px 0px;
	padding-top:-5px;
	padding-bottom: 20px;
	border-bottom:1px solid #dcdcdc;
	width: 100%;
	z-index:2;
	background-color:transparent;
	position: relative;
}

.user-feed-menu {
	float:left;
	vertical-align: top;
	/*border-bottom: 1px solid #797979;*/
	margin: 5px 0px 0px 0px;
	padding: 0px 10px 2px 10px;
}

.user-feed-menu a {
/* 	color:#797979; */
 	text-decoration:none;
 	font-size:9pt;
}

.user-add-image-menu {
 	color:#797979;
 	text-decoration:none;
 	font-size:0.81em;
}

.user-feed-title-bar {
	margin: 0px 0px 0px 0px;
	padding:0px 0px 5px 0px;
}

/**Relationship Requests**/
.relationship-request {
padding:4px 4px 10px 4px;
width:500px;
}

.relationship-request-image {
float:left;
width:90px;
margin:0px 10px 0px 0px;
}

.relationship-request-info {
float:left;
width:380px;
margin:0px 10px 0px 0px;	
}

.relationship-request-title {
font-size:1.2em;
font-weight:bold;
color:#285C98	
}

.relationship-request-message {
  color:#999999;
  font-size:1.1em;
  font-weight:bold;
}

.relationship-request-message img {
vertical-align:middle;	
}

.relationship-request-buttons {
margin:10px 0px 20px 0px;	
}

.relationship-request-button {
background-color:#78BA5D;
border:1px solid #285C98;
color:#ffffff;
font-size:1.0em;
font-weight: bold;
}

.relationship-request-confirm {
  color:#999999;
  font-size:1.1em;
  font-weight:bold;
}

.user-profile-message {
color:#797979;
font-size:10pt;
margin:0px 0px 10px 0px;
}

/** Userpage**/
.user-title-bar {
	border-bottom:1px solid #dcdcdc;
	margin: 0px 0px 15px 0px;
}

.user-title-bar-title {
	color:#000;
	font-size:12pt;
	font-weight:bold;
	float:left;
	padding:2px 0px 0px 0px;
}

.user-title-bar-tab {
	float:right;
	background-color:#F5F5F5;
	width:22%;
	height:22px;
	padding:3px 0px 0px 0px;
	margin:0px 0px 0px 3px;
	text-align:center;
}

.user-title-bar-tab-large {
	float:right;
	background-color:#F5F5F5;
	width:150px;
	height:22px;
	padding:2px 0px 0px 0px;
	margin:0px 0px 0px 3px;
	text-align:center;
}

.user-title-bar-tab a, .user-title-bar-tab-large a {
	font-size:9pt;
	color:#797979;
	font-weight:bold;
	text-decoration:none;
}

.user-title-bar-tab a:hover, .user-title-bar-tab-large a:hover {
	color:#545353;
}

.user-profile-box {
	width:380px;
	margin:0px 0px 40px 0px;
}

.user-profile-avatar {
	float:left;
	margin:0px 10px 0px 0px;
}

.user-profile-level {
	float:left;
}

.user-profile-data {
	font-size:12pt;
	color:#797979;
}

.user-profile-data-small {
	font-size:10pt;
	color:#797979;
}

.user-page-articles, .user-profile, .user-stats, .user-feed {
	width:100%;
	padding:3px 0px 5px 0px;
	margin:0px 0px 5px 0px;
}

.user-page-articles .showdetails a {
	font-size:10.5pt;
	font-weight:bold;
}

.user-page-articles .showdetails a:hover {
	color:#89C46F;
}

.user-profile-data {
	font-size:9pt;
	margin:0px 0px 5px 0px;
	color:#797979;
}

.user-stats-data {
	float:left;;
	font-size:9pt;
	margin:0px 9px 5px 0px;
	width:95%;
	color:#797979;
}

.user-friends, .user-foes {
	margin:0px 0px 18px 0px;
}

.user-profile-bottom {
	font-size:10pt;
	margin:15px 0px 0px 0px;
}

.user-profile-bottom h1 {
	font-size:11pt;
	font-weight:bold;
	margin:0px 0px 5px 0px;
}

.user-profile-bottom p {
	margin:0px 0px 0px 0px;
}

.user-profile-bottom img {
	vertical-align:middle;
}

.user-profile-bottom a {
	text-decoration:none;
	margin:0px 6px 0px 0px;
}

.user-profile-bottom a:hover {
	text-decoration:none;
	color:#89C46F;
}

.user-left {
	float:left;
	width:52%;
	margin:0px 30px 0px 0px;
}

.user-right {
	float:left;
	width:42%;
}

.user-feed-item-user {
	font-weight:800;
}

.user-feed-item {
	float: left;
	padding:5px 5px 5px 10px;
	border-bottom:1px solid #cccccc;
	width: 95%;
}

.user-feed-item-no-border {
	float: left;
	padding:5px 5px 10px 10px;
}

.user-feed-item-icon {
	padding-right:5px;
	float: left;
	vertical-align:top;
}

.user-feed-icons {
	padding-right:1px;
	vertical-align:top;
}

.user-feed-icons-no-padding {
	padding-right:1px;
	vertical-align:top;
}

.user-feed-item-activity {
	padding-left:5px;
	float: left;
	vertical-align:top;
}

.user-feed-item img {
	vertical-align:middle
}

.user-feed-item-time {
	font-size:9px;
	color:#666666;
	padding-left:25px;
}

.user-feed-item-gift {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:25px;
}

.user-feed-item-editinfo {
	color:#666666;
	font-size:10px;
	font-style:italic;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:25px;
}

.user-feed-item-comment { 
	color:#666666;
	font-size:11px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:25px;
}

.user-feed-gift-image {
	padding:5px;
	vertical-align:top;
}

.user-feed-gift-info {
	padding:5px;
	vertical-align:top;
}

.user-feed-gift-info a {
	color:#666666;
	font-size:11px;
	vertical-align:top;
}

#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 0em;
	color: #7d7d7d;
	width: auto;
	left: 2px;
	border: 0px;
	padding-top: 55px;
	position: absolute;
}

#siteSub {
	display: none;
}

#requestsMsg {
	background:yellow;
	border:0px none;
	color:#7D7D7D;
	float:right;
	font-size:85%;
	margin:5px 0px;
	padding:1px 5px;
	width:auto;
}

span.subpages {
	display:block;
	z-index:20;
	padding-top: 0px;
	position: absolute;
	width: 300px;
}

* html #contentSub {
	left: 2px;
	z-index: 20;
	height: 1%;
	-ie-xp: expression(this.style.width = 'auto', this.parentNode.style.position = 'static'); 
}

#mw-revision-info,
#mw-revision-nav,
#contentSub .subpages {
	position: relative;
	top: -40px;
	left: 90px;
	z-index: 20;
}

