<h2>{{header}}</h2>
{{#slots}}
<div class="slot slot-{{slotType}}">
	{{{media}}}
	<div class="slot-description">
		<h4><a href="{{url}}">{{title}}</a></h4>
		<p>{{description}}</p>
	</div>
</div>
{{/slots}}
