<h3>{{header}}</h3>
{{#slots}}
<div class="slot slot-{{slotType}}" data-type="{{type}}">
	{{{media}}}
	<div class="slot-description">
		<a href="{{url}}">{{title}}</a>
		<p>{{description}}</p>
	</div>
</div>
{{/slots}}
