<figure class="thumb thumbinner {{figureClass}}" style="width: {{width}}px">
	{{{thumbnail}}}

	{{! file page link }}
	<a href="{{url}}" class="internal sprite details magnify" title="{{thumbnailMore}}"></a>

	<figcaption class="thumbcaption">
		<p class="title">{{title}}</p>
		<p class="caption">{{caption}}</p>
		{{#addedBy}}
			<p class="attribution">{{{addedBy}}}</p>
		{{/addedBy}}
	</figcaption>
</figure>