<figure class="article-thumb {{figureClass}}" style="width: {{width}}px">
	{{{thumbnail}}}

	<figcaption>
		<p class="title">{{title}}</p>
		{{#caption}}
			<p class="caption">{{caption}}</p>
		{{/caption}}
		{{#addedBy}}
			<p class="attribution">{{{addedBy}}}</p>
		{{/addedBy}}

		<a href="{{url}}" class="sprite details" title="{{thumbnailMore}}"></a>
	</figcaption>
</figure>