/* @TODO Remove PortableInfoboxMonobook_beforeSimplification.scss once all articles will be purged after release
 * @see DAT-3009 purging ticket */
// fix issues with default infobox styles on monobook

.portable-infobox {
	background-color: #f9f9f9;

	figure {
		margin: 0;
	}

	.portable-infobox-secondary-background {
		background-color: #e5e5e5;
	}
}
