@import 'skins/shared/color';

$infobox-width: 270px; // temporary value used to mach with Khal Drogo Infobox
$infobox-margin: 15px;
$infobox-item-margin: 10px;
$infobox-bg-color-mix-value: 92%;
$infobox-background: mix($color-page, #000, $infobox-bg-color-mix-value);

@if $is-dark-wiki {
	$infobox-background: mix($color-page, #FFF, $infobox-bg-color-mix-value);
}

.portable-infobox {
	background-color: $infobox-background;
	float: right;
	margin: 0 0 $infobox-margin $infobox-margin;
	width: $infobox-width;

	.infobox-title {
		border: 0;
		font-size: 18px;
		line-height: 28px;
		margin: $infobox-item-margin;
	}

	.infobox-items-list {
		list-style: none;
		margin: 0;
	}

	.infobox-item:not(.image) {
		margin: $infobox-item-margin;
		margin-right: $infobox-item-margin * 2;
	}

	.infobox-item-label {
		border-bottom: 1px solid $color-page-border;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}

	.infobox-item-value {
		padding-left: $infobox-item-margin;
	}
}
