@import 'extensions/wikia/GlobalNavigation/styles/GlobalNavigationVariables.scss';

.mw-special-PortableInfoboxBuilder {
	padding: 0;
}

.WikiaPage {
	border: none;
	.InfoboxBuilder {
		height: calc(100vh - #{$global-navigation-height});
	}
	.WikiaPageBackground {
		height: 99%;
	}
}

@media only screen and (max-width: 1083px) {
	.WikiaPage {
		padding: 0;
		width: 766px;
	}
}

@media only screen and (min-width: 1084px) and (max-width: 1595px) {
	.WikiaPage {
		padding: 0;
		width: 1064px;
	}
}

@media only screen and (min-width: 1596px) {
	.WikiaPage {
		padding: 0;
		width: 1238px;
	}
}
