@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';
@import 'extensions/wikia/PortableInfobox/styles/PortableInfoboxVariables';

.portable-infobox {
	background-color: $infobox-background;
	clear: right;
	float: right;
	margin: 0 0 $infobox-margin $infobox-margin;
	width: $infobox-width;

	// **********  Overwrite styles from article  ********** //
	// (placing it within portable-infobox class makes it strong enough) //

	.pi-secondary-font {
		font-size: 12px;
		line-height: 18px;
		margin-top: 0;
	}

	.pi-header,
	.pi-title {
		border: 0;
		margin: 0;
		padding: 0;
	}

	.pi-title {
		font-size: 18px;
		line-height: 28px;
	}

	> .pi-item:last-child {
		border-bottom: 0;
	}

	.pi-data-label {
		margin-bottom: inherit;
		margin-top: 0;
	}

	.pi-data-value {
		> * {
			margin: 0;
		}
		li {
			line-height: 19px;
		}
	}

}

// **********  Default infobox styling ********** //

.pi-item-margins {
	padding: $infobox-item-margin $infobox-item-margin * 4 $infobox-item-margin $infobox-item-margin * 2;
}

.pi-image-wrapper {
	text-align: center;
}

.pi-caption {
	color: $color-alternate-text;
	font-size: 12px;
	font-style: italic;
	text-align: left;
}

.pi-secondary-background {
	background-color: $infobox-section-header-background;
}

.pi-secondary-font {
	font-weight: bold;
}

.pi-item-data:not(:last-of-type),
.pi-item-group {
	border-bottom: 1px solid $infobox-section-header-background;
}

.pi-item-data {
	@include flexbox;
	@include flex-direction(row);
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
}

.pi-data-label {
	@include flex-basis($infobox-width / 3);
}

.pi-data-value {
	font-size: 12px;
	line-height: 18px;
	padding-left: 0;//Overwritten anyway

	&:not(:first-child) {
		@include flex-basis($infobox-width * 2 / 3);
		padding-left: 10px;
	}

	// fix styles for children of data value
	> * {
		margin: 0;
	}

	ol,
	ul {
		list-style-position: inside;
	}

	li {
		margin: 0;
	}
}

.group-layout-horizontal {
	&.pi-item-group {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.pi-item-header {
		display: table-caption;
	}

	.pi-item-data {
		border-bottom: 0;
		display: table-cell;
		padding: $infobox-item-margin;
		text-align: center;
	}

	.pi-item-data:not(:last-of-type) {
		border-right: 1px solid $infobox-section-header-background;
	}

	.pi-data-label {
		overflow: hidden;
		vertical-align: top;
		white-space: nowrap;
	}

	.pi-data-value {
		padding-left: 0;
	}
}

// **********  Overwrite default styles for STACKED layout type  ********** //

.pi-layout-stacked {
	.pi-item-data {
		display: block;
	}

	.pi-data-value {
		font-size: 14px;
		line-height: 20px;
		padding-left: $infobox-item-margin * 2;
	}
}

// **********  Error handling styles  ********** //

.WikiaArticle {
	.pi-error-info {
		background-color: $color-error;
		color: $infobox-debug-error-msg-color;
		font-size: 18px;
		line-height: 28px;
		margin: 0;
		padding: $infobox-margin * 2 $infobox-debug-line-number-width;
	}

	.pi-debug {
		background-color: $color-unified-module-background;
		font-family: monospace;
		list-style: none;
		margin: 0;
		width: 100%;

		li {
			margin: 0;
		}

		.error {
			font-size: inherit;
		}
	}
}

.pi-debug-line {
	@include flexbox();
}

.pi-debug-line-number,
.pi-debug-line-code {
	box-sizing: border-box;
}

.pi-debug-line-number {
	@include flex-basis($infobox-debug-line-number-width);
	@include flex-shrink(0);
	padding-left: $infobox-item-margin * 2;
}

.pi-debug-error-massage {
	background-color: $infobox-debug-error-msg-bg;
	color: $infobox-debug-error-msg-color;
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px 0 10px 25px;
	padding: $infobox-item-margin * 2 $infobox-item-margin * 3;
	position: relative;
	width: 400px;

	&:before {
		border-bottom: $infobox-margin solid $infobox-debug-error-msg-bg;
		border-left: $infobox-margin solid transparent;
		border-right: $infobox-margin solid transparent;
		content: '';
		display: block;
		height: 0;
		left: 25px;
		position: absolute;
		top: -$infobox-margin;
		width: 0;
	}

	.pi-debug-error-massage-item {
		margin: $infobox-item-margin 0;
	}
}

