@import 'skins/shared/color';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'extensions/wikia/Venus/styles/variables';

@mixin breakpoint-dependent-sizing($breakpoint, $module-columns, $thumbnail-container-columns, $aditional-width: 0) {
	$grid-column-padding: $medium-grid-column-padding;
	$grid-gutter: $medium-grid-gutter;

	@if $breakpoint == large {
		$grid-column-padding: $large-grid-column-padding;
		$grid-gutter: $large-grid-gutter;
	} @else if $breakpoint == small {
		$grid-column-padding: $small-grid-column-padding;
		$grid-gutter: $small-grid-gutter;
	}

	.mw-content-text .videos-module {
		@include grid-column-width($breakpoint, $module-columns, $aditional-width);
		margin-left: -$grid-column-padding;
		margin-right: -$grid-column-padding;

		// Uncomment the lines below if you enabled scrolling
//		.thumbnails {
//			@include grid-column-width($breakpoint, $thumbnail-container-columns, $aditional-width);
//		}

		h2 {
			padding: 0 $grid-column-padding;
		}

		li {
			@include grid-column-width($breakpoint, 3);
			margin-right: $grid-gutter;
		}

		img {
			@include grid-column-width($breakpoint, 3);
		}

		div {
			padding: 0 $grid-column-padding;
		}
	}
}

.mw-content-text .videos-module {
	@include grid-column-width(medium, 9);
	border: 0 solid $color-page-border;
	border-bottom-width: 1px;
	border-top-width: 1px;
	clear: both;
	margin-left: -$medium-grid-column-padding;
	margin-right: -$medium-grid-column-padding;

	.thumbnails {
		margin: 14px 0;
		padding: 0;

		// Uncomment the lines below to enable scrolling inside the video container
//		@include grid-column-width(medium, 11);
//		overflow: auto;
//		white-space: nowrap;
	}

	h2 {
		border: 0;
		margin: 23px 0;
		padding: 0 $medium-grid-column-padding;
	}

	li {
		@include grid-column-width(medium, 3);
		display: inline-block;
		margin: 0 $medium-grid-gutter 0 0;
		padding: 0;

		&:last-child {
			margin: 0;
		}
	}

	img {
		@include grid-column-width(medium, 3);
	}

	div {
		overflow: hidden;
		padding: 0 $medium-grid-column-padding;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media #{$large-up} {
	@include breakpoint-dependent-sizing(large, 9, 11);
}

@media #{$small-only} {
	@include breakpoint-dependent-sizing(small, 11, 11, $small-content-padding - $content-border-width);
}
