@import 'skins/shared/color';

$avatar-size: 42px;

.embeddable-discussions-module {
	.avatar-container {
		border: 2px solid $color-secondary-button-border;
		border-radius: 50%;
		height: $avatar-size;
		overflow: hidden;
		width: $avatar-size;

		img {
			border: 0;
		}

		&.logged-avatar-placeholder {
			background-image: url('/extensions/wikia/GlobalNavigation/images/signin_icon.svg'); /* inline */
			background-position: center;
			background-repeat: no-repeat;
		}

		&.avatar-more {
			background: $color-secondary-button;
			color: $color-alternate-text;
			font-size: 10px;
			line-height: $avatar-size;
			text-align: center;
		}
	}

	.avatar-details {
		line-height: $avatar-size;
		margin-left: 10px;
		font-size: 16px;
	}
}
