@import 'skins/shared/color';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/typography';

$avatar-size: 30px;

.embeddable-discussions-module {
	.avatar-container {
		background-image: url('/extensions/wikia/GlobalNavigation/images/signin_icon.svg'); /* inline */
		background-position: center 2px;
		background-repeat: no-repeat;
		border: 2px solid $color-secondary-button-border;
		border-radius: 50%;
		height: $avatar-size;
		overflow: hidden;
		width: $avatar-size;

		img {
			border: 0;
			height: $avatar-size;
			width: $avatar-size;
		}

		&.avatar-more {
			background: $color-secondary-button;
			color: $color-alternate-text;
			font-size: 10px;
			line-height: $avatar-size;
			text-align: center;
		}
	}

	.avatar-details {
		font-size: $typescale-size-minus-1;
		line-height: $avatar-size;
		margin-left: 10px;
	}
}
