@import 'avatar';
@import 'ShareModal';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/color';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/colors';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/typography';


$reply-icon: '/extensions/wikia/EmbeddableDiscussions/images/reply.svg';
$reply-icon-tiny: '/extensions/wikia/EmbeddableDiscussions/images/reply-tiny.svg';
$upvote-icon: '/extensions/wikia/EmbeddableDiscussions/images/upvote.svg';
$upvote-icon-active: '/extensions/wikia/EmbeddableDiscussions/images/upvote-active.svg';
$upvote-icon-tiny: '/extensions/wikia/EmbeddableDiscussions/images/upvote-tiny.svg';
$share-icon: '/extensions/wikia/EmbeddableDiscussions/images/share.svg';
$plus-icon: '/extensions/wikia/EmbeddableDiscussions/images/plus-x-large.svg';

$card-border-color: $color-page-border;
$container-border-color: lighten($color-page-border, 10%);

// spacing
$content-spacing-xxsmall: 6px;
$content-spacing-xsmall: 10px;
$content-spacing-small: 12px;
$content-spacing-small-plus: 14px;
$content-spacing-regular: 18px;
$content-spacing-large: 24px;
$content-spacing-xxlarge: 48px;

$icon-height: 22px;
$icon-width: 24px;
$tiny-icon-height: 16px;
$tiny-icon-width: 14px;
$plus-icon-size: 34px;

.embeddable-discussions-module {
	@include flexbox();
	@include flex-direction(column);

	border: 1px solid $container-border-color;
	margin: 0;
	padding: 3px 21px 30px 27px;

	p {
		margin: 0;
	}

	svg {
		vertical-align: middle;
	}

	a.embeddable-discussions-fill-div {
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		text-decoration: none;
		top: 0;
		width: 100%;
	}

	.embeddable-discussions-forum {
		color: $color-light-gray;
		float: left;
		font-size: $typescale-size-minus-2;
		line-height: $typescale-size-minus-2;
		margin: $content-spacing-regular 0;
	}

	.embeddable-discussions-content {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		font-size: $typescale-size-minus-1;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

	.embeddable-discussions-header-container {
		@include flexbox();
		@include flex-direction(row);

		padding: $content-spacing-small 0;
	}

	.embeddable-discussions-heading-container {
		@include flexbox();
		@include justify-content(space-between);

		margin-top: 10px;
	}

	.embeddable-discussions-heading {
		font-size: $typescale-size-plus-1;
		height: $content-spacing-large;
	}

	.embeddable-discussions-post-actions {
		@include flexbox();
		@include align-items(center);
		@include align-self(center);
		@include justify-content(center);

		border-top: 1px solid $card-border-color;
		font-size: $typescale-size-minus-2;
		font-weight: normal;
		height: $content-spacing-xxlarge;
		line-height: $typescale-size-minus-2;
		list-style: none;
		margin: 0;
		max-width: none;

		li {
			color: $color-light-gray;
			cursor: pointer;
			text-align: center;
		}

		a {
			color: $color-light-gray;
			cursor: pointer;
			font-size: $typescale-size-minus-2;
		}
	}

	.embeddable-discussions-post-counter {
		padding-left: 10px;
	}

	.embeddable-discussions-post-counters {
		color: $color-light-gray;
		font-size: $typescale-size-minus-2;
		justify-content: flex-end;
		line-height: $typescale-size-minus-2;
		margin: $content-spacing-regular 0;
		text-align: right;
	}

	.embeddable-discussions-post-detail {
		border: 1px solid $card-border-color;
		margin: 0 0 20px;
		padding: 0;
	}

	.embeddable-discussions-post-detail-columns {
		margin-right: 10px;
		width: 48%;
	}


	.embeddable-discussions-post-detail-mainpage-rail {
		width: 100%;
	}

	.embeddable-discussions-reply-icon {
		background: url($reply-icon) no-repeat;
		height: $icon-height;
		width: $icon-width;
	}

	.embeddable-discussions-reply-icon-tiny {
		background: url($reply-icon-tiny) no-repeat;
		height: $tiny-icon-height;
		margin-right: 4px;
		width: $tiny-icon-width;
	}

	.embeddable-discussions-share-icon {
		background: url($share-icon) no-repeat;
		height: $icon-height;
		width: $icon-width;
	}

	.embeddable-discussions-show-all {
		display: inline-block;
		font-size: $typescale-size-base;
		font-weight: normal;
		line-height: $typescale-size-plus-2;
		padding-right: $content-spacing-regular;
	}

	.embeddable-discussions-side-spaced {
		padding-left: $content-spacing-small;
		padding-right: $content-spacing-small;
		position: relative;
	}

	.embeddable-discussions-threads {
		clear: both;
		padding-top: 14px;
	}

	.embeddable-discussions-threads-columns {
		@include flexbox();
		@include flex-wrap(wrap);
	}

	.embeddable-discussions-timestamp {
		color: $color-light-gray;
		font-size: $typescale-size-minus-2;
		padding-left: 5px;
	}

	.embeddable-discussions-title {
		font-size: $typescale-size-plus-1;
		font-weight: bold;
		margin-bottom: $content-spacing-regular;
	}

	.embeddable-discussions-upvote-icon {
		background: url($upvote-icon) no-repeat;
		height: $icon-height;
		width: $icon-width;
	}

	.embeddable-discussions-upvote-icon-active {
		background: url($upvote-icon-active) no-repeat;
		height: $icon-height;
		width: $icon-width;
	}

	.embeddable-discussions-upvote-icon-tiny {
		background: url($upvote-icon-tiny) no-repeat;
		height: $tiny-icon-height;
		margin-right: 4px;
		width: $tiny-icon-width;
	}

	.embeddable-discussions-zero {
		@include flexbox();
		@include flex-direction(column);

		align-items: center;
		border: 1px dashed $card-border-color;
		clear: both;
		line-height: 1.4;
		padding: 48px 0 75px;
		text-align: center;
	}

	.embeddable-discussions-zero-plus {
		background: url($plus-icon) no-repeat;
		height: $plus-icon-size;
		padding-bottom: 18px;
		width: $plus-icon-size;
	}

	.embeddable-discussions-zero-text {
		font-size: $typescale-size-plus-1;
	}
}
