@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/color';
@import 'skins/shared/functions';

@import 'avatar';
@import 'clamp';
@import 'ShareModal';

$plus-icon: '/extensions/wikia/EmbeddableDiscussions/images/plus-x-large.svg';
$default-avatar-icon: '/extensions/wikia/EmbeddableDiscussions/images/icon-avatar.svg';

$card-border-color: $color-page-border;
$container-border-color: lighten($color-page-border, 10%);

$avatar-size: 30px;
$plus-icon-size: 34px;

$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-large: 16px;

$post-mark-icon-size: 12px;
$discussion-deleted-mark-color: #ed1c24;
$discussion-reported-mark-color: #f08a24;
$discussion-deleted-actions-opacity: .5;

$upvote-icon-activated-color: #e3bd00;

$overlay-color: #fff;
@if lightness($color-page) > 49 {
	$overlay-color: #000;
}

$overlay-large-value: 25%;
$overlay-small-value: 15%;

@if lightness($color-page) > 10 {
	$overlay-large-value: 6%;
	$overlay-small-value: 3%;
}

$text-overlay-value: 40%;

.embeddable-discussions-module {
	@include flexbox();
	@include flex-direction(column);

	border: 1px solid $container-border-color;
	margin: 0;
	padding: 3px 21px 30px 27px;

	p {
		margin: 0;
	}

	svg {
		vertical-align: middle;
	}

	a.embeddable-discussions-fill-div {
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		text-decoration: none;
		top: 0;
		width: 100%;
	}

	.avatar {
		height: $avatar-size;
		width: $avatar-size;
	}

	.avatar-container {
		height: $avatar-size;
		position: relative;
		width: $avatar-size;
		z-index: 1;
	}

	.avatar-details {
		font-size: $font-size-regular;
		line-height: $avatar-size;
		z-index: 1;
	}

	.clamp {
		@include clamp(3);
	}

	.embeddable-discussions-default-avatar {
		background: url($default-avatar-icon) no-repeat;
		height: $avatar-size;
		width: $avatar-size;
	}

	.embeddable-discussions-forum {
		color: mix($overlay-color, $color-page, $text-overlay-value);
		font-size: $font-size-small;
		float: left;
	}

	.embeddable-discussions-content {
		font-size: $font-size-regular;

		&.is-deleted {
			opacity: $discussion-deleted-actions-opacity;
		}
	}

	.embeddable-discussions-header-container {
		@include flexbox();
		@include flex-direction(row);
	}

	.embeddable-discussions-heading-container {
		@include flexbox();

		margin-top: 10px;
	}

	.embeddable-discussions-heading {
		height: 24px;
		font-size: 18px;
	}

	.embeddable-discussions-post-actions {
		@include flexbox();
		@include align-items(center);
		@include align-self(center);
		@include justify-content(flex-start);

		border-top: 1px solid mix($overlay-color, $color-page, $overlay-large-value);
		font-size: $font-size-small;
		font-weight: 500;
		height: 45px;
		list-style: none;
		margin: 0;
		max-width: none;
		padding: 0 15px;
	}

	.embeddable-discussions-post-actions li {
		color: mix($overlay-color, $color-page, $text-overlay-value);
		cursor: pointer;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;

		&.is-deleted {
			opacity: 0;
		}
	}

	.embeddable-discussions-post-actions a {
		color: mix($overlay-color, $color-page, $text-overlay-value);
		cursor: pointer;
		font-size: $font-size-small;
	}

	.embeddable-discussions-post-counter {
		padding-left: 10px;
	}

	.embeddable-discussions-post-counters {
		color: mix($overlay-color, $color-page, $text-overlay-value);
		font-size: $font-size-small;
		justify-content: flex-end;
		padding-bottom: 4px;
		text-align: right;
	}

	.embeddable-discussions-post-detail {
        background-color: mix($overlay-color, $color-page, $overlay-small-value);
		border: 1px solid mix($overlay-color, $color-page, $overlay-large-value);
		margin: 0 0 20px;
		padding: 20px 0 0;
		position: relative;

		&.is-deleted,
		&.is-reported {
			&::before {
				border-color: transparent;
				border-style: solid;
				border-width: $post-mark-icon-size $post-mark-icon-size 0 0;
				content: '';
				left: 0;
				position: absolute;
				top: 0;
			}
		}

		&.is-deleted {
			&::before {
				border-top-color: $discussion-deleted-mark-color;
			}
		}

		&.is-reported {
			&::before {
				border-top-color: $discussion-reported-mark-color;
			}
		}
	}

	.embeddable-discussions-post-detail-columns {
		margin-right: 10px;
		width: 48%;
	}

	.embeddable-discussions-post-detail-right-column {
		width: 100%;
	}

	.embeddable-discussions-reply-icon {
		path {
			fill: mix($overlay-color, $color-page, $text-overlay-value);
		}
	}

	.embeddable-discussions-reply-icon-tiny {
		margin-right: 4px;

		path {
			fill: mix($overlay-color, $color-page, $text-overlay-value);
		}
	}

	.embeddable-discussions-share-icon {
		path {
			fill: mix($overlay-color, $color-page, $text-overlay-value);
		}
	}

	.embeddable-discussions-show-all {
		font-size: $font-size-small;
		font-weight: bold;
		line-height: 24px;
		margin-left: auto;
	}

	.embeddable-discussions-side-spaced {
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}

	.embeddable-discussions-threads {
		clear: both;
		padding-top: 14px;
		position: relative;
	}

	.embeddable-discussions-threads-columns {
		@include flexbox();
		@include flex-wrap(wrap);
	}

	.embeddable-discussions-timestamp {
		color: mix($overlay-color, $color-page, $text-overlay-value);
		font-size: $font-size-small;
		padding-left: 5px;
	}

	.embeddable-discussions-title {
		font-size: $font-size-regular;
		font-weight: bold;
		min-height: 22px;

		&.is-deleted {
			opacity: $discussion-deleted-actions-opacity;
		}
	}

	.embeddable-discussions-upvote-icon {
		path {
			fill: mix($overlay-color, $color-page, $text-overlay-value);
		}
	}

	.embeddable-discussions-upvote-icon-active {
		path {
			fill: $upvote-icon-activated-color;
		}
	}

	.embeddable-discussions-upvote-icon-tiny {
		margin-right: 4px;

		path {
			fill: mix($overlay-color, $color-page, $text-overlay-value);
		}
	}

	.embeddable-discussions-zero {
		@include flexbox();
		@include flex-direction(column);

		align-items: center;
		border: 1px dashed $card-border-color;
		clear: both;
		padding: 48px 0 75px;
		line-height: 1.4;
		text-align: center;
	}

	.embeddable-discussions-zero-plus {
		background: url($plus-icon) no-repeat;
		height: $plus-icon-size;
		padding-bottom: 18px;
		width: $plus-icon-size
	}

	.embeddable-discussions-zero-text {
		font-size: $font-size-large;
	}

	.embeddable-action-gap {
		flex-grow: 1;
		max-width: 50px;
		min-width: 20px;
	}
}
