@import 'skins/shared/mixins/flexbox';
@import 'extensions/wikia/DesignSystem/node_modules/design-system/dist/scss/wds-variables/index';

.watch-show {
	.WikiaRail &.rail-module .wds-button.wds-is-secondary {
		// overrides margin-left from skins/oasis/css/core/page.scss
		margin-left: 0;
	}

	&__content {
		@include align-items(center);
		@include flexbox();
	}

	&__image {
		max-width: 100%;
		max-height: 37px;
	}
}
