<div id="drawer-blackout-{{side}}" class="drawer-blackout"></div>
<div id="drawer-{{side}}" class="drawer {{side}} {{style}} {{class}}">{{{content}}}</div>
<div id="sub-drawer-{{side}}" class="subdrawer {{side}} {{style}} {{class}}">{{{subcontent}}}</div>
