<div id="drawer-blackout-{{side}}" class="drawer-blackout"></div>
<div id="drawer-{{side}}" class="drawer {{side}} {{style}} {{class}}">
    <div id="drawer-close-button-{{side}}" class="close-button">{{closeText}}</div>
    {{{content}}}
</div>
<div id="subdrawer-{{side}}" class="subdrawer {{side}} {{style}} {{class}}">{{{subcontent}}}</div>
