.global-footer {
	font-size: 11px;
	padding-bottom: 10px;

	.branding {
		left: 10px;
	}

	ul {
		margin: 0 0 8px 167px;
		padding-right: 8px;
		text-align: right;

		li {
			border-left: solid 1px $color-links;
			margin-top: 8px;

			&:first-child {
				border: 0;
			}

			a {
				color: $color-links;
			}
		}
	}
}
