.CorporateFooter  {
	clear: left;
	font-size: 11px;
	padding-bottom: 10px;
	nav {
		@include clearfix;
		margin-top: 15px;
		position: relative;
		> h1 {
			display: none;
		}
	}
	.WikiaHubBranding {
		background: transparent;
		left: 10px;
		padding: 1px;
		position: absolute;
		top: 0;
		.wordmark {
			float: left;
			position: relative;
			width: 66px;
		}
		.hub {
			background: $color-page;
			float: left;
			height: 10px;
			padding: 5px 6px 8px 6px;
			.hub2,
			.hub3,
			.hub9 {
				font-size: 10px;
				font-weight: bold;
				letter-spacing: -0.5px;
				text-decoration: none;
				text-transform: uppercase;
			}
			.hub2 {
				color: $color-wikiahome-videogames;
			}
			.hub3 {
				color: $color-wikiahome-entertainment;
			}
			.hub9 {
				color: $color-wikiahome-lifestyle;
			}
		}
	}
	.HubBrandingBlackBackground {
		background: black;
	}
	ul {
		list-style: none;
		margin: 0 0 8px 167px;
		text-align: right;

		li {
			border-left: solid 1px $color-links;
			display: inline-block;
			margin-top: 8px;
			padding: 0 8px;

			&:first-child {
				border: none;
			}

			a {
				color: $color-links;
			}
		}
	}
}
