@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/mixins';

$global-footer-color-border: #c7d1d8;

%global-footer-inline-flexbox {
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.global-footer {
	background-color: $nav-background-color;
	border-bottom: 10px solid $color-wikiahome-community;
	border-top: 1px solid $global-footer-color-border;
	color: $color-text-dark;
	margin-top: 30px;
	padding-top: 40px;
	text-align: center;

	&.vertical-books {
		border-bottom-color: $color-vertical-books;
	}

	&.vertical-comics {
		border-bottom-color: $color-vertical-comics;
	}

	&.vertical-games {
		border-bottom-color: $color-vertical-games;
	}

	&.vertical-lifestyle {
		border-bottom-color: $color-vertical-lifestyle;
	}

	&.vertical-movies {
		border-bottom-color: $color-vertical-movies;
	}

	&.vertical-music {
		border-bottom-color: $color-vertical-music;
	}

	&.vertical-tv {
		border-bottom-color: $color-vertical-tv;
	}

	.footer-wikia-logo {
		@extend %global-footer-inline-flexbox;
		line-height: 0; /* Get rid of uncontrollable vertical margins for inline-block */
		margin: 0 auto 40px;

		img {
			@include wikia-logo();
		}
	}

	a {
		color: $color-links-default;
	}

	nav {
		margin: 0 $medium-grid-column + $medium-grid-gutter + $medium-content-padding - $content-border-width;
		padding: 0 $medium-grid-column-padding;

		@media #{$large-up} {
			margin: 0 $large-grid-column + $large-grid-gutter + $large-content-padding - $content-border-width;
			padding: 0 $large-grid-column-padding;
		}

		@media #{$small-only} {
			margin: 0 $small-grid-column + $small-grid-gutter + $small-content-padding - $content-border-width;
			padding: 0 $small-grid-column-padding;
		}
	}

	ul {
		margin: 0 0 30px;

		li {
			align-items: center;
			display: inline-flex;
			margin-top: 0;
			padding: 0 4px 0 0;

			&::before {
				border-left: 1px solid $global-footer-color-border;
				content: '';
				height: 18px;
				padding-right: 8px;
			}

			&:first-child {

				&::before {
					border: 0;
				}
			}
		}
	}
}
