<section id="RelatedForumDiscussion" class="RelatedForumDiscussion">
	<h2>
		<a class="button forum-new-post" href="{{newPostUrl}}">{{newPostButton}}</a>
		{{sectionHeading}}
	</h2>
	<p class="forum-zero-state-creative">
		<img class="sprite talk" src="{{blankImgUrl}}">
		{{{creative}}}
	</p>
</section>