<section id="RelatedForumDiscussion" class="RelatedForumDiscussion">
	<h2>
		<a class="button forum-new-post" href="{{newPostUrl}}" title="{{newPostTooltip}}">{{newPostButton}}</a>
		{{sectionHeading}}
	</h2>
	<ul class="forum-discussions">
		{{#messages}}
			<li class="forum-thread">
				<img class="sprite talk" src="{{blankImgUrl}}">
				<a href="{{threadUrl}}">
					<h4>
						{{metaTitle}}
					</h4>
				</a>
				<div class="forum-total-replies">{{totalReplies}}</div>
				<ul class="forum-replies">
					{{#replies}}
						<li class="forum-reply">
							<img class="forum-user-avatar" src="{{userAvatarUrl}}">
							<div class="forum-user-name">
								<a href="{{userUrl}}">{{userName}}</a>
							</div>
							<div class="forum-message-body">
								{{messageBody}}
								<span class="forum-timestamp">
									{{timeStamp}}
								</span>
							</div>
						</li>
					{{/replies}}
				</ul>
			</li>
		{{/messages}}
	</ul>
	<div class="forum-see-more">
		<a href="{{seeMoreUrl}}">{{seeMoreText}} &gt;</a>
	</div>
</section>