@import 'skins/shared/color';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/styles/infoboxes';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'extensions/wikia/Venus/styles/typographyMixins';
@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/z-index';
@import 'extensions/wikia/Venus/styles/article/images';
@import 'extensions/wikia/Venus/styles/article/media';
@import 'extensions/wikia/Venus/styles/article/infobox';
@import 'extensions/wikia/Venus/styles/article/tables';
@import 'extensions/wikia/Venus/styles/modules/lightboxVenus';
@import 'extensions/wikia/Venus/styles/modules/throbberVenus';

$placeholder-background-color: $color-article-navigation-inactive; // only for prototype version
$article-items-spacing: 30px;
$header-without-cover-unit-spacing: 60px;

// don't display TOC on Venus skin pages (fight cache)
#toc {
	display: none !important;
}

.article {
	overflow: hidden;

	.article-header {
		@include grid-column-width('medium', 8, $medium-content-padding - $content-border-width);
		float: left;

		h1,
		span {
			margin: 0;
			word-wrap: break-word;
		}

		&:not(.cover-unit) {
			margin-bottom: $header-without-cover-unit-spacing;
			margin-top: 40px;

			h1,
			span {
				padding: 0 $medium-grid-column-padding 0 $medium-grid-column + $medium-grid-gutter + $medium-content-padding + $medium-grid-column-padding - $content-border-width;
			}

			& + .article-navigation {
				top: $header-without-cover-unit-spacing + 80px;
			}
		}

		&.cover-unit {
			@include proportional-grid-media-height('medium', 8, $medium-content-padding);
			background-color: $placeholder-background-color; //only for prototype version
			margin-bottom: $article-items-spacing;
			position: relative;

			h1,
			span {
				bottom: 0;
				padding: 0 $medium-grid-column-padding round($header-without-cover-unit-spacing / 2) $medium-content-padding + $medium-grid-column-padding - $content-border-width;
				position: absolute;
			}

			span {
				padding-bottom: round($header-without-cover-unit-spacing / 8);
			}

			& + .article-navigation {
				@include proportional-grid-media-top('medium', 8, $medium-content-padding + $article-items-spacing + 100px);
			}
		}
	}
}

.mw-content-text {
	@include clearfix;

	clear: left;
	margin: 0 $medium-grid-column + $medium-grid-gutter + $medium-content-padding - $content-border-width;
	padding: 0 $medium-grid-column-padding 60px;

	&.clear-none {
		 clear: none;
	}

	.clear-left:not(.floatright):not(.tright) {
		clear: left;
	}

	.editsection {
		@include font-size-xxs;
		display: inline-block;
		margin-left: $edit-button-size + 20px;
		padding-left: 8px;
		position: relative;
		text-transform: uppercase;

		a::before {
			@include edit-button;

			color: $color-links;
		}

		// START
		// Following lines are fix for displaying underlines on :before element in IE-8-11
		// Source: http://stackoverflow.com/a/21902566/1607968 and http://jsfiddle.net/95C2M/
		a { text-decoration: none; }
		a:hover { text-decoration: underline; }
		a:before { text-decoration: underline; }
		a:before, a:hover:before { text-decoration: none; }
		// END
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow: hidden;
	}

	h2 {
		border-bottom: 1px solid $color-page-border;
		margin-bottom: 12px;
		margin-left: -$medium-grid-gutter;
		margin-right: -$medium-grid-gutter;
		margin-top: $article-items-spacing;
		padding-bottom: 10px;

		.mw-headline {
			padding-left: $medium-grid-gutter;
		}
	}

	h3 {
		margin: $article-items-spacing 0 16px;
	}

	p {
		margin-bottom: $article-items-spacing;
		margin-top: 0;
	}

	blockquote {
		@include font-size-xl;
		line-height: 36px;
		margin: 0 0 $article-items-spacing;
		overflow: hidden;
		padding-top: 30px;
		position: relative;

		&:before {
			background: none repeat scroll 0 0 $color-page;
			content: '\201c';
			display: inline;
			font-size: 64px;
			height: 34px;
			line-height: 70px;
			padding-top: 8px;
			position: absolute;
			top: -20px;
		}

		&:after {
			border-top: 4px solid $color-text;
			content: ' ';
			left: 0;
			margin-left: 25px;
			position: absolute;
			top: 10px;
			width: 100%;
		}
	}

	pre {
		white-space: normal;
	}

	ol,
	ul {
		padding-left: 41px;
	}

	> ol,
	> ul {
		margin-bottom: 40px;
		margin-top: 0;
		padding-right: round($medium-grid-column / 2) - $medium-grid-column-padding;

		> li:first-child {
			margin-top: 10px;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	li {
		margin-top: 10px;
		padding-left: 13px;
	}

	dl {
		margin: 16px 0;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: $medium-grid-column - 2 * $medium-grid-column-padding;
	}
}

/* FOR PROTOTYPE/TESTING ONLY */

/* CON-1982: use Oasis font-size in prototype phase */
.infobox {
	font-size: $font-size-xxs;
}

/* END FOR PROTOTYPE/TESTING ONLY */

@media #{$large-up} {
	.article .article-header {
		@include grid-column-width('large', 8, $large-content-padding - $content-border-width);

		&:not(.cover-unit) {
			h1,
			span {
				padding-left: $large-grid-column + $large-grid-gutter + $large-content-padding + $large-grid-column-padding - $content-border-width;
				padding-right: $large-grid-column-padding;
			}
		}

		&.cover-unit {
			@include proportional-grid-media-height('large', 8, $large-content-padding);

			h1 {
				padding-left: $large-content-padding + $large-grid-column-padding - $content-border-width;
			}

			& + .article-navigation {
				@include proportional-grid-media-top('large', 8, $large-content-padding + $article-items-spacing + 100px);
			}
		}
	}

	.mw-content-text {
		margin: 0 $large-grid-column + $large-grid-gutter + $large-content-padding - $content-border-width;
		padding: 0 $large-grid-column-padding 60px;

		h2 {
			margin-bottom: 10px;
			margin-left: -$large-grid-gutter;
			margin-right: -$large-grid-gutter;

			.mw-headline {
				padding-left: $large-grid-gutter;
			}
		}

		h3 {
			margin-bottom: 15px;
		}

		ol,
		ul {
			padding-left: 43px;
		}

		> ol,
		> ul {
			padding-left: 44px;
			padding-right: round($large-grid-column / 2) - $large-grid-column-padding;
		}

		li {
			margin-top: 14px;
			padding-left: 14px;
		}

		dd {
			margin-left: $large-grid-column - 2 * $large-grid-column-padding;
		}
	}
}

@media #{$small-only} {
	.article .article-header {
		float: none;
		width: 100%;

		&:not(.cover-unit) {
			h1,
			span {
				padding-left: $small-grid-column + $small-grid-gutter + $small-content-padding + $small-grid-column-padding - $content-border-width;
				padding-right: $small-grid-column-padding + $small-content-padding - $content-border-width;
			}
		}

		&.cover-unit {
			@include proportional-media-height($small-content-width - 2 * $content-border-width);

			h1 {
				padding-left: $small-content-padding + $small-grid-column-padding - $content-border-width;
			}

			& + .article-navigation {
				@include proportional-media-top($small-content-width - 2 * $content-border-width, $article-items-spacing + 100px);
			}
		}
	}

	.mw-content-text {
		margin: 0 $small-content-padding - $content-border-width 0 $small-grid-column + $small-grid-gutter + $small-content-padding - $content-border-width;
		padding: 0 $small-grid-column-padding 60px;

		h2 {
			margin-left: -$small-grid-gutter;
			margin-right: -$small-grid-gutter;

			.mw-headline {
				padding-left: $small-grid-gutter;
			}
		}

		ol,
		ul {
			margin-top: 14px;
			padding-left: 33px;
		}

		> ol,
		> ul {
			padding-right: round($small-grid-column / 2) - $small-grid-column-padding;
		}

		li {
			padding-left: 4px;
		}

		dd {
			margin-left: $small-grid-column - 2 * $small-grid-column-padding;
		}
	}
}
