@import 'skins/shared/mixins/arrow';
@import 'skins/shared/color';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'extensions/wikia/Venus/styles/typographyMixins';

.WikiaArticleComments {
	clear: both;
	margin: 0 $medium-grid-column + $medium-grid-gutter + $medium-content-padding - $content-border-width 60px;
	padding: 0 $medium-grid-column-padding;

	/* heading */
	h1 {
		margin: 60px 0 30px 0;

		span {
			@include font-size-s; // TODO: get font-size
			color: #aaa;
			float: right;
		}
	}

	/* editor */
	.session {
		position: absolute;
	}

	.MiniEditorWrapper .toolbar {
		margin: 10px 0;

		.cke_button {
			border-right: solid 1px #aaa; // TODO: get color
			line-height: 44px;
			display: inline-block;

			&.RTEVideoButton {
				border-right: none;
			}

			& > a {
				background: transparent;
				border: none;
				float: none;
				margin: 0 12px;
				vertical-align: middle;
			}
		}
	}

	.wikia-button,
	.buttons .actionButton {
		@include font-size-xxs;
		background: transparent;
		border: solid 2px $color-buttons;
		cursor: pointer;
		display: table-cell;
		font-weight: bold;
		height: 44px;
		padding: 0 15px 0 20px;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.throbber {
		margin: 10px !important;
		vertical-align: middle;
		visibility: hidden;
	}

	/* comments */
	.comments {
		list-style: none;
		margin: 0 0 0 70px;
		padding: 0;

		.comment {
			border-bottom: solid 1px #aaa; // TODO: get color
			padding: 20px 0;
		}

		blockquote {
			margin: 0;

			/* date, reply & tools */
			.edited-by {
				clear: both;
				color: #aaa; // TODO: get color
				line-height: 44px;
			}

			/* edit tools */
			.tools {
				float: right;
				list-style: none;
				visibility: hidden;

				li {
					float: left;
					margin-left: 30px;
				}

				a,
				img {
					vertical-align:  middle;
				}
			}

			&:hover .tools {
				visibility: visible;
			}
		}

		&.loading {
			opacity: .7;
		}
	}

	.sub-comments {
		list-style: none;
		margin: 0 0 0 70px;
		padding: 0;
	}

	/* avatars */
	.speech-bubble-avatar {
		margin-left: -70px;

		a {
			display: inline-block;
			line-height: 50px;
		}
	}

	.avatar {
		border-radius: 25px;
		margin: 0 10px;
		vertical-align: middle;
	}

	/* pagination */
	.article-comments-pagination {
		margin: 0 auto 10px;
		text-align: center;
		color: $color-links;

		a {
			color: $color-links;
			padding: 2px 8px;
			margin: 0 4px;

			&.accent {
				color: White;
				background-color: $color-links;
			}
		}
	}

	.comments-show-more {
		@include font-size-xxs;

		background-color: $color-buttons;
		border: none;
		cursor: pointer;
		display: none;
		font-weight: bold;
		height: 40px;
		margin: 20px auto 60px;
		padding: 0 15px 0 20px;
		text-transform: uppercase;
		vertical-align: middle;

		&::after {
			@include arrow(5px, rgba($color-button-text, .5));
			content: ' ';
			display: inline-block;
			margin: -2px 0 0 15px;
		}
	}
}
