@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'extensions/wikia/Venus/styles/typographyMixins';
@import 'skins/shared/color';

$border-color: lighten($color-text, 30%);
$image-margin: 30px;

@mixin floated-element($direction, $default-margin, $direction-margin) {
	.float#{$direction},
	.t#{$direction} {
		clear: $direction;
		float: $direction;
		@if $direction == right {
			margin: $default-margin $direction-margin $default-margin $default-margin;
		} @else {
			margin: $default-margin $default-margin $default-margin $direction-margin;
		}
	}
}

@mixin floated-element-breakpoint($small-aditional-left-margin: 0, $small-aditional-right-margin: 0, $large-aditional-left-margin: 0, $large-aditional-right-margin: 0) {
	$possible-sides: left, right;
	$possible-breakpoints: small, large;
	$breakpoint-corresponding-names: $small-only, $large-up;
	$breakpoint-corresponding-paddings: $small-grid-column-padding, $large-grid-column-padding;

	@for $i from 1 through length($possible-breakpoints) {
		@media #{nth($breakpoint-corresponding-names, $i)} {
			.article {
				.floatleft,
				.tleft,
				.floatright,
				.tright {
					@include grid-column-max-width(nth($possible-breakpoints, $i), 11);
				}

				@for $j from 1 through length($possible-sides) {
					.float#{nth($possible-sides, $j)},
					.t#{nth($possible-sides, $j)} {
						margin-#{nth($possible-sides, $j)}: - nth($breakpoint-corresponding-paddings, $i) +
							if(nth($possible-breakpoints, $i) == small,
								if(nth($possible-sides, $j) == left, $small-aditional-left-margin, $small-aditional-right-margin),
								if(nth($possible-sides, $j) == left, $large-aditional-left-margin, $large-aditional-right-margin)
							);
					}
				}
			}
		}
	}
}

.article {
	.image-thumbnail img {
		margin: 10px;
	}

	.thumbborder {
		border: 1px solid $color-page-border;
	}

	.article-thumb {
		margin: $image-margin 0;

		img {
			margin: 0;
		}

		&.show-info-icon {
			.info-icon {
				background-image: url('/extensions/wikia/Venus/images/info_icon.png'); /* base64 */
				display: none;
				float: right;
				height: 17px;
				margin: -35px 10px 0 0;
				position: relative;
				width: 17px;
			}

			&:hover {
				a.info-icon {
					display: block;
				}

				.duration {
					display: none;
				}
			}
		}
	}

	.floatleft,
	.tleft,
	.floatright,
	.tright {
		@include grid-column-max-width('medium', 11);
		overflow: hidden;

		.image-thumbnail img {
			margin: 0;
		}
	}

	@include floated-element(left, $image-margin, -$medium-grid-column-padding);
	@include floated-element(right, $image-margin, -$medium-grid-column-padding - $medium-grid-gutter - $medium-grid-column);

	.floatleft,
	.floatright {
		position: relative;
	}

	.center {
		clear: both;
		text-align: center;

		.article-thumb {
			margin-left: auto;
			margin-right: auto;
		}
	}

	figure {
		line-height: 0;
	}

	figcaption {
		direction: ltr;
		margin-top: 10px;

		.caption,
		.title {
			@include font-size-xxs;
			border-top: 4px solid $border-color;
			color: $color-alternate-text;
			line-height: 18px;
			margin-bottom: 0;
			padding-top: 6px;
			text-align: left;
		}

		.caption {
			font-style: italic;
		}

		.title {
			font-weight: bold;

			& + .caption {
				border: 0;
			}
		}
	}
}

@include floated-element-breakpoint(0, 0, 0, - $large-grid-gutter - $large-grid-column);

@media #{$small-only} {
	.article {
		.wikiaPhotoGallery-slider-body {
			margin-left: -6px;
		}
	}
}
