@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'extensions/wikia/Venus/styles/typographyMixins';
@import 'skins/shared/color';

$image-margin: 30px;
$image-max-columns-small: 11;
$image-max-columns-medium-and-large: 10;

/* Sets the initial property values for the default breakpoint.
 *
 * @param $direction: left or right
 * @param $default-margin: margin [px] for all sides exept $direction-margin
 * @param $direction-margin:  marign [px] for the side that the element is floated to
 */
@mixin floated-element-base($direction, $default-margin, $direction-margin) {
	.float#{$direction},
	.t#{$direction} {
		clear: $direction;
		float: $direction;

		@if $direction == right {
			margin: $default-margin $direction-margin $default-margin $default-margin;
		} @else {
			margin: $default-margin $default-margin $default-margin $direction-margin;
		}
	}
}

/* Gives the possibility to change margins on the corresponding to floated side for particular breakpoints.
 *
 * @param $breakpoint: small or large
 * @param $direction: left or right
 * @param $additional-margin: additional margin [px] for the corresponding direction
 */
@mixin floated-element-breakpoint-margins($breakpoint, $direction, $aditional-margin: 0) {
	.float#{$direction},
	.t#{$direction} {
		margin-#{$direction}: if($breakpoint == small, -$small-grid-column-padding, -$large-grid-column-padding) + $aditional-margin;
	}
}

/* Sets the values for attributes which are breakpoint specific for floated elements.
 *
 * @param $breakpoint: small or large
 * @param $additional-(left|right)-margin: additional margin [px] for the corresponding direction
 */
@mixin floated-element-breakpoint($breakpoint, $columns, $aditional-left-margin: 0, $aditional-right-margin: 0) {
	@include floated-element-breakpoint-margins($breakpoint, left, $aditional-left-margin);
	@include floated-element-breakpoint-margins($breakpoint, right, $aditional-right-margin);

	.article {
		.floatleft,
		.tleft,
		.floatright,
		.tright {
			@include grid-column-max-width($breakpoint, $columns);
		}
	}
}

.article {
	.image-thumbnail img {
		margin: 10px;
	}

	.thumbborder {
		border: 1px solid $color-page-border;
	}

	.article-thumb {
		margin: $image-margin 0;

		img {
			margin: 0;
		}
	}

	.show-info-icon {
		.info-icon {
			background: url('/extensions/wikia/Venus/images/info_icon.png') 0 0; /* base64 */
			display: none;
			float: right;
			height: 17px;
			margin: -35px 10px 0 0;
			position: relative;
			width: 17px;
		}

		&:hover {
			.info-icon {
				display: block;
			}

			.duration {
				display: none;
			}
		}
	}

	.floatleft,
	.tleft,
	.floatright,
	.tright {
		@include grid-column-max-width('medium', $image-max-columns-medium-and-large);
		overflow: hidden;

		.image-thumbnail img {
			margin: 0;
		}
	}

	@each $direction in left, right {
		@include floated-element-base($direction, $image-margin, -$medium-grid-column-padding);
	}

	table {
		.floatleft,
		.tleft,
		.floatright,
		.tright {
			margin: $image-margin;
		}
	}

	.floatleft,
	.floatright {
		position: relative;
	}

	.center {
		clear: both;
		text-align: center;

		// backport the fix for centered thumbs from Oasis
		* {
			margin-left: auto;
			margin-right: auto;
		}
	}

	figure {
		line-height: 0;
	}

	figcaption {
		margin-top: 10px;

		.caption,
		.title {
			@include font-size-xxs;
			border-top: 4px solid $image-caption-border-color;
			color: $color-alternate-text;
			line-height: 18px;
			margin-bottom: 0;
			padding-top: 6px;
			text-align: left;
		}

		.caption {
			font-style: italic;
		}

		.title {
			font-weight: bold;

			+ .caption {
				border: 0;
			}
		}
	}
}

@media #{$large-up} {
	@include floated-element-breakpoint(large, $image-max-columns-medium-and-large);
}

@media #{$small-only} {
	@include floated-element-breakpoint(small, $image-max-columns-small);

	.article .wikiaPhotoGallery-slider-body {
		margin-left: -6px;
	}
}
