@import '/skins/wikia/shared.css';
@import '../libs/foundation.custom/components/grid.mixins';
@import 'extensions/wikia/MediaGallery/styles/MediaGallery';
@import 'video';

.wikia-gallery {
	box-sizing: initial;
}

.wikia-gallery-row {
	white-space: normal;
}

.mw-content-text {
	.media-gallery-wrapper {
		line-height: 1;
		img {
			margin: 0;
		}
	}

	.wikia-slideshow-images-wrapper	{
		background-color: $color-menu-highlight;
		border-color: $color-links;
		box-sizing: content-box;
		color: $color-text;
	}

	.WikiaPhotoGalleryPreview {
		box-sizing: content-box;

		img {
			vertical-align: middle;
		}

		h2 {
			padding-bottom: 3px;
		}
	}

	.wikia-slideshow-images-wrapper,
	.WikiaPhotoGalleryPreview {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			padding: 0;
		}
	}

}
