/*------------------+
 | Site: Wikipedia  |
 | Part: New styles |
 | File: new.css    |
 +------------------*/

.l { float: left; }
.r { float: right; }
hr { margin: 1.5em 0 0.5em; }
h3 span { font-weight: normal; }

/* Amounts */
#amount-table td { white-space: nowrap; }

/* Callouts */
.call-l { float: left; margin: 0.2em 1em 1em 0; }
.call-l, .call-r { background: #fff; border: 1px solid #444; font-size: 13px; padding: 15px 20px; }
.call-l h3, .call-r h3 { font-size: 17px; }
.call-l .loading, .call-r .loading { background-image: url(https://payments.wikimedia.org/extensions/DonationInterface/payflowpro_gateway/forms/rapidhtml/images/loading-white.gif); }
.call-r { float: right; margin: 0.2em 0 1em 1em; }

/* Loading */
#loading { font-size: 12px; margin-left: 0.5em; vertical-align: middle; }
.loading { background: url(https://payments.wikimedia.org/extensions/DonationInterface/payflowpro_gateway/forms/rapidhtml/images/loading-green.gif) no-repeat 50% 50%; padding: 10px; }

/* Muted text */
.mute { font-size: 12px; }
	
	
/*-------------------+
 | Site: Wikipedia   |
 | Part: Form styles |
 | File: forms.css   |
 +-------------------*/


/* Specifics
======================================================================*/
/* Buttons */
.btn { display: inline-block; font-size: 12px; }

/* Donate options */
.donate-options input { width: 15em; }

/* Continue button */
#paymentContinue input { width: 15em; }

/* Checklists */
.checklist { border: 1px solid #ccc; max-height: 20em; line-height: 1.4;  margin: 0 0 1em 0; overflow: auto; }
.checklist input { margin-bottom: 1px; }
.checklist label { display: block; padding: 0.1em 0 0.1em 25px; height: 1%; text-indent: -25px; }
.checklist li { background: none; display: block; float: none; margin: 0; padding: 0; white-space: normal; width: 100%; }
.checklist li p { margin: 0; padding: 1em 0 0; }
.checklist li ul { margin: 0 0 0 2em; }
.checklist .mute { font-size: 1em; white-space: nowrap; }
.checklist p { font-weight: bold; margin-bottom: 0.25em; }
.checklist .selected { background: #ffa; }
.checklist ul { margin-bottom: 1em; }

/* Fields */
.form { clear: both; font-size: 1.1em; height: 1%; }
.form dd { margin: 0; }
.form dt { clear: both; font-weight: normal; margin: 0.5em 0 0; }
.form dt:first-child { margin: 0; }
.form .label, span.label { display: block; font-size: 14px; font-weight: normal; }
.field { margin: 0 0 1em; overflow: hidden; position: relative; }
.field p { margin-bottom: 0.25em; }

/* Location */
.loc-fields span { float: left; margin-bottom: 5px; }
.loc-fields .loc-city { margin-right: 1%; width: 51%; }
.loc-fields .loc-postal { width: 22%; }
.loc-fields .loc-state { margin-right: 0%; width: 22%; }
.loc-fields .loc-street { margin-bottom: 5px; width: 100%; }
.loc-fields .loc-country { margin-bottom: 5px; width: 103%; }

/* Location where we are not including a state select */
.loc-fields.nostate .loc-city { float: left; margin: 0 1% 5px 0; width: 48%; }
.loc-fields.nostate .loc-postal { float: left; margin: 0 1% 5px 0; width: 49%; }

/* Location where we are not including a state select */
.loc-fields.bigstate .loc-city { margin-right: 1%; width: 42%; }
.loc-fields.bigstate .loc-postal { width: 24%; }
.loc-fields.bigstate .loc-state { margin-right: 0%; width: 30%; }

.loc-postal.ja { width: 300px; }

/* Direct debit fields */
.dd-fields { float: left; margin-bottom: 5px; margin-top: 5px;}

.dd-be-acctname, .dd-be-bankname { float: left; width:100%; margin-bottom: 5px;}
.dd-be-acctnum, .dd-be-bankcode { float: left;  margin: 0 1% 5px 0; width: 48%; }
.dd-be-authid, .dd-be-checkdigit { float: left; width: 49%; margin: 0; }

.dd-at-accountname { float: left; width: 97%; margin-bottom: 10px;}
.dd-at-an { float: left; width: 45%; }

.dd-at-bc { float: left; width: 45%; margin-left: 5%; }
.dd-acctnumber { float: left; margin: 5px 2% 5px 0; width: 48%; }
.dd-acctname { float: left; margin: 5px 2% 5px 0; width: 48%; }
.dd-bankcode { margin-bottom: 5px; width: 100%; }


/* Name */
.name-fields span { float: left; margin: 0 2% 5px 0; width: 48%; }
.name-fields .name-last { margin: 0; }

/* Name - reversed */
.name-fields.reversed span { float: left; margin: 0 2% 5px 0; width: 48%; }
.name-fields.reserved .name-first{ margin: 0; }

/* Help text */
.field-help { color: #666; font-size: 0.8em; font-weight: normal; }

/* Options */
.form .options-h, .form .options-v { margin: 0; }
.options-h, .options-v { list-style: none; margin: 0 0 1em 0; }
.options-h img, .options-v img { vertical-align: middle; }
.options-h li, .options-v li { background: none; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; line-height: 2.5; margin-right: 0.3em; white-space: nowrap; }
.options-h li select { vertical-align: middle; }
.options-h li:last-child { margin: 0; }
.form .options-v { margin-top: 5px; }
.options-v li { padding-left: 25px; text-indent: -25px; }

/* Text boxes */
textarea.txt { width: 99%; }
select.txt { padding: 0.2em; }

.txt, .txt-date, .txt-med, .txt-sm {
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 1px #ddd;
  -webkit-box-shadow: inset 0 1px 1px #ddd;
  box-shadow: inset 0 0 1px #ddd;
  margin-right: 0.5em;
  padding: 0.3em;
  vertical-align: middle;
}

.txt { width: 95%; }
.txt-date { width: 7em; }
.txt-med { width: 47%; }
.txt-sm { width: 4em; }

/* overrides of payflowpro.css */
input#fname { width: 95% !important; margin-right: 4px; }
input#lname { width: 95% !important; }


/* 2_3step additions */
#errorMessages {
    font-size: 0.75em;
    color: #FF0000;
}
/* Force vertical scrollbar
   html { overflow-y: scroll; }
   */
/* Accordion */
#accordion h3 {
    background: #FFFFFF;
    border: none;
    font-size: 1.1em;
    margin: 0;
    padding: 0.5em 0.9em;
    outline: 0;
}
.accordion-content {
    padding: 0.9em;
}
#step2accordion {
    display: none;
}

/* Layout */
table#layouttable tr td {
    vertical-align: top;
}

#appeal {
    /*width: 100%;*/
    padding-right: 25px;
}
#appeal-content {
    /*padding-right: 380px;*/
}
.clear {
    clear: both;
}
#donate {
    /*float: left;*/
    /*margin-left: -350px;*/
    width: 350px;
}
#donate-content {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 1em 0;
    font-size: 0.95em;
    /* Maybe */
    width: 348px;
}
#amount-table-white label {
    font-size: 1.1em;
}

#donate-body h3 {
    font-size: 17px;
}

#step1wrapper, #step2wrapper, #step3wrapper {
    width: 325px;
}
/* Initially hide steps 2 and 3 */
#step2wrapper, #step2header, #step3wrapper, #step3header {
    display: none;
}
#where-content {
    font-size: 13px;
    line-height: 19px;
    width: 325px;
}

#amtErrorMessages, #billingErrorMessages, #paymentErrorMessages {
    color: #F00;
}
.txt{
    margin: 0 !important;
}
#billingContent span {
    margin: 0 !important;
}
p#informationsharing {
    padding: 0 15px;
    line-height: 14px;
    font-size: 11px;
}
ul#moreinfolinks li{
    list-style: none !important;
    list-style-image: none !important;
}

#bpay{
    margin: 25px 0 0 15px;
    font-size: 12px;
}