body {
	background-color: #fff !important;
	background-image: none !important;
	color: #000 !important;
	padding: 0;
	margin: 0;
}
#wikia_page {
	padding: 0;
	margin: 0;
	background: #fff !important;
	min-height: 0px;
	border: none !important;
	position: static;
	overflow: visible;
}
#article {
	padding: 0;
	margin: 0;
	overflow: visible;
	position: static;
}
#wikia_header,
#background_strip,
#widget_sidebar,
#page_bar,
#articleFooter,
#monaco_footer,
.wikia_ad,
.wikia_spotlight,
.wikia_ad_placeholder {
	display: none !important;
}
