<section id="affiliateModule" class="affiliate-module {{className}}">
	<h1>{{title}}</h1>
	{{#products}}
	<div class="affiliate">
		<div class="prodimg">
			<a target="_blank" href="{{url}}">
				<img class="prodimg" alt="" src="{{thumbUrl}}">
			</a>
		</div>
		<div class="placard">
			<a target="_blank" href="{{url}}" title="{{name}}">{{name}}</a>
		</div>
		<div class="vendor">
			<div class="vendorlogo">
				<a class="amznlogo" target="_blank" href="{{url}}"></a>
			</div>
			<div class="vendorsee">
				<a class="wikia-button vendorsee" target="_blank" href="{{url}}">{{buttonLabel}}</a>
			</div>
			<div class="vendorprice">
				<a target="_blank" href="{{url}}">{{price}}</a>
			</div>
		</div>
	</div>
	{{/products}}
</section>
