<section id="affiliate-module-{{option}}" class="affiliate-module {{className}}">
	<h1>{{moduleTitle}}</h1>
	{{#products}}
	<div class="affiliate">
		<div>
			<a class="prod-thumb" target="_blank" href="{{url}}">
				<img alt="" src="{{thumbUrl}}" data-prod-id="{{id}}" data-prod-name="{{name}}">
			</a>
		</div>
		<div class="placard">
			<a class="prod-name" target="_blank" href="{{url}}" title="{{name}}">{{name}}</a>
		</div>
		<ul class="{{vendor}} vendor">
			<li>
				<a class="vendor-logo" target="_blank" href="{{url}}"></a>
			</li>
			<li>
				<a class="vendor-button wikia-button" target="_blank" href="{{url}}">{{buttonLabel}}</a>
			</li>
			<li>
				<a class="vendor-price" target="_blank" href="{{url}}">{{price}}</a>
			</li>
		</ul>
	</div>
	{{/products}}
</section>
