<div class="media-gallery-wrapper count-{{count}}">
	<button class="add-image">{{addImageButton}}</button>
	<div class="media-gallery-inner">
		{{#media}}
			<div class="media {{classes}}">
				{{{thumbnail}}}
				{{#caption}}
					<div class="caption">
						<div class="inner">
							{{{caption}}}
						</div>
					</div>
				{{/caption}}
			</div>
		{{/media}}
	</div>
</div>

