<div class="media-gallery-wrapper count-{{count}}"> {{!-- keep the following on one line; otherwise extra tags will be added --}}
	{{#media}}<div class="media"><img src="{{src}}"></div>{{/media}}
</div>

