.uppColumn {
	width: 46%;
	padding: 5px;
	margin-right: 10px;
	float: left;
	border: 1px dotted #f4f4f4;
}

.uppBox h1 {
	clear: both;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
}

.uppWikiBox {
		border: 1px solid #000000;
		width: 120px;
		height: 110px;
		padding: 2px;
		float: left;
		margin-left: 5px;
		margin-bottom: 5px;
	}

.uppAchievementsBox {
	border: 1px dotted #000000;
	height: 200px;
	padding: 2px;
	background: #f4f4f4;
}
