@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/gradient";
//@import "../../../../skins/oasis/css/mixins/menus";
//@import "../../../../skins/oasis/css/mixins/forms";
//@import "../../../../skins/oasis/css/mixins/opacity";

@mixin moduleTitle(){
	h2 {
		font-size: 14px;
		font-weight: bold;
	}
}


.UserProfileRailModule_TopWikis {
	h2 {
		font-size: 12px;
		font-weight: bold;
	}
}

.UserProfileRailModule_RecentActivity {
	@include moduleTitle;
}

.UserProfileRailModule_TopPages {
	@include moduleTitle;
}