@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/rail-module";
@import "../../../../skins/oasis/css/mixins/opacity";

.UserProfileRailModule_TopWikis {
	position: relative;
	padding-bottom: 25px;

	table {
		width: 100%;
		margin-bottom: 5px;
		
		tr {
			height: 30px;
			
			&.odd {
				background-color: $color-comment-odd;
			}

			th {
				text-align: left;
				vertical-align: middle;
				width: 50%;
				font-size: 12px;
				font-weight: bold;
			}

			td {
				text-align: left;
				vertical-align: middle;
				padding: 0;

				&.rank{
					padding-left: 6px;
					
					.counter {
						font:{
							weight: bold;
							size: 13px;
						}

						color: darken($color-page-border, 20%);
					}

					.hide-control {
						display: none;
					}
				}

				&.edit-count {
					.percentage-bar {
						@include border-radius(10px);
						@include linear-gradient($color-buttons, right, $color-button-highlight, 35%, $color-buttons, 65%);
						color: $color-button-text;
						display: inline-block;
						font-size: 10px;
						height: 15px;
						line-height: 16px;
						margin: 0;
						padding: 0 7px;
						min-width: 9%;
					}
				}

				img {
					vertical-align: middle;
				}
			}
		}
	}

	.more {
		float: right;
		font-size: 10px;
		font-weight: bold;
	}
}

.UserProfileRailModule_TopPages {
	@include rail-module;
	padding-bottom: 20px;

	.top-page-item {
		position: relative;
		display: inline-block;
		width: 70px;
		margin: 10px;
		vertical-align: top;

		a, a:hover, a:visited {
			color: $color-text;
			text-decoration:none;
			display: block;
		}

		img {
			@include box-shadow(0, 0, 25px, mix($color-page, #000, 60%));
			position: absolute;
			padding: 3px;
			width: 70px;
			height: 107px;
			background-color: $color-page;
		}

		.snippet {
			@include box-shadow(0, 0, 25px, mix($color-page, #000, 60%));
			position: absolute;
			padding: 3px;
			width: 70px;
			height: 107px;
			overflow: hidden;
			background-color: $color-page;

			.quote {
				font-style: normal;
				font-weight: bold;
				font-size: 40px;
				color: $color-text;
				position: absolute;
				display: block;
				left: 7px;
				//top: 0px;
				padding: 0;
			}

			.text {
				font-style: normal;
				font-size: 13px;
				font-weight: bold;
				color: $color-text;
				position: relative;
				display: block;
				margin: 0;
				padding: 0;
				padding-left: 24px;
				padding-top: 13px;
				line-height: 17px;
				height: 85px;
				overflow: hidden;
			}
		}

		details {
			@include border-radius-ne(9px);
			@include border-radius-se(9px);
			position: relative;
			display: inline-block;
			background-color: $color-buttons;
			color: $color-button-text;
			padding: 3px 13px 3px 10px;
			margin-top: 100px;
			line-height: 16px;
			max-height: 48px;
			overflow: hidden;
			font-weight: normal;
		}
	}
}

.user-profile-box{
	@include box-shadow(0, 10px, 10px, mix($color-page, #000));
	border: 1px solid $color-page-border;
	background-color: $color-page;
	z-index: 2000;
	padding: 10px;
}

ul.user-profile-action-menu {
	position: absolute;
	right: 8px;

	li {
		&.unhide-link{
			text-align: right;
			padding-bottom: 10px;

			.more {
				float: none;
			}

			img{
				&.chevron {
					border-top-color: $color-text;
				}
			}
		}

		&.hidden-item {
			@include clearfix;
			border-top: 1px solid $color-page-border;
			padding: 5px 10px 5px 10px;
			display: none;

			.item-name {
				line-height: 20px;
				vertical-align: middle;
				float: left;
			}

			.unhide-control {
				float: right;
				margin-left: 10px;
				
				.UnhideButton {
					line-height: 20px;
					font-weight: normal;

					img {
						vertical-align: middle;
					}
				}
			}

			&.first{
				border-top: none;
			}
		}
	}
}