.color1 {
	background: #0075C0;
	color: #FFF;
}
.color1, .color1 a {
	color: #FFF;
}
.color2 {
	background: #252525 center top;
	background-image: url(/skins/answers/carbon/images/background.gif); /* $wgCdnStylePath */
}
.accent {
	background: #003555;
	color: #FFF;
}
.accent a {
	color: #70B8FF;
}
.neutral {
	background: #2F2F2F;
}
.dark_text_1 {
	color: #70B8FF;
}
.dark_text_2 {
	color: #32C032;
}

#wikia_logo {
	background-image: url(/skins/answers/carbon/images/wikia_logo.png); /* $wgCdnStylePath */
}

#wikia_page {
	background: #333;
	color: #EEE;
}

/* @group category select */

/* synthesize .accent */
	#mw-normal-catlinks span a:link, #mw-normal-catlinks span a:visited {
		background: #003555;
	}

	/* synthesize .color1 */
	#mw-normal-catlinks span a:hover, 
	#csAddCategorySwitch, 
	#csAddCategorySwitch a, 
	#CSitemOuterAddCategory {
		background: #0075C0 !important;
		color: #FFF;
	}
		
/* @end */

/* @group borders */

	#answers_ask input.header_field, 
	#tabAsk input.header_field, 
	#tabSearch input.header_field,
	#question_box,
	#catlinks {
		border-color: #003555 /* .accent */
	}

	#searchform {
		border-color: #0075C0; /* .color1 */
	}

/* @end */

/* @group misc */

	#question_heading {
		color: #70B8FF;
	}

	#qa_toolbox a { 
		color: #EEE;
	}
	#qa_toolbox a:visited { 
		color: #EEE; 
	}
	#qa_toolbox a:active { 
		color: #EEE; 
	}
	#qa_button a {
		color: #514833;
	}

	#answer_edit_link a:link, 
	#question_edit_link a:link, 
	#answer_edit_link a:visited, 
	#question_edit_link a:visited {
		color: #CCC;
	}

	.userEditPoints {
		color: #514833;
	}
/* @end */
