<svg class="{{spinnerClasses}}" width="{{fullDiameter}}" height="{{fullDiameter}}"
     viewBox="0 0 {{fullDiameter}} {{fullDiameter}}" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate({{fullRadius}}, {{fullRadius}})">
        <circle class="{{strokeClasses}}" fill="none" stroke-width="{{strokeWidth}}"
                stroke-dasharray="{{strokeLength}}" stroke-dashoffset="{{strokeLength}}"
                stroke-linecap="round" r="{{radius}}"></circle>
    </g>
</svg>
