{{#.}}
    <li data-type={{type}} data-uri={{uri}} class="wds-notification-card {{#isUnread}}wds-is-unread{{/isUnread}}">
        {{#showAvatars}}
            <div class="wds-avatar-stack">
                {{#avatars}}
                    <a class="wds-avatar-stack__avatar" href="{{profileUrl}}">
                        <img class="wds-avatar" src="{{avatarUrl}}" title="{{name}}"
                             alt="{{name}}">
                    </a>
                {{/avatars}}
                {{#showAvatarOverflow}}
                    <div class="wds-avatar-stack__overflow">+{{avatarOverflow}}</div>
                {{/showAvatarOverflow}}
            </div>
        {{/showAvatars}}

        <a href="{{latestEventUri}}" class="wds-notification-card__outer-body">
            <div class="wds-notification-card__icon-wrapper">
                <svg class="wds-icon"
                     viewBox="0 0 18 18">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="#{{icon}}"></use>
                </svg>
            </div>
            <div class="wds-notification-card__body">
                <p class="wds-notification-card__text">
                    {{{text}}}
                </p>
                {{#showSnippet}}
                    <p class="wds-notification-card__snippet">
                        {{snippet}}
                    </p>
                {{/showSnippet}}
                <ul class="wds-notification-card__context-list">
                    <li class="wds-notification-card__context-item">
                        {{timeAgo}}
                    </li>
                    <li class="wds-notification-card__context-separator">·</li>
                    <li class="wds-notification-card__context-item wds-notification-card__community">
                        {{communityName}}
                    </li>
                </ul>
            </div>
        </a>
    </li>
{{/.}}
