// Monobook skin specific styling
@import "../../../../../skins/wikia/css/color";
@import "../../../../../skins/oasis/css/mixins/arrow";
@import "../../../../../skins/oasis/css/mixins/box-shadow";

.ContentHeader {
	border-bottom: 1px solid $color-page-border;
	border-top: 1px solid $color-page-border;
}

.sorting {
	.arrow {
		@include arrow( 4px, $color-text );
	}

	.menu {
		@include box-shadow( 0, 2px, 5px, $color-text );
		background: $color-page;
		border-top: 1px solid $color-page-border;
		color: $color-text;

		li {
			&:hover {
				background: $color-page-border;
			}

			.option {
				color: $color-text;
			}
		}
	}
}
