<div class="community-page-all-contributors-legend">{{allAdminsLegend}}</div>
<ul class="reset top-contributors">
	{{#allAdminsList}}
		<li class="community-page-contributors-list-item">
			<div class="avatar-container">
				<a data-tracking="all-admins-user-avatar" href="{{profilePage}}">{{{avatar}}}</a>
			</div>
			<div class="community-page-contributor-details">
				<a data-tracking="all-admins-user" href="{{profilePage}}">{{userName}}</a>
				{{#isAdmin}}
					<span class="community-page-subtle">{{admin}}</span>
				{{/isAdmin}}
			</div>
			<div class="community-page-details">{{timeAgo}}</div>
		</li>
	{{/allAdminsList}}
	{{^allAdminsList}}
		<div class="community-page-zero">
			{{noAdminText}}
			<a href="{{noAdminHref}}">{{noAdminContactText}}</a>
		</div>
	{{/allAdminsList}}
</ul>
