<h2>{{allMembersHeaderText}}</h2>
<ul class="reset top-contributors">
	{{#admins}}
		<li>
			<div class="avatar-container">
				<a data-tracking="all-admins-avatar" href="{{profilePage}}">{{{avatar}}}</a>
			</div>
			<div class="contributor-details">
				<a data-tracking="all-admins" href="{{profilePage}}">{{userName}}</a>
				{{#isAdmin}}
					<span class="subtle">{{admin}}</span>
				{{/isAdmin}}
				<span class="details">{{contributionsText}}</span>
			</div>

		</li>
	{{/admins}}
	{{^admins}}
		<div class="zero">
			{{noAdminText}}
			<a href="{{noAdminHref}}">{{noAdminContactText}}</a>
		</div>
	{{/admins}}
</ul>
