<h2>{{allMembersHeaderText}}</h2>
<ul class="reset top-contributors">
	{{#members}}
		<li class="community-page-contributor">
			<div class="avatar-container">
				<a data-tracking="all-members-user-avatar" href="{{profilePage}}">{{{avatar}}}</a>
			</div>
			<div class="community-page-contributor-details">
				<a data-tracking="all-members-user" href="{{profilePage}}">{{userName}}</a>
				{{#isAdmin}}
					<span class="community-page-subtle">{{admin}}</span>
				{{/isAdmin}}
				<span class="community-page-details">{{joinedText}} {{joinDate}}</span>
			</div>

		</li>
	{{/members}}
	{{^members}}
		<div class="community-page-zero">
			{{noMembersText}}
		</div>
	{{/members}}
</ul>
