<h2>{{allMembersHeaderText}}</h2>
<ul class="reset top-contributors">
	{{#members}}
		<li class ="community-page-all-contributors-item {{#isCurrent}}community-page-current-contributor{{/isCurrent}}">
			<div class="avatar-container">
				<a href="{{profilePage}}">{{{avatar}}}</a>
			</div>
			<div class="contributor-details">
				<a href="{{profilePage}}">{{userName}}</a>
				{{#isAdmin}}
					<span class="subtle">{{admin}}</span>
				{{/isAdmin}}
				<span class="details">{{timeAgo}}</span>
			</div>
		</li>
	{{/members}}
	{{^members}}
		<div class="zero">
			{{noMembersText}}
		</div>
	{{/members}}
	{{#haveMoreMembers}}
		<li class="community-page-all-contributors-item">
			<div class="contributor-details">
				<a href="{{moreMembersLink}}">{{moreMembersText}}</a>
			</div>
		</li>
	{{/haveMoreMembers}}
</ul>
