<a href="#" class="close community-page-benefits-modal-close" title="close">close</a>
<a href="{{ buttonUrl }}" class="community-page-benefits-modal-area">
	<section class="community-page-benefits-image" data-track="benefits-image"></section>
	<section class="community-page-benefits-content">
		<section class="community-page-benefits-modal-text">
			<h2 class="community-page-benefits-modal-main-title" data-track="main-title">{{ mainTitle }}</h2>

			<span class="community-page-benefits-modal-edit-icon" data-track="edit-icon"></span>
			<div class="community-page-benefits-modal-message">
				<h3 class="community-page-benefits-modal-section-title" data-track="edit-title">{{ editSubtitle }}</h3>
				<p>{{ editText }}</p>
			</div>

			<span class="community-page-benefits-modal-connect-icon" data-track="connect-icon"></span>
			<div class="community-page-benefits-modal-message">
				<h3 class="community-page-benefits-modal-section-title" data-track="connect-title">{{ connectSubtitle }}</h3>
				<p>{{ connectText }}</p>
			</div>

			<span class="community-page-benefits-modal-search-icon" data-track="explore-icon"></span>
			<div class="community-page-benefits-modal-message">
				<h3 class="community-page-benefits-modal-section-title" data-track="explore-title">{{ exploreSubtitle }}</h3>
				<p>{{ exploreText }}</p>
			</div>

		</section>
		<section class="community-page-benefits-modal-action-point">
			<button class="community-page-entry-point-button" data-track="entry-point-button">{{ buttonText }}</button>
		</section>
	</section>
</a>
