<a href="#" class="close community-page-benefits-modal-close" title="close">close</a>
<section class="community-page-benefits-image"></section>
<section class="community-page-benefits-content">
	<section class="community-page-benefits-modal-text">
		<h2 class="community-page-benefits-modal-main-title">The Ore ga Ojou-sama Gakkou ni Shomin Sample Toshite
			Rachirareta
			Ken Wiki Community is built by 1,203 fans like you.</h2>

		<span class="community-page-benefits-modal-edit-icon"></span>
		<div class="community-page-benefits-modal-message">
			<h3 class="community-page-benefits-modal-section-title">Edit</h3>
			<p>Help fellow members write articles, organize facts, and upload images to build the ultimate fan-run Ore
				ga
				Ojou-sama Gakkou ni Shomin Sample Toshite Rachirareta Ken Wiki community.</p>
		</div>


		<span class="community-page-benefits-modal-edit-icon"></span>
		<div class="community-page-benefits-modal-message">
			<h3 class="community-page-benefits-modal-section-title">Edit</h3>
			<p>Help fellow members write articles, organize facts, and upload images to build the ultimate fan-run Ore
				ga
				Ojou-sama Gakkou ni Shomin Sample Toshite Rachirareta Ken Wiki community.</p>
		</div>

		<span class="community-page-benefits-modal-edit-icon"></span>
		<div class="community-page-benefits-modal-message">
			<h3 class="community-page-benefits-modal-section-title">Edit</h3>
			<p>Help fellow members write articles, organize facts, and upload images to build the ultimate fan-run Ore
				ga
				Ojou-sama Gakkou ni Shomin Sample Toshite Rachirareta Ken Wiki community.</p>
		</div>

	</section>
	<section class="community-page-benefits-modal-action-point">
		<a class="community-page-entry-point-button">Help out</a>
	</section>
</section>
