<a href="#" class="close community-page-benefits-modal-close" title="close">close</a>
<section class="community-page-benefits-image"></section>
<section class="community-page-benefits-content">
	<section class="community-page-benefits-modal-text">
		<h2 class="community-page-benefits-modal-main-title">{{ mainTitle }}</h2>

		<span class="community-page-benefits-modal-edit-icon"></span>
		<div class="community-page-benefits-modal-message">
			<h3 class="community-page-benefits-modal-section-title">{{ editSubtitle }}</h3>
			<p>{{ editText }}</p>
		</div>


		<span class="community-page-benefits-modal-edit-icon"></span>
		<div class="community-page-benefits-modal-message">
			<h3 class="community-page-benefits-modal-section-title">{{ connectSubtitle }}</h3>
			<p>{{ connectText }}</p>
		</div>

		<span class="community-page-benefits-modal-edit-icon"></span>
		<div class="community-page-benefits-modal-message">
			<h3 class="community-page-benefits-modal-section-title">{{ exploreSubtitle }}</h3>
			<p>{{ exploreText }}</p>
		</div>

	</section>
	<section class="community-page-benefits-modal-action-point">
		<a class="community-page-entry-point-button">{{ buttonText }}</a>
	</section>
</section>
