<div class="community-page-cards-module-header">
	{{insightsModules.heading}}
</div>
<div class="community-page-cards-module-block">
	{{#insightsModules.modules}}
		{{>insightsModule}}
	{{/insightsModules.modules}}
	{{#defaultModules.modules}}
		{{>insightsModule}}
	{{/defaultModules.modules}}
</div>
