<div class="community-page-cards-module">
    <div class="community-page-cards-module-header">
        {{insightsModules.heading}}
    </div>
    <div class="community-page-cards-module-block">
        {{#insightsModules.modules}}
            {{>cardModule}}
        {{/insightsModules.modules}}
        {{#defaultModules.modules}}
            {{>cardModule}}
        {{/defaultModules.modules}}
    </div>
</div>
