<section class="community-page-card-module" data-tracking="community-page-insights-{{type}}">
	<div class="community-page-card-module-header">
		<div class="community-page-card-module-header-icon">
			<svg width="48" height="48">
				<use xlink:href="/extensions/wikia/CommunityPage/images/{{{icon}}}.svg#icon"></use>
			</svg>
		</div>
		<span>{{title}}</span>
	</div>
	{{#description}}
		<div class="community-page-card-module-description">
			{{description}}
		</div>
	{{/description}}
	<div class="community-page-card-module-list reset">
		{{#pages}}
			<div class="community-page-card-module-list-item">
				<span class="community-page-card-module-article-data">
					<a href="{{link.editlink}}" data-tracking="page-link">
						<span>{{link.text}}</span>
					</a>
				</span>
			</div>
		{{/pages}}
	</div>
	<div class="community-page-card-module-footer">
		{{#helplink}}
			<div class="community-page-card-module-help">
				<a href="{{helplink}}">{{{helpicon}}}</a>
			</div>
		{{/helplink}}
		{{#fulllistlink}}
			<a class="community-page-card-module-full-list-link" href="{{fulllistlink}}"
			   data-tracking="view-full-list">
				{{cardModules.messages.fulllist}}
			</a>
		{{/fulllistlink}}
		{{#actionlink}}
			<a class="community-page-card-module-full-list-link" href="{{actionlink}}"
			   data-tracking="action-link">
				{{actiontext}}
			</a>
		{{/actionlink}}
	</div>
</section>
