{{>pageHeader}}

<div class="CommunityPageContainer">
	<div class="CommunityPageMainContent">
		{{#insightsModules.modules}}
			{{>insightsModule}}
		{{/insightsModules.modules}}
	</div>
	<div class="WikiaRail">
		{{>adminsModule}}
		{{#contributorsModuleEnabled}}
			{{>contributorsModule}}
		{{/contributorsModuleEnabled}}
		{{>communityPolicyModule}}
		{{>recentActivityModule}}
		{{>helpModule}}
	</div>
</div>
