{{{inspectlet}}}
{{>pageHeader}}

<div class="CommunityPageContainer">
	<div class="CommunityPageMainContent">
		{{>callToActionModule}}
		{{>communityTodoListModule}}
	</div>
	<div class="WikiaRail">
		{{>helpModule}}
		{{>adminsModule}}
		{{#contributorsModuleEnabled}}
			{{>contributorsModule}}
		{{/contributorsModuleEnabled}}
		{{>communityPolicyModule}}
		{{>recentActivityModule}}
	</div>
</div>
