{{>pageHeader}}

<div class="CommunityPageContainer">
	<div class="CommunityPageMainContent">
		{{>communityTodoListModule}}
		{{#insightsModules.modules}}
			{{>insightsModule}}
		{{/insightsModules.modules}}
	</div>
	<div class="WikiaRail">
		{{>helpModule}}
		{{>contributorsModule}}
		{{>communityPolicyModule}}
		{{>recentActivityModule}}
	</div>
</div>
