{{#communityPolicyModule}}
	<div class="module CommunityPolicyModule">
		{{#showEditLink}}
				<a class="community-page-policy-edit" href="{{editPolicyUrl}}">{{policyEdit}}</a>
		{{/showEditLink}}
		<h2>
			{{policyHeading}}
		</h2>
		<p class="community-page-policy-text">{{policyText}}</p>
		<a data-tracking="view-community-page-policy" href="{{policyUrl}}">{{policyView}}</a>
	</div>
{{/communityPolicyModule}}
