{{#communityPolicyModule}}
	<div class="module CommunityPolicyModule">
		{{#showEditLink}}
			<div class="community-page-policy-edit">
				<a href="{{editPolicyUrl}}">{{policyEdit}}</a>
			</div>
		{{/showEditLink}}
		<h2 class="community-page-policy-heading">
			{{policyHeading}}
		</h2>
		<div>
			<div class="community-page-policy-text">
				{{policyText}}
			</div>
			<div class="community-page-policy-view">
				<a data-tracking="view-community-page-policy" href="{{policyUrl}}">{{policyView}}</a>
			</div>
		</div>
	</div>
{{/communityPolicyModule}}
