<div class="module contributors-module">
	{{#topContributors}}
		{{>topContributors}}
	{{/topContributors}}
	{{#topAdminsData}}
		{{>topAdmins}}
	{{/topAdminsData}}
	{{#recentlyJoined}}
		{{>recentlyJoined}}
	{{/recentlyJoined}}
</div>
