<div class="module ContributorsModule">
	{{#topContributors}}
		{{>topContributors}}
	{{/topContributors}}
	{{#topAdmins}}
		{{>topAdmins}}
	{{/topAdmins}}
	{{#recentlyJoined}}
		{{>recentlyJoined}}
	{{/recentlyJoined}}
</div>
