<form id="new-event-form" action="#">
	<section>
		<div>
			<label for="venue">Venue</label>
			<input id="venue" name="venue" type="text" class="required">
		</div>
		<div>
			<label for="date">Date</label>
			<input id="date" name="date" type="text" class="required">
		</div>
		<div>
			<label for="description">Description</label>
			<input id="description" name="description" type="text" class="required">
		</div>
	</section>
</form>
<div>
	<a href="#" id="community-page-new-event" class="meetup-button">Send Invites</a>
</div>
