<div class="meetup-header">
	{{#currentUser}}
		This will create an event in {{location}} for this community. When you create the event, {{usersInLocation}} users in this location will be invited.
	{{/currentUser}}
</div>
<form id="new-event-form" action="#" class="meetup-form">
	<section>
		<div class="meetup-form-line">
			<label for="venue">Venue</label>
			<input id="venue" name="venue" type="text" class="required">
		</div>
		<div class="meetup-form-line">
			<label for="date">Date</label>
			<input id="date" name="date" type="text" class="required">
		</div>
		<div class="meetup-form-line">
			<label for="description">Description</label>
			<input id="description" name="description" type="text" class="required">
		</div>
	</section>
</form>
<div>
	<a href="#" id="community-page-new-event" class="meetup-button">Create Event and Send Invites</a>
</div>
