<div class="community-page-header-image"></div>
<div class="community-page-first-edit-heading">
	{{heading}}
</div>
<div class="community-page-first-edit-subheading">
	{{subheading}}
</div>
<div class="community-page-first-edit-getstarted">
	<a href="{{getStartedLink}}" class="community-page-first-edit-button" data-tracking="first-edit-get-started">
		{{getStarted}}
	</a>
</div>
<div class="community-page-first-edit-maybelater">
	<a href="#" id="community-page-first-edit-maybelater-button" data-tracking="first-edit-maybe-later">
		{{maybeLater}}
	</a>
</div>
