<div class="module help-module">
	<h2>{{helpModule.title}}</h2>
    <a data-tracking="help-page-link" href="{{helpModule.editPageLink}}">{{helpModule.editPage}}&nbsp;&rarr;</a><br/>
    <a data-tracking="help-page-link" href="{{helpModule.addLinksPageLink}}">{{helpModule.addLinks}}&nbsp;&rarr;</a><br/>
    <a data-tracking="help-page-link" href="{{helpModule.addNewPageLink}}">{{helpModule.addNewPage}}&nbsp;&rarr;</a>
</div>
