<section class="community-page-insights-module" data-tracking="community-page-insights-{{type}}">
	<div class="community-page-insights-module-header">
		<div class="community-page-insights-module-header-icon">
			<svg width="48" height="48">
				<use xlink:href="/extensions/wikia/CommunityPage/images/{{{icon}}}.svg#icon"></use>
			</svg>
		</div>
		<h3>{{title}}</h3>
	</div>
	<ul class="community-page-insights-module-list reset">
		{{#pages}}
			<li class="community-page-insights-module-list-item">
				<span class="community-page-insights-module-article-data">
					<a href="{{link.editlink}}" data-tracking="page-link">{{link.text}}</a>
				</span>
			</li>
		{{/pages}}
	</ul>
	<div class="community-page-insights-module-footer">
		{{#helplink}}
			<div class="community-page-insights-module-help">
				<a href="{{helplink}}">{{{helpicon}}}</a>
			</div>
		{{/helplink}}
		{{#fulllistlink}}
			<a class="community-page-insights-module-full-list-link" href="{{fulllistlink}}"
			   data-tracking="view-full-list">
				{{insightsModules.messages.fulllist}}
			</a>
		{{/fulllistlink}}
	</div>
</section>
