<section class="community-page-insights-module">
	<h3 class="community-page-insights-module-header">{{title}}</h3>
	<a class="community-page-insights-module-full-list-link" href="{{fulllistlink}}">{{insightsModules.messages.fulllist}} &rarr;</a>
	<p class="community-page-insights-module-description">{{description}}</p>
	<ul class="community-page-insights-module-list">
		{{#pages}}
			<li class="community-page-insights-module-list-item">
				<a class="community-page-insights-module-edit-icon community-page-insights-module-inline-data" href="{{editlink}}"></a>
				<span class="community-page-insights-module-article-data community-page-insights-module-inline-data">
					<a href="{{link.url}}">{{link.text}}</a>
					<div class="community-page-insights-module-metadata">{{{metadataDetails}}} {{#pageviews}}&middot; {{pageviews}}{{/pageviews}}</div>
				</span>
				<a class="community-page-insights-module-edit-link community-page-insights-module-inline-data" href="{{editlink}}">{{edittext}}</a>
			</li>
		{{/pages}}
	</ul>
</section>
