<div class="module contributors-module meetup-section community-page-contributors-module-section">
    {{#meetupData}}
      {{#isAdmin}}
        {{#event}}
          <h2>Upcoming Meetups Near You</h2>
	        <div class="event-data">
		        Venue : {{location}}<br/><br/>
            Time: {{time}}<br/><br/>
	        </div>
	        <div class="event-description">
		        {{description}}
	        </div>
          <div class="event-organizer">
            Contact {{createdBy}} to know more details!
          </div>
          <div>
            <a href="#" id="community-page-delete-event" class="meetup-button">Delete Event</a>
          </div>
        {{/event}}
        {{^event}}
          <h2>Nearby Users</h2>
          <ul class="reset top-contributors">
            {{#users}}
              <li class="community-page-contributors-list-item">
                <div class="avatar-container">
                  <a data-tracking="top-contributors-user-avatar" href="{{profilePage}}">{{{avatar}}}</a>
                </div>
                <div class="community-page-contributor-rank">
                  {{count}}.
                </div>
                <div class="community-page-contributor-details">
                  <a data-tracking="top-contributors-user" href="{{profilePage}}">{{userName}}</a>
                  <span class="community-page-subtle">{{city}}</span>
                </div>
              </li>
            {{/users}}
          </ul>
          <div>
            <a href="#" id="community-page-create-event" class="meetup-button">Create Event</a>
          </div>
        {{/event}}
      {{/isAdmin}}
      {{^isAdmin}}
        {{#event}}
          <h2>Upcoming Meetups Near You</h2>
          <div class="event-data">
            Venue : {{location}}<br/><br/>
            Time: {{time}}<br/><br/>
          </div>
          <div class="event-description">
            {{description}}
          </div>
          <div class="event-organizer">
            Contact {{createdBy}} to know more details!
          </div>
          <div>
            <a href="#" id="community-page-delete-event" class="meetup-button">Delete Event</a>
          </div>
        {{/event}}
        {{^event}}
            <div class="event-data">
	          There are no upcoming events!
	        </div>
        {{/event}}
      {{/isAdmin}}
    {{/meetupData}}
</div>
