<div class="module meetup-section community-page-contributors-module-section">
	<h2>Nearby Users</h2>
	{{#nearByUsers}}
		<ul class="reset top-contributors">
			{{#users}}
				<li class="community-page-contributors-list-item">
					<div class="avatar-container">
						<a data-tracking="top-contributors-user-avatar" href="{{profilePage}}">{{{avatar}}}</a>
					</div>
					<div class="community-page-contributor-rank">
						{{count}}.
					</div>
					<div class="community-page-contributor-details">
						<a data-tracking="top-contributors-user" href="{{profilePage}}">{{userName}}</a>
						<span class="community-page-subtle">{{city}}</span>
					</div>
				</li>
			{{/users}}
		</ul>
		<div>
			<a href="#" id="community-page-create-event" class="meetup-button">Create Event</a>
		</div>
	{{/nearByUsers}}
</div>
