<ul class="reset modal-nav">
	<li class="modal-nav-all"><a href="#">{{allText}} ({{allCount}})</a></li>
	<li class="modal-nav-admins"><a href="#">{{adminsText}} ({{adminsCount}})</a></li>
	<li class="modal-nav-leaderboard"><a href="#">{{leaderboardText}}</a></li>
</ul>