<ul class="reset modal-nav">
	<li class="modal-nav-all"><a id="modalTabAll" href="#">{{allText}} ({{allCount}})</a></li>
	<li class="modal-nav-admins"><a id="modalTabAdmins" href="#">{{adminsText}} ({{adminsCount}})</a></li>
	<li class="modal-nav-leaderboard"><a id="modalTabLeaderboard" href="#">{{leaderboardText}}</a></li>
</ul>
