<ul class="reset modal-nav">
	<li><a href="#" class="modal-nav-all">{{allText}} ({{allCount}})</a></li>
	<li><a href="#" class="modal-nav-admins">{{adminsText}} ({{adminsCount}})</a></li>
	<li><a href="#" class="modal-nav-leaderboard">{{leaderboardText}}</a></li>
</ul>