{{#topModeratorsData}}
    {{#topModeratorsModuleEnabled}}
    <div class="community-page-module community-page-rail-moderators-module">
        <section class="community-page-moderators-module-section">
            <div class="community-page-module-section-title">{{topModeratorsHeaderText}}</div>
            <ul class="top-moderators reset">
                {{#topModerators}}
                    <li class="community-page-moderators-list-item">
                        <div class="avatar-container">
                            <a data-tracking="top-moderators-user-avatar" href="{{profilePage}}">{{{avatar}}}</a>
                        </div>
                        <div class="community-page-moderator-details">
                            <a data-tracking="top-moderators-user" href="{{profilePage}}">{{userName}}</a>
                        </div>
                    </li>
                {{/topModerators}}
            </ul>
        </section>
    </div>
    {{/topModeratorsModuleEnabled}}
{{/topModeratorsData}}