{{#topModeratorsData}}
	{{#topModeratorsModuleEnabled}}
	<div class="community-page-module community-page-moderators-module">
		<section class="community-page-moderators-module-section">
			<div class="community-page-module-section-title">{{topModeratorsHeaderText}}</div>
			<div class="top-moderators">
				{{#topModerators}}
					<div class="community-page-moderators-list-item">
						<div class="user-avatar-wrapper">
							<div class="badge-container" title="{{badge.badgeText}}">{{{badge.badgeMarkup}}}</div>
							<div class="avatar-container">
								<a data-tracking="top-moderators-user-avatar" href="{{profilePage}}" title="{{userName}}">
									{{{avatar}}}
								</a>
							</div>
						</div>
						<div class="community-page-moderator-details">
							<a data-tracking="top-moderators-user" href="{{profilePage}}">{{userName}}</a>
						</div>
					</div>
				{{/topModerators}}
			</div>
		</section>
	</div>
	{{/topModeratorsModuleEnabled}}
{{/topModeratorsData}}
