<div class="community-page-header" {{#heroImageUrl}}style="background-image: url({{heroImageUrl}}); background-size: cover;"{{/heroImageUrl}}>
	<div class="community-page-header-content">
		<h1>
			{{headerWelcomeMsg}}
		</h1>
		<p>
			<a href="#" class="signup-button">{{inviteFriendsText}}</a>
		</p>
	</div>
</div>
<div class="community-page-admin-welcome-message">
	<p class="community-page-admin-welcome-message-text">{{adminWelcomeMsg}}</p>
</div>
