<div id="CommunityPageHeader" class="community-page-header">
	<div class="community-page-header-content">
		<h1>
			{{headerWelcomeMsg}}
		</h1>
		<p>
			<a id="CommunityPageInviteFriends" href="#" class="signup-button">{{inviteFriendsText}}</a>
		</p>
	</div>
</div>
<div id="CommunityPageAdminWelcomeMessage" class="community-page-admin-welcome-message">
	<p class="community-page-admin-welcome-message-text">{{adminWelcomeMsg}}</p>
</div>
