<div class="community-page-header {{#heroImageUrl}}community-page-header-cover" style="background-image: url({{heroImageUrl}});{{/heroImageUrl}}">
	<div class="community-page-header-content">
		<h1 class="community-page-heading">{{{headerWelcomeMsg}}}</h1>
	</div>
</div>
<div class="community-page-admin-welcome-message">
	<p class="community-page-admin-welcome-message-text">{{adminWelcomeMsg}}</p>
</div>
