<div class="community-page-recently-joined">
	{{#haveNewMembers}}
		<div class="members">
			<h2>{{recentlyJoinedHeaderText}}</h2>
			{{#members}}
				<div class="avatar-container">
					<a href="{{profilePage}}">{{{avatar}}}</a>
				</div>
			{{/members}}
		</div>
	{{/haveNewMembers}}
	<span class="more-link">
		<a href="#" id="viewAllMembers">{{allMembers}}</a>
	</span>
</div>
