{{#recentActivityModule}}
	<div class="module RecentActivityModule">
		<h2 class="activity-heading">{{activityHeading}}</h2>
		<ul class="reset recent-changes">
			{{#activity}}
				<li>
					<div class="avatar-container">
						<a data-tracking="user-avatar-link" href="{{profilePage}}">{{{userAvatar}}}</a>
					</div>
					<div class="change-message">
						{{{changeMessage}}}
					</div>
					{{#timeAgo}}
						<div class="community-page-subtle">
							{{timeAgo}}
						</div>
					{{/timeAgo}}
				</li>
			{{/activity}}
		</ul>
		<a data-tracking="view-all-activity-link" href="{{moreActivityLink}}">{{moreActivityText}}</a>
	</div>
{{/recentActivityModule}}
