{{#recentActivityModule}}
	<div class="module recent-activity-module">
		<h2 class="activity-heading">{{activityHeading}}</h2>
		<ul class="reset recent-changes">
			{{#activity}}
				<li class="community-page-recent-activity-item">
					<div class="avatar-container">
						<a data-tracking="user-avatar-link" href="{{profilePage}}">{{{userAvatar}}}</a>
					</div>
					<div class="community-page-recent-activity-item-info">
						<div class="change-message">
							{{{changeMessage}}}
						</div>
						{{#timeAgo}}
							<div class="community-page-subtle">
								{{timeAgo}}
							</div>
						{{/timeAgo}}
					</div>
				</li>
			{{/activity}}
		</ul>
		<a data-tracking="view-all-activity-link" href="{{moreActivityLink}}">{{moreActivityText}}&nbsp;&rarr;</a>
	</div>
{{/recentActivityModule}}
