<div class="top-admins">
	<h2>{{topAdminsHeaderText}}</h2>
	<ul class="reset">
		{{#admins}}
			<li class="contributor">
				<div class="avatar-container">
					<a href="{{profilePage}}">{{{avatar}}}</a>
				</div>
				<div class="contributor-details">
					<a href="{{profilePage}}">{{userName}}</a>
				</div>
			</li>
		{{/admins}}
		{{^admins}}
			<div class="zero">
				{{noAdminText}}
				<a href="{{noAdminHref}}">{{noAdminContactText}}</a>
			</div>
		{{/admins}}
	</ul>
	{{#haveOtherAdmins}}
		<div class="contributor" id="openModalTopAdmins">
			<div class="avatar-container more">+{{otherAdminCount}}</div>
			<div class="contributor-details">
				<a href="">{{otherAdmins}}</a>
			</div>
		</div>
	{{/haveOtherAdmins}}
</div>
