<div class="top-admins">
	<h2>{{topAdminsHeaderText}}</h2>
	<ul class="reset">
		{{#topAdminsList}}
			<li class="community-page-contributor">
				<div class="avatar-container">
					<a href="{{profilePage}}">{{{avatar}}}</a>
				</div>
				<div class="community-page-contributor-details">
					<a href="{{profilePage}}">{{userName}}</a>
				</div>
			</li>
		{{/topAdminsList}}
		{{^topAdminsList}}
			<div class="community-page-zero">
				{{noAdminText}}
				<a href="{{noAdminHref}}">{{noAdminContactText}}</a>
			</div>
		{{/topAdminsList}}
	</ul>
	{{#haveOtherAdmins}}
		<div class="community-page-contributor" id="openModalTopAdmins">
			<div class="avatar-container more">+{{otherAdminsCount}}</div>
			<div class="community-page-contributor-details">
				<a href="">{{otherAdmins}}</a>
			</div>
		</div>
	{{/haveOtherAdmins}}
</div>
