<section class="community-page-contributors-module-section">
	<div class="community-page-module-section-title">{{topContributorsHeaderText}}</div>
	<div class="top-contributors">
		{{#contributors}}
			<div class="community-page-contributors-list-item">
				<div class="user-avatar-wrapper">
					<div class="badge-container" title="{{badge.badgeText}}">{{{badge.badgeMarkup}}}</div>
					<div class="avatar-container">
						<a data-tracking="top-contributors-user-avatar" href="{{profilePage}}" title="{{userName}}">
							{{{avatar}}}
						</a>
					</div>
				</div>
				<div class="community-page-contributor-rank">
					{{count}}.
				</div>
				<div class="community-page-contributor-details">
					<a data-tracking="top-contributors-user" href="{{profilePage}}">{{userName}}</a>
					<span class="community-page-subtle">{{contributionsText}}</span>
				</div>
			</div>
		{{/contributors}}
		{{^contributors}}
			<div class="community-page-zero">
				{{noContribsText}}
			</div>
		{{/contributors}}
	</div>
</section>
