<section class="community-page-contributors-module-section">
	<h2>{{topContribsHeaderText}}</h2>
	{{#isAnon}}
		<div class="community-page-anon-text">
			{{{anonText}}}
		</div>
	{{/isAnon}}
	<div class="user-details">
		<div class="avatar-container">
			{{{userAvatar}}}
		</div>
		{{^isAnon}}
			<div class="community-page-rank">
				<span>{{userRank}} <small>/ {{weeklyEditorCount}}</small></span>
				<span class="community-page-subtle">{{yourRankText}}</span>
			</div>
		{{/isAnon}}
		<div class="user-contrib-count">
			<span>{{userContribCount}}</span>
			<span class="community-page-subtle">{{userContributionsText}}</span>
		</div>
	</div>
	<ul class="reset top-contributors">
		{{#contributors}}
			<li class="community-page-contributors-list-item">
				<div class="avatar-container">
					<a data-tracking="top-contributors-user-avatar" href="{{profilePage}}">{{{avatar}}}</a>
				</div>
				<div class="community-page-contributor-rank">
					{{count}}.
				</div>
				<div class="community-page-contributor-details">
					<a data-tracking="top-contributors-user" href="{{profilePage}}">{{userName}}</a>
					<span class="community-page-subtle">{{contributionsText}}</span>
				</div>
			</li>
		{{/contributors}}
		{{^contributors}}
			<div class="community-page-zero">
				{{noContribsText}}
			</div>
		{{/contributors}}
	</ul>
</section>
