<div class="recirculation-horizontal recirculation-footer recirculation-unit">
  <h3>{{title}}</h3>

  <div class="items">
    {{#items}}
      <div class="item" data-index="{{index}}" data-source="{{source}}" {{#meta}}data-meta="{{meta}}"{{/meta}}>
        <a title="{{title}}" href="{{url}}">
          <div class="thumbnail">
            {{#isWiki}}
              <div class="recirculation-wiki-header">
                <span>Wiki</span>
              </div>
            {{/isWiki}}
            <img src="{{thumbnail}}" alt="{{title}}">
          </div>
          <h4>{{title}}</h4>
        </a>
      </div>
    {{/items}}
  </div>
</div>
