<section class="recirculation-impact-footer recirculation-unit">
  <h2>{{i18n.title}}</h2>
  <div class="items">
    {{#items}}
      <div class="item item-{{source}}{{#isVideo}} is-video{{/isVideo}}"
           data-index="{{index}}"
           data-source="{{source}}"
        {{#id}} data-id="{{id}}" {{/id}}
        {{#meta}} data-meta="{{meta}}" {{/meta}}
      >
        <a title="{{title}}" href="{{url}}" class="track-items">
          {{#presented_by}}
            <div class="recirculation-sponsored-header">
              Sponsored
            </div>
          {{/presented_by}}
          <div class="thumbnail placeholder-thumbnail">
            {{#thumbnail}}
              <img src="{{thumbnail}}" alt="{{title}}">
            {{/thumbnail}}
          </div>
          <div class="recirc-footer-title-container">
            {{^isPlista}}<div class="title_pretext">
              <div class="featured-fandom-subtitle">
                {{i18n.featuredFandomSubtitle}}
              </div>
              {{#presented_by}}
                <div class="recirculation-sponsored-footer">
                  Sponsored by {{presented_by}}
                </div>
              {{/presented_by}}
            </div>
            {{/isPlista}}<h4>{{title}}</h4>
          </div>
        </a>
      {{#isPlista}}
					<a href="https://www.plista.com/au" class="recirculation-powered-plista">
						<img src="https://static.plista.com/images/powered_by_plista_logo.png">
					</a>
				{{/isPlista}}</div>
    {{/items}}
  </div>


</section>
