<a href="{{url}}" title="{{title}}" class="rail-sponsored-content">
	<img src="{{thumbnailUrl}}" alt=""/>
	<div>
		<p>{{shortTitle}}</p>
		<span>{{attributionLabel}} {{attribution}}</span>
	</div>
</a>
