<li>
	<a href="{{url}}" title="{{title}}" class="rail-sponsored-content" data-tracking="rail,sponsored-item">
		<img src="{{thumbnailUrl}}" alt="{{title}}">
		<div class="rail-sponsored-content-desc">
			<p>{{shortTitle}}</p>
			{{#attribution}}
				<span>{{attributionLabel}} {{attribution}}</span>
			{{/attribution}}
		</div>
	</a>
</li>
