<a href="{{url}}" class="mcf-card mcf-card-wiki-article"
   style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({{thumbnail}});">
	<span class="mcf-card-wiki-article__title">
		{{title}}
	</span>
	<span class="mcf-card-wiki-article__subtitle">
		{{subtitle}}
	</span>
</a>
