<a href="{{url}}" class="mcf-card mcf-card-topic" style="background-image: url({{thumbnail}});">
	<div class="mcf-card-topic__overlay">
			<span class="mcf-card-topic__title">
				{{title}}
			</span>
		<div class="wds-button wds-is-squished wds-is-secondary">{{label}}</div>
	</div>
</a>
