<a href="#" class="mcf-card mcf-card-ns-stream" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">
		<span class="mcf-card-ns-stream__title">
			HBO hit show “Girls” Continues It Dominance
		</span>
	<div class="wds-button wds-is-squished wds-is-secondary">{{recirculationExplorePosts}}</div>
</a>
