<a href="{{url}}" class="mcf-card mcf-card-article"
   style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({{thumbnail}});">
	{{^thumbnail}}
		{{{fandomHeartSvg}}}
	{{/thumbnail}}
	<span class="mcf-card-article__title">
		{{title}}
	</span>
	<span class="mcf-card-article__subtitle">
		{{site_name}}
	</span>
</a>
