<a href="{{url}}" class="mcf-card mcf-card-topic" style="background-image: url({{thumbnail}});"
   data-tracking="{{trackingLabels}}"
   data-li-type="{{liType}}"
   title="{{title}}">
	<div class="mcf-card-topic__overlay">
			<span class="mcf-card-topic__title">
				{{title}}
			</span>
		<div class="wds-button wds-is-squished wds-is-secondary">{{buttonLabel}}</div>
	</div>
</a>
