<div class="mcf-card-article__link">
	<a href="{{url}}" class="{{classes}} mcf-card mcf-card-article"
	   data-tracking="{{trackingLabels}}"
	   style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({{thumbnailUrl}});"
	   title="{{title}}">
		{{^thumbnailUrl}}
			<div class="mcf-card-article__thumbnail-container">
				{{{fandomHeartSvg}}}
			</div>
		{{/thumbnailUrl}}
		<span class="mcf-card-article__title">
			{{shortTitle}}
		</span>
		{{#attribution}}
			<span class="mcf-card-article__subtitle">
				{{attributionLabel}} {{attribution}}
			</span>
		{{/attribution}}
	</a>
</div>
