#siteNotice,
#siteSub,
#contentSub,
#mw-anon-edit-warning,
.previewnote,
#user_masthead,
.usermessage {
	display: none !important;
}

.firstHeading {
	border-bottom: none;
	font-size: 14px;
	font-weight: bold;
}

#editingTipsToggleDiv {
	margin: 0 !important;
}

#new_edit_page_preview_notice {
	background-color: #c00;
	color: #fff;
	margin: -8px -8px 2px -8px;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}

#new_edit_page_preview_title {
	clear: both;
}
