.WidgetCommunity dd {
	max-height: none;
	padding: 0;
}

.WidgetCommunity .community_header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 2px 4px;
}

.WidgetCommunity .article_count {
	font-size: 15pt;
	font-weight: bold;
}

.WidgetCommunity .activityfeed img.sprite {
	top: 2px;
}

.WidgetCommunity .toolbar {
	height: 1%;
	text-align: right;
}

.WidgetCommunity .widgetfeed {
	margin-left: 25px;
	margin-top: 4px;
}

.WidgetCommunity .widgetfeed li {
	height: 1%;
	margin-bottom: 4px;
	position: relative;
}

.WidgetCommunity li strong {
	display: block;
	font-weight: bold;
	font-size: 10pt;
	position: relative;
}

/* TODO: move this to monaco css? and remove from MyHome.css */
.activityfeed img.sprite {
	background: transparent url(http://images.wikia.com/common/skins/monaco/images/sprite.png?20091112.2) repeat scroll 0 0;
	height: 16px;
	margin-left: -20px;
	position: absolute;
	top: -1px;
	width: 560px;
}

.activity-type-new .sprite {
	clip: rect(0px 528px 16px 512px);
	left: -512px;
}

.activity-type-edit .sprite {
	clip: rect(0px 16px 16px 0px);
}

.activity-type-talk .sprite {
	clip: rect(0px 498px 16px 482px);
	left: -482px;
}

.activity-type-photo .sprite {
	clip: rect(0px 432px 16px 416px);
	left: -416px;
}

.activity-type-video .sprite {
	clip: rect(0px 512px 16px 498px);
	left: -498px;
}

.activity-type-comment .sprite {
	clip: rect(0px 482px 16px 466px);
	left: -466px;
}

.activity-type-move .sprite {
	clip: rect(0px 544px 16px 528px);
	left: -528px;
}

.activity-type-delete .sprite {
	clip: rect(0px 560px 16px 544px);
	left: -544px;
}
