.SWM_message {
	margin: 15px 0;
	padding: 0px 8px;
	background-color: #fafad2;
	color: #000000;
	border: solid 1px #f0e68c;
}

.SWM_message .SWM_expire {
	float: right;
	font-size: 0.9em;
	margin-right: 10px;
}

.SWM_message .SWM_dismiss {
	float: right;
	font-size: 0.9em;
}

.swm-hint {
	font-style: italic;
}

.swm-select-multiple {
	overflow: hidden;
	padding: 3px 5px;
	width: 100%;
}
