<div id="{{id}}" class="modal {{size}} {{#classes}}{{.}} {{/classes}}">
	<header>
		{{#closeButton}}
			<a href="#" class="close">Close</a>
		{{/closeButton}}
		<h3>{{title}}</h3>
	</header>
	<section>
		{{{content}}}
	</section>
	<footer>
		{{#altLink}}
			<a id="{{altLink.id}}" href="{{altLink.href}}">{{altLink.text}}</a>
		{{/altLink}}
		{{{primaryBtn}}}
		{{{secondBtn}}}
	</footer>
</div>
