<div id="blackout_{{id}}" class="modal-blackout hidden">
	<div id="{{id}}" class="modal {{size}} {{#classes}}{{.}} {{/classes}}" {{#data}}data-{{key}}="{{value}}"{{/data}}>
		<header>
			<a href="#" class="close" title="{{closeText}}">{{closeText}}</a>
			{{#htmlTitle}}
				{{{htmlTitle}}}
			{{/htmlTitle}}
			{{^htmlTitle}}
				<h3>{{title}}</h3>
			{{/htmlTitle}}
		</header>
		<section>
			{{{content}}}
		</section>
		<footer>
			{{#altLink}}
				<a id="{{altLink.id}}" href="{{altLink.href}}" title="{{altLink.title}}">{{altLink.text}}</a>
			{{/altLink}}
			<div class="buttons">
				{{#buttons}}
					{{{.}}}
				{{/buttons}}
			</div>
		</footer>
	</div>
</div>
