<div id="blackout_{{id}}" class="modal-blackout">
	<div id="{{id}}" class="modal {{size}} {{#classes}}{{.}} {{/classes}}" {{#data}}data-{{key}}="{{value}}"{{/data}}>
		<a href="#" class="close" title="{{closeText}}">{{closeText}}</a>
		<section>
			{{{content}}}
		</section>
	</div>
</div>
