Aaron Schulz <aschulz@wikimedia.org>
Aaron Schulz <aschulz@wikimedia.org> <aaron@users.mediawiki.org>
Alex Monk <krenair@gmail.com>
Alex Monk <krenair@gmail.com> <krenair@wikimedia.org>
Alexander Emsenhuber <ialex.wiki@gmail.com>
Alexander Emsenhuber <ialex.wiki@gmail.com> <ialex@users.mediawiki.org>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Antoine Musso <hashar@free.fr>
Antoine Musso <hashar@free.fr> <hashar@users.mediawiki.org>
Audrey Tang <audreyt@audreyt.org>
Audrey Tang <audreyt@audreyt.org> <au@localhost>
Bartosz Dziewoński <matma.rex@gmail.com>
Bartosz Dziewoński <matma.rex@gmail.com> <matmarex@wikimedia.org>
Bartosz Dziewoński <matma.rex@gmail.com> <bdziewonski@wikimedia.org>
Brion Vibber <brion@wikimedia.org>
Brion Vibber <brion@wikimedia.org> <brion@users.mediawiki.org>
C. Scott Ananian <cscott@cscott.net>
C. Scott Ananian <cscott@cscott.net> <cananian@wikimedia.org>
Chris McMahon <cmcmahon@wikimedia.org>
Christian Williams <orbit@framezero.com>
Christian Williams <orbit@framezero.com> <christian@localhost>
Christian Williams <orbit@framezero.com> <christian@wikia-inc.com>
David Chan <david@sheetmusic.org.uk>
Ed Sanders <esanders@wikimedia.org>
Erik Moeller <erik@wikimedia.org>
Erik Moeller <erik@wikimedia.org> <erik@users.mediawiki.org>
Gabriel Wicke <gwicke@wikimedia.org>
Gabriel Wicke <gwicke@wikimedia.org> <gwicke@users.mediawiki.org>
Gabriel Wicke <gwicke@wikimedia.org> <wicke@wikidev.net>
Helder <he7d3r@gmail.com>
Helder <he7d3r@gmail.com> <helder.wiki@gmail.com>
Inez Korczyński <inez@wikia-inc.com>
Inez Korczyński <inez@wikia-inc.com> <inez@users.mediawiki.org>
James D. Forrester <jforrester@wikimedia.org>
Jeff Hall <jeffreyehall@gmail.com>
Jeff Hall <jeffreyehall@gmail.com> <jhall@wikimedia.org>
Jiabao <jiabao.foss@gmail.com>
Jon Robson <jrobson@wikimedia.org>
Juliusz Gonera <jgonera@gmail.com>
Juliusz Gonera <jgonera@gmail.com> <jgonera@wikimedia.org>
Marielle Volz <marielle.volz@gmail.com>
Mark A. Hershberger <mah@everybody.org>
Mark A. Hershberger <mah@everybody.org> <mah@users.mediawiki.org>
Moriel Schottlender <moriel@gmail.com>
Moriel Schottlender <mschottlender@wikimedia.org> <moriel@gmail.com>
Peter Coti <petercoti@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com> <raymond@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com> <catrope@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com> <roan@wikimedia.org>
Rob Moen <rmoen@mediawiki.org>
Rob Moen <rmoen@mediawiki.org> <rmoen@users.mediawiki.org>
Rob Moen <rmoen@mediawiki.org> <rmoen@wikimedia.org>
Rummana Yasmeen <ryasmeen@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org> <kaldari@gmail.com>
Sam Reed <reedy@wikimedia.org>
Sam Reed <reedy@wikimedia.org> <reedy@users.mediawiki.org>
Siebrand Mazeland <s.mazeland@xs4all.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@kitano.nl>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@users.mediawiki.org>
Siebrand Mazeland <s.mazeland@xs4all.nl> <siebrand@wikimedia.org>
Subramanya Sastry <ssastry@wikimedia.org>
Sucheta Ghoshal <sghoshal@wikimedia.org>
Thalia Chan <thalia@cantorion.org>
Timo Tijhof <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com> <timo@wikimedia.org>
Timo Tijhof <krinklemail@gmail.com> <ttijhof@wikimedia.org>
Trevor Parscal <trevorparscal@gmail.com>
Trevor Parscal <trevorparscal@gmail.com> <tparscal@users.mediawiki.org>
Trevor Parscal <trevorparscal@gmail.com> <tparscal@wikimedia.org>
Vikas S Yaligar <vikasyaligar.it@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com> <zfilipin@wikimedia.org>
