#fptc_refresh 
{
	float: right;
}

div.fptc_tag
{
	float: left;
	margin: 10px;
}

#fptc_contextMenu a:hover 
{
	text-decoration: none;
}

#fptc_contextMenu .browse a
{
	background-image: url("../images/browse.gif");
	background-repeat: no-repeat;
}

#fptc_contextMenu .loading,
#fptc_contextMenu .no_entries,
#fptc_contextMenu .fptc_suggestions
{
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 28px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

#fptc_contextMenu .loading
{
	background-image: url("../images/loading.gif");
}

#fptc_contextMenu .fptc_suggestions
{
	font-weight: bold;
}