<div id="fbDisconnectLink">
    {{{facebookDisconnectLink}}}
</div>

<div style="display:none;" id="fbDisconnectProgress">
    {{{facebookDisconnectDone}}}
    <img id="fbDisconnectProgressImg" src="{{blankImageUrl}}" class="sprite progress">
</div>

<div style="display:none;" id="fbDisconnectDone">
    {{{facebookDisconnectInfo}}}
</div>
