<div class="mw-specialpage-summary">{{title}}</div>

{{#errorMessage}}
<div>{{errorMessage}}</div>
{{/errorMessage}}

<form id="chooseNameForm" action="{{formAction}}" method="POST">
    <fieldset id="mw-fbconnect-choosename">
        <legend>{{legendText}}</legend>
        <table>
            <tr>
                <td class="mw-input">
                    {{userNameLabel}}
                    <input name="wpExistingName" size="16" value="{{userName}}" id="wpExistingName"/>
                    {{passwordLabel}}
                    <input name="wpExistingPassword" size="" value="" type="password"/>
                </td>
            </tr>
            <tr>
                <td class="mw-submit">
                    <input type="submit" value="Log in" name="wpOK"/>
                    <input id="wpCancel" type="submit" value="Cancel" name="wpCancel"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>