.prototype1-rwa {
	margin-top: 20px;
}

.prototype1-recirc-placeholder {
	width: 300px;
	height: 359px;
	margin-top: 40px;
}

.prototype1-recirc {
	&.fixed {
		position: fixed;
		top: 60px;
	}
}

.prototype1-ad2-placeholder {
	width: 300px;
	height: 500px;
	padding-top: 250px;
	margin-top: 20px;
}

.prototype1-ad2 {
	transition: opacity 1s;

	&.fixed {
		position: fixed;
		top: 439px;
	}

	&.hidden {
		opacity: 0;
	}
}

.prototype1-ad3 {
	transition: opacity 1s;
	opacity: 0;
	position: fixed;

	&.fixed {
		opacity: 1;
		top: 439px;
	}

	&.hidden {
		opacity: 0;
	}
}

.prototype2-ad1 {
	&.fixed {
		position: fixed;
		top: 60px;
	}

	&.moved {
		margin-top: 250px;
	}
}

.prototype2-ad1-placeholder {
	width: 300px;
	height: 500px;
	padding-bottom: 20px;
}

.prototype2-rwa {
	margin-top: 20px;
}

.prototype2-recirc-placeholder {
	margin-top: 40px;
}

.prototype2-recirc {
	&.fixed {
		position: fixed;
		top: 60px;
	}
}

.prototype3-rwa {
	margin-top: 20px;
}

.prototype3-recirc-placeholder {
	margin-top: 40px;
}

.prototype3-recirc {
	transition: opacity 1s;
	opacity: 1;

	&.fixed {
		position: fixed;
		top: 60px;
	}

	&.hidden {
		opacity: 0;
	}
}

.prototype3-ad2 {
	transition: opacity 1s;
	opacity: 0;

	&.fixed {
		opacity: 1;
		position: fixed;
		top: 60px;
	}
}

// enable PremiuemPageHeader
body.pph-experiment.user-logged .PremiumPageHeader {
	display: block;
}
body.pph-experiment.user-logged.ns-0 .PremiumPageArticleHeader {
	display: block;
}
body.pph-experiment.user-logged .WikiHeader {
	display: none;
}
body.pph-experiment.user-logged.ns-0 .WikiaPageHeader {
	display: none;
}
body.pph-experiment.user-anon .PremiumPageHeader {
	display: block;
}
body.pph-experiment.user-anon.ns-0 .PremiumPageArticleHeader {
	display: block;
}
body.pph-experiment.user-anon .WikiHeader {
	display: none;
}
body.pph-experiment.user-anon.ns-0 .WikiaPageHeader {
	display: none;
}
