.prototype1-rwa {
	margin-top: 20px;
}

.prototype1-recirc-placeholder {
	width: 300px;
	height: 383px;
	margin-top: 40px;
}

.prototype1-recirc {
	&.fixed {
		position: fixed;
		top: 60px;
	}
}

.prototype1-ad2-placeholder {
	width: 300px;
	height: 500px;
	padding-top: 250px;
	margin-top: 20px;
}

.prototype1-ad2 {
	&.fixed {
		position: fixed;
		top: 463px;
	}

	&.hidden {
		display: none;
	}
}

.prototype1-ad3 {
	display: none;
	&.fixed {
		display: block;
		position: fixed;
		top: 463px;
	}
}

.prototype2-ad1 {
	&.fixed {
		position: fixed;
		top: 60px;
	}

	&.moved {
		margin-top: 250px;
	}
}

.prototype2-ad1-placeholder {
	width: 300px;
	height: 500px;
	padding-bottom: 20px;
}

.prototype2-rwa {
	marign-top: 20px;
}

.prototype2-recirc-placeholder {
	margin-top: 40px;
}

.prototype2-recirc {
	&.fixed {
		position: fixed;
		top: 60px;
	}
}

.prototype3-rwa {
	margin-top: 20px;
}

.prototype3-recirc-placeholder {
	margin-top: 40px;
}

.prototype3-recirc {
	&.fixed {
		position: fixed;
		top: 60px;
	}

	&.hidden {
		display: none;
	}
}

.prototype3-ad2 {
	display: none;

	&.fixed {
		display: block;
		position: fixed;
		top: 60px;
	}
}
