noscript.cb_noscript {
	font-size:120%;
	font-weight: bold;
	color: red;
}

table.cb_top_container {
	width: 100%;
}

table.cb_top_container td  {
	border-collapse: collapse;
	vertical-align: middle;
	text-align: left;
}

td.cb_toolbox_top {
	border-top: 1px dashed lightgray !important;
	border-left: 1px dashed lightgray !important;
	border-right: 1px dashed lightgray !important;
}

td.cb_toolbox_bottom {
	border-bottom: 1px dashed lightgray !important;
	border-left: 1px dashed lightgray !important;
	border-right: 1px dashed lightgray !important;
}

td.cb_toolbox {
	border: 1px dashed lightgray !important;
}

select#cb_expr_select {
	width: 100%;
}

input#cb_cat_name_filter {
	margin: 0 0 0 0.5em;
	width: 16em;
}

div.cb_filter_container {
	margin: 0 0 0.5em 0;
}

.cb_filter_field {
	margin: 0 0 0 0.5em;
}

div#cb_root_container {
	width: 100%;
	height: 100%;
	overflow-x: auto;
}

div.cb_cat_container {
	float: left;
	clear: both;
	white-space: nowrap;
	width: 100%;
	min-width: 20px;
	min-height: 1px;
}

div.cb_nested_container {
	float:left;
	clear:both;
	padding-left:2em;
	white-space: nowrap;
	border-top: 2px dashed lightgray;
	border-bottom: 2px dashed lightgray;
	margin-top: 1px;
	margin-bottom: 1px;
	width:auto;
	min-width:20px;
}

div.cb_cat_controls {
	white-space: nowrap;
	width: 100%;
	clear: both;
}

span.cb_cat_expand {
	white-space: nowrap;
	font-family: Fixed, monospace;
	font-style : normal;
	padding-right: 0.5em;
}

span.cb_cat_item {
}

div.cb_token_container {
	text-align: center;
	border: 1px solid lightgray !important;
	float:left;
	width:auto;
	height:1.5em;
	margin:5px 5px 1.8em 5px;
	padding:7px;
	color: black;
	background-color: white;
}

div.cb_token_inputs {
	position: relative;
	left: 0em;
	top: -1.5em;
}

div.cb_popup_controls {
	position: relative;
	width: auto;
	height: 1.5em;
	display: block;
	visibility: hidden;
	left: 0em;
	top: 2.5em;
	z-index: 10;
}

div.cb_control_button {
	cursor: pointer;
	font-weight: bold;
	color: white;
	background-color: gray;
	position: static;
	border: 1px solid red;
	display: inline;
	margin: 1px;
	padding: 0px 1px 0px 1px;
	z-index: 10;
}

span.cb_virtual_select {
	border: 1px dashed lightgray;
	margin-left: 3px;
	margin-right: 3px;
	padding: 3px;
}

span.cb_comment {
	color: gray;
}

a.cb_sublink {
	font-weight:normal;
	font-style:italic;
	color: black !important;
	text-decoration: none !important;
	white-space: nowrap;
}

a.cb_sublink:hover {
	font-weight:bold;
	white-space: nowrap;
}

#cb_editor_container select, #cb_editor_container input, .cb_separate_container input {
	border: 1px solid gray;
	border-collapse:collapse;
	margin:0px;
	padding:0px;
	letter-spacing:-1px;
}

input#cb_apply_button {
	letter-spacing:1px;
}

div.cb_separate_container {
	width: 100%;
	clear: both;
}

div.cb_files_container {
	float: left;
	clear: both;
}

div.cb_copy_line_hint {
	width: 100%;
	font-size: 90%;
	color: gray;
}
