@import "../../../../../skins/oasis/css/core/color";
#VideoUploadEditorPagesWrapper {
	.image {
		float: right;
	}

	.form {
		float: left;
		width: 70%
	}

	button.wikia-button {
		font-size: 18px;
		height: auto;
		margin-left: 100px;
		padding: 10px 20px;
	}

	label {
		display: block;
		margin: 8px 0;

		span {
			display: inline-block;
			width: 100px;

			&.progress-outer {
				border: 1px solid $color-page-border;
				padding: 2px;
				width: 70%;
			}

			&#progressInner {
				background-color: $color-buttons;
				width: 0;
			}
		}

		input, textarea {
			width: 70%
		}
	}
}