@import "../../../../skins/oasis/css/core/color";
.correct-answer {
	font-weight: bold;
}
#WikiaArticleCategories {
	display: none;
}

$color-quiz-label: lighten($color-text, 30%);
@if lightness($color-page) < 50 {
	$color-quiz-label: darken($color-text, 30%);
}

.CreateWikiaQuiz, .CreateWikiaQuizArticle {
	.explanation {
		textarea {
			font-size: 16px;
			height: 50px;
			padding: 5px;
			width: 300px;
		}
		span {
			font-size: 20px;
			font-weight: bold;
		}
	}
	.image, .video, .moreinfoheading, .moreinfolinks, .question, .quiz, .title, .titlescreentext, .fbrecommendationtext, .titlescreenimages {
		input {
			font-size: 16px;
			padding: 5px;
			width: 300px;
		}
		p {
			font-size: 16px;
			padding: 5px;
		}
		span {
			font-size: 20px;
			font-weight: bold;
		}
	}
	ul {
		list-style: none;
		overflow: auto;
		margin: 0;
		padding: 0;
	}
	li {
		border-bottom: 1px dotted $color-page-border;
		padding: 10px 0;
		.details label {
			margin-right: 5px;
		}
		label.order {
			color: $color-quiz-label;
			font-size: 18px;
			font-weight: bold;
			vertical-align: top;
		}
		.details {
			background: $color-article-thumb-background;
			border: 1px solid $color-article-thumb-border;
			border-radius: 5px;
			display: inline-block;
			margin: 0 5px;
			padding: 7px 15px;
		}
		input {
			font-size: 16px;
			width: 400px;
		}
	}
	.drag {
		cursor: move;
	}
	.trash {
		cursor: pointer;
	}
	.new-item {
		display: none;
	}
	.add-new {
		margin: 10px 30px;
		.wikia-button {
			font-size: 20px;
			font-weight: bold;
			height: 22px;
			line-height: 22px;
			padding: 0 5px;
			margin-right: 5px;
		}
	}
	.toolbar {
		text-align: right;
		.secondary {
			display: none;
		}
	}
	.requireemail {
		display: block;
	}
}

.modalContent .CreateWikiaQuizArticle {
	.toolbar .secondary {
		display: inline-block;
	}
}