@import "skins/shared/color";

#CreatePageModalDialog {
	section {
		display: flex;
		padding: 0;

		> div {
			flex-grow: 1;
			padding: 20px;
		}
	}

	#CreatePageTitleProposalsHeader {
		font-weight: bold;
		margin-bottom: 8px;
	}

	#CreatePageTitleProposals {
		background-color: rgba($color-unified-module-background, .4);
		display: none;

		ul {
			box-sizing: border-box;
			padding: 0 12px;

			li {
				padding: 5px 0;
			}
		}
	}
}



