<?xml version="1.0" encoding="UTF-8"?>
<configdata>
    <ci>
        <user>
            <regular>
                <username></username>
                <password></password>
            </regular>
            <facebook>
                <username></username>
                <password></password>
            </facebook>
            <wikiabot>
                <username></username>
                <password></password>
            </wikiabot>
            <wikiastaff>
                <username></username>
                <password></password>
            </wikiastaff>
            <wikiasysop>
                <username></username>
                <password></password>
            </wikiasysop>
            <daishkendes>
                <username></username>
                <password></password>
            </daishkendes>
        </user>
        <extension>
            <wikia>
            	<AutoCreateWiki>
            		<lang>en</lang>
            		<lang>es</lang>
            		<lang>de</lang>
            		<lang>pl</lang>
            		<lang>pt-br</lang>
            		<lang>zh</lang>
            	</AutoCreateWiki>
                <PageLayoutBuilder>
                </PageLayoutBuilder>
                <Phalanx>
                    <BlackList>
                        <website>
                            <url>http://adultchat.bgallogeo.com</url>
                        </website>
                    </BlackList>
                    <WhiteList>
                        <internalWebsite>
                            <url>http://wikibooks.org</url>
                        </internalWebsite>
                        <externalWebsite>
                            <url>http://www.wp.pl</url>
                        </externalWebsite>
                        <internalImage>
                            <url>http://images.wikia.com/central/images/5/59/Cdcar.jpg</url>
                        </internalImage>
                        <externalImage>
                            <url>http://google.com/logos/chopin10-hp.gif</url>
                        </externalImage>
                    </WhiteList>
                </Phalanx>
                <WhatIsMyIP>
                    <ip>127.0.0.1</ip>
                </WhatIsMyIP>
            </wikia>
        </extension>
        <onlineStatus>
            <website>http://wikia.com</website>
            <website>http://websitewiki.de</website>
            <website>http://www.wowwiki.com</website>
        </onlineStatus>
    </ci>
    <development extends="ci">
    </development>
</configdata>
