<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true"
         processIsolation="false">
         <testsuite name="Wikia Test Suite">
            <directory>./</directory>
         </testsuite>
         <testsuite name="Wikia Includes Test Suite">
            <directory>../includes/wikia/</directory>
         </testsuite>
         <testsuite name="WikiaLabs Test Suite">
            <directory>../extensions/wikia/WikiaLabs/</directory>
         </testsuite>
         <!-- don't uncomment it until /extensions/wikia is cleared from outdated tests -->
         <!--
         <testsuite name="Wikia Extensions Test Suite">
            <directory>../extensions/wikia/</directory>
         </testsuite>
         -->
         <!-- DO NOT run MW tests. These tests are dropping db tables, including users -->
         <!--
         <testsuite name="MediaWiki Test Suite">
            <directory>../maintenance/tests/</directory>
         </testsuite>
         -->
         <groups>
             <exclude>
                 <group>Broken</group>
                 <group>Stub</group>
             </exclude>
         </groups>
         <filter>
             <blacklist>
                 <directory>../bin</directory>
                 <directory>../config</directory>
                 <directory>../docs</directory>
                 <directory>../images</directory>
                 <directory>../languages</directory>
                 <directory>../lib</directory>
                 <directory>../maintenance</directory>
                 <directory>../math</directory>
                 <directory>../serialized</directory>
                 <directory>../static</directory>
                 <directory>../t</directory>
                 <directory>../tests</directory>
             </blacklist>
             <whitelist>
                 <directory>../includes/wikia</directory>
                 <directory>../extensions/wikia/WikiaLabs</directory>
                 <exclude>
                     <directory>../includes/wikia/ajax/templates</directory>
                     <directory>../includes/wikia/tests</directory>
                     <file>../includes/wikia/DefaultSettings.php</file>
                     <file>../includes/wikia/Defines.php</file>
                     <file>../includes/wikia/services/Service.php</file>
                 </exclude>
             </whitelist>
         </filter>
</phpunit>
