@import "skins/oasis/css/core/layout.scss";

$default-blackout-background-color: rgba(0, 0, 0, 0.5);

@mixin blackout( $blackout-background-color: $default-blackout-background-color ) {
	background: $blackout-background-color;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;

	&.visible {
		z-index: $zTop;
	}
}
