@mixin flexbox() {
	// old syntax
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;

	// new syntax
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($direction: row) {
	// old syntax (doesn't support reverse placement)
	$axis: horizontal;
	@if $direction == column OR $direction == column-reverse {
		$axis: vertical;
	}
	-ms-box-orient: $axis;
	-webkit-box-orient: $axis;

	// new syntax
	-ms-flex-direction: $direction;
	-webkit-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin display-inline-flex() {
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

@mixin flex-grow($number) { // (default: 0)
	// old syntax
	-webkit-box-flex: $number;
	-moz-box-flex: $number;
	-ms-flex-positive: $number; // (IE spec - default: 1)
	box-flex: $number;

	// new syntax
	-webkit-flex-grow: $number;
	-moz-flex-grow: $number;
	flex-grow: $number;
}

@mixin flex-shrink($number) { // (default: 1);
	// old syntax
	-ms-flex-negative: $number; // (IE spec - default: 0)

	// new syntax
	-webkit-flex-shrink: $number;
	-moz-flex-shrink: $number;
	flex-shrink: $number;
}

@mixin flex-basis($length) { // (default: auto)
	-ms-flex-preferred-size: $length; // (IE spec - default: 0px)

	-webkit-flex-basis: $length;
	-moz-flex-basis: $length;
	flex-basis: $length;
}

@mixin align-items($type) { // (default: stretch)
	$old-syntax-type: $type;
	@if $type == flex-start {
		$old-syntax-type: start;
	}
	@if $type == flex-end {
		$old-syntax-type: end;
	}

	-webkit-box-align: $old-syntax-type; // old syntax
	-webkit-align-items: $type;
	align-items: $type;

}

@mixin justify-content($type) { // (default: flex-start)
	$old-syntax-type: $type; // no equivalent for 'space-around' in old syntax
	@if $type == flex-start {
		$old-syntax-type: start;
	}
	@if $type == flex-end {
		$old-syntax-type: end;
	}
	@if $type == space-between {
		$old-syntax-type: justify;
	}


	-webkit-box-pack: $old-syntax-type; // old syntax
	-webkit-justify-content: $type;
	justify-content: $type;
}

@mixin flex($value) {
	-webkit-flex: $value;
	-ms-flex: $value;
	 flex: $value;
}

@mixin flex-wrap($value) {
	-webkit-flex-wrap: $value;
	-ms-flex-wrap: $value;
	 flex-wrap: $value;
}

@mixin align-content($value) {
	-webkit-align-content: $value;
	-ms-align-content: $value;
	 align-content: $value;
}

@mixin align-self($value) {
	-webkit-align-self: $value;
	-ms-align-self: $value;
	 align-self: $value;
}

@mixin order($value) {
	-webkit-order: $value;
	-ms-flex-order: $value;
	order: $value;
}
