/* doesn't work in IE8 and below.  use at your own discretion */
@mixin transform($transforms) {
	transform: $transforms;
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
}

@mixin transform-scale($ratio) {
  transform: scale($ratio);
  -webkit-transform: scale($ratio);
  -moz-transform: scale($ratio);
  -ms-transform: scale($ratio);
}

@mixin transform-rotate($degrees) {
  transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
}

@mixin transform-translate($x, $y) {
  transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
}

@mixin transform-origin($values) {
	transform-origin: $values;
	-webkit-transform-origin: $values;
	-moz-transform-origin: $values;
	-ms-transform-origin: $values;
}