@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/color';

.wikiahomepage-footer {
	@include clearfix;
	border-bottom: 1px solid #f1f1f1;
	border-top: 4px solid $color-wikiahome-border-primary-brand-color;
	clear: both;
	margin: 30px 10px 0;
	padding: 30px 0 95px;

	.grid-1 {
		position: relative;
	}

	h3 {
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 10px;

		.editsection {
			display: none;
		}
	}

	ul {
		li {
			font-size: 12px;
			line-height: 19px;
			margin-top: 3px;

			b {
				font-weight: bold;
			}

			a {
				color: $color-links;
			}
		}
	}

	p {
		font-size: 12px;
		line-height: 19px;
		margin: 5px 0 12px;
	}

	a.external:after {
		display: none;
	}

	.wikia-menu-button.secondary {
		position: absolute;
		right: 0;
		top: 0;

		.sprite.edit-pencil {
			background-position: 0 0;
			width: 24px;
		}

		&.de .sprite.edit-pencil, a.de {
			background-image: URL('/extensions/wikia/CorporateFooter/images/de.png'); /* base64 */
		}

		&.en .sprite.edit-pencil, a.en {
			background-image: URL('/extensions/wikia/CorporateFooter/images/en.png'); /* base64 */
		}

		&.es .sprite.edit-pencil, a.es {
			background-image: URL('/extensions/wikia/CorporateFooter/images/es.png'); /* base64 */
		}

		&.fr .sprite.edit-pencil, a.fr {
			background-image: URL('/extensions/wikia/CorporateFooter/images/fr.png'); /* base64 */
		}

		&.ja .sprite.edit-pencil, a.ja {
			background-image: URL('/extensions/wikia/CorporateFooter/images/ja.png'); /* base64 */
		}

		&.pl .sprite.edit-pencil, a.pl {
			background-image: URL('/extensions/wikia/CorporateFooter/images/pl.png'); /* base64 */
		}

		&.pt-br .sprite.edit-pencil, a.pt-br {
			background-image: URL('/extensions/wikia/CorporateFooter/images/br.png'); /* base64 */
		}

		a {
			height: 18px;
			padding: 0;
			width: 24px;
		}

		li {
			cursor: pointer;
			margin: 0;
			padding: 3px 0 3px 3px;
		}
	}
}
