@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/gradient";

.WikiaPage {
	border: none;
}

.WikiaArticle {
	padding: 0;
}

#LandingPageSmurfs {
	height: 897px;
	width: 1002px;
	position: relative;

	a {
		position: absolute;
		text-indent: -999999px;
	}

	&.LandingPageSmurfsEn {
		background-image: url('/extensions/wikia/LandingPageSmurfs/images/en.jpg'); /* wgCdnStylePath */
	}

	&.LandingPageSmurfsFr {
		background-image: url('/extensions/wikia/LandingPageSmurfs/images/fr.jpg'); /* wgCdnStylePath */
		.smurfs-link-enter {
			left: 403px;
			top: 330px;
			width: 197px;
			height: 39px;
		}
		.smurfs-link-fb {
			left: 482px;
			top: 381px;
			width: 39px;
			height: 39px;
		}
		.smurfs-link-wiki {
			left: 139px;
			top: 431px;
			width: 277px;
			height: 29px;
		}
		.smurfs-link-trailer {
			left: 41px;
			top: 462px;
			width: 292px;
			height: 29px;
		}
	}

	&.LandingPageSmurfsNl {
		background-image: url('/extensions/wikia/LandingPageSmurfs/images/nl.jpg'); /* wgCdnStylePath */
		.smurfs-link-enter {
			left: 403px;
			top: 375px;
			width: 197px;
			height: 39px;
		}
		.smurfs-link-fb {
			left: 482px;
			top: 424px;
			width: 39px;
			height: 39px;
		}
		.smurfs-link-wiki {
			left: 153px;
			top: 481px;
			width: 300px;
			height: 29px;
		}
		.smurfs-link-trailer {
			left: 175px;
			top: 511px;
			width: 206px;
			height: 29px;
		}
	}
}

#WikiaArticleBottomAd {
	display: none;
}
