/*** MAIN COLORS ***/
.color1, .color1 a, .yui-panel .hd {
	background-color: #fec423;
	color: #000;
}
.color2 {
	background-color: #3b0902;
}
.color3 {
	background-color: #000;
}


.dark_text_1 {
	color: #5D1B01;
}
.dark_text_2 {
	color: #3B0902;
}
.accent	{
	background-color: #F9EAC1;
	border-color: #3B0902;
	color: #000;
}


#background_strip {
	background-color: #5d1b01;
	border-color: #fec423;
}
#page_bar {
	background-image: none;
}

/*** WIDGETS ***/
.widget dt {
	background-color: #5d1b01;
	color: #fec423;
}
#navigation_widget, #navigation_widget .widget {
	background-color: #FFF;
}
#link_box {
	background-color: #f9eac1;
	border: 1px solid #CCC;
}
#link_box a {
	color: #333 !important;
}
.community_details {
	background-color: #F5F5F5;
}
#search_button {
	background-image: url(http://images.wikia.com/common/skins/monaco/brick/images/search.png);
}
#search_box {
	background-image: none;
}

/*** HEADER AND FOOTER ***/
#wikia_header {
	border-color: #fec423;
}
#userData a, #wikiaBranding a {
	color: #FFF;
}
#header_username a {
	color: #fec423;
}
#wikia_footer {
	color: #FFF;
}
#wikia_footer a {
	color: #EEE;
}
#wikia_logo {
	background-image: url(../images/wikia_logo.png);
}
.editsectionbutton {
	background-color: #FFC;
	color: #FFC;
}
.header-button img {
	background-position: -72px -94px;
}
