/* style for message on top of the full/original editor, put there by the InlineEditor */ 

.inlineEditorMessage {
	/* box on top of the page, colors are the same as the surrounding colors */
	/* it scales with the display size */
	font-size: 1.0em;
	background-color: #eaf3f8;
	border: 1px solid #A7D7F9;
	margin-bottom: 10px;
	padding: 10px 10px 5px;
	max-width: 700px;
	position: relative;
}