@import "../../WikiaMobile/css/mixins/box-shadow";
@import "../../WikiaMobile/css/variables";

.WikiaPhotoGalleryPreview {
	height: 233px;
	width: 300px;
	overflow: hidden;
	margin: 5px auto;
}
.wikiaPhotoGallery-slider-body{
	clear:both;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $border-color;
	-webkit-tap-highlight-color: rgba( 0,0,0,0 );
	-webkit-focus-ring-color: rgba( 0,0,0,0 );

	ul {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.nav {
		display: block;
		margin: 0;
		position: absolute;
		bottom: 5px;
		height: 60px;
		width: 24%;
		text-align:center;
		z-index:1;

		img {
			cursor: pointer;
			display: inline-block;
			height: 60px;
			width: 100%;
			max-width: 120px;
		}

		&.selected img {
			@include box-shadow(0 0 10px $border-color);
		}
	}

	.wikiaPhotoGallery-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: none;
	}

	.description {
		bottom: 70px;
		left: 0;
		color: $descriptionTextColor;
		opacity: 0;
		position: absolute;
		width: 100%;
		line-height: 1.2em;
		background-color: $descriptionBackgroundColor;
		pointer-events: none;
		z-index:1;
		-webkit-transition: opacity .6s;
		-moz-transition: opacity .6s;
		-o-transition: opacity .6s;
		transition: opacity .6s;

		h2, p {
			margin: 0 0 0 5px;
			overflow: hidden;
			font-size: small;
		}

		&.visible {
			opacity: .7;
		}
	}
}

.wikiaPhotoGallery-slider-0 .nav {
	right: 75%;
}

.wikiaPhotoGallery-slider-1 .nav {
	right: 50%;
}

.wikiaPhotoGallery-slider-2 .nav {
	right: 25%;
}

.wikiaPhotoGallery-slider-3 .nav {
	right: 0;
}

@media screen and (min-width: 321px) and ( orientation: landscape ) {

	.WikiaPhotoGalleryPreview {
		width: 460px;
		height: 260px;
	}
	.wikiaPhotoGallery-slider {
		height: 100%;
	}
	.wikiaPhotoGallery-slider-body {
		height: 260px;

		.description {
			bottom: 0;
		}

		.nav {
			right: 0;
			padding: 5px;
			width: 80px;
			height: 55px;

			img {
				width: 80px;
				height: 55px;
			}
		}
	}

	.wikiaPhotoGallery-slider-0 .nav {
		top: 0;
	}

	.wikiaPhotoGallery-slider-1 .nav {
		top: 23%;
	}

	.wikiaPhotoGallery-slider-2 .nav {
		top: 46%;
	}

	.wikiaPhotoGallery-slider-3 .nav {
		top: 70%;
	}
}

@media screen and (min-width: 481px) {
	.WikiaPhotoGalleryPreview {
		width: 480px;
		height: 330px;
		.wikiaPhotoGallery-slider {
			height: 262px;
		}

	}
}

@media screen and (min-width: 481px) and ( orientation: landscape ) {
	.WikiaPhotoGalleryPreview {
		height: 262px;
		.wikiaPhotoGallery-slider-body {
			height: 262px;
		}
	}
}


@media screen and ( min-width: 769px ) {
	.WikiaPhotoGalleryPreview {
		width: 660px;
		height: 430px;
		.wikiaPhotoGallery-slider {
				height: 360px;

		}
	}
}

@media screen and (min-width: 769px) and ( orientation: landscape ) {
	.WikiaPhotoGalleryPreview {
		height: 360px;
		.wikiaPhotoGallery-slider-body {
			height: 360px;
		}
	}
}
