@import "../../../../skins/wikiamobile/css/mixins/box-shadow.scss";
@import "../../../../skins/wikiamobile/css/mixins/box-sizing.scss";

@import "../../../../skins/wikiamobile/css/variables.scss";

.wikia-slideshow {
	text-align: center;
	margin: 0 auto;
	width: 90%;

	.placeholderImg {
		width: 100%;
	}

	footer {
		font-size: 90%;
		box-shadow: 0 0 10px $shadow-color;
		color: $page-text-color;
		border: 1px solid $border-color;
		margin-top: -5px;
	}
}