<div class="ve-tour-experiment">
	<div class="close"></div>
	<h2>{{title}}</h2>
	<p>{{description}}</p>
	<nav class="nav-buttons">
		{{#showPrev}}<a class="ve-tour-prev">前に戻る</a>{{/showPrev}}
		<button class="ve-tour-next">{{buttonLabel}}</button>
	</nav>
</div>
