<a name="pd_a_{{id}}" style="display:inline;padding:0;margin:0;"></a><div class="PDS_Poll" id="PDI_container{{id}}"></div><script type="text/javascript" charset="utf-8" src="https://static.polldaddy.com/p/{{id}}.js"></script>
