<li class="ct-edit-box-item" data-selector="{{Selector}}" draggable="true">
	<span class="ct-edit-box-item-header">{{StepHeader}}</span>
	<span class="ct-edit-box-item-drag"></span>
	<div class="more-info">
		<span class="ct-edit-box-item-page">{{PageName}}</span>
		<span class="ct-edit-box-item-notes">{{StepNotes}}</span>
	</div>
</li>
