<li class="ct-edit-box-item" data-selector="{{Selector}}" data-page-name="{{PageName}}" draggable="true">
	{{PageName}}
	<span class="ct-edit-box-item-message">{{Notes}}</span>
	<span class="ct-edit-box-item-drag"></span>
</li>
