@import "skins/oasis/css/core/color";

#contentManagmentForm {
	text-align: center;

	margin: 100px 0;
	position: relative;

	.header {
		text-align: left;
	}

	ul {
		margin: 0 auto;
		text-align: left;

		width: 700px;

		counter-reset: first second;

		li {
			list-style: none;

			position: relative;

			&::before {
				counter-increment: first;
				content: counter(first);

				width: 30px;
				display: inline-block;
			}
		}

		.tag + .category {
			counter-reset: second;
		}

		.tag ~ .category {
			margin-left: 50px;

			&::before{
				counter-increment: second;
				content: counter(first)"."counter(second);
			}
		}
	}

	.autocomplete {
		div {
			background: white;
			line-height: 30px;
		}
		.selected {
			background: grey;
			color: white;
		}
	}

	input {
		height: 25px;
		width: 200px;
		margin: 10px;

		border: 1px solid grey;
		box-shadow: inset -2px 2px 10px -5px black;

		-webkit-transition: all .3s;
	}

	button {
		-webkit-transition: all .3s;
	}

	.error{
		box-shadow: inset -2px 2px 10px -5px black, 0 0 5px red;
		border: 1px solid red;
	}

	.autocomplete {
		border: 3px solid grey;
	}

	.drop {
		border: dashed $color-alternate-text 2px;
		padding: 20px;
	}

	.sprite {
		position: absolute;
		top: 16px;
	}

	.remove {
		right: 35px;
	}

	.drag {
		right: 10px;
	}

	.photo {
		right: 55px;
	}
}

#status {
	color: green;
	opacity: 0;

	-webkit-transition: all .5s;

	&.ok {
		opacity: 1;
	}
}
