//dependencies
@import "../../WikiaMobile/css/infobox";
@import "../../WikiaMobile/css/sections";
@import "../../WikiaMobile/css/images";
@import "../../WikiaMobile/css/videos";
@import "../../WikiaMobile/css/image_stack";
@import '../../WikiaMobile/css/modal';
@import '../../WikiaMobile/css/media_modal';
@import '../../WikiaMobile/css/image_placeholder';

$linkColor: rgb(171,197,97);
$backgroundColor: black;

//I use it in a lot of places so it makes sense to have it here
//The faster the better as it is not rendering but browser does calculation based on it
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: $backgroundColor;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	background: $backgroundColor;
	color: white;

	margin: 0;
	padding: 10px 15px;

	font-family: roboto, helvetica, "sans serif";
	font-size: 90%;

	line-height: 20px;
}

#mw-content-text {
	background: $backgroundColor;
}

#pageName {
	max-width: 100%;
	word-break: break-word;
	line-height: 30px;
	color: $linkColor;
	padding: 5px;
}

h2,h3, .collSec {
	color: white;
}

.collSec {
	border-top: none;
	border-bottom: 1px solid rgb(41,41,41);

	padding-bottom: 10px;
	padding-top: 0;

	font-size: 1.3em;

	-webkit-transition: border .3s;

	&.open {
		border-bottom: 1px solid $linkColor;
	}

	.chev {
		width: 0;
		height: 0;
	}
}

a {
	text-decoration: none;

	color: white;
	pointer-events: none;

	-webkit-transition: color .2s;
}

a.validLink {
	color: $linkColor;
	pointer-events: auto;
}

//hmmm
#va-titleicons, #toc {
	display: none;
}

$size: 9;
$width: 3;

.chev {
	position: relative;

	width: 0;
	height: 0;
	border: $size + px solid;
	border-color: rgb(224,224,224) transparent transparent transparent;

	-webkit-transition: -webkit-transform .3s;
	-webkit-transform-origin: 50% 25%;

	border-radius: 4px;
}

.chev:after {
	content: '';
	position: absolute;

	left: ( -$size + $width ) + px;
	top: ( -$size ) + px;
	width: 0;
	height: 0;

	border: ( $size - $width ) + px solid;
	border-color: $backgroundColor transparent transparent transparent;
}

.open .chev {
	border-color: $linkColor transparent transparent transparent;
	-webkit-transform: rotateZ(-180deg);
}