<form class="WikiaForm SpecialUploadForm"
      action="{{wgScriptPath}}/wikia.php?controller=SpecialPromote&method=uploadImage&format=html"
      id="ImageUploadForm" method="POST" enctype="multipart/form-data">
	<p class="error"></p>
	<div class="input-group">
		<p class='copy'>{{copy}}</p>
	</div>
	<div class="input-group">
		<input type="file" name="wpUploadFile"/>
		<input type="hidden" name="uploadType" value="{{uploadType}}"/>
		{{#imageIndex}}
		<input type="hidden" name="imageIndex" value="{{imageIndex}}"/>
		{{/imageIndex}}
	</div>
</form>
