{{#ads}}
	<li class="unit">
		<a class="link" href="{{site-link}}">{{{title}}}</a>
		<p class="description">{{{description}}}</p>
		<a class="result-link" href="{{site-link}}">{{display-url}}</a>
	</li>
{{/ads}}