<div style="background: white; border: solid 5px red; width: 100%">

<h3>Ads</h3>

{{#ads}}
<div>
<div><a href="{{site-link}}">{{{title}}}</a><div>
<div>{{{description}}}</div>
<div>{{display-url}}</div>
</div>
{{/ads}}

</div>