<div class="pi-item pi-data pi-item-spacing pi-border-color{{#cssClasses}} {{{cssClasses}}}{{/cssClasses}}"{{#inlineStyles}} style="{{inlineStyles}}"{{/inlineStyles}}>
	{{#label}}
		<h3 class="pi-data-label pi-secondary-font">{{{label}}}</h3>
	{{/label}}
	<div class="pi-data-value pi-font">
		<figure data-component="portable-infobox-data-hero-image" data-attrs="{{mercuryComponentAttrs}}">
			<a href="{{url}}">
				<img class="article-media-placeholder"
					 src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{width}} {{height}}'%2F%3E"
					 alt="{{title}}"
					{{#width}} width="{{width}}"{{/width}}
					{{#height}} height="{{height}}"{{/height}}/>
			</a>
		</figure>
	</div>
</div>
