<form id="portableInfoboxBuilder" class="portable-infobox-builder" method="POST" action="{{formAction}}">
	<h2 class="title">{{infoboxBuilderHeader}}</h2>
	<button type="submit" class="big publish-btn">{{publishBtn}}</button>
	<div id="infoboxPreview" class="infobox-preview">{{{infoboxContent}}}</div>
	<div id="optionsPannel" class="options-pannel">
		<span class="option-pannel-placeholder">{{optionsPlaceholder}}</span>
	</div>
	<input type="hidden" name="title" value="{{templateTitle}}">
</form>