<div class="pi-item pi-hero">
	<img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D"
	     data-src="{{thumbnail}}" class="pi-image-thumbnail lazy media article-media" alt="{{alt}}"
	     data-image-key="{{name}}" data-image-name="{{name}}" data-ref="{{ref}}"
	     data-params='[{"name":"{{name}}", "full":"{{url}}"}]'/>
</div>
