<table class="pi-horizontal-group">
	<caption class="pi-header pi-secondary-font pi-secondary-background pi-item-spacing">{{header}}</caption>
	<thead>
		<tr>
			{{#labels}}
				<th class="pi-horizontal-group-item pi-data-label pi-secondary-font">{{{.}}}</th>
			{{/labels}}
		</tr>
	</thead>
	<tbody>
	<tr>
		{{#values}}
			<td class="pi-horizontal-group-item pi-data-value">{{{.}}}</td>
		{{/values}}
	</tr>
	</tbody>
</table>
