<div class="pi-item pi-hero">
	<img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D"
	     data-src="{{thumbnail}}" class="pi-image-thumbnail lazy media article-media" alt="{{fileName}}"
	     data-image-key="{{fileName}}" data-image-name="{{fileName}}"
	     data-params='[{"name":"{{fileName}}", "full":"{{url}}"}]'/>
</div>
