<table class="pi-h-group-content">
	<caption class="pi-header pi-secondary-font pi-secondary-background">{{header}}</caption>
	<thead>
		<tr>
			{{#labels}}
				<th class="pi-h-group-item pi-data-label pi-secondary-font">{{{.}}}</th>
			{{/labels}}
		</tr>
	</thead>
	<tbody>
	<tr>
		{{#values}}
			<td class="pi-h-group-item pi-data-value">{{{.}}}</td>
		{{/values}}
	</tr>
	</tbody>
</table>
