<div class="pi-item pi-data pi-item-spacing pi-border-color">
	{{#label}}
		<h3 class="pi-data-label pi-secondary-font">{{{label}}}</h3>
	{{/label}}
	<div class="pi-data-value pi-font">{{{value}}}</div>
</div>
