<div class="pi-image-collection"
	data-component="portable-infobox-image-collection"
	data-attrs="{{mercuryComponentAttrs}}">

	{{#images}}
		<figure class="pi-item pi-image">
			<a href="{{url}}">
				<img class="article-media-placeholder lazyload"
				     src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{width}} {{height}}'%2F%3E"
				     alt="{{title}}"
				     data-src="{{url}}"
					{{#width}} width="{{width}}"{{/width}}
					{{#height}} height="{{height}}"{{/height}} />
				<noscript>
					<img src="{{url}}" alt="{{alt}}"{{#width}} width="{{width}}"{{/width}}{{#height}} height="{{height}}"{{/height}} />
				</noscript>
			</a>
			{{#caption}}<figcaption class="pi-item-spacing pi-caption">{{{caption}}}</figcaption>{{/caption}}
		</figure>
	{{/images}}
</div>
