<section class="pi-item pi-panel pi-border-color{{#cssClasses}} {{{cssClasses}}}{{/cssClasses}}"{{#item-name}} data-item-name="{{item-name}}"{{/item-name}}>
	{{{header}}}
	<ul class="pi-section-toggles">
		{{#tab-toggles}}
			<li class="pi-section-toggle{{#active}} pi-active-section{{/active}}" data-ref="{{index}}"{{#item-name}} data-item-name="{{item-name}}"{{/item-name}}>
				<div class="wds-tabs__tab-label pi-section-toggle-label">
					{{value}}
				</div>
			</li>
		{{/tab-toggles}}
	</ul>
	<div class="pi-section-contents">
		{{#tab-contents}}
			<div class="pi-section-content{{#active}} pi-active-section{{/active}}" data-ref="{{index}}"{{#item-name}} data-item-name="{{item-name}}"{{/item-name}}>
				{{{content}}}
			</div>
		{{/tab-contents}}
	</div>
</section>