<div class="pi-item pi-image">
	<figure class="article-media" data-ref="{{ref}}">
		<a href="{{url}}">
			<!-- remove data-src, class and data-params after wikiaMobile is gone -->
			<img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" alt="{{alt}}"
				 data-src="{{thumbnail}}" class="lazy media" data-params='[{"full":"{{url}}"}]' />
			<noscript>
				<img src="{{url}}" alt="{{alt}}">
			</noscript>
		</a>
	</figure>
</div>
