{{#cover}}
  <figure class="pi-item pi-image pi-image-gallery">
    <a href="{{url}}" class="image image-thumbnail{{#isVideo}} video video-thumbnail small{{/isVideo}}" title="{{alt}}">
      <img src="{{thumbnail}}" class="pi-image-thumbnail" alt="{{alt}}" width="{{{width}}}" height="{{{height}}}" data-{{media-type}}-key="{{name}}" data-{{media-type}}-name="{{name}}"/>
      {{#isVideo}}
        {{#duration}}
        <span class="duration" itemprop="duration">{{duration}}</span>
        {{/duration}}
        <span class="play-circle"></span>
      {{/isVideo}}
    </a>
    {{#caption}}<figcaption class="pi-item-spacing pi-gallery-caption">{{{caption}}}</figcaption>{{/caption}}
  </figure>
{{/cover}}

<div class="pi-image-gallery-extras">
  {{#extras}}
    <img src="{{thumbnail}}" class="pi-image-thumbnail" alt="{{name}}" data-image-key="{{name}}" data-image-name="{{name}}" />
  {{/extras}}
</div>
