<p class="portable-infobox-error-info">{{info}}</p>
<table class="portable-infobox-debug">
    {{# code }}
    <tr{{# error }} class="error"{{/ error}}>
        <td>
            {{ line }}
        </td>
        <td>
            {{ codeLine }}
        </td>
    </tr>
    {{# error }}
    <tr>
        <td></td>
        <td>
        {{# error_messages }}
        <p>{{{ message }}}</p>
        {{/ error_messages }}
    </td></tr>
    {{/ error }}
    {{/ code }}
</table>