<section id="portableInfoboxBuilder" class="portable-infobox-builder">
	<div id="infoboxPreview" class="infobox-preview">{{{infoboxContent}}}</div>
	<div id="optionsPannel" class="options-pannel">
		<span class="option-pannel-placeholder">{{optionsPlaceholder}}</span>
	</div>
	<button>{{publishBtn}}</button>
</section>