<div class="portable-infobox-item item-type-image no-margins">
	<figure>
		<a href="{{value}}" class="image image-thumbnail" title="{{alt}}">
			<img class="portable-infobox-image" alt="{{alt}}" data-url="{{value}}" data-image-key="{{image}}"
			     data-image-name="{{image}}"/>
		</a>
	</figure>
</div>