<ul data-orbit>
	{{#images}}
	<li>
		<figure class="pi-item pi-image image-tabber">
			<a href="{{url}}" class="image image-thumbnail{{#isVideo}} video video-thumbnail small{{/isVideo}}"
			   title="{{alt}}">
				<img src="{{thumbnail}}" class="pi-image-thumbnail" alt="{{alt}}" width="{{{width}}}" height="{{{height}}}"
					 data-{{media-type}}-key="{{name}}" data-{{media-type}}-name="{{name}}"/>
				{{#isVideo}}
					{{#duration}}
						<span class="duration" itemprop="duration">{{duration}}</span>
					{{/duration}}
					<span class="play-circle"></span>
				{{/isVideo}}
			</a>
		</figure>
		{{#caption}}
		<div class="orbit-caption">
			<figcaption class="pi-item-spacing pi-caption">{{{caption}}}</figcaption>
		</div>
		{{/caption}}
	</li>
	{{/images}}
</ul>