<div class="portable-infobox-item item-type-key-val portable-infobox-item-margins">{{#label}}<h3 class="portable-infobox-item-label portable-infobox-header-font">{{{label}}}</h3>{{/label}}<div class="portable-infobox-item-value">{{{value}}}</div></div>