<section id="portableInfoboxBuilder" class="portable-infobox-builder">
	<h2 class="title">{{infoboxBuilderHeader}}</h2>
	<button class="big publish-btn">{{publishBtn}}</button>
	<div id="infoboxPreview" class="infobox-preview">{{{infoboxContent}}}</div>
	<div id="optionsPannel" class="options-pannel">
		<span class="option-pannel-placeholder">{{optionsPlaceholder}}</span>
	</div>
</section>