<div class="pi-item pi-hero">
	{{#title}}
		<hgroup class="pi-hero-title-wrapper pi-item-spacing">
			<h2 class="pi-hero-title">{{{value}}}</h2>
			{{#image.caption}}
				<h3 class="pi-hero-caption">{{{image.caption}}}</h3>
			{{/image.caption}}
		</hgroup>
	{{/title}}
	{{#image}}
		<figure data-component="portable-infobox-hero-image" data-attrs="{{mercuryComponentAttrs}}">
			<a href="{{url}}">
				<img class="article-media-placeholder"
					src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{width}} {{height}}'%2F%3E"
					alt="{{title}}"
					{{#width}} width="{{width}}"{{/width}}
					{{#height}} height="{{height}}"{{/height}}/>
				<noscript>
					<img src="{{url}}" alt="{{alt}}"{{#width}} width="{{width}}"{{/width}}{{#height}} height="{{height}}"{{/height}}/>
				</noscript>
			</a>
		</figure>
	{{/image}}
</div>
