<div class="portable-infobox-item item-type-image no-margins">
	<figure>
		<a href="{{url}}" class="image image-thumbnail" title="{{alt}}">
			<img src="{{thumbnail}}" class="portable-infobox-image" alt="{{alt}}" data-image-key="{{name}}" data-image-name="{{name}}" data-ref="{{ref}}"/>
		</a>
	</figure>
</div>