{{!
	This template is linked with of mercury/front/templates/main/components/infobox-builder-item-wrapper.hbs
	Changing this template requires modifying the other in mercury repo.
}}
<aside class="portable-infobox pi-background{{#isEuropaEnabled}} pi-europa{{/isEuropaEnabled}}{{#theme}} {{theme}}{{/theme}}{{#layout}} {{layout}}{{/layout}}">{{{content}}}</aside>
