<div class="portable-infobox-item item-type-header portable-infobox-item-margins
portable-infobox-header-background">
	<h2 class="portable-infobox-header portable-infobox-header-font">{{{value}}}</h2>
</div>

