{{!
	This template is linked with of mercury/front/templates/main/components/infobox-builder-item-title.hbs
	Changing this template requires modifying the other in mercury repo.
}}
<h2 class="pi-item pi-item-spacing pi-title">{{{value}}}</h2>
