@import "../variables.scss";

@mixin section-title {
	border-top: 1px solid $border-color;
	color: $section-text-color;
	font-size: $section-title-font-size;
	padding: $page-padding 27px 0 0;
	position: relative;
	
	.chevron {
		display: block;
		/*border: 1px solid mix($border-color, $page-background-color, 30%);*/
		width: 22px;
		height: 22px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("/extensions/wikia/WikiaMobile/images/open_chev.png");/* $wgCdnStylePath */
		position: absolute;
		top: 37%;
		right: 0;
		background-color: rgba($page-background-color, 0.8);
		border-radius: 15px;
	}

	&.open .chevron {
		background-image: url("/extensions/wikia/WikiaMobile/images/close_chev.png");/* $wgCdnStylePath */
	}
}