<div class="smartbanner {{type}}{{^icon}} no-icon{{/icon}}" >
	<span class="sb-close clsIco"><span class=sb-close-btn></span></span>
	<span class="sb-icon{{#gloss}} gloss{{/gloss}}"{{#icon}} style="background-image: url({{icon}})"{{/icon}}></span>
	<div class=sb-info>
		<div>{{title}}</div>
		<div>{{author}}</div>
		<div>{{inStore}}</div>
	</div>
	<a target=_BLANK href="{{link}}" class=sb-button>
		<span>{{button}}</span>
	</a>
</div>