@import "skins/shared/color";

.infobox {
	background-color: mix($color-page, #000, 95%);
	border: 1px solid $color-page-border;
	clear: right;
	color: $color-text;
	float: right;
	margin-bottom: .5em;
	margin-left: 1em;
	padding: .2em;

	&[width='100%'] {	/* fb:8918 - 100% width support */
		float: none;
		margin-left: 0;
	}
}
