@import "skins/shared/color";

.skin-oasis .sprite {
	background-color: transparent;
	background-image: url(/skins/shared/images/sprite.png); /* $wgResourceBasePath */
	background-repeat: no-repeat;

	//Activity Feed
	&.edit {
		background-position: -1016px -48px;
		height: 20px;
		width: 19px;
	}
	&.talk {
		background-position: -1080px -48px;
		height: 20px;
		width: 16px;
	}
	&.talk-two {
		background-position: -1112px 0;
		height: 26px;
		width: 27px;
	}
	&.categorization {
		background-position: -1072px -32px;
		height: 16px;
		width: 22px;
	}
	&.move {
		background-position: -1048px -32px;
		height: 16px;
		width: 22px;
	}
	&.new {
		background-position: -1024px -32px;
		height: 16px;
		width: 22px;
	}
	&.photo {
		background-position: -1096px -32px;
		height: 16px;
		width: 26px;
	}
	&.video {
		background-position: -1128px -32px;
		height: 16px;
		width: 21px;
	}

	//Search button
	&.search {
		@if lightness( $color-button-text ) > 50 {
			background-position: -1055px -80px;
		} @else {
			background-position: -1036px -48px;
		}

		height: 16px;
		width: 21px;
	}

	//Toolbar
	&.mytools {
		background-position: -1112px -64px;
		height: 15px;
		width: 15px;
	}
	&.follow {
		background-position: -1112px -48px;
		height: 15px;
		width: 15px;
	}
	&.share {
		background-position: -1112px -80px;
		height: 15px;
		width: 15px;
	}

	&.logo {
		background-position: -269px 0px;
		height: 26px;
		width: 90px;
	}
    //.logo1, .logo2, .logo3, .logo4 -- corporate footer's logos
    &.logo9,
    &.logo2,
    &.logo3,
    &.logo4 {
        height: 16px;
        width: 55px;
        margin: 2px 5px;
    }
    &.logo9 { //lifestyle
        background-position: -210px 0px;
    }
    &.logo2 { //video games
        background-position: -60px 0px;
    }
    &.logo3 { //entertainment
        background-position: -130px 0px;
    }
    //"default" logo -- com logo
    &.logo4 {
        background-position: 0px 0px;
    }

	//My Tools Configuration
	&.drag {
		background-position: -1144px -64px;
		height: 17px;
		width: 16px;
	}
	&.trash {
		background-position: -1128px -48px;
		height: 16px;
		width: 16px;
	}

	//Wiki Header buttons
	&.activity {
		background-position: -1128px -80px;
		height: 14px;
		width: 17px;
	}
	&.random {
		background-position: -1144px -48px;
		height: 13px;
		width: 13px;
	}

	&.close {
		background-position: -1098px -66px;
		height: 11px;
		width: 11px;
	}

	&.edit-pencil {
		background-position: -1000px -48px;
		height: 16px;
		width: 16px;
	}

	&.edit-pencil-small {
		background-position: -1197px -69px;
		height: 11px;
		width: 11px;
	}

	&.blog {
		background-position: -1000px -32px;
		height: 16px;
		width: 22px;
	}
	&.message {
		background-position: -1058px -48px;
		height: 16px;
		width: 22px;
	}
	&.lock {
		background-position: -1128px -64px;
		height: 12px;
		width: 9px;
	}

	&.remove {
		background-position: -1128px -48px;
		height: 16px;
		width: 13px;
	}

	&.drag {
		background-position: -1147px -64px;
		height: 17px;
		width: 13px;
	}

	&.details {
		background-position: -1210px 0;
		height: 18px;
		width: 17px;
	}

	&.info-icon {
		background-position: -1227px 0;
		height: 18px;
		width: 18px;
	}

	&.ok {
		background-position: -1096px -80px;
		height: 16px;
		width: 16px;
	}

	&.error {
		background-position: -1176px -80px;
		height: 16px;
		width: 16px;
	}

	&.contribute {
		background-position: -1172px -13px;
		height: 16px;
		width: 22px;
	}

	&.question {
		background-position: -1144px -20px;
		height: 12px;
		width: 12px;
	}

	//Notifications
	&.close-notification {
		background-position: -1001px -65px;
		height: 8px;
		width: 8px;
	}

	//Wide Tables
	&.popout {
		background-position: -1176px -48px;
		height: 23px;
		width: 24px;
	}

	//Image SEO
	&.embed {
		background-position: -1153px -32px;
		height: 9px;
		width: 20px;
	}
	&.email {
		background-position: -1176px -32px;
		height: 10px;
		width: 14px;
	}
	&.share2 {
		background-position: -1192px -32px;
		height: 13px;
		width: 13px;
	}

	//Toolbar
	&.gear {
		background-position: -1192px -80px;
		height: 16px;
		width: 16px;
	}

	//Facebook
	&.facebook {
		background-position: -1162px -18px;
		height: 14px;
		width: 15px;
	}
	&.external {
		background-position: -1196px 0px;
		height: 10px;
		width: 10px;
	}
	&.progress {
		background-image: url(/skins/common/images/ajax.gif); /* $wgResourceBasePath */
	}

	// Video
	&.play {
		background-position: -865px -45px;
		height: 51px;
		width: 50px;

		&.small {
			background-position: -880px 0px;
			height: 35px;
			width: 35px;
		}

		&.large {
			background-position: -915px -10px;
			height: 86px;
			width: 85px;
		}
	}
}

//Category Select
.sprite-small {
	background-color: transparent;
	background-image: url(/skins/shared/images/sprite.png); /* $wgResourceBasePath */
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	&.close {
		background-position: -1146px -82px;
	}
	&.sorted {
		background-position: -1160px -48px;
	}
	&.sort {
		background-position: -1160px -64px;
	}
	&.add {
		background-position: -1160px -80px;
	}
	&.edit {
		background-position: -1196px -68px;
	}
	&.delete {
		background-position: -1196px -18px;
	}
}
