@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/opacity";
@import "../../../../skins/oasis/css/mixins/transform";
#FounderProgressWidget {
	.preview {
		@include linear-gradient(white, top, #fff, 10%, #f5f5f5, 100%);
		border: 1px solid #e8e8e8;
		position: relative;
		.founder-progress-bar {
			margin: 10px;
		}
		.founder-progress-bar-click-area {
			cursor: pointer;
			height: 95px;
			left: 10px;
			position: absolute;
			top: 10px;
			width: 95px;
			z-index: 1;
		}
		.numeric-progress {
			color: #3a3a3a;
			font-size: 36px;
			left: 0;
			margin: 10px;
			padding-top: 28px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 95px;
			.percentage {
				font-size: 14px;
				font-weight: bold;
				position: relative;
				top: -14px;
			}
		}
		header {
			background-color: #f2f2f2;
			height: 63px;
			padding: 7px 20px 0 0;
			position: absolute;
			right: 0;
			text-align: right;
			top: 17px;
			width: 120px;
			h1 {
				color: #6aa8d1;
				font-size: 16px;
				line-height: 20px;
				margin: 0;
			}
			.list-toggle {
				color: #7b7b7b;
				font-size: 11px;
				font-style: italic;
				.hide-full-list {
					display: none;
				}
			}
			&:after {
				border: 35px solid transparent;
				border-right-style: solid;
				border-right-width: 18px;
				border-right-color: #f2f2f2;
				content: "";
				height: 0;
				left: -53px;
				position: absolute;
				top: 0;
				width: 0;
			}
		}
		.completion-message {
			background-color: white;
			border: 1px solid #e8e8e8;
			font-size: 13px;
			line-height: 23px;
			margin: 10px;
			padding: 30px 10px 10px 10px;
			position: relative;
			.close {
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
		.activities {
			margin: 10px;
			.activity {
				border: 1px solid #e8e8e8;
				margin-top: 10px;
				&:first-child {
					margin-top: 0px;
				}
				.label {
					@include clearfix;
					@include linear-gradient(#ebebeb, top, #fff, 40%, #ebebeb, 100%);
					color: #6aa8d1;
					padding: 10px;
					position: relative;
					.activity-name {
						float: left;
						font-weight: bold;
						width: 190px;
					}
					.chevron {
						border: 5px solid transparent;
						border-top: 5px solid #6aa8d1;
						height: 0;
						right: 12px;
						position: absolute;
						top: 12px;
						width: 0;
					}
					&:hover {
						cursor: pointer;
					}
				}
				.description {
					background: white;
					line-height: 23px;
					padding: 10px;
					position: relative;
					.actions {
						margin-top: 10px;
						position: relative;
						text-align: right;
						.skip {
							color: #aaa;
							left: 0;
							position: absolute;
							top: 5px;
						}
					}
				}
				&.active {
					.label {
						@include linear-gradient(#dcdcdc, top, #f2f2f2, 55%, #dcdcdc, 100%);
						color: #2070AD;
						.chevron {
							border-top: 5px solid transparent;
							border-bottom: 5px solid #6aa8d1;
							top: 7px;
						}
					}
					.description {
						&:before {
							border: 9px solid transparent;
							border-top: 7px solid #dcdcdc; 
							content: "";
							left: 35px;
							position: absolute;
							top: 0;
							width: 0;
						}
					}
				}
			}
		}
	}
}

.FounderProgressList {
	@include box-shadow(2px, 2px, 2px, #e2e2e2, false, 0);
	border: 1px solid #e8e8e8;
	position: relative; 
	width: 698px;
	z-index: 7;
	>nav {
		@include box-shadow(0, 3px, 6px, #e2e2e2);
		background: white;
		height: 20px;
		padding: 9px 10px 10px 14px;
		position: relative;
		z-index: 5;
		.back-to-dash {
			font-size: 13px;
			line-height: 23px;
			padding-left: 5px;
			&:before {
				border: 6px solid transparent;
				border-right: 6px solid #c5c5c5;
				content: "";
				display: block;
				float: left;
				left: -5px;
				position: relative;
				top: 5px;
				width: 0;
			}
		}
	}
	header {
		@include linear-gradient(#f8f8f8, top, #fff, 0%, #f8f8f8, 25%, #f2f2f2, 100%);
		padding: 20px 40px;
		h1 {
			font-size: 16px;
			font-weight: bold;
		}
		p {
			margin-top: 8px;
			line-height: 20px;
		}
	}
	.tasks {
		position: relative;
		z-index: 5;
		.task {
			border-top: 1px solid #e8e8e8;
			.chevron {
				border: 5px solid transparent;
				height: 0;
				right: 25px;
				position: absolute;
				width: 0;
			}
			&.collapsed {
				.chevron {
					border-top: 5px solid #72a6d0;
					top: 10px;
				}
			}
			&.expanded {
				.chevron {
					border-bottom: 5px solid #72a6d0;
					top: 5px;
				}
			}
			.task-label {
				@include linear-gradient(#ebebeb, top, #fff, 40%, #ebebeb, 100%);
				color: #2070AD;
				cursor: pointer;
				font-size: 16px;
				font-weight: bold;
				padding: 7px 20px;
				position: relative;
				.sub-label {
					color: #464646;
					font-size: 12px;
					font-weight: normal;
					margin-left: 20px;
				}
				.lock {
					background-image: url(/extensions/wikia/AdminDashboard/images/icons.png);	/* $wgCdnStylePath */
					background-repeat: no-repeat;
					background-position: -650px 0;	
					height: 17px;
					margin-left: 5px;
					position: relative;
					top: 2px;
					width: 13px;
				}
			}
			.task-group {
				@include clearfix;
				padding: 20px 0 10px 31px;
				background: white;
			}
		}
	}
	.activities {
		float: left;
		margin-left: 18px;
		width: 200px;
		.activity {
			cursor: default;
			position: relative;
			.activity-label {
				color: #1075b5;
				font-size: 13px;
				margin-bottom: 10px;
			}
			&.completed .activity-label,
			&.locked .activity-label {
				color: #ccc;
			}
			&.locked .activity-label {
				color: #e2e2e2;
			}
			.activity-checkmark {
				background-image: url(/extensions/wikia/AdminDashboard/images/icons.png);	/* $wgCdnStylePath */
				background-repeat: no-repeat;
				background-position: -663px 0;	
				height: 12px;
				left: -15px;
				position: absolute;
				top: 2px;
				width: 12px;
			}
			.activity-description {
				bottom: 0px;
				display: none;
				padding-bottom: 25px;
				position: absolute;
				width: 250px;
				z-index: 9;
				.description {
					@include box-shadow(2px, 2px, 2px, #ccc, false, 0);
					background: white;
					border: 1px solid #e8e8e8;
					position: relative;
					p {
						line-height: 23px;
						padding: 0 10px 10px 15px;
						position: relative;
						z-index: 9;
					}
					h4 {
						font-size: 13px;
						font-weight: bold;
						margin: 10px 10px 5px 15px;
					}
					.actions {
						background-color: #f3f3f3;
						padding: 5px;
						position: relative;
						text-align: right;
						z-index: 9;
						.skip, .completed, .skipped {
							left: 15px;
							position: absolute;
							top: 10px;
						}
						.skip {
							color: #aaa;
						}
					}
					em {
						display: block;
						font-style: italic;
						margin-top: 10px;
					}
					>.tail {
						bottom: -15px;
						left: 25px;
						position: absolute;
					}
				}
			}
		}
	}
	>.tail {
		position: absolute;
		right: -25px;
		top: 76px;
	}
}

.ControlCenterRail {
	position: relative;
}