#AddNewTalkSectionFooter {
	border-top: 1px dashed #CCC;
	font-size: 9pt;
	margin: 0;
	overflow: hidden;
	padding: 10px;
}

#AddNewTalkSectionImage {
	background-image: url(http://images.wikia.com/common/skins/monaco/images/sprite.png);
	clip: rect(0px 288px 16px 272px);
	left: -272px;
	margin: 0 8px;
	float: left;
	width: 336px;
	height: 16px;
	position: absolute;
}

#AddNewTalkSectionLink a {
	margin: 0 20px;
}

/* fix for IE */
* html #AddNewTalkSectionImage {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://images.wikia.com/common/skins/monaco/images/sprite.png', sizingMethod='crop');
}

/* fixes for RTL */
body.rtl #AddNewTalkSectionImage {
	left: auto;
	right: -48px;
}

* html body.rtl #AddNewTalkSectionLink {
	float: right;
}
