
#wiki_logo{
	position:static;
	float:left;
}

#lyricsMinimalTop_leader{
	float:left;
	height:155px;
	padding-top:33px; /* centers a 768x90 leaderboard vertically */
}

#wikia_page{
	margin: 0px;
	top: 0px;
}
