// Fixme: this adds an additional request on every load
@import url('/extensions/wikia/CategorySelect/CategorySelect.css');

@import "../../../skins/oasis/css/core/color";
@import "../../../skins/oasis/css/mixins/border-radius";
@import "../../../skins/oasis/css/mixins/yui-suggest";
@import "../../../skins/oasis/css/mixins/ellipses";


// Fixme: including styles from EditPageLayout is pretty janky.
// When we refactor common colors/mixins into skins/oasis these should be removed.
@import "../EditPageLayout/css/core/colors";
@import "../EditPageLayout/css/core/dimensions";
@import "../EditPageLayout/css/mixins/inputs";

/* edit mode - CategorySelect module */
#csMainContainer.csEditMode {
	padding: 0 2px;
	#csSuggestContainer {
		top: 0px;
		width: $width-epl-module-input;
		.yui-ac-content {
			border-top: medium none !important; /* used to override yui with !important */
			border-bottom: solid 1px $color-epl-input-border !important;
			border-left: solid 1px $color-epl-input-border !important;
			border-right: solid 1px $color-epl-input-border !important;
			width: $width-epl-module-input + 4 !important;
		}
		#csHintContainer {
			width: $width-epl-module-input - 4;
			border-top: medium none;
			border-bottom: solid 1px $color-epl-input-border;
			border-left: solid 1px $color-epl-input-border;
			border-right: solid 1px $color-epl-input-border;
			z-index: 999;
		}
	}
	#csItemsContainerDiv {
		@include epl-textfield;
		margin-top: 10px;
		height: 22px * 4;
		width: $width-epl-module-input - 10;
		overflow: auto;
		*position: relative; // IE7
		ul {
			margin: 0;
		}
		.CSitem {
			clear: both;
			color: $color-text;
			line-height: 22px;
			margin: 0;
			span {
				@include ellipses;
				display: inline-block;
				width: 180px;
			}
			&:hover {
				background-color: $color-epl-hover;
			}
		}
	}
	#csCategoryInput {
		@include epl-textfield;
		width: $width-epl-module-input - 10;
		&[disabled] {
			opacity: 0.2;
		}
	}
}

/* Oasis fixes */
.csViewMode #csButtonsContainer {
	background-color: $color-epl-page-secondary;
	border-top: solid 1px $color-page;
	margin: 25px -15px -12px;
	text-align: right;
	input {
		padding: 0 12px;
	}
}

#csSuggestContainer {
	@include yui-suggest;
	width: $width-epl-module-input - 10;
}