<?php

#### EXAMPLE LOCALAPP SETTINGS HERE 
#### COPY TO LocalApp.php IF NEEDED

# When using an OmegaWiki dump:
# Add the default class "Lexical Item" to all DefinedMeanings
$wgDefaultClassMids = array(402295);

?>