$color-epl-gradient-border: #e9e9e9;
$color-epl-gradient-dark: #eaeaea;
$color-epl-gradient-light: #fff;
$color-epl-gradient-module-dark: mix($color-epl-gradient-light, $color-epl-gradient-dark, 40%);
$color-epl-gradient-shadow: #e0e0e0;
$color-epl-inputs-borders: #adadad;
$color-epl-module-header: #6fa7cc;
$color-epl-notices-background: #FFFFC6;
$color-epl-notices-border: #C4C1A2;
$color-epl-separator-dark: #c6c6c6;
$color-epl-separator-light: #e5e5e5;
$color-epl-toolbar-border: #ddd;
$color-epl-trigger-border: #cacaca;

$color-epl-text-color: #666;

$height-epl-toolbar: 45px;
$width-epl-module-input: 240px;
