@mixin button-icon-resize-square( $width, $height ) {
	height: $height;
	width: $width;
	margin: floor(( 26px - $height ) / 2)  floor(( 26px - $width ) / 2);
}

@mixin button-icon-resize( $width, $height ) {
	height: $height;
	width: $width;
	margin: floor(( 26px - $height ) / 2) 5px;
}

@mixin epl-textfield {
	background: #f6f6f6;
	border: solid 1px $color-epl-inputs-borders;
	color: #666;
	display: block;
	font-family: inherit;
	font-size: 12px;
	font-style: italic;
	line-height: 23px;
	width: $width-epl-module-input;

	&::-webkit-input-placeholder {
		font-style: italic;
		color: $color-epl-text-color;
	}

	&:-moz-placeholder {
		font-style: italic;
		color: $color-epl-text-color;
	}

	&.placeholder {
		font-style: italic;
		color: $color-epl-text-color;
	}
}

// styling for edit area and category select source mode
@mixin epl-editorarea {
	font-family: Consolas, "Eupheima UCAS", Ayuthaya, Menlo, monospace;
	font-size: 13.5px;
	width: 100%;
}

// copied from Chat.scss
@mixin splotch {
	@include border-radius(10px);
	@include linear-gradient(#dc0d0e, top, #e63031, 0, #dc0d0e, 50%, #e63031, 100%);
	background-clip: padding-box;
	border: 1px solid white;
	color: white;
	display: inline-block;
	font-size: 9px;
	height: 12px;
	line-height: 13px;
	min-width: 8px;
	padding: 0 2px;
	text-align: center;
}