a.new, #quickbar a.new {
	color: #002bb8 !important;
}

#page_tabs a {
	color: inherit !important;
}

#NoArticleTextNotice {
	background: #ff9;
	color: #000;
	font-size: 140%;
	margin-bottom: 2px;
	padding: 5px;
	position: relative;
	text-align: center;
}

#NoArticleTextNoticeClose {
	background-image: url(/skins/monaco/images/sprite.png); /* $wgCdnStylePath */
	background-position: -304px 0;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 16px;
}
