@import 'skins/shared/color';

#ImageUpload {
	height: 507px;
	padding: 25px 10px 10px;
	position: relative;
	width: 722px;
}
#ImageUploadBorder {
	background-color: #000;
	border: 1px solid #FFF;
	filter: alpha(opacity=60);
	height: 545px;
	left: 0;
	opacity: .6;
	position: absolute;
	top: 0;
	width: 720px;
}
#ImageUploadBody {
	height: 470px;
	opacity: 1;
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 670px;
}
#ImageUpload h1 {
	color: #222;
	font-weight: bold;
	font-size: 19pt;
	letter-spacing: -1px;
}
#ImageUpload h2 {
	font-size: 12pt;
	font-weight: bold;
}

#ImageUploadBack img  {
        position: absolute;
        cursor: pointer;
        top: -1px;
        left: -2px;
}

#ImageUploadBack {
	left: 10px;
	padding-left: 18px;
	position: absolute;
	top: 5px;
	display: none;
}
#ImageUploadBack a {
	color: #FFF;
}

.ImageUploadProgress {
	background: url(/skins/common/images/ajax.gif) no-repeat;
	height: 16px;
	width: 16px;
}
#ImageUploadProgress1 {
	position: absolute;
	left: 353px;
	top: 5px;
	display: none;
}

/*** CONFLICT ***/
#ImageUploadConflictTable {
	margin: 15px 0 10px;
	width: 100%;
}
#ImageUploadConflictTable td {
	padding: 5px 20px 10px;
	text-align: center;
	vertical-align: top;
	width: 50%;
}
#ImageUploadCompare td {
	background: url(../images/conflict_background.png) center center no-repeat;
	height: 220px;
	padding: 0;
	vertical-align: middle;
}
* html #ImageUploadCompare td {
	background: none;
}
#ImageUploadCompare img {
	line-height: 280px;
}

/*** UPLOAD/FIND ***/
#ImageUploadPagination {
	font-size: 9pt;
	float: right;
}
#ImageUploadHeadline {
	margin: 6px 0 5px;
}
#ImageUploadInputTable {
	margin-top: -5px;
}
#ImageUploadInputTable td {
	border-bottom: 1px solid #CCC;
	padding: 8px 0;
}
#ImageUploadUpload td {
	padding-top: 8px;
}
#ImageUploadFindTable {
	margin: 0 0 5px;
	width: 100%;
}
#ImageUploadFindTable td {
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
}
#ImageUploadFindTable tr.ImageUploadFindImages td {
	padding-top: 10px;
	vertical-align: bottom;
}
#ImageUploadFindTable tr.ImageUploadFindLinks td {
	padding: 5px 0 10px;
}
#ImageUploadFindTable img {
	display: block;
	margin: 0 auto;
	max-height: 90px;
	max-width: 120px;
	/*height: expression(this.height > this.width && this.height > 90 ? '90px' : 'auto');*/
	/*width: expression(this.height < this.width && this.width > 120 ? '120px' : true);*/
}
#ImageUploadFindNext {
	float: right;
}

/***INSERT OPTIONS***/
.ImageUploadOptionsTable {
	color: #000;
}
.ImageUploadOptionsTable th {
	font-weight: bold;
	font-size: 11pt;
}
.ImageUploadOptionsTable td, .ImageUploadOptionsTable th {
	border-bottom: 1px solid #CCC;
	padding: 5px 5px;
}
.ImageUploadOptionsTable img {
	vertical-align: middle;
}
.ImageUploadOptionsTable label {
	margin-right: 10px;
}
.ImageUploadNoBorder td, .ImageUploadNoBorder th {
	border: 0 !important;
}
.ImageUploadNoSpace td, .ImageUploadNoSpace th {
	padding: 0 !important;
}

.ImageUploadThin td, .ImageUploadThin th {
	padding: 10px 5px 2px 2px !important;
}

#ImageUploadSection {
	background: #EEE;
	border-bottom: 1px solid #CCC;
	margin-bottom: 15px;
	padding: 5px;
}
#ImageUploadWidthCheckbox {
	float: left;
	margin-right: 5px;
}
#ImageUploadSlider {
	background: url(/extensions/wikia/WikiaMiniUpload/images/slider_groove.png) center center repeat-x; /* $wgResourceBasePath */
	height: 16px;
	float: left;
	margin-right: 5px;
	position: relative;
	width: 208px;
}
#ImageUploadSliderThumb {
	position: absolute;
}

#ImageUploadError {
	background: #252525;
	color: #FFF;
	font-size: 11pt;
	font-weight: bold;
	left: 2px;
	padding: 30px 20px 30px 20px !important;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 656px;
	display: none;
}
#ImageUploadError a {
	color: #EEE;
	text-decoration: underline;
}

#WMU_div {
    background: transparent;
    border: 0;
}

.ImageUploadSourceNote {
	color: #666;
	font-size: 11pt;
	margin-top: 10px !important;
}

#WMU_error_box {
	display: none;
}

#ImageUploadMessage p {
	line-height:1.5em !important;
	margin:0.4em 0 0.5em !important;
}

#ImageUploadLicenseSpan {
	font-size: 8pt;
}

#ImageUploadLicense {
	max-width: 290px;
}

/*
#ImageUploadLicenseTextWrapper {
	height: 46px;
	overflow: hidden;
}

#ImageUploadLicenseTextWrapper:hover {
	height: auto;
	overflow: auto;
}

#ImageUploadMessageControl {
	position: absolute;
	font-size: 9pt;
	right: 24px;
	top: 6px;
}
*/

#ImageUploadTextCont td {
	padding-top: 0;
}

#ImageUploadLicenseControl, #ImageUploadLicenseText {
	font-size: 9pt;
}

#ImageUploadLicenseLink {
	margin-left: 4px;
}


#ImageUploadManualWidth {
	width: 36px;
	height: 16px;
}


/* New stuff */

.ImageUploadLeft {
	max-height: 350px;
	padding-bottom: 100px;
	position: relative;	
	width: 350px;
}
.ImageUploadLeft .details {
	bottom: 0;
	position: absolute;
}
.ImageUploadLeftMask {
	opacity: .9; 
	filter: alpha(opacity=90);
	height: 100px;
	position: absolute;
	width: 350px;
}
.ImageUploadRight {
	background: $color-page;
	border-bottom: 1px solid #AAA;
	padding: 10px;
	position: absolute;
	top: 40px;
	left: 375px;
	width: 290px;
	z-index: 5;
}
.ImageUploadRight .chevron {
	border-color: #000 transparent transparent;
	border-width: 4px;
	border-style: solid;
}
.ImageUploadRight .chevron.up {
	border-color: transparent transparent #000;
}
.ImageUploadRight h3 {
	clear: left;
	font-weight: bold;
	font-size: 14px;
	margin: 15px 0 5px;
}
#ImageUploadCaption {
	height: 40px;
}
#WMU_showhide {
	display: inline-block;
	margin-top: 10px;
}
.advanced {
	display: none;
}
#ImageLayoutRow img {
	vertical-align: middle;
}
