@import "../../../../skins/oasis/css//mixins/box-shadow";
@import "../../../../skins/oasis/css//core/color";

form.sd-form {
	
	margin: 10px 4px 10px 4px;
	pading: 5px;
	
	input {
		
		&.sd-fixedleft {
			position: absolute;
			left: 120px;
		}

		&.sd-long {
			width: 400px;
		}

		&.sd-very-long {
			width: 730px;
		}

		&.sd-oneforty {
			width: 130px;
		}

		&.sd-short {
			width: 50px;
		}

		&.sd-sshort {
			width: 20px;
		}
	}

	select {
		position: absolute;
		left: 120px;
	}

	select.simple {
		left: 100px;
	}
	
	textarea {
		position: absolute;
		left: 120px;
		width: 400px;
		height: 150px;
		font-size: 12px;
		font-family: arial;
	}

	div {
		height: 20px;
		padding: 5px;
	}
	
	div.sd-higher {
		height: 160px;
	}

	input.sd-checkbox {
		position: relative;
		left: 0px;
	}
	
}

form.sd-sub-form{

	@include box-shadow(1px, 1px, 6px, $color-buttons);
	margin: 10px 4px 10px 4px;
	border: 2px solid $color-buttons;
	padding: 4px;

	div.sd-source-title {
		padding: 5px;
		font-size: 16px;
		font-weight: bold;
		border-bottom: solid 1px #404040;
		height:20px;
		margin-bottom: 10px;
	}
	
	div.sd-source-line {
		margin-bottom: 10px;
		padding: 5px;
		font-size: 16px;
		font-weight: bold;
		border-bottom: solid 1px #404040;
		height:1px;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
		display: inline;

		li {
			width: 200px;
			margin-left: 0;
			padding: 3px 15px;
			list-style: none;
			display: inline-block;
		}
	}

	ul.sd-list {
		li {
			display: block;
			width: 800px;
		}
	}
}

#debug {
	
	display: none;
	height: 600px;
	overflow: auto;
	@include box-shadow(1px, 1px, 6px, $color-buttons);
	border: 2px solid $color-buttons;
	background-image: none;

	&.throbber {
		background-image: url('/extensions/wikia/SponsorshipDashboard/images/throbber.gif');
		background-position: center;
		background-repeat: no-repeat;
	}

	&.small {
		height: 30px;
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
		line-height: 30px;
	}
}

.simpleList {
	li {
		margin-left: 100px;
		list-style: none;
	}
}

#progress {
	display: none;
	text-align: center;
	width: 100%
	progress {
		width: 500px;

	}
	div {
		display: inline;
	}
}



