.WikiaArticle {
	line-height: 1.8em;
	padding: 0 10px;
	position: relative;
	min-height: 250px;
	z-index: 1;
	h1, h2, h3, h4, h5, h6 {
		margin: .5em 0 .2em;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		border-bottom: solid 1px $color-headline-border;
		font-size: 18px;
		margin-top: 14px;
		overflow: hidden;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	h5 {
		font-size: 12px;
	}
	h6 {
		font-size: 11px;
	}
	.editsection {
		float: none;
		font-size: 13px;
		margin-left: 10px;
		vertical-align: baseline;
		img {
			vertical-align: text-bottom;
		}
	}
	h1, h4, h5, h6 {
		.editsection {
			display: none;
		}
	}
	.noarticletext {
		border: 1px solid $color-article-toc-border;
		padding: 0 13px;
	}

	a:visited {
		color: $color-links;
	}

	a.new,
	a.new:visited {
		color: #cc2200;
	}

	b, strong {
		font-weight: bold;
	}

	i, em {
		font-style: italic;
	}

	sup {
		font-size: 11px;
		vertical-align: super;
	}

	sub {
		font-size: 11px;
		vertical-align: sub;
	}

	ul, ol {
		margin: 0.4em 0 0.5em 2.5em;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: square;
	}

	dl {
		margin: 1em 0;
	}

	dt {
		font-weight: bold;
		margin-bottom: 1px;
	}

	dd {
		margin-bottom: 1px;
		margin-left: 24px;
	}

	img {
		vertical-align: middle;
	}

	small {
		font-size: .78em;
	}

	.center {
		text-align: center;
		width: 100%;
		* {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.floatright {
		clear: right;
		float: right;
		position: relative;
		margin: 0 0 6px 6px;
		border: 0;
	}
	.floatleft {
		float: left;
		clear: left;
		position: relative;
		margin: 0 6px 6px 0;
		border: 0;
	}
	.thumbinner {
		//background-color: $color-article-thumb-background;
		@include linear-gradient($color-article-thumb-background, top, $color-page, 0%, $color-article-thumb-background, 100%);
		border: 1px solid $color-article-thumb-border;
		overflow: hidden;
		padding: 3px;
		text-align: center;
	}
	.thumbcaption {
		padding: 4px 1px 0 1px;
		line-height: 18px;
		text-align: left;
	}
	.tright {
		clear: right;
		float: right;
		margin: 0 0 16px 16px;
	}
	.tleft {
		float: left;
		clear: left;
		margin: 0 16px 16px 0;
	}
	.magnify {
		float: right;
	}

	.picture-attribution {
		display: block;
		font-size: 11px;
		text-align: left;
		position: relative;
		top: -2px;
		margin-right: 16px;
	}
	.picture-attribution .avatar {
		margin-right: 3px;
		vertical-align: middle;
	}

	.toc {
		background-color: $color-article-toc-background;
		border: 1px solid $color-article-toc-border;
		border-collapse: separate;
		margin: 1em 0;
		padding: 5px;
		ul {
			margin: 0;
			list-style: none;
			ul {
				margin-left: 2em;
			}
		}
	}
	#toctitle {
		text-align: center;
		h2 {
			border: none;
			display: inline;
			font-size: 14px;
		}
		.toctoggle {
			font-size: 12px;
		}
	}
	p {
		margin: 0.4em 0 0.5em;
	}
	p + p {
		margin: 1em 0;
	}
	pre {
		background-color: $color-module-shadow;
		border: 1px solid $color-page-border;
		line-height: 14px;
		overflow: auto;
		padding: 12px;
	}
	.printfooter {
		display: none;
	}
	#filetoc {
		text-align: center;
		border: 1px solid $color-article-toc-border;
		background-color: $color-article-toc-background;
		padding: 5px;
		font-size: 12px;
		margin-bottom: 5px;
		margin-left: 0;
		margin-right: 0;
		li {
			display: inline;
			list-style-type: none;
			padding-right: 23px;
		}
	}
	// highlight selected reference (ported from Vector skin)
	.references > li:target {
		background-color: mix($color-page, $color-links, 85%);
	}

	// video gallery
	div.gallerybox div.thumb {
		background: $color-article-thumb-background;
		border: 1px solid $color-article-thumb-border;
	}

	// for special pages
	fieldset {
		border: solid 1px $color-links;
		margin: 1em 0;
		padding: 0 1em 1em;
		legend {
			padding: 7px;
		}
	}
	.infobox {
		border: 1px solid $color-page-border;
		background-color: mix($color-page, #000, 95%);
		color: $color-text;
		margin-bottom: 0.5em;
		margin-left: 1em;
		padding: 0.2em;
		float: right;
		clear: right;
	}

	// add button within the content
	.add-icon {
		background: url(/skins/oasis/images/sprite.png) -1096px -16px no-repeat; /* $wgCdnStylePath */
		vertical-align: middle;
	}

	// /** categories **/
	#mw-pages {
		h3 {
			font-weight: bold;
		}
		ul {
			margin-left: 16px;
		}
	}

	//history page
	#pagehistory li.selected {
		background-color: $color-pagehistory;
	}
	//diff page
	td.diff-context {
		background-color: $color-diff-context;
	}
	td.diff-deletedline,
	td.diff-addedline {
		color: #000;
	}

	/*
		Table pager (e.g. Special:Imagelist)
		- remove underlines from the navigation link
		- collapse borders
		- set the borders to outsets (similar to Special:Allmessages)
		- remove line wrapping for all td and th, set background color
		- restore line wrapping for the last two table cells (description and size)
	*/
	.TablePager_nav a { text-decoration: none; }
	.TablePager { border-collapse: collapse; }
	.TablePager, .TablePager td, .TablePager th {
		border: 1px solid #aaaaaa;
			padding: 0 0.15em 0 0.15em;
	}
	.TablePager th { background-color: #eeeeff; color: #000 }
	.TablePager td { background-color: #ffffff; color: #000 }
	.TablePager tr:hover td { background-color: #eeeeff }
}

// RT #70017: wikitable class for skinning normal tables
table.wikitable {
	background: darken($color-page, 2%);
	border-collapse: collapse;
	border: 1px $color-page-border solid;
	margin: 1em 1em 1em 0;

	th, td {
		border: 1px darken($color-page, 35%) solid;
		padding: 0.2em;
	}
	th {
		background: darken($color-page, 5%);
		text-align: center;
	}
	caption {
		font-weight: bold;
	}
}

// /** Interlang Links **/
.WikiaArticleInterlang {
	margin: 10px;
	padding: 10px;
	clear: both;

	h3 {
		float: left;
		margin-right: 5px;
	}

	ul {
		li {
			border-left: 1px solid $color-page-border;
			float: left;
			line-height: 15px;
			margin-bottom: 6px;
			padding-left: 5px;
			padding-right: 5px;

			&:first-child {
				border: none;
				padding-left: 0px;
			}
			/*&:last-child {
				border: none;
			}*/
			&.more-link {
				border: none;
			}
			&.more {
				display: none;
			}
		}
	}
}
