body {
	background: $color-body url($background-image) top center repeat;
	color: $color-text;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	overflow-x: hidden;
	padding: 20px 0;
	>h1 {
		display: none;
	}
}
@if $background-tiled == false {
	body {
		background-repeat: no-repeat;
	}
}

a {
	color: $color-links;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.clearfix {
	@include clearfix;
}

.skiplinkcontainer {
	position: absolute;
	top: 0;
	right: 0;
	h1 {
		display: none;
	}
	.skiplink {
		display: block;
		margin: 0 auto;
		right: 0;
		width: 100px;
		position: absolute;
		top: -9999px;
		&:active,
		&:focus {
			top: 0px;
		}
	}
}