.WikiaFooter {
	clear: both;
	padding-top: 23px;
	position: relative;
	z-index: 1;
	.toolbar {
		@include linear-gradient($color-header, left, $color-header-alt, 0, $color-header, 50%, $color-header-alt, 100%);
		border-top: 3px solid #000;
		color: $color-header-text;
		height: 20px;
		left: 50%;
		margin-left: -$width-outside/2 - 5;
		position: absolute;
		top: 0;
		width: $width-outside + 10px;
		&:after {
			background: url(/skins/oasis/images/sprite.png) 0 -32px no-repeat; /* $wgCdnStylePath */
			content: " ";
			height: 12px;
			left: 5px;
			position: absolute;
			top: 20px;
			width: 1000px;
		}
		&.float {
			bottom: 0;
			margin-left: 0;
			position: fixed;
			top: auto;
			width: auto;
			z-index: 2000000000; //close to highest possible z-index to defeat third party ads
		}
		img {
			float: left;
			margin-right: 5px;
			vertical-align: middle;
		}
		.tools {
			@include clearfix;
			background-image: url(/skins/oasis/images/checkers.png); /* $wgCdnStylePath */
			display: block;
			list-style: none;
			padding-right: 30px;
			>li {
				border-right: 1px solid mix($color-header-text, $color-header, 20%);
				float: right;
				height: 16px;
				line-height: 16px;
				margin-top: 2px;
				padding: 0 10px;
				&:first-child {
					border: 0;
				}
				img {
					margin: 0 6px 0 1px;
				}
				>a {
					color: $color-header-text;
				}
			}
			.my-tools-edit {
				font-size: 10px;
				text-align: right;
			}
			img {
				cursor: pointer;
			}
		}
	}
	.my-tools-menu {
		@include menu-heavy;
		border-width: 4px 4px 2px;
		bottom: 22px;
		min-width: 120px;
		right: 0;
		span {
			color: mix($color-text, $color-page);
			display: block;
			padding: 5px;
		}
	}
	h1, .headline-div {
		font-size: 18px;
		left: 36px;
		position: absolute;
		top: 40px;
	}
	.wikia-button {
		position: absolute;
		right: 36px;
		top: 40px;
	}
	section >ul {
		@include clearfix;
		@include linear-gradient(false, top, rgba($color-module-shadow, 0), 50%, $color-module-shadow, 100%);
		border-bottom: 1px solid $color-page-border;
		border-left: 1px solid $color-page-border;
		border-right: 1px solid $color-page-border;
		list-style: none;
		margin: 0 15px;
		padding: 45px 20px 20px;
		text-align: center;
		.item-1 {
			float: left;
		}
		.item-2 {
			float: right;
		}
	}
	.banner-corner-left {
		border-color: transparent #000 #000 transparent;
		left: 0;
		top: -7px;
	}
	.banner-corner-right {
		border-color: transparent transparent $color-header $color-header;
		right: -5px;
		top: -7px;
	}
}


.CorporateFooter  {
	clear: both;
	text-align: center;
	nav {
		margin-top: 15px;
		>h1 {
			display: none;
		}
	}
	ul {
		list-style: none outside none;
		margin: {
			top: 5px;
			bottom: 10px;
		}
		display: inline-block;
		*width: 1000px; // /** IE 7  **/

		li {
			display: table-cell;
			*float: left;  // /** IE 7  **/
			padding: {
				right: 10px;
				left: 10px;
			}
			border-right: solid 1px $color-links;
			&:last-child {
				border: none;
			}

			a {
				color: $color-links;
			}
		}
	}
}
