//Where to put these non-location specific classes?
.avatar {
	border: 1px solid $color-page;
}
.chevron {
	border-color: #FFF transparent transparent;
	border-style: solid;
	border-width: 3px;
	width: 0;
}

.banner-corner-left,
.banner-corner-right {
	border-style: solid;
	border-width: 2px;
	position: absolute;
	width: 0;
}

.WikiaHeader {
	@include linear-gradient($color-header, left, $color-header-alt, 0, $color-header, 50%, $color-header-alt, 100%);
	border-top: 3px solid #000;
	color: $color-header-text;
	left: 50%;
	margin-left: -$width-outside/2 - 5;
	position: absolute;
	top: 31px;
	width: $width-outside + 10px;
	z-index: 1000;
	h1 {
		display: none;
	}
	nav:before {
		background: url("/skins/oasis/images/sprite.png") no-repeat; /* $wgCdnStylePath */
		bottom: -12px;
		content: " ";
		height: 12px;
		left: 5px;
		position: absolute;
		width: 1000px;
	}
	nav {
		background-image: url(/skins/oasis/images/checkers.png); /* $wgCdnStylePath */
		border-top: 1px solid mix($color-header-text, $color-header, 20%);
		border-bottom: 1px solid mix(#000, $color-header, 80%);
		font-size: 20px;
		height: 44px;
		>ul>li:last-child {
			padding: 0;
		}
	}
	li {
		border-left: 1px solid mix($color-header-text, $color-header, 20%);
		float: left;
		height: 22px;
		margin-top: 11px;
		padding: 0 15px;
		&:first-child {
			border: 0;
		}
	}
	.wikia-button {
		border: 1px solid mix($color-buttons, $color-page, 35%);
		float: left;
		font-size: 12px;
		height: 17px;
		line-height: 18px;
		padding: 1px 12px 0px;
		position: relative;
		top: 1px;
	}
	.chevron {
		border-top-color: mix($color-header-text, $color-header);
		border-width: 4px;
		vertical-align: baseline;
	}
	.WikiaLogo {
		padding-left: 30px;
		a {
			position: relative;
			top: -2px;
		}
		img {
			background: url(/skins/oasis/images/sprite.png) -1000px -41px no-repeat; /* $wgCdnStylePath */
			height: 23px;
			width: 91px;
		}
	}
	.banner-corner-left {
		border-color: #000 #000 transparent transparent;
		bottom: -4px;
		left: 0;
	}
	.banner-corner-right {
		border-color: $color-header transparent transparent $color-header;
		bottom: -4px;
		right: 0;
	}
}

.GlobalNavigation {
	//top level navigation list
	li {
		border: 0;
		height: 34px;
		margin-top: -11px;
		padding: 11px 0 0;
		&:hover {
			@include linear-gradient(false, top, rgba(#000, 0), 0, #000, 100%);
		}
	}
	>li >a {
		color: $color-header-text;
		float: left;
		font-size: 16px;
		&:visited, &:active {
			color: $color-header-text;		
		}
	}
	a {
		border-right: 1px solid mix($color-header-text, $color-header, 20%);
		display: inline-block;
		height: 22px;
		line-height: 24px;
		padding: 0 15px;
		&:hover {
			text-decoration: none;
		}
	}

	.subnav {
		@include clearfix;
		@include box-shadow(0, 5px, 10px, rgba(#000, .5));
		background: $color-page;
		border-width: 2px 4px 4px;
		border-style: solid;
		border-color: #000;
		display: block;
		left: 10px;
		padding: 10px 0;
		position: absolute;
		top: -9999px;
		width: $width-outside - 20px;
		z-index: 1;
		&.show {
			top: 44px;
		}
		li {
			display: inline;
			font-size: 15px;
			height: auto;
			margin: 0 0 0 10px;
			padding: 0;
			position: static;
			width: 160px;
			&:hover {
				background: none;
			}
			a {
				font-weight: bold;
			}
			
		}
		>li:first-child {
			padding-top: 10px;
			padding-right: 5px;
			width: auto;
		}
		.catnav {
			li {
				border-top: 1px solid $color-page-border;
				font-size: 14px;
				margin: 0;
			}
			a {
				font-weight: normal;
				padding-left: 5px;
				&:hover {
					background: $color-menu-highlight;
				}
			}
		}
		a {
			border: 0;
			color: $color-links;
			padding: 4px 0;
			display: block;
		}
	}
}