@import "color";
@import "../mixins/menus";
@import "../mixins/gradient";

.MyToolsConfiguration {
	form {
		border-right: 1px solid $color-page-border;
		float: left;
		margin-right: 10px;
		padding-right: 10px;
		position: relative;
		width: 325px;
	}

	label {
		display: block;
		font-size: 15px;
		font-weight: bold;
		margin: 1.5em 0 .3em;
		&:first-child {
			margin-top: 0;
		}
	}

	input[type=text] {
		@include linear-gradient(false, top, rgba(#000, .05), 0, rgba(#000, 0), 40%);
		border: 1px solid $color-page-border;
		height: 19px;
		width: 315px;
	}

	ul {
		border: 1px solid $color-page-border;
		margin-bottom: 10px;
		height: 200px;
		overflow: auto;
	}

	li {
		padding: 5px 25px;
		position: relative;
		&:hover {
			background: $color-menu-highlight;
		}
		img {
			position: absolute;
			top: .3em;
		}
	}

	.drag {
		background: url(/skins/oasis/images/sprite.png) -1144px -32px no-repeat; /* $wgCdnStylePath */
		cursor: move;
		height: 17px;
		left: 2px;
		width: 16px;
	}
	.trash {
		background: url(/skins/oasis/images/sprite.png) -1128px -16px no-repeat; /* $wgCdnStylePath */
		cursor: pointer;
		height: 16px;
		right: 2px;
		width: 16px;
	}

	.help-text {
		float: left;
		width: 40%;
		h1 {
			font-size: 17px;
			font-weight: bold;
		}
		p {
			line-height: 1.8em;
			margin: 1em 0;
		}
	}
	.autocomplete {
		@include menu-regular;
		margin-top: 2px;
		position: relative;
		width: 313px;
		z-index: 10;
		div {
			font-size: 14px;
			padding: 4px 4px 2px;
		}
		.selected {
			background: $color-menu-highlight;
		}
	}
}