.WikiaSearch {
	@include clearfix;
	margin-bottom: 10px;
	position: relative;
	
	input[type="text"] {
		@include input-field;
		background: $color-module-highlight;
		color: $color-text;
		width: 292px;
	}

	button {
		@include border-radius(0);
		border-width: 0 0 0 1px;
		height: 25px;
		line-height: 1px;
		position: absolute;
		right: 1px;
		top: 1px;
		@if lightness($color-page) < 50 {
			@include linear-gradient($color-text, top, $color-text, 35%, darken($color-text, 15%), 65%);
			&:hover {
				$color-button-hover: darken($color-text, 20%);
				@include linear-gradient($color-button-hover, top, $color-button-hover, 35%, darken($color-button-hover, 15%), 65%);
			}
		}
	}

	input[type="submit"] {
		display: none;
	}
	
	.autocomplete {
		@include menu-regular;
		margin-top: 2px;
		position: relative;
		width: 296px;
		z-index: $zTop;
		div {
			font-size: 14px;
			padding: 4px 4px 2px;
		}
		.selected {
			background: $color-menu-highlight;
		}
	}
}