.sprite {
	background-color: transparent;
	background-image: url(/skins/oasis/images/sprite.png); /* $wgCdnStylePath */
	background-repeat: no-repeat;

	//Activity Feed
	&.edit {
		background-position: -1016px -16px;
		height: 20px;
		width: 19px;
	}
	&.talk {
		background-position: -1080px -16px;
		height: 20px;
		width: 16px;
	}
	&.categorization {
		background-position: -1072px 0;
		height: 16px;
		width: 22px;
	}
	&.move {
		background-position: -1048px 0;
		height: 16px;
		width: 22px;
	}
	&.new {
		background-position: -1024px 0;
		height: 16px;
		width: 22px;
	}
	&.photo {
		background-position: -1096px 0;
		height: 16px;
		width: 26px;
	}
	&.video {
		background-position: -1128px 0;
		height: 16px;
		width: 21px;
	}
	
	//Search button
	&.search {
		background-position: -1036px -16px;
	}
	
	//Toolbar 
	&.mytools {
		background-position: -1112px -32px;
		height: 15px;
		width: 15px;
	}
	&.follow {
		background-position: -1112px -16px;
		height: 15px;
		width: 15px;
	}
	&.share {
		background-position: -1112px -48px;
		height: 15px;
		width: 15px;
	}
	
	&.logo {
		background-position: -1000px -41px;
		height: 23px;
		width: 91px;
	}

	//My Tools Configuration
	&.drag {
		background-position: -1144px -32px;
		height: 17px;
		width: 16px;		
	}
	&.trash {
		background-position: -1128px -16px;
		height: 16px;
		width: 16px;	
	}

	//Wiki Header buttons
	&.activity {
		background-position: -1128px -48px;
		height: 14px;
		width: 17px;
	}
	&.random {
		background-position: -1144px -16px;
		height: 13px;
		width: 13px;
	}
	
	&.close {
		background-position: -1098px -34px;
		height: 11px;
		width: 11px;
	}

	&.edit-pencil {
		background-position: -1000px -16px;
		height: 16px;
		width: 16px;
	}
	&.blog {
		background-position: -1000px 0;
		height: 16px;
		width: 22px;		
	}
	&.message {
		background-position: -1058px -16px;
		height: 16px;
		width: 22px;
	}
	&.lock {
		background-position: -1128px -32px;
		height: 12px;
		width: 9px;
	}

	&.remove {
		background-position: -1128px -16px;
		height: 16px;
		width: 13px;
	}

	&.drag {
		background-position: -1147px -32px;
		height: 17px;
		width: 13px;
	}

	&.details {
		background-position: -1096px -16px;
		height: 16px;
		width: 16px;
	}

	&.ok {
		background-position: -1096px -48px;
		height: 16px;
		width: 16px;
	}
	
	//Notifications
	&.close-notification {
		background-position: -1001px -33px;
		height: 8px;
		width: 8px;		
	}
}

//Category Select
.sprite-small {
	background-color: transparent;
	background-image: url(/skins/oasis/images/sprite.png); /* $wgCdnStylePath */
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	&.close {
		background-position: -1146px -50px;
	}
	&.sorted {
		background-position: -1160px -16px;
	}
	&.sort {
		background-position: -1160px -32px;
	}
	&.add {
		background-position: -1160px -48px;
	}
}	