@font-face {
	font-family: 'FontinSansBold';
	src: url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.woff') format('woff'), url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.svg#webfontaOEEV2k6') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fontin {
	font-family: "FontinSansBold";
}


@font-face {
	font-family: 'GartonMedium';
	src: url('/skins/oasis/fonts/garton/garto16-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/garton/garto16-webfont.woff') format('woff'), url('/skins/oasis/fonts/garton/garto16-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/garton/garto16-webfont.svg#webfont9jUXe5iO') format('svg');
	font-weight: normal;
	font-style: normal;
}
.garton {
	font-family: "GartonMedium";
}


@font-face {
	font-family: 'GondolaSDRegular';
	src: url('/skins/oasis/fonts/gondola/Gondola_SD-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/gondola/Gondola_SD-webfont.woff') format('woff'), url('/skins/oasis/fonts/gondola/Gondola_SD-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/gondola/Gondola_SD-webfont.svg#webfontZqT2GzQA') format('svg');
	font-weight: normal;
	font-style: normal;
}
.gondola {
	font-family: "GondolaSDRegular";
}


@font-face {
	font-family: 'IdolwildRegular';
	src: url('/skins/oasis/fonts/idolwild/idolwild-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/idolwild/idolwild-webfont.woff') format('woff'), url('/skins/oasis/fonts/idolwild/idolwild-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/idolwild/idolwild-webfont.svg#webfont2KYBVKLT') format('svg');
	font-weight: normal;
	font-style: normal;
}
.idolwild {
	font-family: "IdolwildRegular";
}


@font-face {
	font-family: 'IMFELLDWPicaPRORegular';
	src: url('/skins/oasis/fonts/imfell/fepirm27c-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/imfell/fepirm27c-webfont.woff') format('woff'), url('/skins/oasis/fonts/imfell/fepirm27c-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/imfell/fepirm27c-webfont.svg#webfontkY4YPcYZ') format('svg');
	font-weight: normal;
	font-style: normal;
}
.imfell {
	font-family: "IMFELLDWPicaPRORegular";
}


@font-face {
	font-family: 'JosefinSansStdLight';
	src: url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.woff') format('woff'), url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.svg#webfontmMSjIQwC') format('svg');
	font-weight: normal;
	font-style: normal;
}
.josefin {
	font-family: "JosefinSansStdLight";
}


@font-face {
	font-family: 'OrbitronMedium';
	src: url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.woff') format('woff'), url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.svg#webfont5FiGFJOa') format('svg');
	font-weight: normal;
	font-style: normal;
}
.orbitron {
	font-family: "OrbitronMedium";
}


@font-face {
	font-family: 'ProcionoRegular';
	src: url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.woff') format('woff'), url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.svg#webfontnTm7Rj2p') format('svg');
	font-weight: normal;
	font-style: normal;
}
.prociono {
	font-family: "ProcionoRegular";
}


@font-face {
	font-family: 'SFSpeakeasyRegular';
	src: url('/skins/oasis/fonts/speakeasy/SF_Speakeasy-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/speakeasy/SF_Speakeasy-webfont.woff') format('woff'), url('/skins/oasis/fonts/speakeasy/SF_Speakeasy-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/speakeasy/SF_Speakeasy-webfont.svg#webfontCKVfr1xz') format('svg');
	font-weight: normal;
	font-style: normal;
}
.speakeasy {
	font-family: "SFSpeakeasyRegular";
}


@font-face {
	font-family: 'TangerineRegular';
	src: url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.woff') format('woff'), url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.svg#webfonthdkJyIIt') format('svg');
	font-weight: normal;
	font-style: normal;
}
.tangerine {
	font-family: "TangerineRegular";
}


@font-face {
	font-family: 'TitilliumText22LRegular';
	src: url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.woff') format('woff'), url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.svg#webfontCVZ9BHQN') format('svg');
	font-weight: normal;
	font-style: normal;
}
.titillium {
	font-family: "TitilliumText22LRegular";
}


@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.eot');
	src: local('☺'), url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.svg#webfontlKPF1zIT') format('svg');
	font-weight: normal;
	font-style: normal;
}
.yanone {
	font-family: "YanoneKaffeesatzRegular";
}