.WikiaUserPagesHeader {
	@include clearfix;
	margin-bottom: 10px;
	padding: 0 10px 6px;
	position: relative;
	h1 {
		display: inline;
		font-size: 24px;
		margin: 0 10px 0 0;
		small {
			font-size: 12px;
		}
	}
	.commentslikes {
		display: inline;
		line-height: 26px;
		vertical-align: top;
	}
	.wikia-avatar {
		border: 2px solid $color-page;
		float: left;
		margin: 1px 7px 2px 2px;
		position: relative;
		ul {
			background: $color-page;
			border: 2px solid $color-links;
			display: none;
			left: -2px;
			list-style: none;
			margin: 0;
			position: absolute;
			top: 106px;
			width: 102px;
			z-index: 100;
			a {
				color: $color-text;
				display: block;
				padding: 4px 4px 2px;
				text-decoration: none;
				&:hover {
					background: $color-menu-highlight;
				}
			}
			li {
				border-top: 1px solid $color-page-border;
				line-height: normal;
				&:first-child {
					border: 0;
				}
			}
		}
	}
	.wikia-avatar-menu:hover {
		border-color: $color-links;
		ul {
			display: block;
		}
	}
	.avatar-link {
		border: 1px solid $color-page-border;
		display: block;
		.avatar {
			border: none;
		}
	}
	span {
		display: block;
	}
	.member-since {
		font-size: 10px;
		line-height: 14px;
	}
	.member-edits {
		font-size: 30px;
		line-height: 30px;
		vertical-align: text-bottom;
		sup {
			font-size: 10px;
			position: relative;
			text-transform: uppercase;
			top: -14px;
		}
	}
	.tabs-container {
		&:before {
			background: url("/skins/oasis/images/sprite.png") 0 -16px no-repeat; /* $wgCdnStylePath */
			bottom: 0;
			content: " ";
			height: 8px;
			left: 0;
			position: absolute;
			width: 550px;
		}		
		bottom: 0;
		left: 120px;
		overflow: hidden;
		position: absolute;
		width: 550px;
		.tabs {
			border-bottom: none;
			margin-bottom: 10px;
		}
	}
	.wikia-button,
	.wikia-menu-button {
		position: absolute;
		right: 10px;
		top: 0;
		a[data-id=editprofile] .icon,
		&[data-id=editprofile] .icon,
		&[data-id=createblogpost] .icon {
			background: url(/skins/oasis/images/sprite.png) -1096px -48px no-repeat; /* $wgCdnStylePath */
		}
		a[data-id=leavemessage] .icon {
			background: url(/skins/oasis/images/sprite.png) -1096px -16px no-repeat; /* $wgCdnStylePath */
		}
		a[data-id=addtopic] .icon {
			background: url(/skins/oasis/images/sprite.png) -1096px -16px no-repeat; /* $wgCdnStylePath */
		}
	}
}

#contentSub {
	font-size: 11px;
	line-height: 13px;
	margin: 0 10px 15px 20px;
}
