@import "color";
@import "../mixins/box-shadow";
@import "../mixins/gradient";
@import "../mixins/menus";

.AccountNavigation {
	line-height: 20px;
	list-style: none;
	float: right;
	li {
		height: $wikiaglobal-nav-height;
		margin-top: 0;
		padding: 0;
		position: relative;
		float: left;
		&:hover {
			@include linear-gradient(false, top, rgba(#000, 0), 0, #000, 100%);
		}
		&.nohover:hover {
			background: transparent;
		}
		>a {
			display: inline-block;
			height: 22px;
			line-height: 24px;
			padding: 11px 12px;
			&:hover {
				text-decoration: none;
			}
		}
		& .chevron {
			margin-left: 6px;
		}
	}
	#fbconnect {
		a {
			border: none;
			line-height: 1em;
			height: 18px;
			padding: 0;
		}
	}
	.avatar {
		float: left;
		margin-right: 5px;
		vertical-align: middle;
	}

	.subnav {
		@include menu-heavy;
		@include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.5));
		display: block;
		padding: 0px;
		right: 0;
		top: -9999px;
		&.show {
			top: $wikiaglobal-nav-height;
		}
		> li {
			float: none;
			height: auto;
			&:hover {
				background-image: none;
			}
			> a {
				padding: 10px;
				color: $color-text;
				&:hover {
					@include box-shadow(0,0,5px, mix($color-buttons, $color-page, 25%), inset);
					$color-account-nav: mix($color-buttons, $color-page, 20%);
					@if lightness($color-page) < 50 {
						$color-account-nav: lighten($color-account-nav, 8%);
					}
					background-color: $color-account-nav;
				}
			}
		}
		a {
			border-right: 0;
		}
	}
	>li>a {
		color: $color-header-text;
		&:visited, &:active {
			color: $color-header-text;
		}
	}
}
// disable overrides (main offender: user talk page gets different color if it's not created yet,
// but for new Account Navigation we don't want that)
#AccountNavigation li a.new { color: $color-text !important; }
