#InvisibleHighImpactWrapper.interstitial {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
