@import 'skins/shared/color';
@import 'skins/shared/mixins/image-replacement';

$close-image: '/resources/wikia/ui_components/modal/images/ads-close-light.svg';

#InvisibleHighImpactWrapper {
	&.hidden {
		display: none !important;
	}

	#INVISIBLE_HIGH_IMPACT_2 iframe {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	.background {
		background: rgba(0, 0, 0, .9);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.close {
		background-color: $color-black;
		cursor: pointer;
		display: block;
		padding: 7px 7px;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			background-color: #333;
		}

		.close-button {
			@include image-replacement();
			background-image: url($close-image);
			background-position: center center;
			background-size: 16px 16px;
			display: block;
			float: right;
			height: 16px;
			outline: none;
			width: 16px;
		}
	}

	.label {
		color: $color-text;
		display: block;
		font-size: 17px;
		left: 0;
		padding: 5px 10px;
		position: absolute;
		top: 0;
	}
}

.stop-scrolling {
	overflow: hidden
}
