@import 'skins/shared/color';
@import 'layout';
@import '../placeholders/bodytext';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/gradient';
@import 'skins/shared/mixins/infobox';

@import 'skins/shared/styles/infoboxes';

.WikiaArticle {
	@extend %bodytext;
	// Prevent content from escaping the article area
	min-height: 250px;
	overflow: hidden;
	padding: 0 $width-gutter;
	position: relative;
	word-wrap: break-word;
	z-index: 1;

	//whatever article has we should clear it so it won't collapse into comments or other features underneeth it
	&::after {
		clear: both;
		content: '';
		display: block;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: .5em 0 .2em;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		border-bottom: solid 1px $color-headline-border;
		font-size: 18px;
		margin-top: 30px;
		overflow: hidden;
		padding-bottom: 3px;
	}

	h3 {
		font-size: 16px;
		overflow: hidden;
	}

	h4 {
		font-size: 14px;
	}

	h5 {
		font-size: 12px;
	}

	h6 {
		font-size: 11px;
	}

	.editsection {
		float: none;
		font-size: 13px;
		margin-left: 10px;
		vertical-align: baseline;

		img {
			vertical-align: text-bottom;
		}
	}

	h1, h5, h6 {
		.editsection {
			display: none;
		}
	}

	.noarticletext {
		border: 1px solid $color-article-toc-border;
		padding: 0 13px;
	}

	b, strong {
		font-weight: bold;
	}

	i, em {
		font-style: italic;
	}

	sup {
		font-size: 11px;
		line-height: 0;
		vertical-align: super;
	}

	sub {
		font-size: 11px;
		line-height: 0;
		vertical-align: sub;
	}

	ul, ol {
		margin: .4em 0 .5em 2.5em;
	}

	ol {
		list-style: decimal;

		// VOLDEV-30
		// Indent list on special pages so the first number isn't cut off
		// this only applies reliably to 4 digit lists
		// which covers lists limited to 1000 and unlimited lists up to 9999
		// but it's unlikely someone gets to 10,000+ so hopefully this will do
		&.special {
			margin-left: 3.2em;
		}
	}

	ul {
		list-style: square;
	}

	li {
		//@TODO should be removed when CONCF-186 released to production
		line-height: 20px;
		margin: 3px 0;
	}

	dl {
		margin: 1em 0;
	}

	dt {
		font-weight: bold;
		margin-bottom: 1px;
	}

	dd {
		margin-bottom: 1px;
		margin-left: 24px;
	}

	img {
		vertical-align: middle;
	}

	blockquote {
		margin: 12px 40px;
	}

	.center {
		text-align: center;
		width: 100%;

		* {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.thumbborder {
		border: 1px solid $color-article-thumb-border;
	}

	.floatright {
		border: 0;
		clear: right;
		float: right;
		margin: 0 0 10px 20px;
		position: relative;
	}

	.floatleft {
		border: 0;
		clear: left;
		float: left;
		margin: 0 20px 10px 0;
		position: relative;
	}

	// TODO: look into removing this with VID-1551
	.thumbinner {
		@include linear-gradient($color-article-thumb-background, top, $color-page, 0, $color-article-thumb-background, 100%);
		border: 1px solid $color-article-thumb-border;
		overflow: hidden;
		padding: 3px;
		text-align: center;
	}

	.thumbcaption {
		line-height: 18px;
		padding: 4px 1px 0;
		text-align: left;
	}

	.tright {
		clear: right;
		float: right;
		margin: 0 0 16px 16px;
	}

	.tleft {
		clear: left;
		float: left;
		margin: 0 16px 16px 0;
	}

	// TODO: look into removing this with VID-1551
	.magnify {
		float: right;
		margin-top: 4px;
	}

	// TODO: look into removing this with VID-1551
	.picture-attribution {
		display: block;
		font-size: 11px;
		margin-right: 16px;
		text-align: left;
	}

	// TODO: look into removing this with VID-1551
	.picture-attribution .avatar {
		margin-right: 3px;
		vertical-align: middle;
	}

	.toc {
		background-color: $color-article-toc-background;
		border: 1px solid $color-article-toc-border;
		border-collapse: separate;
		margin: 1em 0;
		padding: 5px;

		ul {
			list-style: none;
			margin: 0;

			// example of possibly legit selector depth 4
			ul {
				margin-left: 2em;
			}

			// example of possibly legit selector depth 4
			li {
				margin: 0;
			}
		}
	}

	#toctitle {
		text-align: center;

		h2 {
			border: 0;
			display: inline;
			font-size: 14px;
		}

		.toctoggle {
			font-size: 12px;
		}
	}

	p {
		margin: .4em 0 .5em;
	}

	p + p {
		margin: 1em 0;
	}

	pre {
		background-color: $color-module-shadow;
		border: 1px solid $color-page-border;
		line-height: 14px;
		overflow: auto;
		padding: 12px;
		word-wrap: normal;
	}

	.printfooter {
		display: none;
	}

	// FIXME: anyone still using gopher?
	a.external, a[href^='gopher://'] {
		&:after {
			background-image: url('/skins/shared/images/sprite.png');	/* $wgCdnStylePath */
			background-position: -1198px 0;
			background-repeat: no-repeat;
			content: '';
			display: inline-block;
			height: 16px;
			margin-left: 3px;
			vertical-align: text-top;
			width: 10px;
		}
	}

	// RT #75154
	.plainlinks {
		a {
			background-image: none;
			padding-right: 0;

			&:after {
				display: none;
			}
		}
	}

	#filetoc {
		background-color: $color-article-toc-background;
		border: 1px solid $color-article-toc-border;
		font-size: 12px;
		margin-bottom: 5px;
		margin-left: 0;
		margin-right: 0;
		padding: 5px;
		text-align: center;

		li {
			display: inline;
			list-style-type: none;
			padding-right: 23px;
		}
	}

	.mw_metadata {
		th, td {
			background-color: transparent;
			border: 1px solid $color-page-border;
		}
	}

	// highlight selected reference
	.references > li:target {
		background-color: mix($color-page, $color-links, 85%);
	}

	// video gallery
	ul.gallery {
		margin-left: 0;
	}

	div.gallerybox, li.gallerybox {
		div.thumb {
			background: $color-article-thumb-background;
			border: 1px solid $color-article-thumb-border;
		}
	}

	li.gallerybox {
		border: 1px solid $color-page-border;
	}

	// for special pages
	fieldset {
		border: solid 1px $color-links;
		margin: 1em 0;
		padding: 0 1em 1em;

		legend {
			cursor: pointer;
			padding: 7px;
		}

		&.collapsible {
			height: auto;

			legend::before {
				content: "\25b4\00a0";
			}

			&.collapsed {
				height: 25px;
				overflow: hidden;

				.rc-fieldset-content {
					visibility: hidden;
				}

				legend::before {
					content: "\25be\00a0";
				}
			}
		}
	}

	// /** categories **/
	#mw-pages {
		h3 {
			font-weight: bold;
		}

		ul {
			margin-left: 16px;
		}
	}

	//history page
	#pagehistory li {
		border-style: none;

		&.selected {
			background-color: $color-pagehistory;
			border-style: dashed;
		}
	}

	//diff page
	td.diff-context {
		background-color: $color-diff-context;
		color: $color-diff-text;
	}

	td.diff-deletedline,
	td.diff-addedline {
		color: $color-diff-text;
	}

	.diffchange-inline {
		color: $color-diffchange-text;
	}

	table.diff, td.diff-otitle, td.diff-ntitle {
		background-color: $color-page;
	}

  	// BugId:9262
	.diff-article-content body.mainpage & {
		margin-right: 0;
	}

	.fbconnect-synced-profile {
		border-bottom: solid 1px $color-page-border;
		margin-bottom: 5px;
		padding-bottom: 5px;

		th {
			padding-right: 10px;
			text-align: right;
			vertical-align: top;
			width: 25%;
		}

		td {
			margin-left: 8px;
			padding-right: 10px;
		}
	}

	.wikiaPlaceholder {
		vertical-align: bottom;

		> div {
			margin: .5em 1.4em 1.2em 0;
			text-align: center;

			&.tright {
				margin: .5em 0 1.2em 1.4em;
			}

			&.tcenter {
				margin: .5em auto 1.2em;
			}

			a {
				position: relative;
			}
		}
	}

	.fullMedia {
		word-wrap: break-word;
	}

	// Used in Lightbox - style videos that play on the page
	// instead of in the lightbox
	.inline-video {
		display: inline-block;
	}

	// foundation block-grid ul's should not have normal ul padding when used in articles
	ul[class*='block-grid-'] {
		margin: 0;
		padding: 0;
	}
}

// Exceptions to the rule (MAIN-939)
// Wall and Forum have dropdowns that escape the article area. This prevents
// them from getting chopped off with the downside that large tables won't be
// controlled properly until the JavaScript loads.
// Home Page zoom effect is also exceeding the WikiaArticle boundary
.ns-1200,
.ns-1201,
.ns-2000,
.WikiaHome {
	.WikiaArticle {
		overflow: visible;
	}
}

/**
 * FB#24380 - Make wikia-infobox styling work in RTE popup previews (out of .WikiaArticle)
 * Actually now it's a global rule as agreed with Liz
 */
.wikia-infobox {
	$cell-width: 225px;

	@extend %bodytext;
	border: 1px $color-page-border solid;
	float: right;
	line-height: 15px;
	margin: 0 0 16px 16px;
	padding: 15px 8px 8px;
	width: $cell-width + 20 +2;

	%td {
		overflow: hidden;
		padding: 2px 3px 7px;
		vertical-align: top;
	}

	td {
		@extend %td;
	}

	th {
		@extend %td;
		font-weight: bold;
		text-align: left;
		width: 20%;

		&.wikia-infobox-header {
			font-size: 17px;
			font-weight: bold;
			margin-top: 20px;
			padding: 5px 3px 8px;
			text-align: left;
		}

		// sections separator
		.wikia-infobox-section-header {
			border-top: 1px $color-page-border solid;
			margin-top: 7px;
			padding-top: 20px;
		}
	}

	.wikia-infobox-image {
		overflow: hidden;
		padding: 0;
		text-align: center;
		width: $cell-width;
	}

	.wikia-infobox-caption {
		font-size: 12px;
		text-align: center;
	}
}

.WikiaArticle {
	#{$infoboxes} {
		.article-thumb, .article-thumb.tright, .article-thumb.tleft {
			float: none;
			margin: 0 auto;
		}
	}
}

// /** Interlang Links **/
.WikiaArticleInterlang {
	clear: both;
	margin: 10px;
	padding: 10px;

	h3 {
		float: left;
		font-size: inherit;
		margin-right: 5px;
	}

	ul {
		list-style: none;

		li {
			border-left: 1px solid $color-page-border;
			display: inline-block;
			line-height: 24px;
			margin-bottom: 6px;
			padding-left: 5px;
			padding-right: 5px;

			&:first-child {
				border: 0;
				padding-left: 0;
			}
		}
	}
}

.TOC_hide #toctitle + ul {
	display: none;
}

// Needed for article comments lazy loading
.WikiaArticleComments.loading {
	background: url('/skins/common/images/ajax.gif') no-repeat 50% 50%; /* $wgCdnStylePath */
	border-top: 1px solid $color-page;
	height: 16px;
	margin: 10px;
	padding-top: 10px;
}

.fluidWidth {
	height: auto;
	width: 100%;
}

.ArticlePreviewInner h1.pagetitle {
	line-height: 1.2em;
	word-wrap: break-word;
}

// Change overflow on article when VisualEditor is being used
// Change z-indexes for proper stacking with VisualEditor focus mode
.ve .WikiaArticle {
	overflow: visible;
	z-index: auto;
}
