@import "color";
@import "layout";
@import "../mixins/box-shadow";
@import "../mixins/menus";

// Styles for the jQuery Autocomplete plugin
.autocomplete {
	@include menu-regular;
	@include box-shadow(3px, 3px, 6px, darken($color-page, 9%));
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-width: 1px;
	cursor: pointer;
	margin-top: 2px;
	padding: 5px 1px;
	position: relative;
	width: 245px;
	z-index: $zTop;
	div {
		font-size: 12px;
		line-height: 25px;
		padding: 5px 9px;
	}
	.redirect {
		color: $color-alternate-text;
		display: block;
		font-size: 10px;
		line-height: 12px;
		position: relative;
		top: -4px;
	}
	.selected {
		background-color: $color-menu-highlight;
	}
}
