@import 'breakpoints-variables';

@mixin breakpoints-small-medium-typography {
	.WikiaArticle {
		font-size: $default-body-font-size;
		line-height: $default-body-line-height;

		//Overwrite styles from skins/oasis/css/core/article.scss:125
		//@TODO should be removed when above line is removed - CONCF-186
		li {
			line-height: inherit;
		}
	}

	h1 {
		font-size: 28px;
		line-height: 28px;
	}

	h2 {
		font-size: 20px;
		line-height: 22px;

		.wikia-page-header & {
			font-size: $default-body-font-size;
			line-height: $default-body-line-height;
		}
	}


	h3 {
		font-size: 17px;
		line-height: 22px;
	}

	h4 {
		font-size: 15px;
		line-height: 22px;
	}
}
