@import "color";
@import "../mixins/border-radius";
@import "../mixins/box-shadow";
@import "../mixins/gradient";
@import "../mixins/opacity";

/*****************************
Primary & Secondary Wikia Buttons
These buttons are used everywhere on our wikis.
******************************/
a.wikia-button,
.wikia-single-button a,
.wikia-menu-button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
button {
	@include border-radius(4px);
	@include linear-gradient($color-buttons, top, $color-button-highlight, 35%, $color-buttons, 65%);
	border: 1px solid $color-buttons;
	color: $color-button-text;
	cursor: pointer;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 19px;
	line-height: 20px;
	margin: 0;
	padding: 0 10px;
	text-decoration: none;
	white-space: nowrap;
	&:hover {
		@include linear-gradient(darken($color-buttons, 4%), top, darken($color-button-highlight, 4%), 35%, darken($color-buttons, 4%), 65%);
		text-decoration: none;
	}
	&.active,
	&:active {
		@include linear-gradient(false, top, darken($color-buttons, 4%), 35%, darken($color-button-highlight, 4%), 65%);
		color: $color-button-text;
	}
	&[disabled] {
		cursor: default;
		opacity: .5;
		&:active {
			@include linear-gradient($color-buttons, top, $color-button-highlight, 35%, $color-buttons, 65%);
		}
	}
	img {
		vertical-align: text-bottom;
		&.chevron {
			vertical-align: middle;
			margin-top: 1px;
		}
	}
	&.secondary {
		@include linear-gradient($color-secondary-button, top, $color-secondary-button-highlight, 35%, $color-secondary-button, 65%);
		border: 1px solid $color-secondary-button-border;
		color: $color-text;
		&:hover {
			@include linear-gradient(darken($color-secondary-button, 4%), top, darken($color-secondary-button-highlight, 4%), 35%, darken($color-secondary-button, 4%), 65%);
		}
		&.active,
		&:active {
			@include linear-gradient($color-secondary-button, top, darken($color-secondary-button, 4%), 35%, darken($color-secondary-button-highlight, 4%), 65%);
		}
		img {
			&.chevron {
				border-color: $color-text transparent transparent;
			}
		}
	}
	&.big {
		font-size: 18px;
		line-height: 23px;
		height: 40px;
	}
	// BugId:19314 - fix for Firefox 4+
	// @see https://developer.mozilla.org/en/CSS/%3A-moz-focusring
	&:-moz-focusring {
		box-shadow: 0px 0px 1px 1px highlight;
	}
}

.wikia-menu-button-submit {
	input[type=submit] {
		border: none;
		height: 100%;
	}
}


// Border-box model: Inputs and buttons count border as part of height. Increase height. //
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	height: 21px;
}


// Fix Mozilla Button Sizing //
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}


/*****************************
Wikia Menu Button
This list-based button is used in the page header for edit/history/delete actions
******************************/
.wikia-menu-button {
	*display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	&:hover {
		@include linear-gradient($color-buttons, top, $color-button-highlight, 35%, $color-buttons, 65%);	/* fb:5020 - default hover overwrite, look below */
	}
	a:hover {
		text-decoration: none;
	}
	/* fb:5020 - highlight individual elements of menu button separately */
	>a, .drop, >li >a {
		display: inline-block;
		&:hover {
			@include linear-gradient(darken($color-buttons, 4%), top, darken($color-button-highlight, 4%), 35%, darken($color-buttons, 4%), 65%);
		}
		&:active {
			@include linear-gradient(false, top, darken($color-buttons, 4%), 35%, darken($color-button-highlight, 4%), 65%);
			color: $color-button-text;
		}
	}
	>a, >li >a {
		@include border-radius-nw(4px);
		@include border-radius-sw(4px);
		border-right: 1px solid mix($color-button-text, $color-buttons, 40%);
		color: $color-button-text;
		padding: 0 8px 0 5px;
	}
	.drop {
		@include border-radius-ne(4px);
		@include border-radius-se(4px);
		margin-left: -3px;
		padding-left: 5px;
	}
	ul {
		background: $color-page;
		border: 1px solid $color-buttons;
		display: none;
		left: -1px;
		list-style: none;
		margin: 0;
		position: absolute;
		top: 19px;
		z-index: 100;
		@include box-shadow( 1px, 2px, 12px, darken($color-page,80%));
		a {
			color: $color-text;
			display: block;
			padding: 9px 9px 7px;
			&:hover {
				$dropdown-background: mix($color-buttons, $color-page, 20%);
				@if $is-dark-wiki {
					$dropdown-background: lighten($dropdown-background, 8%);
				}
				background-color: $dropdown-background;
			}
		}
		li {
			border-top: 1px solid $color-page-border;
			line-height: normal;
			&:first-child {
				border: 0;
			}
		}
	}
	.WikiaMenuElement {
		margin: 0;
	}
	.icon, img {
		vertical-align: text-bottom;
	}
	.chevron {
		border-top-color: $color-button-text;
		margin: 0 7px 0 1px;
	}
	&.active {
		@include border-radius-se(0);
		@include border-radius-sw(0);
		ul {
			display: block;
		}
	}

}

/*****************************
Secondary Wikia Menu Button
This list-based button used for all additional actions
******************************/
.wikia-menu-button {
	&.secondary {
		border: 1px solid $color-page-border;
		*display: inline;
		list-style: none;
		margin: 0;
		position: relative;
		text-align: left;
		&:hover {
			@include linear-gradient($color-secondary-button, top, $color-secondary-button-highlight, 35%, $color-secondary-button, 65%);
		}
		&.combined {
			padding-left: 4px;
			&:hover {
				@include linear-gradient(darken($color-secondary-button, 4%), top, darken($color-secondary-button-highlight, 4%), 35%, darken($color-secondary-button, 4%), 65%);
			}
			.drop {
				&:hover {
					background: transparent;
				}
			}
		}
		>a,
		.drop,
		>li>a {
			color: $color-text;
			margin-top: -2px;
			&:hover {
				@include linear-gradient(darken($color-secondary-button, 4%), top, darken($color-secondary-button-highlight, 4%), 35%, darken($color-secondary-button, 4%), 65%);
			}
			&:active {
				@include linear-gradient($color-secondary-button, top, darken($color-secondary-button, 4%), 35%, darken($color-secondary-button-highlight, 4%), 65%);
			}
		}
		>a {
			border-right: 1px solid mix($color-text, $color-page-border, 0%);
		}
		ul {
			background: $color-page;
			border: 2px solid $color-page-border;
			display: none;
			left: -1px;
			list-style: none;
			margin: 0;
			position: absolute;
			top: 19px;
			z-index: 100;
			a {
				color: $color-text;
				display: block;
				&:hover {
					$dropdown-background: mix($color-buttons, $color-page, 20%);
					@if $is-dark-wiki {
						$dropdown-background: lighten($dropdown-background, 8%);
					}
					background-color: $dropdown-background !important;
				}
			}
			li {
				border-top: 1px solid $color-page-border;
				line-height: normal;
				&:first-child {
					border: 0;
				}
			}
		}
		&.active {
			@include border-radius-se(0);
			@include border-radius-sw(0);
			ul {
				display: block;
			}
		}
	}
}

/*****************************
Wikia Chiclet Button
This list-based button is used in the page header for edit/history/delete actions
******************************/

$button-chiclet-opacity: 30;
@if $is-dark-wiki {
	$button-chiclet-opacity: 70;
}

.wikia-chiclet-button {
	@include opacity($button-chiclet-opacity);
	@include border-radius(0);
	background-image: none;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 19px;
	padding: 0;
	position: relative;
	width: 19px;
	img {
		height: 15px;
		left: 2px;
		position: absolute;
		top: 2px;
		width: 15px;
	}
	&:hover {
		@include opacity(100);
		background-image: none;
	}
}
button.wikia-chiclet-button {
	line-height: 1px;
	img {
		position: static;
		vertical-align: middle;
	}
}

.wikia-button.loginToEditProtectedPage{
	padding: 0px 5px;
	img {
		margin-right: 8px;
	}
}

/*****************************
Facebook style button
******************************/
a.wikia-button-facebook {
	@include border-radius(2px);
	border-color: #afbdd6;
	color: #fff;
	font-weight: bold;
	height: 21px;
	padding: 0 6px;
	&,
	&:active,
	&:hover {
		@include linear-gradient(#5E7BB2, top, #5E7BB2, 0%, #3C62A1, 100%);
	}
	> img {
		border-right: solid 1px #6381b4;
		margin-right: 6px;
	}
}