@import "skins/oasis/css/core/color.scss";
@import "skins/oasis/css/mixins/transition.scss";

$hubsmenu-background-color: #f7f7f7;
$hubsmenu-font-color: #092140;
$shadow-width: 2px;

#GlobalNavigationMenuButton {
	background: $hubsmenu-background-color;
	border-right: 1px solid #c7d1d8;
	cursor: pointer;
	height: 66px;
	margin-top: 0;
	width: 43px;
	fill: $hubsmenu-font-color;

	#svg-chevron {
		fill: #c7d1d8;
	}

	&.active {
		#svg-chevron {
			fill: $hubsmenu-font-color;
		}
	}
}

 .GlobalNavigationContainer {
	display: none;
	position: absolute;
	top: 68px;
	width: -webkit-calc(100% - 290px);
	width: calc(100% - 290px);

	* {
		box-sizing: border-box;
	}

	> nav {
		background-color: $hubsmenu-background-color;
		color: $hubsmenu-font-color;
		margin: 0 auto;
		position: relative;
		width: 866px;
		z-index: 1000;
		border: $shadow-width solid rgba(0,0,0,.1);
		border-top: 0;

		.hubs {
			position: absolute;
			width: 302px;
		}

		.hub {
			background-color: #fff;
			background-image: url(/skins/oasis/images/GlobalNavigation/chevron-level-1.png); /* base64 */
			background-position: center right;
			background-repeat: no-repeat;
			cursor: pointer;
			display: table;
			font-size: 21px;
			height: 62px;
			padding-left: 123px;
			position: relative;
			width: 100%;

			.icon {
				background-position: center;
				background-repeat: no-repeat;
				background-size: 52px;
				display: inline-block;
				height: 62px;
				left: 0;
				position: absolute;
				top: 0;
				width: 90px;
			}
			.label {
				display: table-cell;
				height: 100%;
				vertical-align: middle;
				width: 100%;
			}
			.border {
				background: #e9edef;
				height: 1px;
				left: 112px;
				position: absolute;
				top: 0;
				width: 166px;
			}

			&.active .border, &.active + &:not(.active) .border
			{
				background: none;
			}

			&.active {
				font-weight: bold;
				color: #fff;
				background-image: url(/skins/oasis/images/GlobalNavigation/chevron-level-1_hover.png); /* base64 */

				&.books {
					background-color: #ff7f26;
				}
				&.comics {
					background-color: #ff5400;
				}
				&.games {
					background-color: #94d11f;
				}
				&.lifestyle {
					background-color: #ffd000;
				}
				&.movies {
					background-color: #09d3bf;
				}
				&.music {
					background-color: #c819ad;
				}
				&.tv {
					background-color: #00b7e0;
				}
			}

			&.books .icon {
				background-color: #ff7f26;
			}
			&.comics .icon {
				background-color: #ff5400;
			}
			&.games .icon {
				background-color: #94d11f;
			}
			&.lifestyle .icon {
				background-color: #ffd000;
			}
			&.movies .icon {
				background-color: #09d3bf;
			}
			&.music .icon {
				background-color: #c819ad;
			}
			&.tv .icon {
				background-color: #00b7e0;
			}
		}

		.books:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/books.svg); /* base64 */
		}
		.books.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/books_hover.svg); /* base64 */
		}
		.comics:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/comics.svg); /* base64 */
		}
		.comics.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/comics_hover.svg); /* base64 */
		}
		.games:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/games.svg); /* base64 */
		}
		.games.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/games_hover.svg); /* base64 */
		}
		.lifestyle:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/lifestyle.svg); /* base64 */
		}
		.lifestyle.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/lifestyle_hover.svg); /* base64 */
		}
		.movies:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/movies.svg); /* base64 */
		}
		.movies.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/movies_hover.svg); /* base64 */
		}
		.music:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/music.svg); /* base64 */
		}
		.music.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/music_hover.svg); /* base64 */
		}
		.tv:not(.active) .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/tv.svg); /* base64 */
		}
		.tv.active .icon {
			background-image: url(/skins/oasis/images/GlobalNavigation/tv_hover.svg); /* base64 */
		}

		@for $i from 1 through 7 {
			&.count-#{$i} section,
			&.count-#{$i} .hubs,
			&.count-#{$i} {
				height: $shadow-width + $i * 62px;
			}
		}

		section {
			background-color: $hubsmenu-background-color;
			color: $hubsmenu-font-color;
			font-size: 15px;
			overflow: auto;
			position: absolute;
			top: -$shadow-width;

			a, h2 {
				color: inherit;
				font: inherit;
				padding-bottom: 19px;
			}

			h2 {
				font-weight: bold;
				padding-bottom: 19px;

				&:not(:first-child) {
					padding-top: 30px;
				}
			}

			a {
				display: inline-block;
			}

			&[data-submenu='0'] {
				left: 302px;
				padding: 26px 18px 26px 12px;
				width: 258px;
			}
			&[data-submenu='1'] {
				left: 560px;
				padding: 26px 24px 26px 24px;
				width: 294px;
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.GlobalNavigationContainer {
		width: 100%;

		> nav {
			width: 768px;

			.hubs {
				width: 272px;
			}
			.hub {
				font-size: 18px;
				padding-left: 86px;

				.icon {
					width: 70px
				}
				.border {
					left: 82px;
					width: 166px;
				}
			}

			section {
				&[data-submenu='0'] {
					left: 272px;
					padding-left: 0px;
					padding-right: 8px;
					width: 232px;
				}
				&[data-submenu='1'] {
					left: 504px;
					padding-left: 16px;
					padding-right: 24px;
					width: 260px;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.GlobalNavigationContainer {
		width: -webkit-calc(100% - 258px);
		width: calc(100% - 258px);

		> nav {
			width: 766px;

			.hubs {
				width: 268px;
			}
			.hub {
				padding-left: 112px;

				.icon {
					width: 82px
				}
				.border {
					left: 102px;
					width: 142px;
				}
			}

			section {
				&[data-submenu='0'] {
					left: 268px;
					padding-left: 10px;
					padding-right: 10px;
					width: 239px;
				}
				&[data-submenu='1'] {
					left: 507px;
					padding-left: 20px;
					padding-right: 20px;
					width: 259px;
				}
			}
		}
	}
}
