@import "skins/oasis/css/mixins/box-sizing";

$color: #0A5FA2;
$bg-color: #fff;
$menu-hover-bg-color: #C7D2D8;
$nav-height: 37px;

// TODO add ABTesting class
.WikiaHeader {
	background: none;
	background-color: $bg-color;
	border: 0;
	color: $color;

	.sprite.logo {
		background-image: url(/skins/oasis/images/GlobalHeaderAB/wikia_logo.png); /* $wgCdnStylePath */
		background-position: 0;
	}

	.wikia-header-mask {
		background: none;

		.page-width-container {
			width: 100%;
		}
	}

	.chevron {
		border-top-color: $color;
	}

	nav {
		height: $nav-height;

		li {
			@include box-sizing;
			height: 37px;
			margin-top: 0;
			padding-top: 7px;

			& > .wikia-button {
				background: none;
				background-color: $color;
				border: none;
				font-size: 14px;
				height: 28px;
				line-height: 28px;
				top: -3px;
			}

			&.start-a-wiki {
				margin-top: 0;
				border-left: 0;
			}
		}
	}


	.AccountNavigation, #WallNotifications {
		top: 0;
		height: $nav-height;

		& > li {
			height: $nav-height;
			line-height: $nav-height;
			padding: 0;

			&:hover {
				background: none;
				background-color: $menu-hover-bg-color;
			}

			& > a {
				border: 0;
				color: $color;
				&:visited, &:active {
					color: $color;
				}
			}
		}

		.bubbles {
			height: $nav-height;
			background: none;

			&.reddot #bubbles_count {
				color: $bg-color;
				background-color: $color;
				left: 9px;
				line-height: 17px;
				padding: 0 5px;
				top: 0;
			}
		}
	}

	.GlobalNavigation {
		& > li {
			& > a {
				font-size: 14px;
				color: $color;
				&:visited, &:active {
					color: $color;
				}
			}

			&:hover {
				>a {
					color: #fff;
				}
			}
		}

		a {
			border: 0;
		}
	}

	#WallNotifications {
		.subnav.show {
			border: 0;
			border-top: 1px solid black;
			top: 37px;

			.notifications-header {
				span {
					font-weight: normal;
				}
			}
		}

		#wall-notifications-markasread * {
			font-size: 13px;
		}
	}
}
