@import "color";
@import "responsive-variables";
@import "skins/oasis/css/mixins/box-shadow";
@import "skins/oasis/css/mixins/box-sizing";

$color: #0A5FA2;
$bg-color: #fff;
$bg-color-opposite: #000;
$menu-hover-bg-color: #C7D2D8;
$menu-border-color: black;
$nav-height: 41px;
$input-border-color: mix($bg-color, #000000, 80%);
$ab-text-color: #3a3a3a;

body.global-header-fixed-at-top {
	padding-top: $nav-height;
}

body.global-header-fixed-at-top .WikiaHeader {
	position: fixed;
	top: 0;
	width: 100%;
}

.WikiaHeader.v2 {
	background: none;
	background-color: $bg-color;
	border: 0;
	color: $color;

	.sprite.logo {
		background-image: url(/skins/oasis/images/GlobalHeaderAB/wikia_logo.png); /* $wgCdnStylePath */
		background-position: 0;
	}

	.wikia-header-mask {
		background: none;

		.page-width-container {
			margin: 0;
			max-width: 100%;
			width: 100%;
		}
	}

	.chevron {
		border-top-color: $color;
	}

	nav {
		height: $nav-height;

		& > ul > li, .GlobalNavigation > li {
			@include box-sizing;
			height: $nav-height;
			margin-top: 0;
			padding-top: 11px;
		}

		.WikiaLogo {
			padding: 11px 5px 0 10px;
		}
	}

	li {
		& > .wikia-button, input.login-button, .search-button, .UserLoginDropdown .ajaxRegister {
			background: none;
			background-color: $color;
			border: none;
			font-size: 14px;
			height: 29px;
			line-height: 29px;
			top: -4px;

			&:hover {
				background-color: #1380d7;
			}
		}

		&.start-a-wiki {
			border-left: 0;
			margin-top: 0;
			position: absolute;
			right: 0;

			.wikia-button {
				background-image: url(/skins/oasis/images/GlobalHeaderAB/plus.png); /* base64 */
				background-position: 8px center;
				background-repeat: no-repeat;
				padding: 0 12px 0 25px;
			}
		}

		.search-form {
			margin-top: -4px;
		}

		.search-box {
			&.search-small {
				width: 200px;
			}
			border: 1px solid $input-border-color;
			border-radius: 4px;
			font-size: 14px;
			height: 17px!important;
			width: 390px;
			padding: 5px 8px;
		}

		.search-button {
			margin-left: 3px;

			&.alternative {
				color: $color;
				background-color: $menu-hover-bg-color;
			}
		}

		.search-collapsed {
			.search-box {
				border-radius: 4px 0 0 4px;
				border-right: 0;
			}

			.search-button {
				border-radius: 0 4px 4px 0;
				margin: 0;
			}
		}

		.search-icon {
			background-image: url(/skins/oasis/images/GlobalHeaderAB/search_icon.png); /* base64 */
			background-position: center center;
			background-repeat: no-repeat;
			text-indent: -9999px;
			width: 50px;
		}
	}

	.UserLoginDropdown .WikiaForm input.login-button[type="submit"] {
		margin: 0;
	}


	.AccountNavigation, #WallNotifications {
		height: $nav-height;
		top: 0;

		& > li {
			@include box-sizing;

			height: $nav-height;
			padding: 10px 0 0;

			&:hover {
				background: none;
				background-color: $menu-hover-bg-color;
			}

			& > a {
				border: 0;
				color: $color;

				&:visited, &:active {
					color: $color;
				}
			}
		}

		.bubbles {
			background: none;
			height: $nav-height;
			text-align: center;

			&.reddot #bubbles_count {
				background-color: #f6961d;
				color: $bg-color;
				left: 0;
				line-height: 18px;
				padding: 0 5px;
				top: 0px;
			}
		}
	}

	.AccountNavigation {
		.subnav.show {
			background-color: $bg-color;
			border: 0;
			top: $nav-height;
			& > li {
				border-top: 0;
				& > a {
					color: $color;
					padding: 10px 20px;

					&:hover {
						@include clear-box-shadow;
						background-color: $menu-hover-bg-color
					}
				}
			}
		}

		label {
			color: $ab-text-color;
		}

		.input-group {
			input[type="text"], input[type="password"] {
				@include box-shadow(1px, 1px, 1px, mix($input-border-color, $bg-color, 50%), true, 0);
				background-color: mix($bg-color-opposite, $bg-color, 6%);
				border: 1px solid $input-border-color;
				color: $ab-text-color;

				&:focus {
					background-color: mix($bg-color-opposite, $bg-color, 6%);
				}
			}
		}

		.UserLoginDropdown {
			.ajaxRegister {
				display: none;
			}

			& > .sso-login > .sso-login-divider {
				border-top: solid 1px $input-border-color;
				margin-top: 14px;

				& > span {
					background-color: $bg-color;
					color: $ab-text-color;
				}
			}
		}
	}

	.GlobalNavigation {

		.topNav .subnav {
			background-color: $bg-color;
			border: 2px solid;
			border-top: 0;
			top: $nav-height;

			.catnav li {
				border: none;
			}
		}

		.video-games-vertical-color .subnav {
			border-color: $color-wikiahome-videogames;
		}

		.entertainment-vertical-color .subnav {
			border-color: $color-wikiahome-entertainment;
		}

		.lifestyle-vertical-color .subnav {
			border-color: $color-wikiahome-lifestyle;
		}

		& .topNav {
			margin-top: -11px;

			& > a {
				color: $color;
				font-size: 14px;
				padding: 0 8px;
				&:visited, &:active {
					color: $color;
				}
			}

			&:hover {
				>a {
					color: #fff;
				}
			}
		}

		a, &.vertical-colors li:hover a, &.vertical-colors li:hover + li > a {
			border: 0;
		}
	}

	#WallNotifications {
		.subnav.show {
			@include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.5));
			background-color: $bg-color;
			border: 0;
			top: $nav-height;

			.notifications-header {
				span {
					background-color: $bg-color;
					color: $ab-text-color;
					font-weight: normal;
				}
			}
			.notifications-empty {
				color: $ab-text-color;
			}
		}
	}

	#WallNotifications, .AccountNavigation {
		right: 140px;
	}

	.page-width-container > ul:not(:last-child)#AccountNavigation {
		right: 180px;
	}

	@media screen and (max-width: $breakpoint-small) {
		li.start-a-wiki {
			display: block;
		}

		&.hide-new-wiki li.start-a-wiki, .login-text {
			display: none;
		}

		&.hide-new-wiki {
			#WallNotifications, .AccountNavigation {
				right: 10px;
			}

			.page-width-container > ul:not(:last-child)#AccountNavigation {
				right: 50px;
			}
		}

		.ajaxLogin {
			background-image: url(/skins/oasis/images/GlobalHeaderAB/profile.png); /* base64 */;
			background-position: 10px center;
			background-repeat: no-repeat;
			padding-left: 30px;
		}

		.AccountNavigation {
			li:nth-child(2) {
				display: none;
			}

			.UserLoginDropdown {
				.ajaxRegister {
					background-color: gray;
					border-radius: 4px;
					color: $bg-color;
					display: block;
					margin: 0 auto 15px;
					text-align: center;
					text-decoration: none;
					width: 125px;
				}
				.WikiaForm {
					padding-top: 8px;
					border-top: 1px solid $menu-hover-bg-color;
				}
			}
		}

		li .search-box {
			width: 230px;

			&.search-small {
				width: 140px;
			}
		}
	}
}


