@import "skins/oasis/css/core/color.scss";
@import "skins/oasis/css/mixins/transition.scss";

#burgerMenuButton {
	background-image: url(/skins/oasis/images/burger_menu_button.png); /* $wgCdnStylePath */
	background-position: 0 50%;
	background-repeat: no-repeat;
	border-right: 1px solid #aad;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	margin: 0 5px 0 17px;
	padding: 11px 27px 0 20px;
	text-transform: uppercase;
}


#drawerGlobalNavigation {
	li {
		margin-bottom: 12px;

		a {
			@include transition-shorthand(all 0.2s ease-in-out);

			background-image: url(/skins/oasis/images/drawer_chevron.png); /* $wgCdnStylePath */
			background-repeat: no-repeat;
			background-position: calc(100% - 10px), 50%;
			background-size: 6px;
			background-color: transparent;
			border-radius: 5px;
			display: block;
			font-size: 14px;
			font-weight: bold;
			padding: 10px;
			text-transform: uppercase;
		}

		a:hover,
		&.active a {
			color: #fff;
			text-decoration: none;
		}

		&.video-games-vertical-color a:hover,
		&.video-games-vertical-color.active a
		{ background-color: $color-wikiahome-videogames;}

		&.lifestyle-vertical-color a:hover,
		&.lifestyle-vertical-color.active a
		{ background-color: $color-wikiahome-lifestyle; }

		&.entertainment-vertical-color a:hover,
		&.entertainment-vertical-color.active a
		{ background-color: $color-wikiahome-entertainment; }
	}
}

ul.drawerSubmenu,
header.drawerSubmenu {
	margin-bottom: 24px;
	font-size: 14px;

	> a {
		color: inherit;
		font-weight: bold;
		text-transform: uppercase;
	}

	li {
		margin-bottom: 6px;

		a {
			color: inherit;
			display: block;
			padding: 3px 0;
		}

		header {
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	&.video-games-vertical-color {
		color: $color-wikiahome-videogames;
	}

	&.lifestyle-vertical-color {
		color: $color-wikiahome-lifestyle;
	}

	&.entertainment-vertical-color {
		color: $color-wikiahome-entertainment;
	}
}
