@import "color";
@import "layout";
@import "../mixins/box-shadow";
@import "../mixins/clearfix";
@import "../mixins/gradient";

.WikiaHeader {
	@include box-shadow(0, 0, 10px, $color-page-shadow);
	@include linear-gradient($color-header, left, $color-header-alt, 0, $color-header, 50%, $color-header-alt, 100%);
	border-top: 3px solid #000;
	color: $color-header-text;
	margin: 0 auto;
	min-width: 1050px;
	position: relative;
	z-index: $zTop;
	-webkit-font-smoothing: antialiased; // prevents text flickering when css transformations in progress
	h1 {
		display: none;
	}
	nav {
		font-size: 20px;
		height: $wikiaglobal-nav-height - 3px; // -3 because of border-top
		>ul>li:last-child {
			padding: 0;
		}
	}
	li {
		float: left;
		height: 22px;
		margin-top: 7px;
		padding: 0 15px;
		&:first-child {
			border: 0;
		}
		&.start-a-wiki {
			border-left: 1px solid mix($color-header-text, $color-header, 20%);
			margin-top: 5px;
		}
	}
	li > .wikia-button {
		border: 1px solid mix($color-buttons, $color-page, 35%);
		float: left;
		font-size: 12px;
		height: 17px;
		line-height: 16px;
		padding: 1px 12px 0px;
		position: relative;
		top: 2px;
	}
	.chevron {
		border-top-color: mix($color-header-text, $color-header);
	}
	.wikia-header-mask {
		background-image: url(/skins/oasis/images/checkers.png); /* base64 */
	}
	.WikiaLogo {
		padding-left: 20px;
		padding-right: 23px;
		a {
			position: relative;
			top: -5px;
		}
	}
	.page-width-container {
		margin: 0 auto;
		position: relative;
		width: $wikiaheader-width;
	}
}

body.global-header-fixed-at-top .WikiaHeader {
	position: fixed;
	top: 0;
	width: 100%;
}

.GlobalNavigation {
	//top level navigation list
	li {
		border: 0;
		height: 29px;
		margin-top: -7px;
		padding: 5px 0 0;
	}
	>li {
		>a {
			color: $color-header-text;
			float: left;
			font-size: 16px;
			&:visited, &:active {
				color: $color-header-text;
			}
		}
		&:hover {
			@include linear-gradient(false, top, rgba(#000, 0), 0, #000, 100%);
			>a {
				color: #fff;
			}
		}
	}
	a {
		border-left: 1px solid mix($color-header-text, $color-header, 20%);
		display: inline-block;
		height: 22px;
		line-height: 24px;
		padding: 0 14px;
		&:hover {
			text-decoration: none;
		}
	}
	.chevron {
		margin-left: 5px;
	}
	.subnav {
		@include clearfix;
		@include box-shadow(0, 5px, 10px, rgba(#000, .5));
		background: $color-page;
		border-width: 0px 4px 4px;
		border-style: solid;
		border-color: #000;
		display: none;
		left: 13px;
		padding: 10px 0;
		position: absolute;
		top: -9999px;
		width: $width-outside - 20px;
		&.show {
			display: block;
			top: 34px;
		}
		li {
			display: inline;
			font-size: 15px;
			height: auto;
			margin: 0 0 0 10px;
			padding: 0;
			position: static;
			width: 230px;
			&:hover {
				background: none;
			}
			a {
				font-weight: bold;
			}

		}
		.catnav {
			li {
				border-top: 1px dotted $color-page-border;
				font-size: 14px;
				margin: 0;
				&:first-child {
					border-top-style: solid;
				}
			}
			a {
				font-weight: normal;
				height: auto;
				line-height: 1.3em;
				padding: 7px 5px;
				&:hover {
					$dropdown-background: mix($color-buttons, $color-page, 20%);
					@if lightness($color-page) < 50 {
						$dropdown-background: lighten($dropdown-background, 8%);
					}
					background-color: $dropdown-background;
				}
			}
		}
		a {
			border: 0;
			color: $color-links;
			padding: 4px 0;
			display: block;
		}
	}

	/* Global Header vertical-specific colors */
	&.vertical-colors {
		.video-games-vertical-color .subnav a {
			color: $color-wikiahome-videogames;
		}

		.entertainment-vertical-color .subnav a {
			color: $color-wikiahome-entertainment;
		}

		.lifestyle-vertical-color .subnav a {
			color: $color-wikiahome-lifestyle;
		}

		.community-vertical-color .subnav a {
			color: $color-wikiahome-community-dark;
		}

		.video-games-vertical-color:hover,
		.entertainment-vertical-color:hover,
		.lifestyle-vertical-color:hover,
		.community-vertical-color:hover {
			background: none;
			& .chevron {
				border-top-color: $color-header-text;
			}
			& >a {
				border-left: 1px solid transparent;
			}
			+ li {
				>a {
					border-left: 1px solid transparent;
				}
			}
		}

		.video-games-vertical-color:hover {
			background-color: $color-wikiahome-videogames;
			.catnav li a:hover {
				background-color: mix($color-page, $color-wikiahome-videogames, 90%);
			}
		}
		.entertainment-vertical-color:hover {
			background-color: $color-wikiahome-entertainment;
			.catnav li a:hover {
				background-color: mix($color-page, $color-wikiahome-entertainment, 90%);
			}
		}
		.lifestyle-vertical-color:hover {
			background-color: $color-wikiahome-lifestyle;
			.catnav li a:hover {
				background-color: mix($color-page, $color-wikiahome-lifestyle, 90%);
			}
		}
		.community-vertical-color:hover {
			background-color: $color-wikiahome-community-dark;
			.catnav li a:hover {
				background-color: mix($color-page, $color-wikiahome-community-dark, 90%);
			}
		}
	}
}
