@import "color";
@import "layout";
@import "../mixins/bodytext";
@import "../mixins/border-opacity";
@import "../mixins/border-radius";
@import "../mixins/box-shadow";
@import "../mixins/clearfix";
@import "../mixins/gradient";
@import "../mixins/opacity";


$modal-border-opacity: 80;
@if $is-dark-wiki {
	$modal-border-opacity: 60;
}

.modalWrapper {
	@include box-shadow(0, 10px, 60px, mix($color-page, #000));
	background: $color-page;
	border-width: 5px;
	border-style: solid;
	@include border-opacity($color-body, $modal-border-opacity);
	color: $color-text;
	position: absolute;
	// give option to style other header tags like an h1
	>h1, .main-header {
		color: $color-links;
		font-size: 22px;
		margin: 20px 60px 20px 20px;
		overflow: hidden;
	}
	.close {
		@include clearfix;
		float: right;
		margin: 20px 20px 0 0;
		z-index: 1;
	}
	.neutral {
		background: transparent;
	}
	.modalToolbar {
		text-align: right;
		background: transparent;
		margin-top: 20px;

		a {
			margin-left: 10px;
		}
	}

	#WikiaConfirmOk {
		margin-left: 2px;
	}
}

.modalContent {
	@include clearfix;
	@include bodytext;
	display: block;
	margin: 0 20px 20px 20px;
	// header tags inside modal content don't need the padding
	.main-header {
		margin-left: 0;
		margin-top: 0;
	}
    .MyToolsConfiguration {
        .options-list {
            line-height: 1;
        }
    }
	b {
		font-weight: bold;
	}
	i {
		font-style: italic;
	}
}

.blackout {
	background: $color-page;
	left: 0;
	opacity: .8;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}

// modify "YUI" extensions (VET / WMU)
yui-overlay, .yui-panel-container {
	position: absolute;
	z-index: $zTop + 2 !important;
}

.yui-panel {
	left: 0;
	position: relative;
	top: 0;
}

.mask {
	background: $color-page;
	margin-top: -30px;
	@include opacity(80);
	position: fixed;
	z-index: $zTop + 1 !important;
}

.editor .mask {
	margin-top: 0px;
}

.skin-oasis {

	#ImageUploadBorder {
		display: none;
	}
	#ImageUploadBody {
		height: 480px;
	}
	#ImageUploadProgress1 {
		visibility: hidden;
	}
	.yui-back {
		display: inline-block;
		margin: 0 5px 0 0;
	}
	#VideoEmbedConflict .yui-back,
	#ImageUploadConflict .yui-back {
		bottom: 15px;
	}
}