@import "layout";
@import "responsive-variables";

@mixin fixedMainpages() {
// START - main page tag fixes
	.home-top-right-ads {
		display: none;
	}

	.lcs-container {
	  margin-right: 0;
	}

	.main-page-tag-lcs {
		float: none;
		margin-right: 0;
	}

	.main-page-tag-rcs {
		float: none;
		width: auto;
	}
// END - main page tag fixes
}

@if ( $responsive-layout-enabled ) {
	.lcs-container {
		margin-right: $width-rail + $width-padding;
	}

	.main-page-tag-lcs-exploded {
		margin-right: -( $width-rail + $width-gutter );
	}

	.minWidthPreview {
		@include fixedMainpages();
	}

	@media screen and (max-width: $breakpoint-small) {
	// ABTesting: DAR-1859: START
		html:not(.keep-rail-on-right) {
			// ABTesting: DAR-1859: END
			@include fixedMainpages();
		}
	}
}
