@import "color";
@import "layout";

.WikiaMainContent {
	margin-right: -#{ $width-rail + $width-gutter };
	width: 100%;
}

.WikiaMainContentContainer {
	background-color: $color-page;
	margin-right: $width-rail + $width-gutter;
}

.WikiaPage,
.oasis-split-skin .WikiaPage {
	border: 0;
}

.WikiaRail {
	padding: 0;
}