@import "color";
@import "layout";

$width-padding: $width-gutter / 2;
$width-adskin: 170px;
$width-outside-max: 1500px;

body {
	overflow-x: hidden;
}

.WikiaPage,
.oasis-split-skin .WikiaPage {
	margin: 0 auto;
}

.oasis-split-skin {
	.WikiaHeader {
		min-width: 0;
	}
}

.WikiaActivityModule li em {
	width: auto;
}

.WikiaArticle,
.WikiaArticleFooter {
	padding: 0;
}

.WikiaMainContent {
	margin-right: -#{ $width-rail + $width-gutter };
	position: static;
	width: 100%;
}

.WikiaMainContentContainer {
	background-color: $color-page;
	margin-right: $width-rail + $width-padding;
	padding: 0 $width-padding;
}

.WikiaPageHeader,
.wikinav2 .WikiaPageHeader {
	margin: 0 0 $width-padding 0;
	padding-bottom: $width-padding / 2;
}

.WikiaRail {
	padding: 0 10px 0 0;
}

.WikiHeader {
	.navbackground {
		width: 100%;
	}

	.WikiNav {
		right: -4px;
		width: auto;
	}
}

.WikiaHeader .page-width-container,
.oasis-split-skin .WikiaHeader .page-width-container {
	width: auto;
}

@media screen and (max-width: 1023px) {
	.WikiaArticle {
		min-height: auto;
	}

	.WikiaMainContent {
		float: none;
		margin-right: 0;
	}

	.WikiaMainContentContainer {
		margin-right: 0;
	}

	.WikiaRail {
		float: none;
		padding: 0 10px;
		width: auto;
	}
}

@media screen and (max-width: 1030px) {
	body {
		background: $color-page;
	}

	.oasis-split-skin .WikiaPage,
	.WikiaPage {
		border: 0;
		width: auto;
	}

	.WikiaPageBackground {
		display: none;
	}

	.WikiaTopAds,
	.oasis-split-skin .WikiaTopAds {
		width: 100%;
	}
}

@media screen and (min-width: $width-outside + ($width-adskin * 2) + 2) {
	.WikiaPage,
	.oasis-split-skin .WikiaPage {
		margin: 0 $width-adskin;
		width: auto;
	}
}

@media screen and (min-width: $width-outside-max + ($width-adskin * 2) + 2) {
	.WikiaPage,
	.oasis-split-skin .WikiaPage {
		margin: 0 auto;
		max-width: $width-outside-max;
	}
}