@import "color";
@import "layout";

$width-padding: $width-gutter / 2;

.WikiaActivityModule li em {
	width: auto;
}

.WikiaArticle,
.WikiaArticleFooter {
	padding: 0;
}

.WikiaMainContent {
	margin-right: -#{ $width-rail + $width-gutter };
	position: static;
	width: 100%;
}

.WikiaMainContentContainer {
	background-color: $color-page;
	margin-right: $width-rail + $width-padding;
	padding: 0 $width-padding;
}

.WikiaPageHeader,
.wikinav2 .WikiaPageHeader {
	margin: 0 0 $width-padding 0;
	padding-bottom: $width-padding / 2;
}

.WikiaRail {
	padding: 0 10px 0 0;
}
