@import "color";
@import "layout";
@import "responsive-variables";
@import "../mixins/border-radius";

$share-background-color: transparentize($color-page, 0.65);
@if lightness($color-page) < 50 {
	$share-background-color: transparentize($color-page, 0.7);
}

$toolbar-width: 55px;
$toolbar-padding: 3px;

.SharingToolbar {
	@include border-radius(5px);
	background-color: $share-background-color;
	padding: $toolbar-padding;
	position: absolute;
	right: -($toolbar-width + 2 * $toolbar-padding + 8px); //width + padding + margin
	top: 10px;
	min-width: $toolbar-width;
	&.fixed {
		position: fixed;
	}
	&.hidden {
		visibility: hidden;
		right: 0px;
	}
	&.loading {
		background: $share-background-color url(/skins/common/images/ajax.gif) no-repeat 50% 50%; /* $wgCdnStylePath */

		.shareButton {
			visibility: hidden;
		}
	}
	.fb-like {
		height: 61px;
	}
	.twitter-share-button {
		display: block;
		height: 62px;
	}
	.wikia-button {
		font-size: 11px;
		margin-top: 10px;
		.sprite {
			height: 12px;
		}
		padding-left: 5px;
		padding-right: 5px;
	}
	>:first-child {
		margin: 0 0 5px 0;
	}
}

@if ( $responsive-layout-enabled ) {
	// Move the sharing toolbar when it's not enough space for it on the right page margin

	.SharingToolbar {
		@media screen and (max-width: 1185px) {
			right: 7px;
			top: 52px;
			z-index: 3;
			width: $toolbar-width;
			background-color: rgba(255,255,255,0.7);

			@media screen and (max-width: 1023px) {
				top: 116px;
			}
			&.fixed {
				top: 50px;
			}
		}

		&.fixed {
			@media screen and (min-width: 1023px) {
				left: 50%;
				right: initial;
			}
			@media screen and (max-width: 1185px) {
				margin-left: ( $width-outside / 2 ) - $toolbar-width - (2 * $toolbar-padding) - 7px;
			}
			@media screen and (min-width: 1186px) and (max-width: $breakpoint-fluid) {
				margin-left: ( $width-outside / 2 ) + 7px;
			}
			@media screen and (min-width: $breakpoint-max) {
				margin-left: ( $width-outside-max / 2 ) + 7px;
			}

			@media screen and (min-width: $breakpoint-fluid) and (max-width: $breakpoint-max) {
				left: initial;
				margin-left: 0;
				right: ($width-adskins / 2) - $toolbar-width - 13px;
			}
		}
	}
}
