@import "color";
@import "../mixins/box-shadow";
@import "../mixins/gradient";

$color-table-overflow-shadow: mix( $color-page-shadow, $color-page, 50% );

// RT #70017: wikitable class for skinning normal tables
table.wikitable {
	background: darken($color-page, 2%);
	border-collapse: collapse;
	border: 1px $color-page-border solid;
	color: $color-text;
	margin: 1em 1em 1em 0;

	th, td {
		border: 1px darken($color-page, 35%) solid;
		padding: 0.2em;
	}
	td {
		b, strong {
			font-weight: bold;
		}
		i, em {
			font-style: italic;
		}
	}
	> tr > th,  > * > tr > th {
		background: darken($color-page, 5%);
		text-align: center;
	}
	caption {
		font-weight: bold;
	}
}

.WikiaArticle {
	.table-is-wide {
		clear: both;
		margin-top: 1em;
		position: relative;

		&:before {
			@include box-shadow( -15px, 0, 20px, $color-table-overflow-shadow, true, -15px );
			content: "";
			height: 100%;
			pointer-events: none;
			position: absolute;
			right: 0;
			width: 20px;
			z-index: 2;
		}

		// Wide tables cannot be floated
		// Must use important here to override inline styles :'(
		table {
			float: none !important;
			margin-top: 0 !important;
		}

		// This second element is needed because of stacking order rules.
		// Otherwise, tables with background colors will overlap the box
		// shadow applied above.
		.table-scrollable {
			overflow: auto;
		}
	}
}

.WikiaDataTable {
	@include linear-gradient($color-module-highlight, top, $color-module-highlight, 40%, $color-module-shadow, 100%);
	border: 1px solid $color-page-border;
	border-collapse: collapse;
	text-align: right;
	width: 100%;
	th, td {
		padding: 10px 10px 7px 0;
		&:first-child {
			color: $color-buttons;
			padding-left: 10px;
			text-align: left;
		}
	}
	thead {
		th {
			color: $color-button-highlight;
		}
	}
	.totals {
		td {
			background: $color-page;
			color: $color-button-highlight;
			height: 36px;
			font-size: 16px;
			padding: 0 10px 0 0;
			&:first-child {
				padding: 0;
				.pointer {
					background: $color-buttons;
					color: $color-button-text;
					font-size: 13px;
					height: 26px;
					margin-right: 10px;
					padding: 10px 0 0 10px;
					position: relative;
					&:before {
						border: 18px solid transparent;
						border-left: 10px solid $color-buttons;
						content: "";
						height: 0;
						position: absolute;
						right: -28px;
						bottom: 0;
						width: 0;
					}
				}
			}
		}
	}
	tfoot {
		.supplemental-info {
			text-align: right;
		}
	}
	tbody {
		tr {
			border-top: 1px solid $color-page-border;
			&:first-child {
				border-top: none;
			}
			td {

			}
		}
	}
}

.article-table,
.WikiaTable {
	background: darken($color-page, 2%);
	border-collapse: collapse;
	border: 0px none $color-page-border;
	margin: 1em 1em 1em 0;

	th, td {
		border-bottom: 1px $color-page-border solid;
		padding: 6px 12px;
	}
	th {
		background: darken($color-page, 5%);
		text-align: left;
	}
	caption {
		font-weight: bold;
	}
}

// Add color theming support for MediaWiki jQuery TableSorter plugin (overwritting jquery.tablesorter.css styles)
table.jquery-tablesorter.sortable th.headerSort .chevron {
	border-top-color: $color-text;
	&:first-child {
		border-color: transparent transparent $color-text;
	}
}
