@import "skins/oasis/css/mixins/background-opacity";
@import "skins/oasis/css/mixins/border-opacity";
@import "skins/oasis/css/core/color";

// Video Thumbnails
.video-thumbnail {
	display: inline-block;
	position: relative;

	&.fluid {
		width: 100%;

		> img {
			width: 100%;
		}
	}

	img {
		display: block;
	}

	.duration {
		background: black;
		border-radius: 1px 0 0 0;
		bottom: 0;
		color: white;
		font-size: 11px;
		line-height: 17px;
		opacity: .7;
		padding: 0px 6px;
		position: absolute;
		right: 0;
	}

	// play button styles
	// defaults to 'medium' size
	// positioned in the center
	.play-circle {
		background: url('/skins/oasis/images/icon_play_button.png'); /* base64 */
		background-size: 100%;
		display: block;
		height: 50px; // only for medium
		left: 50%;
		margin: -25px 0 0 -25px; // only for medium
		position: absolute;
		top: 50%;
		width: 50px; // only for medium
	}

	// xsmall
	// positioned in the bottom/left instead of center
	&.xsmall, &.xxsmall {
		.play-circle{
			height: 27px;
			width: 27px;
			bottom: 10px;
			left: 36px;
			top: auto;
		}
	}

	// xxsmall thumbnails
	&.xxsmall {
		// same play button size as xsmall but positioned lower
		.play-circle {
			bottom: 6px;
			left: 32px;
		}
	}

	// small thumbnails
	&.small {
		// play button is in the bottom/left
		.play-circle{
			height: 35px;
			width: 35px;
			bottom: 10px;
			left: 34px;
			top: auto;
		}
	}

	// large thumbnails
	&.large {
		// play button is in the center
		.play-circle{
			height: 70px;
			margin: -35px 0 0 -35px;
			width: 70px;
		}
	}

	// xlarge thumbnails
	&.xlarge {
		// play button is in the center
		.play-circle{
			height: 90px;
			margin: -45px 0 0 -45px;
			width: 90px;
		}
	}

	// darker opacity on hover state
	&:hover {
		.play-circle {
			background-image: url('/skins/oasis/images/icon_play_button_hover.png'); /* base64 */
		}
	}

	// Don't show the thumbnail till hover
	&.hide-play {
		.play-circle {
			display: none;
		}

		&:hover {
			.play-circle {
				display: block;
			}
		}
	}
}

// Generic title thumbnails
.title-thumbnail {
	.title {
		font-size: 16px;
	}
}

// Article thumbnails
.WikiaArticle .article-thumb {
	margin-bottom: 15px;

	a {
		display: inline-block;
	}

	img {
		display: block;
	}

	.details {
		float: right;
		margin: -32px 0 0 5px;
	}

	p, p + p {
		font-size: 12px;
		margin: 10px 0;
		line-height: 16px;
	}

	&.tright {
		clear: right;
		float: right;
		margin-left: 20px;
	}

	&.tleft {
		clear: left;
		float: left;
		margin-right: 20px;
	}

	.attribution {
		color: $color-alternate-text;

		a {
			color: $color-alternate-text;

			&:hover {
				color: $color-links;
				text-decoration: none;
			}
		}
	}

	.caption {
		color: $color-alternate-text;
	}
}