@import "skins/oasis/css/mixins/background-opacity";
@import "skins/oasis/css/mixins/border-opacity";
@import "skins/oasis/css/core/color";

// Import thumbnail video styles so all are contained within thumbnails scss
@import "skins/oasis/css/core/thumbnails-video";

$color-subtle-text: mix($color-page, $color-alternate-text, 50%);

// Generic title thumbnails
.title-thumbnail {
	.title {
		font-size: 16px;
	}
}

// Article thumbnails
.WikiaArticle .article-thumb {
	margin-bottom: 15px;

	a {
		display: inline-block;
	}

	img {
		display: block;
	}

	p, p + p {
		font-size: 12px;
		margin: 5px 0;
		line-height: 16px;
	}

	&.tright {
		clear: right;
		float: right;
		margin-left: 20px;
	}

	&.tleft {
		clear: left;
		float: left;
		margin-right: 20px;
	}

	.title {
		font-weight: bold;
	}

	// TODO: this should be safe to remove after 6/18/2014 - liz
	.attribution {
		color: $color-subtle-text;

		a {
			color: $color-subtle-text;

			&:hover {
				color: $color-links;
				text-decoration: none;
			}
		}
	}

	figcaption {
		text-align: left;
	}

	.caption {
		color: $color-alternate-text;
	}

	// TODO: this should be safe to remove after 6/18/2014 - liz
	.details {
		float: right;
		margin: 0 0 0 5px;
		visibility: hidden;
	}

	// TODO: this should be safe to remove after 6/18/2014 - liz
	&:hover {
		.details {
			visibility: visible;
		}
	}
}
