@import "skins/oasis/css/mixins/background-opacity";
@import "skins/oasis/css/mixins/border-opacity";
@import "skins/oasis/css/core/color";

// Import thumbnail video styles so all are contained within thumbnails scss
@import "skins/oasis/css/core/thumbnails-video";

$color-subtle-text: mix($color-page, $color-alternate-text, 50%);

// Generic title thumbnails
.title-thumbnail {
	.title {
		font-size: 16px;
	}
}

// Article thumbnails
.WikiaArticle {
		.article-thumb {
		margin-bottom: 15px;
		margin-top: 6px;

		a {
			display: inline-block;
		}

		img {
			display: block;
		}

		p, p + p {
			font-size: 12px;
			margin: 5px 0;
			line-height: 16px;
		}

		&.tright {
			clear: right;
			float: right;
			margin-left: 20px;
		}

		&.tleft {
			clear: left;
			float: left;
			margin-right: 20px;
		}

		.title {
			font-weight: bold;
		}

		figcaption {
			text-align: left;
		}

		.caption {
			color: $color-alternate-text;
		}
	}

	.article-thumb-wrapper {
		position: relative;

		.info-icon {
			background-image: url('/skins/oasis/images/info_icon.png');
			height: 17px;
			width: 17px;
			position: absolute;
			bottom: 11px;
			right: 5px;
			display: none;
		}

		&:hover {
			a.info-icon {
				display: block;
			}
			.duration {
				display: none;
			}
		}
	}

	// For images inside of infoboxes
	td .article-thumb-wrapper {
		.info-icon {
			bottom: 5px;
			right: 7px;
		}
	}
}
