$wordmark-font: get_command_line_param("wordmark-font", "default");

@if $wordmark-font == "cpmono" {
	@font-face {
		font-family: 'CPMono_v07Bold';
		src: url('/skins/oasis/fonts/cpmono/CPMono_v07_Bold-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/cpmono/CPMono_v07_Bold-webfont.woff') format('woff'), url('/skins/oasis/fonts/cpmono/CPMono_v07_Bold-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/cpmono/CPMono_v07_Bold-webfont.svg#webfont8SZ0NIeo') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "fontin" {
	@font-face {
		font-family: 'FontinSansBold';
		src: url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.woff') format('woff'), url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/fontin/fontin_sans_b_45b-webfont.svg#webfontaOEEV2k6') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "garton" {
	@font-face {
		font-family: 'GartonMedium';
		src: url('/skins/oasis/fonts/garton/garto16-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/garton/garto16-webfont.woff') format('woff'), url('/skins/oasis/fonts/garton/garto16-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/garton/garto16-webfont.svg#webfont9jUXe5iO') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "idolwild" {
	@font-face {
		font-family: 'IdolwildRegular';
		src: url('/skins/oasis/fonts/idolwild/idolwild-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/idolwild/idolwild-webfont.woff') format('woff'), url('/skins/oasis/fonts/idolwild/idolwild-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/idolwild/idolwild-webfont.svg#webfont2KYBVKLT') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "imfell" {
	@font-face {
		font-family: 'IMFELLDWPicaPRORegular';
		src: url('/skins/oasis/fonts/imfell/fepirm27c-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/imfell/fepirm27c-webfont.woff') format('woff'), url('/skins/oasis/fonts/imfell/fepirm27c-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/imfell/fepirm27c-webfont.svg#webfontkY4YPcYZ') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "josefin" {
	@font-face {
		font-family: 'JosefinSansStdLight';
		src: url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.woff') format('woff'), url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/josefin/JosefinSansStd-Light-webfont.svg#webfontmMSjIQwC') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "megalopolis" {
	@font-face {
		font-family: 'MEgalopolisExtraRegular';
		src: url('/skins/oasis/fonts/megalopolis/megalopolisextra-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/megalopolis/megalopolisextra-webfont.woff') format('woff'), url('/skins/oasis/fonts/megalopolis/megalopolisextra-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/megalopolis/megalopolisextra-webfont.svg#webfont0XV5Gd7h') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "orbitron" {
	@font-face {
		font-family: 'OrbitronMedium';
		src: url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.woff') format('woff'), url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/orbitron/orbitron-medium-webfont.svg#webfont5FiGFJOa') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "pixiefont" {
	@font-face {
		font-family: 'PixieFontRegular';
		src: url('/skins/oasis/fonts/pixiefont/PixieFont-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/pixiefont/PixieFont-webfont.woff') format('woff'), url('/skins/oasis/fonts/pixiefont/PixieFont-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/pixiefont/PixieFont-webfont.svg#webfont78rOR6Do') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "prociono" {
	@font-face {
		font-family: 'ProcionoRegular';
		src: url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.woff') format('woff'), url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/prociono/Prociono-Regular-webfont.svg#webfontnTm7Rj2p') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "tangerine" {
	@font-face {
		font-family: 'TangerineRegular';
		src: url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.woff') format('woff'), url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/tangerine/Tangerine_Regular-webfont.svg#webfonthdkJyIIt') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "titillium" {
	@font-face {
		font-family: 'TitilliumText22LRegular';
		src: url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.woff') format('woff'), url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/titillium/TitilliumText22L003-webfont.svg#webfontCVZ9BHQN') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "veggieburger" {
	@font-face {
		font-family: 'VeggieburgerBold';
		src: url('/skins/oasis/fonts/veggieburger/VeggiBol-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/veggieburger/VeggiBol-webfont.woff') format('woff'), url('/skins/oasis/fonts/veggieburger/VeggiBol-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/veggieburger/VeggiBol-webfont.svg#webfont2sUWj2TL') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}


@if $wordmark-font == "yanone" {
	@font-face {
		font-family: 'YanoneKaffeesatzRegular';
		src: url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.eot'); /* $wgResourceBasePath */
		src: local('☺'), url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('/skins/oasis/fonts/yanone/YanoneKaffeesatz-Regular-webfont.svg#webfontlKPF1zIT') format('svg'); /* $wgResourceBasePath */
		font-weight: normal;
		font-style: normal;
	}
}