@import "skins/oasis/css/mixins/background-opacity";
@import "skins/oasis/css/mixins/border-opacity";

/**
 * Style the refactored video thumbnails and allow for responsive and non-responsive thumbnails.
 */

.wikia-video-thumbnail {
	display: inline-block;
	position: relative;

	&.fluid {
		width: 100%;

		> img {
			width: 100%;
		}
	}

	img {
		display: block;
	}

	// Play button circle, defaults to 'medium'
	.play-circle {
		background: url('/skins/oasis/images/icon_play_button.png'); /* base64 */
		background-size: 100%;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;

		// only for medium
		height: 50px;
		margin: -25px 0 0 -25px; // half of width and height
		width: 50px;
	}

	// xsmall are positioned in the bottom/left instead of center
	&.xsmall, &.xxsmall {
		.play-circle{
			height: 27px;
			width: 27px;
			bottom: 10px;
			left: 36px;
			top: auto;
		}
	}

	// xxsmall uses the same size as xsmall but positioned lower and to the left
	&.xxsmall .play-circle {
		bottom: 6px;
		left: 32px;
	}


	// small thumbs are positioned in the bottom/left instead of center
	&.small {
		.play-circle{
			height: 35px;
			width: 35px;
			bottom: 10px;
			left: 34px;
			top: auto;
		}
	}

	&.large {
		.play-circle{
			height: 70px;
			margin: -35px 0 0 -35px;
			width: 70px;
		}
	}

	&.xlarge {
		.play-circle{
			height: 90px;
			margin: -45px 0 0 -45px;
			width: 90px;
		}
	}

	// darker opacity on hover state
	&:hover {
		.play-circle {
			background-image: url('/skins/oasis/images/icon_play_button_hover.png'); /* base64 */
		}
	}

	// Don't show the thumbnail till hover
	&.hide-play {
		.play-circle {
			display: none;
		}

		&:hover {
			.play-circle {
				display: block;
			}
		}
	}

	.duration {
		background: black;
		border-radius: 1px 0 0 0;
		bottom: 0;
		color: white;
		font-size: 11px;
		line-height: 17px;
		opacity: .7;
		padding: 0px 6px;
		position: absolute;
		right: 0;
	}
}

.title-thumbnail {
	.title {
		font-size: 16px;
	}
}