<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VisualEditor Tests</title>

<!-- STYLES -->

	</head>
	<body>
		<div id="qunit"></div>
		<div id="qunit-fixture">Loading QUnit. Ensure you have run <code>npm install</code>.</div>

<!-- SCRIPTS -->

	</body>
</html>
