@import 'extensions/wikia/WikiaMobile/css/variables.scss';
@import 'extensions/wikia/WikiaMobile/css/mixins/linear-gradient.scss';
@import 'extensions/wikia/WikiaMobile/css/mixins/box-shadow.scss';

$poll-shadow-color: rgba(0,0,0,.4);
$poll-border-color: #E3E3E3;
$gradient-color-first: rgb(38,148,225);
$gradient-color-second: rgb(17,105,178);

.WikiaPoll {
	border: 1px solid $shadow-color;
	padding: 5px;
	box-shadow: 0 0 5px $shadow-color;

	ul {
		list-style: none;
		padding: 10px 10px 36px 10px;
		margin: 0;
	}

	li {
		clear: both;
		padding-bottom: 30px;
	}
}

.pollHeader {
	font-weight: 800;
	padding: 10px;
}

.openPoll {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	color: black;
	font-weight: 400;
	display: none;

	.js & {
		display: block;
	}
}

.votes {
	border-top: 1px solid $shadow-color;
	text-align: right;
	padding: 3px 10px;
	height: 28px;
	font-size: small;
}

.bar {
	float: left;
	width: 80%;
	height: 25px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include box-shadow(inset -1px 1px 10px 0 $poll-shadow-color);
	}
}

.percentage {
	height: 100%;
	background: rgb(43,132,213);
}

.perc {
	float: right;
	font-size: 1.2em;
}

.WikiaPollModal{
	&#wkMdlWrp {
		height: auto;
		min-height: 100%;
		background-color: white;
	}

	#wkMdlCnt {
		background-color: white;
		color: rgb(58, 58, 58);
		margin: 40px 0;
	}

	.pollHeader {
		margin: 0 0 20px 0;
	}
}

.modalTitle {
	font-weight: 800;
	line-height: 30px;
	margin-left: 10px;
}

.wkPollForm {
	label {
		display: block;
		border-top: 1px solid $poll-border-color;
		padding: 12px 35px 12px 15px;
		-webkit-transition: background .2s;
		-moz-transition: background .2s;
		transition: background .2s;
		word-break: break-word;

		&:last-of-type {
			border-bottom: 1px solid $poll-border-color;
		}
	}

	input:checked + label {
		@include linear-gradient($gradient-color-first, $gradient-color-second);
		color: white;
	}

	input:not(.wkBtn) {
		display: none;
	}

	.wkBtn {
		width: 90%;
		margin: 15px auto;
		display: block;
		padding: 10px;
		pointer-events: none;

		//gradeint here is to make iphone to restyle button
		@include linear-gradient(#EEE, #EEE);
		color: #A1A1A1;
		font-weight: 800;
		-webkit-transition: background .2s;
		-moz-transition: background .2s;
		transition: background .2s;
	}

	.active {
		pointer-events: auto;
		@include linear-gradient($gradient-color-first, $gradient-color-second);
		color: white;
	}

	.wkMblLdr {
		position: absolute;
		top: 0;
	}
}

.voted {
	pointer-events: none;

	input:not(:checked) + label{
		color: grey;
	}

	input:checked + label::after {
		content: '';

		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -10px;

		height: 20px;
		width: 20px;

		background-image: url('/extensions/wikia/WikiaPoll/images/check_4x.png'); /* base64 */
		background-size: 20px;
		background-repeat: no-repeat;
	}
}

.wkThanks {
	height: 50px;
	text-align: center;
	margin: 20px auto;
	font-weight: 800;
}

.userVoted {
	text-align: center;
	margin: 10px 0;
}