@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/gradient";

// colors to be used for results
$color-poll-result-bar: $color-buttons;
$color-poll-result-bar-highlight: desaturate(lighten($color-poll-result-bar, 25%), 25%);
$color-poll-result-text: $color-button-text;
$color-poll-odd: mix($color-text, $color-page, 10%);

.WikiaPoll {
	position: relative;
	text-align: left;
	ul {
		font-size: 13px;
		list-style: none;
		margin: 0;
		padding: 0;

		// hide ratio button
		input {
			display: none;
		}

		// answers
		li {
			padding: 5px;

			&.odd {
				background-color: $color-poll-odd;
				color: $color-text;
			}
		}

		// voting mode - show inputs
		&.vote {
			input {
				display: inline !important;
			}
		}

		// results mode - show bars
		&.results {
			label {
				line-height: 20px;
			}
			.bar {
				display: inline-block;
				min-width: 10%;
			}
		}
	}
	label {
		display: block;
		line-height: 50px;
	}
	.bar {
		@include linear-gradient($color-poll-result-bar, left, $color-poll-result-bar, 0%, $color-poll-result-bar-highlight, 80%);
		border-radius: 8px;
		color: $color-poll-result-text;
		display: none;
		font-weight: bold;
		line-height: 20px;
		margin: 5px 0;
		overflow: hidden;
		text-align: right;

		span {
			padding: 0 5px;
		}

		// show votes count on hover
		.votes {
			display: none;
			white-space: nowrap;
		}

		&:hover {
			.percentage {
				display: none;
			}
			.votes {
				display: inline;
			}
		}
	}
	// vote button + number of votes
	.details {
		@include clearfix;
		line-height: 40px;
		padding: 0 20px;
		span {
			float: right;
		}
	}
	// loading indicator
	.progress {
		display: none;
		margin-top: -40px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}

	// loading indicator
	&.loading {
		background-image: url(/skins/common/images/ajax.gif); /* $wgCdnStylePath */
		background-position: 50% 50%;
		background-repeat: no-repeat;
		// show progress message
		.progress {
			display: block;
		}
		// hide poll content
		ul,
		.details {
			visibility: hidden;
		}
	}
}

.WikiaPollEmbedded {
	@include clearfix;
	@include linear-gradient(false, top, $color-module-highlight, 60%, $color-module-shadow, 100%);
	border: 1px solid $color-page-border;
	clear: left;
	float: left;
	font-weight: bold;
	margin: 0 16px 16px 0;
	padding: 16px 8px 8px;
	width: 300px;

	h2 {
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		margin: 0;
	}
}