@import 'extensions/wikia/WikiaMobile/css/variables.scss';
@import 'extensions/wikia/WikiaMobile/css/mixins/linear-gradient.scss';
@import 'extensions/wikia/WikiaMobile/css/mixins/box-shadow.scss';

$poll-shadow-color: rgba(0,0,0,.4);
$gradient-color-first: rgb(38,148,225);
$gradient-color-second: rgb(17,105,178);

.WikiaPoll {
	border: 1px solid $shadow-color;
	padding: 5px;
	box-shadow: 0 0 5px $shadow-color;

	ul {
		list-style: none;
		padding: 10px;
		margin: 0;
	}

	li {
		clear: both;
		padding-bottom: 30px;
	}
}

.pollHeader {
	font-weight: 800;
	padding: 10px;
}

.openPoll {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	color: black;
	font-weight: 400;
	display: none;

	.js & {
		display: block;
	}
}

.votes {
	border-top: 1px solid $shadow-color;
	text-align: right;
	padding: 3px 10px;
	height: 28px;
	font-size: small;
}

.bar {
	float: left;
	width: 70%;
	height: 25px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset -1px 1px 10px 0 $poll-shadow-color;
	}
}

.percentage {
	height: 100%;
	background: rgb(43,132,213);
}

.perc {
	float: right;
	font-size: 1.5em;
}

.WikiaPollModal{
	&#wkMdlWrp {
		height: auto;
		min-height: 100%;
		background-color: white;
	}

	#wkMdlCnt {
		background-color: white;
		color: black;
		padding: 40px 0;
	}

	.pollHeader {
		margin: 0 0 20px 0;
	}
}

.modalTitle {
	font-weight: 800;
	line-height: 30px;
	margin-left: 10px;
}

.wkPollForm {
	position: relative;

	label {
		position: relative;
		display: block;
		border-top: 1px solid;
		padding: 12px 30px 12px 15px;
		-webkit-transition: background .2s;
		-moz-transition: background .2s;
		transition: background .2s;
		word-break: break-word;

		&:last-of-type {
			border-bottom: 1px solid;
		}
	}

	input:checked + label {
		@include linear-gradient($gradient-color-first, $gradient-color-second);
		color: white;
	}

	input:not(.wkBtn) {
		display: none;
	}

	.wkBtn {
		width: 90%;
		margin: 15px auto;
		display: block;
		padding: 10px;
		pointer-events: none;
		@include linear-gradient(rgb(129,129,129), rgb(100,100,100));
		color: black;
		-webkit-transition: background .2s;
		-moz-transition: background .2s;
		transition: background .2s;
	}

	.active {
		pointer-events: auto;
		@include linear-gradient($gradient-color-first, $gradient-color-second);
		color: white;
	}

	.wkMblLdr {
		position: absolute;
		top: 0;
	}
}

.voted {
	pointer-events: none;

	input:not(:checked) + label{
		color: grey;
	}

	input:checked + label::after {
		content: '✓';
		right: 5px;
		position: absolute;
		font-size: 1.5em;
		top: 50%;
		margin-top: -0.5em;
	}
}

.wkThanks {
	height: 50px;
	text-align: center;
	margin: 20px auto;
	font-weight: 800;
}

.userVoted {
	text-align: center;
	margin: 10px 0;
}