/*
Styles for Notices
*/

#notice-wrapper
{
	border: 1px solid #bbb;
	text-align: center;
	background-color: #fcfcfc;
	background-repeat: no-repeat;
	height: 115px;
	font-size: 1.4em;
	padding: 5px 5px;
}

#notice-collapsed-wrapper
{
	border: 1px solid #bbb;
	text-align: left;
	background-color: #fcfcfc;
	font-size: 1.4em;
	padding: 5px 5px;
}

#notice-wrapper a:hover { text-decoration: none; }
#notice-collapsed-wrapper a:hover { text-decoration: none; }

#toggle-box
{
	float: right;
	font-size: 0.6em;
}

#notice-text
{
	padding: 0 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#progress-meter
{
	background-image: url(images/progress/p2.5.png);
	background-repeat: no-repeat;
	background-position: top center;
	font-size: 0.8em;
	text-align: left;
	width: 606px;
	height: 28px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 120px;
	margin-bottom: 8px;
}

#amount-raised
{
	color: #fff;
	padding-left: 125px;
	font-size: 0.8em;
	float: left;
}

#goal
{
	color: #333;
	padding-left: 450px;
	font-size: 0.8em;
}

/*
Styles for Donation Module
*/

#liquid-round input 
{
	margin: 5px 0;
}
body
{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,Tahoma,sans-serif;
	color: #333;
	background-color: #ddd;
	font-size: 1em;
	font-weight: 200;
	text-align: left;
}

#container
{
	background-color: #FFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#menu
{
	background-color: #000;
	color: #fff;
	font-size: 0.8em;
	padding: 5px 0;
	text-align: center;
	margin-top: 40px;
}

#menu { color: #fff; }
#menu a { color: #09C; }

#menu a:hover
{
	color: #09C;
	text-decoration: underline;
}

#banner
{
	height: 184px;
	margin: 0px;
	padding-top: 15px;
	background-image: url(images/header-bg.gif);
	background-repeat: no-repeat;
	background-position: top center;
	text-align: left;
}

#logo-box
{
	margin-left: 80px;
	margin-right: 15px;
	float: left;
}

#header-quote
{
	width: 450px;
	margin-left: 350px;
	margin-top: 20px;
	padding: 0px;
}

#banner h1
{
	margin: 0;
	padding: .5em;
}

#banner p
{
	color: white;
	font-family: Gill sans,Arial,Helvetica,Tahoma,sans-serif;
	font-size: 1.3em;
}

#small-quote
{
	color: white;
	font-family: Gill sans,Arial,Helvetica,Tahoma,sans-serif;
	font-size: .8em;
}

#leaded { line-height: 1.6em; }

#small
{
	font-size: .8em;
}

#content-container
{
	margin: 40px 80px;
	font-size: 0.9em;
	text-align: left;
}

#left
{
	float: left;
	width: 400px;
}

#left p { margin-top: 0; }
#left wide { width: 550px; }

#right
{
	width: 400px;
	margin-left: 440px;
}

#right narrow { width: 250px; }
#right h2 { margin-top: 0; }

#footer
{
	clear: both;
	background-color: #f3f3f3;
	text-align: left;
	font-size: 0.7em;
	padding-top: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#languages
{
	width: 840px;
	border-top: #ccc solid 1px;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	margin-bottom: 50px;
	padding: 10px 0px 30px;
}

#photo-caption-box
{
	color: #fff;
	background-color: #000;
	padding: 10px;
	font-size: 0.8em;
}

#photo-caption-box a { color: #fff; }

#gray-border
{
	border: 5px solid #dddddd;
	padding: 15px;
	margin-bottom: 30px;
}

#page-title
{
	font-size: 1.3em;
	font-weight: normal;
}

#hr-title
{
	border-bottom: 1px solid #dedede;
	font-weight: bold;
	margin-bottom: 10px;
}

h1
{
	font-size: 1.7em;
	font-weight: normal;
}

#red-title
{
	color: #CC0000;
	font-size: 1.3em;
	font-weight: normal;
	float: left;
	margin-right: 10px;
}

#blue-title
{
	color: #069;
	font-size: 1.1em;
	font-weight: normal;
	margin-top: 15px;
}

#red-button
{
	background-image: url(images/button-red.png);
	width: 158px;
	height: 27px;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica,Tahoma,sans-serif;
}

.red-input-button
{
	background-repeat: no-repeat;
	background-image: url(images/button-red.png);
	background-color: white;
	width: 160px;
	height: 29px;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	display: block;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica,Tahoma,sans-serif;
	border: 1px solid white;
}

#red-button a:hover { text-decoration: none; }

.submit-button{
cursor:pointer;
border:outset 1px #dedede;
background:#aaa;
color:#fff;
font-weight:bold;
font-family: Verdana, Arial, Helvetica,Tahoma,sans-serif;
padding: 5px 10px;

}


i
{
	font-style: italic;
	font-weight: normal;
}

a
{
	color: #006699;
	text-decoration: none;
}

a:hover { text-decoration: underline; }


/*Styles for Quote*/
.firstbigletter
{
	font-size: 36px;
	font-weight: lighter;
	line-height: 80%;
}

blockquote
{
	font-weight: lighter;
	display: block;
	margin: 0px;
	padding: 0 0px;
	width: 470px;
}

blockquote:before, blockquote:after
{
	font-family: Georgia, serif;
	color: #fff;
	display: block;
	font-size: 400%;
}

blockquote:before
{
	content: open-quote;
	height: 0;
	margin-left: -0.55em;
	margin-top: 0px;
	line-height: 0.7;
}

blockquote:after
{
	content: close-quote;
	height: 50px;
	margin-top: -70px;
	margin-left: 450px;
	line-height: 1;
}

img { border: none; }

/*css for curved corners */
#liquid-round
{
	width: 400px;
	margin: 0px auto;
	padding-bottom: 50px;
	background: #fff url(images/curves/leftside.gif) repeat-y left top;
}

#liquid-round .rightside
{
	 background: url(images/curves/rightside.gif) repeat-y right top;
}

.top
{
	width: 100%;
	height: 26px;
	background: url(images/curves/top.gif) no-repeat left top;
}

.top span
{
	display: block;
	position: relative;
	height: 26px;
	background: url(images/curves/top-right.gif) no-repeat right top;
}

.center-content
{
	position: relative;
	padding: 1px 36px 20px 36px;
	margin: -1px 0 -50px 0;
}

.bottom
{
	width: 100%;
	background: url(images/curves/bottom.gif) no-repeat left bottom;
}

.bottom-right 
{
	background: url(images/curves/bottom-right.gif) no-repeat right bottom; 
}

p { margin: 0 0 1em 0; }

/*End css curved corners*/

#toctitle {
	/* Wrong localization */
	display: none;
}
