{{templateTypeLabel}}
{{#editButton}}<a class="template-classification-edit" data-type="{{templateType}}">
	{{templateTypeName}}
	<span class="template-classification-edit sprite-small edit"></span>
</a>
{{/editButton}}
