{{templateTypeLabel}}
{{#editButton}}<a href="#" class="template-classification-type-text" data-type="{{templateType}}" title="{{keyTip}}">
	<span class="template-classification-type-label">{{templateTypeName}}</span><span class="sprite-small edit"></span>
</a>
{{/editButton}}
