{{templateTypeLabel}}
<span class="template-classification-type-text" data-type="{{templateType}}">{{templateTypeName}}</span>
{{#editButton}}<a class="template-classification-edit sprite-small edit"></a>{{/editButton}}
