<form id="TemplateClassificationEditForm">
	{{#templateTypes}}
			<input type="radio" id="template-classification-{{type}}" value="{{type}}" name="template-classification-types" class="template-classification-edit-form-input">
			<label for="template-classification-{{type}}"  class="template-classification-edit-form-input">{{name}}</label>
	{{/templateTypes}}
</form>