@import '../../DesignSystem/node_modules/design-system/dist/scss/wds-variables/index';

#draft-restore-message {
	box-shadow: unset;
	padding: 10px;
	width: unset;

	.wds-button {
		align-self: center;
		color: $wds-fandom-color-link;

		&:hover {
			background-color: unset;
			background-image: unset;
		}
	}

	.wds-banner-notification__icon {
		background-color: $wds-fandom-color-link;
	}

	.wds-banner-notification {
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
	}
}

#mw-content-text {
	#draft-restore-message {
		background-color: #fff;
	}
}

#EditPage {
	.editpage-widemode-trigger {
		border-left: unset;
	}
}

#EditPageEditor {
	.cke_inner {
		background: unset;
	}
}

#mw-content-text {
	#draft-restore-message.ck-source-mode {
		background-color: unset;
	}
}
