<div class="greeting">
	<p>{{salutation}}</p>
	<p>{{{summary}}}</p>
</div>

<table>
	<tr>
		<td valign="top">
			<div class="avatar-wrapper">
				{{# editorProfilePage}}
					<a href="{{editorProfilePage}}">
				{{/ editorProfilePage}}
					<img class="avatar" src="{{editorAvatarURL}}">
				{{# editorProfilePage}}
					</a>
				{{/ editorProfilePage}}
			</div>
		</td>
		<td class="widest">
			<div class="message">
				<p>
					{{# editorProfilePage}}
						<a class="username" href="{{editorProfilePage}}">
					{{/ editorProfilePage}}
						{{editorUserName}}
					{{# editorProfilePage}}
						</a>
					{{/ editorProfilePage}}
				</p>
				{{# detailsHeader}}
					<p><strong>{{detailsHeader}}</strong></p>
				{{/ detailsHeader}}
				<p>{{details}}</p>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a class="button" href="{{buttonLink}}">{{buttonText}}</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="content-footer-messages">
				{{#contentFooterMessages}}
					<p>{{{.}}}</p>
				{{/contentFooterMessages}}
			</div>
		</td>
	</tr>
</table>
