{{> greeting}}
<table>
	<tr>
		<td>
			<h3>{{categoryPageName}}</h3>
			<p><a href="{{pageAddedToCategoryUrl}}">{{pageAddedToCategoryName}}</a></p>
		</td>
	</tr>
	{{> contentFooterMessages}}
</table>
