<tr>
	<td>
		{{# iconLink}}<a href="{{iconLink}}">{{/iconLink}}
		<img class="digest-details-icon" src="{{iconSrc}}">
		{{# iconLink}}</a>{{/ iconLink}}
	</td>
</tr>
<tr>
	<td>
		{{# detailsHeader}}
			<p class="digest-details-header">
				{{detailsHeader}}
			</p>
		{{/ detailsHeader}}
		<p>{{{details}}}</p>
	</td>
</tr>

