<tr>
	<td valign="top" class="icon">
		<img src="{{iconSrc}}">
	</td>
	<td class="widest">
		<div class="message">
			{{# detailsHeader}}
				<p><strong>{{detailsHeader}}</strong></p>
			{{/ detailsHeader}}
			<p>{{{details}}}</p>
		</div>
	</td>
</tr>
