{{> greeting}}
<table class="digest-layout-container">
	{{# details}}
		{{> digestDetail}}
	{{/ details}}
	{{> button}}
	{{# hasContentFooterMessages}}
		<tr>
			<td>
				{{#contentFooterMessages}}
					<p>{{{.}}}</p>
				{{/contentFooterMessages}}
			</td>
		</tr>
	{{/ hasContentFooterMessages}}
	<tr>
		<td>
			<img class="signature-icon" src="{{signatureIcon}}">
		</td>
	</tr>
	<tr>
		<td>
			<p class="signature">
				{{signature}}
			</p>
		</td>
	</tr>
</table>
