{{> greeting}}
<table>
	<tr>
		<td class="widest">
			<p>{{passwordIntro}}</p>
			<p><pre>{{tempPassword}}</pre></p>
			<p>{{unrequested}}</p>
			<p>{{{questions}}}</p>
			<p>{{signature}}</p>
		</td>
	</tr>
</table>
