<p>Bonjour $username$,</p>
<p>Nous accordons beaucoup d'importance à la protection de vos informations personnelles. Nous avons mis à jour nos conditions d'utilisation et notre politique de confidentialité afin de vous permettre de mieux comprendre quelles informations nous avons sur vous, ce que nous en faisons et pourquoi. Bien que nous pensions que cette mise à jour aidera tous nos utilisateurs, ces changements sont effectués dans un souci de conformité au règlement général sur la protection des données (RGPD), une nouvelle loi applicable dans toute l'Union européenne. Pour les utilisateurs européens, la politique de confidentialité mise à jour explique également la base juridique de l'utilisation de vos données et indique vos droits en ce qui concerne vos données.</p>
<p>Les nouvelles conditions d'utilisation et politique de confidentialité prennent effet le 25 mai 2018 et sont disponibles <a href="http://www.wikia.com/Terms_of_use">ici</a> et <a href="http://www.wikia.com/Privacy_Policy">ici</a>.</p>
<p>Si vous continuez d'utiliser nos services à compter du 25 mai 2018, vous acceptez d'être lié par ces nouvelles conditions.</p>
<p>En cas de questions, n'hésitez pas à nous contacter par e-mail à l'adresse <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Nous vous remercions de votre soutien continu,</p>
<p>L'équipe FANDOM</p>