<p>Dear $username$,</p>
<p>We are committed to protecting any of your personal information that we hold. We have updated our terms of use and privacy policy to make it easy for you to understand what information we have about you, what we do with it, and why. While we believe this updated policy will serve all of our users better, we are making these changes to make sure we are compliant with the General Data Protection Regulation (“GDPR”), a new data protection law that takes effect across the European Union. For our European users, the updated privacy policy also explains our legal basis for using your data and lists your rights with respect to your data.</p>
<p>The new terms of use and privacy policy are effective as of May 25, 2018, and can be found <a href="http://www.wikia.com/Terms_of_use">here</a> and <a href="http://www.wikia.com/Privacy_Policy">here</a>.</p>
<p>If you continue using our services on or after May 25, 2018 you agree to be bound by these new terms.</p>
<p>If you have any questions, please feel free to contact us by emailing us at <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Thank you for your ongoing support,</p>
<p>The FANDOM team</p>