<p>Estimado $username$,</p>
<p>Estamos comprometidos a proteger cualquier información personal tuya que tengamos. Hemos actualizado nuestros términos de uso y política de privacidad para hacerte más sencillo el entender qué información tenemos sobre ti, qué hacemos con ella y por qué. Aunque creemos que esta política actualizada servirá a todos de nuestros usuarios mejor, estamos haciendo estos cambios para asegurarnos de que seamos compatibles con la Regulación General de Protección de Información ("GDPR"), una nueva ley de protección de datos que tiene efecto a través de toda la Unión Europea. Para nuestros usuarios europeos, la política de privacidad actualizada también explica nuestra base jurídica para el uso de sus datos y lista sus derechos con respecto a sus datos.</p>
<p>Los nuevos términos de uso y política de privacidad entraron en vigor el 25 de mayo de 2018 y pueden encontrarse <a href="http://www.wikia.com/Terms_of_use">aquí</a> y <a href="http://www.wikia.com/Privacy_Policy">aquí</a>.</p>
<p>Si continúas utilizando nuestros servicios después del 25 de mayo de 2018, aceptas estos nuevos términos.</p>
<p>Si tienes alguna pregunta, por favor siéntete libre de contactarnos enviándonos un correo electrónico a <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Gracias por tu apoyo continuo,</p>
<p>El equipo de FANDOM</p>