<p>Hallo $username$!</p>
<p>Wir verpflichten uns, alle deine von uns gespeicherten personenbezogenen Daten zu schützen. Wir haben unsere Nutzungsbedingungen und Datenschutzrichtlinien aktualisiert, damit du leichter nachvollziehen kannst, welche Informationen wir über dich sammeln, was wir damit machen und warum. Obwohl wir sicher sind, dass diese aktualisierte Richtlinie allen unseren Nutzern besser dienen wird, nehmen wir diese Änderungen vor, damit wir die Datenschutz-Grundverordnung (DSGVO) einhalten, ein neues Datenschutzgesetz, das in der gesamten Europäischen Union in Kraft tritt. Für unsere europäischen Nutzer legt die aktualisierte Datenschutzerklärung auch unsere rechtlichen Grundlagen für die Nutzung ihrer Daten offen und zählt ihre Rechte in Bezug auf ihre Daten auf.</p>
<p>Die neuen Nutzungsbedingungen und Datenschutzrichtlinien gelten ab dem 25. Mai 2018 und können <a href="http://www.wikia.com/Terms_of_use">hier</a> und <a href="http://www.wikia.com/Privacy_Policy">hier</a> nachgelesen werden.</p>
<p>Wenn du unsere Dienste am oder nach dem 25. Mai 2018 weiter nutzt, stimmst du diesen neuen Bedingungen zu.</p>
<p>Wenn du noch Fragen hast, kontaktiere uns bitte unter <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Vielen Dank für deine anhaltende Unterstützung,</p>
<p>das FANDOM-Team</p>