<p>亲爱的$username$，</p>
<p>我们一直都致力于保护您在我们网站上的任何个人信息。 我们已经更新了网站的使用条款和隐私政策，使您可以很容易地了解我们都掌握了您的哪些个人信息，我们对这些信息如何处理，以及为什么这样做。 我们相信这些政策更新将会让我们更好地服务用户，同时，这些更新也可以确保我们遵守《通用数据保护法案》 (即"GDPR")。这项新的数据保护法将在整个欧盟国家生效。 对于我们的欧洲用户来说，更新后的隐私政策还解释了我们使用用户个人数据的法律依据，并列出了用户个人数据使用的权利。</p>
<p>新的使用条款和隐私政策于2018年5月25日生效，您可以在<a href="http://www.wikia.com/Terms_of_use">这里</a>和<a href="http://www.wikia.com/Privacy_Policy">这里</a>找到。</p>
<p>如果您在2018年5月25日当日或者之后继续使用我们的服务，就表示您同意接受这些新条款的规定。</p>
<p>如果您有任何问题，请随时与我们联系。您可以发送电子邮件至<a href="mailto:support@fandom.com">support@fandom.com</a>。</p>
<p>感谢您的不断支持！</p>
<p>FANDOM团队</p>