<p>Drogi / Droga $username$,</p>
<p>Zobowiązujemy się chronić wszelkie dane osobowe, które przechowujemy. Zaktualizowaliśmy nasze zasady użytkowania i politykę prywatności, aby ułatwić Ci zrozumienie, jakie informacje na Twój temat posiadamy, co możemy z nimi zrobić i dlaczego. Chociaż jesteśmy przekonani, że zaktualizowane zasady będą służyć wszystkim użytkownikom lepiej, wprowadzamy te zmiany, aby upewnić się, że spełniamy wymagania rozporządzenia o ochronie danych osobowych RODO (GDPR), nowego prawa dotyczącego ochrony danych osobowych, które zaczyna obowiązywać w całej Unii Europejskiej. Dla naszych europejskich użytkowników, aktualizacja polityki prywatności wyjaśnia prawne podstawy korzystania z Twoich danych i prezentuje listę Twoich praw w odniesieniu do Twoich danych.</p>
<p>Nowe zasady użytkowania i polityka prywatności obowiązują od 25 maja 2018 roku i można je odnaleźć <a href="http://www.wikia.com/Terms_of_use">tutaj</a> oraz <a href="http://www.wikia.com/Privacy_Policy">tutaj</a>.</p>
<p>Jeśli w dalszym ciągu korzystasz z naszych usług w dniu 25 maja 2018 lub po tej dacie, wyrażasz zgodę, aby obowiązywały Cię te nowe warunki.</p>
<p>Jeśli masz jakiekolwiek pytania, skontaktuj się z nami wysyłając e-mail na adres <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Dziękujemy za stale udzielane nam wsparcie,</p>
<p>Zespół FANDOM</p>