<p>親愛的$username$，</p>
<p>我們一直都努力保護您在我們網站上的任何用戶資料。 我們已經更新了網站的使用條款和隱私權方針，使您可以很容易地瞭解我們掌握了您的哪些用戶資料，我們如何處理這些資料，以及為什麼這樣做。 我們相信這些政策更新將會讓我們更妥善地服務用戶，同時，這些更新也可以確保我們遵守《通用資料保護法案》 (即「GDPR」)。這項新的資料保護法將在整個歐盟國家生效。 對於我們的歐洲用戶來說，更新後的隱私權方針還解釋了我們使用用戶資料的法律依據，並列出了用戶對自身資料的權利。</p>
<p>新的使用條款和隱私權方針於2018年5月25日生效，您可以在<a href="http://www.wikia.com/Terms_of_use">這裡</a>和<a href="http://www.wikia.com/Privacy_Policy">這裡</a>找到。</p>
<p>如果您在2018年5月25日以後繼續使用我們的服務，就表示您同意接受這些新條款的規定。</p>
<p>如果您有任何問題，請隨時與我們聯繫。您可以發送電子郵件至<a href="mailto:support@fandom.com">support@fandom.com</a>。</p>
<p>感謝您長久以來的支持！</p>
<p>FANDOM團隊</p>