<p>Caro $username$,</p>
<p>Ci impegniamo a proteggere le tue informazioni personali in nostro possesso. Abbiamo aggiornato i nostri termini di utilizzo e la nostra informativa sulla privacy per renderti più facile capire quali informazioni abbiamo su di te, come le utilizziamo e perché. Nonostante crediamo che questo aggiornamento delle nostre politiche beneficerà meglio tutti i nostri utenti, stiamo apportando queste modifiche per assicurarci di rispettare il regolamento generale sulla protezione dei dati ("GDPR"), una nuova legge di protezione dei dati che entra in vigore in tutta l'Unione Europea. Per i nostri utenti europei, l'informativa sulla privacy aggiornata speiga anche le ragioni legali per l'uso dei tuoi dati e i diritti che hai su di essi.</p>
<p>I nuovi termini di utilizzo e la nuova informativa sulla privacy sono in vigore dal 25 maggio 2018 e possono essere trovati <a href="http://www.wikia.com/Terms_of_use">qui</a> e <a href="http://www.wikia.com/Privacy_Policy">qui</a>.</p>
<p>Se continui ad usare i nostri servizi dal 25 maggio 2018 in poi, accetti di essere vincolato da questi nuovi termini.</p>
<p>Se hai domande, non esitate a contattarci via email a <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Grazie per il tuo continuo sostegno,</p>
<p>Il team di FANDOM</p>