<p>Здравствуйте, $username$.</p>
<p>Мы защищаем и оберегаем ваши личные данные, которые хранятся у нас. Мы обновили Условия использования и Политику конфиденциальности, чтобы сделать их более понятными и чтобы вы могли узнать, какую информацию о вас мы храним, а также как и для чего её используем. Уверены, что обновленная Политика конфиденциальности ещё лучше будет выполнять своё предназначение для всех наших пользователей. Данные изменения проведены в целях соблюдения Общего регламента по защите данных (GDPR) — нового закона, который вступает в силу на территории Европейского союза. В обновлённой политике конфиденциальности наши пользователи из Европы смогут найти правовую основу для использования персональных данных, а также их права в отношении своих данных.</p>
<p>Обновлённые Условия использования и Политика конфиденциальности вступают в силу с 25 мая 2018 года. Ознакомиться с ними можно <a href="http://www.wikia.com/Terms_of_use">здесь</a> и <a href="http://www.wikia.com/Privacy_Policy">здесь</a>.</p>
<p>Продолжая пользоваться нашим сайтом с 25 мая 2018 года, вы соглашаетесь соблюдать обновлённые Условия использования.</p>
<p>Если у вас возникли какие-либо вопросы, свяжитесь с нами по электронной почте, отправив письмо на адрес <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Спасибо за вашу поддержку,</p>
<p>Команда ФЭНДОМА</p>