<p>$username$様</p>
<p>平素よりFANDOMをご利用いただき、誠にありがとうございます。弊社では保有するユーザーの個人情報を大切に保護することを努めております。 この度、FANDOMで保有しているユーザーの情報、ならびに弊社によるこうした情報の使用とその目的についてわかりやすくお伝えするため、利用規約とプライバシー・ポリシーを更新いたしました。 今回の更新によりユーザーの皆様にさらに向上したサービスを提供できるものと存じますが、こうした変更はEUで施行される新しいデータ保護法「一般データ保護規則」(略称“GDPR”)に確実に準拠するためでもあります。 欧州のユーザーの皆様のために、新しいプライバシー・ポリシーではユーザーデータの弊社による利用に関する法的基準を説明しており、ユーザーデータに関するご自身の権利につきましても記載しております。</p>
<p>新しい利用規約とプライバシー・ポリシーは、2018年5月25日から有効になります。また、内容については<a href="http://www.wikia.com/Terms_of_use">こちら</a>と<a href="http://www.wikia.com/Privacy_Policy">こちら</a>でご確認いただけます。</p>
<p>2018年5月25日以降も弊社サービスのご利用を継続いただいた場合、これらの新しい規約に従うことに同意したこととなりますのでご了承ください。</p>
<p>ご不明な点がございましたら、<a href="mailto:support@fandom.com">support@fandom.com</a>までメールまでお気軽にお問い合わせください。</p>
<p>今後ともどうぞよろしくお願いいたします。</p>
<p>FANDOMチーム</p>