<p>Prezado $username$,</p>
<p>Estamos empenhados em proteger quaisquer informações pessoais suas que mantemos. Nós atualizamos nossos Termos de uso e Política de privacidade para tornar mais fácil para você entender quais informações temos sobre você, o que fazemos com elas e por quê. Enquanto acreditamos que esta política atualizada servirá melhor aos nossos usuários, estamos fazendo essas mudanças para certificamo-nos de que estamos em conformidade com o regulamento geral de dados de proteção ("GDPR" em inglês), uma nova lei de proteção de dados que entra em vigor na União Europeia. Para os nossos usuários europeus, a Política de privacidade atualizada também explica nossa base jurídica para a utilização de seus dados e faz uma listagem de seus direitos em relação a seus dados.</p>
<p>Os novos Termos de Uso e Política de Privacidade estão em efeito desde 25 de Maio de 2018 e podem ser encontrados <a href="http://www.wikia.com/Terms_of_use">aqui</a> e <a href="http://www.wikia.com/Privacy_Policy">aqui</a>.</p>
<p>Se você continuar usando nossos serviços após 25 de maio de 2018, você concorda em permanecer vinculado a estes novos termos.</p>
<p>Se você tiver alguma dúvida, não hesite em contactar-nos através do e-mail <a href="mailto:support@fandom.com">support@fandom.com</a>.</p>
<p>Obrigado por seu apoio contínuo,</p>
<p>A equipe do FANDOM</p>