<html>
<head>
	<title>Wikia</title>
</head>
<body>

<div class="main-wrapper">
	<div class="fandom-bar">
		{{# icons.FandomTopBar}}
			<img src="{{url}}" alt="Top Bar">
		{{/icons.FandomTopBar}}
	</div>
	<table class="header-wrap">
		<tr>
			<td></td>
			<td>
				<div class="content">
					<div class="header content-inner">
						<a href="http://www.wikia.com" class="logo">
							{{# icons.FandomLogoHeader}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="Fandom">{{/ icons.FandomLogoHeader}}
						</a>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	<table class="body-wrap">
		<tr>
			<td></td>
			<td>
				<div class="content">
					<div class="main-content content-inner">
						{{{content}}}
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	<table class="footer-wrap">
		<tr>
			<td></td>
			<td>
				<div class="content">
					<div class="footer content-inner">
						<a href="http://www.wikia.com">
							{{# icons.FandomLogoFooter}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="Fandom">{{/ icons.FandomLogoFooter}}
						</a>
						<p class="social-links">
							<a href="{{socialMessages.facebook-link}}" >
								{{# icons.Facebook}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="{{socialMessages.facebook}}">{{/ icons.Facebook}}
							</a>
							<a href="{{socialMessages.twitter-link}}" >
                                {{# icons.Twitter}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="{{socialMessages.twitter}}">{{/ icons.Twitter}}
							</a>
							<a href="{{socialMessages.reddit-link}}" >
								{{# icons.Reddit}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="{{socialMessages.reddit}}">{{/ icons.Reddit}}
							</a>
							<a href="{{socialMessages.youtube-link}}" >
								{{# icons.YouTube}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="{{socialMessages.youtube}}">{{/ icons.YouTube}}
							</a>
							<a href="{{socialMessages.instagram-link}}" >
								{{# icons.Instagram}}<img src="{{url}}" width="{{width}}" height="{{height}}" alt="{{socialMessages.instagram}}">{{/ icons.Instagram}}
							</a>
						</p>

						{{#footerMessages}}
							<p class="fine-print">{{{.}}}</p>
						{{/footerMessages}}
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</div>
</body>
</html>
