<p>Hello from FANDOM,</p>
<p>On May 25th, 2018 the General Data Protection Regulation (GDPR), a new European data protection regulation, will go into effect. Unfortunately, in order to comply with this regulation, we will remove the Monobook skin from our network as it is not possible to bring it into compliance.</p>
<p>We understand that this is a drastic step and is an inconvenience for you and your community but we must be in compliance with this new regulation. For more information about the GDPR, please see <a href="https://www.eugdpr.org/gdpr-faqs.html">https://www.eugdpr.org/gdpr-faqs.html</a></p>