{{> greeting}}
<table>
	{{#avatarAndDetailsList}}
		{{> userDetailSection}}
	{{/avatarAndDetailsList}}
	{{> button}}
	{{# hasContentFooterMessages}}
		{{> contentFooterMessages}}
	{{/ hasContentFooterMessages}}
</table>
