{{> greeting}}
<table>
	<tr>
		<td class="widest">
			<p>{{passwordIntro}}</p>
			{{# username}}
				<p><pre>{{username}}</pre></p>
			{{/ username}}
			<p><pre>{{tempPassword}}</pre></p>
			<p>{{instructions}}</p>
			<p>{{{questions}}}</p>
			<p>{{signature}}</p>
		</td>
	</tr>
</table>
