{{> greeting}}
<table>
	<tr>
		<td class="widest">
			<p>{{passwordIntro}}</p>
			{{# username}}
				<p>{{username}}</p>
			{{/ username}}
			<p>{{tempPassword}}</p>
			<p>{{instructions}}</p>
			<p>{{{questions}}}</p>
			<p>{{signature}}</p>
		</td>
	</tr>
</table>
