{{#data}}
	<nav id="wkRelPagHead" class="RelatedPagesModule noprint{{#mobileSkin}} collSec addChev open{{/mobileSkin}}"{{#addAfterSection}}
	data-add-after-section="addAfterSection"{{/addAfterSection}}>
		<h2>{{relatedPagesHeading}}</h2>
		<ul {{#mobileSkin}}class="wkLst artSec open"{{/mobileSkin}}></ul>
	</nav>
{{/data}}