{{#data}}
	<section id="wkRelPag" class="RelatedPagesModule noprint">
		<h2 {{#mobileSkin}}id=wkRelPagHead class="collSec addChev open"{{/mobileSkin}}>{{relatedPagesHeading}}</h2>
		<ul {{#mobileSkin}}class="wkLst artSec open"{{/mobileSkin}}></ul>
	</section>
{{/data}}