{{#data}}
	<h2 id="wkRelPagHead" {{#mobileSkin}}class="collSec addChev"{{/mobileSkin}}>{{relatedPagesHeading}}</h2>
	<section id="wkRelPag" class="RelatedPagesModule noprint">
		<ul {{#mobileSkin}}class="wkLst artSec open"{{/mobileSkin}}></ul>
	</section>
{{/data}}