{{^skipRendering}}
<section id=wkRelPag class="RelatedPagesModule noprint">
<h2 id=wkRelPagHead>{{relatedPagesHeading}}</h2>
<ul{{#mobileSkin}} class="wkLst artSec open"{{/mobileSkin}}>
{{#pages}}
<li>
<a href="{{url}}" title="{{title}}">
	{{#imgUrl}}
	<img src="{{imgUrl}}" alt="{{title}}" width="{{imgWidth}}" height="{{imgHeight}}" />
	{{/imgUrl}}
	{{#text}}
	<div class=articleSnippet><p>{{text}}</p></div>
	{{/text}}
	<span class="more">{{title}}</span>
</a>
</li>
{{/pages}}
</ul>
</section>
{{/skipRendering}}
