<li>
	<a href="{{pageUrl}}" title="{{pageTitle}}">
		{{#imgUrl}}
			<img src="{{imgUrl}}" alt="{{pageTitle}}" width="{{imgWidth}}" height="{{imgHeight}}" />
		{{/imgUrl}}
		{{#artSnippet}}
			<div class="articleSnippet">
				<p>{{artSnippet}}</p>
			</div>
		{{/artSnippet}}
		{{pageTitle}}
	</a>
</li>