{{^skipRendering}}
<section id=wkRelPag class="RelatedPagesModule noprint">
<h2 id=wkRelPagHead>{{relatedPagesHeading}}</h2>
<ul {{#mobileSkin}}class="wkLst artSec open"{{/mobileSkin}}>
	{{#pages}}
	<li>
	<a href="{{pageUrl}}" title="{{pageTitle}}">
		{{#imgUrl}}
			<img src="{{imgUrl}}" alt="{{pageTitle}}" width="{{imgWidth}}" height="{{imgHeight}}" />
		{{/imgUrl}}
		{{^mobileSkin}}
		{{#artSnippet}}
			<div class=articleSnippet><p>{{artSnippet}}</p></div>
		{{/artSnippet}}
		{{/mobileSkin}}
		<span class="more">{{pageTitle}}</span>
	</a>
	</li>
	{{/pages}}
</ul>
</section>
{{/skipRendering}}
