@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/layout";
@import "../mixins/divider";

.AccountNavigation .UserLoginDropdown {
	background-color: $color-page;
	color: $color-text;
	font-size: 11px;
	padding: 15px 8px;
	width: 141px;
	/* global form overrides */
	&.show {
		top: $wikiaglobal-nav-height;
	}
	.WikiaForm {
		label {
			font-size: 11px;
			&:first-child {
				margin-top: 0;
			}
		}
		input[type=text],
		input[type=password] {
			font-size: 11px;
			height: 14px;
			padding: 3px;
			width: 119px;
		}
		.password-input {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.forgot-password {
			margin-bottom: 0;
			font-size: 11px;
		}
		.keep-logged-in .keep-logged-in {
			margin-left: 0;
			vertical-align: middle;
		}
		input[type=submit] {
			margin: 10px 0 0;
			@if ( $responsive-layout-enabled ) {
				width: 125px;
			}
		}
		.general-errors {
			display: none;
		}
	}
	> .sso-login {
		@if ( $responsive-layout-enabled ) {
			text-align: center;
		}
		> .sso-login-divider {
			@include divider;
			line-height: 12px;
			margin-top: 24px;
			> span {
				line-height: 13px;
				top: -6px;
			}
		}
		.sso-login-facebook {
			font-size: 10px;
			height: 16px;
			line-height: 16px;
			margin-left: 6px;
			padding: 0 9px 0 0;
			> img {
				margin: 0 4px;
				position: relative;
				top: 1px;
			}
		}
	}
}