// core styles
@import 'skins/shared/color';

// core mixins
@import 'skins/shared/mixins/box-shadow';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/transition';

// local mixins
@import '../mixins/tooltip-icon';

// variables
$section-padding: 20px;
$fieldset-padding: 12px;

$badge-background-color: darken($color-page, 20%);

@if($is-dark-wiki) {
	$badge-background-color: lighten($color-page, 10%);
}

$submits-width: 60%;

// extra .modal tacked on for specificity
.facebook-signup-modal.modal {
	> header {
		height: auto;

		h3 {
			box-sizing: border-box;
			clear: right;
			float: left;
			font-size: 23px;
			margin: auto;
			overflow: visible;
			padding: 5px 10% 15px;
			text-align: center;
			white-space: normal;
			width: 307px;
		}

		span {
			background: $badge-background-color;
			border-radius: 100%;
			clear: right;
			display: block;
			float: left;
			font-size: 23px;
			height: 45px;
			line-height: 45px;
			margin: 10px 0 0;
			text-align: center;
			visibility: hidden;
			width: 45px;
		}
	}

	// only show the "or" circle for wikis where it makes sense
	&.lang-en span {
		visibility: visible;
	}

	footer {
		display: none;
	}
}

.UserLoginFacebookWrapper {
	@include clearfix;
	margin-bottom: 25px;

	> section {
		box-sizing: border-box;
		float: left;
		width: 50%;
	}

	.UserLoginFacebookLeft {
		border-right: solid 1px $color-page-border;
		padding-right: $section-padding;
	}

	.UserLoginFacebookRight {
		padding-left: $section-padding;
		padding-top: 4px;
	}

	.submits {
		width: $submits-width;
	}

	.wikia-terms, .forgot-password {
		font-size: 12px;
		line-height: 18px;
		width: $submits-width;
	}

	.login-button {
		width: 100%;
	}

	.input-group {
		float: none;

		[type=text],
		[type=password] {
			box-sizing: border-box;
			width: 100%;
		}
	}

	.tooltip-icon-wrapper {
		line-height: 15px;
		position: relative;
	}

	.tooltip-icon {
		@include tooltip-icon;
		right: -15px;
	}

	.email {
		margin-bottom: 0;
	}
}
