@import "../../WikiaMobile/css/variables";

//mixins
@import "../../WikiaMobile/css/mixins/linear-gradient";

$spacing: 5px;

.js{
	//hide the message box in case JS is enabled, we'll use the toast notification instead
	#wkLgnMsg{
		display: none;
	}
}

#wkLgn{
	padding: 10px;

	.wkErr {
		margin: -20px 0 20px 0;
	}

	a {
		text-align: left;
		padding-left: 10px;
		margin: 20px 0;
	}

	//needs to select parent to override "#wkLgn input" rule
	#wkLgnRcvBtn {
		display: none;

		&.show{
			display: block;
		}
	}
}

#wkLgnRcvLnk {
	display: block;
}
