@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/bodytext";
@import "../../../../skins/oasis/css/core/color";
@import "../mixins/divider";

$input-width: 230px;

.UserLogin {
	.WikiaForm {
		margin: 25px auto 0;
		width: $input-width + 30px;
		.input-group {
			padding: 7px;
		}
		input[type=text],
		input[type=password] {
			width: $input-width;
		}
		.password-input {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.forgot-password {
			font-size: 12px;
		}
		.keep-logged-in .keep-logged-in {
			margin-left: 0;
			vertical-align: middle;
		}
		.login-button {
			margin-top: 12px;
			width: $input-width + 18px;
		}
		.get-account {
			padding: 13px 7px 0 0;
		}
		.error-msg {
			width: $input-width + 18px;
		}
	}
	> .sso-login {
		margin: 0 auto;
		text-align: center;
		width: $input-width;
		> .sso-login-divider {
			@include divider;
			margin-top: 24px;
			> span {
				top: -17px;
				line-height: 30px;
			}
		}
	}
	.subheading {
		border-bottom: 0;
		font-size: 16px;
		margin-top: 0;
	}
	&.ChangePassword {
		.subheading {
			float: left;
			margin-top: 0;
			width: 250px;
		}
	}
	&.UserConfirm {
		margin-bottom: 200px;
	}
}

.WikiaPageHeader {
	h2 {
		display: none;
	}
}