@import "../../../../skins/oasis/css/mixins/opacity";
@import "../../../../skins/oasis/css/mixins/transition";
@import "../mixins/divider";

.UserLoginModal {
	@include transition-shorthand(200ms opacity ease-in-out);
	@include opacity(100);
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 264px;
	input[type=text],
	input[type=password] {
		width: 234px;
	}
	.password-input {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.forgot-password {
		font-size: 12px;
	}
	.keep-logged-in .keep-logged-in {
		margin-left: 0;
		vertical-align: middle;
	}
	input[type=submit].big {
		margin-top: 27px;
		width: 250px;
	}
	.get-account {
		padding-bottom: 0;
	}
	.general-errors {
		display: none;
	}
	.sso-login {
		text-align: center;
		> .sso-login-divider {
			@include divider;
		}
	}
}
