/*
    Blue
    Overwrite styles of referencefield.css
*/


.elm-easyref-corner-l {
	background:url(../img/corner-l-blue.png) no-repeat !important;
}

.elm-easyref-corner-r {
	background:url(../img/corner-r-blue.png) no-repeat !important;
}

.elm-easyref-frame {
	background-color:#F6F6F6 !important;
}

.elm-easyref-frame {
	border: 1px solid #3333CC !important;
}


.elm-easyref-link:link,
.elm-easyref-link:visited,
.elm-easyref-link:hover {
	color: #B6B6ED !important;;
}

.elm-easyref-close {
	background: url(../img/close-blue.png) no-repeat !important;
}

.elm-easyref-more {
	background-color:#D8D8F5 !important;
}

