/*
    White
    Overwrite styles of referencefield.css
*/


.elm-easyref-corner-l {
	background:url(../img/corner-l-white.png) no-repeat !important;
}

.elm-easyref-corner-r {
	background:url(../img/corner-r-white.png) no-repeat !important;
}

.elm-easyref-frame {
	background-color:#FFFFFF !important;
}

.elm-easyref-frame {
	border: 1px solid #666666 !important;
}


.elm-easyref-link:link,
.elm-easyref-link:visited,
.elm-easyref-link:hover {
	color: #666666 !important;;
}

.elm-easyref-close {
	background: url(../img/close-white.png) no-repeat !important;
}

.elm-easyref-more {
	background-color:#CCCCCC !important;
}

