/*
    Green
    Overwrite styles of referencefield.css
*/


.elm-easyref-corner-l {
	background:url(../img/corner-l-green.png) no-repeat !important;
}

.elm-easyref-corner-r {
	background:url(../img/corner-r-green.png) no-repeat !important;
}

.elm-easyref-frame {
	background-color:#F6F6F6 !important;
}

.elm-easyref-frame {
	border: 1px solid #269926 !important;
}

.elm-easyref-link:link,
.elm-easyref-link:visited,
.elm-easyref-link:hover {
	color: #67D867 !important;;
}

.elm-easyref-close {
	background: url(../img/close-green.png) no-repeat !important;
}

.elm-easyref-more {
	background-color:#D8F5D8 !important;
}

