<div style="float: right; text-align: left">
	{{# accessQuestionable }}
		<div class="tally">
			<a href="{{baseUrl}}">
				<em>{{imageCount.unreviewed}}</em>
				<span>unreviewed<br>images</span>
			</a>
		</div>
		<div class="tally">
			<a href="{{baseUrl}}/questionable">
					<em>{{imageCount.questionable}}</em>
					<span>questionable<br>images</span>
				</a>
		</div>
	{{/ accessQuestionable }}

	{{# accessRejected }}
		<div class="tally">
			<a href="{{baseUrl}}/rejected">
					<em>{{imageCount.rejected}}</em>
					<span>rejected<br>images</span>
				</a>
		</div>
	{{/ accessRejected }}
</div>
