<p>Click on images to mark them for deletion or as questionable (for staff review). When you're done with the batch, click "Review" below to get the next batch.</p>
{{# accessControls }}
	<form action="{{submitUrl}}" method="get" id="ImageReviewControls">
		Sort order: !!!!!Cleanup PHP to display form!!!!

		<input type="submit" class="wikia-button secondary" value="Change sort order" />
	</form>

	<a href="{{baseUrl}}/stats" class="wikia-button secondary">View stats</a>
{{/ accessControls }}
