/* This code was stolen shamelessly from enwikipedia's Common.css */
table.mw-abuselog-details {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
	width: 80%;
}

table.mw-abuselog-details th, table.mw-abuselog-details td {
	border: 1px #aaa solid;
	padding: 0.2em;
}

table.mw-abuselog-details th {
	background: #f2f2f2;
	text-align: center;
}

table.mw-abuselog-details caption {
	font-weight: bold;
}

.mw-abusefilter-history-changed {
	background: #ffe0e0;
	font-weight: bold;
}

.mw-abuselog-var-value {
	white-space: pre-wrap;
	font-family: monospace;
}

div.mw-abuselog-var-value {
	max-height: 10em;
	max-width: 100%;
	overflow: auto;
}

td.mw-abuselog-var {
	width: 30%;
}

tr.mw-abusefilter-list-disabled, tr.mw-abusefilter-list-disabled td {
	color: #666666;
}

tr.mw-abusefilter-list-deleted, tr.mw-abusefilter-list-deleted td {
	color: #aaaaaa;
}

.mw-abusefilter-examine-match,
.mw-abusefilter-syntaxresult-ok,
li.mw-abusefilter-changeslist-match {
	background-image: url(yes_check.png);
}

.mw-abusefilter-examine-nomatch,
.mw-abusefilter-examine-syntaxerror,
.mw-abusefilter-syntaxresult-error,
li.mw-abusefilter-changeslist-nomatch {
	background-image: url(red_x.png);
}

#mw-abusefilter-syntaxresult,
li.mw-abusefilter-changeslist-nomatch,
li.mw-abusefilter-changeslist-match {
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: left center;
}

.mw-abusefilter-navigation {
	text-align: center;
}

table.mw-abusefilter-diff {
	width: 80%;
	border-collapse: collapse;
}

table.mw-abusefilter-diff td,
table.mw-abusefilter-diff th {
	border: 1px solid #888888;
}

.mw-abusefilter-diff-added,
.mw-abusefilter-diff-multiline .diff-addedline {
	background: #cfc;
}

.mw-abusefilter-diff-removed,
.mw-abusefilter-diff-multiline .diff-deletedline {
	background: #ffa;
}

.mw-abusefilter-diff-context,
.mw-abusefilter-diff-multiline .diff-context {
	background: #eee;
}

.mw-abusefilter-diff-multiline {
	width: 100%;
}

.mw-abusefilter-diff-multiline td {
	border: none !important;
}

.mw-abusefilter-diff-multiline .diff-marker {
	font-size: 0.8em;
}

.mw-abusefilter-diff-multiline td.diff-addedline,
.mw-abusefilter-diff-multiline td.diff-deletedline {
	width: 50%;
}