/**
 * Styles for Path Finder special page
 * 
 * @author Jakub Olek <bukaj.kelgmail.com>
 */
#sectionPathFinder {
  border: 1px solid #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 10px; 
  -moz-box-shadow: 0 0 10px #111;
  -webkit-box-shadow: 0 0 10px #111;
  box-shadow: 0 0 10px #111;
}

#wikiForm  {
    margin: 4px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #333;
    -moz-box-shadow:inset 0 0 10px #111;
    -webkit-box-shadow:inset 0 0 10px #111;
    box-shadow:inset 0 0 10px #111;
    padding: 5px;
    width: 98%;
}

footer {
  padding: 10px;
  li {
  padding: 5px;
  }
}

#articles {
  position: relative;
  width: 100%;
  height: auto;
  margin: 30px auto;
}

#showArticle {
  position: relative;
  top: 30px;
  height: 410px;
  width: 79%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#relatedArticles {
  position: absolute;
  min-height: 555px;
  width: 19%;
  top: 30px;
  left: 80%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #333;
  -moz-box-shadow:inset 0 0 10px #111;
  -webkit-box-shadow:inset 0 0 10px #111;
  box-shadow:inset 0 0 10px #111;
  overflow:auto;
  ul {
    list-style-type: none;
    margin: 10px 5px;
    li {
      cursor: pointer; 
      padding: 3px;
      border: 1px solid #444;
      margin: 3px auto;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -moz-box-shadow:inset 0 0 10px #111;
      -webkit-box-shadow:inset 0 0 10px #111;
       box-shadow:inset 0 0 10px #111;
       &:hover {
       -webkit-box-shadow: 0 0 10px #333;
       -moz-box-shadow: 0 0 10px #333;
       box-shadow: 0 0 10px #333;
      }
      
      #counts {
        font-size: 2em;
        left: 15%;
        position: relative;
        text-shadow: 0 0 20px #FFF;
      }
    }
  }
}

#noresult {
  visibility: hidden;
}

.noresult {
  font-size: 2em;
  text-shadow: 0 0 20px #FFF;
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 23px;
}

#navigationArticles {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 79%;
  min-height: 110px;
  top: 48px;
  border: 1px solid #333;
  -moz-box-shadow:inset 0 0 10px #111;
  -webkit-box-shadow:inset 0 0 10px #111;
  box-shadow:inset 0 0 10px #111;
  overflow-x: auto; 
  overflow-y: hidden;
  padding-bottom:10px;
    ul {
    list-style-type: none;
    margin: 5px 7px 10px 7px;
      border: 1px solid #444;
    -moz-box-shadow: 0 0 10px #111;
    -webkit-box-shadow: 0 0 10px #111;
    box-shadow: 0 0 10px #111;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    li {
      cursor: pointer; 
      display: inline-block;
      padding: 3px;
      margin: 5px 5px;;
      -moz-box-shadow:inset 0 0 10px #111;
      -webkit-box-shadow:inset 0 0 10px #111;
       box-shadow:inset 0 0 10px #111;
      &:hover {
       -webkit-box-shadow: 0 0 10px #444;
       -moz-box-shadow: 0 0 10px #333;
       box-shadow: 0 0 10px #444;
      }
      
      #counts {
        font-size: 1.5em;
        margin-left: 10px;
        padding: 5px;
        text-shadow: 0 0 20px #FFF;
      }
    }
  }
}

.PFHeader {
  font-size: 1.1em;
  padding: 1px;
  text-shadow: 0 0 20px #FFF;
  position: absolute;
}

#relatedPages {
  left: 80%;
  z-index: 3;
}

#possiblePath {
  top: 440px;
  left: 0;
  z-index: 3;
}

.pathHeader {
  position: relative;
  padding: 1px;
  text-shadow: 0 0 20px #FFF;
  left: 2%; 
}

#stolenPages {

}
