<div class="ContentHeader sort-form" {{#containerId}} id="{{containerId}}"{{/containerId}} >
	<label>{{label}}</label>

	<div class="WikiaDropdown">
		<div class="selected-items">
			<span class="selected-items-list">{{sortMsg}}</span>
			<img class="arrow" src="{{blankImgUrl}}" />
		</div>
		<div class="dropdown">
			<ul class="dropdown-list">
				{{#sortOptions}}
					<li class="dropdown-item{{#selected}} selected{{/selected}}">
						<label data-sort="{{sortBy}}">{{option}}</label>
					</li>
				{{/sortOptions}}
			</ul>
		</div>
	</div>
</div>
