#WikiaPageHeader nav.wikia-menu-button {
  /* display: none; */
}

body {
  overflow-y: visible !important;
}

#app button, .desktop_modal_dialog button {
  height: auto;
  background-image: none;
}

#WikiaPageHeader {
  display: none;
}

.cms_article_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    flex-grow: 1;
    border-bottom: none;
  }
}
