/* Stylesheet for the CentralNotice extension.
 *
 * @file
 * @ingroup Extensions
 * @author Ryan Kaldari <rkaldari@wikimedia.org>
 * @copyright © 2010 by Ryan Kaldari
 * @licence GNU General Public Licence 2.0 or later
 */

#preferences fieldset.prefsection {
	margin:0;
	padding: 1em;
	border-top: 1px solid;
}
#preferences fieldset.prefsection:first-child {
	border-top: none;
}
#preferences fieldset.prefsection h2 {
	border:none;
}
#preferences div.cn-pager {
	margin:1em 0;
}
#preferences div.cn-error {
	color:#AA0000;
	margin:1em;
}
#preferences fieldset.prefsection div.cn-error {
	margin:0;
}
#preferences table tr.cn-active-campaign {
	background-color: #ddffdd;
}
#preferences table#envpicker {
	margin-bottom: 1em;
}
#preferences table#envpicker td {
	white-space:nowrap;
}
#preferences div.cn-buttons {
	padding:1em;
}
#preferences fieldset.prefsection div.cn-buttons {
	padding:0;
}
#preferences div.cn-buttons input {
	margin-right:0.25em;
}
#preferences input#clone {
	margin-left:0.25em;
}
#preferences fieldset.prefsection fieldset.cn-bannerpreview {
	border-style: solid;
	border-width: 1px;
}
#preferences div#fundraisingInterface {
	margin-left:1.6em;
	margin-right:1.6em;
}
#preferences div#cn-log-filters-container {
	margin: 1em 0;
}
#preferences table#cn-campaign-logs, #preferences div#cn-log-filters table {
	width: auto;
}
#preferences div#cn-log-filters table td {
	padding: 0.5em;
}
#preferences table#cn-campaign-logs td.primary {
	white-space: nowrap;
	background-color: #F0F0F0;
}
#preferences .cn-new-value {
	color: #006400;
}
#preferences .cn-old-value {
	color: #8B0000;
}
#preferences .cn-log-label {
	font-weight: bold;
}
#preferences .cn-filter-buttons {
	margin-right: 0.5em;
}
#preferences #cn-log-switcher label {
	margin-right: 1em;
}

/* Vector-specific definitions */
body.skin-vector #preferences fieldset.prefsection {
	border-color:#CCCCCC;
}
body.skin-vector #preferences fieldset.prefsection fieldset.cn-bannerpreview {
	border-color:#CCCCCC;
}

/* Monobook-specific definitions */
body.skin-monobook #preferences fieldset.prefsection {
	border-color:#AAAAAA;
}