<li class=video>
	<input class=wiki-input placeholder="{{wiki_url_placeholder}}" value="{{wiki}}"/>
	<input class=video-title placeholder="{{video_title_placeholder}}" value="{{video_title}}"/>
	<input class=video-name placeholder="{{video_name_placeholder}}" value="{{video_name}}"/>
	<span class="sprite remove"></span><span class="sprite drag"></span>
</li>