<li class=tag>
	<input class=tag-input placeholder="{{tag_placeholder}}" value="{{value}}"/>
	<span class="sprite remove"></span><span class="sprite drag"></span><span class="sprite photo"></span>
</li>