<div id=contentManagmentForm>
	<ol class=header>
		{{#descriptions}}
		<li>{{.}}</li>
		{{/descriptions}}
	</ol>
	<ul>
		{{{list}}}
		{{^list}}
			{{{tag}}}
			{{{category}}}
			{{{category}}}
		{{/list}}
	</ul>
    <button class=secondary id=addTag disabled>{{addTag}}</button>
    <button class=secondary id=addCategory disabled>{{addCategory}}</button>
	<button id=save>{{save}}</button>
	<span id=status>&#10003;</span>
</div>
