@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/core/color";
@import "shared";

#WikiaPageHeader {
	padding-bottom: 5px;
	
	a {
		&.back {
			display: block;
		}
	}
}

section {
	.MobileProduct {
		padding-top: 20px;
		margin: 20px 40px 0 20px;
		
		.product {
			float: right;
			width: 590px;
			
			header {
				border-bottom: 1px solid $color-page-border;
				padding-bottom: 10px;
				position: relative;
				
				hgroup {
					h2 {
						margin: 0 0 0 0;
						border: none;
						font-weight: bold;
					}
					
					.subtitle {
						display: block;
						font-size: small;
						font-weight: normal;
					}
				}
				
				.price {
					font-weight: bold;
					text-transform: uppercase;
					color: $color-page-border;
					position: absolute;
					right: 0;
					bottom: 10px;
				}
			}
			
			article {
				position: relative;
				
				.editsection {
					display: none;
				}
				
				section {
					width: 400px;
					margin-top: 20px;
				}
				
				aside {
					position: absolute;
					right: 0;
					top: 0;
					width: 135px;
					text-align: right;
					
					ul {
						list-style: none;
						clear: both;
						margin: 0;
						padding: 0;
						
						li {
							margin-bottom: 8px;
							
							.requires {
								display: block;
								font-size: 10px;
								line-height: 12px;
								margin-top: 3px;
							}
						}
					}
				}
			}
			
			footer {
				border-top: 1px solid $color-page-border;
				margin-top: 20px;
				padding-top: 10px;
			}
		}
	}
}

#mobileProductSlideshow {
	position: relative;
	left: 20px;
	
	&.android {
		background-image: url('/extensions/wikia/MobileProducts/images/android_device.png'); /* wgCdnStylePath */;
		width: 253px;
		height: 474px;
		
		.slideClass {
			li {
				top: 56px;
				left: 18px;
			}
		}
	}
	
	&.iphone {
		background-image: url('/extensions/wikia/MobileProducts/images/iphone_device.png'); /* wgCdnStylePath */;
		width: 248px;
		height: 458px;
		
		.slideClass {
			li {
				top: 75px;
				left: 20px;
			}
		}
	}
	
	ul {
		list-style: none;
		clear: both;
		margin: 0;
		padding: 0;
		
		&.slideClass {
			list-style:none;
			
			li {
				position:absolute;
				top:0px;
				left:0px;
			}
		}
		
		&.slideButton {
			position: absolute;
			bottom: -40px;
			left: 90px;
			
			li {
				float:left;
				margin: 0 5px 0 0;
				
				img {
					@include border-radius(5px);
					background-color: $color-page-border;
					width: 10px;
					height: 10px;
					cursor: pointer;
				}
				
				.selected {
					img {
						background-color: #87C457;
					}
				}
			}
		}
	}
}