// core
@import "skins/shared/color";

// mixins
@import "skins/shared/mixins/calc";
@import "skins/shared/mixins/gradient";
@import "skins/shared/mixins/clearfix";
@import "skins/shared/mixins/menus";

// rename item modal styles
.toolbar-edit-rename-item {
	.input-group {
		float: none;

		input[type="text"] {
			box-sizing: border-box;
			width: 100%;

		}
	}
}

.MyToolsConfiguration {
	.column {
		padding: 10px 0;
		position: relative;
	}

	.options-list, .search-box {
		margin-top: 6px;
	}

	label {
		font-weight: bold;
		font-size: 110%;
	}

	.search-box {
		border: 1px solid $color-page-border;
		border-bottom: 0;
		float: none;
		margin-bottom: 0;
		padding: 10px;
		position: relative;

		// styles for auto-complete dropdown wrapper
		> div {
			@include width-calc('100% - 20px');
		}

		input[type="text"] {
			box-sizing: border-box;
			width: 100%;

			&:-webkit-input-placeholder {
				color: mix($color-page,$color-text,50%);
			}

			&:-moz-placeholder {
				color: mix($color-page,$color-text,50%);
			}

			&.placeholder {
				color: mix($color-page,$color-text,50%);
			}
		}
	}

	.autocomplete {
		@include menu-regular;
		box-sizing: border-box;
		margin-top: 2px;
		overflow: auto;
		overflow-x: hidden;
		position: relative;
		width: 100%;
		z-index: 2;

		div {
			font-size: 14px;
			padding: 4px 4px 2px;
		}

		.selected {
			background: $color-menu-highlight;
		}
	}


	.popular-tools-group {
		@include linear-gradient(false, top, $color-module-highlight, 60%, $color-module-shadow, 100%);
		border: 1px solid $color-page-border;
		border-top: 0;
		padding: 5px 9px 5px 9px;

		.popular-list {
			padding: 4px 0;
		}

		li {
			line-height: 20px;
		}

		.popular-toggle {
			color: $color-links;
			cursor: pointer;
			line-height: 28px;
			padding: 0 10px 0 7px;
		}

		.icon-show,
		.icon-hide {
			border-color: transparent;
			border-style: solid;
			border-width: 9px 5px;
			height: 0;
			position: relative;
			left: -7px;
			width: 0;
		}

		.icon-show {
			border-top-color: $color-links;
			top: 12px;
		}

		.icon-hide {
			border-bottom-color: $color-links;
			top: -12px;
		}
	}

	.reset-defaults {
		.wikia-chiclet-button {
			background-color: $color-links;
			background-image: none;
			height: 11px;
			margin-top: -1px;
			vertical-align: middle;
			width: 12px;

			&:hover {
				background-image: none;
			}
		}

		img {
			background: url(/extensions/wikia/UserTools/images/icon_return_6.png); /* inline */
			background-repeat: no-repeat;
			background-position: top left;
			height: 6px;
			left: 3px;
			position: relative;
			top: -2px;
			width: 7px;
		}
	}

	.reset-defaults,
	.advanced-tools {
		display: block;
		font-size: 80%;
		position: absolute;
		right: 0;
		top: 10px;
	}

	.options-list {
		border: 1px solid $color-page-border;
		padding: 0 6px;
		position: relative;

		li {
			border-bottom: 1px dashed mix($color-page,$color-text,80%);
			padding: 6px;
			position: relative;

			&:last-child,
			&.ui-sortable-helper {
				border-bottom-width: 0;
			}
		}

		img.sprite {
			position: absolute;
			top: .4em;
		}

		.list-item-indent-1 {
			margin-left: 30px;
		}

		.edit-pencil, .trash, .drag {
			display: none;
		}

		.edit-pencil {
			cursor: pointer;
			right: 46px
		}

		.trash {
			cursor: pointer;
			right: 26px;
		}

		.drag {
			cursor: move;
			right: 6px;
		}

		.folder-icon {
			background-image: url(/extensions/wikia/UserTools/images/icon_folder_16.png); /* inline */
			verical-align: middle;
			height: 16px;
			width: 16px;
			margin-top: 1px;
			margin-right: 5px;
		}

		.tree-line,
		.tree-line-last,
		.tree-dash {
			background-color: $color-text;
			left: -5px;
			position: absolute;
		}

		.tree-line,
		.tree-line-last {
			top: 0;
			width: 1px
		}

		.tree-line {
			height: 29px;
		}

		.tree-line-last {
			height: 14px;

		}

		.tree-dash {
			height: 1px;
			top: 13px;
			width: 8px;

		}
	}

	// fix for hovering on iPad and hiding drag and drop icon
	.no-ipad {
		li:hover {
			background: $color-menu-highlight;

			.edit-pencil, .trash, .drag {
				display: block;
			}
		}
	}

	.on-ipad {
		li:hover {
			background: none;

			.edit-pencil, .trash, .drag {
				display: none;
			}
		}

		li.hover {
			background: $color-menu-highlight;

			.edit-pencil, .trash, .drag {
				display: block;
			}
		}

		// changing position of these icons because on iPads there is no third icon
		.edit-pencil {
			right: 26px
		}

		.trash {
			right: 6px;
		}
	}
}

// Venus reset style
.skin-venus .MyToolsConfiguration {

	.reset-defaults .wikia-chiclet-button {
		margin-right: 6px;
	}

	ul {
		font-size: 80%;
		list-style: none;
	}

	li {
		padding-bottom: 0;
		padding-top: 0;
	}
}
