.color1 {
	background: #BBFBBB;
}
.color1, .color1 a {
	color: #000;
}
.color2 {
	background: #EAFBEA;
}
.accent {
	background: #EAFBEA;
	border-color: #A9EBA9;
}
.neutral {
	background: #F5F5F5;
}
.dark_text_1 {
	color: #22B222;
}
.dark_text_2 {
	color: #997399;
}

/* @group category select */

/* synthesize .accent */
	#mw-normal-catlinks span a:link, #mw-normal-catlinks span a:visited {
		background: #EAFBEA;
	}

	/* synthesize .color1 */
	#csAddCategorySwitch {
		border-color: #A9EBA9 !important; /* using important to override inline styline */
	}
	#mw-normal-catlinks span a:hover, 
	#csAddCategorySwitch, 
	#csAddCategorySwitch a, 
	#CSitemOuterAddCategory {
		background: #BBFBBB !important; /* using important to override inline styline */
		color: #000;
	}
		
/* @end */

/* @group borders */

	#answers_ask input.header_field, 
	#tabAsk input.header_field, 
	#tabSearch input.header_field,
	#question_box,
	#catlinks {
		border-color: #EAFBEA /* .accent */
	}

	#searchform {
		border-color: #BBFBBB; /* .color1 */
	}

/* @end */
