.wikia-interactive-map-thumbnail {
	width: 100%;
	height: auto;

	.wikia-interactive-map-link {
		display: block;
	}

	.view {
		bottom: auto;
		left: 50%;
		margin-top: -17px;
		margin-left: -37px;
		right: auto;
		top: 50%;
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		bottom: 0;
		font-weight: bold;
		left: 10px;
		position: absolute;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 95%;
	}

	figcaption {
		height: 100%;
	}
}

// Android 2.3 fix for rendering issues
.wikia-interactive-map-thumbnail,
.wikia-interactive-map-thumbnail figcaption {
	display: block;
}
