@import "skins/shared/mixins/gradient";
@import "skins/shared/mixins/ellipses";
@import "skins/shared/color";
@import "skins/shared/mixins/calc";

$content-color: #fff;
$secondary-content-color: #ccc;
$gradient-color-start: rgba(0, 0, 0, 0.6);
$default-width: 680px;
$default-height: 382px;
$max-view-button-width: 230px;
// used to calculate position of map in modal (full modal experience)
$modal-header-footer-height: 45px;

.wikia-interactive-map-thumbnail {
	clear: both;
	cursor: pointer;
	height: $default-height;
	line-height:22px;
	position: relative;
	text-align: left;
	width: $default-width;

	figcaption {
		@include linear-gradient(transparent, top, transparent, 0%, $gradient-color-start, 100%);
		bottom: 0;
		box-sizing: border-box;
		color: $content-color;
		height: 40%;
		padding: 0 20px;
		position: absolute;
		width: 100%;

		div {
			bottom: 20px;
			position: absolute;

			span {
				@include ellipses();
				display: block;
				width: $default-width - $max-view-button-width;
			}
		}

		img {
			border-radius: 50%;
			margin-right: 5px;
		}

		span {
			color: $secondary-content-color;
			font-size: 14px;
		}
	}

	p {
		@include ellipses();
		font-size: 30px;
		font-weight: bold;
		line-height: normal;
		margin-bottom: 10px;
		width: $default-width - $max-view-button-width;
	}

	span {
		font-size: 12px;
	}

	.view {
		background-image: url('/extensions/wikia/WikiaMaps/images/expand.svg'); /* inline */
		background-position: 10px 10px;
		background-repeat: no-repeat;
		background-size: 16px;
		border: 1px solid $content-color;
		border-radius: 3px;
		bottom: 30px;
		color: $content-color;
		cursor: pointer;
		display: block;
		font-size: 16px;
		font-weight: bold;
		padding: 8px 11px 8px 35px;
		position: absolute;
		right: 20px;
	}
}

.modal.large .wikia-interactive-map-wrapper {
	@include height-calc('100% - #{$modal-header-footer-height * 2}');
	left: 0;
	position: absolute;
	top: $modal-header-footer-height;
}

.wikia-interactive-map-wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}

