@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';

@import 'components/variables';
@import 'components/base';
@import 'components/module';
@import 'components/textborder';
@import 'components/header';
@import 'components/recent-activity-module';
@import 'components/banner-message';
@import 'components/avatar';
@import 'components/list';
@import 'components/contributors-module';
@import 'components/modal';
@import 'components/insights-module';
@import 'components/recently-joined';


.CommunityPageContainer {
	box-sizing: border-box;
	padding: 34px 50px;
	width: 100%;
}

.CommunityPageMainContent {
	float: left;
	width: calc(100% - 320px);
}

@media #{$breakpoint-below-small-plus} {
	.CommunityPageContainer {
		padding: 34px 0;
	}

	.CommunityPageMainContent {
		width: 100%;
	}
}

/* Temp Hacks for dark wikias until design is ready */
@if ($is-dark-wiki) {
	body {
		color: $color-text-dark;
	}

	.WikiaPage .WikiaPageBackground {
		background-color: $color-page-opposite;
	}

	.global-footer ul li {
		a {
			color: $color-links-default;
		}
	}
}
