// body styles
@import 'components/variables';

$comm-page-body-color: #FFF;

body.page-Special_Community.skin-oasis {
	// Override wiki custom image background
	background: $color-page;

	&::before, &::after, .background-image-gradient {
		display: none;
	}

	.WikiaTopAds {
		display: none;
	}

	.WikiaPage {
		border: 0;
		font-family: $community-page-font-family;
	}
}
