// Variables for general Community Page styles
@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';

// Components
@import 'components/variables';
@import 'components/module';
@import 'components/textborder';
@import 'components/header';
@import 'components/recent-activity-module';
@import 'components/avatar';
@import 'components/list';
@import 'components/contributors-module';
@import 'components/community-policy-module';
@import 'components/modal';
@import 'components/insights-module';
@import 'components/recently-joined';
@import 'components/todo-list-module';

.CommunityPageContainer {
	box-sizing: border-box;
	padding: 34px 50px;
	width: 100%;
}

.CommunityPageMainContent {
	box-sizing: inherit;
	float: left;
	padding-right: 34px;
	width: calc(100% - 320px);
}

.WikiaArticle .community-page-top-contributors h2 {
	margin-top: 0;
}

@media #{$breakpoint-below-small-plus} {
	.CommunityPageContainer {
		padding: 34px 0;
	}

	.CommunityPageMainContent {
		padding-right: 0;
		width: 100%;
	}
}
