<link rel="stylesheet" href="../../styles/common.css" />
<link rel="stylesheet" href="../../styles/footer.css" />

<div class="footer content">
	<p>The Social Universe for Fans, By Fans <sup>TM</sup></p>
	<p class="hubs">
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			Comics
		</a>
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			Games
		</a>
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			Movies
		</a>
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			Lifestyle
		</a>
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			Music
		</a>
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			Books
		</a>
		<a href="">
			{{#fancyHubLinks}}<img src="" class="hub-icon">{{/fancyHubLinks}}
			TV
		</a>
	</p>
	<p class="social-links">
		<a href="" >
			<img src="../../images/Twitter.gif" alt="Twitter">
		</a>
		<a href="">
			<img src="../../images/Facebook.gif" alt="Facebook">
		</a>
		<a href="">
			<img src="../../images/You-Tube.gif" alt="YouTube">
		</a>
	</p>

	{{#footerMessages}}
		<p class="fine-print">{{.}}</p>
	{{/footerMessages}}
</div>