<link rel="stylesheet" href="../../styles/common.css" />
<link rel="stylesheet" href="../../styles/footer.css" />

<div class="footer content">
	<p>The Social Universe for Fans, By Fans <sup>TM</sup></p>
	<p class="hubs">
		<a href="">Comics</a>
		<a href="">Games</a>
		<a href="">Movies</a>
		<a href="">Lifestyle</a>
		<a href="">Music</a>
		<a href="">Books</a>
		<a href="">TV</a>
	</p>
	<p class="social-links">
		<a href="" >
			<img src="../../images/Twitter.gif" alt="Twitter">
		</a>
		<a href="">
			<img src="../../images/Facebook.gif" alt="Facebook">
		</a>
		<a href="">
			<img src="../../images/You-Tube.gif" alt="YouTube">
		</a>
	</p>
	<p class="fine-print">First line of fine print</p>
	<p class="fine-print">Second line of fine print</p>
	<p class="fine-print">Third line of fine print</p>
</div>