<html>
<head>
	<title>Email!</title>
	<link rel="stylesheet" href="../../styles/common.css" />
	<link rel="stylesheet" href="../../styles/main.css" />
</head>
<body>

<div class="main-wrapper">
	<table class="head-wrap">
		<tr>
			<td></td>
			<td class="container">
				<div class="header content">
					<a href="" class="logo">
						<img src="../../images/Wikia.gif" alt="Wikia">
					</a>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container">
				<div class="content main-content">
					{{{content}}}
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	<table class="footer-wrap">
		<tr>
			<td></td>
			<td class="container">
				{{#marketingFooter}}
					{{> marketingFooter}}
				{{/marketingFooter}}

				{{^marketingFooter}}
					{{> footer}}
				{{/marketingFooter}}
			</td>
			<td></td>
		</tr>
	</table>
</div>
</body>
</html>
