<html>
<head>
	<title>Email!</title>
	<link rel="stylesheet" href="../../styles/common.css" />
	<link rel="stylesheet" href="../../styles/main.css" />
</head>
<body>

<div class="main-wrapper">
	<table class="head-wrap">
		<tr>
			<td></td>
			<td class="container">
				<div class="header content">WIKIA LOGO</div>
			</td>
			<td></td>
		</tr>
	</table>
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container">
				<div class="content main-content">
					{{{content}}}
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	<table class="footer-wrap">
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
</body>
</html>
