<link rel="stylesheet" href="../../styles/common.css" />

<p>Hi Lizlux,</p>

<p><strong><a href="">Article Name</a> on <a href="">Wikia Name</a> has been edited</strong></p>

<table>
	<tr>
		<td align="top">
			<img src="http://vignette2.wikia.nocookie.net/common/avatars/2/29/4200831.png/revision/latest/scale-to-width/50?cb=1369933874&format=jpg" data-inline-ignore>
		</td>
		<td>
			<p class="subtle">Dear Foo,</p>
			<p>Here's the text of this email</p>
			<button>Compare changes</button>
		</td>
	</tr>
</table>