<link rel="stylesheet" href="../../styles/common.css" />

<p>Hi Lizlux,</p>

<p><strong><a href="">Article Name</a> on <a href="">Wikia Name</a> has been edited</strong></p>

<table>
	<tr>
		<td>
			<img src="{{foo}}" data-inline-ignore>
		</td>
	</tr>


</table>

{{{foo}}}
{{{bar}}}