<link rel="stylesheet" href="../../styles/common.css" />
<link rel="stylesheet" href="../../styles/watchedPage.css" />

<div class="greeting">
	<p>Hi Lizlux,</p>

	<p><b><a href="">Article Name</a> on <a href="">Wikia Name</a> has been edited</b></p>
</div>

<table>
	<tr>
		<td valign="top">
			<div class="avatar-wrapper">
				<img class="avatar" src="http://vignette2.wikia.nocookie.net/common/avatars/2/29/4200831.png/revision/latest/scale-to-width/50?cb=1369933874&format=jpg" data-inline-ignore>
			</div>
		</td>
		<td class="widest">
			<div class="message">
				<p class="subtle">Dear Foo,</p>
				<p>Here's the text of this email</p>
			</div>
			<button>Compare changes</button>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="links">
				<p><a href="">Visit <b>Walter White</b> to see what's new</a></p>
				<p><a href="">View all changes to <b>Walter White</b> since your last visit</a></p>
			</div>
		</td>
	</tr>
</table>