body {

}

#wkPage, #wkMainCnt {
	padding: 0;
}

#wkMainCntHdr{
	display: none;
}

#mw-content-text {
	position: relative;
	background-color: rgb(37,37,37);

	span {
		position: absolute;
		bottom: 10px;

		width: 100%;
		padding: 0 10px;

		color: white;
		text-align: center;
	}
}

#wk404{
	position: relative;

	display: block;
	margin: 0 auto;
	height: 330px;

	background-position: center 35%;
	background-size: 50%;
}

#wk404::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('/extensions/wikia/WikiaMobile/images/404_mask.png'); /* base64 */
	background-size: 100%;
	background-position: center 60%;
}

@media screen and (orientation:landscape) and (min-width:321px) {
	#wk404{
		width: 320px;
	}
}