@import 'variables';
@import 'mixins/transition';

//variables
$slotFooterWidth: 300px;//some networks use this instead of 320
$slotFooterWidthMax: 320px;
$slotFooterHeight: 50px;
$slotFooterMargin: 0;
$slotFooterColor: #666;
//z-index has to be high enough to be above page content
//and low enough so expandables can be above it
$slotZIndex: 4000;

#wkFloatingAd {
	position: relative;
	-webkit-tap-highlight-color: rgba( 0,0,0,0 );
	-webkit-focus-ring-color: rgba( 0,0,0,0 );

	text-align: center;

	max-height: $slotFooterHeight;

	&.over {
		z-index: $slotZIndex;
	}

	&.fixed {
		position: fixed;
		bottom: 0;

		margin: 0;
		padding: 0;

		width: 100%;

		background-color: $slotFooterColor;
	}

	&.jsfix {
		position: absolute;
	}

	> * {
		//Footer Ad
		//force Ad content to stick in place
		//and don't exceed allowed dimensions
		margin: $slotFooterMargin auto;
		max-width: $slotFooterWidthMax;
		max-height: $slotFooterHeight;
	}
}

#wkAdTopLeader {
	visibility: hidden;

	&.show {
		visibility: visible;

		width: $slotFooterWidthMax;
		height: $slotFooterHeight;

		margin: 0 auto;
		text-align: center;
	}
}

.ad-in-content {
	visibility: hidden;

	&.show {
		visibility: visible;

		position: relative;
		margin: 0 auto;

		padding: 15px 0;
		height: 270px;
		width: 300px;

		border-top: 1px solid $border-color;
	}
}

#wkAdBeforeFooter.show {
	margin-top: 10px;
}

.wkAdWrapper {
	display: inline-block;

	height: 250px;
	width: 300px;

	background: rgba(0,0,0,.3);

	&.show {
		background: transparent;
	}
}

.wkAdLabel {
	text-transform: uppercase;

	&.inContent {
		position: absolute;
		top: -5px;
		left: 10px;

		font-size: 9px;
		color: $ad-label-color;
	}
}

//when ads are loaded and "floating" at the bottom
//then make sure there's enough space to host them
//without getting the adslot overlaying the links
.ads {
	padding-bottom: 50px;
}
