@import 'variables';

//variables
$slotWidth: 300px; //in content width
$slotTopHeight: 50px;

#MOBILE_TOP_LEADERBOARD {
	background-color: white;
	min-height: 50px;
	margin: 2px auto 0;
	width: 320px;

	&.hidden, .hidden {
		display: none;
	}
}

#NATIVE_TABOOLA {
	max-width: 480px;
	margin: 0 auto;
}

.ad-in-content {
	border-top: 1px solid $border-color;
	//compensate for wkPage margin
	left: -3.125%;
	margin: 1rem auto;
	min-width: $slotWidth;
	padding: 15px 0;
	position: relative;
	text-align: center;

	&.hidden, .hidden {
		display: none;
	}
}

#wkAdBeforeFooter.show {
	margin-top: 10px;
}

.wkAdLabel {
	text-transform: uppercase;

	&.inContent {
		position: absolute;
		top: -5px;
		left: 10px;

		font-size: 9px;
		color: $ad-label-color;
	}
}

#mw-content-text div.wikia-ad-interactive-map,
.int-map-mobile-map-page #mw-content-text > div.wikia-interactive-map-wrapper > div.wikia-ad-interactive-map {
	height: 50px;
	margin: 0 auto 15px;
	width: 320px;

	& > iframe {
		border: none;
		height: 50px;
		left: auto;
		margin: 0;
		padding: 0;
		position: relative;
		top: auto;
		width: 320px;
		z-index: 10;
	}
}

.int-map-mobile-map-page #mw-content-text > div.wikia-interactive-map-wrapper > div.wikia-ad-interactive-map {
	height: 60px;
	padding-top: 10px;
}
