#wkArtCat {
	.catlinks {
		margin-bottom: 10px;

		 ul{
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				border-left:  1px solid #AAA;
				display: inline-block;
				margin: 5px 0;
				padding: 0 5px;
			}

			li:first-child{
				border-left: none;
			}
		}
	}
}

#mw-normal-catlinks span{
	padding: 0 5px;
}