.catlinks {
	margin-bottom: 10px;

	ul{
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline;
		margin-bottom: 5px;
	}

	li:nth-last-of-type(n+2):after {
		content: ',';
		padding-right: 3px;
	}
}