//mixins
@import "mixins/section-title.scss";

#wkArtCat {

	//TODO: css alias
	.collSec {
		margin: $section-title-margin;
		@include section-title-related;
	}

	#catlinks {
		&.open {
			display: block;
		}
	}

	#mw-normal-catlinks span{
		padding: 0 5px;
	}
}

.js #catlinks {
	display: none;
}