@import 'variables';

.chevron {
	border-color: transparent transparent $border-color transparent;
	border-style: solid;
	border-width: $chevron-size;
	display: inline-block;
	position: relative;
	pointer-events: none;

	-webkit-transition: -webkit-transform .3s;

	&.right {
		border-color: transparent transparent transparent $border-color;

		&:after {
			border-color: transparent transparent transparent white;
			left: -12px;
			bottom: -10px;
		}
	}

	&:after {
		content: '';
		border-color: transparent transparent white transparent;
		border-style: solid;
		border-width: 10px;
		bottom: -$chevron-size - 1;
		left: -10px;
		position: absolute;
	}

}