//mixins
@import "mixins/box-shadow.scss";

#wkFtr {
	@include box-shadow(inset 0 20px 20px -20px rgba(0,0,0,.4));
	background-color: $footerBackground;
	color: $footerTextColor;
	font-size: 0.812rem;
	padding: 35px;
	text-align: left;

	ul {
		margin: 0;
		padding: 25px 0 0 0;

		&:first-of-type {
			font-weight: bold;
		}
	}

	li {
		display: block;
	}

	a {
		color: $footerTextColor;
	}
}

#wkLogo {
	background-image: url('/extensions/wikia/WikiaMobile/images/wikialogo.png');
	background-size: 112px 30px;
	display: block;
	height: 30px;
	width: 112px;
}

.cont-dir-rtl #wkFtr {
	@include box-shadow(inset 0 -20px 20px 20px rgba(0,0,0,.4));
}
