//mixins
@import "mixins/box-shadow.scss";

#wkFtr {
	//the height will be manipulated later by ads.js
	height: 157px;
	background-color: $footerBackground;
	@include box-shadow(inset 0 30px 20px -20px rgba(0,0,0,.4));
	text-align: center;
	color: $footerTextColor;

	//when ads are loaded and "floating" at the bottom
	//then make sure there's enough space to host them
	//without getting the adslot overlaying the links
	&.ads {
		height: 210px;
	}

	ul {
		margin: 10px;
		padding: 0;
	}

	li {
		display: inline-block;
		padding: 5px;
	}

	a {
		color: $footerTextColor;
	}
}

#wkLogo {
	width: 100px;
	height: 25px;
	margin-top: 20px;
	display: inline-block;
	background-image: url('/extensions/wikia/WikiaMobile/images/wikialogo.png'); /* base64 */
	background-size: 100px 25px;
}