#wkMainCnt{
	.thumb {
		text-align: center;
		margin: 5px;
		border: 1px solid $border-color;
		padding: 3px;
		background: #F2F2F2;

		.thumbcaption {
			font-size: 90%;
			padding: 3px;
			margin-bottom: -3px;
			line-height: 20px;
		}
		
		.image {
			display: block;
			margin-bottom: -4px; 
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}