@import "variables";

.imgPlcHld, wkSlider img, .lazy {
	background-image: url('/extensions/wikia/WikiaPhotoGallery/images/wikiamobile_img_placeholder.png'); /* base64 */
	background-repeat: no-repeat;
	background-position: center;
}

.galPlc.image, .galPlcHld {
	background-image: url('/extensions/wikia/WikiaMobile/images/gallery_placeholder.png'); /* base64 */
	background-repeat: no-repeat;
	background-position: center;
}

.lazy {
	background-size: 50%;
	display: none;
	background-color: $imagePlaceholderBackground;

	.js & {
		display: inline;
	}
}