.wkSlider .img, .imgPlcHld {
	background-image: url('/extensions/wikia/WikiaPhotoGallery/images/wikiamobile_img_placeholder.png'); /* base64 */
	background-repeat: no-repeat;
	background-position: center;
}
