@import "variables.scss";

table[class*="infobox"] {
	border: 1px solid $border-color;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 0.9rem;
	margin: 20px auto;
	max-width: 100%;
	width: 100%;

	figure {
		margin: 0 auto;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	tr {
		border-top: 1px solid $border-color;
	}

	th {
		text-align: left;
	}

	th, td {
		padding: 5px;
		line-height: 1.25rem;
		vertical-align: top;

		&[colspan='2']{
			text-align: center;
			padding: 0;

			b {
				display: inline-block;
				margin: 5px;
			}
		}

		p {
			//Some wikis have p inside td. ie. Firefly
			margin: 0;
		}
	}

	.short tr:nth-of-type(n+11):not(.infobox-expand) {
		display: none;
	}
}

$chevron-size: 12px;

.infobox-expand {
	td {
		height: $chevron-size * 3;
		padding-bottom: 10px;
		vertical-align: middle;
	}

	span {
		border-color: transparent transparent $border-color transparent;
		border-style: solid;
		border-width: $chevron-size;
		display: inline-block;
		position: relative;
		pointer-events: none;

		&:after {
			content: '';
			border-style: solid;
			border-width: 10px;
			border-color: transparent transparent white transparent;
			bottom: -$chevron-size;
			left: -9px;
			position: absolute;
		}
	}

	.short & {
		span {
			border-color: $border-color transparent transparent transparent;
			margin-top: 15px;

			&:after {
				border-color: white transparent transparent transparent;
				bottom: -$chevron-size/2;
			}
		}
	}
}