@import "variables.scss";
//mixins
@import "mixins/box-shadow.scss";

table[class*="infobox"] {
	border: 1px solid $border-color;
	border-top: none;
	max-width: 100%;
	margin: 0 auto;
	border-spacing: 0;

	figure {
		margin: 0 0 10px 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	th {
		text-align: left;
	}

	th, td {
		border-top: 1px solid #E3E3E3;
		padding: 5px;
	}

	td{
		padding: 0 6px;

		&[colspan='2']{
			text-align: center;
			padding: 0;

			b{
				display: block;
				width: 100%;
				margin: 12px 0 15px;
				border-bottom: 1px solid $border-color;
			}
		}
	}
}