//mixins
@import "mixins/transition.scss";

@import "pager.scss";

$chev-color: rgb(157,157,157);

#wkMdlImages {
	width: 100%;
	height: 100%;

	img {
		max-height: 100%;
	}

	section {
		text-align: center;

		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		* {
			vertical-align: middle;
		}
	}

	.wkMblThrobber {
		display: table-cell;
	}
}

.player {
	display: inline-block;

	video, iframe, object, embed {
		width: 70%;
		height: auto;
	}
}

.not-supported {
	display: inline-block;
	position: relative;

	span {
		position: absolute;
		width: 100%;
		left: 0;

		z-index: 1;

		color: #d5d4d4;
		font-weight: 800;

		&:first-of-type {
			top: 10%;
			font-size: 2em;
		}

		&:last-of-type {
			bottom: 5%;
		}
	}

	img {
		//this is minumum for the message to be readable
		min-width: 300px;
		min-height: 190px;
		max-height: 40%;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0,0,0, .5);

		background-image: url(/extensions/wikia/WikiaMobile/images/sad_phone.png);
		background-position: 55% 55%;
		background-size: 30%;
		background-repeat: no-repeat;
	}
}

.imgPlcHld img {
	display: none;
}

.chnImg {
	position: absolute;
	display: block;
	z-index: 19;
	top: 0;
	height: 100%;
	width: 15%;
	background-repeat: no-repeat;
	background-position: center;
	@include transition(opacity .5s ease-in);
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	.hdn & {
		opacity: .2;
	}

	&::after{
		content: '';
		bottom: 50%;
    	border-width: 10px;
    	border-style: solid;
    	position: absolute;
	}
}

#nxtImg {
	right: 0;

	&::after{
		border-color: transparent transparent transparent $chev-color;
		right: 10px;
	}
}

#prvImg {
	left: 0;

	&::after{
		border-color: transparent $chev-color transparent transparent;
		left: 10px;
	}
}

#wkShrImg {
	float: left;
	margin: 2px 0;
}

#wkGalTgl {
	opacity: .1;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 30px;
	background-image: url('/extensions/wikia/WikiaMobile/images/gallery_gray.png'); /* base64 */
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}
