//dependencies
@import "variables.scss";

//mixins
@import "mixins/linear-gradient.scss";
@import "mixins/box-sizing.scss";

#navigation {
	position: relative;
	height: 50px;
	padding: 2px 5px;
	background-color: $navBarColorFirst;
	@include linear-gradient($navBarColorFirst, $navBarColorSecond);
	@include box-shadow(0 0 10px black);
	@include box-sizing(content-box);
	-webkit-tap-highlight-color: rgba( 0,0,0,0 );
	-webkit-focus-ring-color: rgba( 0,0,0,0 );

	#navigationWordMark {
		height: 50px;
		line-height: 50px;
		font-size: x-large;
		color: $navBarWordmarkText;
		max-height: 50px;
		max-width: 80%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#searchToggle {
		position: absolute;
		right: 0;
		width: 50px;
		top: 0;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('/extensions/wikia/WikiaMobile/images/search.png');/* $wgCdnStylePath */
		&:before {
			content: "";
			height: 80%;
			width: 1px;
			background-color: $dividerColorFirst;
			position: absolute;
			top: 5px;
			border-right: 1px solid $dividerColorSecond;
		}
		&.open {
			outline: 1px solid $searchOpenBorder;
			background-color: $searchOpenBackground;

			&:before {
				width: 0;
				border: 0;
			}
		}
	}

	#navigationSearch {
		display: none;
		width: 100%;
		height: 50px;
	}

	#searchInput {
		position: absolute;
		left: 3px;
		top: 10px;
		right: 54px;
		border: 0;
		font-size: large;
		border-radius: 20px;
		padding: 5px;
	}
	::-webkit-input-placeholder {
		color: $link-color;
	}
	:-moz-placeholder {
		color: $link-color;
	}

}
