.swiperPage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;

	&.next{
		left: 120%;
	}

	&.prev {
		left: -120%;
	}
}

section.swiperPage {
	display: table;

	> div{
		display: table-cell;
		vertical-align: middle;
	}
}