//dependencies
@import "variables.scss";

//mixins
@import "mixins/linear-gradient.scss";
@import "mixins/box-sizing.scss";

$itemHeight: 50px;
$itemPadding: 6px;

#wkRelPag {
	ul {
		display: none;
		padding: 0;
		margin: 0;
		color: $page-text-color;

		&.open {
			display: block;
		}
	}

	li {
		position: relative;
		padding-left: 0;

		a {
			color: inherit;
			padding: $itemPadding $itemPadding/2 $itemPadding 112px;
			height: 62px;

			img {
				position: absolute;
				top: 50%;
				left: $itemPadding;

				margin-top: -25px;
				height: 50px;

				pointer-events: none;
			}
		}
	}
}

.js {
	#wkRelPag {
		img {
			&.lazy{
				display: inline;
				background-size: 40px;
			}
		}
	}
}