//dependencies
@import "variables.scss";

//mixins
@import "mixins/section-title.scss";
@import "mixins/linear-gradient.scss";
@import "mixins/box-sizing.scss";

$itemHeight: 50px;
$itemPadding: 6px;

#wkRelPag {
	.collSec {
		@include section-title-related;
	}

	ul {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0;

		&.open {
			display: block;
		}
	}

	li {
		position: relative;

		a {
			color: $page-text-color;
			display: block;
			padding: $itemPadding $itemPadding/2 $itemPadding 112px;
			min-height: $itemHeight + $itemPadding*2;
			@include box-sizing(border-box);

			&.noImg {
				background-position: $itemPadding;
				background-repeat: no-repeat;
				background-size: 100px 50px;
				background-image: url("/extensions/wikia/WikiaMobile/images/read_placeholder.png");/* $wgCdnStylePath */
				min-height: $itemHeight + $itemPadding*2;
			}

			img {
				height: 50px;
				width: 100px;
				position: absolute;
				top: 50%;
				left: $itemPadding;
				margin-top: -25px;
			}
		}

		&:active, &.fkAct {
			@include linear-gradient($activeGradient1, $activeGradient2);
			color: white;
		}

		&:nth-of-type(n+2) {
			border-top: 1px solid $border-color;
		}
	}
}