@import 'variables.scss';


h2, h3, h4, h5, h6{
	text-transform: uppercase;

	font-weight: 600;

	margin-top: 25px;
}

h1 {

}

h2 {
	font-size: 1.6rem;
	margin-top: 50px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom:5px;
	font-weight: 100;
}

h3 {
	font-size: 1.35rem;

}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

.artSec {
	width: 100%;

	ul:not(.wkLst) {
		//setting to 20px makes it narrower but still nicely indented
		padding-left: 20px;
	}

	&::after{
		content: '';
		display: block;
		height: 0;
		font-size:0;
		clear: both;
		visibility:hidden;
	}
}

.collSec {
	word-break: break-word;

	position: relative;

	.editsection {
		display: none;
	}

	//a nicer way to display images in sections header
	figure {
		display: inline-block;

		img {
			max-height: 1em;
		}
	}
}

#wkMainCntFtr .collSec{
	text-transform: uppercase;
	font-size: medium;
}