//mixins
@import "mixins/section-title.scss";

h1, h2, h3{
	font-weight: normal;
	margin: $section-title-margin;
}

.js .artSec {
	display: none;
}

.collSec {
	@include section-title;
}

body {
	//TODO: css alias
	&>.colSec &>.artSec {
		margin-left: $page-padding;
		margin-right: $page-padding;
	}
}

.artSec {
	&.open {
		display: block;
	}

	ul {
		//there is already a padding so if this is not 0 it gets way too big
		padding: 0;
	}
}