@import "variables.scss";

#WikiaMainContent {
	.tooBigTable {
		border: 1px solid $border-color;
		padding: $page-padding;
	}
}

#modalWrapper.wideTable {
		overflow: visible;

		#modalContent {
			background-color: white;
		}
}
