@import "variables.scss";

//mixins
@import "mixins/box-shadow.scss";

$wide-table-border: 5px solid rgb(215,232,242);

//if native scroll is available:
.overflow .bigTable {
	overflow: auto;
}

//if not
.no-overflow .bigTable {
	overflow: hidden;

	table {
		//this should be only applied when no overflow is available
		pointer-events: none;
	}
}

//handling wide Tables
.bigTable{
	position: relative;

	-webkit-overflow-scrolling: touch;

	max-width: 100%;
	padding: 5px;
	margin-top: $page-padding;

	//@include box-shadow(inset 0 0 15px $shadow-color, inset -20px 0 45px -10px rgb(215, 232, 242));

	border: 1px solid $border-color;

	-webkit-transition: border .2s;
	-moz-transition: border .2s;
	-o-transtion: border .2s;

	table {
		border: none;
	}

	&.active {
		@include box-shadow(inset 0 0 15px $shadow-color);

		table {
			pointer-events: auto;
		}
	}
}