@import 'variables.scss';

$header-height: 44px;
$nice-blue: rgb(0, 77, 141);
$toc-background: #F8F8F8;

#wkTOC {
	position: fixed;
	left: 0;
	top: 0;
	bottom:0;
	width: 80%;
	max-width: 260px;
	background: $toc-background;
	-webkit-transition: -webkit-transform .1s ease-out;
	-webkit-transform: translate(-100%);
	-moz-transform: translate(-100%);
	transform: translate(-100%);

	z-index: 101;

	counter-reset: level1, level2, level3;

	&.active {
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		transform: translate(0);
	}

	header {
		background: $toc-background;
		border-bottom: 1px solid $border-color;
		text-transform: uppercase;
		line-height: $header-height;
		padding-left: 20px;
		position: relative;
		font-weight: 600;
		z-index: 1;
	}

}

#wkTOCHandle {
	position: absolute;
	right: -48px;
	bottom: 75px;
	border-radius: 0 3px 3px 0;
	background-size: 80%;
}

.menu-stripe {
	width: 48px;
	height: 48px;
	background: rgb(0,77,141);
}

.menu-stripe:before, .menu-stripe:after {
	background: white;
	content: "";
	position: absolute;
	height: 3px;
	top: 12px;
	box-shadow: 0 10px white, 0 20px white;
}

.menu-stripe:before {
	width: 3px;
	left: 12px;
}

.menu-stripe:after {
	width: 18px;
	left: 18px;
}

.toc-list {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		line-height: 44px;
		color: $page-text-color;
		display: block;
		width: 100%;
		padding-right: 25px;
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:before {
			padding-right: 10px;
		}
	}
}

$level0-padding: 20px;
$level0-border-left-width: 3px;

.level0 {
	padding: 0 0 $header-height 0;
	overflow-x: hidden;
	overflow-y: scroll;
	//-webkit-overflow-scrolling: touch;

	height: 100%;

	> li {
		counter-increment: level1;

		> a {
			border-left: $level0-border-left-width solid $toc-background;

			border-bottom: 1px solid #D8D8D8;

			font-size: 1.15rem;
			padding-left: $level0-padding - $level0-border-left-width;

			-webkit-transition: border-left .2s;

			&:before {
				content: counter(level1);
			}
		}

		> .current {
			border-left: $level0-border-left-width solid $nice-blue;
		}
	}


}

.level1 {
	> li {
		counter-increment: level2;

		> a {

			padding-left: 20px;

			&:before {
				content: counter(level1) '.' counter(level2);
			}
		}
	}


}

.level2 {
	border-top: 1px solid #F0F0F0;

	> li {
		counter-increment: level3;

		> a {
			padding-left: 25px;

			&:before {
				content: counter(level1) '.' counter(level2) '.' counter(level3);
			}
		}
	}
}

.level1 {
	display:none;

	.open & {
		display: block;
	}
}

.level1, .level2 {

	li {
		border-bottom: 1px solid #F0F0F0;
	}

	.current {
		color: $nice-blue;
		font-weight: 600;
	}
}

.has-children {
	background-color: transparent;

	.chevron {
		border-left-color: #C0C0C0;
		border-width: 7px;
		margin: 15px;

		position: absolute;
		right: -10px;

		-webkit-transform-origin: 3px 7px;

		&:after {
			border-left-color: $toc-background;
		}
	}

	&.open {
		.chevron {
			-webkit-transform: rotate(90deg);
		}
	}

	&.fixed {
		padding-top: 45px;

		> a {
			position: absolute;
			top: 45px;
			background: $toc-background;
			z-index: 1;
		}
	}

	&.bottom {
		position: relative;

		> a {
			position: absolute;
			bottom: 0;
			top: inherit;
		}
	}

}


