@import 'variables.scss';
@import 'mixins/linear-gradient.scss';
@import 'mixins/box-sizing.scss';

.wkBtn {
	font-size: medium;
	padding: 5px 10px;
	border: 1px solid $border-color;
	border-radius: 5px;
	font-weight: 100;
	margin: 10px;
	color: #6A6A6A;
	@include linear-gradient(rgb(253,253,251), rgb(239,239,239));
}

.wkLst {
	list-style: none;

	li {
		width: 100%;
		line-height: 50px;
		border-bottom: 1px solid $border-color;
		padding-left: 10px;
		@include box-sizing(border-box);

		& > a, & > span {
			width: 100%;
			height: 100%;
			display: inline-block;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

li.sub, li.cld > a, li.cld > span {
	background-repeat: no-repeat;
	background-position: right;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAPCAQAAACcwS2GAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUGFdtyGEKgjAYBuD3CB1lR/EIO0o3ioxQQqGogVbwMct0A73CjvD2o8wJPT8fAFuVJoilKgsFSxXVXo6seQ9mzkxdgmVHG+dJSXB0yzTK/ssmePpl1uuOIz1l841cG7YcOUizAgDsdMkbew7ipihY8Uk/RfqL/hNATsOGbg7goCs+5DUHAJyT6yLe6k5upkdIkZgAAAAASUVORK5CYII=);
}