//dependencies
@import "variables.scss";
@import "main_page.scss";
@import "infobox.scss";
@import "sections.scss";
@import "images.scss";
@import "videos.scss";
@import "categories.scss";
@import "footer.scss";
@import "zepto.modal.scss";
@import "navigation.scss";
@import "search_page.scss";
@import "tables.scss";
@import "related_pages.scss";

//mixins
@import "mixins/transition.scss";

html {
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

body {
	background-color: $page-background-color;
	color: $page-text-color;
	font-family: helvetica, android, sans-serif;
	font-size: medium;
	line-height: 25px;
	margin: 0;

	//avoid webkit's automatic text adjustment
	-webkit-text-size-adjust: none;
}

#WikiaMainContentHeader {
	border-bottom: 1px solid $border-color;
	padding: $page-padding;

	h1{
		margin:0;
		padding:0;
	}
}

.arrow {
	font-size: 0;
	line-height: 0;
	width: 0;
	display: block;
	border-bottom: none;
	border-top: 8px solid $arrowcolor;
	border-left: 8px solid rgba( 0, 0, 0, 0 );
	border-right: 8px solid rgba( 0, 0, 0, 0 );
}

a {
	color: $link-color;
	text-decoration: none;
}

#WikiaPage {
	overflow-x: hidden;
}

#WikiaMainContent{
	padding: $page-padding $page-padding 0 $page-padding;
	@include box-sizing(border-box);
	//fixes for fluid content
	.tvetnone {
		width: 100% !important;
		text-align: center;
	}

	//end of fluiding thead content

	table#toc {
		display: none;
		//TODO: get rid of TOC
	}

	div.wikia-slideshow-wrapper{
		width: auto;

		div.wikia-slideshow-images-wrapper ul.wikia-slideshow-images {
			width: auto;
			height: auto;
		}
	}
}

.printfooter {
	display: none;
}

.WikiaMobileLoader {
	width:100%;
	height: 100%;

	&.center {
		text-align: center;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}

		.WikiaMobileLoaderImg {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.WikiaMobileLoaderImg {
		-webkit-animation: rotate $loaderSpeed infinite linear;
		-moz-animation: rotate $loaderSpeed infinite linear;
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

#WikiaAdPlace {
	-webkit-tap-highlight-color: rgba( 0,0,0,0 );
	-webkit-focus-ring-color: rgba( 0,0,0,0 );
}