//dependencies
@import "variables.scss";

//mixins
@import "mixins/transition.scss";
@import "mixins/box-sizing.scss";

#wkMdlWrp {
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	min-width: 100%;
	opacity: 0;
	display: none;
	overflow: hidden;
	color: $modal-text-color;
	z-index: $highest-z-index + 1000;
	@include transition(opacity 1s);

	&.mdlShw {
		opacity: 1;
		display: block;
	}
}

#wkMdlTB {
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $highest-z-index + 1001;
	background-color: rgba(0,0,0,.8);
	@include transition(top .5s ease-in);

	&.hdn {
		top: -100%;
	}
}

#wkMdlCnt {
	width: 100%;
	height: 100%;
	background-color: $footerBackground;

	.fllScrImg {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&>p{
		margin: 0;
	}
}

#wkMdlFtr {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 5px;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	line-height: 20px;
	z-index: $highest-z-index + 1005;
	@include transition(bottom .5s ease-in);
	@include box-sizing(border-box);
	display: none;

	&.hdn {
		bottom: -100%;
	}
}

#wkMdlClo {
	height: 30px;
	width: 25px;
	float: right;
	font-size: xx-large;
	color: rgb(157,157,157);
	z-index: $highest-z-index + 1005;
	padding: 0 0 20px 20px;
}

.chnImgBtn {
	position: absolute;
	top: 0;
	height: 100%;
	width: 15%;
	background-repeat: no-repeat;
	background-position: center;

	@include transition(all .5s ease-in);
	&.hdn {
		opacity: .2;
	}
}

.oneImg {
	.chnImgBtn {
		display:none;
	}
}

.chnImgChv {
	bottom: 50%;
	border-width: 10px;
	border-style: solid;
	position: absolute;
}

#nxtImg {
	right: 0;
	.chnImgChv {
		border-color: transparent transparent transparent #006CB0;
		right: 10px;
	}
}


#prvImg {
	left: 0;
	.chnImgChv {
		border-color: transparent #006CB0 transparent transparent;
		left: 10px;
	}
}

#wkShrImg {
	float: left;
	margin: 2px 0;
}