.qpoll .question { margin-right:2em; }
.qpoll .margin { padding-right:20px; }
.qpoll .header .questionId {font-size: 1.1em; font-weight: bold; float: right;}
.qpoll a.input em { color:black; background-color:#DFDFDF; margin-left:1px; }
.qpoll a.input input { padding-right:2px; border:0; }
