.HuluVideoPanel {
	margin: 0 auto;
	width: 980px;
}

.HuluVideoPanel .containerHPanel {
	margin: 0 auto;
	width: 725px;
}

.HuluVideoPanel .containerHPlayer {
	background-color: #1e1e1e;
	margin-bottom: 20px;
	width: 980px;
}

.HuluVideoPanel .huluPlayer {
	height: 474px;
	margin: 0 auto;
	width: 615px;
}