<a href="{{ linkHref }}" class="video video-from-template {{#linkClasses}}{{.}} {{/linkClasses}}" {{#linkAttrs}}{{.}} {{/linkAttrs}}>
	<span class="play-button"><span class="circle"></span><span class="arrow"></span> </span>
	<img src="{{imgSrc}}" class="wikia-video-thumb {{#imgClasses}}{{.}} {{/imgClasses}}" data-video-key="{{videoKey}}" data-video-name="{{videoName}}" {{#imgAttrs}}{{.}} {{/imgAttrs}}>
	<span class="duration">{{duration}}</span>
</a>