<a href="{{ linkHref }}" class="video video-from-template {{#linkClasses}}{{.}} {{/linkClasses}}" {{#linkAttrs}}{{.}} {{/linkAttrs}}>
	<img src="{{imgSrc}}" class="wikia-video-thumb {{#imgClasses}}{{.}} {{/imgClasses}}" data-video-key="{{videoKey}}" data-video-name="{{video-name}}" {{#imgAttrs}}{{.}} {{/imgAttrs}}>
</a>