$endpointHeight: 51px;

.endpoint {
	margin: 10px 0;

	.heading {
		border: 1px solid $lightGray-c2;
		clear: both;
		display: block;
		height: $endpointHeight;

		.http_method {
			background-color: $blue-c1;
			display: block;
			float: left;
			height: $endpointHeight;
			line-height: 53px;
			margin-right: 20px;
			text-align: center;
			width: 90px;
			color: white;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.summary {
			color: $darkGray-c5;
			font-size: 17.5px;
			line-height: 27.5px;
			display: block;
		}

		.path {
			color: $gray-c4;
			font-size: 14px;
			b {
				color: $darkGray-c5;
				font-weight: bold;
			}
		}

		.collapse-button {
			background-color: $lightGray-c2;
			border-left: 1px solid $lightGray-c2;
			display: block;
			float:right;
			height: $endpointHeight;
			width: $endpointHeight;
		}
	}
}
