@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/reset";
@import "skins/oasis/css/core/sprite";
@import "skins/oasis/css/core/GlobalHeader";

//colors variables
$blue-c1: #0a5fa3;
$lightGray-c2: #f9f9f9;
$midGray-c3: #e6e6e6;
$gray-c4: #676767;
$darkGray-c5: #333333;

@mixin boxHeader {
	color: $blue-c1;
	font-size: 17.5px;
	font-weight: bold;
	margin: 25px 0;
}

@mixin buttons {
	-moz-border-radius: 2px;
	background-color: $blue-c1;
	border: solid 1px $blue-c1;
	border-radius: 2px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

@mixin inputs {
	-moz-border-radius: 2px;
	border: solid 1px $midGray-c3;
	border-radius: 2px;
	color: $darkGray-c5;
	font-weight: normal;
	height: 25px;
	padding: 0 10px;
	width: 133px;
}

body {
	color: $gray-c4;
	font-family: Helvetica-Light, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: light;
}

input {
	@include inputs;
}

//hack for strongs, and b displaying as normal, try changing template
strong, b {
	font-weight: inherit;
}

select {
	@include inputs;
	-webkit-appearance: none;
	background-color: #ffffff;
	background-image: url(/extensions/wikia/ApiDocs/files/arrow-01.png); /* base64 */
	background-position: 134px 10px;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 155px;
}

//main wrapper for all apis and methods
.swagger-ui-wrap {
	max-width: 960px;
	margin: auto;

	h4 {
		@include boxHeader;
	}

	ul {
		list-style-type: none;
	}
}

//response content type box
.content-type {
	padding-left: 90px;
	label {
		@include boxHeader;
		display: block;
	}
	select {
		width: 210px;
		background-position: 190px 10px;
	}
}

//parameters and errors box
.sandbox {
	margin-left: 90px;
	width: 776px;
	table {
		border-spacing: 0px;
	}
	tbody tr:nth-child(odd) {
		background-color: $lightGray-c2;
	}
	td {
		padding: 0 15px;
	}
	td:nth-child(4), td:nth-child(5) {
		padding: 0;
		text-align: center;
	}
	th {
		border-bottom: solid 1px $midGray-c3;
		color: $darkGray-c5;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
	th:not(:first-child):not(:last-child), td:not(:first-child):not(:last-child) {
		border-right: solid 1px $midGray-c3;
	}
	tr {
		height: 70px;
	}
}

.sandbox_header {
	input {
		@include buttons;
	}
}

// header
#header > nav {
	text-align: center;
}
