div.response {
	background:$lightGray-c2;
	margin-top:25px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	width:746px;
	h4 {
		margin-bottom:15px;
	}
}

.request_url {
	background:$main-bgcolor;
	border:1px solid $midGray-c3;
	line-height:50px;
	height:50px;
	margin-bottom:15px;
	margin-top:0px;
	overflow-x:auto;
	overflow-y:hidden;
	width:566px;
	font-family: monospace;
	resize:none;
	padding-left:15px;
}


div.response_top {
	overflow:hidden;
	div.container_left {
		float:left;
	}
	div.container_right {
		float:right;
	}
}

div.response_code {
	@include inputs;
	background:$main-bgcolor;
	line-height:50px;
	height:50px;
}

div.response_body {
	background:$main-bgcolor;
	border:1px solid $midGray-c3;
	width:100%;
	margin-bottom:30px;
	max-height:500px;
	overflow:auto;
	pre {
		padding:15px;
	}
}


div.response_headers {
	background:$main-bgcolor;
	border:1px solid $midGray-c3;
	overflow:auto;
	width:100%;

	pre {
		padding:15px;
		b{
			font-weight:bold;
		}
	}
}


div.response_throbber{
	width:24px;
	height:24px;
	background:url('/extensions/wikia/ApiDocs/files/loading2.gif') no-repeat; /* $wgResourceBasePath */
	position:relative;
	top:5px;
	left:5px;
	display:inline-block;


}
