@import '../../WikiaMobile/css/variables';
@import '../../WikiaMobile/css/tables';

$editor-blue: #0C4C88;
$editor-grey: #C0C0C0;
$color: #333;
$summary-text: #999;

.wkButn {
	-webkit-appearance: button;
	margin-left: 6px;

	padding: 12px 20px;

	height: 36px;
	color: $page-background-color;

	line-height: 13px;
	font-size: 13px;
	border-radius: 2px;
	border: none;

	&.blue {
		background-color: $editor-blue;
	}

	&.gray, &[disabled] {
		background-color: $editor-grey;
	}
}

#wkPage {
	padding: 18px;
}

textarea {
	margin-top: 18px;

	width: 100%;
	padding: 10px;

	border-radius: 2px;
	border-color: $editor-grey;

	font-family: inherit;
	font-size: 1rem;
	color: $color;
}

#wkMainCnt {
	padding-top: 0;
	border-top: 1px solid #E3E3E3;
}

#wkMdlCnt {
	background-color: #FFF;
	color: $color;
	height: 100%;
	margin: 0;
	width: 100%;

	#mw-content-text {
		padding: 40px 6.25% 145px 6.25%;
		position: absolute;
		min-height: 101%;
		max-width: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}

	h2 {
		margin-top: 0px;
	}
}

#wkSummary {
	display: inline-block;

	height: 36px;
	width: 100%;
	margin-bottom: 14px;
	padding: 10px;

	border: 1px solid $summary-text;
	border-radius: 2px;

	font-size: 13px;
	color: $summary-text;
}

$bar-color: #F0F0F0;
$topbar-text-color: #606060;

#wkMdlTB {
	height: 22px;
	margin: 0;
	vertical-align: middle;
	line-height: 12px;

	background-color: $bar-color;
	background-image: url('/extensions/wikia/WikiaMobileEditor/images/preview_stripe.png'); /* base64 */
	background-repeat: repeat-x;
	background-position: 0 50%;

	color: $topbar-text-color;
	font-size: 12px;
	font-weight: bold;
	text-align: center;

	span {
		padding: 0 8px;
		background-color: $bar-color;
		line-height: 24px;
	}

	.loading & {
		-webkit-animation: loading .5s infinite linear forwards;
		-moz-animation: loading .5s infinite linear forwards;
		-ms-animation: loading .5s infinite linear forwards;
		-o-animation: loading .5s infinite linear forwards;
		animation: loading .5s infinite linear forwards;
	}
}

@-webkit-keyframes loading {
	100% {
		background-position-x: 16px;
	}
}

@-moz-keyframes loading {
	100% {
		background-position-x: 16px;
	}
}

@-ms-keyframes loading {
	100% {
		background-position-x: 16px;
	}
}

@-o-keyframes loading {
	100% {
		background-position-x: 16px;
	}
}

@keyframes loading {
	100% {
		background-position-x: 16px;
	}
}

.action-box {
	padding: 18px;
	width: 100%;
	text-align: center;

	background-color: $bar-color;
	font-size: 13px;
	color: $color;

	&.fixed {
		position: fixed;
		left: 0;
		bottom: 0;
	}
}

.license-brief {
	margin-bottom: 0px;

	line-height: 12px;
	padding-top: 14px;

	font-size: 12px;
}

#wkMdlClo {
	display: none;
}

#wkMdlFtr {
	padding: 0;
}

#wkMobileCancel {
	-webkit-appearance: none;
	display: inline-block;
	line-height: 13px;
}

@media (min-width: 480px) {
	#wkMdlCnt #mw-content-text {
		padding-bottom: 100px;
	}

	#wkSummary {
		margin-bottom: 0;
		min-width: 210px;
		width: 45%;
	}

	#wkSave {
		margin-right: 0;
	}

	.license-brief {
		display: block;
		width: 100%;
	}
}

#editform {
	margin-bottom: 80px;
}

//Hiding unnecesarry elements to make mobile edit as clean as possible
#wkMainCntHdr div,
.mw-newarticletextanon,
.mw-newarticletext,
#mw-anon-edit-warning,
.editOptions,
#editpage-copywarn,
#previewTemplate {
	display: none;
}
