@charset "UTF-8";
@import "extensions/wikia/Venus/styles/mixins";
@import "extensions/wikia/Venus/styles/variables";

@font-face {
	font-family: 'venus-icons-font';
	src: url('/extensions/wikia/Venus/styles/fonts/venus-icons.eot'); /* $wgCdnStylePath */
	src: url('/extensions/wikia/Venus/styles/fonts/venus-icons.eot?#iefix') format('embedded-opentype'), /* $wgCdnStylePath */
		url('/extensions/wikia/Venus/styles/fonts/venus-icons.woff') format('woff'), /* $wgCdnStylePath */
		url('/extensions/wikia/Venus/styles/fonts/venus-icons.svg#venus-icons-font') format('svg'); /* $wgCdnStylePath */
	font-weight: normal;
	font-style: normal;
}

.venus-icon:before,
[data-venus-icon]:before {
	@include venus-icons-font;
}

[data-venus-icon]:before {
	content: attr(data-venus-icon);
}

.venus-icon-toc:before {
	content: $venus-icon-toc;
}
.venus-icon-edit:before {
	content: $venus-icon-edit;
}
.venus-icon-settings:before {
	content: $venus-icon-settings;
}
.venus-icon-share:before {
	content: $venus-icon-share;
}
.venus-icon-reddit:before {
	content: $venus-icon-reddit;
}
.venus-icon-facebook:before {
	content: $venus-icon-facebook;
}
.venus-icon-twitter:before {
	content: $venus-icon-twitter;
}
.venus-icon-googleplus:before {
	content: $venus-icon-googleplus;
}
.venus-icon-tumblr:before {
	content: $venus-icon-tumblr;
}
.venus-icon-pinterest:before {
	content: $venus-icon-pinterest;
}
.venus-icon-vkontakte:before {
	content: $venus-icon-vkontakte;
}
.venus-icon-qzone:before {
	content: $venus-icon-qzone;
}
