#user_masthead {
	background: #d2d2b6;
	font-size: 10pt;
	margin: 2px 2px 0;
	padding: 4px;
}
#user_masthead .avatar {
	background: #FFF;
	border: 1px solid #666;
	float: left;
	height: 50px;
	margin-right: 5px;
	padding: 2px;
	width: 50px;
}
#user_masthead h2 {
	font-size: 14pt;
	margin: 7px 0 3px;
}
#user_masthead li {
	float: left;
	font-size: 9pt;
	font-weight: bold;
	padding: 5px;
}
#user_masthead li.selected {
	background: #f2f2da;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#user_masthead li a {
	color: #333;
}
#user_masthead li a.new {
	color: inherit;
}

div.blog-comm-input {
	background: #d2d2b6;
	height: 108px;
}

div.blog-comm-input .avatar {
	border:1px solid #666666;
	float:left;
	margin:12px 0 0 12px;
}
div.blog-comm-input textarea {
	height:78px;
	margin:12px;
	width:580px;
}

div.blog-comm-input input {
	margin-bottom: 12px;
}

div.blog-comm {
	margin-bottom: 4px;
	display: block;
	clear: both;
}

div.blog-comm li .left {
	width: 70px;
	float: left;
	margin: 0;
}

div.blog-comm li .right {
	float: left;
	margin: 70px;
}

#blog-comments .avatar {
	background: #FFF;
	border: 1px solid #666;
	margin: 4px;
}

#blog-comments li {
	margin: 4px;
	width: 100%;
}
