<section class="form-view">
    <label for="articleurl">{{urlLabel}}</label>
    <input type="text" name="articleurl" maxlength="255" />
    <label for="reason">{{reasonLabel}}</label>
    <textarea name="reason" maxlength="140"></textarea>
</section>
<section class="success-view hidden">
    <p class="success-message">{{successMessage}}</p>
</section>
