@import 'skins/shared/mixins/flexbox';

.contribute-module {
	.tally,
	.buttons {
		display: inline-block;
	}

	.tally {
		float: right;
		white-space: nowrap;

		em {
			float: left;
			font-size: 30px;
			font-style: normal;
			letter-spacing: -1px;
			line-height: 26px;
			margin-right: 2px;
		}

		span {
			float: left;
		}
	}

	.buttons {
		.contribute {
			vertical-align: middle;

			> img {
				height: 18px;
				margin-bottom: 4px;
			}
		}
	}
}
