@import 'skins/shared/mixins/flexbox';

.contribute-module {
	line-height: 35px;
	text-align: center;

	.tally,
	.buttons {
		display: inline-block;
		vertical-align: middle;
	}

	.tally {
		white-space: nowrap;

		em {
			float: left;
			font-size: 30px;
			font-style: normal;
			letter-spacing: -1px;
			line-height: 26px;
			margin-right: 2px;
		}

		span {
			float: left;
		}
	}

	.buttons {
		margin-right: 5px;
		.contribute {
			margin-bottom: 1px;
			vertical-align: middle;

			> img {
				height: 18px;
				margin-bottom: 4px;
			}
		}
	}
}
