@import "../mixins/rail-module";
@import "../mixins/border-radius";
@import "../mixins/clearfix";
@import "../core/color";

.FollowedPagesModule {
	@include rail-module;
	line-height:20px;
	li {
		border-top: 1px solid $color-page-border;
		margin: 0 2px 7px;
		padding-top: 7px;		
		&:first-child {
			border-top: none;
			padding-top: 0px;
		}
	}
	
	.commentslikes { 
		margin-top: 5px; 
	}
	
	img { 
		padding-right: 3px; 
		vertical-align: middle;
	}
	
	h1 {
		margin-top: 0px !important;
		margin-bottom: 14px !important;
	}
	
	a {
		font-size: 12px;
		font-weight: normal;
	}
}
