@import "../core/color";
@import "../core/layout";

.GameStarLogo {
	float: right;
	margin: -3px 0 0 0;
	width: 132px;
	height: 38px;
	background: {
		color: transparent;
		image: url(/skins/oasis/images/logo_gamestar.png); /* $wgCdnStylePath */
		position: center;
		repeat: no-repeat;
	}
}
