@import "../core/color";
@import "../core/layout";

.GameStarLogo {
	float: right;
	margin: -3px -132px 0 0;
	width: 132px;
	height: 38px;
	background: {
		color: transparent;
		image: url(/skins/oasis/images/logo_gamestar.png); /* $wgCdnStylePath */
		position: center;
		repeat: no-repeat;
	}
}

.gamestar-wrapper {
	position: absolute;
	width: 100%;
	.gamestar-container {
		margin: 0 auto;
		position: relative;
		width: $wikiaheader-width;
		.gamestar {
			background-color: $color-header-alt;
			float: right;
			height: 37px;
			margin-right: -132px;
			width: 132px;
		}
	}
}
