@import 'extensions/wikia/Insights/styles/insights-icons-mixin';

$insights-module-gray: #ccc;

.insights-light {
	@include insights-icons-light();
}

.insights-dark {
	@include insights-icons-dark();
}

.insights-module-list {
	margin: 0;
}

.insights-module-item {
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-size: auto 21px;
	border-bottom: 1px solid $insights-module-gray;
	list-style-type: none;
	margin: 0;
	padding: 5px 0;

	&:last-child {
		border-bottom: 0;
	}
}

.insights-module-link {
	display: block;
	padding: 10px 10px 10px 55px;
	text-decoration: none;
}
