@import "../mixins/rail-module";
@import "../mixins/border-radius";
@import "../mixins/clearfix";
@import "../mixins/gradient";
@import "../core/color";

/* FILE: LatestPhotos.scss */

@mixin arrow-style {
	border-style: solid;
	border-width: 9px;
	margin-top: 35px;
	width: 0;
}

.LatestPhotosModule {
	@include rail-module;	

	>h1 {
		display: none;
	}
	
	.tally {
		margin-bottom: 10px;
	}

	.empty-photos {
		border: 1px solid $color-page-border;
		margin-bottom: 10px;
		.temp-image {
			@include clearfix;
			border: 10px solid #FFF;
			height: 96px;
			padding: {
				left: 38px;
				right: 38px;
				top: 24px;
			}
			background: {
				color: #FFF;
				image: url(/skins/oasis/images/empty_gallery.png);
				repeat: no-repeat;
			}
			a {
				@include border-radius(3px);
				background-color: transparentize($color-links, 0.4%);
				border: 1px solid #FFF;
				color: #FFF;
				display: block;
				font: {
					size: 13px;
					weight: normal;
				}
				padding: 8px 14px;
				span {
					display: block;
					margin-top: 3px;
				}
			}
		}
	}
	
	.wikia-button {
		@include clearfix;
		a {
			font-size: 12px;
		}
	}
	
	// /** Chevrons left and right **/
	a {
		&:active {
			outline: none;
		}
		&:-moz-any-link:focus {
			outline: none;
		}
		&.previous {
			height: 82px;
			float: left;
		}
		&.next {
			height: 82px;
			float: right;
		}
	}
	.latest-images-left {
		@include arrow-style;
		border-color: transparent $color-links transparent $color-links;
		border-left-width: 0px;

	}
	.latest-images-right {
		@include arrow-style;
		border-color: transparent transparent transparent $color-links;
		border-right-width: 0px;
	}
	// /** when there are less then 3 images **/
	.hidden {
		visibility: hidden;
	}

	.carousel-container {
		height: 90px;
		left: 5px;
		overflow: hidden; // /** for testing **/
		position: relative;
		width: 258px;
		div {
			position: relative;
		}
	}
	
	ul { // /** id class: .carousel **/
		display: block;
		left: 4px;
		list-style: none;
		width: 500px;
		li {
			border: 1px solid $color-page-border;
			float: left;
			height: 82px;
			margin: {
				right: 2px;
				bottom: 40px;
			}
			width: 82px;
			&.blind {
				border-color: transparent;
			}
			a {
				display: block;
				height: 82px;
				&:hover {
					//@include linear-gradient(transparent, top, rgba($color-page, .0001), 90%, $color-page, 100%);
				}
			}
			img {
				height: 82px;
				opacity: 0.9;
				width: 82px;
				&:hover {
					 opacity: 1;
				}
			}
			&.see-all {
				background: {
					image: url(/skins/oasis/images/empty_gallery.png);
					position: -62px -17px;
					color: #FFF;
				}
				text-align: center;
				a {
					border: 3px solid #FFF;
					font-size: 14px;
					font-weight: bold;
					height: 55px;
					padding-top: 21px;
					width: 76px;
				}
			}
			&.add-more {
				@extend .see-all;	
				a {
					font-size: 11px;
					height: 61px;
					padding-top: 15px;
				}
			}
			&.single-photo {
				a {
					font-size: 45px !important;
					height: 67px;
					padding-top: 9px;
				}
				&:hover {
					text-decoration: none;					
				}
			}
			.thumbcaption {
				display: none;
			}
		}
	}
	
	.more {
		margin-top: 8px;
	}
	p {
		@include clearfix;
		clear: both;
		padding: {
			bottom: 10px;
			top: 5px;
		}
		text-align: center;
	}
	.wikia-button {
		padding: 0 6px;
	}
}