@import "../mixins/clearfix";
@import "../core/color";
@import "../mixins/gradient";


/* FILE: ProfileSync.scss */

// /** adds table to users profiles, .fbconnect-preview-synced-profile only visible during sync **/

.fbconnect-preview-synced-profile {
	border-collapse: collapse;

	margin: {
		left: 5px;
		right: 5px;
	}
	width: 90%;
	
	
	th {
		width: 25%;
		text-align: right;
		padding-right: 10px;
	}
	
	td {
		margin-left: 8px;
		padding-right: 10px;
	}
	
	
	tr {
		th, td {
			padding: {
				top: 4px;
			}
			vertical-align: top;
		}
		
		.remove {
			display: inline-block;
			float: left;
			height: 16px;
			margin: {
				top: 0px;
				left: 3px;
			}
			width: 16px;
			visibility: hidden;
		}
				
		&:hover {
			td, th {
				background-color: $color-page-border;
				border-radius: 2px;
				 
				 .remove {
					 visibility: visible;
				}
				
				
			}
			
			&.submit-column {
				td, th {
					background-color: transparent;
				}
			}
			
			
		}	
	}
	
	
	input {
		color: $color-text;
		margin-left: 5px;
		width: 98%;
	}
	
	textarea {
		@extend input;

		font: {
			family: Helvetica, Arial, Sans-Serif;
			size: 12px;
		}
		
		line-height: 18px;
		
		&[name=fb-interests] {
			height: 100px;
			width: 98%;
		}
	}
	
	input[type=submit] {
		color: #ffffff;
		width: auto;
	}
}