/*
 * These styles are for the Related Videos in article pages
 */
@import 'skins/oasis/css/core/color';
@import 'skins/oasis/css/core/layout';

.videos-module, .videos-module-rail {
	img {
		display: block;
	}
}
.videos-module {
	margin-bottom: 30px;

	&.rows-2 {
		/**
		 * TODO: These following styles are here to handle the overflow in the block grid. After the AB test,
		 * we will have decided whether or not final implementation will have one or two rows, so we can move
		 * this logic to the template rendering in the JS and add a '.hide-for-small' class to the 4th or the
		 * ( 6th + 7th ) thumbs.
		 *
		 * We will have max 2 rows of thumbnails, which at the largest breakpoint, is a max of 8 thumbs.
		 * To handle this for responsive, we will always render a maximum of 8 thumbs, but only show
		 * 6 or 8 based on the current breakpoint context.
		 */
		@media #{$small} {
			li:nth-child(n+7) {
				display: none;
			}
		}
		@media #{$x-large} {
			li:nth-child(n+7) {
				display: block;
			}
		}
	}

	&.rows-1 {
		@media #{$small} {
			li:nth-child(n+4) {
				display: none;
			}
		}
		@media #{$x-large} {
			li:nth-child(n+4) {
				display: block;
			}
		}
	}

	h2 {
		border-bottom: solid 1px $color-headline-border;
		font-size: 18px;
		margin: 30px 0 5px 0;
		overflow: hidden;
	}

	.title-thumbnail {
		// override Foundation bottom padding on block-grid items
		padding-bottom: 0;

		// this fixes a weird bug with the bottom of the image not being
		// lined up with the duration
		img {
			margin-bottom: -3px;
		}
	}

	.wikia-video-thumbnail {
		margin: 0;
		padding: 0;
	}

	.title {
		font-size: 14px;
		height: 60px;
		line-height: 18px;
		padding-top: 11px;
	}
}

.WikiaRail .videos-module-rail {
	&.hidden, .hidden {
		display: none;
	}

	h1 {
		display: block;
		font-size: 20px;
		padding-top: 10px;
		margin-bottom: 13px;
	}

	.thumbnails {

		a:first-of-type {
			margin-bottom: 7px;
		}

		.title {
			font-size: 15px;
			height: 50px;
		}

		.title:last-of-type {
			height: 40px;
		}

		.title a {
			color: $color-text;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				color: $color-links;
			}
		}
	}
}

.oasis-one-column .videos-module {
	@media #{$large} {
		margin-right: $width-rail;
	}
}
