// Inter-wiki search - currently for the SearchV2 extension
// Mixins
@import "../mixins/gradient";
@import "../mixins/bodytext";
@import "../mixins/border-radius";
@import "../mixins/clearfix";

// Oasis Page Modules //
@import "../core/color";

$use-dark-icons: false;
@if lightness($color-buttons) > 50 {
	$use-dark-icons: true;
}

$color-search-form-background: darken($color-page, 5%);
@if $is-dark-wiki {
	$color-search-form-background: darken(lighten($color-page, 20%), 15%);
}

$form-side-padding: 12px;
$form-negative-side-padding: $form-side-padding*-1;

.Search {
	// Search form
	.WikiaSearch {
		background: $color-search-form-background;
		padding: 11px $form-side-padding 0px;
		
		input[type="search"], input[type="text"] {
			height: 24px;
			margin-right: 12px;
			padding: 3px 10px;
			width: 536px;
			background-color: $color-page;
		}
		
		button {
			@include border-radius(3px);
			// needed to override gray search button override (from skins/oasis/css/core/Search.scss)
			@include linear-gradient($color-buttons, top, $color-button-highlight, 35%, $color-buttons, 65%);
			float: right;		
			height: 31px;
			position: static;
			width: 62px;

			&:hover {
				@include linear-gradient(darken($color-buttons, 4%), top, darken($color-button-highlight, 4%), 35%, darken($color-buttons, 4%), 65%);
				text-decoration: none;
			}

			img {
				background: url(/skins/oasis/images/sprite.png) -1055px -80px no-repeat; /* $wgCdnStylePath */
				height: 15px;
				width: 19px;
				@if $use-dark-icons {
					background-position:  -1076px -80px;
				}
			}
		}
		
		p {
			margin-top: 0;
		}
		fieldset {
			border: 0;
			padding: 5px 0;
			margin: 0;
		}
		
		.tabs {
			margin: 24px $form-negative-side-padding 0;
		}
		
		.AdvancedSearch {
			background: $color-page;
			border-bottom: 1px solid $color-page-border;
			margin: 0px $form-negative-side-padding 0;
			padding-bottom: 18px;

			label {
				display: inline-block;
				width: 25%;
				line-height: 23px;
			}
			h3 {
				font-size: inherit;
				margin: 0;
				padding: 14px 0;
			}
		}
	}
	.result-count {
		color: $color-alternate-text;
		margin-bottom: 0;
		text-align: right;
		
		span {
			text-transform: capitalize;
		}
	}
	// TODO: Make this a global style?
	.subtle {
		color: $color-alternate-text;
	}
	.Result {
		@include clearfix;
		margin-bottom: 19px;

		h1 {
			font-size: 16px;
			margin: 0;
		}
		h2 {
			border: none;
			font-size: inherit;
			margin: 0;
			padding: 0;
		}
		nav {
			@include clearfix;

			ul {
				margin: 0;
			}

			li {
				color: $color-alternate-text;
				float: left;
				list-style: none;
				margin: 0;
				
				&:before {
					content: "\00a0|\00a0";
				}

				&:first-child:before {
					content: "";
				}
				
				a {
					color: $color-alternate-text;
					&:hover {
						color: $color-links;
					}
				}
			}
		}
		article {
			@include clearfix;
			line-height: 19px;
		}
		.grouped-result {
			width: 280px; 
			float: left; 
			margin: 9px 0 9px 40px;
			
			h1 {
				font-size: inherit;
			}

			&.new-row {
				clear: left;
			}
		}
		figure {
			float: left;
			margin: 0 10px 5px 0;
		}
	}
	.wikia-paginator {
		padding-top: 5px;
	}
}

.oasis-one-column {
	// Remove this later if we add a right rail
	.WikiaMainContent {
		width: 680px;
	}
}
.inter-wiki-search {
	.WikiaTopAds {
		margin-bottom: 15px;
	}
	.WikiaSearch {
		padding-bottom: 12px;
	}
}
.mw-search-formheader { // Quick style fix for now. Will fix tomorrow
	@include clearfix;
}