@import "../core/layout";
@import "../core/color";
@import "../mixins/box-shadow";

.wikia-tooltip{
	@include box-shadow(-2px, 2px, 12px, mix($color-active-tab-shadow, $color-page, 40%));
	display: none;
	position: absolute;
	/* dirty hack just to force clue to appear over modal windows */
	z-index: 2000001001;
	background-color: $color-page;
	color: $color-text;
	border: 1px solid $color-page-border;
	padding: 10px;
	margin: 3px;
}