@import 'skins/shared/color';

$close-button-background: '/resources/wikia/ui_components/modal/images/close-dark.svg';

@if( $is-dark-wiki ) {
	$close-button-background: '/resources/wikia/ui_components/modal/images/close-light.svg';
}

.spitfires-challenge-experiment {
	border: 1px solid #CCC;

	.close-button {
		background: url($close-button-background);
		background-size: 15px 15px;
		display: block;
		float: right;
		height: 15px;
		margin: 5px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		width: 15px;
	}
}

.spitfires-challenge-experiment-content {
	font-weight: bold;
	font-size: 18px;
	padding: 30px;

	.page-to-edit {
		margin-top: 20px;
	}
	.edit-link {
		margin-left: 10px;
		font-size: 14px;
	}
}
