#cockpit {
	position: relative;
}

#cockpit_wrapper {
	overflow: auto;
	height: 85px;
	position: relative;
}
#widget_cockpit_list {
	position: absolute;
}

#cockpit_close {
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 50px;
	z-index: 2000;
}

body.widgetsAddingBlocked .add {
	cursor: default;
	opacity: 0.5;
}

#widget_sidebar {
	left: 5px;
	position: absolute;
	top: 5px;
	width: 206px;
	/*width: 15.45em;*/
	z-index: 995;
}

#sidebar_1 {
	padding-bottom: 100px;
}

.widget {
	background: #FFF;
	border: 1px solid #AAA;
	color: #000;
	margin-bottom: 10px !important;
	padding: 2px !important;
}

.widget dt {
	cursor: move;
	font-family: tahoma, arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	line-height: 1.2em;
	padding: 3px;
}
.loggedout .widget dt {
	cursor: default;
}
.widget dt.mini {
	font-size: 8pt;
	padding: 2px;
	text-align: center;
}
.widget .widgetToolbox img {
	cursor: pointer;
	float: right;
	margin: 3px 0 0 4px;
}

.widget dd {
	font-size: 9pt;
	padding: 7px;
	margin: 0;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
.widget h1 {
	font-family: tahoma, arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.widget li {
	padding: .15em 0;
}
.widget .widgetViewControl {
	border-bottom: 1px solid #AAA;
	font-size: 9pt;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.widget .widgetMore
{
    padding: 5px 0;
    text-align: right;
    text-transform: lowercase;
}

.widget_loading
{
    height: 30px;
    background-image: url('http://images.wikia.com/common/skins/common/images/ajax.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.widget form label {
    display: inline;
}

.widget form input {
    margin: 3px 0;
    width: 170px;
}

.widget form select {
    margin: 3px 0;
    width: 180px;
}

.widget form input.checkbox,
.widget form input.editor_button {
    width: auto;
    margin: 0 3px;
}

/*** SEARCH/NAVIGATION ***/
#search_box {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(0,0,0,0.06)), color-stop(0.33, rgba(0,0,0,0)), color-stop(0.42, rgba(0,0,0,0)), color-stop(1.0, rgba(0,0,0,0.1)));
	background-position: top left;
	background-repeat: repeat-x;
	padding: 4px;
	position: relative;
}
#searchform {
	background-color: #FFF;
      	background-image: -moz-linear-gradient(top, #BFBFBF 0%, #FFF 40%);
      	background-image: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#BFBFBF), to(#FFF));
	border: 1px solid #039;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#search_field {
	background: transparent;
	border: 0;
	color: gray;
	font-size: 9pt;
	height: 22px;
	line-height: 22px;
	margin: 0;
	padding: 0 3px 0 3px;
	width: 164px;
}
#search_field.field_active {
	color: #000;
}
#search-button {
	border-left: 1px solid #CCC;
	height: 16px;
	margin: 0;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 16px;
}

#navigation * {
	overflow: visible;
}
#navigation .widget {
	margin: 0 !important;
}

.border-fix {
	border-bottom: none !important;
}

.sub-menu {
	border: 1px solid #D4DFD7;
	padding: 5px 0px;
	position: absolute;
	right: -205px;
	top: 0;
	width: 200px;
	z-index: 1000;
}

#navigation .menu-item {
	border-bottom: 1px solid #EEE;
	display: block;
	font-family: Tahoma, arial, sans-serif;
	font-weight: bold;
	height: 1%;
	padding: 0;
	position: relative;
}
#navigation a {
	color: #333;
	display: block;
	height: 1%;
	padding: 3px 5px;
	text-decoration: none;
	overflow: hidden;
}

#navigation .Monaco-sidebar_edit {
	font-size: 80%;
	text-align: right;
}

#navigation .Monaco-sidebar_more {
	text-align: right;
}

.navigation-hover {
	background-color: #e0efff;
}
#navigation em {
	font-family: arial, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	right: 3px;
	top: 0px;
}
#navigation .widget {
	margin: 0;
}

#link_box_table {
	font-size: 8pt;
	font-weight: bold;
	width: 100%;
}

#link_box_table .disabled * {
	filter:alpha(opacity=40);
	opacity: .4;
	cursor: wait;
}

#link_box_table td {
	padding: 1px 4px;
	vertical-align: top;
	overflow: hidden;
}
#link_box_table a {
	background: transparent;
}
#link_box_dynamic .link_box_dynamic_item:first-line {
	line-height: 16px;
}
#link_box_dynamic .link_box_dynamic_item {
	padding: 3px 0;
	position: relative;
}


.yuimenuitemmore a,
.yuimenuitemedit1 a,
.yuimenuitemedit2 a {
	text-align: right;
	font-size: 8pt;
	padding: 2px 2px !important;
}

/*** Link suggest ***/
.link-suggest-container {
	z-index: 1000;
	position: absolute;
	top: 25px;
	left: 5px;
	width: 171px;
}
.yui-ac-content{
	border:1px solid #808080 !important;
	color: #000;
	position: absolute;
	width: 100%;
	background:#fff;
	overflow:hidden;
	z-index:9050;
}
.yui-ac-content ul {
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	list-style-image: none !important;
}
.yui-ac-content li {
	float: none !important;
	font-size: 9pt;
	margin: 0 !important;
	/*padding: 2px 5px !important;*/
	padding: 1px 0px 0px 3px;
	cursor: default;
	white-space: nowrap;
}

/* ie6/7 search suggest issue fix */
#search_box {
	position: relative;
	z-index: 1;
}

#searchSuggestContainer {
	z-index: 20000;
}

/* jQuery search autosuggest */
.autocomplete-w1 {
	left: 0px;
	margin: 8px 0 0 6px;
	position: absolute;
	top: 0px;
	/* IE6 fix: */
	_background:none;
	_margin:0;
}
.autocomplete {
	background: #FFF;
	border: 1px solid #999;
	color: #000;
	cursor: default;
	font-size: 0.9em;
	margin: -6px 6px 6px -6px;
	max-height: 350px;
	overflow: hidden;
	text-align: left;
	width: 170px !important;
	/* IE6 specific: */
	_margin: 0;
}
.autocomplete .selected {
	background: #F0F0F0;
}
.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
}

/* macbre: <widget> */
.widgetTag {
	width: 206px;
	position: static;
}

.widgetTag .widget_title {
	display: none;
}

.widgetTag dl {
	position: relative;
}

/* widget cockpit IE6 fixes */
.widget_sort_placeholder {
	background: transparent;
	border: 1px dashed #AAA;
	margin-bottom: 10px !important;
	padding: 2px !important;
}

/* BARTEK, for AjaxLogin */
#wpName1Ajax, #wpPassword1Ajax,#wpName2Ajax, #wpPassword2Ajax {
	float: left;
	margin-right: 5px;

}

.toolbar {
	border-top-style: solid;
	border-top-width: 1px;
	padding: 3px 5px !important;
}
