.view-thought-links {
	margin:0px 0px 20px 0px;
}

.view-thought-links a {
	text-decoration:none;
	font-weight:bold;
}

.user-status-row {
	padding:0px 0px 10px 0px;
	margin:0px 0px 20px 0px;
}

.user-status-row img {
	vertical-align:middle;
	margin:0px 10px 0px 0px;
}

.user-status-logo {
	float:left;
}

.user-status-message {
	float:left;
}

.who-agrees {
	width:500px;
}

.who-agrees h1 {
	font-size:16px;
	font-weight:bold;
	padding:0px 0px 3px 0px;
	border-bottom:1px solid #dcdcdc;
	margin:0px 0px 10px 0px !important;
}

.who-agrees-row img {
	vertical-align:middle;
	margin:0px 10px 0px 0px;
}

.who-agrees-row {
	margin:0px 0px 5px 0px;
}

.who-agrees-row a {
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

.user-status-date {
	color:#bbbbbb;
	font-size:10px;
	font-weight:bold;
	margin:3px 0px 0px 0px;
}

