<div class="bubbles">
    <div class="bubbles-count notifications-count"></div>
</div>
<a class="notifications-entry-point"></a>
<li id="notifications" class="notifications-container {{#prehide}}prehide{{/prehide}}">
    <ul id="GlobalNavigationWallNotifications" class="WallNotifications global-nav-dropdown">
        <li id="notificationsContainer">
            <ul>
                <li class="notification empty">{{msg-wall-notifications-loading}}</li>
            </ul>
        </li>
    </ul>
</li>
