<form class="WikiaForm">
	<fieldset>
		{{#isChangeBan}}
			<div class="input-group">
				<label>{{expiresLabel}}</label>
				<p class="timeago" title="{{isoTime}}" alt="{{$fmtTime}}">{{$fmtTime}}</p>
			</div>
			<div class="input-group">
				<label>{{expiresChangeLabel}}</label>
				select name="expires">
					{{#expiresOptions}}
						<option value="{{value}}">{{display}}</option>
					{{/expiresOptions}}
				</select>
			</div>
		{{/isChangeBan}}
		{{^isChangeBan}}
			<div class="input-group">
				<label>{{expiresLabel}}</label>
				<select name="expires">
					{{#expiresOptions}}
						<option value="{{value}}">{{display}}</option>
					{{/expiresOptions}}
				</select>
			</div>
		{{/isChangeBan}}
		<div class="input-group">
			<label>{{reasonLabel}}</label>
			<input type="text" name="reason" placeholder="{{reasonPlaceholder}}" maxlength="160">
		</div>
	</fieldset>
</form>
