

.pager {
  padding-left: 4px;
  text-align: right; }

  .pager b {
    padding: 2px;
    font-style: normal;
    font-weight: bold;
    color: #3B5998;
    border-bottom: solid 2px  }
  .pager a {
    font-weight: normal;
    margin: 0px;
    padding: 3px 3px; }
  .pager a:hover {
    color: white;
    margin: 0px;
    padding: 3px 3px;
    background: #3B5998; }

  #toppager a:hover, #bottompager a:hover {
    text-decoration: none; }
  
  #toppager b {
    border-bottom: solid 2px #3B5998; }

  #bottompager b {
    border-bottom: none;
    border-top: solid 2px #3B5998; }
  #bottompager.flip b {
    border-top: none;
    border-bottom: solid 2px #3B5998; }
