.wds-button.facebook-button, .wds-button.facebook-button:hover {
    background-color: #4267b2 !important;
    color: #ffffff;
    border: none;
    box-sizing: border-box;
    width: 25%;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wds-button.facebook-button:hover {
    cursor: pointer;
}

.facebook-state-linked #fbConnectPreferences {
    display: none;
}

.facebook-state-disconnected #fbDisconnectPreferences {
    display: none;
}

.facebook-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 0.5rem;
}

.google-button {
    border-radius: 2px;
    height: 30px;
    margin-top: 20px;
    width: 25%;
}

.twitch-button {
    border-radius: 2px;
    height: 30px;
    margin-top: 20px;
    width: 25%;
}
