.wds-button.facebook-button, .wds-button.facebook-button:hover {
    background: #4b6ea8;
    border: none;
    width: 25%;
    box-sizing: border-box;
}

.wds-button.facebook-button:hover {
    cursor: pointer;
}

.facebook-state-linked #fbConnectPreferences {
    display: none;
}

.facebook-state-disconnected #fbDisconnectPreferences {
    display: none;
}

.google-button {
    width: 25%;
    height: 50px;
}
