//TODO: removed unnecessary imports
@import 'skins/oasis/css/core/color';
@import 'skins/oasis/css/mixins/box-shadow';
@import 'skins/oasis/css/mixins/box-sizing';
@import 'skins/oasis/css/mixins/gradient';
@import 'skins/oasis/css/mixins/menus';
@import 'skins/oasis/css/mixins/placeholder';
@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'GlobalNavigationColors';

.account-navigation-container {
	@include grid-column-width('large', 1, $large-grid-gutter + $large-content-padding - 1px);
}

.AccountNavigation {
//	display: table;
	margin: 0;
	padding: 0;
	width: 100%;

	> li {
		@include box-sizing;
		border: 0;
//		display: table-row;
		list-style: none;
		margin-top: 0;
		padding: 0;
		position: absolute;

		&.nohover:hover {
			background: transparent;
		}

		&:hover {
			background: none;

//			.bubbles.reddot {
//				background-color: $menu-hover-bg-color;
//			}

			.chevron {
				border-top-color: $nav-active-color;
			}
		}

		> a {
			@include grid-column-width('large', 1, $large-grid-gutter + $large-content-padding - 2px);

			// this part is for the message count (wall) notifications
			.bubbles.reddot {
				background-color: #fff;
				border-radius: 9px;
				height: 18px;
				left: 32px;
				position: absolute;
				top: 16px;
				width: 19px;

				#bubbles_count {
					background: red;
					border-radius: 8px;
					float: none;
					font-size: 12px;
					left: 2px;
					line-height: 14px;
					padding: 0 4px;
					position: relative;
					text-align: center;
					top: -3px;
				}
			}
		}

		.chevron {
			border-style: solid;
			border-top-color: $nav-alternative-color;
			border-width: 5px;
			color: transparent;
			margin-top: 18px;
		}

		.avatar {
			border: 0;
			border-radius: 50%;

			rect {
				fill: $nav-alternative-color;
			}
		}

		.avatarContainer {
			border-radius: 50%;
			float: left;
			height: 36px;
			margin: 0 6px 0 38px;
			width: 36px;
		}

		.login-text {
			display: none;
		}
	}

	.user-menu {
		@include grid-column-width('large', 2, $large-content-padding);
		border: 1px solid $nav-alternative-color;
		padding: 0;
		display: none;
		display: table;
		font-size: 15px;
		position: relative;
		right: $large-grid-column + 1px;

		&.show {
			display: table;
		}

		li {
			display: table-row;
			list-style: none;
			height: 51px;

			a {
				background-color: $nav-background-color;
				border-top: 1px solid $nav-alternative-color;
				display: table-cell;
				padding: 15px 20px;
				text-decoration: none;
				vertical-align: middle;
				word-break: break-all;

				&:hover {
					background-color: $dropdown-font-color;
					color: $nav-background-color;
				}
			}

			&:first-child a {
				border-top: 0;
			}
		}
	}
}

@media #{$small-only} {
	.account-navigation-container {
		@include grid-column-width('small', 1, $small-grid-gutter + $small-content-padding - 1px);
	}

	.AccountNavigation {
		> li {
			> a {
				@include grid-column-width('small', 1, $small-grid-gutter + $small-content-padding - 2px);
			}

			.avatarContainer {
				margin-left: $small-grid-column-padding + $small-grid-gutter;
			}
		}

		.user-menu {
			@include grid-column-width('small', 3, $small-content-padding);
			right: 2 * $small-grid-column + $small-grid-gutter + 1px;
		}
	}
}

@media #{$medium-only} {
	.account-navigation-container{
		@include grid-column-width('medium', 1, $medium-grid-gutter + $medium-content-padding - 1px);
	}

	.AccountNavigation {
		> li {
			> a {
				@include grid-column-width('medium', 1, $medium-grid-gutter + $medium-content-padding - 2px);
			}

			.avatarContainer {
				$width: $medium-grid-gutter + $medium-grid-column + $medium-content-padding - 1px;
				margin-left: $width - $medium-content-padding - $medium-grid-column-padding - 42px;
			}
		}

		.user-menu {
			@include grid-column-width('medium', 2, $medium-content-padding);
			right: $medium-grid-column + 1px;
		}
	}
}
