@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/typographyMixins';
@import 'skins/shared/color';
@import 'skins/shared/mixins/blackout';
@import 'skins/shared/mixins/chevron';
@import 'skins/shared/mixins/columns';
@import 'GlobalNavigationColors';

.global-navigation {
	line-height: 23px;
}

.hubs-entry-point {
	background-image: url('/extensions/wikia/GlobalNavigation/images/hubs_entry_point.svg'); /* base64 */
	background-position: 16px center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0 9px 0 38px;

	&:after {
		border: 5px solid $nav-background-color;
		border-top-color: $nav-border-color;
		content: ' ';
		display: inline-block;
		margin-top: 12px;
	}
}

.global-navigation-item.active {
	.hubs-menu {
		display: block;
	}

	.hubs-entry-point:after {
		border-top-color: $nav-foreground-dark-color;
	}
}

.transparent-out {
	@include blackout(rgba(1, 1, 1, 0));

	&.visible {
		z-index: $blackout-z-index;
	}
}

.hubs-menu {
	background-color: $hubsmenu-background-color;
	border: 1px solid $nav-border-color;
	color: $nav-foreground-dark-color;
	display: none;
	height: 436px;
	left: -1px;
	position: absolute;
	top: $global-navigation-height;
	width: 768px;

	a {
		color: $nav-foreground-dark-color;
	}

	.hub-list {
		float: left;
		width: 256px;

		&.backface-off {
			*, *:before, *:after {
				-webkit-backface-visibility: hidden;
			}
		}
	}

	.hub-link {
		background-color: $nav-background-color;
		cursor: pointer;
		display: block;
		height: 62px;
		line-height: 62px;
		position: relative;

		&.active {
			color: $nav-background-color;
			font-weight: bold;

			&:before {
				border-radius: 50%;
				content: ' ';
				height: 50px;
				left: 16px;
				position: absolute;
				top: 6px;
				width: 50px;
			}

			&:after {
				background-color: $hubsmenu-background-color;
				border-color: transparent;
				border-style: solid;
				border-width: 31px 0 31px 12px;
				height: 0;
				width: 0;
			}

			.icon {

				&:after {
					background-color: transparent;
				}
			}

			.label {
				background-color: transparent;
				border: 0;
				height: 62px;
			}
		}

		&:after {
			background-color: $hubsmenu-background-color;
			content: ' ';
			float: right;
			height: 62px;
			width: 12px;
		}

		.icon {
			background-position: 15px center;
			background-repeat: no-repeat;
			display: inline-block;
			float: left;
			height: 62px;
			position: relative;
			width: 102px;

			&:after {
				background-color: $nav-background-color;
				content: ' ';
				display: inline-block;
				float: right;
				height: 62px;
				width: 20px;
			}
		}

		.label {
			@include font-size-l;
			background-color: $nav-background-color;
			border-bottom: 1px solid $hubsmenu-background-color;
			display: inline-block;
			float: left;
			height: 62px;
			width: 142px;
		}
	}

	section {
		@include column-count(2);
		@include column-rule(1px outset $nav-border-color);
		@include column-gap(36px);
		@include font-size-s;
		display: none;
		float: left;
		line-height: 17px;
		padding-left: 22px;
		width: 464px;

		&.active {
			display: block;
		}

		h2 {
			@include font-size-s;
			display: inline-block;
			font-weight: bold;
			line-height: 17px;
			margin: 0;
			padding: 21px 0 5px;
		}

		a {
			display: block;
			padding: 7px 0 6px;

			&.more {
				@include right-chevron();
				@include font-size-base;
				bottom: 40px;
				font-weight: bold;
				left: 278px;
				position: absolute;

				&:after {
					margin-left: 6px;
				}
			}
		}
	}

	.books {
		background: linear-gradient(to right, $color-vertical-books 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-books-secondary;
			}

			&:after {
				border-left-color: $color-vertical-books;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/books.svg'); /* base64 */
		}
	}

	.comics {
		background: linear-gradient(to right, $color-vertical-comics 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-comics-secondary;
			}

			&:after {
				border-left-color: $color-vertical-comics;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/comics.svg'); /* base64 */
		}
	}

	.games {
		background: linear-gradient(to right, $color-vertical-games 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-games-secondary;
			}

			&:after {
				border-left-color: $color-vertical-games;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/games.svg'); /* base64 */
		}
	}

	.lifestyle {
		background: linear-gradient(to right, $color-vertical-lifestyle 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-lifestyle-secondary;
			}

			&:after {
				border-left-color: $color-vertical-lifestyle;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/lifestyle.svg'); /* base64 */
		}
	}

	.movies {
		background: linear-gradient(to right, $color-vertical-movies 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-movies-secondary;
			}

			&:after {
				border-left-color: $color-vertical-movies;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/movies.svg'); /* base64 */
		}
	}

	.music {
		background: linear-gradient(to right, $color-vertical-music 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-music-secondary;
			}

			&:after {
				border-left-color: $color-vertical-music;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/music.svg'); /* base64 */
		}
	}

	.tv {
		background: linear-gradient(to right, $color-vertical-tv 99%, $hubsmenu-background-color);

		&.active {
			&:before {
				background-color: $color-vertical-tv-secondary;
			}

			&:after {
				border-left-color: $color-vertical-tv;
			}
		}

		.icon {
			background-image: url('/extensions/wikia/GlobalNavigation/images/tv.svg'); /* base64 */
		}
	}
}

@media #{$small-only} {
	.hubs-menu {
		.hub-link {
			&.active {
				&:before {
					left: 10px;
				}
			}

			.icon {
				background-position: 10px center;
				width: 90px;
			}

			.label {
				width: 154px;
			}
		}
	}
}

@media #{$large-up} {
	.hubs-entry-point {
		padding-right: 23px;
	}

	.hubs-menu {
		width: 788px;

		.hub-list {
			width: 302px;
		}

		.hub-link {
			&.active {
				&:before {
					left: 20px;
				}
			}

			.icon {
				background-position: 20px center;
				width: 123px;

				&:after {
					width: 33px;
				}
			}

			.label {
				width: 167px;
			}
		}

		section a.more {
			left: 324px;
		}
	}
}
