@import "GlobalNavigationColors";
@import "../../Venus/styles/mixins";
@import "../../Venus/styles/variables";

.search-form-wrapper {
	display: table;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	.search-form {
		display: table-row;
		width: 100%;
	}
	.search-label-bold {
		color: $nav-active-color;
		font-weight: bold;
		padding-left: 16px;
		width: 0;
	}
	.search-label-inline {
		color: $nav-alternative-color;
	}
	.table-cell {
		display: table-cell;
		white-space: nowrap;
	}
}

.search-select-wrapper {
	padding-right: 14px;
	padding-left: 5px;
	position: relative;
	width: 0;
	.search-select {
		border: none;
		cursor: pointer;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top:0;
	}
	.chevron {
		border-style: solid;
		width: 0;
	}
	.search-select-overlay {
		display: inline-block;
		.chevron {
			border-color: $nav-background-color;
			border-width: 5px;
			border-top-color: $nav-alternative-color;
			margin-top: 14px;
			margin-left: 2px;
			position: relative;
			top: 2px;
			&.dark {
				border-top-color: $nav-active-color;
			}
		}
	}
}

.global-nav-search-input-wrapper {
	position: relative;
	width: 100%;
	.search-input {
		background-color: $search-input-background;
		border: none;
		border-radius: 2px;
		color: $nav-active-color;
		font-size: 16px;
		font-weight: bold;
		height: 36px;
		padding-left: 10px;
		padding-right: 39px;
		width: 100%;
	}
	.search-submit {
		background-color: transparent;
		background-image: url("/extensions/wikia/GlobalNavigation/images/search_icon.svg"); /* base64 */
		background-size: 100% 100%;
		border: 0;
		height: 18px;
		padding: 0;
		position: absolute;
		top: 9px;
		width: 20px;
	}
}

.search-container {
	@include grid-attribute-size('width', 7.5, 7, 7);
}

@media #{$small-only} {
	.global-nav-search-input-wrapper {
		padding-right: $small-grid-gutter + $small-content-padding;
		.search-submit {
			right: 34px;
		}
	}
}

@media #{$medium-only} {
	.global-nav-search-input-wrapper {
		padding-right: $medium-grid-gutter + $medium-content-padding;
		.search-submit {
			right: 38px;
		}
	}
}

@media #{$large-up} {
	.global-nav-search-input-wrapper {
		padding-right: $large-grid-gutter + $large-content-padding;
		.search-submit {
			right: 42px;
		}
	}
}
