@import "../../Venus/styles/variables";
@import "skins/oasis/css/core/color";
@import "skins/oasis/css/mixins/columns";
@import "GlobalNavigationColors";

.hubs-entry-point {
	background-image: url("/extensions/wikia/GlobalNavigation/images/hubs_entry_point.svg"); /* base64 */
	background-position: 0 center;
	background-repeat: no-repeat;
	padding: 0 9px 0 22px;

	&:after {
		border: 5px solid $nav-background-color;
		border-top-color: $nav-border-color;
		content: " ";
		display: inline-block;
	}
}

.hubs-menu {
	background-color: $hubsmenu-background-color;
	border: 1px solid $nav-border-color;
	border-top: 0;
	color: $nav-active-color;
	position: absolute;
	top: $global-navigation-height + 1px;
	width: 768px;

	a {
		color: $nav-active-color;
	}

	.hubs {
		float:left;
		width: 268px;
	}
	nav {
		background-color: $nav-background-color;
		font-size: 0;
		height: 62px;
		line-height: 62px;

		&.active {
			color: $nav-background-color;
			font-weight: bold;

			&:after {
				background-color: $hubsmenu-background-color;
				border: 31px solid transparent;
				border-width: 31px 12px;
			}

			.icon {
				&:before {
					background-color: rgba(0, 0, 0, 0.3);
					border-radius: 50%;
					content: " ";
					left: 16px;
					width: 50px;
					height: 50px;
					position: absolute;
					top: 6px;
				}

				&:after {
					background-color: transparent;
				}
			}

			.label {
				border: 0;
				background-color: transparent;
			}
		}

		&:after {
			background-color: $hubsmenu-background-color;
			content: " ";
			float: right;
			height: 62px;
			width: 24px;
		}

		.icon {
			background-position: 15px center;
			background-repeat: no-repeat;
			display: inline-block;
			float: left;
			height: 62px;
			position: relative;
			width: 102px;

			&:after {
				background-color: $nav-background-color;
				content: " ";
				display: inline-block;
				float: right;
				height: 62px;
				width: 20px;
			}
		}

		.label {
			background-color: $nav-background-color;
			border-bottom: 1px solid $hubsmenu-background-color;
			display: inline-block;
			font-size: 18px;
			height: 62px;
			width: 142px;
		}
	}

	section {
		@include column-count( 2 );

		float: left;
		font-size: 15px;
		padding-left: 10px;
		width: 464px;

		h2 {
			font-size: 15px;
			font-weight: bold;
			margin: 0;
			padding: 21px 0 5px;
		}

		a {
			display: block;
			padding: 7px 0 6px;
		}
	}

	.books {
		background-color: $color-vertical-books;

		&.active {
			&:after {
				border-left-color: $color-vertical-books;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/books.svg"); /* base64 */
		}
	}
	.comics {
		background-color: $color-vertical-comics;

		&.active {
			&:after {
				border-left-color: $color-vertical-comics;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/comics.svg"); /* base64 */
		}
	}
	.games {
		background-color: $color-vertical-games;

		&.active {
			&:after {
				border-left-color: $color-vertical-games;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/games.svg"); /* base64 */
		}
	}
	.lifestyle {
		background-color: $color-vertical-lifestyle;

		&.active {
			&:after {
				border-left-color: $color-vertical-lifestyle;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/lifestyle.svg"); /* base64 */
		}
	}
	.movies {
		background-color: $color-vertical-movies;

		&.active {
			&:after {
				border-left-color: $color-vertical-movies;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/movies.svg"); /* base64 */
		}
	}
	.music {
		background-color: $color-vertical-music;

		&.active {
			&:after {
				border-left-color: $color-vertical-music;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/music.svg"); /* base64 */
		}
	}
	.tv {
		background-color: $color-vertical-tv;

		&.active {
			&:after {
				border-left-color: $color-vertical-tv;
			}
		}
		.icon {
			background-image: url("/extensions/wikia/GlobalNavigation/images/tv.svg"); /* base64 */
		}
	}
}

@media #{$small-only} {
	.hubsmenu {
		.hubs {
			nav {
				&.active {
					.icon {
						&:before {
							left: 10px;
						}
					}
				}

				.icon {
					background-position: 10px center;
					width: 90px;
				}

				.label {
					width: 154px;
				}
			}
		}
	}
}

@media #{$large-up} {
	.hubs-entry-point {
		padding-right: 23px;
	}

	.hubsmenu {
		.hubs {
			width: 302px;
			nav {
				&.active {
					.icon {
						&:before {
							left: 20px;
						}
					}
				}

				.icon {
					background-position: 20px center;
					width: 123px;

					&:after {
						width: 33px;
					}
				}

				.label {
					width: 155px;
				}
			}
		}
	}
}
