$nav-background-color: #fff;
$nav-background-hover-color: #eef1f3;
$nav-foreground-dark-color: #092140;
$nav-foreground-bright-color: #0a5fa3;
$nav-foreground-alternative-color: #666;
$nav-border-color: #c8d2d7;
$hubsmenu-background-color: #f7f7f7;
$signup-background-hover-color: #0c76cc;
$facebook-background-color: #3c5b9b;
$facebook-background-hover-color: #446597;
$facebook-button-divider-color: #6381b4;
