.search-form-wrapper {
	box-sizing: border-box;
	&:after, &:before, * {
		box-sizing: border-box;
	}
	.chevron {
		vertical-align: baseline;
	}
}

.search-select-wrapper {
	vertical-align: baseline;
	.search-select {
		color: inherit;
		font: inherit;
		margin: 0;
	}
}

.autocomplete {
	border-radius: 0;
	box-shadow: none;
	padding: 0;

	div {
		font-size: 15px;
		line-height: 18px;
	}
}
