@import "main";

body.mainpage h1#firstHeading,
#content .printfooter,
#column-one,
#footer,
#siteSub,
#contentSub,
#jump-to-nav,
div.picture-attribution,
#content .toc,
div.magnify,
.sprite,
.sprite-small,
#bodyContent > div.main-page-tag-rcs,
#siteNotice,
.editsection {
	display: none;
}

#bodyContent > div.main-page-tag-lcs{
	float: none;
	margin-right: 0 !important;/* is an inline style, no other way to force that, sorry ;) */
}

#bodyContent > div.main-page-tag-lcs > div {
	margin-right: 0 !important;/* is an inline style, no other way to force that, sorry ;) */
}

#column-content .mobile-header {
	background: #3A5766;
	padding: 0.2em;
}
#column-content .mobile-header >img {
	background: url(/skins/wikiaphone/sprite.png) no-repeat 0 0; /* $wgCdnStylePath */
	height: 18px;
	margin: 0.1em 0 0.2em 0.3em;
	width: 72px;
}
#column-content .mobile-header >a.wikia-button,
#column-content .mobile-header form {
	position: relative;
}
#column-content .mobile-header >a.wikia-button,
#bodyContent .showbutton {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.35, #E8E8E8), color-stop(0.65, whiteSmoke)) #F2F2F2;
	border: 1px solid #A5CBE3;
	border-radius: 4px;
	color: black;
	float: right;
	font-size: 60%;
	padding: 0.2em 0.4em;
	text-decoration: none;
	top: 0.4em;
}
#bodyContent .showbutton {
	float: none;
	font-weight: normal;
	margin-left: 0.5em;
	position: relative;
	top: -0.2em;
}
#column-content .mobile-header form {
	display: block;
	float: right;
	top: 0.1em;
}
#column-content .mobile-header form input {
	border: none;
	font-size: 0.7em;
	height: 1.5em;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-appearance: none;
}
#column-content .mobile-header input {
	border-radius: 0;
}
#column-content .mobile-header input[type=image] {
	background: url(/skins/wikiaphone/sprite.png) no-repeat -75px -1px white; /* $wgCdnStylePath */
	border-left: 1px solid #A5CBE3;
	height: 12px;
	padding: 0.2em 0;
	top: -0.09em;
	width: 19px;
}
#column-content .mobile-header input[type=text] {
	padding-left: 0.3em;
	right: -0.4em;
	top: -0.1em;
}
#column-content .mobile-wikiname {
	border-bottom: 1px solid #D9D9D9;
	font-size: 188%;
	font-weight: bold;
	padding-left: 0.2em;
}
#column-content .mobile-wikiname a {
	color: #006CB0;
	text-decoration: none;
}
#content {
	padding-left: 0.6em;
	padding-right: 0.6em;
}
h1 {
	border-bottom: none;
	margin: 0;
	padding: 0;
}
.wikia-gallery {
	font-size: 50%;
	zoom: 250%;
}
.wikia-gallery .wikia-gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: auto !important;
}
.wikia-gallery .wikia-gallery-item .lightbox-caption {
	padding-left: 0.5em;
}
.wikia-gallery .thumb {
	margin-left: 0;
}
a,
a:visited {
	color: #0148c2;
	text-decoration: none;
}
#content {
	zoom: 37%;
}
#bodyContent .infobox {
	width: 10em !important; /* explicit overwrite */
	zoom: 50%;
}
#bodyContent h2 {
	font-size: 1.1em;
	font-weight: bold;
}
#catlinks {
	margin-top: 0.5em;
}
div.floatright, 
table.floatright,
div.tright {
	margin-left: 0.5em;
}
#bodyContent .wikia-gallery{
	zoom: 130%;
}
#fullsite {
	font-size: 0.9em;
	margin-top: 0.5em;
	text-align: center;
}
.main-page-tag-lcs .tabber {
	display: block;
}
.tright, .tleft {
	border: solid silver;
}
.thumbinner {
	background-color: #f9f9f9;
	border: 0.2em solid #ccc;
	padding: 3px;
}
.thumbimage {
	border: 1px solid #ccc;
}
.thumbcaption {
	font-size: 90%;
}