<div class="sitemap-page">
    <table class="sitemap-page-table">
        {{#header}}
            <tr>
                <th>{{ title }}</th>
                <th>{{ language }}</th>
                <th>{{ vertical }}</th>
                <th>{{ description }}</th>
            </tr>
        {{/header}}
        {{#wikis}}
            <tr>
                <td><a class="title" href="{{ url }}">{{ title }}</a></td>
                <td>{{ language }}</td>
                <td>{{ vertical }}</td>
                <td>{{ description }}</td>
            </tr>
        {{/wikis}}
    </table>
    {{{ pagination }}}
</div>
