@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";

.EditHubFooterGradient {
	height: 5px;
	margin: 10px 0;
	@include linear-gradient(null, top, mix($color-page, $color-page-opposite, 94%), 0, $color-page, 100%);
}

.EditHubFooter {
	float: right;
	@include clearfix;
	margin-bottom: 50px;

	input {
		margin-right: 10px;
	}
}
