#sectionUserPathPrediction {
  border: 1px solid maroon;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 5px;
}

table {
  position: relative;
  top: 30px;
  margin: auto;
  border: 1px dotted black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 90%;
  th {
    background-color: #333;
  }
  td {
    padding: 5px;
  }
  tr {
      border-bottom: 1px dotted black;
      &:nth-child(even) {
        background-color: #222;
      }
    } 
}

footer {
  padding: 10px;
  li {
  padding: 5px;
  }
}

canvas {
  width: 200px;
  height: 200px;
}


