body {
	margin:0;
	padding:0;
}

#ub-layer-logo {
	width:80px;
	padding:0;
	height:80px;
	margin:-15px 0 0 5px;
	position:relative;
}
#ub-layer-title {
	position:relative;
	text-align:right;
	color:#fff;
	height:20px;
	margin: 0 0 0 auto;
	font-family:Verdana;
	font-weight:bold;
	font-size:10pt;
	padding:0px 5px;
}
#ub-layer-title div {border: 0px; height: 18px; }
#ub-layer-username-title { 
	font-family:Verdana; 
	font-weight:bold; 
	font-size:10pt;
	margin:-1px 95px 2px;
	position:relative;
	white-space:nowrap;
}
#ub-layer-username-url {
	margin:-4px 95px 0;
	position:relative;
	font-family:Arial,"Trebuchet MS";
	font-weight:normal;
	font-size:17px;
	color:#1B00FF;
	font-style:underline; 
	white-space:nowrap;
}
#ub-layer-edits-title { 
	font-family:Verdana;
	font-weight:bold;
	font-size:10pt;
	margin:1px 95px 2px;
	position:relative;
}
#ub-layer-edits-value {
	margin:-5px 95px 0;
	position:relative;
	font-family:Arial;
	font-weight:normal;
	font-size:17px;
	color:#000000; 
}
#ub-layer-wikia-title {
	width:56px; 
	padding:0 5px;
	height:15px;
	margin:-20px 0 0 auto;
	position:relative;
}
.user-badges-canvas { 
	background-color:transparent;
	border:1px solid #000000;
	padding:0px;
	width:300px;
	height:90px;
	text-align:left;
	position:relative;
}
#user-badges-title {
	padding:0px;
	background-color:#0C4620;
	height:20px;
	top:0px;
	width:300px;
	position:absolute;
}
#user-badges-body {
	padding:0px;
	background-color:#FFFFFF;
	height:70px;
	padding-top:20px;
	width:300px;
	clear:both;
}
#color-picker-panel {
	position: relative;
	display: block;
}
.wk-badge-fieldset {
	padding: 1px 5px; 
	margin: 1px;
	height: 240px;
	width: 300px;
} 
.wk-badge-fieldset legend {
	padding: 0px 5px;
}
.wk-badge-fieldset-code {
	padding: 1px 5px; 
	margin: 5px 2px;
} 
.wk-badge-fieldset-code legend {
	padding: 0px 5px;
}
.wk-badge-button {
	width:60px;
	border:1px solid #BFB399;
	margin: 0px 6px;
	cursor: pointer;
	outline: none;
}
.wk-badge-button-bg {
	border:1px none #BFB399;
	padding:5px;
}
.wk-badge-label {
	color:#000000; 
}
#ub_configurator-href {
	cursor:pointer;
}

/* IE6 fix */
* html .yui-picker-bg {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://images.wikia.com/skins/common/yui_2.5.2/colorpicker/assets/picker_mask.png', sizingMethod='scale');
}

* html .yui-picker-controls ul {
	width: 60px;
}

.yui-picker-controls li {
	height:22px;
	padding:0;
}
#yui-picker-panel { visibility:hidden; }

#yui-picker-panel .bd {
	height: 200px;
}
#yui-picker-panel .bd .bd {
	height: auto;
}

/* container.css */
.yui-panel .hd {
	background:transparent url('http://images.wikia.com/skins/common/yui_2.5.2/assets/skins/sam/sprite.png') repeat-x scroll 0 -200px;
	color:#000000;
	font-size:93%;
	font-weight:bold;
	line-height:2;
	padding:0 10px;
}
.yui-panel .hd { border-bottom:1px solid #CCCCCC; }
.yui-panel .hd, .yui-panel .bd, .yui-panel .ft {
	border-color:#808080;
	border-style:solid;
	border-width:0 1px;
	margin:0 -1px;
}

.yui-panel .bd { padding:10px; }
.yui-panel .bd, .yui-panel .ft { background-color:#F2F2F2; }
.yui-panel .hd, .yui-panel .bd, .yui-panel .ft { 
	border-color:#808080; 
	border-style:solid;
	border-width:0 1px;
	margin:0 -1px;
}

.yui-panel .bd {
	position:static;
	padding:1em;
	z-index:1; 
	zoom:1;
}

.yui-panel .bd .bd {
	padding:0; 
	position:static;
}

.yui-picker-controls a {
	-x-system-font:none;
	color:#000000;
	display:block;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:0;
}

.yui-dialog .ft .button-group { display:block; text-align:right; }
.yui-dialog .ft { font-size:100%; }
.yui-panel .ft { font-size:95%; }
.yui-panel .hd, .yui-panel .bd, .yui-panel .ft { border-style:solid; font-size:11px; }
.yui-panel { border-style:solid; }
.yui-dialog .ft span.default { background-position:0 -1400px; border-color:#304369; }
.yui-dialog .ft span.default .first-child { border-color:#304369; }
.button-group button { font-size: 96%; }
.yui-picker-controls { font-size:11px; }
.yui-picker-hex-controls input { width:50px; }

.yui-picker-rgb-controls,
.yui-picker-hex_summary,
.yui-picker-hsv-controls { 
	margin-top: 2px;
	float:left;
	margin:0;
	padding:0 2px 0 0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0.7em;
	margin-left:30px;
}

.yui-picker-rgb-controls input {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	margin:0;
	padding:0;
	width:30px;
}
