#EditPage {
	@include clearfix;
	background: $color-epl-gradient-solid;
	overflow: hidden;
	position: relative;

	// trick to overcome reseting CSS from Oasis core
	b {
		font-weight: bold;
	}
	i {
		font-style: italic;
	}

	// fix for BugId:10773
	&:after {
		display: none;
	}
}

#EditPageMain {
	float: left;
	width: $width-outside - $width-rail-epl;
}

#EditPageEditorWrapper {
	padding-left: 10px;
}

#EditPageEditor {
	margin-top: 1px;
	// source mode tweak
	textarea {
		@include epl-editorarea;
		border: 0;
		margin: 0;
		padding: 0;
	}
}

#EditPageHiddenFields {
	display: none;
}

#editform {
	position: relative;
}
