// hardcoded button colors
#EditPage {
	.module_page_controls {
		.wikia-menu-button,
		input[type="submit"] {
			@include linear-gradient(#006CB0, top, #2094DD, 35%, #006CB0, 65%);
			border-color: #006CB0;
			color: #fff;

			&:hover {
				@include linear-gradient(#082860, top, #1D88CB, 35%, #005F9C, 65%);
			}

			&:active {
				@include linear-gradient(#006CB0, top, #005F9C, 35%, #1D88CB, 65%);
			}

			&.secondary {
				@include linear-gradient(#F2F2F2, top, #fff, 35%, #F2F2F2, 65%);
				border-color: #D9D9D9;
				color: #3A3A3A;

				&:hover {
					@include linear-gradient(#e8e8e8, top, #f5f5f5, 35%, #e8e8e8, 65%);
				}

				&:active {
					@include linear-gradient(#e8e8e8, top, #e8e8e8, 35%, #f5f5f5, 65%);
				}

				ul {
					background: #fff;
					border-color: #D9D9D9;
					a {
						color: #3A3A3A;
						&:hover {
							background-color: #cce1ef;
						}
					}
				}
				> li > a {
					border-right-color: #D9D9D9;
					color: #3A3A3A;
				}
			}
		}
	}
}

// fixes for dark themes follow...
.oasis-dark-theme {
	#EditPageHeader {
		background: #3a3a3a;
	}

	#EditPageEditorWrapper {
		background-color: #3a3a3a;
	}

	#EditPageEditor {
		border-left-color: #888;

		.gap {
			background-color: #3a3a3a;
			border-color: #888;
		}
	}

	// BugId:7021
	.editpage-intro {
		> .editpage-intro-wrapper > div {
			background-color: #4b4b4b;
		}
		> .expand {
			background-color: #070707;
		}
	}
}
