.editpage-intro {
	border-color: $color-epl-gradient-border;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	margin-bottom: 10px;
	position: relative;

	// scroll area
	> .editpage-intro-wrapper {
		max-height: 80px;
		overflow: hidden;

		// preload content
		> div {
			@include bodytext;
			background-color: #e7f0f9;
			color: $color-text;
			padding: 5px;
		}

		// links
		a {
			color: $color-epl-header-links;
		}
	}

	// expanded state
	&.expanded {
		> .editpage-intro-wrapper {
			max-height: 150px;
			overflow: auto;
			> div {
				// give space for "less" link
				padding-bottom: 35px;
			}
		}
	}

	// expand link
	> .expand {
		@include opacity(80);
		background-color: lighten(#e7f0f9, 80%);
		bottom: 5px;
		color: $color-links;
		cursor: pointer;
		display: none;
		font-size: 11px;
		position: absolute;
		padding: 5px;
		right: 20px;
		&:hover {
			text-decoration: none;
		}
		> label {
			cursor: pointer;
		}
		> span {
			font-size: 15px;
			font-weight: bold;
		}
	}
}

// margin fix for "narrow" source mode
.mode-source.editpage-sourcewidemode-off {
	.editpage-intro {
		margin-right: 0;
	}
}