.editpage-intro {
	position: relative;

	// scroll area
	> .editpage-intro-wrapper {
		max-height: 80px;
		overflow: hidden;
		color: #3a3a3a;

		// preload content
		> div {
			@include bodytext;
			background-color: #e7f0f9;
			padding: 5px;
		}

		// links
		a {
			color: #006cbd !important;
		}
	}

	// expanded state
	&.expanded {
		> .editpage-intro-wrapper {
			max-height: 150px;
			overflow: auto;
		}
	}

	// expand link
	> .expand {
		bottom: 5px;
		color: #000;
		cursor: pointer;
		display: none;
		font-size: 11px;
		position: absolute;
		right: 20px;
		&:hover {
			text-decoration: none;
		}
		> label {
			cursor: pointer;
		}
		> span {
			font-size: 15px;
			font-weight: bold;
		}
	}
}

// margin fix for "narrow" source mode
.mode-source.editpage-sourcewidemode-off {
	.editpage-intro {
		margin-right: 0;
	}
}