#EditPageDialog {
	.loading {
		left: 50%;
		position: absolute;
		top: 50%;
	}
	&.preview {
		.modalContent {
			border-color: transparent;
			padding: 0;
			.ArticlePreview {
				border: 1px solid $color-page-border;
				overflow-y: scroll;
				min-height: 320px;
				padding: 6px 12px;
			}
		}
		.modalToolbar {
			float: right;
			padding: 13px 0 0 0;
		}
	}
}
#EditPagePreviewEditSummary {
	display: table-cell;
	height: 50px;
	padding-top: 13px;
	vertical-align: middle;
	> p {
		line-height: 18px;
	}
}
