.EditPageTabs {
	display: none;
	line-height: 12px;
	position: absolute;
	top: 227px;
	left:-60px;
	z-index: 30;
	transform: rotate(270deg);

	.cke_button {
		background-color: $color-page;
		border: 1px solid $color-page-border;
		border-bottom: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		display: inline-block;
		//margin-left: 3px;
		padding: 1px 0;
		zoom: 1; // ie

		
			outline: none;
			cursor: pointer;
			text-decoration: none;
		
		&:first-child {
			margin-left: 0;
		}
		&.cke_button_off {
			background-color: $color-page-border;
			border-bottom: 1px solid $color-page-border;
			padding-bottom: 0;

			&:hover {
				background-color: mix($color-epl-hover, $color-epl-gradient-light, 75%);
			}
		}
		.cke_button_label {
			&.cke_button__modesource_label{
			display: inline-block;
			font-size: 11px;
			padding: 3px 6px;
			}
	
			&.cke_button__modewysiwyg_label{
			display: inline-block;
			font-size: 11px;
			padding: 3px 6px;
			}			
		}
	}

	.cke_toolbar_separator {
		display: none;
	}
}
