.SDObject {
	h1 {
		padding-top: 10px;
	}
	dl {
		margin: 0 0 1em 0;
		
	}
	dt {
		font-size: 14px;
	}
	dd {
		margin: 0;
	}
	caption {
		text-align: left;
		padding-bottom: 10px;
	}
	th, td {
		float: none !important;
		display: table-cell !important;
	}
	.empty {
		color: red;
		font-style: italic;
	}
	figure {
		border: 1px solid #ccc;
		background-color: #eee;
		clear: both;
		float: left;
		margin-bottom: 10px;
		padding: 15px;
		img {
			max-width: 500px;
			height: auto;
		}
	}
	figcaption {
		padding-top: 10px;
		text-align: center;
	}
	ul {
		margin: 0;
	}
	ul li {
		list-style: none;
	}
	li {
		clear: both;
		dl {	
			clear: both;
		}
	}
	.in-property {
		font-size: 12px;
		padding-top: 10px;
	}
	
	.SDObjectDetails {
		font-style: italic;
		
		dt {
			float: left;
			padding-right: 10px;
		}
	}
}