@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/box-sizing";
.SDObject {
	h1 {
		float: left;
	}
	& > .wikia-menu-button {
		margin: 11px 0 0 20px;
	}
	.article-table {
		border-left: 1px solid $color-page-border;
		margin: 0;
	}
	thead th {
		border-top: 1px solid $color-page-border;
	}
	dl {
		clear: both;
		margin: 0 0 1em 0;
		
	}
	dt {
		font-size: 14px;
	}
	dd {
		margin: 0;
	}
	caption {
		text-align: left;
		padding-bottom: 10px;
	}
	th, td {
		border-right: 1px solid $color-page-border;
		float: none !important;
		display: table-cell !important;
	}
	.empty {
		color: $color-error;
		font-style: italic;
	}
	figure {
		border: 1px solid $color-page-border;
		background-color: darken($color-page, 5%);
		clear: both;
		float: left;
		margin-bottom: 10px;
		padding: 15px;
	}
	img {
		max-width: 500px;
		height: auto;
	}
	figcaption {
		padding-top: 10px;
		text-align: center;
	}
	ul {
		margin: 0;
	}
	ul li {
		list-style: none;
	}
	li {
		clear: both;
		dl {	
			clear: both;
		}
	}
	.in-property {
		font-size: 12px;
		padding-top: 10px;
	}
	
	.SDObjectDetails {
		font-style: italic;
		
		dt {
			float: left;
			padding-right: 10px;
		}
	}
	.input-group {
		float: none;
		padding-left: 0;
	}
	input[type="text"],
	textarea {
		width: 447px;
	}
	textarea {
		height: 150px;
		resize: none;
	}
	.SDObjectSave {
		float: right;
		font-size: 14px;
		height: 34px;
		margin-top: 15px;
	}
	.add-reference {
		display: block;
	}
	.throbber-wrapper {
		display: inline-block;
		height: 8px;
		position: relative;
		width: 30px;
		.wikiaThrobber {
			background-color: transparent;
		}
	}
	.validation-main-message, .validation-message {
		background-color: $color-error;
		border: 1px solid mix($color-error, #000, 50%);
		color: #fff;
	}
	.validation-error {
		input[type="text"], textarea {
			border-color: $color-error !important;
		}
	}
	.validation-main-message {
		font-size: 18px;
		padding: 15px 10px;
		@include box-sizing();
		&.success {
			background-color: #006400;
			border-color: mix(#006400, #000, 50%); ;
		}
	}
	.validation-message {
		margin-top: 10px;
		max-width: 500px;
		padding: 5px 10px;
	}
	.example {
		font-family: monospace;
	}
}
.ui-state-default {
	line-height: 13px;
}