@import 'skins/shared/color';
@import 'skins/oasis/css/core/layout';
@import 'skins/shared/mixins/box-shadow';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/gradient';

.monetization-module {
	clear: left;

	&.adunit {
		margin-bottom: 50px;
		margin-top: 24px;
	}

	&.ecommerce {
		@include linear-gradient($color-module-shadow, top, $color-page, 50%, $color-module-shadow, 100%);
		border: 1px solid $color-page-border;
		clear: both;
		line-height: 1.8em;
		margin: 0;
		padding: 10px;
	}

	&.single-product {
		padding: 5px;
	}

	.ad-header {
		color: $color-alternate-text;
		font-size: 10px;
		font-weight: normal;
		margin-bottom: 6px;
		padding-left: 10px;
		text-align: left;
		text-transform: uppercase;
	}

	.ad-responsive {
		height: 90px;
		width: 728px;
	}

	.ad-responsive-ic {
		height: 90px;
		width: 468px;
	}

	@media(min-width: 1024px) {
		.ad-responsive-ic {
			height: 100px;
			width: 320px;
		}

		.ad-responsive {
			height: 90px;
			width: 690px;
		}
	}

	@media(min-width: 1440px) {
		.ad-responsive-ic {
			height: 90px;
			width: 468px;
		}

		.ad-responsive {
			height: 90px;
			width: 728px;
		}
	}

	@media(min-width: 1665px) {
		.ad-responsive-ic {
			height: 90px;
			width: 690px;
		}
	}

	@media(min-width: 1700px) {
		.ad-responsive-ic {
			height: 90px;
			width: 728px;
		}
	}

	.affiliate-wrapper {
		height: 285px;
		overflow: hidden;

		&.single-product {
			border: 1px solid $color-page-border;
			height: 182px;
		}
	}

	.affiliate-header span {
		border-bottom: 0;
		color: #000;
		font-size: 30px;
		margin-bottom: 0;
		margin-top: 0;
		overflow: hidden;
		padding-bottom: 0;
		padding-top: 15px;
	}

	.affiliate-header.single-product {
		background-color: #000;
		color: #fff;
		float: left;
		height: 100%;
		padding: 0;
		text-align: center;
		width: 30%;

		span {
			color: #fff;
			font-size: 14px;
			position: relative;
			top: 35%;
		}
	}

	.affiliate {
		float: left;
		margin-bottom: 50px;
		margin-right: 40px;
		padding-bottom: 4px;
		padding-right: 0;
		padding-top: 8px;
		width: 160px;

		&.single-product {
			background-color: #f6f6f6;
			float: initial;
			height: 100%;
			margin: 0 0 0 30%;
			padding: 10px;
			width: 70%;
		}
	}

	.product-thumb {
		padding: 0;

		img {
			border: 1px solid #ccc;
			float: left;
			height: 160px;
			width: 160px;
		}
	}

	.product-name {
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		float: left;
		font-size: 14px;
		height: 2.4em;
		-webkit-line-clamp: 2;
		line-height: 1.4;
		overflow: hidden;
		padding: 5px 5px 7px;
		text-overflow: ellipsis;
		white-space: normal;
		width: 150px;

		&.single-product {
			border: 0;
			float: initial;
			margin: 0;
			padding: 5px 10px;
			width: auto;
		}
	}

	.product-price {
		background-color: #5d98d4;
		border-radius: 3px;
		color: #000;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		height: 20px;
		left: 85px;
		padding: 6px 12px;
		position: relative;
		text-align: center;
		top: -100px;
		width: 60px;

		&:hover {
			color: #000;
			text-decoration: underline;
		}

		&.single-product {
			background-color: #f09512;
			border-radius: 0;
			color: #fff;
			left: 10px;
			top: 85px;
		}
	}

	.amazon-logo {
		@if $is-dark-wiki {
			background-image: url('/extensions/wikia/MonetizationModule/images/amazon-logo-white.png');
		} @else {
			background-image: url('/extensions/wikia/MonetizationModule/images/amazon-logo-black.png');
		}
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		height: 34px;
		margin-left: 6px;
		top: 16px;
		vertical-align: top;
		width: 160px;

		&.single-product {
			background-image: url('/extensions/wikia/MonetizationModule/images/amazon-logo-white.png');
		}
	}
}
