@import "skins/oasis/css/core/color";
@import "color";

/* Categories */

.ve-ui-mwCategoryItemButton {
	background: $color-ve-hover;
	border-color: $color-page-border;

	span {
		color: $color-text;
	}
}

/* Input */

.oo-ui-inputWidget {
	input, textarea {
		background-color: $color-epl-input;
		border-color: $color-epl-input-border;
		box-shadow: 0 0 0 white, 0 0.1em 0.2em darken($color-epl-input-border, 3%);
		color: $color-text;

		&:focus {
			border-color: $color-epl-input-border;
			box-shadow: 0 0 0 white, 0 0.1em 0.2em $color-epl-input-border;
			@if $is-dark-wiki {
				background-color: lighten($color-epl-input, 5%);
			}
		}

	}
}

/* Menu */

.oo-ui-menuWidget {
	border-color: $color-page-border;

	li {
		background: $color-page;
		color: $color-text;

		.ve-ui-icon-check {
			fill: $color-text;
		}

		&.ve-ui-optionWidget-selected, &.ve-ui-optionWidget-highlighted {
			background-color: darken($color-page, 10%);
			@if $is-dark-wiki {
				background-color: lighten($color-page, 10%);
			}
		}

		&:hover {
			background: $color-ve-hover;
		}
	}
}

/* Options */

.ve-ui-mwMediaResultWidget {
	&.oo-ui-optionWidget-highlighted,
	&.oo-ui-optionWidget-selected {
		background-color: $color-ve-gradient-light;
		box-shadow: 0 0 0.3em $color-ve-gradient-light, 0 0 0 $color-page;
	}
}

/* Outline */

.oo-ui-outlineControlsWidget {
	background: $color-page;
}

.oo-ui-outlineItemWidget {
	&.oo-ui-optionWidget-selected {
		background: $color-ve-hover;
	}
}

/* Parameter Results */

.ve-ui-mwParameterResultWidget-name {
	background-color: $color-page;
	border-color: $color-page-border;
}

/* Popup */

.oo-ui-popupWidget-body {
	background-color: $color-page;
}

.oo-ui-popupWidget-popup {
	background-color: $color-ve-gradient-light;
	border-color: $color-page-border;
}

.oo-ui-popupWidget-tailed .oo-ui-popupWidget-tail {
	background: none;
	height: 0;
	width: 0;

	&:before, &:after {
		border-style: solid;
		content: '';
		height: 0;
		position: absolute;
		width: 0;
	}

	&:before {
		border-width: 7px;
		border-color: transparent transparent $color-page-border;
		margin-left: 1px;
		margin-top: -6px;
	}

	&:after {
		border-width: 6px;
		border-color: transparent transparent $color-ve-gradient-light;
		margin-left: 2px;
		margin-top: -4px;
	}
}

/* Surface Toolbar */

.ve-ui-surfaceWidget-toolbar .oo-ui-toolbar-bar {
	border-color: $color-page-border;
}