.ve-ui-barToolGroup .ve-ui-tool-wikiaMediaInsert {
	padding-left: .5em;
	padding-right: .5em;
	width: auto;
}

.ve-ui-tool-wikiaMediaInsert:hover {
	text-decoration: none;
}

.ve-ui-barToolGroup .ve-ui-tool-wikiaMediaInsert .ve-ui-iconedElement-icon {
	display: inline-block;
	margin-right: .3em;
	vertical-align: middle;
}

.ve-ui-barToolGroup .ve-ui-tool-wikiaMediaInsert .ve-ui-labeledElement-label {
	color: #555;
	display: inline;
	font-size: .8em;
	vertical-align: middle;
}
