// Prevent empty space below iframe.
// TODO: this is also a bug in core, might want to upstream it.
.oo-ui-frame {
	display: block;
}

// Prevent menu widgets from collapsing
.oo-ui-frame-body,
.oo-ui-frame-html {
	height: 100%;
	overflow: visible;
}