@import "skins/oasis/css/core/color";
@import "skins/oasis/css/mixins/box-shadow";

@import "color";
@import "mixins/ve-icon";

.oo-ui-popupToolGroup {
	.oo-ui-toolGroup-tools {
		background: $color-page;
		border-color: $color-page-border;
	}

	.oo-ui-tool {
		.oo-ui-labeledElement-label	{
			color: $color-text;
		}
	}
}

.oo-ui-menuToolGroup {
	.oo-ui-tool:hover {
		background: $color-ve-hover;
	}
	.oo-ui-tool-active {
		.oo-ui-iconedElement-icon {
			@include ve-icon(check, ve);
		}
	}
}

.oo-ui-barToolGroup .oo-ui-tool-active:not(.oo-ui-widget-disabled),
.oo-ui-listToolGroup .oo-ui-tool-active:not(.oo-ui-widget-disabled),
.oo-ui-popupToolGroup-active:not(.oo-ui-widget-disabled) {
	@include linear-gradient(
		$color-ve-gradient, top,
		$color-ve-gradient-dark, 0%,
		$color-ve-gradient-light, 50%,
		$color-ve-gradient-light, 80%,
		mix( $color-ve-gradient-light, $color-ve-gradient-dark, 50% ), 100%
	);
}