.oo-ui-processDialog-actions-primary {
  position: static;
  float: right;
}

/*
 * $name - name of the icon (bold, media, etc)
 * $vendor - who is providing the icon? (ve, mw, wikia)
 * $baseColor - the color that the icon sits on
 */
.ve-ui-wikiaMediaInsertDialog {
  /* Search Results */
}

.ve-ui-wikiaMediaInsertDialog .oo-ui-bookletLayout {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 95px;
  right: 0;
}

.ve-ui-wikiaMediaInsertDialog .oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout {
  padding-top: 0;
}

.ve-ui-wikiaMediaInsertDialog .oo-ui-window-body {
  margin-right: -140px;
  padding: 0;
  width: 100%;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-mwMediaResultWidget > .oo-ui-labeledElement-label {
  line-height: 1.4em;
  padding: 0.5em;
  text-align: left;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-wikiaMediaInsertDialog-content {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 120px;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-wikiaMediaInsertDialog-policy {
  line-height: 1.25em;
  margin-top: 1.5em;
  max-height: 3.75em;
  overflow: hidden;
  position: relative;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-wikiaMediaInsertDialog-readMore {
  margin-top: .5em;
  position: relative;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-wikiaMediaInsertDialog-readMore a {
  cursor: pointer;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-wikiaMediaInsertDialog-readMore:after {
  border-color: #000000 transparent transparent;
  border-style: solid;
  border-width: 4px;
  bottom: 1px;
  content: ' ';
  height: 0px;
  margin-left: .3em;
  position: absolute;
  width: 0px;
}

.ve-ui-wikiaMediaInsertDialog .ve-ui-wikiaMediaOptionWidget-metaData {
  display: none;
}

/* Cart */
.ve-ui-wikiaCartWidget-wrapper {
  border-left: #AAAAAA 1px solid;
  bottom: 0;
  box-sizing: border-box;
  overflow: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
}

.ve-ui-wikiaCartWidget-wrapper .ve-ui-wikiaCartImage {
  display: block;
  opacity: .75;
}

.ve-ui-wikiaCartWidget-wrapper .oo-ui-optionWidget {
  border-width: 0;
  height: 80px;
  padding: 0;
  margin-bottom: 10px;
  width: 80px;
}

.ve-ui-wikiaCartWidget-wrapper .oo-ui-optionWidget.oo-ui-optionWidget-selected:before {
  border: blue 4px solid;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ve-ui-wikiaCartWidget-wrapper .oo-ui-optionWidget.oo-ui-optionWidget-selected .ve-ui-wikiaCartImage {
  opacity: 1;
}

.ve-ui-wikiaCartWidget-wrapper .oo-ui-optionWidget.oo-ui-optionWidget-highlighted {
  border-width: 0;
}

.ve-ui-wikiaCartWidget-wrapper .oo-ui-labelElement-label {
  display: none;
}

/* Media Page */
.ve-ui-wikiaMediaPageWidget {
  zoom: 1;
}

.ve-ui-wikiaMediaPageWidget:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.ve-ui-wikiaMediaPageWidget .oo-ui-fieldsetLayout {
  margin-left: 385px;
}

.ve-ui-wikiaMediaPageWidget .oo-ui-labelElement-label {
  padding-top: 0;
}

.ve-ui-wikiaMediaPageWidget .ve-ui-wikiaMediaPageWidget-item {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  float: left;
  text-align: center;
  width: 365px;
}

.ve-ui-wikiaMediaPageWidget .ve-ui-wikiaMediaPageWidget-item.oo-ui-texture-pending .play-arrow,
.ve-ui-wikiaMediaPageWidget .ve-ui-wikiaMediaPageWidget-item.oo-ui-texture-pending .play-circle {
  display: none;
}

.ve-ui-wikiaMediaPageWidget .ve-ui-wikiaMediaPageWidget-item-extension {
  padding-left: 5px;
}

.ve-ui-wikiaMediaPageWidget .oo-ui-textInputWidget,
.ve-ui-wikiaMediaPageWidget .ve-ui-wikiaMediaPageWidget-item-license {
  margin-bottom: 20px;
  width: 100%;
}

.ve-ui-wikiaMediaPageWidget .ve-ui-wikiaMediaPageWidget-item-license select {
  width: 100%;
}

.ve-ui-wikiaMediaPageWidget.video .ve-ui-wikiaMediaPageWidget-item-extension {
  display: none;
}

/* Query */
.ve-ui-wikiaMediaQueryWidget {
  box-sizing: border-box;
  height: 75px;
  padding: 20px;
}

.ve-ui-wikiaMediaQueryWidget .ve-ui-wikiaUploadButtonWidget {
  border: none;
  padding: 0;
  width: auto;
}

.ve-ui-wikiaMediaQueryWidget .ve-ui-wikiaUploadButtonWidget > span,
.ve-ui-wikiaMediaQueryWidget .ve-ui-wikiaUploadButtonWidget .oo-ui-icon-upload {
  display: none;
}

.ve-ui-wikiaMediaQueryWidget .oo-ui-textInputWidget {
  width: 100%;
}

.ve-ui-wikiaMediaQueryWidget .oo-ui-textInputWidget [type="text"] {
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px 12px 12px 27px;
}

.ve-ui-wikiaMediaQueryWidget-queryWrapper {
  width: 100%;
}

.ve-ui-wikiaMediaQueryWidget-uploadWrapper {
  padding-left: 40px;
  padding-right: 17px;
}

/* Results */
.ve-ui-wikiaMediaResultsWidget {
  bottom: 0;
  left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.ve-ui-wikiaMediaResultsWidget .oo-ui-buttonElement-framed.ve-ui-wikiaMediaOptionWidget-check {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ve-ui-wikiaMediaResultsWidget .oo-ui-buttonElement-framed.ve-ui-wikiaMediaOptionWidget-check .oo-ui-buttonElement-button {
  border: 0;
  margin: 0;
  padding: 0;
}

.ve-ui-wikiaMediaResultsWidget .oo-ui-buttonElement-framed.ve-ui-wikiaMediaOptionWidget-check .oo-ui-buttonElement-button .oo-ui-iconElement-icon {
  background-color: #e8e8e8;
  height: 40px;
  margin: 0;
  opacity: 1;
  position: static;
  width: 40px;
}

.ve-ui-wikiaMediaResultsWidget .oo-ui-buttonElement-framed.ve-ui-wikiaMediaOptionWidget-check .oo-ui-buttonElement-button .oo-ui-iconElement-icon.oo-ui-icon-checked {
  background-image: url("/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/checked.svg");
  /* $wgCdnStylePath */
  background-color: blue;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  margin: 0 10px 60px 0;
  overflow: visible;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget .oo-ui-labelElement-label {
  background: #FFFFFF;
  bottom: auto;
  color: #000000;
  font-weight: bold;
  margin-top: 160px;
  text-shadow: none;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget .ve-ui-wikiaMediaOptionWidget-sublabel {
  color: #AAAAAA;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget.oo-ui-optionWidget-highlighted,
.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget.oo-ui-optionWidget-selected {
  box-shadow: none;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget-thumbnail.ve-ui-texture-transparency {
  border: 2px solid #e8e8e8;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-wikiaMediaOptionWidget-selected .ve-ui-mwMediaResultWidget-thumbnail.ve-ui-texture-transparency {
  border: 2px solid blue;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-wikiaVideoOptionWidget-duration {
  background-color: #000;
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 11px;
  line-height: 17px;
  opacity: 0.7;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: center;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-wikiaVideoOptionWidget-icon {
  background: url(/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/play.png) no-repeat;
  display: block;
  height: 29px;
  margin-left: 9px;
  margin-top: 124px;
  position: absolute;
  width: 29px;
}

.ve-ui-wikiaMediaResultsWidget .ve-ui-mwMediaResultWidget.oo-ui-optionWidget-highlighted .ve-ui-wikiaVideoOptionWidget-icon {
  background: url(/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/play-hover.png) no-repeat;
}

/* Upload - TODO: Move to Widget.scss when Sass work is merged */
.ve-ui-wikiaUploadButtonWidget {
  border: 3px dashed #e6e6e6;
  box-sizing: border-box;
  cursor: pointer;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.ve-ui-wikiaUploadButtonWidget > span {
  display: block;
  font-size: 1.7em;
  margin-bottom: 20px;
}

.ve-ui-wikiaUploadButtonWidget input[type="file"] {
  display: none;
}

.ve-ui-wikiaUploadButtonWidget > .oo-ui-icon-upload {
  display: inline-block;
  height: 32px;
  margin-bottom: 15px;
  width: 47px;
}
