/* Input */

.oo-ui-inputWidget {
	input,
	input:focus,
	input:focus[readonly],
	textarea,
	textarea:focus,
	textarea:focus[readonly] {
		background-color: $color-ve-page-secondary;
		border-color: $color-page-border;
		box-shadow: 0 0 0 $color-ve-gradient-light, 0 0.1em 0.2em $color-ve-gradient-shadow inset;
		color: $color-text;

		&:focus {
			background-color: $color-ve-hover;
			border-color: $color-page-border;
			box-shadow: 0 0 0 $color-ve-gradient-light, 0 0.1em 0.2em $color-ve-gradient-shadow inset;
		}

		&.oo-ui-widget-disabled {
			color: $color-ve-text-secondary;
			text-shadow: $color-ve-gradient-shadow 0px 1px 1px;
		}
	}

	input[readonly],
	textarea[readonly] {
		color: $color-text;
		text-shadow: $color-ve-gradient-shadow 0px 1px 1px;
	}
}

/* Outline */

.oo-ui-selectWidget {
	.oo-ui-outlineOptionWidget {
		&.oo-ui-optionWidget-selected, &.oo-ui-optionWidget-pressed {
			background: $color-ve-hover;
			text-shadow: $color-ve-gradient-shadow 0px 1px 1px;
		}
	}
}

/* Popup */

.oo-ui-popupWidget-popup {
	background: $color-page;
	border-color: $color-page-border;
}

.oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor {
	&:before {
		border-color: transparent transparent $color-page-border;
	}

	&:after {
		border-color: transparent transparent $color-ve-gradient-light;
	}
}
