/**
 * @author Federico "Lox" Lucignano <federico@wikia-inc.com>
 *
 * Styles for the creation/editing UI of TopLists extension, Oasis skin
 */
@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "mixins.scss";

$item-height: 60px;
$item-width: 400px;

#toplists-list-body {
	padding-top: 20px;
	
	.picture-attribution {
		display: none;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		li {
			@include border-radius(5px);
			min-height: $item-height;
			width: $item-width;
			border: 1px solid $color-page-border;
			background-color: $color-module-shadow;
			padding: 8px;
			margin-bottom: 25px;

			.ItemNumber {
				span {
					display: block;
				}
				
				float: left;
				font: {
					color: $color-module-shadow;
					size: 20px;
					weight: bold;
				}
				
				margin-right: 15px;
			}

			.ItemContent {
				font-size: 15px;

				.author {
					display: block;
					font-size: 10px;
				}
			}

			.ItemVotes {
				float: right;
			}
		}
	}
}