#mw-svgedit {
	border: solid 1px silver;
    background: white
		 url("images/toolbar-base.png")
		 repeat-x;
	margin-bottom: 16px;
}
#mw-svgedit-toolbar {
	padding: 4px 12px;
}

#mw-svgedit-frame {
	border: none;
	overflow: hidden;
}

#mw-svgedit-spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
    background: rgba(0,0,0,0.5)
		 url("images/ajax-loader.gif")
		 50%
		 no-repeat;
    z-index: 999999
}

#mw-svgedit .ui-resizable-handle {
	background: #aaa;
	border: solid 1px #888;
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
}
#mw-svgedit .ui-resizable-handle:hover {
	background: #eee;
}
.mw-svgedit-resize {
	background: rgba(0,0,0,0.5);
	border-bottom: solid 2px blue;
}
