@mixin wordmark {
	$default-wordmark-size: 30px;
	font-size: $default-wordmark-size;
	font-weight: bold;
	width: 250px;
	&.small {
		font-size: $default-wordmark-size - 10px;
	}
	&.medium {
		font-size: $default-wordmark-size;
	}
	&.large {
		font-size: $default-wordmark-size + 10px;
	}
}