@import "../../../../skins/oasis/css/core/color";

$module-background-color: #fafafa;
$chevron-color: #888;
$module-box-margin-bottom: 30px;

@mixin module-box {
	background-color: $module-background-color;
	border: 1px solid $color-page-border-subtle;
	border-top: 1px solid $color-page-border;
	margin-bottom: $module-box-margin-bottom;
	padding: 10px 0px;
}

@mixin navigation {
	width: 25px;
	height: 40px;
	position: absolute;
	right: -1px;
	margin: 0;
	padding: 0;
	border-radius: 0;

	&.nav-up {
		top: -1px;
	}

	&.nav-down {
		bottom: -1px;
	}

	.chevron {
		border-width: 5px;
	}

	.chevron-up {
		border-color: transparent transparent $chevron-color;
		margin-top: -5px;
	}

	.chevron-down {
		border-color: $chevron-color transparent transparent;
		margin-top: 5px;
	}
}