@mixin flexbox() {
	// old syntax
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;

	// new syntax
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($direction: row) {
	// old syntax (doesn't support reverse placement)
	$axis: horizontal;
	@if $direction == column OR $direction == column-reverse {
		$axis: vertical;
	}
	-ms-box-orient: $axis;
	-webkit-box-orient: $axis;

	// new syntax
	-ms-flex-direction: $direction;
	-webkit-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin flex-grow($number) { // (default: 0)
	// old syntax
	-webkit-box-flex: $number;
	-moz-box-flex: $number;
	-ms-flex-positive: $number; // (IE spec - default: 1)
	box-flex: $number;

	// new syntax
	-webkit-flex-grow: $number;
	-moz-flex-grow: $number;
	flex-grow: $number;
}

@mixin flex-shrink($number) { // (default: 1);
	// old syntax
	-ms-flex-negative: $number; // (IE spec - default: 0)

	// new syntax
	-webkit-flex-shrink: $number;
	-moz-flex-shrink: $number;
	flex-shrink: $number;
}

@mixin flex-basis($length) { // (default: auto)
	-ms-flex-preferred-size: $length; // (IE spec - default: 0px)

	-webkit-flex-basis: $length;
	-moz-flex-basis: $length;
	flex-basis: $length;
}

@mixin align-items($type) { // (default: stretch)
	-webkit-align-items: $type;
	align-items: $type;

}

@mixin justify-content($type) { // (default: flex-start)
	-webkit-justify-content: $type;
	justify-content: $type;
}
