// 100 based (e.g. 80 instead of .8)
// @see http://www.quirksmode.org/css/opacity.html
@mixin opacity($value) {
	@if $value < 100 {
		opacity: #{"." + $value};
		-khtml-opacity: #{"." + $value};
		-ms-filter: #{"\"progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $value + ")\""}; /* IE8 */
		filter: #{"alpha(opacity=" + $value + ")"}; /* IE7 and below */
	}
	@if $value == 100 {
		opacity: 1;
		-khtml-opacity: 1;
		-ms-filter: #{"\"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\""}; /* IE8 */
		filter: #{"alpha(opacity=100)"}; /* IE7 and below */
	}
}
