/* doesn't work in IE8 and below.  use at your own discretion */
@mixin transition($property, $duration, $timing, $delay) {
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $timing;
	transition-delay: $delay;
	-moz-transition-property: $property;
	-moz-transition-duration: $duration;
	-moz-transition-timing-function: $timing;
	-moz-transition-delay: $delay;
	-webkit-transition-property: $property;
	-webkit-transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
}

@mixin transition-shorthand($shorthand) {
	transition: $shorthand;
	-webkit-transition: $shorthand;
}