@import "../core/color";
@import "../core/layout";
@import "border-radius";
@import "box-shadow";
@import "menus";

@mixin yui-suggest {
	.yui-ac-content {
		@include menu-regular;
		@include border-radius(3px);
		@include box-shadow(3px, 3px, 6px, darken($color-page, 9%));
		border-width: 1px;
		color: $color-text;
		cursor: pointer;
		margin-top: 2px;
		overflow: hidden;
		padding: 5px 1px;
		position: absolute;
		width: 100%;
		z-index: $zTop;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100%;
		}
		li {
			color: $color-alternate-text;
			display: block;
			font-size: 12px;
			line-height: 25px;
			margin: 0;
			padding: 5px 9px;
			white-space: nowrap;
		}
		li.navigation-hover {
			background: $color-menu-highlight;
		}
	}
}