<h1>{{header}}</h1>

<p>{{pageDescription}} <a href="{{flowerUrl}}/tasks?limit=100" target="_blank">Flower</a>.</p>

<form id="task_edit_form" action="#">
<div class="task_selector" id="class_selector">
		<h3>Class</h3>
    <select name="task_class">
        <option value="" selected="selected">Select Class</option>
				{{#createableTaskList}}
						<option value="{{name}}">{{value}}</option>
				{{/createableTaskList}}
    </select>
</div>

<div class="task_selector hidden" id="method_selector">
		<h3>Task</h3>
		<select name="task_method">
				<option value="" selected="selected">Select Method</option>
		</select>
</div>

<div class="clear"></div>

<div id="task_editor" class="hidden">
		<pre></pre>
		<div id="task_edit_fields"></div>
		<input type="submit" value="Create Task" />
</div>
</form>

<div id="task_progress_container" class="hidden">
		<h1>Progress</h1>
		<table width="100%">
				<tr>
						<th>Task</th>
						<th>State</th>
						<th>Result</th>
				</tr>
		</table>
</div>

<!-- TODO: do this less ghetto -->
<div id="flower_url" class="hidden">{{flowerUrl}}</div>
<div id="ajax_lodaer" class="hidden">{{ajaxLoading}}</div>