<li class="tile-set-thumb">
	<a class="modalEvent" data-id="{{id}}" data-image="{{image}}" title="{{name}}" data-event="selectTileSet" data-type="custom">
		<img src="{{tileSetThumb}}" alt="{{name}}" width="116" height="116" />
	</a>
	<strong>{{name}}</strong>
	<span>{{width}} x {{height}}</span>
</li>
