<form class="WikiaForm create-map-form">
	<div class="input-group">
		<label for="intMapTitle">{{titleLabel}}</label>
		<input type="text" class="wide" name="map-title" placeholder="{{titlePlaceholder}}" value="">
	</div>

	{{#tileSetData}}
		<img src="{{fileThumbUrl}}{{originalImageURL}}" alt="{{previewImgAlt}}" id="intMapPreviewImage" class="intMapPreviewImage" width="100%" height="auto" />

		{{#tileSetId}}
		<input type="hidden" id="intMapTileSet" value="{{tileSetId}}">
		{{/tileSetId}}
	{{/tileSetData}}
</form>
