<div id="intMapBrowse" class="int-map-browse-tile-set WikiaForm">
	<p class="tip">{{chooseTileSetTip}}</p>
	<div class="input-group">
		<input type="text" id="intMapTileSetSearch" class="tile-set-search" placeholder="{{searchPlaceholder}}">
		<button class="clear-search secondary hidden" id="intMapClearSearch" data-event="clearSearch">{{clearSearch}}</button>
	</div>
	<ul id="intMapTileSetsList">
		<li>
			<form enctype="multipart/form-data">
				<input type="file" id="intMapUpload" class="hidden" name="wpUploadFile">
				<a title="{{uploadLink}}" id="intMapUploadLink" class="upload-link dashed-border modalEvent" data-event="uploadTileSetImage">
					<svg version="1.1" id="intMapUploadLinkIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
	 width="40px" height="40px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
<path d="M151.8,21.2c-0.6,0-1.1,0-1.7,0c-0.5,0-1.2,0-1.7,0c-50.3,0-91.1,41.3-91.1,91.1c0,49.8,92.8,167.2,92.8,167.2
	s92.8-117.6,92.8-167.2S202.1,21.2,151.8,21.2z M218.6,114c0,37.8-30.7,68.5-68.5,68.5c-37.8,0-68.5-30.7-68.5-68.5
	c0-37.8,30.7-68.5,68.5-68.5C188,45.5,218.6,76.2,218.6,114z"/>
<line fill="none" stroke="#010102" stroke-width="14" stroke-miterlimit="10" x1="109.9" y1="114.5" x2="190.1" y2="114.5"/>
<line fill="none" stroke="#010102" stroke-width="14" stroke-miterlimit="10" x1="150" y1="154.6" x2="150" y2="74.5"/>
</svg>
					<span>{{uploadLink}}</span>
				</a>
			</form>
		</li>
	</ul>
</div>

