<p class="user-guideline">{{infoMessage}}</p>
{{#sizes}}
	<code class="code-sample {{size}} {{^defaultSize}}hidden{{/defaultSize}}">
		&ltiframe width="{{width}}" height="{{height}}" src="{{iframeSrc}}{{uselang}}" frameborder="0"&gt&lt/iframe&gt
	</code>
{{/sizes}}
<strong>{{sizeLabel}}:</strong>
{{#sizes}}
	<button class="size-button {{^defaultSize}}secondary{{/defaultSize}}" data-event="switchSize" data-size="{{size}}">{{width}} x {{height}}</button>
{{/sizes}}
