.feeds-article-selection-tooltip {
	align-items: center;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 20px 0 rgba(black, .3);
	color: #0e191a;
	display: flex;
	font-family: Rubik, sans-serif;
	font-size: 14px;
	font-weight: 500;
	justify-content: center;
	padding: 12px;
	position: absolute;
	transform: translate(-50%, -100%);
	z-index: 100000;

	&:hover,
	&:active,
	&:visited {
		text-decoration: none;
	}

	svg {
		fill: #0e191a;
		height: 18px;
		margin-right: 5px;
		width: 18px;
	}

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid white;
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translate(-50%);
	}
}
