/**
 * CSS for Special:Interwiki
 */
table.mw-interwikitable.intro th {
	padding-right: 1.4ex;
	vertical-align: top;
}

table.mw-interwikitable.intro th.mw-align-left {
	text-align: left;
}

table.mw-interwikitable.intro th.mw-align-right {
	text-align: right;
}

table.mw-interwikitable.body td.mw-interwikitable-local,
table.mw-interwikitable.body td.mw-interwikitable-trans,
table.mw-interwikitable.body td.mw-interwikitable-modify {
	text-align: center;
}