.qpoll .error { background-color: LightYellow; }
.qpoll .object_error { background-color: #D700D7; }
.qpoll .fatalerror { border: 1px solid Gray; padding: 4px; background-color: LightYellow; }
.qpoll .settings input.numerical { width:2em; }
.qpoll .header {font-weight: bold;}
*>.qpoll .header .questionId {text-indent: -1.5em; } /* *> prevent ie6 to interprate it. */
.qpoll table.object { background-color:transparent; border-collapse:collapse; }
.qpoll table.object .proposaltext { }
.qpoll table.object th { padding-left: 5px; padding-right: 5px; vertical-align:bottom; }
.qpoll table.object .spans { color:Gray; }
.qpoll table.object .categories { color:#444455; }
.qpoll table.object .proposal { }
.qpoll span.proposalerror, div.proposalerror { color:Red; font-weight:600; }
.qpoll tr.proposalerror { background-color: Snow; }
.qpoll .settings td { padding: 0.1em 0.4em 0.1em 0.4em }
.qpoll table.settings { background-color:transparent; }
/* Part for the basic types's inputs. */
.qpoll table.stats td { text-align:center; margin:2px; padding:0px; border:none; border-collapse:collapse; }
.qpoll div.stats { text-align:center; font-size:7pt; color:Green; padding-left: 2px; padding-right: 2px;}
.qpoll div.stats1 { text-align:center; font-size:7pt; color:Green; width:162px; margin:0px auto; margin-top:2px; }
.qpoll div.stats2 { text-align:center; font-size:7pt; height:20px; font-weight:bold; color:Green; width:105px; margin:0px auto; padding-left:3px; padding-bottom:1px; margin-top:1px; margin-bottom:2px; }
.qpoll div.stats2 div { height:20px; }
.qpoll div.bar0 { float:left; width:30px; }
.qpoll div.bar1 { float:left; background-color:Gainsboro; border-left: 1px solid Gray; border-top: 1px solid Gray; border-bottom: 1px solid Gray; }
.qpoll div.bar2 { float:left; background-color:Linen; border-right: 1px solid Gray; border-top: 1px solid Gray; border-bottom: 1px solid Gray; }
.qpoll div.bar3 { width:100px; left:0px; top:-20px; position:relative; z-index:10; }
.qpoll .sign { text-align:center; }
.qpoll .signl { text-align:center; border-bottom:1px solid Gray; border-top: 1px solid Gray; border-left: 1px solid Gray; }
.qpoll .signc { text-align:center; border-bottom:1px solid Gray; border-top: 1px solid Gray; }
.qpoll .signr { text-align:center; border-bottom:1px solid Gray; border-top: 1px solid Gray; border-right: 1px solid Gray; }
.qpoll .signt { text-align:center; border-left: 1px solid Gray; border-right: 1px solid Gray; border-top: 1px solid Gray; }
.qpoll .signm { text-align:center; border-left: 1px solid Gray; border-right: 1px solid Gray; }
.qpoll .signb { text-align:center; border-left: 1px solid Gray; border-right: 1px solid Gray; border-bottom:1px solid Gray; }
/* Part for the inputfields */
.qpoll a.input, .qpoll a.input:hover, .qpoll a.input:active, .qpoll a.input:visited { text-decoration:none; color:Black; outline: 0 }
.qpoll a.input span { outline:#7F9DB9 solid 1px; border:1px solid #7F9DB9; } /* *border is for IE6/7 star is removed due to ff console error */
.qpoll .cat_prefilled { color: Blue; }
.qpoll .cat_noanswer { background-color: LightYellow; }
.qpoll .cat_error { background-color: LightYellow; border: 1px solid Gray; }
.qpoll .interp_error { border: 2px solid Gray; padding: 0.5em; color: White; background-color: Red; margin: 0.3em 0 0.3em 0; }
.qpoll .interp_answer { border: 2px solid Gray; padding: 0.5em; color: Black; background-color: LightBlue; margin: 0.3em 0 0.3em 0; }
.qpoll table.structured_answer { border-collapse: collapse; margin: 0.3em 0 0.3em 0; }
.qpoll table.structured_answer th { text-align:left; border-top:1px solid Gray; border-left:1px solid Gray; border-right:1px solid Gray; background-color: Moccasin; padding: 0 0.2em 0 0.2em; }
.qpoll table.structured_answer td { border-bottom:1px solid Gray; border-left:1px solid Gray; border-right:1px solid Gray; background-color: Azure; padding: 0 0.2em 0 0.2em; }

/* script view */
.qpoll .line_numbers { font-family: monospace, "Courier New"; white-space:pre; color:Green; background-color: LightGray; float:left; border-left: 1px solid DarkGray; border-top: 1px solid DarkGray; border-bottom: 1px solid DarkGray; padding: 0.5em; }
.qpoll .script_view { font-family: monospace, "Courier New"; white-space:pre; overflow:auto; color:Black; background-color: LightGray; border-right: 1px solid DarkGray; border-top: 1px solid DarkGray; border-bottom: 1px solid DarkGray; padding: 0.5em; }

/* LTR part (RTL is included from separate file) */
.qpoll .attempts_counter{ border: 1px solid gray; padding: 0.1em 0.5em 0.1em 0.5em; color: Black; background-color: LightBlue; margin-left: 1em; }
.qpoll .question { margin-left:2em; padding:0.3em; }
.qpoll .margin { padding-left:20px; }
.qpoll .header .questionId { font-size: 1.1em; font-weight: bold; float: left; }
.qpoll .header .questionId { *padding-right: 0.5em; } /* applies to IE7 and below */
.qpoll a.input em { color:Black; background-color:#DFDFDF; margin-right:1px; }
.qpoll a.input input { padding-left:2px; border:0; }
.qpoll .error_mark { border-left: 3px solid #D700D7; }
