<div id="FeedbackDialog" class="FeedbackDialog">
	<h1>{{title}}</h1>

	<div class="feature-highlight">
		<h2>{{featureName}}</h2>
		<img src="{{featureImageUrl}}" />
	</div>

	<form>
		<p>{{description}}</p>

		<div class="input-group">
			<label for="feedback">{{typeLabel}}</label>
			<select name="feedback">
				{{#typeOptions}}
					<option value="{{value}}">{{label}}</option>
				{{/typeOptions}}
			</select>
		</div>

		<div class="comment-group">
			<label for="comment">{{commentLabel}}:</label>
			<textarea name="comment"></textarea>
			<span class="comment-character-count">0</span>/1000
		</div>

		<span class="status-msg"></span>
	</form>


</div>
