<div id="FeedbackDialog" class="FeedbackDialog" style="-webkit-transform: translate3d(0, 0, 0);">
	<!--<h1>{{title}}</h1>-->

	<div class="feature-highlight">
		<h2>{{featureName}}</h2>
		<img src="{{featureImageUrl}}" alt="{{featureName}}" >
	</div>

	<form>
		<p>{{description}}</p>

		<div class="input-group">
			<label for="feedback">{{typeLabel}}</label>
			<select name="feedback" id="feedback">
				{{#typeOptions}}
					<option value="{{value}}">{{label}}</option>
				{{/typeOptions}}
			</select>
		</div>

		<div class="comment-group" style="-webkit-transform: translate3d(0, 0, 0);">
			<label for="comment">{{commentLabel}}:</label>
			<textarea name="comment" id="comment"></textarea>
		</div>
		<div class="comment-character-count" style="-webkit-transform: translate3d(0, 0, 0);">0 / 1000</div>

		<span class="status-msg"></span>
	</form>


</div>
