@import "../../../../skins/oasis/css/core/color";

.WikiaPageHeader {
	h1 {
		vertical-align: middle;
	}	
	.edit-pencil {
		vertical-align: middle;	
	}
	.wikia-button {
		background: transparent;
		border: none;
		color: $color-links;
		display: none;
		font-size: 13px;
		padding-left: 2px;
		vertical-align: middle;
		&:hover {
			background: transparent;
			border: none;
			color: $color-links;
			text-decoration: underline;
		}
	}
}