	
#wpFBNameError {
	color: green;
	display: none;
}

.fbConnectPushEventBar {
	padding-right:30px;
}

.fbConnectPushEventBarlink{
	text-align:right;
	padding-right:30px;
}

.fbConnectCblable {
	margin-left:16px;
}

.fbConnectPushEventToggles td {
	padding-bottom:8px;
	padding-top:0;
}

#fbConnectPushEventBar_show,#fbConnectPushEventBar_hide {
	font-size:80%;
}

#fbConnectModalWrapper #userloginErrorBox {
	margin-bottom:0;
	margin-left:10px;
	width:565px;
}

#wpLoginAndConnectCombo {
	margin-top:5px;
}

#fbNowConnectBox div {
	height:110px;
	padding:5px;
	text-align:center;
}

#fbLoginLastStep {
	margin-left:178px;
}	

#fbMsgImage {
	float:left;
	margin-top:3px;
	padding-right:10px;
}

#wpFBLoginInfo {
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px;
} 

#wpFBLoginInfo div{
	border-color:gray;
	border-left:1px solid gray;
	border-width:1px;
	height:170px;
	padding-left:5px;
}

#wpFBLoginInfo div p{
	display:block;
	float:left;
	font-family:arial,sans-serif;
	font-size:10pt;
	font-weight:bold;
}