/* Buttons */

#api-sandbox-buttons {
	float: right;
}

#api-sandbox-buttons button {
	float: left;
}

/* Options */

.api-sandbox-options {
	width: 100%;
	table-layout: fixed;
}

.api-sandbox-options th {
	text-align: left;
}

.api-sandbox-options td,
.api-sandbox-options th {
	vertical-align: top;
	padding: 3px 5px;
	width: 160px;
}

.api-sandbox-options select {
	width: 140px;
}

.api-sandbox-options .api-sandbox-docs-col {
	width: auto;
}

/* Params */

.api-sandbox-params {
	width: 100%;
	table-layout: fixed;
}

.api-sandbox-params td,
.api-sandbox-params th {
	vertical-align: top;
	padding: 5px 10px;
}

.api-sandbox-params-label {
	width: 150px;
	text-align: right;
}

.api-sandbox-params-value {
	width: 260px;
}

.api-sandbox-params input[type="text"],
.api-sandbox-params select {
	padding: 3px 5px;
	width: 225px;
}

th.api-sandbox-params-label,
th.api-sandbox-params-value {
	text-align: center;
}

/* Result */

.api-sandbox-result-container {
	width: 100%;
}

.api-sandbox-result-label {
	width: 12em;
}

#api-sandbox-input {
	width: 17em;
}

#api-sandbox-url,
#api-sandbox-post {
	width: 100%;
}

/* override enwiki's insane styles */
div.mw-collapsible {
	border: none !important;
	text-align: left !important;
	font-size: 100% !important;
}
