<p class="error hidden"></p>
<form class="WikiaForm intMapEditPOIForm" id="intMapEditPOIForm">
	<div class="input-group">
		<input class="wide" type="text" placeholder="{{namePlaceholder}}" name="name" value="{{name}}" maxlength="255">
	</div>
	<div class="input-group">
		<input class="wide" type="text" placeholder="{{articlePlaceholder}}" name="link" value="{{link}}">
	</div>
	<div class="input-group">
		<select class="wide" name="poi_category_id">
			<option value="" {{^poi_category_id}}selected{{/poi_category_id}}>{{categoryPlaceholder}}</option>
			{{#categories}}
				<option value="{{id}}" data-value-type="number" {{#selected}}selected{{/selected}}>{{{name}}}</option>
			{{/categories}}
		</select>
	</div>
	<div class="input-group">
		<textarea class="wide" name="description" placeholder="{{descriptionPlaceholder}}" maxlength="500">{{description}}</textarea>
	</div>
    	<input type="hidden" name="id" data-value-type="number" value="{{id}}">
	<input type="hidden" name="mapId" data-value-type="number" value="{{mapId}}">
	<input type="hidden" name="lat" data-value-type="number" value="{{lat}}">
	<input type="hidden" name="lon" data-value-type="number" value="{{lon}}">
</form>
