<div class="input-group">
    <div class="pin-type-marker">
        <img src="" class="pin-type-marker-image hidden">
        <input type="file" name="wpUploadFile" class="pin-type-marker-image-upload">
        <input type="hidden" name="pinTypeMarkers[]" class="pin-type-marker-image-url">
    </div>
	<input type="text" name="pinTypeNames[]" placeholder="{{placeholder}}" value="{{name}}">
	<a href="" title="{{delete}}" class="deleteIcon modalEvent" data-event="deletePinType">{{delete}}</a>
</div>
