<form class="WikiaForm intMapPoiCategories" id="intMapPoiCategories" enctype="multipart/form-data">
	<input type="hidden" name="mapId" value="{{mapId}}">
	{{#poiCategories}}
		{{> poiCategory}}
	{{/poiCategories}}
</form>
<a href="" title="{{addPoiCategory}}" class="addPoiCategory modalEvent" data-event="addPoiCategory">{{addPoiCategory}}</a>
