<div class="input-group">
    <div class="poi-category-marker">
        <img src="{{wgBlankImgUrl}}" class="poi-category-marker-image hidden">
        <input type="file" name="wpUploadFile" class="poi-category-marker-image-upload">
        <input type="hidden" name="poiCategoryMarkers[]" class="poi-category-marker-image-url">
    </div>
    <select name="poiCategoryParents[]">
        <option value="">{{emptyOption}}</option>
        {{#parentPoiCategories}}
            {{> parentPoiCategory}}
        {{/parentPoiCategories}}
    </select>
	<input type="text" name="poiCategoryNames[]" placeholder="{{placeholder}}" value="{{name}}">
	<a href="" title="{{delete}}" class="deleteIcon modalEvent" data-event="deletePoiCategory">{{delete}}</a>
</div>
