<div class="input-group poi-category" data-id="{{id}}">
	<div class="poi-category-marker">
		<a title="{{uploadImgLink}}" data-event="triggerMarkerUpload" class="int-map-icon-add-poi-light-gray modalEvent image-upload-button dashed-border">
			<span {{#marker}}class="hidden"{{/marker}}>{{uploadImgLink}}</span>
			<img src="{{marker}}" class="poi-category-marker-image {{^marker}}hidden{{/marker}}" width="{{iconSize}}" height="{{iconSize}}">
		</a>
		<input type="file" name="wpUploadFile" class="poi-category-marker-image-upload hidden">
		<input type="hidden" name="poiCategories[][marker]" class="poi-category-marker-image-url">
	</div>
	<select class="poi-category-dropdown" name="poiCategories[][parent_poi_category_id]">
		<option value="">{{emptyOption}}</option>
		{{#parentPoiCategories}}
		{{> parentPoiCategory}}
		{{/parentPoiCategories}}
	</select>
	<input type="text" name="poiCategories[][name]" placeholder="{{placeholder}}" value="{{name}}">
	<input type="hidden" name="poiCategories[][id]" value="{{id}}">
	<a title="{{delete}}" class="delete-icon int-map-icon-delete-light-gray modalEvent" data-event="deletePoiCategory">{{delete}}</a>
</div>
