<div class="wikia-interactive-map-wrapper">
<div class="wikia-ad wikia-ad-interactive-map hidden" data-map-id="{{mapId}}"></div>
<iframe src="{{url}}" name="wikia-interactive-map" width="100%" height="100%"></iframe>
</div>