<form class="WikiaForm intMapPinTypes" id="intMapPinTypes">
	<input type="hidden" name="mapId" value="{{mapId}}">
	{{#pinTypes}}
		{{> pinType}}
	{{/pinTypes}}
	<a href="" title="{{addPinType}}" class="addPinType modalEvent" data-event="addPinType">{{addPinType}}</a>
</form>