<div id="intMapChooseType">
	<p class="tip">{{chooseTypeTip}} <a href="http://maps.wikia.com" title="{{chooseTypeTipLink}}" target="_blank">{{chooseTypeTipLink}}</a></p>
	{{#mapType}}
		<h3 class="tile-set-type"><a href="" title="{{name}}" class="int-map-{{type}} modalEvent" data-event="{{event}}"
			data-type="{{type}}">{{name}}</a></h3>
	{{/mapType}}
</div>
<div id="intMapBrowse" class="int-map-browse-tile-set WikiaForm">
	<p class="tip">{{chooseTileSetTip}}</p>
	<div class="input-group">
		<input type="text" id="intMapTileSetSearch" class="tile-set-search" placeholder="{{searchPlaceholder}}">
		<button class="clear-search secondary hidden" id="intMapClearSearch" data-event="clearSearch">{{clearSearch}}</button>

	</div>
	<ul id="intMapTileSetsList">
		<li>
			<form enctype="multipart/form-data">
				<input type="file" id="intMapUpload" class="hidden" name="wpUploadFile">
				<a href="" title="{{uploadLink}}" id="intMapUploadLink" class="upload-link modalEvent" data-event="uploadTileSetImage">{{uploadLink}}</a>
			</form>
		</li>
	</ul>
</div>

