<li class="tile-set-thumb">
	<a href="" class="modalEvent" data-id="{{id}}" title="{{name}}" data-event="selectTileSet">
		<img src="{{image}}" alt="{{name}}" width="116" height="116" />
	</a>
		<span>{{name}}</span>

</li>
