<div id="intMapChooseType" class="int-map-choose-tile-set-type">
	{{#mapType}}
		<h3><a href="" title="{{name}}" id="intMap{{type}}" class="int-map-{{type}} modalEvent" data-event="intMap{{type}}">{{name}}</a></h3>
	{{/mapType}}
</div>

<ul id="intMapBrowse" class="int-map-browse-tile-set">
	<li>
		<form enctype="multipart/form-data">
			<input type="file" id="intMapUpload" name="wpUploadFile">
			<a href="" title="{{upload-link}}" id="intMapUploadLink">{{upload-link}}</a>
		</form>
	</li>
</ul>
