<div class="wikia-interactive-map-wrapper">
<div class="wikia-ad wikia-ad-interactive-map hidden" data-map-id="{{mapId}}"></div>
<iframe data-url="{{url}}" id="wikiaInteractiveMapIframe" name="wikia-interactive-map" width="100%" height="100%"></iframe>
</div>
