<p id="intMapError" class="map-modal-error error hidden"></p>
<div id="intMapInnerContent">
    <form class="WikiaForm intMapPoiCategoriesForm" id="intMapPoiCategoriesForm" enctype="multipart/form-data">
        <input type="hidden" name="mapId" value="{{mapId}}">
        <input type="hidden" name="poiCategoriesDeleted">
        {{#poiCategories}}
            {{> poiCategory}}
        {{/poiCategories}}
    </form>
    <a href="" title="{{addPoiCategory}}" class="addPoiCategory modalEvent" data-event="addPoiCategory">{{addPoiCategory}}</a>
</div>
