<p class="error hidden"></p>
<form class="WikiaForm intMapEditPOIForm" id="intMapEditPOIForm">
	<div class="article-image-wrapper">
		<svg version="1.1" id="intMapArticleImagePlaceholder" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
			viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve" width="83" height="83">
			<g>
				<polygon points="60.2,213.3 245.7,213.3 220.6,131.8 201.8,138 185.5,107.3 132.7,183.4 104.5,165.2 	"/>
				<path d="M83.6,139.1c12.3,0,22.3-10,22.3-22.3c0-12.3-10-22.3-22.3-22.3c-12.3,0-22.3,10-22.3,22.3
			C61.3,129.1,71.3,139.1,83.6,139.1z"/>
				<rect x="25.7" y="62.2" fill="none" stroke="#000000" stroke-width="12" stroke-miterlimit="10" width="247.4" height="176.4"/>
			</g>
		</svg>
		<img src="{{photo}}" class="article-image-url" width="83" height="83" />
	</div>
	<div class="input-group short next-to-thumb">
		<input class="wide" type="text" placeholder="{{namePlaceholder}}" name="name" value="{{name}}">
	</div>
	<div class="input-group article-suggestions-wrapper next-to-thumb">
		<input class="wide" id="intMapArticleTitle" type="text" placeholder="{{articlePlaceholder}}" name="link_title" value="{{link_title}}">
		<ul id="intMapArticleSuggestions" class="article-suggestions hidden"></ul>
	</div>
	<div class="input-group">
		<select class="wide" name="poi_category_id">
			<option value="" {{^poi_category_id}}selected{{/poi_category_id}}>{{categoryPlaceholder}}</option>
			{{#categories}}
				<option value="{{id}}" data-value-type="number" {{#selected}}selected{{/selected}}>{{{name}}}</option>
			{{/categories}}
		</select>
	</div>
	<div class="input-group">
		<textarea class="wide" name="description" placeholder="{{descriptionPlaceholder}}" maxlength="500">{{description}}</textarea>
	</div>
	<input type="hidden" name="id" data-value-type="number" value="{{id}}">
	<input type="hidden" name="mapId" data-value-type="number" value="{{mapId}}">
	<input type="hidden" name="lat" data-value-type="number" value="{{lat}}">
	<input type="hidden" name="lon" data-value-type="number" value="{{lon}}">
	<input type="hidden" name="imageUrl" data-value-type="text" value="{{imageUrl}}">
</form>

