<div class="input-group">
	<input type="text" name="pinTypeName[]" placeholder="{{placeholder}}" value="{{name}}">
	<a href="" title="{{delete}}" class="deleteIcon modalEvent" data-event="deletePinType">{{delete}}</a>
</div>
