<div id="intMapsChooseType" class="intMapsChooseType">
	<a href="" title="{{typeCustom}}" id="intMapCustom" class="intMapCustom">{{typeCustom}}</a>
	<a href="" title="{{typeGeo}}" id="intMapGeo" class="intMapGeo">{{typeGeo}}</a>

</div>

<div id="intMapsChooseTileSet" class="intMapsChooseTileSet">
	<form>
		<input type="file" value="{{uploadFileBtn}}">
	</form>
</div>
