<a href="{{mapPageUrl}}" class="wikiaInteractiveMapThumbnail" data-map-id="{{map.id}}" data-lat="{{params.lat}}" data-long="{{params.long}}" data-zoom="{{params.zoom}}"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /></a>