<nav class="maps-controls">
	<button id="createMap">{{messages.wikia-interactive-maps-create-a-map}}</button>
</nav>
<h2>{{messages.wikia-interactive-maps-title}}</h2>
{{#hasMaps}}
<ul class="map-list">
{{#maps}}
	<li>
		{{#done}}<a href="{{base_url}}/{{id}}">{{/done}}
			{{^done}}<div class="map-status">{{status_message}}</div>{{/done}}
			<img src="{{image}}" alt="{{title}}" height="{{map_height}}" width="{{map_width}}"/>
			<h3>{{title}}</h3>
			<p>{{updated_on}}</p>
		{{#done}}</a>{{/done}}
	</li>
{{/maps}}
</ul>
{{/hasMaps}}
{{^hasMaps}}
	<p>{{messages.wikia-interactive-maps-no-maps}}</p>
{{/hasMaps}}

