<div>
    <h2>{{wikia-interactive-maps-title}}</h2>
    <button id="createMap">{{wikia-interactive-maps-create-a-map}}</button>
</div>
<ul class="map_list">
{{#maps}}
    <li>
        {{#status}}<div class="map_status">{{status}}</div>{{/status}}
        <img src="{{image}}" alt="{{title}}">
        <h2>{{title}}</h2>
        <p>{{last_updated}}</p>
    </li>
{{/maps}}
</ul>
