<header class="WikiaPageHeader">
	<h1>{{title}}</h1>
	<nav class="wikia-menu-button">
		<a href="#">{{viewSource}}</a>
		<span class ='drop'>
			<img src="{{blankImg}}" class="chevron">
		</span>
		<ul class="WikiaMenuElement">
			<li>
				<a id="intMapsDeleteMap">{{deleteMap}}</a>
			</li>
		</ul>
	</nav>
</header>
{{#mapFound}}
<iframe src="{{url}}" name="wikia-interactive-map" width="100%" height="{{#height}}{{height}}{{/height}}{{^height}}100%{{/height}}" data-mapid={{mapId}}></iframe>
{{/mapFound}}
{{^mapFound}}
    <p>{{messages.wikia-interactive-maps-map-not-found-error}}</p>
{{/mapFound}}