<a href="{{mapPageUrl}}" class="wikia-interactive-map-thumbnail" data-map-id="{{map.id}}" data-map-url="{{map.url}}"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /></a>{{{jsSnippet}}}