<p class="map-creation-error error hidden"></p>

<div id="intMapsChooseType" class="intMapsChooseType">
	{{#mapType}}
		<h3><a href="" title="{{name}}" id="intMap{{type}}" class="intMap{{type}} modalEvent" data-event="intMap{{type}}">{{name}}</a></h3>
	{{/mapType}}
</div>

<div id="intMapsCustomTileSet" class="intMapsCustomTileSet">
	<form enctype="multipart/form-data">
		<input type="file" id="intMapUpload" name="wpUploadFile">
	</form>
</div>

<div id="intMapsAddTitle" class="intMapsAddTitle"></div>
