<a href="{{mapPageUrl}}" class="wikia-interactive-map-thumbnail" data-map-id="{{map.id}}" data-lat="{{params.lat}}" data-lon="{{params.lon}}" data-zoom="{{params.zoom}}"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /></a>{{{jsSnippet}}}