
/* Favorite/Unfavorite Icon Styling */

#ca-unfavorite.icon,
#ca-favorite.icon {
 margin-right:3px;
 margin-left:0px;
}
#ca-unfavorite.icon a,
#ca-favorite.icon a {
 margin: 0;
 padding: 0;
 outline: none;
 display: block;
 width: 22px;
 height: 2.5em;
 	
	/* This hides the text but shows the background image */
	padding-top: 3.1em;
	margin-top: 0;
	/* Only applied in IE6 */
	margin-top: -0.8em !ie;
	height: 0;
	overflow: hidden;
	/* @embed */
	background-image: url(images/fav-icons.png);
 
}
#ca-favorite.icon a {
 background-image: url(images/fav-icons.png);
 background-position: 3px 60%;
}
#ca-unfavorite.icon a {
 background-image: url(images/fav-icons.png);
 background-position: -45px 60%;
}
#ca-favorite.icon a:hover {
 background-image: url(images/fav-icons.png);
 background-position: -45px 60%;
}
#ca-unfavorite.icon a:hover {
 background-image: url(images/fav-icons.png);
 background-position: 3px 60%;
}
#ca-unfavorite.icon a.loading,
#ca-favorite.icon a.loading {
 background-image: url(images/fav-icon-loading.gif);
 background-position: center 60%;
}
#ca-unfavorite.icon a span,
#ca-favorite.icon a span {
 display: none;
}
