@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/buttons";
@import "skins/oasis/css/wikiagrid";

.ve-ce-phantom {
	background-image: -webkit-repeating-linear-gradient(-45deg, $color-page 0px, $color-page 5px, $color-buttons 5px, $color-buttons 10px );
	background-image: -moz-repeating-linear-gradient(-45deg, $color-page 0px, $color-page 5px, $color-buttons 5px, $color-buttons 10px);
}

.ve-ui-toolbar-wrapper {
	margin-top: -9px;
}



/* Button styles */
.ve-init-mw-viewPageTarget-toolbar-saveButton, .ve-init-mw-viewPageTarget-toolbar-cancelButton {
	@extend .button;
	margin-top: 4px;
	margin-left: 4px;
}

.ve-init-mw-viewPageTarget-toolbar-saveButton-disabled {
	@extend .button[disabled];
}


/* Save dialog styles */
.ve-init-mw-viewPageTarget-saveDialog {
	display: none;
	top: 0;
	right: 0;
	width: ( $width-grid-column * 2 ) + $width-grid-gutter;
	font-family: sans-serif;
	position: absolute;
	border: solid 1px #ccc;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
	background-color: #fff;
	-webkit-box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.2);
	padding: 0.75em;
	padding-top: 2.5em;
	min-width: 15em;
	z-index: 3;
}

.ve-init-mw-viewPageTarget-saveDialog-body {
	border-top: 1px solid #ddd;
	padding: 1em 0;
}

.ve-init-mw-viewPageTarget-saveDialog-license {
	font-size: 0.7em;
	line-height: 1.25em;
	padding: 0;
	margin: 0;
	color: #999;
}

.ve-init-mw-viewPageTarget-saveDialog-title {
	position: absolute;
	top: 0;
	left: 1em;
	height: 2.8em;
	line-height: 2.8em;
	color: #333;
	font-size: 0.9em;
}

.ve-init-mw-viewPageTarget-saveDialog-summary {
	background-color: #fff;
	border: solid 1px #cccccc;
	border-bottom: none;
	padding: 0.5em;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	-moz-border-radius: 0.25em 0.25em 0 0;
	-o-border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
}

.ve-init-mw-viewPageTarget-saveDialog-options {
	position: relative;
	background-color: #f7f7f7;
	margin-bottom: 1em;
	border: solid 1px #cccccc;
	-webkit-border-radius: 0 0 0.25em 0.25em;
	-moz-border-radius: 0 0 0.25em 0.25em;
	-o-border-radius: 0 0 0.25em 0.25em;
	border-radius: 0 0 0.25em 0.25em;
}

.ve-init-mw-viewPageTarget-saveDialog-body label {
	font-size: 0.8em;
	line-height: 3em;
}

.ve-init-mw-viewPageTarget-saveDialog input[type="checkbox"] {
	margin: 0 0.5em 0 1em;
	line-height: 3em;
}

.ve-init-mw-viewPageTarget-saveDialog-editSummary-label {
	display: none;
}

.ve-init-mw-viewPageTarget-saveDialog-editSummaryCount {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border-left: solid 1px #eee;
	line-height: 3em;
	padding: 0 1em;
	color: #aaa;
}

.ve-init-mw-viewPageTarget-saveDialog-editSummary {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	resize: none;
	font-size: 0.8em;
	font-family: sans-serif;
}

.ve-init-mw-viewPageTarget-saveDialog-editSummary:focus {
	outline: none;
}
