@import "skins/shared/mixins/background-opacity";
@import "skins/shared/color";
@import "skins/shared/mixins/gradient";
@import "WikiaMapsShared";

.maps-controls {
	position: absolute;
	right: 0;
	top: -6px;

	> button,
	> form,
	> select {
		display: block;
		float: right;
		margin-left: 10px;
	}
}

.map-list {
	h3 {
		@include map-thumb-title($content-color, $gradient-color-start, $map-item-max-width);
	}

	li {
		overflow-x: hidden;
		position: relative;
		margin: 0px 0px 1px;
	}

	.map-status {
		@include background-opacity(#fff, 40);
		padding: 0.6rem;
		position: absolute;
		right: 0;
	}
}

.no-maps {
	text-align: center;

	h2 {
		margin-bottom: 40px;
		text-align: left;
	}
}

.WikiaArticle .map-list {
	list-style: none;
	margin: 0 0 10px;
}

.wikia-interactive-maps {
	position: relative;

	.wikia-menu-button {
		padding-left: 10px;
	}
}

.wikia-interactive-maps-page-header .wikia-menu-button {
	padding-left: 8px;
}

.wikia-interactive-map-wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}
