@import "skins/oasis/css/mixins/background-opacity";
@import "skins/oasis/css/core/color";

.maps-controls {
	position: absolute;
	right: 0;
}

.WikiaArticle .map-list {
	list-style: none;
	margin: 0;

	li {
		position: relative;
	}

	.map-status {
		@include background-opacity(#fff, 40);
		padding: 0.6em;
		position: absolute;
		right: 0;
	}

	h3, p {
		border: 0;
		color: $color-text-light;
		left: 30px;
		position: absolute;
	}

	h3 {
	  bottom: 2.2em;
	}

	p {
	  bottom: 1em;
	}
}
