@import "WikiaMapsShared";

.map-list {
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		display: block;
		margin: 0;
		padding: 0;
		line-height: 0;
	}

	h3 {
		@include map-thumb-title($content-color, $gradient-color-start, $map-item-mobile-max-width);
		line-height: 20px;
	}

	li {
		margin: 0px 0px 1px;
		overflow: hidden;
		position: relative;
 	}
}

.error {
	padding: 0 15px;
}