<figure data-component="article-media-image" data-ref="{{ref}}">
	<a href="{{#media.link}}{{media.link}}{{/media.link}}{{^media.link}}{{media.url}}{{/media.link}}">
		<img class="article-media" src="//:0" alt="{{media.title}}"{{{imageSize}}}>
		<noscript>
			<img src="" alt="{{media.title}}"{{{imageSize}}}>
		</noscript>
	</a>
	<figcaption>
		<a href="{{media.fileUrl}}" style="display: none"></a>
		{{#media.caption}}{{{media.caption}}}{{/media.caption}}
	</figcaption>
</figure>
