<a href="{{href}}"{{#caption}} title="{{caption}}"{{/caption}}>
	<amp-img class="article-media-icon"
			 alt="{{title}}"
			 src="{{url}}"
			 width="{{width}}"
			 height="{{height}}">
	</amp-img>
</a>
