<div class="article-media-gallery gallery{{#hasLinkedImages}} linked-gallery{{/hasLinkedImages}}"
	data-component="{{#hasLinkedImages}}article-media-linked-gallery{{/hasLinkedImages}}{{^hasLinkedImages}}article-media-gallery{{/hasLinkedImages}}"
	data-attrs="{{galleryAttrs}}" data-ref='{{ref}}'>
{{#media}}
    {{> media-thumbnail}}
{{/media}}
</div>
