<div class="article-media-gallery gallery{{#hasLinkedImages}} linked-gallery{{/hasLinkedImages}}"
	{{#galleryAttrs}}data-attrs="{{galleryAttrs}}"{{/galleryAttrs}}>
{{#media}}
    {{> gallery-thumbnail}}
{{/media}}
</div>
