<img src="//:0" class="article-media" data-component="image-media" data-attrs="{{attrs}}"{{#media.width}} width="{{media.width}}"{{/media.width}}{{#media.height}} height="{{media.height}}"{{/media.height}}/>
