{{#link}}
<a href="{{link}}">
{{/link}}
	<img src="{{url}}" alt="{{title}}"{{#caption}} title="{{caption}}"{{/caption}}{{#width}} width="{{width}}"{{/width}}{{#height}} height="{{height}}"{{/height}}>
{{#link}}
</a>
{{/link}}
