<div class="article-media-gallery__row article-media-gallery__row-3{{#rowHidden}} wds-is-hidden{{/rowHidden}}">
	<div class="article-media-gallery__column{{#left}} article-media-gallery__column-big{{/left}}">
		{{#leftColumn}}
			{{> gallery-thumbnail}}
		{{/leftColumn}}
	</div>
	<div class="article-media-gallery__column{{#right}} article-media-gallery__column-big{{/right}}">
		{{#rightColumn}}
			{{> gallery-thumbnail}}
		{{/rightColumn}}
	</div>
</div>