<figure class="article-media-image"{{#mediaAttrs}} data-component="article-media-image" data-attrs="{{mediaAttrs}}"{{/mediaAttrs}}>
	<a href="{{#link}}{{link}}{{/link}}{{^link}}{{url}}{{/link}}">
		<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="{{title}}"{{#width}} width="{{width}}"{{/width}}{{#height}} height="{{height}}"{{/height}}>
		<noscript>
			<img src="{{url}}" alt="{{title}}">
		</noscript>
	</a>
	<figcaption>{{{caption}}}</figcaption>
</figure>
