{{#link}}
<a href="{{link}}"{{#caption}} title="{{caption}}"{{/caption}}>
	<img class="article-media-icon"
		src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{width}} {{height}}'%2F%3E"
		data-src="{{url}}"
		alt="{{title}}"
		{{#width}} width="{{width}}"{{/width}}
		{{#height}} height="{{height}}"{{/height}}>
</a>
{{/link}}
{{^link}}
	<img class="article-media-icon"
		src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{width}} {{height}}'%2F%3E"
		data-src="{{url}}"
		alt="{{title}}"
		{{#caption}} title="{{caption}}"{{/caption}}
		{{#width}} width="{{width}}"{{/width}}
		{{#height}} height="{{height}}"{{/height}}>
{{/link}}
