// Oasis Mixins
@import "skins/oasis/css/mixins/gradient";

// Oasis Imports
@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/layout";

// VE Mixins
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/mixins/ve-icon";

// Wikia VE Imports
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/color";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Icons-vector";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Surface";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Dialog";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Frame";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Tool";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.ToolGroup";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.WikiaMediaInsertDialog";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Toolbar";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Context";
@import "extensions/VisualEditor/wikia/modules/ve/ui/styles/ve.ui.Widget";

/*
 * Fixes background colors in inspectors and dialogs
 * Fixes width problems inherited from Oasis responsive breakpoints
 */
.ve-ui-frame-body,
.ve-ui-popupWidget-body {
	background: $color-page;
	min-width: 0;
}

/*
 * Fixes link type-ahead positioning due to Oasis margins set on lists
 */
.WikiaArticle .ve-ui-selectWidget {
	margin: 0;
}

/*
 * Fixes font size for type-ahead widget. This style is from mw init.
 */
.ve-init-mw-viewPageTarget-surface .ve-ui-menuWidget {
	font-size: .8em;
}

/*
 * Color for toolbar button labels
 */
.ve-init-mw-viewPageTarget-tool-label {
	color: $color-text;
}

/*
 * Beta notice
 */
.ve-init-mw-viewPageTarget-toolbar-betaNotice {
	background: $color-page;
	border-color: $color-page-border;
}

/*
 * Save panel
 */
.ve-init-mw-viewPageTarget-saveDialog {
	background: $color-page;
	color: $color-text;

	// Copied from Oasis article.scss
	td.diff-context {
		background-color: $color-diff-context;
	}
	td.diff-deletedline,
	td.diff-addedline {
		color: #000;
	}
	table.diff, td.diff-otitle, td.diff-ntitle {
		background-color: $color-page;
	}

}
.ve-init-mw-viewPageTarget-saveDialog-title {
	color: $color-text;
}
.ve-init-mw-viewPageTarget-saveDialog-options {
	background: $color-ve-page-secondary;
}
