<li class="section sort-disabled featured">
	<div class=image {{#image_id}}data-id="{{image_id}}"{{/image_id}} {{#image_url}}style="background-image:url('{{image_url}}')"{{/image_url}}></div>
	<input class=section-input value="{{value}}" disabled/>
	<span class="sprite photo{{#image_set}} photo-remove{{/image_set}}"></span>
</li>
