<div id=contentManagmentForm>
	<ol class=header>
		{{#descriptions}}
		<li>{{.}}</li>
		{{/descriptions}}
	</ol>
	<ul>
		{{{list}}}
		{{^list}}
			{{{featured}}}
			{{{section}}}
			{{{item}}}
		{{/list}}
	</ul>
    <button class=secondary id=addSection>{{addSection}}</button>
    <button class=secondary id=addItem>{{addItem}}</button>
	<button id=save>{{save}}</button>
</div>
