//mixins
@import "../../WikiaMobile/css/mixins/section-title.scss";
@import "../../WikiaMobile/css/mixins/box-shadow.scss";
@import "../../WikiaMobile/css/mixins/linear-gradient.scss";
@import "../../WikiaMobile/css/mixins/transition.scss";

//vars
$comment-left-margin: $page-padding + 60px;

.js{
	#wkComm {
		display: none;

		.rpl {
			display: block;
		}
	}

	#commMore{
		display: block;
	}
}

.fkRpl {
	display: none;
}

#wkArtCom{
	.collSec{
		@include section-title-related;
	}

	form {
		position: relative;
		margin: 5px 0;
	}

	textarea {
		margin: 0;
		padding: 0;
		border: 1px solid $border-color;
		@include box-shadow(inset 2px 2px 8px -3px grey);
		border-radius: 5px 0 0 5px;
		height: 30px;
		font-size: 18pt;
		font-weight: 100;
		padding-left: 5px;
		position: relative;
		width: 82%;

		&:focus {
			height: 140px;
		}
	}

	input {
		height: 32px;
		width: 17%;
		padding: 0;
		font-size: small;
		border-radius: 0 5px 5px 0;
		position: absolute;
		right: 0;
		margin: 0;
		@include box-shadow(-2px 0 5px -2px grey);
	}

	.rpl {
		margin: 0 0 0 70px;
		border-top: 1px solid $border-color;
		color: $link-color;
		height: 44px;
		line-height: 40px;
		font-weight: 100;
		padding-left: 5px;
		width: 100%;
		display: none;

		&:active, &.fkAct {
			color: white;
			@include linear-gradient($activeGradient1, $activeGradient2);
		}
	}
}

#wkComm.open{
	display:block;
}

#wkComUl{
	margin: 0;
	padding: 0;
	list-style: none;

	&>.comment:first-child{
		border: none;
	}

	.sub-comments{
		list-style: none;

		&>.comment:first-child{
			position: relative;

			&::before {
				border-color: transparent transparent $border-color transparent;
				border-style: solid;
				border-width: 11px;
				content: " ";
				height: 0;
				position: absolute;
				top: -22px;
				left: 40px;
				width: 0;
			}

			&::after {
				border-color: transparent transparent $page-background-color transparent;
				border-style: solid;
				border-width: 10px;
				content: " ";
				height: 0;
				position: absolute;
				top: -19px;
				left: 41px;
				width: 0;
			}
		}
	}

	.comment{
		border-top: 1px solid $border-color;
		padding: $page-padding 0;

		.msg{
			border-left: none;
			margin: 0 0 0 $comment-left-margin;
			padding-left: 0;

			.by{
				font-weight: bold;
			}

			.txt{
				p:first-child{
					margin: 0;
					padding: 0;
				}
			}

			.date{
				color: $page-text-alternate-color;
				font-size: small;

				a{
					color: $page-text-alternate-color;
				}
			}
		}

		.avatar{
			float: left;
			margin-right: $page-padding;
		}

		.buttons{
			display: none;
		}
	}

	.sub-comments{
		margin: 0 0 0 $comment-left-margin;
		padding: 0;
	}
}

#commMore, #commPrev{
	display: none;
	border-top: 1px solid $border-color;
	color: $link-color;
	font-size: medium;
	height: 50px;
	line-height: 50px;
	left: -$page-padding;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 110%;

	&.pag{
		display: block;
	}

	&.active{
		@include box-shadow(inset 0 30px 20px -20px rgba(0,0,0,.4));
		background-color: $border-color;
		padding: $page-padding 0;
		height: 70px;

		//hide the text and make it take no space without adding
		//yet another wrapping element...
		color: transparent;
		line-height: 0;
	}
}

#commMore{
	&.active{
		margin-bottom: $page-padding;
	}
}

#commPrev{
	border-bottom: 1px solid $border-color;
}