/**
 * Style file for the CategoryStepper extension.
 *
 * @file
 * @ingroup Extensions
 */

table.categorystepper {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}

table.categorystepper th, table.categorystepper td {
	border: 1px #aaa solid;
	padding: 0.2em;
}

table.categorystepper th {
	background: #f2f2f2;
	text-align: center;
}

table.categorystepper caption {
	margin-left: inherit;
	margin-right: inherit;
	font-weight: bold;
}

table.categorystepper {
	background-color: transparent;
}
