@charset "utf-8";

// namespace root
.oo-player-container {
  // Core variables
  @import "base/variables";

  // Mixins
  @import "mixins/mixins";

  // Utility classes
  @import "base/utilities";

  // Normalize and reset
  @import "base/normalize";
  @import "base/reset";

  // Core CSS
  @import "base/base";
  @import "base/type";

  // Views
  @import "components/content-screen";
  @import "components/state-screen";
  @import "components/start-screen";
  @import "components/pause-screen";
  @import "components/error-screen";
  @import "components/ad-screen";
  @import "components/popover";

  // Components
  @import "components/discovery-panel";
  @import "components/share-panel";
  @import "components/closed-captions";
  @import "components/scrollbar";
  @import "components/webvtt";
  @import "components/buttons";
  @import "components/forms";
  @import "components/scrubber-bar";
  @import "components/control-bar";
  @import "components/up-next-panel";
  @import "components/count-down-clock";
  @import "components/spinner";
  @import "components/slider";
  @import "components/ad-overlay";
  @import "components/ad-panel";
  @import "components/plugins";
  @import "components/text-track";
  @import "components/more-options";
  @import "components/video-quality";
  @import "components/tabs";
  @import "components/thumbnail";
  @import "components/watermark";

  // Responsive
  @import "responsive/xsmall";
  @import "responsive/small";
  @import "responsive/large";
  @import "responsive/portrait";

  // Skin
  @import "skin/default";
}

//override non-responsive css on debug.ooyala.com
//remove this after test site updated
#video_container {
  display: inline !important;
  margin: 0 !important;
}
#ooplayer {
  width:auto !important;
  height:auto !important;
}