<script type="text/javascript">
	require([
		'wikia.document',
		'ext.wikia.adEngine.adContext'
	], function (doc, adContext) {
		var context = adContext.getContext();

		function runPFCode() {
			{{{code}}}
		}

		if (context.opts.pageFairRecovery === true && !window.wgUserName) {
			if (context.opts.babRecovery) {
				doc.addEventListener('bab.blocking', runPFCode);
			} else {
				runPFCode();
			}
		}
	});
</script>
