<script>
{{{code}}}
window._sp_ = {
    config: {
        enable_rid: true,
        content_control_callback: function() {
            var logGroup = 'ext.wikia.aRecoveryEngine.recovery.bootstrap',
                msg = '<h2>Ad blocker interference detected!</h2>';
                msg += '<h3>If you have added a new rule to your ad blocker that interferes with the loading of ads on your pages, ';
                msg += 'this Interference Screen is the expected behaviour. <br />';
                msg += 'Removing the rule(s) should load the page as expected.</h3>';
            if (!window.wgUserName) {
                document.getElementById('WikiaArticle').innerHTML = msg;
                window.addEventListener('load', function(){
                    require(['ext.wikia.aRecoveryEngine.recovery.helper'], function (helper) {
                        'use strict';
                        helper.track('callback');
                    });
                });
            } else {
                window.Wikia.log(['isContentControlEnabled', false], 'debug', logGroup);
            }
        }
    }
};

spBootstrap('{{domain}}/api/v1/ARecoveryEngine/delivery');

window.addEventListener('load', function(){
    require(['ext.wikia.aRecoveryEngine.recovery.helper'], function (helper) {
        'use strict';
        helper.verifyContent();
    });
});


</script>
