<script type="text/javascript">
	require([
		'ext.wikia.adEngine.adContext'
	], function (adContext) {
		var context = adContext.getContext();

		if (context.opts.pageFairRecovery === true && !window.wgUserName) {
			var event = doc.createEvent('Event');
			event.initEvent('rcv.ilb', true, false);

			doc.addEventListener('rcv.ilb', function () {
				{{{code}}}
			});

			if (context.opts.babRecovery) {
				doc.addEventListener('bab.blocking', function () {
					doc.dispatchEvent(event);
				});
			} else {
				doc.dispatchEvent(event);
			}
		}
	});
</script>
