<!-- Begin recovery -->
<script type="text/javascript">
{{{code}}}

window._sp_ = window._sp_ || {};
window._sp_.config = window._sp_.config || {};
window._sp_.config.account_id = 106;
window._sp_.config.publisher_base = '{{domain}}/{{cs_endpoint}}';
window._sp_.config.enable_rid = true;
window._sp_.content_control_callback = function() {
    var logGroup = 'ext.wikia.aRecoveryEngine.recovery.bootstrap';
    if (!window.wgUserName) {
        document.getElementById('WikiaArticle').style.display = 'none';
        document.getElementById('WikiaArticleMsg').style.display = 'block';
        window.addEventListener('load', function(){
            require(['ext.wikia.aRecoveryEngine.recovery.helper'], function (helper) {
                'use strict';
                helper.track('callback');
            });
        });
    } else {
        window.Wikia.log(['isContentControlEnabled', false], 'debug', logGroup);
    }
};

require([
"ext.wikia.adEngine.adContext",
], function (adContext) {
    var context = adContext.getContext();
    if (context.opts.sourcePointRecovery === true) {
        window._sp_.bootstrap('{{domain}}/api/v1/ARecoveryEngine/delivery');
    }
});


window.addEventListener('load', function(){
    require(['ext.wikia.aRecoveryEngine.recovery.helper'], function (helper) {
        'use strict';
        helper.verifyContent();
    });
});
</script>
<!-- End recovery -->