<script type="text/javascript">
	require([
		'wikia.document',
		'ext.wikia.adEngine.adContext'
	], function (doc, adContext) {
		var context = adContext.getContext();

		function runILCode() {
			{{{code}}}
		}

		if (context.opts.instartLogicRecovery) {
			if (context.opts.babRecovery) {
				doc.addEventListener('bab.blocking', function () {
					runILCode();
				});
			} else {
				runILCode();
			}
		}
	});
</script>
