<script type="text/javascript">
	require([
		'ext.wikia.adEngine.adContext'
	], function (adContext) {
		var context = adContext.getContext();

		if (context.opts.instartLogicRecovery) {
			{{{code}}}
		}
	});
</script>
