<script type="text/javascript">
	require([
		'wikia.document',
		'ext.wikia.adEngine.adContext'
	], function (doc, adContext) {
		var context = adContext.getContext();


		if (context.opts.instartLogicRecovery) {
			if (context.opts.babRecovery) {
				document.addEventListener('bab.blocking', function () {
					{{{code}}}
				});
			} else {
				{{{code}}}
			}
		}
	});
</script>
