#premium-design-ab-test-B-pageheader {
	display: none;

	.video {
		background-image: url('/extensions/wikia/PremiumDesignABTest/images/Video.png'); /* $wgCdnStylePath */
		background-size: cover;
		margin-bottom: 11px;
		padding-top: 56%;
		width: 100%;
	}
}
