$bordo: #5f1023;
$bordo-hover: #8b1733;

$grindelwald-thumbnail: url("/extensions/wikia/PremiumDesignABTest/images/video.png");
$newton-scamander-thumbnail: url("/extensions/wikia/PremiumDesignABTest/images/newton_scamander.jpg");
$hogwart-houses-thumbnail: url("/extensions/wikia/PremiumDesignABTest/images/hogwart_houses.jpg");
