<header id='wkMainCntHdr'{{#editLink}} class='has-edit-button'{{/editLink}}>
<h1>{{{pageTitle}}}</h1>
{{#categoryPage}}<div>{{categoryPage}}</div>{{/categoryPage}}
{{#lastEditedOn}}<div>{{{lastEditedOn}}}</div>{{/lastEditedOn}}
{{#lastEditedBy}}<div>{{{lastEditedBy}}}</div>{{/lastEditedBy}}
{{#editLink}}<a href="{{editLink}}" class='editsection'></a>{{/editLink}}
{{#commentCounter}}<a href='#wkArtComHeader' class='comment-counter'>{{commentCounter}}</a>{{/commentCounter}}
</header>

