<section class="trending-articles">
	<h2 id="trendingArticles">{{trendingArticlesHeading}}</h2>
	{{#trendingArticles}}
	<a href="{{url}}" title="{{title}}" class="related-article small">
		<img src="{{blankImg}}" data-src="{{imgUrl}}" alt="{{title}}" width="{{imgWidth}}" height="{{imgHeight}}" class="lazy" />
		<div class="title">{{title}}</div>
	</a>
	{{/trendingArticles}}
</section>

