<section>
	<h2>{{trendingArticlesHeading}}</h2>
	<ul class="wkLst artSec open">
	{{#trendingArticles}}
	<li>
		<a href="{{pageUrl}}" title="{{pageTitle}}" class="related-article small">
			<img src="{{blankImg}}" data-src="{{imgUrl}}" alt="{{pageTitle}}" width="{{imgWidth}}" height="{{imgHeight}}" class="lazy" />
			<div class="title">{{pageTitle}}</div>
		</a>
	</li>
	{{/trendingArticles}}
	</ul>
</section>

