@import "../../../../skins/oasis/css/core/color";
@import "core/colors";

.SpecialPageWrapper {
	padding: 20px;

	.Instance {
		background-color: $color-MiniEditor;
		margin-bottom: 10px;
		width: 500px;
		
		h3 {
			margin: 0;
			padding: 5px 10px;
		}
	}

	.MiniEditorWrapper {
		padding: 10px;

		.editarea {
			background-color: $color-page;
			border: 1px $color-page-border solid;
			padding: 5px;

			.TextareaToReplace, .DivToReplace {
				background-color: $color-page;
				border: 0;
				color: $color-alternate-text;
				height: 75px;
				margin: 0;
				padding: 0;
				width: 100%;
			}
		}
	}

	.MiniEditorButtons {
		display: none;
		padding: 0 10px 10px 10px;
		text-align: right;
	}

	#MiniEditorEdit {
		margin: 0 10px 10px 20px;
		width: 480px;

		.MiniEditorWrapper {
			.editarea {
				border: 0;
	
				.ElementToReplace {
					color: $color-text;
					width: auto;
				}
			}
		}
	}

	#MiniEditorReply {
		margin: 0 10px 10px 20px;
		padding: 0;
		width: 480px;

		.MiniEditorWrapper {
	
			.ElementToReplace {
				height: 12px;
			}
			
			.toolbar {
				margin-top: 0;
				padding: 10px 5px;
			}
		}
	}
	.buttons {
		margin: 10px 20px;
		.wikia-menu-button {
			cursor: pointer;
			padding: 0 8px;
		}
	}
}