<input type="{{type}}" {{#id}}id="{{id}}"{{/id}} class="button {{#classes}}{{.}} {{/classes}}" name="{{name}}" value="{{value}}" {{#disabled}}disabled{{/disabled}} {{#data}}data-{{key}}="{{value}}"{{/data}}/>