<button type="{{type}}" {{#id}}id="{{id}}"{{/id}} class="button {{#classes}}{{.}} {{/classes}}" {{#disabled}}disabled{{/disabled}} {{#data}} data-{{key}}="{{value}}"{{/data}}>{{#imageClass}}<img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" height="0" width="0" class="sprite {{imageClass}}"> {{/imageClass}}{{value}}</button>