.CustomizeTab {
	.color-body-middle {
		display: none;
	}
	.page {
		padding-left: 40px;
	}
	li {
		float: left;
		margin-right: 30px;
		&.background {
			max-width: 310px;
		}
		img {
			border: 1px solid $color-borders;
			cursor: pointer;
			display: block;
			height: 50px;
			margin: 3px 0;
			width: 50px;
		}
		.background-image {
			height: 100px;
			width: 120px;
		}
	}
	ul {
		@include clearfix;
	}
}

.OpacitySlider {
	margin-top: 12px;
	width: 84px;
}