.CustomizeTab {
	.page {
		padding-left: 40px;
	}
	li {
		float: left;
		margin-right: 30px;
		img {
			border: 1px solid $color-borders;
			cursor: pointer;
			display: block;
			height: 50px;
			margin: 3px 0;
			width: 50px;
		}
	}
}