$height-designer: 240px;
$height-toolbar: 45px;

$color-borders: #CECECE;

@import "../../../../skins/oasis/css/core/reset";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/core/buttons";
@import "../../../../skins/oasis/css/core/typography";

body {
	background: #F5F5F5;
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	overflow: hidden;
}

.Designer {
	height: $height-designer;
	position: relative;
	h1 {
		font-size: 18px;
	}	
}

.Navigation {
	@include linear-gradient(transparent, left, #F5F5F5, 95%, #CCC, 100%);
	height: $height-designer;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	width: 100px;
	li {
		@include linear-gradient(transparent, left, #F5F5F5, 0%, #E1E1E1, 95%, #CCC, 100%);
		border-bottom: 1px solid $color-borders;
		&.selected {
			@include box-shadow(-2px, 0, 2px, #CCC);
			background: #FFF;
			a {
				color: #2070AD;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	a {
		color: #67a7d7;
		display: block;
		font-weight: bold;
		padding: 12px 10px;
		&:hover {
			text-decoration: underline;
		}
	}
}


.Toolbar {
	@include linear-gradient(#cfe1ed, top, #cfe1ed, 0%, #a6c4dc, 100%);
	border-bottom: 1px solid #999;
	bottom: 0;
	height: 45px;
	position: absolute;
	width: 100%;
}

section {
	background: #FFF;
	border-right: 1px solid $color-borders;
	display: none;
	height: $height-designer;
	left: 50%;
	margin-left: -400px;
	position: absolute;
	width: 900px;
}

fieldset {
	border-left: 1px solid $color-borders;
	float: left;
	height: 165px;
	margin: 15px;
	&:first-child {
		border-left: 0;
	}
}

h1 {
	margin-bottom: 8px;
}

.EventThief {
	background: #000;
	display: none;
	opacity: 0;
  filter: alpha(opacity=0);
	position: absolute;
	top: $height-designer;
	width: 100%;
}

.PreviewFrame {
	height: 100px; /* initial settings - JS will change it */
	width: 100%;
}

@import "../../../../extensions/wikia/ThemeDesigner/css/ThemeTab";
@import "../../../../extensions/wikia/ThemeDesigner/css/CustomizeTab";
@import "../../../../extensions/wikia/ThemeDesigner/css/WordmarkTab";
@import "../../../../extensions/wikia/ThemeDesigner/css/Picker";