@import "../../../../skins/oasis/css/mixins/opacity";

.clickmask {
	@include opacity(0);
	background-color: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}