@import "../../../../skins/oasis/css/mixins/opacity";
@import "../../../../skins/oasis/css/core/layout";

.clickmask {
	@include opacity(0);
	background-color: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $zTop + 1;
}