@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/opacity";

.WordmarkTab {
	fieldset {
		width: 260px;
	}
	button, input[type='submit'] {
		margin-top: 5px;
	}
	h2{
		margin-bottom: 5px;
	}
	.graphic, .favicon{
		padding: 0 15px;
		.preview {
			float: left;
			margin-top: 10px;
			position: relative;
			width: auto;
			.wordmark {
				cursor: pointer;
				&.selected {
					@include box-shadow(0px, 0px, 5px, #72ADD5);
					border-color: #72ADD5;
					cursor: default;
				}
			}
			a {
				color: #666;
				display: none;
				padding:2px;
				position: absolute;
				right: 0;
			}
			&.active:hover {
				a {
					display: block;
				}
			}
		}
	}
	.controls {
		@include clearfix;
		margin-bottom: 10px;
		li {
			float: left;
			margin-right: 10px;
		}
	}
	#wordmark-edit-button {
		margin-top: 15px;
	}
	#wordmark-shield {
		@include opacity(75);
		background: #FFF;
		display: none;
		left: 0;
		position: absolute;
		top: 0;
	}
}