body {
	padding: 0;
	margin: 0;
}

/* US Letter (215,9 mm x 279,4 mm) */
#MagCloudCoverWrapper {
	height: 950px;
	position: relative;
	width: 700px;
}

#MagCloudCoverTitle {
	text-align: center;
	height: 18%;
	position: absolute;
	top: 0;
	width: 100%;
}

#MagCloudCoverTitle * {
	display: block;
	padding: 2px;
}

#MagCloudCoverTitle big {
	font-size: 2.75em;
	margin-top: 20px;
}

#MagCloudCoverTitle small {
	font-size: 2em;
	font-weight: bold;
}

#MagCloudCoverBar {
	background: transparent url(http://images.wikia.com/common/skins/monaco/images/wikia_logo.png) no-repeat 98% 50%;
	bottom: 0;
	height: 36px;
	left: 0;
	position: absolute;
	width: 100%;
}

#MagCloudCoverImage {
	left: 50%;
	position: absolute;
	top: 50%;
}

/* cover layouts */
.MagCloudCoverLayout2 #MagCloudCoverTitle {
	height: 50%;
	position: absolute;
	top: 50%;
}

.MagCloudCoverLayout2 #MagCloudCoverTitle big {
	margin-top: 20%;
}

.MagCloudCoverLayout2 #MagCloudCoverImage {
	top: 25%;
}

.MagCloudCoverLayout3 #MagCloudCoverTitle {
	z-index: 10;
}

.MagCloudCoverLayout4 #MagCloudCoverImage {
	left: 0;
	margin: 0 !important;
	position: absolute;
	top: 0;
}

.MagCloudCoverLayout4 #MagCloudCoverTitle,
.MagCloudCoverLayout4 #MagCloudCoverBar {
	display: none;
}

.MagCloudCoverLayout4 #MagCloudCoverImage img {
	height: 950px;
	width: 700px;
}

.MagCloudCoverLayout3 #MagCloudCoverBar {
	background-position: 50% 98%;
	width: 110px;
	height: 100%;
}

.MagCloudCoverLayout3 #MagCloudCoverImage {
	left: 60%;
	top: 60%;
}

