<div class="pmp-entry-point pmp-entry-point-{{bannerType}} pmp-entry-point-{{language}}">
    <span class="pmp-entry-point-close"></span>
    <p class="pmp-entry-point-message">{{{messageText}}}</p>
    <div>
        <a href="{{buttonUrl}}" class="pmp-entry-point-button">{{buttonText}}</a>
    </div>
</div>
