<div class="pmp-entry-point pmp-entry-point-{{bannerType}}">
    <span class="pmp-entry-point-close"></span>
    <p class="pmp-entry-point-message">This wiki is built <strong>by fans</strong> like <strong>you</strong></p>
    <button class="pmp-entry-point-button">Learn more</button>
</div>
