@import '../../Venus/styles/mixins';
@import '../../Venus/styles/variables';
@import 'skins/shared/mixins/blackout';
@import 'GlobalNavigationColors';

.global-navigation {
	background-color: $nav-background-color;
	border-bottom: 1px solid $nav-border-color;
	color: $nav-foreground-dark-color;
	position: fixed;
	width: 100%;
	z-index: $global-navigation-z-index;

	.page-width {
		@include clearfix;

		border-right: 1px solid $nav-border-color;
	}
}

.ve .global-navigation,
.position-static {
	position: static;
}

.global-navigation-item {
	border-left: 1px solid $nav-border-color;
	float: left;
	height: $global-navigation-height;
	position: relative;
}

.global-navigation-link {
	color: $nav-border-color;
	display: table-cell;
	font-size: 18px;
	font-weight: bold;
	height: $global-navigation-height;
	vertical-align: middle;
}

.wikia-logo-container {
	@include grid-column-width('medium', 2, $medium-content-padding);
}

.start-wikia-container {
	@include grid-column-width('medium', 2);
}

.start-wikia {
	text-align: center;
	width: inherit;

	&:hover {
		background-color: $nav-foreground-dark-color;
		color: $nav-background-color;
		text-decoration: none;
	}
}

.wikia-logo {
	padding: 0 0 0 20px;

	img {
		background-image: url('/extensions/wikia/GlobalNavigation/images/wikia_logo.svg'); /* base64 */
		background-position: center;
		background-repeat: no-repeat;
	}
}

// TODO move it to layout.scss when Venus is enable globally

.transparent-out {
	@include blackout( rgba( 1, 1, 1, 0.0 ) );

	&.visible {
		z-index: $blackout-z-index;
	}
}

@media #{$small-only} {
	.wikia-logo-container {
		@include grid-column-width('small', 3, $small-content-padding);
	}

	.start-wikia-container {
		@include grid-column-width('small', 1);
	}

	.start-wikia {
		&:after {
			content: '+';
			display: block;
		}

		span {
			display: none;
		}
	}

	.wikia-logo {
		padding-right: 15px;
	}
}

@media #{$large-up} {
	.wikia-logo {
		padding: 0px 7px 0px 30px
	}

	.wikia-logo-container {
		@include grid-column-width('large', 2, $large-content-padding);
	}

	.start-wikia-container {
		@include grid-column-width('large', 2);
	}
}

@media #{$below-small} {
	.global-navigation {
		min-width: 767px;
		position: relative;
	}

	.wikia-page {
		padding-top: 0;
	}
}
