@import 'skins/shared/color';
@import 'skins/shared/mixins/calc';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/box-shadow';
@import 'GlobalNavigationColors';
@import 'GlobalNavigationMixins';
@import 'GlobalNavigationVariables';

$black-half-transparent: rgba(0, 0, 0, .6);
$black-transparent: rgba(0, 0, 0, 0);
$border-color: #c7d1d8;
$header-bg-color: #092140;
$markasread-bg-color: rgb(9, 35, 68);
$markasread-color: #fff;
$notification-hover: rgba(164, 182, 191, .2);
$notifications-divider-color: rgb(197, 206, 217);
$notifications-header-bg-color: rgb(230, 235, 242);
$notifications-header-color: rgb(57, 66, 77);
$time-color: rgba($notifications-header-color, .5);
$notification-bubble-color: rgb(101, 110, 120);
$white-transparent: rgba(255, 255, 255, 0);
$white: #fff;
$wiki-header-bg-color: rgba(113, 133, 148, .2);
$wiki-header-color: #2b54b5;

.notifications-container {
	position: relative;

	.notifications-entry-point {
		background-image: url('/extensions/wikia/GlobalNavigation/images/notifications_icon.svg'); /** inline */
		background-position: center;
		background-size: 19px;
		background-repeat: no-repeat;
		cursor: pointer;
		display: inline-block;
		height: $global-navigation-height;
		position: relative;
		width: 72px;

		&:after {
			@include global-nav-chevron;
			margin-left: 46px;
			margin-top: 22px;
		}
	}

	.bubbles {
		@include calc('right', '50% + 2px');
		background-color: $notification-bubble-color;
		//border-radius needs to be in pixels
		//to handle 3 and more digits situation correctly
		border-radius: 9px;
		display: none;
		height: 18px;
		min-width: 18px;
		padding: 1px;
		position: absolute;
		top: 10px;
		z-index: 1;

		&.show {
			display: block;
		}
	}

	.bubbles-count {
		background-color: $white;
		//border-radius needs to be in pixels
		//to handle 3 and more digits situation correctly
		border-radius: 8px;
		color: $notification-bubble-color;
		font-size: 10px;
		font-weight: bold;
		height: 16px;
		line-height: 17px;
		min-width: 16px;
		padding: 0 2px;
		text-align: center;
	}

	.notifications-container {
		display: none;
	}

	&.active {
		background-color: $global-navigation-background-color;

		.notifications-container {
			display: block;
		}
	}
}

#notifications {
	> a > span {
		float: right;
	}
}

#GlobalNavigationWallNotifications {
	background-color: $white;
	border: 1px solid $border-color;
	border-top: 0;
	display: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;

	#notificationsContainer {
		margin-right: -18px; //NOTE: Hide native scrollbar
		overflow: auto;

		&::-webkit-scrollbar {
			width: 18px;
		}

		&.scrollable {
			background:
				/* Shadow covers */
				linear-gradient($white 30%, $white-transparent),
				linear-gradient($white-transparent, $white 70%) 0 100%,

				/* Shadows */
				radial-gradient(50% 0, farthest-side, $black-half-transparent, $black-transparent),
				radial-gradient(50% 100%, farthest-side, $black-half-transparent, $black-transparent) 0 100%;

			background:
				/* Shadow covers */
				linear-gradient($white 30%, $white-transparent),
				linear-gradient($white-transparent, $white 70%) 0 100%,

				/* Shadows */
				radial-gradient(farthest-side at 50% 0, $black-half-transparent, $black-transparent),
				radial-gradient(farthest-side at 50% 100%, $black-half-transparent, $black-transparent) 0 100%;

			background-attachment: local, local, scroll, scroll;
			background-color: $white;
			background-repeat: no-repeat;
			background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

			.notifications-wiki-header {
				padding-right: 20px;
			}
		}

		&.scrollable .chevron {
			right: 25px;
		}
	}

	&.show {
		display: block;
	}

	header {
		font-weight: bold;
		height: auto;
		padding: 12px 20px;
	}

	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
	}

	.notifications-header {
		@include clearfix;
		background-color: $notifications-header-bg-color;
		color: $notifications-header-color;
	}

	.notifications-markasread {
		background-color: $markasread-bg-color;
		border-top: 1px solid $notifications-divider-color;
		color: $markasread-color;
		cursor: pointer;
		font-size: 12px;
		height: 40px;
		line-height: 40px;
		font-weight: normal;
		padding: 0;
		text-align: center;
	}

	.notifications-for-wiki {
		&.show {
			.chevron {
				border: 5px solid transparent;
				border-bottom-color: $border-color;
				border-top: 0;
			}

			.notifications-wiki-header:hover .chevron {
				border-bottom-color: $notifications-header-color;
			}

			.notifications-for-wiki-list {
				display: block;
			}
		}

		.chevron {
			border: 5px solid transparent;
			border-bottom: 0;
			border-top-color: $border-color;
			position: absolute;
			right: 42px;
			top: 50%;
		}

		.notifications-wiki-header {
			background-color: $notifications-header-bg-color;
			box-sizing: border-box;
			border-top: 1px solid $notifications-divider-color;
			color: rgb(26, 94, 184);
			cursor: pointer;
			font-weight: bold;
			height: 40px;
			padding-left: 20px;
			padding-right: 38px;
			padding-top:10px;
			position: relative;

			&:hover .chevron {
				color: $notifications-header-color;
			}
		}

		.notifications-for-wiki-list {
			display: none;

			a {
				color: $header-bg-color;
				text-decoration: none;
			}
		}
	}

	.notification {
		border-top: 1px solid $notifications-divider-color;
		font-size: 12px;
		line-height: 20px;
		padding: 12px 0;
		position: relative;

		.notification-message {
			padding-left: 60px;
			padding-right: 38px; //38px because of -18px margin
			white-space: normal;

			p {
				font-size: 12px;
				line-height: 16px;
				margin: 0;
			}
		}

		.avatars {
			display: inline-block;
			left: 20px;
			max-width: 38px;
			position: absolute;
			text-align: center;
			top: 12px;
			vertical-align: top;
			overflow: hidden;

			.avatar {
				border: none;
				border-radius: 50%;
			}
		}

		h4 {
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
			margin: 0;
		}

		time {
			color: $time-color;
			font-size: 12px;
			line-height: 12px;
		}

		&.empty {
			background-color: rgb(230, 235, 242);
			color: rgb(9, 35, 68);
			font-size: 14px;
			height: 80px;
			line-height: 80px;
			padding: 0;
			text-align: center;
		}

		&.admin-notification {
			padding: 17px 25px 17px 20px;

			.notification-message {
				width: auto;
			}
		}

		&.admin-notification:before {
			border-left: 5px solid $header-bg-color;
			color: transparent;
			content: '.';
			display: block;
			height: 100%;
			left: 0;
			padding-top: 1px;
			position: absolute;
			top: 0;
		}

		&.read {
			h4, .avatars {
				opacity: .7;
			}
		}

		&:hover {
			background-color: $notification-hover;

			h4, .avatars {
				opacity: 1;
			}
		}
	}
}
