@import 'skins/shared/mixins/calc';
@import 'skins/shared/mixins/clearfix';
@import 'skins/oasis/css/core/responsive-variables';
@import 'skins/oasis/css/core/breakpoints-variables';
@import 'GlobalNavigationColors';
@import 'GlobalNavigationMixins';
@import 'GlobalNavigationVariables';

.global-navigation-wrapper {
	height: $global-navigation-height;
}

.global-navigation {
	background-color: $global-wikia-background-color;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .3);
	box-sizing: border-box;
	color: $nav-foreground-dark-color;
	height: $global-navigation-height;
	position: fixed;
	top: 0;
	transition-duration: .5s;
	transition-property: background-color;
	width: 100%;
	z-index: $global-navigation-z-index;

	*, *::before, *::after {
		box-sizing: inherit;
	}

	&.static {
		position: absolute;
		top: 0;
	}

	&.bfaa-pinned {
		position: relative;
	}

	.global-navigation-container {
		@include clearfix;

		display: table;
		margin: 0 auto;
		white-space: nowrap;
		width: $width-outside;
	}

	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}
	.wikia-logo {
		align-items: flex-end;
		display: flex;
		text-decoration: none !important;

		img {
			background-position: right center;
			vertical-align: sub;
		}
	}

	.wikia-logo__subtitle {
		border-bottom: 1px solid;
		border-top: 1px solid;
		color: #aaa;
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
		line-height: 16px;
		margin-left: 8px;
		text-transform: uppercase;
	}

	.wikia-logo-container {
		padding-right: 15px;
	}

	.cell-link {
		color: $global-navigation-text-color;
		display: inline-block;
		font-size: 14px;
		line-height: 30px;
		padding: 8px;

		&:hover {
			background-color: $global-navigation-cell-hover-color;
			text-decoration: none;
		}
	}

	.explore-wikia-dropdown {
		background-color: $global-wikia-background-color;
		border: 1px solid rgba(0,0,0,.15);
		border-top: none;
		display: none;
		position: absolute;
		transition-duration: .5s;
		transition-property: background-color;
		z-index: $zTop;

		a {
			border-top: 1px solid #ddd;
			color: $global-navigation-text-color;
			display: block;
			font-size: 14px;
			padding: 12px;
			text-decoration: none;
			width: 100%;

			&:hover {
				background-color: $global-navigation-cell-hover-color;
				text-decoration: none;
			}
		}
	}

	.explore-wikia-entry-point {
		> a {
			padding-right: 18px;
			position: relative;
		}

		.chevron {
			@include global-nav-chevron;
			margin-left: 3px;
			margin-top: 13px;
			position: absolute;
		}

		&.active {
			.explore-wikia-dropdown {
				display: block;
			}
		}
	}

	.start-wikia-container {
		padding-left: 10px;

		.start-wikia {
			border: solid 1px $global-navigation-text-color;
			color: $global-navigation-text-color;
			display: inline-block;
			font-size: 12px;
			height: $start-a-wikia-logo-size;
			line-height: 28px;
			margin-bottom: $global-navigation-margin-size;
			margin-top: $global-navigation-margin-size;
			padding: 0 10px;

			&:hover {
				background-color: $global-navigation-active-color;
				color: $global-wikia-background-color;
				text-decoration: none;
			}

			span {
				display: inline-block;
				padding-top: 1px;
			}
		}
	}
}

.ve .global-navigation {
	position: absolute;
	z-index: $global-navigation-z-index - 1;
}

.sso-login.hidden {
	display: none;
}

@media #{$breakpoint-below-small-plus} {
	[data-visibility=desktop] {
		display: none !important;
	}
}
@media #{$breakpoint-small-plus-up} {
	[data-visibility=tablet] {
		display: none !important;
	}
}


@import 'breakpoints-GlobalNavigation';
@import 'responsive-GlobalNavigation';
