$nav-background-light-gray-color: #eef1f3;
$nav-foreground-dark-color: #092140;
$nav-foreground-bright-color: #0a5fa3;
$nav-foreground-alternative-color: #666;
$nav-border-color: #c8d2d7;
$nav-dark-text-color: #64696c;
$hubsmenu-background-color: #f7f7f7;
$signup-background-hover-color: #0c76cc;
$facebook-background-color: #3c5b9b;
$facebook-background-hover-color: #446597;
$facebook-button-divider-color: #6381b4;
$global-navigation-text-color: rgb(101, 110, 120);
$global-navigation-active-color: rgb(9, 35, 68);
$global-navigation-background-color: rgb(230, 235, 242);
$global-wikia-background-color: #fff;
