@import 'skins/oasis/css/core/responsive-variables';
@import '../../Venus/styles/variables';

.page-width {
	margin: 0 auto;
	width: $width-outside;
}

.WikiaSiteWrapper {
	padding-top: $global-navigation-height + 1px;
}

.global-navigation {
	box-sizing: border-box;
	margin-top: -$global-navigation-height - 1px;

	*, *::before, *::after {
		box-sizing: inherit;
	}
}

.AccountNavigation {
	.avatar {
		border: 0;
	}
}

@media screen and (max-width: $breakpoint-content) {
	.global-navigation {
		min-width: $width-outside-min;
	}

	.page-width {
		width: 100%;
	}
}

@media screen and (min-width: $breakpoint-fluid) and (max-width: $breakpoint-max - 1) {
	.page-width {
		margin: 0 $width-adskin;
		width: auto;
	}
}

@media screen and (min-width: $breakpoint-max) {
	.page-width {
		margin: 0 auto;
		width: $width-outside-max;
	}
}
