body {
	background: #FFF url(http://images.wikia.com/common/skins/answers/images/sidebar_bg.png) top right repeat-y;
	font-family: "Arial", sans-serif;
	font-size: 10pt;
	margin: 0;
}
.color1 {
	background: #36C;
	color: #FFF;
}

/*** HEADER ***/
#answers_header {
	background: #252525;
	height: 100px;
	position: relative;
	z-index: 10;
}
#wikianswers_logo {
	left: 15px;
	position: absolute;
}
#answers_ask {
	color: #FFF;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 28pt;
}
#answers_ask * {
	float: left;
}
#ask_wrapper {
	position: absolute;
	left: 15px;
	bottom: 18px;
}
#answers_ask span {
	line-height: 34px;
	padding: 0 5px 0 3px;
}
input.header_field {
	background: #FFF url(http://images.wikia.com/common/skins/answers/images/ask_field_bg.png) top left repeat-x;
	border: 2px solid #093;
	font-size: 18pt;
	font-weight: bold;
	padding: 2px 5px;
	position: static !important;
}
#answers_ask_field {
	width: 350px;
}
#answers_category_field {
	margin-right: 5px;
	width: 150px;
}
#answers_ask_field.alt, #answers_category_field.alt {
	color: #999;
	font-weight: normal;
}
#answers_suggest {
	left: 5px;
	top: 2.8em;
	width: 350px;
}
#user_data {
	position: absolute;
	right: 5px;
	top: 10px;
}
#user_data.anon {
	position: absolute;
	right: 5px;
	top: 5px;
}
#user_data li {
	float: left;
	font-size: 9pt;
	margin-right: 8px;
}
#user_data a {
	color: #CCC;
}
#header_username a {
	color: #FFF;
}
.header_menu {
	background: #36C;
	border: 1px solid #666;
	display: none;
	font-size: 9pt;
	padding: 3px 10px;
	position: absolute;
	right: 35px;
	top: 28px;
	z-index: 30;
}
.header_menu li {
	padding: 3px 0;
	text-align: center;
}
.header_menu a {
	color: #FFF;
}

/*** PAGE/ARTICLE ***/
#page_bar {
	background: #36C url(http://images.wikia.com/common/skins/answers/images/reflected_shadow.png) repeat-x;
	color: white;
	font-family: "Tahoma", sans-serif;
	font-size: 11pt;
	margin: 2px 2px 0;
	overflow: hidden;
	padding: 0 5px;
}
#page_bar * {
	float: left;
}
#page_bar u {
	float: none;
}
#page_controls li {
	margin-right: 12px;
	line-height: 32px;
	padding-left: 18px;
	position: relative;
}
#page_controls div {
	background-image: url(http://images.wikia.com/common/skins/answers/images/sprite.png?2);
	clip: rect(0px 0px 0px 0px);
	height: 16px;
	margin: 8px 2px 0 0;
	position: absolute;
	width: 576px;
}
#page_controls a {
	background: transparent;
	color: #FFF;
	position: relative;
	text-decoration: none;
	z-index: 2;
}
#page_controls a:hover {
	text-decoration: underline;
}
#control_edit div {
	clip: rect(0px 16px 16px 0px);
	left: 0px;
}
#control_history div {
	clip: rect(0px 32px 16px 16px);
	left: -16px;
}
#control_watch div {
	clip: rect(0px 48px 16px 32px);
	left: -32px;
}
#control_unwatch div {
	clip: rect(0px 240px 16px 224px);
	left: -224px;
}
#control_move div {
	clip: rect(0px 64px 16px 48px);
	left: -48px;
}
#control_protect div, #control_unprotect div {
	clip: rect(0px 80px 16px 64px);
	left: -64px;
}
#control_delete div, #control_undelete div {
	clip: rect(0px 96px 16px 80px);
	left: -80px;
}
#control_report-problem div {
	clip: rect(0px 224px 16px 208px);
	left: -208px;
}
#control_viewsource div {
	clip: rect(0px 256px 16px 240px);
	left: -240px;
}
#control_addsection div {
	clip: rect(0px 288px 16px 272px);
	left: -272px;
}
#control_blog-create-tab div {
	clip: rect(0px 144px 16px 128px);
	left: -128px;
}
#control_purge div {
	clip: rect(0px 336px 16px 320px);
	left: -320px;
}
 #control_share_feature div {
	clip: rect(0px 576px 16px 560px);
	left: -560px;
}

#page_tabs {
	float: right;
	font-family: arial;
}
#page_tabs li {
	background-color: #EEE;
	color: #000;
	cursor: pointer;
	padding: 0 8px;
	height: 27px;
	line-height: 27px;
	margin-left: 3px;
	margin-top: 5px;
}
#page_tabs li.selected {
	background-color: white;
	color: #000;
	font-weight: bold;
}
#page_tabs a {
	background: transparent;
	color: #000;
	text-decoration: none;
}
#page_tabs a:hover {
	text-decoration: underline;
}

#answers_page {
	margin-right: 311px;
}
#answers_article {
	padding: 30px;
}
.sectionedit {
	float: right;
}
#question, #question .top, #question .top span, #question .bottom, #question .bottom span, #question_tail {
	background-image: url(http://images.wikia.com/common/skins/answers/images/question_sprite.png);
}
#question {
	background-color: #e9f0ff;
	background-position: bottom left;
	background-repeat: repeat-x;
	border: 1px solid #36C;
	height: 1%;
	position: relative;
}
#question .top {
	background-position: -1980px -42px;
	background-repeat: no-repeat;
	height: 20px;
	left: -1px;
	position: relative;
	top: -1px;
}
#question .top span, #question .bottom span {
	display: block;
	float: right;
	height: 20px;
	position: relative;
	right: -2px;
	width: 20px;
}
#question .top span {
	background-position: -1960px -42px;
}
#question .bottom {
	background-position: -1980px 0;
	background-repeat: no-repeat;
	bottom: -1px;
	height: 20px;
	left: -1px;
	position: relative;
}
#question .bottom span {
	background-position: -1960px 0;
}
#question h1 {
	border: 0;
	line-height: normal;
	margin: 0 20px;
	overflow: hidden;
	padding: 0 0 15px;
}
#question h1 a {
	font-size: 8pt;
	white-space: nowrap;
}
#question div.categories {
	font-size: 8pt;
	margin: 0 20px;
}
#question_actions {
	bottom: 3px;
	*bottom: 2px;
	left: 15px;
	position: absolute;
	z-index: 2;
}
#attribution {
	border-bottom: 1px solid #AAA;
	margin-bottom: 20px;
}
#attribution img {
	border: 1px solid #353535;
	height: 30px;
	margin-left: 5px;
	vertical-align: bottom;
	width: 30px;
}
#attribution div {
	float: left;
	padding: 4px 8px 12px;
}
#attribution div#question_tail {
	background-position: -1963px -20px;
	display: block;
	height: 22px;
	padding: 0;
	position: relative;
	top: -1px;
	width: 33px;
}
.answer_title {
	color: #009933;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14pt;
	overflow: visible;
	padding: 0;
}
#bodyContent.question {
	color: #333;
	font-size: 11pt;
}
#bodyContent.question #contentSub {
	display: none;
}
#bodyContent.category #contentSub, #bodyContent.category .noarticletext {
	display: none;
}
#bodyContent.question p {
	line-height: 1.2em;
}

#related_questions {
	margin-top: 15px;
	overflow: hidden;
	padding: 10px 0;
}
#related_questions h2 {
	border-bottom: 1px solid #AAAAAA;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 13pt;
	margin-bottom: 5px;
}
#related_questions li {
	padding: 5px 0;
}

.inline_form {
	background: #252525;
	margin-bottom: 20px;
	padding: 10px;
}
.inline_form h1 {
	background: #cc5200 url(http://images.wikia.com/common/skins/answers/images/inline_form_header_bg.png) repeat-x;
	color: #FFF;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 22pt;
	line-height: 57px;
	margin-bottom: 1px;
	padding: 0 10px;
}
div.inline_form_inside {
	background: #FFF;
	padding: 2px;
}
.inline_form td input, .inline_form .captcha input {
	background: #FFF url(http://images.wikia.com/common/skins/answers/images/search_field_bg.png) 0px -3px repeat-x;
	border: 1px solid #093;
	padding: 3px;

}
.inline_form .captcha {
	background: #EEE;
	border: 1px dashed #AAA;
	float: right;
	font-size: 8pt;
	margin: 10px 15px 10px 10px;
	padding: 10px;
}
.inline_form .captcha img {
	margin: 3px 0 8px;
}
.inline_form .captcha p {
	text-align: center;
}
.inline_form #wpCaptchaWord {
	font-size: 11pt;
}
.inline_form table {
	margin: 10px 250px 10px 10px;
}
.inline_form td {
	font-size: 11pt;
	padding: 5px;
}
.inline_form .toolbar {
	background: #bbd2ff;
	clear: right;
	padding: 5px;
}

#wikia_footer {
	background: #252525 url(http://images.wikia.com/common/skins/answers/images/wikianswers_logo.png) 95% 0 no-repeat;
	bottom: -1px;
	color: #666;
	font-size: 9pt;
	line-height: 13pt;
	margin-right: 310px;
	padding: 30px 30px 15px 15px;
	position: relative;
	clear: both;
}
#wikia_footer a {
	color: #CCC;
}

/*** BUTTONS ***/
a.bigButton {
	display: block;
	float: left;
	height: 21px;
	overflow: hidden;
	padding-right: 10px;
	position: relative;
	text-decoration: none;
}
a.bigButton:hover {
	text-decoration: none;
}
a.bigButton * {
	cursor: pointer;
	float: left;
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	height: 21px;
	line-height: 21px;
}
a.bigButton big, a.bigButton small {
	background: url(http://images.wikia.com/common/skins/answers/images/big_button.png) no-repeat;
}
a.bigButton big {
	color: #EEE;
	padding-left: 10px;
}
a.bigButton small {
	clip: rect(0px 300px 21px 290px);
	position: absolute;
	right: 0;
	width: 300px;
}

.huge_button {
	background: url(http://images.wikia.com/common/skins/answers/images/huge_button.png) 100% -37px;
	display: block;
	float: left;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 14pt;
	font-weight: bold;
	height: 41px;
	line-height: 37px;
	margin-right: 10px;
	padding-right: 10px;
}
.huge_button, .huge_button:active, .huge_button:visited, .huge_button:hover {
	color: #252525;
	text-decoration: none;
}
.huge_button div {
	background: url(http://images.wikia.com/common/skins/answers/images/huge_button.png);
	float: left;
	height: 41px;
	width: 36px;
}
.huge_button_green {
	background-position: top right;
	color: #FFF;
	font-size: 18pt;
	font-weight: normal;
	height: 37px;
}
.huge_button_green div {
	background-position: top left;
	height: 37px;
	width: 10px;
}
.huge_button.watchlist div {
	background-position: 0 -37px;
}
.huge_button.edit div {
	background-position: -36px -37px;
}
#huge_buttons {
	margin-top: 1em;
}
#ask_button span {
	background: url(http://images.wikia.com/common/skins/answers/images/huge_button.png);
	display: block;
	height: 37px;
	padding: 0;
	width: 10px;
}
body .header_menu_button {
	cursor: pointer;
	float: left;
	overflow: hidden;
	position: relative;
}
body .header_menu_button * {
	display: inline;
	float: left;
	font-size: 8pt;
	font-weight: bold;
	height: 15px;
	line-height: 15px;
}
.header_menu_button dt, .header_menu_button dd {
	background: url(http://images.wikia.com/common/skins/answers/images/header_button.png);
}
.header_menu_button dt {
	color: #EEE;
	margin-right: 20px;
	padding-left: 6px;
	text-transform: uppercase;
}
.header_menu_button dd {
	clip: rect(0px 300px 15px 280px);
	position: absolute;
	right: 0;
	width: 300px;
}

/*** SOCIAL NETWORKS ***/
#social_networks {
	font-size: 11pt;
	margin-top: 15px;
}
#social_networks #ask_friends_label {
	color: #252525;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 13pt;
	font-weight: bold;
}
#social_networks img {
	position: relative;
	top: -2px;
}
#facebook-connect-login, #facebook-connect-ask, #twitter-post {
	display: inline;
}
#twitter-post img {
	border: 0;
	vertical-align: middle;
}

/*** MAGIC ANSWER***/
#magicAnswer {
	background: #000 url(http://images.wikia.com/common/skins/answers/images/magic_answer_backdrop.png) bottom left repeat-x;
	color: #FFF;
	font-size: 11pt;
	position: relative;
	text-align: center;
	width: 100%;
}
#magicAnswerLeft {
	background: url(http://images.wikia.com/common/skins/answers/images/magic_answer_curtain_left.png) repeat-y;
	overflow: hidden;
}
#magicAnswerRight {
	background: url(http://images.wikia.com/common/skins/answers/images/magic_answer_curtain_right.png) top right repeat-y;
}
#magicAnswerCurtainLeft, #magicAnswerCurtainRight {
	background: url(http://images.wikia.com/common/skins/answers/images/magic_answer_curtains.png) no-repeat;
	height: 108px;
	position: absolute;
	top: 0;
	width: 88px;
}
#magicAnswerCurtainLeft {
	clip: rect(0px 88px 108px 44px);
	left: -44px;
}
#magicAnswerCurtainRight {
	clip: rect(0px 44px 108px 0px);
	right: -44px;
}
#magicAnswerHat {
	background: url(http://images.wikia.com/common/skins/answers/images/magic_answer_hat.jpg) no-repeat;
	position: absolute;
	bottom: 0;
	height: 45px;
	left: 30px;
	width: 51px;
}
#magicAnswer h6 {
	color: #007AC8;
	font-size: 11pt;
}
#magicAnswerBox {
	margin: 0 50px 10px;
}
#magicAnswerButtons {
	margin-bottom: 20px;
	position: relative;
	text-align: center;
}
#magicAnswerButtons button {
	margin-right: 5px;
}
#magicAnswerStage {
	background: url(http://images.wikia.com/common/skins/answers/images/magic_answer_stage.jpg) repeat-x;
	font-size: 8pt;
	height: 18px;
	line-height: 18px;
	margin: 0 12px;
	padding-right: 10px;
	text-align: right;
}
#magicAnswerStage a {
	color: #FFF;
}



/*** SIDEBAR ***/
#answers_sidebar {
	width: 300px;
	padding-bottom: 50px;
	position: absolute;
	right: 5px;
	top: 30px;
	z-index: 20;
}
#toolbox {
	background: #e1e1b4 url(http://images.wikia.com/common/skins/answers/images/toolbox_bg.png) repeat-x;
	color: #252525;
	padding: 1px;
}
#toolbox.anon {
	background: #006722 url(http://images.wikia.com/common/skins/answers/images/toolbox_anon_bg.png) repeat-x;
	color: #FFF;
}
#toolbox_stroke {
	border: 1px solid #9c9c7d;
	padding: 1px;
}
#toolbox.anon #toolbox_stroke {
	border-color: #FFF;
}
#toolbox_inside {
	min-height: 88px;
	padding: 8px;
}
#toolbox.anon #toolbox_inside {
	min-height: 121px;
}
#toolbox h6 {
	border-bottom: 1px solid #9C9C7D;
	font-weight: bold;
	font-size: 10.5pt;
	margin-bottom: 5px;
}
#toolbox_search {
	background: #252525;
	padding: 5px;
}
#toolbox table {
	width: 100%;
}
#toolbox td {
	vertical-align: top;
}
#toolbox .portrait {
	border: 2px solid #FFF;
	float: right;
}
#search_input {
	background: #FFF url(http://images.wikia.com/common/skins/answers/images/search_field_bg.png) repeat-x;
	border: 1px solid #36C;
	padding: 2px;
}

#answers_sidebar h2 {
	border-bottom: 1px solid #AAA;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 13pt;
	font-weight: bold;
}
#answers_sidebar .popularsidebarcats h2 {
    margin-bottom: 2em;
}
#answers_sidebar .popularsidebarcats ul {
    border-bottom: 1px solid #AAA;
}
#answers_sidebar .widget {
	font-size: 9pt;
	margin: 25px 5px 0;
}
#answers_sidebar .widget li {
	border-bottom: 1px dotted #008000;
	overflow: hidden;
	padding: 5px 0;
}
#answers_sidebar .widget li:last-child {
	border: 0;
}
.sidebar_nav {
	background: #bbd2ff;
	border-bottom: 1px solid #36C !important;
	padding: 5px !important;
	text-align: center;
}
.sidebar_nav_next {
	float: right;
}
.sidebar_nav_prev {
	float: left;
}

#recent_changes_link a{
	font-size:11px;
	font-weight:normal;
}

/*** SOCIAL TOOLS ***/
#profile-top {
	background: #EEE;
}
.cleared {
	clear: both;
}
.user-section-heading {
	margin-top: 15px !important;
}
.page-Special_UploadAvatar #firstHeading, .page-Special_UploadAvatar #contentSub, .page-Special_UpdateProfile #firstHeading, .page-Special_UpdateProfile #contentSub {
	display: none;
}

/*** RANDOM ***/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.clearfix { display:inline-block; }
/* Hide from IE Mac \*/
.clearfix { display:block; }
/* End hide from IE Mac */

.button_small {
	text-align: center;
	background: left center no-repeat;
	border: 0;
	cursor: pointer;
	margin: 0;
	*margin-right: 5px;
	padding: 0 0 0 3px;
	overflow: visible;
}
.button_small span {
	position: relative;
	display: block;
	white-space: nowrap;
	height: 20px;
	color: #fff;
	font: bold 10px/20px "Verdana", "Arial", sans-serif;
	background: right center no-repeat;
	padding: 0 8px 0 5px;
}
.button_small_green, .button_small_green span {
	background-image: url(http://images.wikia.com/common/skins/answers/images/button_small_green.png);
}
.button_small_blue, .button_small_blue span {
	background-image: url(http://images.wikia.com/common/skins/answers/images/button_small_blue.png);
}

.editsection {
	float: right;
}
.google_ad {
	line-height: 1.2em;
}
.google_label {
	color: #000 !important;
}
#bottom_ads {
	border-collapse: collapse;
	margin-top: 20px;
}
#bottom_ads .google_label {
	color: #002BB8 !important;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size: 15pt;
	line-height: normal;
}
.google_label:hover {
	text-decoration: none;
}
.google_link:hover {
	text-decoration: underline !important;
}
.google_url {
	color: #008000;
}
#ads-unaswered-bottom{
	float:right;
	margin-bottom:10px;
}
#ads-answered-left{
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	padding-right:20px;
}
.question .visualClear{
	clear:none;
}
#answers_sidebar .google_ad {
	margin-top: 15px;
}
#answers_sidebar .google_label {
	font-weight: bold;
}

.editquestion{
	background: none;
}
.editquestion #answers_sidebar{
	display: none;
}
.editquestion #answers_page, .editquestion #wikia_footer {
	margin-right: 0;
}
.editquestion #ask_wrapper {
	display: none;
}
.editquestion #answers_header {
	height: 30px;
}

#unanswered-links{
	margin-top:10px;
}

/*** Category Page Ads ***/
div.category br {
	clear: none  !important
}
#category-ads-left{
	float:left;
	margin-top:10px;
	width:160px;
	height:600px;
	margin-right:20px;
}

/* for VET and AddVideo */
.mask {
	background: #000000 none repeat scroll 0 0;
	opacity: 0.6;
	position: fixed;
}

/**
 * Hidden categories
 */
.mw-hidden-cats-hidden { display: none; }
.catlinks-allhidden { display: none; }

/*** ADSENSE FOR SEARCH ***/
#afs_narrow {
	border-left: 1px solid #CCC;
	clear: right;
	float: right;
	margin-left: 10px;
	padding-left: 10px;
	width: 220px;
}
#afs_wide .ad_text {
	padding-right: .5em;
}
.google_afs a {
	background-image: none !important;
}

/** User edit points **/
.answered_title {
	clear: both;
	margin-top: 20px;
}

#contributors, ul.contributors,
ol.contributors {
	margin: 5px 0;
}

#contributors li, ul.contributors li,
ol.contributors li {
/*	height: 56px;*/
	float: left;
	margin: 5px;
}


.userInfoBadgeAvatarWrapper{
	float:left;
	height:100%;
	padding: 2px !important;
	margin-right: 5px !important;
}

.userInfoBadge img{
	border: solid 1px #aaa;
	width:100%;
	width:50px;
}

.userInfo {
	display:inline;
	margin-top: 7px !important;
	padding: 0 10px 0 0 !important;
	height:100%;
	margin-left: 62px;
	width:auto;
}
.userInfoNoAvatar {
	margin-top:0px !important;
	display:inline;
}
ul.userInfoNoAvatar, ul.userInfoNoAvatar div.userPoints,
ol.userInfoNoAvatar, ol.userInfoNoAvatar div.userPoints {
	font-size:0.92em !important;
}
.userInfoNoAvatar, .userInfoNoAvatar * {
	color:#888;
	font-weight:normal !important;
}
li .userInfoNoAvatar:hover a{
	color:#00c !important;
}
.userInfo {
	float: left;
}

.userInfo .userPageLink {
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-left: 62px;
	white-space:pre;
	margin-top: -10px;
}

.userInfo .anonEditPoints {
	display: block;
	font-size: 0.9em;
	margin-top: 2px;
}

.userInfo .userEditPoints {
	margin-top: 4px;
}

.userInfo .userEditPoints {
	background: #e0e0e0 url('../images/user_edit_points_bg.png') no-repeat -175px 0;
	border: solid 1px #aaa;
	border-left: none;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	line-height: 15px;
	margin-left: 66px; /* For IE6 and 7, gets overriden. */
	width: 120px;
}

.userInfo .userEditPoints {
	margin-left: 0;
}

.userInfo .userPoints, li .userInfoNoAvatar:hover .userPoints {
	background: #f6dd5d url('../images/user_edit_points_bg.png') no-repeat;
	border: 1px solid #584013;
	float: left;
	margin: -1px 3px 0 0;
	padding: 0 3px;
	font-size: 13px;
}

div.userInfoNoAvatar .userPoints {
	background: #eee;
	border:1px #888 solid;
	line-height:.95em !important;
	margin-top: 2px !important;
	margin-left: 5px !important;
}

/** User profile edit points **/
.profile-title-points {
	font-size: 0.8em;
	font-weight: normal;
	letter-spacing: -1px;
	padding-left: 10px;
}

/** Fixes for User namespace - REMOVE: this should be controled via $wgSupressTitle **/
.ns-2 .firstHeading {
	display: none;
}

.ns-2 #answers_article {
	padding-top: 20px;
}

/** activity feed tweaks **/
.activity-ns-0 strong a:after {
	content: '?';
}


/** Category Hubs **/	
#topContribsAllTime, #topContribsRecent{
	margin:0px auto;
	float:left;
	width: 50%;
}
#topContributorsWrapper{
	float:left;
	clear:both;
	width:100%;
}
#topContributorsWrapper h2{
	border:0px;
	margin:0px;
}
#cathub-title-bar h1{
	border: 0px;
	margin-bottom: 7px;
}
#cathub-title-bar .cathub-title-bar-wikilogo{
	 float:left;
	 padding:5px 5px 5px 0px;
}
.cathub-progbar-wrapper{
	float:left;
	height:25px;
	margin:0px;
	padding-left:1px;padding-right:1px;
}
.cathub-progbar{
	float:left;
	margin:0;
	height:100%;
	cursor:help;
	text-align:center;
	font-weight:bold;
	line-height:25px;
	padding:0px !important;
}
.cathub-progbar-answered{
	text-align:left;
	color:#fff;
	background-color:#55ff55;
	background-color:transparent;
}
.cathub-progbar-unanswered{
	text-align:right;
	color:#000;
	border-left:1px #717171 solid;
	margin-left:-1px; /* to make room for the border */
	background-color:#888;
	background-color:transparent;
}
.cathub-progbar-label{
	font-size:.75em;
	font-weight:bold;
}
.cathub-progbar-label-left{
	float:left;
}
.cathub-progbar-label-right{
	width:100%;
	text-align:right;
}
.cathub-contributors-list{
	float:left;
	list-style:none;
	margin-top:0px !important;
}
.cathub-contributors-list-wide{
	width:60%;
}
.cathub-contributors-list-narrow{
	width:40%;
}

.cathub-contributors-list li{
	margin:0px;
	width:100%;
	padding: 0px !important;
}
.cathub-contributors-list li .listNumber{
	float:left;
	height:100% !important;
}
.cathub-contributors-list li .badgeWrapper{
	display:inline;
	height:100% !important;
}
.interactive-questions{
	list-style:none;
	margin:0px;
	padding:0px;
}
.interactive-questions li{
	margin:0px;
	padding:10px;
	border-bottom: 1px #aaa solid;
	font-size:1em;
}
.interactive-questions li:hover{
	background-color:#f5f5f5;
}
span.answered_questions a, span.unanswered_questions a{
	color:#00c;
	font-size:1.2em;
}
span.unanswered_questions a{
	padding-right:75px;
}
.cathub-asked {
	font-size:.9em;
	color:#707070;
	line-height:1em;
	margin-top:7px;
}
.cathub-actual-answer{
	margin-top:15px;
}
.cathub-answer-heading{
	font-size:1.1em;
	font-weight:bold;
	color:#090;
	line-height:.8em;
}
.cathub-button{
	float:right;
}
.cathub-button-rephrase{
	margin-left:10px;
	font-style:italic;
	font-size:.8em;
}
.cathub-button-rephrase a{
	color:#00c;
}
li .hideUntilHover{
	visibility:hidden;
}
li:hover .hideUntilHover{
	visibility:visible;
}
.cathub-add-answer-wrapper textarea{
	font-size:1.2em;
	color:#222;
}
.ui-tabs-nav span{
	font-weight:bold;
}
.ui-tabs-panel{
	padding:0px !important;
	margin-left:-2px !important;
	margin-right:-2px !important;
}
.ui-widget-content{
	border:0px;
	margin-bottom:10px;
}
.no-questions-now{
	padding:10px;
	font-style:italic;
}
.ui-widget *{
	font-family: sans-serif;
}

.cathub-contributors-list .userInfo
{
  margin-left:0px;
}

.cathub-contributors-list .userInfo .userPageLink
{
  margin-left:0px;
}

.cathub-contributors-list .userInfoNoAvatar .userPageLink
{
  margin-top:0px;
}

.cathub-contributors-list .userEditPoints
{
  margin-left:0px;
  float: left;
}

.sprite, .sprite-small {
	background-image:url('../../monaco/images/monaco-sprite.png');
}
