/* Answers specific CSS goes here, overriding monaco css, and adding any additional */


/* TESTING tabs */

#search_field {
	position: relative;
}

#search_box {
	display: none;
}

















/* === TEMPORARY === */

/* kill ads */
/*.google-ad-unit { display:none; } */
/* #questionTopAd { display:none; } */


/* make the avatars smaller */
.userInfoBadge img {
	height: 35px;
	width: 35px;
}

#question_attribution h3, #answer_attribution h3 {
	display: none;
}

/* === MESSING WITH MONACO === */

.monaco_shrinkwrap {
   left: 50% !important;
   margin-left: -505px !important;
   width: 1010px !important;
}

#background_strip { border-bottom: none; }

#link_box_dynamic img {
       background:transparent url(http://images1.wikia.nocookie.net/test123/images/d/d7/Sprite.png?20091113)
}

.activityfeed img.sprite {
	display: none;
/*	background:transparent url(http://images1.wikia.nocookie.net/test123/images/d/d7/Sprite.png?20091113)
*/
}

#sidebar_1 {
	text-align: right;
}

#search_button {
       background:transparent url(http://images3.wikia.nocookie.net/test123/images/9/95/Search.png?201001.1)
}

/* This only appears for registered users */
#page_bar {
       background-image: none;
       font-size: 9pt;
       color: #555;
       font-family:"Helvetica Neue",Helvetica,Arial,default;
       margin: 0px;
       background-color:#F8F8F8;
}




/* === THESE AFFECT THE WHOLE PAGE === */

#wikia_page {
border-color:#EEEEEE;
       border-style:solid none none;
       border-width:8px medium medium;
       font-family:"Helvetica Neue",Helvetica,Arial,default;
       margin-top:4px;
}

#article { padding:0 10px 10px; }

body {
       color: #514833;
       font-size:80%;
       font-family:"Helvetica Neue",Helvetica,Arial,default;
}

a:link {color: #369; text-decoration: none; }
a:active {color: #369; text-decoration: none; }
a:visited {color: #369; text-decoration: none; }
a:hover {color: #369; text-decoration: underline; }
/* Important to override the inline styles */
a.new {color:#BA5500 !important;}

/* Default monaco style names for anything I've missed */

.color1 {
   background-color: #FFF;
   color:            #666;
}
 
.color1 a {
   color:            #333;
}
 
.color2 {
   background-color: White;
}
 
.accent {
		background-color: #FFF; /*a tint of .color1*/
		border-color: #FFF; /*same as .color1's background*/
		color: #666; /*text color that looks appropriate on the background-color*/
}

.neutral {
		background-color: none; /*a color that offsets slightly from the main article background color*/
		border-color: #FFF; /*a border color that looks good*/
		color: #000000; /*text color that looks appropriate on the background-color*/
}





/* === THESE ARE ELEMENTS TO BE HIDDEN === */

body.page-Wikianswers h1.firstHeading, body.page-Wikianswers #contentSub { display:none; }
#header_mytalk { display:none; }
#page_tabs { display: none; }
#link_box_table { display: none; }
#navigation { display: none; }
#headerButtonHub { display: none; }
#navigation .Monaco-sidebar_edit { display: none; }
body.mainpage .firstHeading { display:none; }
.usermessage { display:none; }





/* === THESE AFFECT SPECIFIC ELEMENTS in order from top to bottom === */

/* Change the background image of the logo */
#wikia_logo {
        /* background: url(http://images.wikia.com/common/skins/monaco/images/wikia_logo.png) no-repeat; */
        background: url(http://images.wikia.com/common/trunk/skins/answers/images/wikianswers_logo_transparent.png) no-repeat;
        height: 25px;
        width: 198px;
}

/* The header row: Username, My Home, My Talk and so on */
#wikiaBranding a { color:#888; }
#userData a { color:#888; }
#wikia_corporate_footer { color:#888; }
#wikia_corporate_footer a { color:#888; }
#wikia_header { border-bottom: none; }
#wikiaBranding { padding-top:22px; }

/* Create a wiki link */
#request_wiki {
       text-decoration:none;
       margin-left: 5px;
       font-size: 10pt !important;
       color: #ddd;
}

/* tagline */
#siteSub {
       font-size:10pt;
       font-weight:normal;
       color:#AAAAAA;
       display:block;
       font-style:normal;
       letter-spacing:-0.3px;
       padding-top:8px;
}

/* ask box */
#answers_ask input.header_field {
	font-size:16pt;
	width:382px;
	border:1px solid #A5BF5E;
}

#answers_ask {
	background:#CEE296 none repeat scroll 0 0;
	border-top: 3px solid #699000;
	font-size:16pt;
	padding:15px;
	width:458px;
	margin-bottom:30px;
}

#answers_ask_heading {
	color:#699000;
	font-size:13pt;
	font-weight:bold;
	letter-spacing:-0.5px;
	margin-bottom:10px;
}

#ask_wrapper {
/*	padding-left:10px; */
}


/* Style the "ask" button at the top */
#ask_button {
    color: #fff;
    background: #008900;
    font-weight: bold;
    font-size: 111%;
    border:1px solid;
}

#ask_button:hover {
  color: #008900;
  background: #fff;
}


/* Category field */

#catlinks {
	border:medium none;
	width:478px;
	margin-top: 0px;
	background-color: #ECEDF7;
	padding:0 5px 10px;
	margin-bottom:30px;
}

#mw-normal-catlinks {
    padding-bottom:3px;
    color: #ccc;
}

#mw-normal-catlinks span a:link {
    background: #fff;
    padding: 2px;
}

#mw-normal-catlinks span a:visited {
    background: #fff;
    padding: 2px;
}

#mw-normal-catlinks span a:hover {
    background: #A1A4F7;
    padding: 2px;
    text-decoration:none;
    color: #fff;
}

#csAddCategorySwitch a {
/*    font-weight: bold !important; */
    color: #555 !important;
}

/* article setup */
.answers-article-left {
	float: left;
	width: 468px;
}

.answers-article-right {
	margin-left: 498px;
/*	width: 300px; */
}

.answers-tips, .category-tips {
	background-color: #ffe;
	margin-top:10px;
	padding:10px;
	border-top:1px solid #fec;
	border-bottom: 1px solid #fec;
}

.answers-tips h3 {
	padding-top:0px;
	padding-bottom:0px;
}

#answers_article {
/* set to 1.5 in monaco article. Why? */
/*	line-height: normal; */
}

/* Right not, this only affects the answer article */
#p {
	font-size: 125%;
}

#question_heading {
        font-size: 170%;
		font-weight:bold;
		letter-spacing:-0.8px;
		line-height:1.4em;
		color: #000;
}

#question_level {
	clear: both;
}

#answer_level {
	clear: left;
}

#related_level {
	clear: left;
}

#answer_heading {
        font-size: 15pt;
        color:firebrick;
		font-weight:bold;
		letter-spacing:-0.8px;
}

#question_box {
	padding: 10px;
	background-color: #ECEDF7;
	border-top: 3px solid #A1A4F7;
}

#answer_box {
	margin-bottom: 25px;
	padding: 10px;
	background-color: #ECEDF7;
/*	border-top: 3px solid #A1A4F7; */
}

#answer_content {
    font-size:120%;
}

#article_save_button {
	color: #fff;
	background: #e42;
	border: 1px solid #ddd;
	font-size: 120%;
	padding: 4px 8px;
	margin-right: 3px;
}

#article_save_button:hover {
  color: #333;
  background: #fdd;
}

#answer_edit_link, #question_edit_link {
	float: right;
	font-size: 90%;
}

#answer_edit_link a:link, #question_edit_link a:link { color:#bbb; }
#answer_edit_link a:visited, #question_edit_link a:visited { color:#bbb; }
#answer_edit_link a:hover, #question_edit_link a:hover {color: #369; text-decoration: none; }

.answer-input {
	height:100px;
	margin-bottom:10px;
	margin-top:10px;
	width:460px;
	border: 1px solid #f88;
}

#answers_category_select {
/*	margin-bottom: 20px; */
}

#related_questions ul {
	margin: 0px;
}

#questionBar {
	width: 493px;
}
#questionBarList {
	float: right;
	list-style-image: none;
}
#questionBarList li {
	background-color: #DDD;
	float: left;
	white-space: nowrap;
	margin:5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	list-style-image:none;
	list-style-type:none;
}

/* Related questions */
#related_questions {
	padding: 10px;
	background-color: #f8f8f8;
	border-top: 3px solid #ddd;
}

#related_questions h2 {
	border: none;
	font-size: 15pt;
	color:#676767;
	font-weight:bold;
	letter-spacing:-0.8px;
	padding: 0px;
}




/* === LEFT NAV === */

#search_box {
	background-image: none;
	background:#CEE296 none repeat scroll 0 0;
	border:1px solid #A5BF5E;
}

#search_field { border:1px solid #A5BF5E; }

.widget {
	border: none;
	background-color: none;
}

.WidgetCommunity .toolbar {
	background-color: #fff;
}

.widget dt {
       font-family:"Helvetica Neue",Helvetica,Arial,default;
}

.neutral {
	background-color: fff;
}

.WidgetCommunity .widgetfeed li {
    margin-bottom:12px;
    font-size: 90%;
    color: #aaa;
}

.activity-ns-0 a:link { color:#888; }
.activity-ns-0 a:visited { color:#888; }
.activity-ns-0 a:hover { color:#369; text-decoration:none }

.activity-ns-0 a{
    font-size: 90%;
}


/* === ATTRIBUTION === */

#question_attribution, #answer_attribution {
	text-align:right;
}

#question_attribution h3, #answer_attribution h3 {
	font-weight: normal;
}

.answer-title {
	padding: 0px; /* Override the padding of 0.5em on monaco css */
}

.contributors, ul.contributors, ol.contributors {
	margin: 0px;
}

.contributors li, ul.contributors li,
ol.contributors li {
	float: right;
/*	margin: 5px; */
}

.userInfoBadgeAvatarWrapper{
	float:right;
	height:100%;
	padding: 2px !important;
	margin-right: 5px !important;
}

.userInfoBadge img{
	border: solid 1px #aaa;
	width:100%;
/*	width:50px; */
}

.userInfo {
	display:inline;
/*	margin-top: 8px !important; */
	padding: 0 10px 0 0 !important;
	height:100%;
	margin-left: 62px;
	width:auto;
}

.userInfoNoAvatar {
	margin-top:0px !important;
	display:inline;
}

ul.userInfoNoAvatar, ul.userInfoNoAvatar div.userPoints,
ol.userInfoNoAvatar, ol.userInfoNoAvatar div.userPoints {
	font-size:0.92em !important;
}

.userInfoNoAvatar, .userInfoNoAvatar * {
	color:#888;
	font-weight:normal !important;
}

li .userInfoNoAvatar:hover a{
	color:#00c !important;
}

/* Filter IE < 7; XML namespace isn't updated when user's lang pref changes */
*:lang(en) .userInfo {
	float: left;
}

.userInfo .userPageLink {
	display: block;
	font-size: 1em;
	font-weight: bold;
	white-space:pre;
}

.userInfo .anonEditPoints {
	display: block;
	font-size: 0.9em;
	margin-top: 6px;
}

.userInfo .userEditPoints {
	margin-top: 4px;
}

.userInfo .userEditPoints {
	background: #e0e0e0 url('../images/user_edit_points_bg.png') no-repeat -175px 0;
	border: solid 1px #aaa;
	border-left: none;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	line-height: 15px;
	margin-left: 66px; /* For IE6 and 7, gets overriden. */
}

/* Filter IE < 7; XML namespace isn't updated when user's lang pref changes */
*:lang(en) .userInfo .userEditPoints {
	margin-left: 0;
}

.userInfo .userPoints, li .userInfoNoAvatar:hover .userPoints {
	background: #f6dd5d url('../images/user_edit_points_bg.png') no-repeat;
	border: 1px solid #584013;
	float: left;
	margin: -1px 3px 0 0;
	padding: 0 3px;
	font-size: 13px;
}

div.userInfoNoAvatar .userPoints {
	background: #eee;
	border:1px #888 solid;
	line-height:.95em !important;
	margin-top: 2px !important;
	margin-left: 5px !important;
}

/** User profile edit points **/
.profile-title-points {
	font-size: 0.8em;
	font-weight: normal;
	letter-spacing: -1px;
	padding-left: 10px;
}




/* === SOCIAL PROFILE PAGE === */

#profile-toggle-button { display:none; }

.user-section-heading {
	margin-top: 35px;
	border: none;
}

.user-section-title {
	font-weight:bold;
	letter-spacing:-0.8px;
}




/* === ADS === */

/* Google js ads */
.google-ad-unit {
/*	clear:both; */
	margin-top:10px;
	position:relative;
}
.google-ad-unit small a { /* Ads By Google link */
	font-size:11px;
	text-decoration:none;
	color:#999999;
}
.google-ad-unit p {
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:115%;
	margin-bottom:10px;
}
.google-ad-unit p a {
	color:#333333 !important;
	text-decoration:none;
}
.google-ad-unit a:hover {
	text-decoration: underline; 
}
.google-ad-unit a strong {
	color:#336699;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:122%;
}
.google-ad-unit em {
	color:#999999;
	font-size:12px;
	font-style:normal;
}

.adunit {
	border: 1px dashed black;
	font-size:30pt;
	text-align: center;
}