/* Answers specific CSS goes here, overriding monaco css, and adding any additional */

/* Fixed width */

.monaco_shrinkwrap {
   left: 50% !important;
   margin-left: -505px !important;
   width: 1010px !important;
}

/* Basics */

#wikia_page {
border-color:#EEEEEE;
       border-style:solid none none;
       border-width:8px medium medium;
       font-family:"Helvetica Neue",Helvetica,Arial,default;
       margin-top:4px;
}

body {
       color: #444;
       font-size:80%;
}

a:link {color: #369; text-decoration: none; }
a:active {color: #369; text-decoration: none; }
a:visited {color: #369; text-decoration: none; }
a:hover {color: #369; text-decoration: underline; }

a.new {color:#BA5500 !important;}

#wikiaBranding a {color:#888;}
#userData a {color:#888;}
#wikia_corporate_footer a {color:#888;}

#wikia_corporate_footer {
       color:#888;
}

.color1 {
   background-color: #FFF;
   color:            #666;
}
 
.color1 a {
   color:            #333;
}
 
.color2 {
   background-color: White;
}
 
.accent {
       background-color: #FFF; /*a tint of .color1*/
       border-color: #FFF; /*same as .color1's background*/
       color: #666; /*text color that looks appropriate on the background-color*/
}

.neutral {
       background-color: #555; /*a color that offsets slightly from the main article background color*/
       border-color: #FFF; /*a border color that looks good*/
       color: #000000; /*text color that looks appropriate on the background-color*/
}

.widget {
       border: none;
       background-color: #f5f5f5;
       color: #666;
}

#article {
       padding:0 10px 10px;
}

/* Other tweaks */

#background_strip { border-bottom: none; }
#wikia_header { border-bottom: none; }

#wikiaBranding { padding-top:22px; }

body.page-Wikianswers h1.firstHeading, body.page-Wikianswers #contentSub { display:none; }

#catlinks {
       background-color: #FFF;
       border: none;
}

#search_field { border:1px solid #eee; }

#request_wiki {
       text-decoration:none;
       margin-left: 5px;
       font-size: 10pt !important;
       color: #ddd;
}

#page_bar {
       background-image: none;
       font-size: 9pt;
       color: #555;
       font-family:"Helvetica Neue",Helvetica,Arial,default;
}

#siteSub {
       font-size:10pt;
       font-style:italic;
       font-weight:normal;
       padding-top: 0px;
}

#page_tabs { display: none; }

#link_box_dynamic img {
       background:transparent url(http://images1.wikia.nocookie.net/test123/images/d/d7/Sprite.png?20091113)
}

.activityfeed img.sprite {
       background:transparent url(http://images1.wikia.nocookie.net/test123/images/d/d7/Sprite.png?20091113)
}

#search_button {
       background:transparent url(http://images3.wikia.nocookie.net/test123/images/9/95/Search.png?201001.1)
}

/* maybe needed */

#link_box_table { display: none; }
#navigation { display: none; }
#headerButtonHub { display: none; }
#navigation .Monaco-sidebar_edit { display: none; }
body.mainpage .firstHeading { display:none; }

/* Hide the ad panel one. Remove this when the spotlights are killed for this site. */

#google_ads_div_LEFT_NAV_205x400 { display:none; }

/* Change the background image of the logo */
#wikia_logo {
        /* background: url(http://images.wikia.com/common/skins/monaco/images/wikia_logo.png) no-repeat; */
        background: url(http://images.wikia.com/common/trunk/skins/answers/images/wikianswers_logo_transparent.png) no-repeat;
        height: 25px;
        width: 198px;
}

#siteSub {
	display: block; /* monaco css hides this */
}

/* Answers specific layout for question pages */
/* Search field */
#answers_ask {
        font-size: 16pt;
}

#answers_ask_heading {
        font-size: 16pt;
}

#ask_wrapper {
	padding-left:10px;
}

#answers_ask input.header_field {
        font-size: 16pt;
	width: 676px;
}

/* Special article layout */
#answers_article {
	line-height: normal; /* set to 1.5 in monaco article. Why? */

}
#question_heading, #answer_heading {
        font-size: 16pt;
}

#question_level {
	clear: both;
}

#answer_level {
	clear: left;
}

#related_level {
	clear: left;
}

.answers-article-left {
	float: left;
	width: 468px;
}

.answers-article-right {
	margin-left: 498px;
/*	width: 300px; */
}

.answers-tips {
	background-color: #D0E5F2;
	margin-top:46px;
	padding:10px;
	border:1px solid #C0D5E2;
}

.answers-tips h3 {
	padding-top:0px;
	padding-bottom:0px;
}

#question_box {
	margin-bottom: 25px;
	padding: 10px;
	background-color: #f8f8f8;
}

#answer_box {
	margin-bottom: 25px;
	padding: 10px;
	background-color: #f8f8f8;
}

#answer_edit_link, #question_edit_link {
	float: right;
}

.answer-input {
	height:100px;
	margin-bottom:10px;
	margin-top:10px;
	width:460px;
}

#answers_category_select {
	margin-bottom: 20px;
}

/* Misc */
.adunit {
	border: 1px dashed black;
	font-size:30pt;
	text-align: center;
}

/** User edit points **/
.answer-title {
	padding: 0px; /* Override the padding of 0.5em on monaco css */
}

.contributors, ul.contributors, ol.contributors {
	margin: 5px 0;
}

.contributors li, ul.contributors li,
ol.contributors li {
	float: left;
	margin: 5px;
}


.userInfoBadgeAvatarWrapper{
	float:left;
	height:100%;
	padding: 2px !important;
	margin-right: 5px !important;
}

.userInfoBadge img{
	border: solid 1px #aaa;
	width:100%;
	width:50px;
}

.userInfo {
	display:inline;
	margin-top: 8px !important;
	padding: 0 10px 0 0 !important;
	height:100%;
	margin-left: 62px;
	width:auto;
}
.userInfoNoAvatar {
	margin-top:0px !important;
	display:inline;
}
ul.userInfoNoAvatar, ul.userInfoNoAvatar div.userPoints,
ol.userInfoNoAvatar, ol.userInfoNoAvatar div.userPoints {
	font-size:0.92em !important;
}
.userInfoNoAvatar, .userInfoNoAvatar * {
	color:#888;
	font-weight:normal !important;
}
li .userInfoNoAvatar:hover a{
	color:#00c !important;
}
/* Filter IE < 7; XML namespace isn't updated when user's lang pref changes */
*:lang(en) .userInfo {
	float: left;
}

.userInfo .userPageLink {
	display: block;
	font-size: 1em;
	font-weight: bold;
	white-space:pre;
}

.userInfo .anonEditPoints {
	display: block;
	font-size: 0.9em;
	margin-top: 6px;
}

.userInfo .userEditPoints {
	margin-top: 4px;
}

.userInfo .userEditPoints {
	background: #e0e0e0 url('../images/user_edit_points_bg.png') no-repeat -175px 0;
	border: solid 1px #aaa;
	border-left: none;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	line-height: 15px;
	margin-left: 66px; /* For IE6 and 7, gets overriden. */
}

/* Filter IE < 7; XML namespace isn't updated when user's lang pref changes */
*:lang(en) .userInfo .userEditPoints {
	margin-left: 0;
}

.userInfo .userPoints, li .userInfoNoAvatar:hover .userPoints {
	background: #f6dd5d url('../images/user_edit_points_bg.png') no-repeat;
	border: 1px solid #584013;
	float: left;
	margin: -1px 3px 0 0;
	padding: 0 3px;
	font-size: 13px;
}

div.userInfoNoAvatar .userPoints {
	background: #eee;
	border:1px #888 solid;
	line-height:.95em !important;
	margin-top: 2px !important;
	margin-left: 5px !important;
}

/** User profile edit points **/
.profile-title-points {
	font-size: 0.8em;
	font-weight: normal;
	letter-spacing: -1px;
	padding-left: 10px;
}

/* Google js ads */
.google-ad-unit {
	clear:both;
	margin-top:10px;
	position:relative;
}
.google-ad-unit small a { /* Ads By Google link */
	font-size:11px;
	text-decoration:none;
	color:#999999;
}
.google-ad-unit p {
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:115%;
	margin-bottom:10px;
}
.google-ad-unit p a {
	color:#333333 !important;
	text-decoration:none;
}
.google-ad-unit a:hover {
	text-decoration: underline; 
}
.google-ad-unit a strong {
	color:#336699;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:122%;
}
.google-ad-unit em {
	color:#999999;
	font-size:12px;
	font-style:normal;
}

#questionBar {
	width: 493px;
}
#questionBarList {
	float: right;
	list-style-image: none;
}
#questionBarList li {
	background-color: #DDD;
	float: left;
	white-space: nowrap;
	margin:5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	list-style-image:none;
	list-style-type:none;
}
