/*** MAIN COLORS ***/
.color1, .color1 a, .yui-panel .hd {
	background-color: #fec423;
	color: #333;
}
.color2 {
	background-color: #F2F2F2;
}
#page_bar, * html #page_bar {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='crop');
}

/*** WIDGETS ***/
#navigation a:hover, .navigation-hover {
	background-color: #F5F5F5;
}
#search_button {
	background-image: url(../images/search.png);
}
* html #search_button {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/skins/monaco/smoke/images/search.png', sizingMethod='crop');
}
#search_box {
	background-image: none;
}
.community_details {
	background-color: #F5F5F5;
}

/*** HEADER AND FOOTER ***/
#header_username a {
	color: #fec423;
}
#wikia_logo {
	background-image: url(../images/wikia_logo.png);
}
* html #wikia_logo {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/skins/monaco/smoke/images/wikia_logo.png', sizingMethod='crop');
}
.headerMenuButton dt, .headerMenuButton dd {
	background-image: url(../images/header_button.png);
	color: #333;
}
* html .headerMenuButton dt, * html .headerMenuButton dd {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/skins/monaco/smoke/images/header_button.png', sizingMethod='crop');
}
