/*** MAIN COLORS ***/
.color1, .color1 a, .yui-panel .hd {
	background-color: #fec423;
	color: #333;
}
.color2 {
	background-color: #F2F2F2;
}


.dark_text_1 {
	color: #626466;
}
.dark_text_2 {
	color: #505254;
}
.accent	{
	background-color: #FEEECC;
	border-color: #FEC423;
	color: #000;
}


#page_bar {
	background-image: none;
}

/*** WIDGETS ***/
#search_button {
	background-image: url(http://images.wikia.com/common/skins/monaco/smoke/images/search.png);
}
#search_box {
	background-image: none;
}
.community_details {
	background-color: #F5F5F5;
}

/*** HEADER AND FOOTER ***/
#header_username a {
	color: #fec423;
}
#wikia_logo {
	background-image: url(/skins/monaco/smoke/images/wikia_logo.png); /* $wgCdnStylePath */
}
.editsectionbutton {
	background-color: #FFC;
	color: #FFC;
}
.header-button img {
	background-position: -72px -94px;
}
