// Platform-specific styles for DesignSystem integration

.wds-global-navigation {
	position: relative;
	z-index: 4;

	.notifications-container {
		position: absolute;
	}
}

.wds-global-footer {
	position: relative;
	z-index: 2;
}
