@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/index';
@import 'skins/shared/mixins/flexbox';

// on-site-notifications to be moved to Design System

$notifications-dropdown-content-color: $wds-color-light-c7;
$notifications-dropdown-border-color: #363b41;
$wds-icon-color: $wds-color-light-c5;

.wds-hidden-svg {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.wds-notifications {
  &__mark-all-as-read-button {
	@include justify-content(flex-start);
	box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.1);
	display: none;
	min-height: 44px;
	padding: 0;
	width: 100%;

	&.wds-is-visible {
	  @include flexbox();
	}
  }
  &__mark-all-as-read {
	color: $wds-color-link;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	padding: 18px;
	text-transform: uppercase;
	cursor: pointer;
  }

  &__dropdown-content {
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	color: $notifications-dropdown-content-color;
	font-size: 14px;
	//padding 18 * 2 + content 320px
	min-width: 356px;
	width: 100%;
	white-space: normal;

	.wds-notification-list {
	  box-sizing: border-box;
	  max-height: 420px;
	  overflow-y: auto;
	  width: 100%;
	  padding: 0 18px;
	}
  }
}

$notification-card-text-color: #38424d;
$notification-card-anchor-color: $notifications-dropdown-content-color;

.wds-notification-card {
  padding: 12px 0 8px;
  text-align: left;
  a {
	cursor: pointer;
	display: flex;
  }

  &__icon-wrapper {
	@include flexbox();
	cursor: pointer;
	padding-left: 12px;
	width: 30px;

	.wds-icon {
	  fill: $wds-icon-color;
	  width: 18px;
	  height: 18px;
	  min-width: inherit;
	}
	.wds-is-unread {
	  fill: $wds-color-link;
	}
  }

  &__body {
	@include flexbox();
	@include flex-direction(column);
	@include flex-grow(1);
	@include justify-content(flex-start);
	padding-left: 12px;
	padding-right: 12px;
  }

  &__text {
	color: $notification-card-text-color;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	b {
	  font-weight: bold
	}
  }

  &__snippet {
	color: $wds-color-blue-gray;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
	margin: 8px 0 0;
  }

  &__context-list {
	@include flexbox();
	color: $wds-color-blue-gray;
	font-size: 12px;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 8px 0 0;
  }

  &__context-separator {
	margin: 0 8px 0 8px;
  }

}

.wds-avatar-stack {
  @include flexbox();
  @include align-items(center);
  margin: 8px 18px 6px 40px;

  @for $i from 1 to 6 {
	.wds-avatar:nth-child(#{$i}) {
	  position: relative;
	  transform: translate(($i - 1) * - 15px);
	  z-index: 5 - $i;
	}
  }

  &__overflow {
	padding-left: 6px;
	background-color: $wds-color-white;
	border: 0;
	color: $wds-color-light-c6;
	font-size: 12px;
	transform: translate(-60px);
	width: auto;
  }
}
