// Platform-specific styles for DesignSystem integration
$global-navigation-z-index: 5000101;
$global-navigation-height: 55px;

.WikiaSiteWrapper {
	padding-top: $global-navigation-height;

	&.bfaa-template {
		padding-top: 0;
	}
}

.wds-global-navigation {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $global-navigation-z-index;

	&.bfaa-pinned {
		position: relative;
	}

	a:hover {
		text-decoration: none;
	}

	button,
	button:hover {
		background-image: none;
		border-radius: 0;
		height: auto;
	}

	.notifications-container .bubbles {
		background: none;
		min-width: 0;
		padding: 0;
		position: static;
		right: 0;
		top: auto;
	}

	.ve & {
		position: absolute;
		z-index: $global-navigation-z-index - 1;
	}
}

.wds-global-footer {
	position: relative;
	z-index: 2;
}
