@import 'variables';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/mixins/transform';

$link-inactive-color: $color-text;
$link-inactive-background-color: $background-color;
$link-active-color: invert($color-text);
$link-active-background-color: $color-links;

$border: 1px solid $color-page-border;
$spacing-good-sized: 12px;
$font-size: 14px;
$first-level-font-size: 16px;
$first-level-link-padding: 18px 0;
$item-padding: 0 24px;
$link-padding: 12px 0;
$line-height: 1.5;
$container-width: 900px;
$container-height: calc(8 * 64px);
$column-width: $container-width / 3;

.rwe-page-header-nav__dropdown {
	width: $container-width;

	// override
	&.wds-dropdown__content {
		background-color: $background-color;
		box-shadow: 0 10px 15px -5px $shadow-color;
		display: none;
		top: 42px;
		z-index: 1;
	}

	&.rwe-page-header-nav__read {
		left: -130%;

		.rwe-page-header-nav__dropdown-second-level {
			display: none;
		}

		.rwe-page-header-nav__dropdown-third-level {
			display: none;
		}

		.item-selected > ul {
			display: block;
		}
	}

	&.rwe-page-header-nav__create {
		min-height: $container-height;
		width: $column-width;

		.rwe-page-header-nav__dropdown-second-level {
			background-color: $background-color;
			border-right: 0;
			left: 0;
			position: static;
		}
	}

	.rwe-page-header-nav__dropdown-first-level,
	.rwe-page-header-nav__dropdown-second-level,
	.rwe-page-header-nav__dropdown-third-level {
		width: $column-width - 1px;
	}

	.rwe-page-header-nav__dropdown-first-level,
	.rwe-page-header-nav__dropdown-second-level {
		border-right: $border;
		margin: 0;
		min-height: $container-height;
	}

	.rwe-page-header-nav__dropdown-second-level,
	.rwe-page-header-nav__dropdown-third-level {
		left: $column-width;
		position: absolute;
		top: 0;
	}

	.rwe-page-header-nav__dropdown-item:not(:last-child) > .rwe-page-header-nav__dropdown-link-wrapper {
		border-bottom: $border;
	}

	.rwe-page-header-nav__dropdown-item {
		height: 100%;
		padding: $item-padding;

		&:hover {
			background-color: $link-active-background-color;

			> .rwe-page-header-nav__dropdown-link-wrapper {
				border-bottom-color: $link-active-background-color;
			}

			> .rwe-page-header-nav__dropdown-link-wrapper > .rwe-page-header-nav__link {
				color: $link-active-color;

				svg {
					fill: $link-active-color;
				}
			}
		}
	}

	.rwe-page-header-nav__dropdown-link-wrapper {
		height: calc(100% - 1px);
	}

	.rwe-page-header-nav__dropdown-first-level-item  > .rwe-page-header-nav__dropdown-link-wrapper > .rwe-page-header-nav__link {
		font-size: $first-level-font-size;
		padding: $first-level-link-padding;
	}

	.item-selected > .rwe-page-header-nav__link {
		color: $color-links;
		text-decoration: none;
	}

	.rwe-page-header-nav__link {
		color: $link-inactive-color;
		display: block;
		font-size: $font-size;
		line-height: $line-height;
		padding: $link-padding;

		svg {
			@include transform-rotate(270deg);
			fill: $link-inactive-color;
			float: right;
			margin: 6px;
		}
	}
}
