@import 'variables';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/mixins/transform';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/breakpoints';

$link-inactive-color: $color-text;
$link-inactive-background-color: $background-color;
$link-active-background-color: mix($color-page, $color-buttons, 25%);
$link-active-color: $color-white;
@if lightness($link-active-background-color) > 55 {
	$link-active-color: $color-black;
}

$border: 1px solid $color-page-border;

$font-size: $wds-typescale-size-minus-1;
$first-level-font-size: $wds-typescale-size-base;

$first-level-item-height: 64px;
$item-height: 48px;
$item-padding: 0 $content-spacing-large;
$line-height: 1.5;
$link-width: 220px;

$container-height: 10 * $item-height;
$container-width: 900px;
$column-width: $container-width / 3;

$container-width-small: 766px;
$column-width-small: $container-width-small / 3;
$link-width-small: 175px;

$transition-length: .5s;

.rwe-page-header-nav__dropdown {
	width: $container-width;

	// override
	&.wds-dropdown__content {
		background-color: $background-color;
		box-shadow: 0 10px 15px -5px $shadow-color;
		display: none;
		top: 43px;
		z-index: 1;
	}

	&.rwe-page-header-nav__read {
		left: -125%;

		.rwe-page-header-nav__dropdown-second-level {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s, opacity $transition-length;
		}

		.rwe-page-header-nav__dropdown-third-level {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s, opacity $transition-length;
		}

		.item-selected > ul {
			visibility: visible;
			opacity: 1;
			transition: visibillity 0s, opacity $transition-length;
		}

		.item-selected > ul > .item-selected > ul {
			transition-delay: .15s;
		}
	}

	&.rwe-page-header-nav__create {
		left: -53%;
		width: $column-width;

		.rwe-page-header-nav__dropdown-second-level {
			background-color: $background-color;
			border-right: 0;
			min-height: 0;
			position: static;
		}
	}

	.rwe-page-header-nav__dropdown-first-level,
	.rwe-page-header-nav__dropdown-second-level,
	.rwe-page-header-nav__dropdown-third-level {
		min-height: $container-height;
		width: $column-width - 1px;
	}

	.rwe-page-header-nav__dropdown-first-level,
	.rwe-page-header-nav__dropdown-second-level {
		border-right: $border;
		margin: 0;
	}

	.rwe-page-header-nav__dropdown-second-level,
	.rwe-page-header-nav__dropdown-third-level {
		left: $column-width;
		position: absolute;
		top: 0;
	}

	.rwe-page-header-nav__dropdown-item:not(:last-child) > .rwe-page-header-nav__dropdown-link-wrapper {
		border-bottom: $border;
	}

	.rwe-page-header-nav__dropdown-item {
		height: $item-height;
		padding: $item-padding;

		&:hover, &.item-selected {
			background-color: $link-active-background-color;

			> .rwe-page-header-nav__dropdown-link-wrapper {
				border-bottom-color: $link-active-background-color;

				svg {
					fill: $link-active-color;
				}
			}

			> .rwe-page-header-nav__dropdown-link-wrapper > .rwe-page-header-nav__link {
				color: $link-active-color;
			}
		}
	}

	.rwe-page-header-nav__dropdown-link-wrapper {
		@include align-items(center);
		@include flexbox();
		@include flex-wrap(nowrap);
		@include justify-content(space-between);

		height: calc(100% - 1px);

		svg {
			@include transform-rotate(270deg);
			fill: $color-page-border;
			float: right;
			margin: $content-spacing-small;
		}
	}

	.rwe-page-header-nav__dropdown-first-level-item {
		height: $first-level-item-height;

		> .rwe-page-header-nav__dropdown-link-wrapper > .rwe-page-header-nav__link {
			font-size: $first-level-font-size;
		}
	}

	.rwe-page-header-nav__link {
		color: $link-inactive-color;
		display: block;
		font-size: $font-size;
		line-height: $line-height;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: $link-width;
	}
}

@media #{$wds-screen} and (max-width:#{$wds-breakpoint-l - 1}) {
	.rwe-page-header-nav__dropdown {
		width: $container-width-small;

		&.rwe-page-header-nav__read {
			left: -80%;
		}

		.rwe-page-header-nav__dropdown-first-level,
		.rwe-page-header-nav__dropdown-second-level,
		.rwe-page-header-nav__dropdown-third-level {
			width: $column-width-small - 1px;
		}

		.rwe-page-header-nav__dropdown-second-level,
		.rwe-page-header-nav__dropdown-third-level {
			left: $column-width-small;
		}

		.rwe-page-header-nav__link {
			width: $link-width-small;
		}
	}
}
