@import 'variables';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/mixins/transform';

// blocks
.rwe-page-header {
	padding-bottom: $content-spacing-medium;
}

.rwe-page-header-nav__wrapper {
	@include flexbox();
	@include justify-content(center);

	border-bottom: 1px solid $color-page-border;
}

.rwe-page-header-nav {
	@include display-inline-flex();
	@include justify-content(center);

	position: relative;
}

// elements
.rwe-page-header-nav__chevron {
	color: $color-text;
	margin-left: $content-spacing-small;
}

.rwe-page-header-nav__element {
	border-right: 1px $color-page-border solid;
	color: $color-page-border;
	margin-top: $content-spacing-small 0;

	>.rwe-page-header-nav__link {
		display: block;
		padding: $content-spacing-small-plus $content-spacing-large $content-spacing-medium-minus;
	}

	&:last-child {
		border-right: 0;
	}

	&:hover {
		margin-bottom: -1px;
		text-decoration: none;
		z-index: 10;

		.rwe-page-header-nav__chevron,
		.rwe-page-header-nav__icon,
		.rwe-page-header-nav__text {
			color: $color-buttons;
		}

		.rwe-page-header-nav__chevron {
			@include transform-rotate(180deg);
		}
	}

	&.rwe-page-header-nav__element-dropdown:hover .rwe-page-header-nav__dropdown {
		display: block;
	}
}

.rwe-page-header-nav__icon {
	color: $color-icons;
	margin-right: $content-spacing-small;
	vertical-align: text-bottom;
}

.rwe-page-header-nav__link:hover {
	text-decoration: none;
}

.rwe-page-header-nav__text {
	color: $color-text;
	font-size: $wds-typescale-size-base;
	font-weight: bold;
	line-height: $wds-line-height;
}
