@import 'variables';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/mixins/transform';

// blocks
.rwe-page-header {
	padding-bottom: $content-spacing-medium;
}

.rwe-page-header-nav__wrapper {
	@include flexbox();
	@include justify-content(center);

	border-bottom: 1px solid $color-page-border;

	// reset
	.wds-dropdown__content {
		background-color: unset;
		box-shadow: unset;
		display: none;
		left: -100%;
		top: unset;
	}
}

.rwe-page-header-nav {
	@include display-inline-flex();
	@include justify-content(center);

	position: relative;
}

// elements
.rwe-page-header-nav__chevron {
	color: $color-page-border;
	margin-left: $content-spacing-small;
}

.rwe-page-header-nav__element {
	border-right: 1px $color-page-border solid;
	color: $color-page-border;
	margin: $content-spacing-small 0;
	padding: $content-spacing-small $content-spacing-regular;

	&:last-child {
		border-right: none;
	}

	&:hover {
		cursor: pointer;
		text-decoration: none;

		.rwe-page-header-nav__chevron,
		.rwe-page-header-nav__icon,
		.rwe-page-header-nav__text {
			color: $color-links;
		}
	}

	&.wds-is-active {
		background-color: $background-color;
		border-bottom: 1px $background-color solid;
		border-left: 1px $color-page-border solid;
		margin-bottom: -1px;
		margin-left: -1px;
		padding-bottom: $content-spacing-medium;

		.rwe-page-header-nav__chevron,
		.rwe-page-header-nav__icon,
		.rwe-page-header-nav__text {
			color: $color-links;
		}

		.rwe-page-header-nav__chevron {
			@include transform-rotate(180deg);
		}
	}
}

.rwe-page-header-nav__icon {
	color: $color-page-border;
	margin: 0 $content-spacing-small;
	vertical-align: text-bottom;
}

.rwe-page-header-nav__link:hover {
	text-decoration: none;
}

.rwe-page-header-nav__text {
	color: $color-text;
	font-size: $wds-typescale-size-base;
	font-weight: bold;
	line-height: $wds-line-height;
}
