@import 'skins/shared/color';
@import 'skins/shared/functions';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/typography';

$content-spacing-tiny-minus: 2px;
$content-spacing-tiny: 3px;
$content-spacing-tiny-plus: 4px;
$content-spacing-small-minus: 5px;
$content-spacing-small: 6px;
$content-spacing-small-plus: 8px;
$content-spacing-medium-minus: 10px;
$content-spacing-medium: 12px;
$content-spacing-medium-plus: 14px;
$content-spacing-regular-minus: 16px;
$content-spacing-regular: 18px;
$content-spacing-regular-plus: 20px;
$content-spacing-large-minus: 22px;
$content-spacing-large: 24px;
$content-spacing-large-plus: 28px;
$content-spacing-great-minus: 32px;
$content-spacing-great: 36px;
$content-spacing-great-plus: 40px;
$content-spacing-huge-minus: 44px;
$content-spacing-huge: 48px;
$content-spacing-huge-plus: 52px;
$content-spacing-gargantuan-minus: 56px;
$content-spacing-gargantuan: 60px;
$content-spacing-gargantuan-plus: 64px;

$overlay-color: #fff;
@if luminance($color-page) > 0.3 {
	$overlay-color: #000;
}

$overlay-value: 10%;
@if luminance($color-page) > 0.1 {
	$overlay-value: 5%;
}

$background-color: mix($overlay-color, $color-page, $overlay-value);
$shadow-color: rgba(26, 26, 26, .3);
$color-icons: rgba($color-text, .4);
