@import 'variables';
@import 'skins/shared/mixins/calc';

// blocks

.rwe-page-header-wordmark {
	margin: -$content-spacing-great auto $content-spacing-small-plus;
	position: relative;
	width: 274px;

	.wordmark {
		background-color: $color-page;
		padding: $content-spacing-medium $content-spacing-medium 0;
		position: relative;
		z-index: 300;
	}
}

// elements
.rwe-page-haader-wordmark__shadow {
	box-shadow: 0 $content-spacing-tiny-plus $content-spacing-regular-plus rgba(26, 26, 26, .6);
	display: block;
	height: $content-spacing-great;
	position: absolute;
	width: 100%;
	z-index: -1;
}
