@import 'dropdown';
@import 'navigation';
@import 'search';
@import 'variables';
@import 'wordmark';

.WikiaPageHeader .header-container {
	border: 0;
}

.WikiaPage:before {
	border-top: $content-spacing-large solid $color-buttons;
	content: '.';
	left: -1px;
	position: absolute;
	right: -1px;
	top: (-$content-spacing-large);
	z-index: -2;
}

.WikiaPage {
	margin-top: $content-spacing-great-minus;
}

.WikiHeader {
	display: none;
}
