$search-transition-duration: .3s;

#searchFormWrapperRWE {
  width: 100px;
  position: absolute;
  right: 0px;
  transition: width $search-transition-duration;

  .wds-global-navigation__search {
    border-top: none;
  }

  #searchInputWrapperRWE {
    border-bottom: none;
  }

  .wds-global-navigation__search-submit {
    max-width: 0;
    display: inline-block;
    opacity: 0;
    height: 100%;
    transition: background-color .3s, border-color .3s, color .3s, max-width 50ms 150ms, opacity .3s, padding 50ms 150ms;
  }

  .wds-global-navigation__search-close {
    height: 100%;
    width: 100%;
  }

  &.wds-search-is-active {
    width: 400px;
    transition: width $search-transition-duration;

    .wds-global-navigation__search-submit {
      max-width: 100%;
      opacity: 1;
      padding: 5px 9px;
      transition: background-color .3s, border-color .3s, color .3s, max-width 50ms 150ms, opacity .3s, padding 50ms 150ms;
    }

    .wds-global-navigation__search-close {
      margin-right: 24px;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition-delay: 150ms;
    }

    #searchInputWrapperRWE {
      border-bottom: solid 1px black;
    }

    .wds-global-navigation__search-suggestions {
      z-index: 2;
    }
  }
}
