<script>
	require([
		"wikia.geo",
		"wikia.instantGlobals",
		require.optional('ext.wikia.adEngine.lookup.appnexus')
	], function (geo, instantGlobals, appnexus) {
		if (appnexus && geo.isProperGeo(instantGlobals.{{wgCountriesVariable}})) {
			appnexus.call();
		}
	});
</script>
