<script>
	require([
		'wikia.geo',
		'wikia.instantGlobals',
        'ext.wikia.adEngine.adContext',
		require.optional('{{moduleName}}')
	], function (geo, globals, adContext, bidder) {
		if (bidder && adContext.isEnabled('{{wgCountriesVariable}}') && !adContext.isEnabled('{{wgPrebidCountriesVariable}}')) {
			bidder.call();
		}
	});
</script>
