<script src="{{url}}"></script>
<script>(function(){for(var a=("; "+document.cookie).split("; ymrhmm="),b=[],c=1;c<a.length;c++)b.push(a[c].split(";")[0]);var d="https:\/\/p.d.rpts.org\/v4\/AAAACgAAc9Uau9icuBlvDvtokvlNaAAA_beqGGg0086ASLFkx4dqFskjo6gsKeuE7We-aRPAhnfFvrJ7nVktc_FObpKtSCVqhNlY1hcqUNT6nPxFs_4bPNnpuiPMvRPDA"+b.join(","),e=document.createElement("script");e.async=!0;e.src=d;var f=document.getElementsByTagName("head")[0];f.insertBefore(e,f.childNodes[0]||null);}).call(this);</script>
