<!-- Begin IVW3 Tag -->
<script type="text/javascript">
	var iam_data = {
		st: '{{siteId}}',
		cp: '{{cmKey}}',
		sv: 'i2'
	};

	if (window.Wikia &&
		window.Wikia.InstantGlobals &&
		!window.Wikia.InstantGlobals.wgSitewideDisableIVW3 &&
		window.Wikia.geo.isProperGeo({{{countries}}})
	) {
		window.ivw3Initialized = true;
		document.write('<script type="text/javascript" src="{{url}}"><\/script>');
		document.write('<script type="text/javascript">window.iom.c(iam_data, 2);<\/script>');
	}
</script>
<!-- End IVW3 Tag -->
