<!-- Begin Krux Tag -->
<script type="text/javascript">
    require([
        require.optional('wikia.krux')
    ], function (krux) {
        if (krux) {
            krux.load('{{siteId}}');
        }
    });
</script>
<!-- End Krux Tag -->
