<!-- Begin NetzAthleten (Netletix) Tag -->
<script type="text/javascript">
require([
	'wikia.trackingOptIn',
	require.optional('ext.wikia.adEngine.adContext'),
	require.optional('ext.wikia.adEngine3.api')
], function(trackingOptIn, adContext, adsApi) {
	var url = '{{ url }}';

	function loadNetzAthletenScript() {
		var scriptElementNetzAthleten = document.createElement('script');

		scriptElementNetzAthleten.type = 'text/javascript';
		scriptElementNetzAthleten.src = url;
		scriptElementNetzAthleten.addEventListener('load', function () {
			window.naMediaAd.setValue('homesite', window.wgIsMainpage);
		});

		document.head.appendChild(scriptElementNetzAthleten);
	}

	trackingOptIn.pushToUserConsentQueue(function (optIn) {
		var isEnabled = (adContext && adContext.get('opts.netzathleten')) ||
			(adsApi && adsApi.isNetzathletenEnabled());

		// user opt-ins for NetzAthleten
		if (optIn && isEnabled) {
			loadNetzAthletenScript();
		}
	});
});
</script>
<!-- End NetzAthleten (Netletix) Tag -->
