<!-- Begin NetzAthleten Tag -->
<script type="text/javascript">
require(['wikia.geo', 'wikia.instantGlobals'], function(geo, instantGlobals){
	var url = "{{ url }}",
		scriptElementNetzAthleten = document.createElement("script");
	if (geo.isProperGeo(instantGlobals.wgAdDriverNetzAthletenCountries)) {
		scriptElementNetzAthleten.type = "text/javascript";
		scriptElementNetzAthleten.src = url;
		document.head.appendChild(scriptElementNetzAthleten);
	}
});
</script>
<!-- End NetzAthleten Tag -->
