<!-- Begin Nielsen Tag -->
<script type="text/javascript" src="{{url}}"></script>
<script type="text/javascript">
	var _nolggGlobalParams = {
		sfcode: 'dcr-cert',
		apid: '{{appId}}',
		apn : 'test-static'
	};

	gg1 = NOLCMB.getInstance(_nolggGlobalParams),
	staticmeta = {
		type: 'static',
		assetid: '{{section}}',
		section: '{{section}}',
		segA: '{{dbName}}',
		segB: '',
		segC: ''
	};

	gg1.ggInitialize(_nolggGlobalParams);
	gg1.ggPM('staticstart', staticmeta);
</script>
<!-- End Nielsen Tag -->
