<!-- Begin Nielsen Tag -->
<script type="text/javascript">
	(function() {
		function sendNielsenPageView() {
			var _nolggGlobalParams = {
				sfcode: 'dcr-cert',
				apid: '{{appId}}',
				apn: 'test-static'
			};

			gg1 = NOLCMB.getInstance(_nolggGlobalParams);
			staticmeta = {
				type: 'static',
				assetid: '{{section}}',
				section: '{{section}}',
				segA: '{{dbName}}',
				segB: '',
				segC: ''
			};

			gg1.ggInitialize(_nolggGlobalParams);
			gg1.ggPM('staticstart', staticmeta);
		}

		function onNielsenScriptLoaded() {
			document.addEventListener("DOMContentLoaded", function() {
				sendNielsenPageView();
			});
		}

		window.trackNielsenPageView = function () {
			var scriptTag = document.createElement('script'),
					firstScriptInDocument = document.getElementsByTagName('script')[0];

			scriptTag.async = 1;
			scriptTag.src = '{{url}}';
			scriptTag.onload = onNielsenScriptLoaded;
			firstScriptInDocument.parentNode.insertBefore(scriptTag, firstScriptInDocument);
		};

		window.trackNielsenPageView();
	})();
</script>
<!-- End Nielsen Tag -->
