<script id="analytics-provider-rubicon-fastlane">
	require([
		'wikia.geo',
		'wikia.instantGlobals',
		require.optional('ext.wikia.adEngine.lookup.rubiconFastlane')
	], function (geo, globals, rubiconFastlane) {
		var fastlaneCountries = globals['{{wgCountriesVariable}}'];

		if (rubiconFastlane && geo.isProperGeo(fastlaneCountries)) {
			rubiconFastlane.call();
		}
	});
</script>
