<script id="analytics-provider-rubicon-vulcan">
	require([
		'wikia.geo',
		'wikia.instantGlobals',
		require.optional('ext.wikia.adEngine.lookup.rubiconFastlane'),
		require.optional('ext.wikia.adEngine.lookup.rubiconVulcan')
	], function (geo, globals, rubiconFastlane, rubiconVulcan) {
		var vulcanCountries = globals['{{wgVulcanCountriesVariable}}'];

		if (rubiconFastlane && rubiconFastlane.wasCalled() && rubiconVulcan && geo.isProperGeo(vulcanCountries)) {
			rubiconVulcan.call();
		}
	});
</script>
