<script id="analytics-provider-rubicon-vulcan">
	require([
		'wikia.geo',
		'wikia.instantGlobals',
		require.optional('ext.wikia.adEngine.lookup.rubiconVulcan')
	], function (geo, globals, rubiconVulcan) {
		var countries = globals['{{wgCountriesVariable}}'];

		if (rubiconVulcan && geo.isProperGeo(countries)) {
			rubiconVulcan.call();
		}
	});
</script>
