<!-- Begin Ubisoft Tag -->
<script type="text/javascript">
    var a = Math.random() * 10000000000000,
            url = "{{ url }}",
            scriptElementWikia = document.createElement("script");

    scriptElementWikia.id = "Wikia_container";
    scriptElementWikia.type = "text/javascript";
    scriptElementWikia.src = url + "?rand=" + a;
    document.body.appendChild(scriptElementWikia);
</script>
<!-- End Ubisoft Tag -->
