/*
 * Styles for VET
 * @author Rafal Leszczynski
 * @author Liz Lee
 */
@import "skins/oasis/css/core/WikiaSlider";
@import "skins/shared/color";
@import "skins/shared/mixins/gradient";
@import "skins/shared/mixins/clearfix";
@import "skins/shared/mixins/box-shadow";
@import "skins/shared/mixins/clearfix";
@import "skins/shared/mixins/box-shadow";

$color-inactive-button: darken($color-secondary-button, 50%);
@if lightness($color-page) < 50 {
	$color-inactive-button: lighten($color-secondary-button, 50%);
}

$color-related-videos-background: darken($color-page, 20%);
@if lightness($color-page) < 50 {
	$color-inactive-button: lighten($color-page, 20%);
}

// Back button
.VideoEmbedBack {
	display: none;
	left: 10px;
	padding-left: 18px;
	position: absolute;
	top: 5px;
	a {
		color: #FFF;
	}
	img  {
		cursor: pointer;
		left: -2px;
		position: absolute;
		top: -1px;
	}
}

// All screens of VET
.VideoEmbedBody {
	background: $color-page;
	color: $color-text !important;
	min-height: 25px;
	opacity: 1;
	overflow: hidden;
	position: relative;

	.WikiaForm {
		@include clearfix;
		border-bottom: 1px solid $color-page-border;
		margin: 20px 0 0 0;
		padding: 0 0 20px 0;

		.input-group {
			padding: 0;
			margin: 0;
			> div {
				float: left;
			}
			.VideoEmbedUrl {
				width: 395px;
				margin-right: 7px;
			}
			label {
				float: left;
				font-size: 18px;
				font-weight: bold;
				padding: 8px 28px 0 0;
				&.with-info-p {
					padding-top: 31px;
				}
			}
			input[type="text"] {
				padding: 6px 8px;
			}
			&.last {
				border-bottom: none;
			}
		}
		p {
			font-size: 12px;
			line-height: 18px;
			padding-bottom: 5px;
		}
		.VET-search-field {
			width: 340px;
		}
	}
	.WikiaSlider {
		float: left;
		margin-right: 18px;
		margin-top: 11px;
		width: 310px;
		a {
			cursor: pointer;
		}
	}
	a.bottom-close-button {
		float: right;
		margin: 20px 0 0 0;
	}
	.VET_error_box {
		display: none;
	}
	.VideoEmbedSummary,
	.VideoEmbedDetails {
		display: none;
		padding: 0;
		h1 {
			margin-left: 0;
		}
	}
}

// First screen - video selection
.VideoEmbedMain {
	strong {
		font-size: 12px;
		font-weight: bold;
	}
	.VideoEmbedUrlSubmit {
		float: left;
		margin-top: 27px;
	}
	.VET-search-submit {
		margin-left: 2px;
	}
}
.VET-carousel-wrapper {
	display: none;
	&.show {
		display: block;
	}
	.back-link {
		cursor: pointer;
		display: none;
		float: right;
		padding-top: 11px;
		&.show {
			display: block;
		}
	}
	.results {
		display: none;
		float: left;
		padding: 11px 0 7px;
		&.show {
			display: block;
		}
	}
	.VET-preview {
		background-color: mix($color-page-opposite, $color-page, 3%);
		clear: both;
		display: none;
		height: 250px;
		padding: 10px 0;
		position: relative;
		text-align: center;
		.VET-preview-close {
			cursor: pointer;
			position: absolute;
			padding: 0 5px;
			right: 8px;
			top: 11px;
		}
		.VET-add-from-preview {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		.VET-video-wrapper {
			display: inline-block;
		}
	}
	.VET-preview {
		clear: both;
	}
}
.VET-suggestions-wrapper {
	@include box-shadow(0, 0, 5px, mix($color-page, #000000, 90%), true, 1px);
	@if $is-dark-wiki {
		background-color: mix($color-page, #ffffff, 85%);
	} @else {
		 background-color: mix($color-page, #000000, 95%);
	}
	clear: both;
	overflow: hidden;
	padding: 25px 10px;
	position: relative;
	> div {
		float: left;
	}
	.wikiaThrobber {
		float: none;
		z-index: 102; // fixed problem with thumbnail play icons displayed on top of throbber
	}
	.button {
		height: 89px;
		width: 15px;
		&.secondary {
			@include linear-gradient($color-secondary-button, top, $color-secondary-button-highlight, 35%, $color-secondary-button, 65%);
			&:hover {
				@include linear-gradient($color-secondary-button, top, $color-secondary-button, 5%, $color-secondary-button, 50%);
			}
		}
		&.scrollleft {
			.chevron {
				border-color: transparent $color-buttons transparent transparent;
				border-width: 11px;
				margin: 35px -9px;
			}
			&.disabled {
				img {
					border-color: transparent $color-inactive-button transparent transparent;
				}
			}
		}
		&.scrollright {
			.chevron {
				border-color: transparent transparent transparent $color-buttons;
				border-width: 11px;
				margin: 35px 4px;
			}
			&.disabled {
				img {
					border-color: transparent transparent transparent $color-inactive-button;
				}
			}
		}
		&.disabled {
			@include linear-gradient($color-secondary-button, left, $color-secondary-button, 5%, $color-secondary-button, 50%);
			cursor: auto;
			opacity: .5;
		}
	}
	p {
		color: mix($color-page, $color-text, 50%);
		display: none;
		font-size: 24px;
		font-weight: bold;
		padding-top: 40px;
		text-align: center;
		&.show {
			display: block;
		}
	}
	.VET-suggestions {
		height: 158px;
		margin: 0 5px;
		overflow: hidden;
		position: relative;
		width: 824px;
		> div {
			position: relative;
		}
	}
	ul {
		position: relative;
		width: 50000px;
	}
	li {
		box-sizing: border-box;
		text-align: center;
		float: left;
		font-size: 12px;
		line-height: 18px;
		padding-right: 6px;
		width: 166px;
		&.in-preview .video-thumbnail {
			border: 4px solid $color-buttons;
			box-sizing: border-box;
			opacity: 1;
		}
		&:last {
			padding-right: 0;
			width: 160px;
		}
		figure {
			padding-bottom: 10px;
			text-align: left;
			figcaption {
				height: 36px;
				padding-top: 5px;
				overflow: hidden;
			}
			a {
				background-color: #000;
				display: block;
				overflow: hidden;
				position: relative;
				height: 90px;
				.timer {
					bottom: 3px;
					right: 4px;
				}
			}
		}
	}
}
.VET-search-filter {
	padding-top: 4px;
	width:320px;
	float:right;
	.VET-search-dropdown {
	    margin-right:39px;
	    float:right;
	    width:180px;
	    .dropdown {
    		width: 215px;
    	}
    }
    label.dropdown-label {
    	float:right;
    	margin-right:10px;
    	font-weight: bold;
    }
}


// Second screen - embed details
.VideoEmbedDetails {
	.WikiaForm {
		margin: 0;
		border: none;
		padding: 0;
		.button-group {
			clear: both;
			float: right;
			padding-top: 20px;
		}
		img {
			vertical-align: middle;
		}
		h2 {
			clear: left;
			padding-top: 30px;
			margin-bottom: 10px;
		}
		.video-description {
			resize: vertical;
		}
	}
	.preview-options {
		float: left;
		width: 540px;
		.VideoEmbedInputWidth {
			border: none;
			margin: 0;

			input[type="text"] {
				display: inline-block;
				height: 16px;
				padding: 6px;
				width: 28px;
			}
		}
		.VideoEmbedName,
		.VideoEmbedCaption {
			width: 394px;
		}
		.input-group {
			clear: both;
			padding: 15px 0;
			border-bottom: 1px solid $color-page-border;
			width: 540px;

			.option-label,
			> div {
				float: left;
			}
			> div,
			> textarea {
				box-sizing: border-box;
				width: 412px;
			}
			> textarea {
				min-height: 75px;
			}
			&.last {
				padding-bottom: 0px;
			}
			.option-label {
				font-size: 12px;
				width: 90px;
			}
			p.hint {
				margin-left: 118px;

				& + label {
					padding-top: 0;
				}
			}
		}
		.VideoEmbedNameRow {
			padding-top: 0;
			p {
				padding-top: 8px;
			}
		}
		span {
			border: 2px solid transparent;
			display: block;
			float: left;
			margin-right: 20px;

			&.selected {
				border-color: $color-buttons;
			}
			input.hidden {
				// hide imputs hack for IE8 - "diaplay none" cause clicking on label doesn't make radio button checked
				height: 0px;
				left: -9999px;
				position: absolute;
				width: 0px;
			}
			.vet-style-label {
				background: url("/extensions/wikia/VideoEmbedTool/images/MediatoolsSprite.png") 0px -10px no-repeat; /* $wgCdnStylePath */
				cursor: pointer;
				float: none;
				height: 34px;
				margin: 1px;
				overflow: hidden;
				padding: 0;
				text-indent: 100%;
				width: 44px;
				white-space: nowrap;
			}
			.vet-layout-label {
				background: url("/extensions/wikia/VideoEmbedTool/images/MediatoolsSprite.png") 0px -89px no-repeat; /* $wgCdnStylePath */
				cursor: pointer;
				float: none;
				height: 33px;
				margin: 1px;
				overflow: hidden;
				padding: 0;
				text-indent: 100%;
				width: 50px;
				white-space: nowrap;

				&.VideoEmbedLayoutCenter {
					background-position: 0px -127px;
				}
				&.VideoEmbedLayoutRight {
				 	background-position: 0px -165px;
				}
			}
		}
	}
	.VideoEmbedThumb {
		float: right;
		width: 350px;
		p {
			padding-top: 5px;
			text-align: center;
		}
	}
	.VideoEmbedSizeRow p {
		clear: left;
		display: none;
		float: left;
		padding: 7px 0;
		margin-top: 8px;
		&.show {
			display: block;
		}
	}
	.VideoReplaceLink {
		float:left;
		padding-top: 20px;
	}
	.v-float-right {
		float: right;
	}
}

// Third screen - success message
.VideoEmbedSuccess {
	line-height: 2em;
	margin-bottom: 10px;
}

