body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
.loadingSpinner {
	/* @embed */
	background: url( 'loading_ani.gif');
	position: absolute;
	top: 50%; left: 50%;
	width:32px;
	height:32px;
	display:block;
	padding:0px;
	margin: -16px -16px;
}