@import 'skins/shared/color';
@import 'extensions/wikia/Venus/styles/mixins';
@import 'extensions/wikia/Venus/styles/typographyMixins';
@import 'extensions/wikia/Venus/styles/variables';

$recent-wiki-activity-background-color: mix($color-page, $color-page-opposite, 95%);

.recent-wiki-activity {
	@include grid-column-width('medium', 4, -2 * $medium-grid-column-padding);
	background-color: $recent-wiki-activity-background-color;
	clear: right;
	float: right;
	margin: 0 $medium-grid-column-padding + $medium-content-padding - $content-border-width 36px $medium-grid-gutter + $medium-grid-column-padding;
	padding: 0 20px;

	header {
		@include font-size-l;
		font-weight: bold;
		margin: 31px 0 25px;
	}

	ul {
		border-bottom: 1px solid $color-page-border;
		list-style: none;
		padding: 0 20px 10px;
		margin: 0 -20px;
	}

	li {
		@include font-size-xs;
		line-height: 18px;
		margin-bottom: 20px;
	}

	.recent-wiki-activity-link {
		font-weight: bold;

		&::after {
			content: '\A';
			white-space: pre;
		}
	}

	.more {
		@include font-size-xxs;
		display: block;
		float: right;
		font-weight: bold;
		margin: 17px 0;
		text-transform: uppercase;

		&::after {
			border: 5px solid transparent;
			border-left-color: $color-links;
			content: ' ';
			display: inline-block;
			height: 0;
			margin-left: 14px;
			width: 0;
		}
	}

	@media #{$small-only} {
		@include grid-column-width('small', 5);
		margin: 0 $small-content-padding - $content-border-width 16px $small-grid-gutter + $small-grid-column-padding;

		li {
			margin-bottom: 12px;
		}
	}

	@media #{$large-up} {
		@include grid-column-width('large', 4, -2 * $large-grid-column-padding);
		margin: 0 $large-grid-column-padding + $large-content-padding - $content-border-width 36px $large-grid-gutter + $large-grid-column-padding;

		header {
			margin: 40px 0 33px;
		}

		li {
			margin-bottom: 28px;
		}
	}
}
