.global-shortcuts-help {
	font-size: 14px;

	section {
		overflow: auto;
		.col {
			box-sizing: border-box;
			float: left;
			padding: 0 25px 0 0;
			width: 50%;

			&:nth-child(2n) {
				padding: 0 0 0 25px;
			}
		}
		.full-width {
			clear: both;
		}
	}
	
	footer {
		height: auto;
		padding: 10px 20px;
		position: static;
		text-align: right;

		.key {
			height: 25px;
			vertical-align: middle;
			margin: 0;
		}
	}

	h2 {
		border-bottom: 1px solid #cacaca;
		margin-bottom: 20px;
	}
	.key-list {
		list-style: none;
		overflow: hidden;
	}
	.key-combination {
		float: right;
		text-align: left;
		width: 50%;
		margin-bottom: 8px;
		line-height: 22px;

	}
	.key {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e0e0+100 */
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #ECECEC 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ffffff 0%,#ECECEC 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ffffff 0%,#ECECEC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ECECEC',GradientType=0 ); /* IE6-9 */
		margin: 0 5px 5px;
		border: 1px solid #cacaca;
		border-bottom-width: 2px;
		border-radius: 3px;
		display: inline-block;
		padding: 0 5px;
		text-align: center;
		width: 20px;
	}

	.label {
		clear: both;
		color: #545454;
		float: left;
		margin-bottom: 8px;
		padding-top: 6px;
		width: 50%;
	}
}

.global-shortcuts-help-entry-point {
	box-sizing: content-box;
	display: none;
	padding: 0;
	vertical-align: middle;
	width: 23px;
	background-image: url('/extensions/wikia/GlobalShortcuts/images/keyboard.svg')!important; /* inline */
	background-size: 29px!important;
	background-color: #fff!important;
	background-position: 50% -12px !important;
	border:1px solid #fff!important;
	&:hover {
		border-color: rgb(204, 204, 204)!important;
	}
}

.global-shortcuts-help-entry-point-throbber {
	display: inline-block;
	height: 23px;
	position: relative;
	vertical-align: middle;
	width: 25px;
}
