@CHARSET "UTF-8";

/* This is an example how to make a tag display in a special way
 * To use it, include this snippet in your user specific css stylesheet */
.mw-collabwatchlist-tag-marker {
	color: green;
}

.mw-collabwatchlist-tag-marker-4eyes {
	background: transparent url(images/feed-icon.png) no-repeat scroll left
		center;
	padding-left: 16px;
}