<section id="SeoCrosslinkModule" class="seo-crosslink-rail module">
	<h2>{{title}}</h2>
	<ul>
		{{#articles}}<li>
			<div class="title"><a href="{{pageUrl}}">{{pageTitle}}</a></div>
			<div class="title">{{wikiTitle}}</div>
		</li>{{/articles}}
	</ul>
</section>
