<section id="SeoCrossLinkModule" class="seo-cross-link-rail module" xmlns="http://www.w3.org/1999/html">
	<h2>{{title}}</h2>
	<ul>
		{{#articles}}<li>
			<div class="title"><a href="{{pageUrl}}">{{pageTitle}}</a></div>
			<div class="title">{{wikiTitle}}</div>
		</li>{{/articles}}
	</ul>
</section>
