@import 'skins/shared/color';

@mixin divider {
	border-top: 0;
	margin-top: 25px;
	text-align: center;

	> span {
		background-color: inherit;
		display: inline-block;
		padding: 0 21px;
		position: relative;
		top: -12px;
	}
}
