@import "skins/oasis/css/core/color";

@mixin submitpane {
	margin-top: 30px;

	p {
		color: $color-alternate-text;
		line-height: 18px;
		margin: 0 0 15px 0;
	}
	input[type=submit] {
		width: 100%;
	}
}