<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Christian Williams</string>
	<key>CFBundleDisplayName</key>
	<string>Sublime</string>
	<key>CFBundleIdentifier</key>
	<string>com.wikia.sublime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>toolbar.html</string>
				<key>Identifier</key>
				<string>editor</string>
				<key>Label</key>
				<string>Editor</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggleToolbar</string>
				<key>Identifier</key>
				<string>toggleToolbar</string>
				<key>Image</key>
				<string>w.png</string>
				<key>Label</key>
				<string>Edit</string>
				<key>Palette Label</key>
				<string>Edit</string>
				<key>Tool Tip</key>
				<string>Edit this page</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery.js</string>
				<string>editor.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Make the web, sublime!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.wikia.com</string>
</dict>
</plist>
