/* wikiEditor plugin */

/* This ID (#editform) could change in MediaWiki */
form#editform {
	margin: 0;
	padding: 0;
}
/* These IDs (#wpSummaryLabel and #wpSummary) could change in MediaWiki */
#wpSummary, #wpSummaryLabel {
	margin-bottom: 1em;
}
/* This ID (#wpTextbox1) could change in MediaWiki */
.wikiEditor-ui textarea#wpTextbox1 {
	border: none;
	padding: 0;
	width: 100%;
	margin: -1px;
	line-height: 1.5em;
}
.wikiEditor-ui .wikiEditor-ui-text > textarea#wpTextbox1 {
	margin: 0;
}
.wikiEditor-ui {
	float: left;
	position: relative;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	border: solid silver 1px;
}
body.rtl .wikiEditor-ui {
	float: right;
}
.wikiEditor-ui .wikiEditor-ui-bottom {
	
}
.wikiEditor-ui .wikiEditor-ui-text {
	line-height: 0;
}
.wikiEditor-ui .wikiEditor-ui-top {
	position: relative;
	border-bottom: solid silver 1px;
}
.wikiEditor-ui .wikiEditor-ui-left {
	float: left;
	width: 100%;
}
body.rtl .wikiEditor-ui .wikiEditor-ui-left {
	float: right;
}
.wikiEditor-ui .wikiEditor-ui-right {
	float: right;
	background: #F3F3F3;
	overflow: hidden;
}
body.rtl .wikiEditor-ui .wikiEditor-ui-right {
	float: left;
}
.wikiEditor-wikitext {
	float: left;
	width: 100%;
}
.wikiEditor-ui-controls {
	float: left;
	width: 100%;
	background-color: white;
	margin-top: -1px;
	border-bottom: solid 1px silver;
}
.wikiEditor-ui-tabs {
	float: left;
	height: 2.5em;
	margin-left: -1px;
	background-color: white;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
}
.wikiEditor-ui-buttons {
	float: right;
	height: 2.5em;
	margin-right: -1px;
	background-color: white;
	padding-left: 1em;
	border-top: solid 1px white;
}
.wikiEditor-ui-buttons button {
	margin-left: 0.5em;
}
.wikiEditor-ui-tabs div {
	float: left;
	height: 2.5em;
	background-color: #f3f3f3;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
}
.wikiEditor-ui-tabs div.current {
	border-bottom: solid 1px white;
	background-color: white;
}
.wikiEditor-ui-tabs div a {
	display: inline-block;
	padding: 0 0.75em;
	line-height: 2.5em;
	color: #0645AD;
}
.wikiEditor-ui-tabs div.current a {
	color: #333333;
}
.wikiEditor-ui-tabs div.current a:hover {
	text-decoration: none;
}

.wikiEditor-view-wikitext {
	line-height: 1em;
}
.wikiEditor-ui-loading {
	background: #f3f3f3;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	border: 1px solid silver;
	margin: -1px;
}
.wikiEditor-ui-loading span {
	display: block;
	height: 24px;
	width: 24px;
	background: url( ../images/wikiEditor/toolbar/loading.gif ) 0 0 no-repeat;
	text-indent: -9999px;
	margin: 0 auto;
}