/* CSS for wikiEditor preview plugin */

.wikiEditor-preview-loading {
	padding: 1em;
	background-color: white;
}
.wikiEditor-preview-loading span {
	color: #666666;
}
.wikiEditor-preview-spinner {
	padding-right: 1em;
}
.wikiEditor-preview-contents {
	padding: 1em;
	background-color: white;
}
