div#configholder {
	position: absolute;
	top: 22px;
	right: 0;
	z-index: 200;
	width: 180px;
	border: 1px solid silver;
	background-color: white;
	padding: 2px 5px 5px 5px;
	display: none;
}
div#configtoggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 199;
	height: 17px;
	border: 1px solid silver;
	background-color: white;
	padding: 2px 5px 2px 0px;
	cursor: pointer;
}
div#configtoggle a, div#configtoggle a:visited {
	background-image: url("arrow.png");
	background-position: 0px -3px;
	background-repeat: no-repeat;
	padding-left: 16px;
	outline: 0;
}

.fundraiserstats-view-box {
	border: solid 1px silver;
}
.fundraiserstats-view-box h3 {
	margin-top: 0;
	padding-top: 0;
}
.fundraiserstats-today {
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: black;
	margin-top: 3px;
	margin-left: -1px;
}
.fundraiserstats-bar {
	width: 2px;
}
.fundraiserstats-bar-2007 {
	background-color: #AAAAFF;
	border: outset 1px #AAAAFF;
}
.fundraiserstats-bar-2008 {
	background-color: #AAFFAA;
	border: outset 1px #AAFFAA;
}
.fundraiserstats-bar-2009 {
	background-color: #FFAAAA;
	border: outset 1px #FFAAAA;
}
.fundraiserstats-bar-2010 {
	background-color: #a0e8ff;
	border: outset 1px #a0e8ff;
}
.fundraiserstats-bar-2011 {
	background-color: #ffd617;
	border: outset 1px #ffd617;
}
.fundraiserstats-bar-space {
	width: 3px;
}
.fundraiserstats-chart {
	padding: 10px;
	border-left: solid 1px silver;
	border-right: solid 1px silver;
}
.fundraiserstats-chart-tabs {
	border-bottom: solid 1px silver;
	height: 24px;
}
.fundraiserstats-chart-tab-normal {
	padding-left: 6px;
	padding-right: 6px;
	border: solid 1px silver;
	float: left;
	line-height: 23px;
	height: 23px;
	margin-right: 6px;
	cursor: pointer;
	font-weight: bold;
}
.fundraiserstats-chart-tab-current {
	padding-left: 6px;
	padding-right: 6px;
	border: solid 1px silver;
	border-bottom-color: white;
	float: left;
	line-height: 23px;
	height: 23px;
	margin-right: 6px;
	cursor: pointer;
	font-weight: bold;
}
