.color1 {
	background: #BDD7FB;
}
.color1, .color1 a {
	color: #000;
}
.color2 {
	background: #EAF1FB;
}
.accent {
	background: #EAF1FB;
	border-color: #A9C5EB;
}
.neutral {
	background: #F5F5F5;
}
.dark_text_1 {
	color: #B22222;
}
.dark_text_2 {
	color: #7BA7E1;
}

/* @group category select */

/* synthesize .accent */
	#mw-normal-catlinks span a:link, 
	#mw-normal-catlinks span a:visited {
		background: #EAF1FB;
	}

	/* synthesize .color1 */
	#csAddCategorySwitch {
		border-color: #A9C5EB !important; /* using important to override inline styline */
	}
	#mw-normal-catlinks span a:hover, 
	#csAddCategorySwitch, 
	#csAddCategorySwitch a, 
	#CSitemOuterAddCategory {
		background: #BDD7FB !important; /* using important to override inline styline */
		color: #000;
	}
		
/* @end */

/* @group borders */

	#answers_ask input.header_field, 
	#tabAsk input.header_field, 
	#tabSearch input.header_field,
	#question_box,
	#catlinks {
		border-color: #EAF1FB /* .accent */
	}

	#searchform {
		border-color: #BDD7FB; /* .color1 */
	}

/* @end */
