@import 'skins/shared/color';

$color-popup-background: #1a5eb8;
$color-popup-text: #fff;

.community-page-message {
	background-color: $color-popup-background;
	height: 60px;
	position: relative;
	width: 100%;

	.text {
		color: $color-popup-text;
		font-size: 14px;
		line-height: 1.3;
		padding-left: 46px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.info-icon {
		background-color: $color-black;
		height: 24px;
		left: 12px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
	}

	.close-icon {
		background-color: $color-black;
		height: 24px;
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
	}
}
