@import 'skins/shared/color';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/flexbox';
@import 'variables';

// Styles for the contributors module in-page and modal version
.ContributorsModule {
	.avatar-container {
		display: inline-block;
		margin: 0 10px 0 0;
		vertical-align: middle;
	}

	.community-page-contributors-module-section {
		margin-top: 12px;

		&:first-of-type {
			margin-top: 0;
		}
	}

	.community-page-contributor-details {
		display: inline-block;
		line-height: 21px;
		vertical-align: middle;
		width: calc(100% - 50px);
	}

	.top-contributors, .top-admins {
		font-size: 14px;
		line-height: 20px;
	}

	.top-contributors {
		font-size: 14px;
		line-height: 20px;
	}

	.community-page-contributor {
		@include clearfix;
		padding-bottom: 10px;
	}

	.user-details {
		@include clearfix;
		border-bottom: 2px solid $color-page-border-subtle;
		margin-bottom: 13px;
		padding-bottom: 10px;

		> div {
			float: left;
		}

		small {
			font-size: 12px;
		}

		span {
			display: block;
			font-size: 16px;
			height: 20px;
			line-height: 20px;
			text-align: center;
		}

		.community-page-rank {
			margin-right: 28px;
		}

		.community-page-subtle {
			color: $color-alternate-text;
			font-size: 10px;
			line-height: 12px;
			text-transform: uppercase;
		}
	}

	.community-page-zero {
		margin: 12px 0;
	}

	&.ContributorsModuleModal {
		padding: 0 0 24px;

		> h2 {
			display: none;
		}

		.community-page-all-contributors-legend {
			color: $color-alternate-text;
			font-size: 13px;
			margin-top: 12px;
			padding-right: 30px;
			text-align: right;
		}

		.top-contributors {
			padding: 0 $modal-horizontal-padding;
		}

		.community-page-contributors-list-item {
			@include flexbox();
			@include align-items(center);

			border-bottom: 2px solid $color-page-border-subtle;
			padding: 15px 0;

			&:last-of-type {
				border: 0;
			}

			.avatar-container {
				@include flex(0 0 30px);
			}

			&.community-page-current-contributor {
				border-color: $color-page-border;
				font-weight: bold;
			}

			.community-page-details {
				text-align: right;
				white-space: nowrap;
			}
		}

		.user-details {
			background: $color-page-border-subtle;
			border: 0;
			margin: 0;
			padding: 15px $modal-horizontal-padding;
		}
	}
}
