@import 'skins/shared/color';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/colors';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/typography';
@import 'skins/shared/mixins/flexbox';

$small-icon-size: 18px;
$big-icon-size: 48px;
$help-module-margin: 12px;
$help-module-padding-bottom: 20px;
$policy-link-padding-top: 18px;
$policy-link-margin-top: 14px;

$help-module-link-line-height: 2;

.community-page-rail__help-module {
	padding-bottom: $help-module-padding-bottom;

	.community-page-module-section-title {
		@include flexbox();

		align-items: center;

		svg {
			fill: $color-alternate-text;
			height: $big-icon-size;
			width: $big-icon-size;
		}
	}

	.community-page-policy-link {
		@include flexbox();

		align-items: center;
		border-top: 1px solid $color-page-border;
		font-size: $typescale-size-minus-1;
		line-height: 1;
		margin-top: $policy-link-margin-top;
		padding-top: $policy-link-padding-top;

		svg {
			fill: $color-links;
			height: $small-icon-size;
			width: $small-icon-size;
		}
	}
}

.community-page-rail__help-module-policy-title {
	margin-left: $help-module-margin;
}

.community-page-rail__help-module-title {
	margin-left: $help-module-margin;
}

.community-page-rail__help-module-links {
	line-height: $help-module-link-line-height;
}
