@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';
@import 'skins/shared/mixins/flexbox';

$item-icon-size: 34px;
$item-icon-margin-right: 10px;
$item-data-width: calc(86% - #{$item-icon-size + $item-icon-margin-right});
$item-link-width: 14%;

.community-page-insights-module {
	margin-bottom: 34px;

	.community-page-insights-module-header {
		float: left;
		font-size: 24px;
		font-weight: bold;
		line-height: 28px;
		margin: 0 0 12px;
	}

	.community-page-insights-module-description {
		clear: both;
	}

	.community-page-insights-module-list {
		list-style: none;
		margin: 0;
	}

	.community-page-insights-module-list-item {
		@include flexbox();

		border-bottom: 1px solid $color-page-border-subtle;
		align-items: center;
		padding: 20px;
	}

	.community-page-insights-module-edit-icon {
		background: $color-text url('/extensions/wikia/CommunityPage/images/edit-pen.svg') 50% 45%/45% 45% no-repeat;
		border-radius: 50%;
		height: $item-icon-size;
		margin-right: $item-icon-margin-right;
		width: $item-icon-size;
	}

	.community-page-insights-module-article-data {
		width: $item-data-width;
	}

	.community-page-insights-module-metadata {
		color: $color-alternate-text;
		font-size: 12px;

		.communitypage-user-link {
			display: inline-block;
			max-width: 140px;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: bottom;
			white-space: nowrap;
		}
	}

	.community-page-insights-module-edit-link {
		text-align: right;
		width: $item-link-width;
	}
}

@media #{$breakpoint-below-small-plus} {
	.community-page-insights-module {
		margin: 0 34px 34px;
	}
}
