@import 'variables';
@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';
@import 'variables';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/typography';

$card-background-color: mix($color-page, #fff, 91%);
$card-footer-size: 48px;

.community-page-insights-module {
	@include flexbox();
	@include flex-direction(column);

	background-color: $card-background-color;
	box-sizing: border-box;
	border: 1px solid $color-page-border-subtle;
	color: $color-button-text;
	margin-bottom: $content-spacing-regular;
	margin-right: $content-spacing-small;
	width: $community-page-card-module-width-regular;

	.community-page-insights-module-article-data {
		@include trim-to-line-number(2);

		color: $color-links;
		word-break: break-all;
	}

	.community-page-insights-module-footer {
		@include flexbox();
	}

	.community-page-insights-module-full-list-link {
		@include flex-grow(1);

		color: $color-buttons;
		display: block;
		font-size: $typescale-size-minus-2;
		font-weight: bold;
		line-height: $typescale-size-plus-6;
		margin-right: $content-spacing-large;
		text-align: right;
		text-transform: uppercase;
	}

	.community-page-insights-module-header {
		@include align-items(center);
		@include flexbox();

		background: $color-buttons;
		color: $color-button-text;
		margin: 0 0 $content-spacing-large;
		padding: $content-spacing-regular;

		span {
			font-size: $typescale-size-minus-1;
			font-weight: bold;
			line-height: $typescale-size-base;
			text-transform: uppercase;
		}
	}

	.community-page-insights-module-header-icon {
		fill: $color-buttons;
		margin-right: $content-spacing-small;
	}

	.community-page-insights-module-help {
		height: $card-footer-size;
		width: $card-footer-size;
	}

	.community-page-insights-module-help-icon {
		fill: $color-page-border-subtle;
		margin: $content-spacing-small-plus $content-spacing-small;
	}

	.community-page-insights-module-list {
		@include flex-grow(1);

		font-size: $typescale-size-base;
		padding: 0 $content-spacing-regular;
	}

	.community-page-insights-module-list-item {
		@include align-items(center);
		@include flexbox();

		margin-bottom: $content-spacing-large;
	}
}

@media #{$breakpoint-medium-up} {
	.community-page-insights-module {
		margin-right: $content-spacing-regular;
	}
}

@media #{$breakpoint-small-plus} {
	.community-page-insights-module {
		margin-right: $content-spacing-xsmall;
	}
}

@media #{$breakpoint-below-small-plus} {
	.community-page-insights-module {
		width: $community-page-card-module-width-small;
	}
}
