@import 'skins/shared/color';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/flexbox';
@import 'variables';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/base/typography';

// Styles for the moderators module in-page
.moderators-module {
	.avatar-container {
		display: inline-block;
		margin-right: 6px;
		vertical-align: middle;
	}

	.community-page-moderators-module-section {
		margin-top: 12px;

		&:first-of-type {
			margin-top: 0;
		}

		.top-moderators {
			margin-left: 0;
		}
	}

	.community-page-moderator-details {
		vertical-align: middle;
	}

	.community-page-moderators-list-item {
		@include flexbox();
		@include align-items(flex-start);

		padding: 12px 0 0;

		&:first-of-type {
			padding: 0;
		}

		.avatar-container {
			@include flex($avatar-flex);
		}

		.community-page-moderator-rank {
			padding: 6px 6px 0 0;
		}

		.community-page-moderator-details {
			padding-top: 6px;
			word-break: break-all;
		}
	}

	.community-page-zero {
		margin: 12px 0;
	}
}
