@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';

.WikiaRail .module {

	h2 {
		clear: both;
		margin-bottom: 12px;
		padding: 0;
	}

	.community-page-subtle {
		color: $color-alternate-text;
		display: block;
		font-size: 12px;
	}

	@media #{$breakpoint-below-small-plus} {
		max-width: 330px;
		vertical-align: top;

		&:nth-child(odd) {
			margin-right: 30px;
		}
	}
}
