@import 'skins/shared/color';
@import 'variables';

.CommunityPageModalDialog.modal {
	height: 75%;

	> header {
		background-color: transparent;
		border-bottom: 1px solid $color-page-border-subtle;
		height: auto;
		padding: $modal-top-padding $modal-horizontal-padding $modal-bottom-padding;
	}

	> footer {
		display: none;
	}

	.modal-nav {
		padding: $modal-top-padding $modal-horizontal-padding 0 0;

		li {
			display: inline-block;
			font-size: 14px;
			padding: 0 31px 18px 0;
		}

		a {
			color: $color-alternate-text;
			padding-bottom: 10px;

			&.active {
				color: $color-links;
				border-bottom: 2px solid $color-links;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}

	.community-page-subtle {
		color: $color-alternate-text;
		display: block;
		font-size: 12px;
	}

	.community-page-details {
		color: $color-alternate-text;
		font-size: 12px;
		float: right;
	}

	.throbber-placeholder {
		height: 100px;
		position: relative;
	}
}
