@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';
@import 'variables';

.WikiaRail .module {
	font-size: 14px;
	line-height: $module-default-line-height;

	h2 {
		line-height: $module-default-line-height;
		margin-bottom: 12px;
		padding: 0;
	}

	.community-page-subtle {
		color: $color-alternate-text;
		display: block;
		font-size: 12px;
	}
}

@media #{$breakpoint-below-small-plus} {
	.WikiaRail {
		-moz-column-count: 2;
		column-count: 2;

		.module {
			margin: 12px 8px;
			width: 330px;
			vertical-align: top;
		}
	}
}
