.CommunityPageModalDialog.modal {
	> header {
		background-color: transparent;
		height: auto;
		padding: 18px $modal-horizontal-padding;
	}

	> footer {
		display: none;
	}

	.modal-nav {
		padding: 0 $modal-horizontal-padding 8px;

		li {
			display: inline-block;
			font-size: 14px;
			padding: 0 31px 18px 0;
		}

		a {
			color: $color-alternate-text;
			padding-bottom: 10px;

			&.active {
				color: $color-links;
				border-bottom: 2px solid $color-links;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}

	.community-page-subtle {
		color: $color-alternate-text;
		display: block;
		font-size: 12px;
	}

	.community-page-details {
		color: $color-module-subtle-text;
		font-size: 12px;
		float: right;
	}

	.throbber-placeholder {
		height: 100px;
		position: relative;
	}
}
