@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/transform';

.RecentActivityModule {
	.avatar-container {
		float: left;
		margin-right: 10px;
	}

	.recent-changes {
		li {
			@include clearfix;
			padding-bottom: 10px;
		}

		.avatar-container {
			@include transform-translate(0, 3px);
		}
	}

	.recent-changes {
		font-size: 14px;
		line-height: 20px;
	}

	.more-activity {
		font-family: $community-page-font-family;
		font-size: 14px;
		color: $color-message-background;
	}
}
