@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/transform';

.RecentActivityModule {
	.avatar-container {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}

	.change-message {
		display: inline-block;
		line-height: 21px;
		vertical-align: middle;
		width: calc(100% - 50px);
	}

	.recent-changes {
		font-size: 14px;
		line-height: 20px;

		li {
			@include clearfix;
			padding-bottom: 10px;
		}
	}

	.more-activity {
		font-family: $community-page-font-family;
		font-size: 14px;
		color: $color-message-background;
	}
}
