// fonts
$community-page-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;

// Contributor module
$contributor-module-default-line-height: 20px;
$avatar-size: 30px;
$avatar-flex: 0 0 $avatar-size;
$avatar-margin: 0 10px 0 0;

// other
$modal-horizontal-padding: 25px;
$modal-top-padding: 18px;
$modal-bottom-padding: 6px;
