// colors
$color-community-page-white: #fff;
$color-community-page-gray: #eee;
$color-community-page-light-gray: #e6e6e6;
$color-community-page-dark-gray: #ccc;
$color-community-page-admin-text: #808080;

$color-activity-background: #f6f6f6;
$color-activity-text: #383838;
$color-message-background: #1a5eb8;
$color-popup-text: #fff;

$color-rank-subtle-text: #999;
$color-top-contribs-subtle-text: #9da4a9;

// fonts
$community-page-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
