@import 'skins/shared/color';

// colors
$color-community-page-admin-text: #808080;

$color-activity-background: #f6f6f6;
$color-message-background: #1a5eb8;

$color-popup-text: #fff;

// fonts
$community-page-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;

// other
$modal-horizontal-padding: 25px;
