.feed {
}

.feed .feed-item {
	border: solid 1px #ddd;
	background-color: #fafafa;
	margin: 20px 10px;
	padding: 16px;
}

.feed .feed-item .feed-title {
	font-size: 150%;
	font-weight: bold;
}

.feed .feed-item .feed-byline {
	font-size: 120%;
	color: #aaa;
}

