@import "../WikiaMobile/css/variables.scss";

#wkContactForm {
	border-top: 1px solid $border-color;
	padding-top: 15px;

	.inpErr {
		background-color: $error-bg-color;
	}
}

#wgCC {
	width: auto;
	height: auto;

	& + label {
		display: inline-block;
		margin-left: 10px;
	}
}

#wpConctactDesc{
	height: 150px;
}

input[type=file]{
	padding: 5px;
	height: auto;
}

.captcha {
	margin-top: 10px;

	color: $page-text-alternate-color;

	img {
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		height: auto;

		-webkit-transition: min-width .5s ease-out;
		-webkit-transform: translateZ(0);

		&.large {
			min-width: 100%;
		}
	}
}

.filesUpload {
	label {
		margin-top: 10px;
	}
}

.errMessages {
	padding: 10px 0;
	color: darken($error-bg-color, 30%);

	border-top: 1px solid $border-color;
}

.filesUpload + input {
	margin-top: 20px;
}

.notValidEmail {
	text-decoration: line-through;
	font-style: italic;
}