@import "skins/oasis/css/core/color";
@import "skins/oasis/css/core/layout";

.errorbox, .successbox {
font-size: larger;
border: 2px solid;
padding: .5em 1em;
float: left;
margin-bottom: 2em;
color: #000;
}
.errorbox {
border-color: red;
background-color: #fff2f2;
}
.successbox {
border-color: green;
background-color: #dfd;
}
.errorbox h2, .successbox h2 {
font-size: 1em;
font-weight: bold;
display: inline;
margin: 0 .5em 0 0;
border: none;
}

div.contactCaptch {
	float:left;
	width:200px;
}

img.contactCaptch {
	background-color:#EEEEEE;
	border:1px solid #AAAAAA;
	height:50px;
	margin-left:6px;
	padding:4px;
}

#contactform {
	label {
		font-weight:bold;
	}
	input.error, textarea.error {
		border-color:$color-error;
		border-style:solid;	
	}	

	textarea {
		display: block;
		width: 100%;
		height: 15em;
	}
	.additionalScreenShot {
		display: none;
	}
}

.errorbox{
	width: 520px;
}

.special-contact-picker {
	width: 675px;
}

@if ( $responsive-layout-enabled ) {
	.special-contact-picker {
		width: 100%;
	}
}

#picker_grid td {
	vertical-align: top;
	padding: 1em;
}
