body {
	background: #F5F5F5;
	color: #000;
}
.accent {
	background-color: #dcffdc;
	border-color: #AAA;
	color: #333;
}
#header {
	background: #FFF;
	border-bottom: 1px solid #AAA;
}
#progress li {
	color: #AAA;
}
#progress li.selected {
	background: #228b22;
	color: #FFF;
}
h1.headline {
	background: #228b22;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(0,0,0,0.06)), color-stop(0.33, rgba(0,0,0,0)), color-stop(0.42, rgba(0,0,0,0)), color-stop(1.0, rgba(0,0,0,0.1)));	
	color: #FFF;
}
.wrapper {
	background-color: #FFF;
	border-color: #AAA;
}
.nav {
	color: #000;
}
.nav a {
	color: #00F;
}
