#overviewmap {
	border: 1px solid #2F6FAB;
	padding: 2px;
	min-width: 300px;
}
#overviewpop {
	padding: 3px;
	border: 1px solid black;
	position: absolute;
	height: 6.5em;
	width: 16em;
	display: none;
	background-color: #ffffdd;
	font-size: 80%;
	line-height: 100%;
	overflow: hidden;
	white-space: pre;
}
#overviewmap > a {
	display: block;
	border: 1px solid #888;
	float: left;
	width: 26px; /* 26px for body + 2px for border + 2px for margin = 30px total */
	height: 26px;
	margin: 1px;
	overflow: hidden;
}
#overviewmap > a:target {
	border-style: dashed;
}
#overviewmap .summary {
	clear: both;
}

table.TablePager tr:target {
	font-weight: bold;
}

.overview-backlink {
	clear:both;
	display: none;
}

tr:target .overview-backlink {
	display: inline;
}