@import 'skins/oasis/css/core/breakpoints-variables';
@import 'extensions/wikia/GlobalNavigation/styles/GlobalNavigationVariables.scss';

$negative-top-margin: 1px;

.mw-special-InfoboxBuilder {
	padding: 0;

	// remove 1px space between global header and infobox builder UI
	.WikiaPage {
		margin-top: -$negative-top-margin;

	}
}

.WikiaPage {
	border: none;
	.InfoboxBuilder {
		display: block;
		height: calc(100vh - #{$global-navigation-negative-top-margin} + #{$negative-top-margin});
	}
	.WikiaPageBackground {
		height: 99%;
	}
}

@media #{$breakpoint-small-only} {
	.WikiaPage, .InfoboxBuilder {
		padding: 0;
		width:  $page-width-small;
	}
}

@media #{$breakpoint-medium-only} {
	.WikiaPage, .InfoboxBuilder {
		padding: 0;
		width: $content-width-medium;
	}
}

@media #{$breakpoint-large-up} {
	.WikiaPage, .InfoboxBuilder {
		padding: 0;
		width: $content-width-large;
	}
}
