@import '../../../../skins/oasis/css/core/color';
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/gradient";

/* Colors */
$gaming-calendar-item: mix($color-page, #000, 95%);
@if lightness($color-page) < 50 {
	$gaming-calendar-item: transparent;
}
$gaming-calendar-item-hover: mix($color-page, #000, 98%);
@if lightness($color-page) < 50 {
	$gaming-calendar-item-hover: mix($color-page, #FFF, 90%);
}
$gaming-calendar-item-selected: $color-page;
@if lightness($color-page) < 50 {
	$gaming-calendar-item-selected: mix($color-page, #FFF, 85%);
}
$gaming-calendar-scroll-button: mix($color-page, #000, 95%);
@if lightness($color-page) < 50 {
	$gaming-calendar-scroll-button: mix($color-page, #FFF, 85%);
}
$gaming-calendar-scroll-button-hover: mix($color-page, #000, 97%);
@if lightness($color-page) < 50 {
	$gaming-calendar-scroll-button-hover: mix($color-page, #FFF, 83%);
}
$gaming-calendar-week-header: mix($color-page, #000, 95%);
@if lightness($color-page) < 50 {
	$gaming-calendar-week-header: mix($color-page, #FFF, 85%);
}

$gaming-calendar-gray-text: mix($color-text, $color-page, 75%);

#GamingCalendarWrapper {
	background-image: url(/extensions/wikia/GamingCalendar/images/gaming-calendar-modal-sprite.png); /* $wgCdnStylePath */
	background-repeat: repeat-x;
	background-position: 0 -172px;

	>h1 {
		text-shadow: $color-page-border 1px 1px 1px;
		text-transform: uppercase;
		font-size: 19px;
		font-weight: bold;
		overflow: hidden;
		height: 37px;
		line-height: 37px;
		position: relative;
		margin: 0 0 12px 0;
		.date {
			display: block;
			float: right;
			font-size: 12px;
			font-weight: normal;
			margin: 0 12px 0 0;
			text-transform: none;
		}
		.title-wrapper {
			@include linear-gradient(transparent, top, $color-page, 1%, $gaming-calendar-week-header, 100%);
			display: inline-block;
			height: 37px;
			margin: 0;
			padding: 0 30px 0 0;
			.gradient-wrapper {
				background: transparent url(/extensions/wikia/GamingCalendar/images/gaming-calendar-modal-sprite.png); /* $wgCdnStylePath */
				background-position: 20px -96px;
				background-repeat: no-repeat;
				display: inline-block;
				height: 37px;
				margin: 2px 0 0 0;
				padding: 0 0 0 137px;
				@if lightness($color-page) < 50 {
					background-position: 20px -132px;
					text-shadow: $color-page-border 1px 1px 1px;
				}
			}
		}
	}

	>button.close {
		margin: 8px 12px 0 0;
	}

	.weeks {
		border: 1px solid $color-page-border;
		height: 509px;
		overflow: hidden;
		>ul {
			width: 580px;
			height: 509px;
			position: relative;
			overflow: hidden;
		}
	}
	.week {
		position: absolute;
		border-right: 1px solid $color-page-border;
		top: 0;
		left: -290px;
		height: 506px;
		width: 290px;
		h1 {
			background: $gaming-calendar-week-header;
			margin-bottom: 7px;
			text-align: center;
			font-size: 16px;
			span {
				color: $color-links;
				font-weight: bold;
			}
			sup {
				vertical-align: super;
			}
		}

		.list {
			height: 420px;
			margin: 0 3px;
			overflow: hidden;
			position: relative;

			ul {
				position: absolute;
				width: 284px;
			}
			li {
				border-bottom: 1px solid $color-page-border;
				padding: 3px 0;
				.game-more-info {
					margin-right: 15px;
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}

	.scroll-up {
		background: $gaming-calendar-scroll-button;
		border: 1px solid $color-page-border;
		cursor: pointer;
		height: 20px;
		margin: 0 3px 3px 3px;
		text-align: center;
		img {
			border-color: transparent transparent $gaming-calendar-gray-text;
			border-style: solid;
			border-width: 5px;
			position: relative;
			top: -3px;
		}
		&:hover {
			background: $gaming-calendar-scroll-button-hover;
			img {
				border-color: transparent transparent $color-links;
			}
		}
	}
	.scroll-down {
		@extend .scroll-up;
		margin-top: 3px;
		img {
			border-color: $gaming-calendar-gray-text transparent transparent;
			top: 3px;
		}
		&:hover {
			img {
				border-color: $color-links transparent transparent;
			}
		}
	}

	.controls {
	    font-weight: bold;
	    font-size: 10px;
	    margin: 10px 0;
	    text-align: center;

	    .back-week {
				float: left;
	    }

	    .forward-week {
				float: right;
	    }
	}


	/* Specific styles and interactions for the modal version of GamingCalendarItems. */
	.GamingCalendarItem {
		background: $gaming-calendar-item;
		&.unselected {
			cursor: pointer;
			&:hover {
				background: $gaming-calendar-item-hover;
			}
			.calendar {
				border: 0;
				height: auto;
				.month {
					background: transparent;
					color: $color-links;
					border: 0;
					display: inline;
				}
				.day {
					background: transparent;
					display: inline;
					font-size: 11px;
				}
			}
			.game-title, .game-subtitle, .game-systems, .game-rating {
				margin-left: 75px;
			}
			.game-details, img {
				display: none;
			}
		}

		&.selected {
			background: $gaming-calendar-item-selected;
		}
	}
}
