@import "skins/oasis/css/core/color.scss";
@import "skins/oasis/css/mixins/clearfix.scss";

.css-editor {
	float: left;
	width: 664px;
	.css-editor-textarea {
		width: 100%;
		min-height: 400px;
	}
}
.css-side-bar {
	float: right;
	width: 330px;
	.widget-box {
		border: 1px solid $color-page-border;
		margin-bottom: 10px;
	}
	.community-updates {
		margin: 10px 0;
		overflow: hidden;
		padding-bottom: 15px;
		h2 {
			border-bottom: 1px solid $color-page-border;
			color: $color-links;
			margin: 0;
			padding: 15px;
		}
		blockquote {
			margin: 0;
		}
		.avatar {
			float: left;
			margin: 0 15px 15px 0;
		}
	}
	.community-updates-list {
		border-bottom: 1px solid $color-page-border;
		height: 440px;
		list-style: none;
		margin: 0;
		margin-bottom: 15px;
		overflow-y: scroll;
		padding: 0;
	}

	.community-update-item {
		border-bottom: 1px solid $color-page-border;
		margin: 0;
		padding: 15px;
		h4 {
			font-size: 13px;
			font-weight: bold;
			line-height: 13px;
			margin: 0;
		}
		span {
			@include clearfix;
			color: $color-alternate-text;
			font-size: 11px;
		}
		& > a {
			font-size: 11px;
		}
		& > a:after {
			background-image: none;
			color: $color-links;
			content: '>';
			display: inline;
			position: relative;
			right: -3px;
			top: -3px;
		}
		&:last-child {
			border: none;
		}
	}
	.see-all-link {
		display: inline-block;
		float: right;
		padding-right: 20px;
		text-align: right;
		&:after {
			color: $color-links;
			content: '>';
			display: inline;
			position: relative;
			right: -3px;
			top: -1px;
		}
	}
	.education-links {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 15px;
		}
		h2 {
			border: none;
			margin-top: 0;
		}
		strong {
			display: block;
		}
	}
}
.css-footer {
	clear: both;
	margin: 0 0 10px 0;
}


