Source: php5-fss
Section: web
Priority: optional
Maintainer: Brion Vibber <brion@wikimedia.org>
Build-Depends: debhelper (>= 5), php5-dev
Standards-Version: 3.7.2

Package: php5-fss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php5-common
Description: FastStringSearch extension used for MediaWiki
 FastStringSearch extension used for MediaWiki
