@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/gradient";

.user-interview-container, {
	border-collapse: collapse;

	margin: {
		left: 5px;
		right: 5px;
	}
	width: 90%;
	
	
	th {
		width: 10px;
		text-align: right;
		padding-right: 10px;
	}
	
	td {
		margin-left: 8px;
		padding-right: 10px;
	}
	
	
	tr {
		&:first-child {
			display: none;
		}
		
		th, td {
			padding: {
				top: 4px;
			}
			vertical-align: top;
		}
		
		.remove {
			display: inline-block;
			float: left;
			height: 16px;
			margin: {
				top: 0px;
				left: 3px;
			}
			width: 16px;
			visibility: hidden;
		}
				
		&:hover {
			td, th {
				background-color: $color-page-border;
				 @include border-radius(2px);
				 
				 .remove {
					 visibility: visible;
				}
				
				
			}
			
			&.submit-column {
				td, th {
					background-color: transparent;
				}
			}
		}	
	}
	
	input {
		color: $color-text;
		margin-left: 5px;
		width: 70%;
	}
	
	textarea {
		@extend input;

		font: {
			family: Helvetica, Arial, Sans-Serif;
			size: 14px;
		}
		
		line-height: 18px;
		
		&[name=fb-interests] {
			height: 100px;
			width: 98%;
		}
	}
	
	input[type=submit] {
		color: #ffffff;
		width: auto;
	}
}