@import "skins/oasis/css/mixins/gradient";

/**
 * Applies the label "overlay" styles to an element. Overflowing text will be hidden with
 * an ellipsis applied to the end.
 *
 * @param {color} $text-color The color of the text
 * @param {color} $text-shadow-color The color of the text shadow
 * @param {color} $background-color The color for the label background
 * @param {boolean} $icon Does the label have an icon? (shorthand for @include ve-label-icon)
 */
@mixin ve-label (
	$text-color: #fff,
	$text-shadow-color: #000,
	$background-color: rgba(0,0,0,0.5),
	$icon: false
) {
	@include linear-gradient( transparent, top, transparent, 0, $background-color, 100% );
	bottom: 0;
	color: $text-color;
	left: 0;
	line-height: 1.4em;
	overflow: hidden;
	padding: 0.5em;
	position: absolute;
	right: 0;
	text-align: left;
	text-overflow: ellipsis;
	text-shadow: $text-shadow-color 0px 1px 8px;
	white-space: nowrap;

	@if $icon {
		@include ve-label-icon;
	}
}

/**
 * Applies the styles to show an icon in the left corner of the label.
 */
@mixin ve-label-icon {
	&:before {
		background-position: 7px 50%;
		background-repeat: no-repeat;
		content: '';
	}
}

/**
 * Displays a photo icon.
 */
@mixin ve-label-icon-photo {
	&:before {
		background-image: url(/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/photo.svg); /* $wgCdnStylePath */
		padding-left: 29px;
	}
}

/**
 * Displays a video icon.
 */
@mixin ve-label-icon-video {
	&:before {
		background-image: url(/extensions/VisualEditor/wikia/modules/ve/ui/styles/images/icons/video.svg); /* $wgCdnStylePath */
		padding-left: 22px;
	}
}
