#customize-sidebar {
  min-height: 300px;
  width: 300px;
  padding: 0 10px;
  border-left: 1px solid #AAAAAA;
  position:absolute;
  right:0px;
  top:0px;
  margin-left: 5px;
  margin-top: 7px;
}

#customize-sidebar h2.first {
  margin-top: 0px;
}

.customize-section {
  padding-right: 320px;
  margin-bottom: 20px;
  position: relative;
}

.save-title-button {
  position: absolute;
  top: 5px;
  right: 325px;
}

ul.custom-badges {
  /*width: 450px;*/
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 10px 0 25px 10px;
  padding: 0 0 0 0;
}

ul.custom-badges li {
  height: 190px;
  padding-bottom: 10px;
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 15px;
}

ul.custom-badges li.last {
  border-bottom: 0px solid #AAAAAA;
}

ul.custom-badges li p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 14px;
}

ul.custom-badges li p.input {
  margin: 20px 0 10px 0;
  padding: 0 0 0 0;
}

ul.custom-badges li input {
  padding: 2px;
  font-size: 15px;
  width: 220px;
  color: #666;
}

ul.custom-badges li div.content-form {
  float: right;
  width: 230px;
  text-align: right;
}

ul.custom-badges li div.image-form {
  width: 170px;
  text-align: left;
}

ul.custom-badges li div.image-form form {
	margin-left: 0px;
}

ul.custom-badges li div.image-form img {
}

ul.custom-badges li div.image-form p {
  margin-bottom: 5px;
}

ul.custom-badges li div.image-form button {
	display: block;
	margin: 10px 0;
}

ul.custom-badges li .image-form p span.custom-text {
  font-size: 12px;
  font-weight: 600;
}

ul.custom-badges li .image-form p {
  margin: 0 0 5px 0 !important;
}

.customize-edit-plus-category input,
.customize-edit-plus-category textarea {
	margin-bottom:10px;
	width:100%;
}

.customize-edit-plus-category button {
	float: right;
}

.customize-edit-plus-category label {
	display: block;
	font-weight: bold;
}

span.enabled-flag {
	margin-right: 5px;
	position: relative;
	top: 2px;
}

span.enabled-flag label {
	font-weight: bold;
	position: relative;
	top:-2px;
}

form.save-all {
	display:inline;
}

.customize-section h2 {
	padding-right:200px;
}
