h1#acheivements-title {
  border-bottom: 0px;
  margin-left:20px;
}

#about-achievements {
  padding: 5px;
  margin-bottom: 15px;
}

#about-achievements p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 13px;
}

ul#leaderboard {
  float: left;
  width: 390px;
  margin-right: 5px;
}

ul#leaderboard li {
  float: left;
  width: 100px;
  height: 120px;
  padding: 5px !important;
  overflow: hidden;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 15px !important;
}
#leaderboard li {
	position: relative;
}
#leaderboard li a {
	top: 5px;
	left: 5px;
	position: absolute;
}
#leaderboard li a:hover {
	text-decoration:none;
}
div.rel-lb-wrapper {
  position: relative;
  background-repeat: no-repeat;
  width: 100px;
  height: 125px;
}

div.rel-lb-wrapper div.user-rank {
  position: absolute;
  left: 70px;
  top: 3px;
  background-image: url(../images/leaderboard-cicrle.png);
  background-repeat: no-repeat;
  height: 22px;
  width: 28px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-top: 6px;
}

div.rel-lb-wrapper div.bottom-marquee {
  background-image: url(../images/semi-trans.png);
  height: 30px;
  width: 94px;
  padding: 2px 3px;
  color: #fff;
  position: absolute;
  top: 86px;
  text-align: center;
}

div.rel-lb-wrapper div.bottom-marquee p {
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div.rel-lb-wrapper div.bottom-marquee p.points {
  margin-top: -3px;
  font-size: 16px;
}

#leaderboard-sidebar {
  min-height: 300px;
  width: 300px;
  padding: 0 5px;
  float: left;
  margin-left: 5px;
  margin-top: 7px;
}

#leaderboard-sidebar h2.first {
  margin-top: 0px;
}

#leaderboard-sidebar .recent-badges {
  margin-left: 5px;
  list-style-type:none;
  list-style-image:none;
}


#leaderboard-sidebar .recent-badges li {
  height: 50px;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  font-size: 12px;
  line-height: 1.2em;
  position: relative;
}

#leaderboard-sidebar .recent-badges li a {
  font-weight: bold;
  font-size: 14px;
}

#leaderboard-sidebar .recent-badges li > img {
  float: left;
  margin-right: 10px;
  position: absolute;
}

#leaderboard-sidebar .badge-text {
  width: 245px;
}

#leaderboard-sidebar .recent-badges p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 11px;
}

#leaderboard-sidebar .badge-title {
  font-weight: bold;
  margin-top: 2px;
}
