<ul class="toc{{#class}} {{class}}{{/class}}" {{#id}}id="{{id}}"{{/id}}>
	{{#sections}}
		<li {{#active}}class="active"{{/active}}>
			<a href="#{{id}}" title={{title}}>{{title}}</a>
		</li>
	{{/sections}}
</ul>
