/* positioning for first run notice */
#editform {
	position: relative;
}

/* hide MW textarea */
#wpTextbox1 {
	visibility: hidden;
}
/* hide edit tools in wysiwyg mode */
.rte_wysiwyg .mw-editTools {
	display: none;
}

/* loading indicator */
.RTEloading #cke_contents_wpTextbox1 {
	background: #ddd url(http://images.wikia.com/common/skins/common/images/ajax.gif) no-repeat 50% 50% !important;
	overflow: hidden;
	position: relative;
}

/* hide textarea */
.RTEloading .cke_contents iframe {
	/* RT #56006 */
	display: none;
}

.RTEloading .cke_contents textarea {
	position: absolute !important;
	left: -10000px;
}

.RTEloading.rte_wysiwyg #cke_toolbar,
.RTEloading.rte_source #mw-toolbar {
	visibility: hidden !important;
}

.RTEloading.rte_wysiwyg #cke_toolbar .cke_button_source {
	visibility: visible;
}

/* RT #37254 / #37260 */
.cke_browser_ie #cke_contents_wpTextbox1 {
	position: static !important;
}

/* hide stuff */
#mw-anon-edit-warning,
#toolbar {
	display: none;
}

/* MW suggest */
.cke_dialog_body .os-suggest {
	background-color: window;
	border: 1px solid #aaa;
	left: 0 !important;
	top: 17px !important;
	z-index: 20000;
}

.cke_dialog_body .os-suggest-results {
	width: 500px !important;
}

.cke_dialog_body .os-suggest-result-hl,
.cke_dialog_body .os-suggest-result-hl span {
	background-color: highlight !important;
	color: highlighttext !important;
}

/* jQuery "alerts" and "confirms" */
.RTEModal p {
	font-size: 0.9em;
	line-height: 1.4em;
	padding: 8px 5px;
}

.RTEModal .RTEConfirmButtons {
	border-top-style: solid;
	border-top-width: 1px;
	padding: 5px;
	text-align: right;
}

.RTEModal .RTEConfirmButtons a {
	margin: 0 0 0 4px;
}

/* div for placeholder previews / image menus */
#RTEStuff {
	color: #000;
	position: absolute;
	z-index: 100;
}

/* hide placeholder preview / image menu in source mode */
.rte_source #RTEStuff div {
	display: none;
}

/* image previews */
#RTEMediaOverlays {
	left: 11px;
	position: absolute;
}

.RTEMediaOverlay {
	display: none;
	position: absolute;
}

.RTEMediaMenu {
	display: none;
	font-size: 11px;
	height: 14px;
	opacity: 0.9;
	padding: 4px;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
}

.RTEMediaMenu span {
	cursor: pointer;
	padding: 0 3px;
}

.RTEMediaCaption {
	background: #f9f9f9;
	border: solid 1px #ccc;
	border-top: none;
	display: none;
	font-size: 11px;
	left: 0;
	line-height: 16px;
	padding: 3px;
	position: relative;
}

/* template previews */
#RTEPlaceholderPreviews {
	left: 11px;
	position: absolute;
}

.RTEPlaceholderPreview {
	background: transparent url('../images/templatePreviewBg.png') no-repeat -519px 0;
	display: none;
	font-size: 12px;
	padding-top: 9px;
	position: absolute;
}

.RTEPlaceholderPreviewLoading .RTEPlaceholderPreviewInner {
	background: #fff url(http://images.wikia.com/common/skins/common/images/ajax.gif) no-repeat 50% 50%;
	height: 30px;
}

.RTEPlaceholderPreviewInner {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	border-top: none;
	padding: 2px;
	width: 350px;
}

.RTEPlaceholderPreviewTitleBar {
	font-weight: bold;
	padding: 3px 5px;
	position: relative;
	white-space: nowrap;
}

.RTEPlaceholderPreviewTitleBar span {
	background: transparent url(http://images.wikia.com/common/skins/monaco/images/sprite.png?20100120) no-repeat -304px 0;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 5px;
	width: 16px;
}

/* info line */
.RTEPlaceholderPreviewIntro {
	border-bottom: solid 1px #aaa;
	cursor: default;
	font-style: italic;
	padding: 3px 0;
}

/* preview area */
.RTEPlaceholderPreviewCode {
	cursor: default;
	min-height: 75px;
	max-height: 350px;
	overflow: auto;
	padding: 4px;
	_height: 75px; /* for IE */
}

.RTEPlaceholderPreviewExpanded {
	max-height: 10000px !important;
}

.RTEPlaceholderPreviewCode * {
	float: none !important; /* RT #37692 */
	cursor: default !important;
}

.RTEPlaceholderPreviewPreformatted {
	font-family: monospace;
	white-space: pre;
}

/* [edit] / [delete] */
.RTEPlaceholderPreviewTools {
	border-top: solid 1px #aaa;
	padding: 3px;
	text-align: right;
}

.RTEPlaceholderPreviewTools a {
	cursor: pointer;
	margin: 0 10px 0 0;
}

/* wikia editor pop-ups */
.wikiaEditorDialog h1,
.wikiaEditorDialog span.templateEditorHeader {
	font-size: 2.2em;
}

.wikiaEditorDialog h2 {
	font-size: 1.5em;
	font-weight: bold;
}

.wikiaEditorDialog hr {
	background: #000;
	height: 1px;
	width: 100%;
}

.cke_skin_wikia.linkEditorDialog .cke_dialog {
	xwidth: 500px;
}
.cke_skin_wikia.linkEditorDialog .cke_dialog_page_contents{
	margin-top: -20px;
}
.cke_skin_wikia.linkEditorDialog .cke_dialog_ui_text label {
	display: block;
	margin-bottom: 5px;
}
.cke_skin_wikia.linkEditorDialog .link-type-note {
	float: right;
	position: relative;
	top: 26px;
	width: 200px;
}
.cke_skin_wikia.linkEditorDialog .link-type-note .link-icon,
.cke_skin_wikia.linkEditorDialog .link-type-note .sprite,
.cke_skin_wikia.linkEditorDialog .link-type-note span {
	float: right;
}
.cke_skin_wikia.linkEditorDialog .link-type-note .sprite{
	width: 16px;
	height: 16px;
}
.cke_skin_wikia.linkEditorDialog .link-type-note .link-icon {
	background: url(../ckeditor/_source/skins/wikia/icons.png) left top no-repeat;
	height: 16px;
	margin-right: 3px;
	width: 16px;
}
.cke_skin_wikia.linkEditorDialog .link-type-note .link-icon.link-yes {
	background-position: left -527px;
}
.cke_skin_wikia.linkEditorDialog .link-type-note .link-icon.link-no {
	background-position: left -542px;
}

/* dialog loading indicator */
.wikiaEditorLoading .cke_dialog_body {
	background: transparent url(http://images.wikia.com/common/skins/common/images/ajax.gif) no-repeat 50% 50%;
}

.wikiaEditorLoading .cke_dialog_body * {
	visibility: hidden !important;
}

.wikiaEditorDialog .loading {
	background: transparent url(http://images.wikia.com/common/skins/common/images/ajax.gif) no-repeat 50% 50% !important;
}

/* template editor - search and list of templates*/
div.templateEditorDialog .cke_dialog_tabs {
	display: none;
}

div.templateEditorDialog .cke_dialog_contents {
	margin-top: 0;
}

div.templateEditorDialog .cke_browser_ie7 .cke_dialog_contents {
	position: relative;
	top: -15px;
}

/* RT #37688  */
div.templateEditorDialog .cke_browser_ie8 .cke_dialog_contents {
	position: relative;
	top: 8px;
}

/* RT #37689 */
div.templateEditorDialog .cke_browser_ie .cke_dialog_body {
	width: 800px !important;
}

#templateLinkToHelp {
	color: #0080C0;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
}

#templateEditorHotTemplates,
#templateEditorMagicWords {
	height: 140px;
	list-style: none;
	margin: 5px 0;
	overflow: auto;
}

#templateEditorHotTemplates li,
#templateEditorMagicWords li {
	padding: 4px 0;
}

#templateEditorHotTemplates {
	width: 510px;
}

#templateEditorHotTemplates li {
	float: left;
	width: 240px;
}

#templateEditorHotTemplates a,
#templateEditorMagicWords a {
	color: #0080C0;
	cursor: pointer;
	font-size: 13px;
	text-decoration: none;
}

/* template editor - parameters editor */
#templateEditorTemplateName {
	display: inline;
	margin-right: 30px;
}

#templateEditorIntro a {
	color: #0080C0;
	cursor: pointer;
}

#templateEditorIntro p {
	font-size: 14px;
	margin: 5px 0 10px 0;
}

#templateParameters {
	height: 250px;
	overflow: auto;
}

#templateParameters label {
	display: block;
	font-weight: normal;
	margin-top: 5px;
}

#templateParameters dd {
	margin: 0;
}

.wikiaEditorDialog textarea {
	border: solid 1px #000;
	font-family: monospace;
	width: 300px;
}

#templateParameters textarea {
	height: 32px;
}

#templatePreview {
	height: 250px;
	overflow: auto;
	width: 310px;
}

#templatePreview * {
	float: none !important;
	white-space: normal;
}

#templatePreview a {
	color: #002BB8;
	cursor: pointer !important;
}

#templatePreview a:hover {
	text-decoration: underline !important;
}

.templateEditorDialog .cke_dialog_choose_another_tpl .cke_dialog_ui_button {
	width: 200px !important;
}

/* positioning of footer buttons in step #2 */
.templateEditorDialog .cke_dialog_footer_buttons {
	width: 100% !important;
}

.templateEditorDialog .cke_dialog_footer .cke_dialog_ui_hbox_first {
	text-align: left;
}

.templateEditorDialog .cke_dialog_footer .cke_dialog_ui_hbox_child {
	text-align: right;
}

.templateEditorDialog .cke_dialog_footer .cke_dialog_ui_hbox_last {
	display: none; /* hide fake "Cancel" button */
}

/* fix alignment of "Preview" button */
.cke_dialog_contents div[name=step2] .cke_dialog_ui_hbox_child {
	text-align: center;
	vertical-align: middle;
}

/* template editor - advanced */
#templateAdvEditorSource {
	height: 285px;
}

#templateAdvPreview {
	height: 285px;
	overflow: auto;
	width: 100%;
}

/* link editor */
/* RT #37688 */
div.linkEditorDialog .cke_browser_ie8 .cke_dialog_title {
	height: 38px;
}

/* comment editor - show title */
.commentEditorDialog textarea.cke_dialog_ui_input_textarea {
	height: 130px;
}

/* dropdown lists */
.cke_skin_wikia .cke_format_panel {
	height: 200px !important;
	width: 200px !important;
}

.cke_skin_wikia .cke_template_panel {
	height: 155px !important;
	width: 220px !important;
}

/* image / video toolbar items */
#editform .RTEImageButton .cke_icon {
	background-position: 0 -1247px;
}

#editform .RTEGalleryButton .cke_icon {
	background-position: 0 -1311px;
}

#editform .RTEVideoButton .cke_icon {
	background-position: 0 -1232px;
}

#editform .RTESignatureButton .cke_icon {
	background-position: 0 -1216px;
}

#editform .RTEWidescreenButton .cke_icon {
	background-position: 0 -1264px;
}

/* link suggest - RT #37690 */
.RTEloading .link-suggest-container,
.rte_wysiwyg .link-suggest-container {
	display: none;
}

/* first run notice */
#RTEFirstRunNotice {
	background: #ff9;
	color: #000;
	display: none;
	margin-bottom: 2px;
	padding: 5px;
	position: relative;
	text-align: center;
}

#RTEFirstRunNoticeClose {
	background-image: url(http://images.wikia.com/common/skins/monaco/images/sprite.png?20100120);
	background-position: -304px 0;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 4px;
	top: 6px;
	width: 16px;
}

/* min width of editor (RT #38820) */
#wikia_page {
	min-width: 350px;
}
