body {
	background: #fff;
	font-size: 13px;
	line-height: 1.5em;
	padding: 5px;
}

a {
	text-decoration: none !important;
}

a.new {
	color: #ba0000 !important;
}

#bodyContent a.external {
	padding-left: 0 !important;
}

/**
 * images
 */
img.alignCenter {
	display: block;
	margin: 0 auto;
}

img.alignRight {
	display: block;
	margin: 0 0 0 auto;
}

img.image,
img.media-placeholder,
img.video {
	cursor: move !important;
}

/* thumbs */
img.thumb,
img.frame {
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
}

img.thumb,
img.frame {
	clear: right;
	display: inline;
	float: right;
	margin: 6px 0 10px 18px;
}

img.alignLeft {
	clear: left;
	display: inline;
	float: left;
	margin: 6px 18px 10px 0;
}

img.alignNone {
	display: block;
	float: none;
	margin: 6px 18px 10px 0;
}


/* border */
img.border {
	border: 1px solid #ddd;
}
/* caption indicator */
img.withCaption {
	background-image: url('../images/imageCaption.png');
	background-repeat: no-repeat;
	padding-bottom: 25px;
}

/**
 *  placeholders
 */
img.placeholder {
	background-image: url(../ckeditor/_source/skins/wikia/icons.png);
	background-position: 0 -1294px;
	height: 16px !important;
	margin: 0 3px 3px 3px;
	width: 16px !important;
}

img.placeholder-comment {
	background-position: 0 -1280px;
}

/* Add Image / Add Video */
img.media-placeholder {
	background-color: #f9f9f9;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	clear: both;
	margin: 2px;
}

img.image-placeholder {
	background-image: url(../images/imagePlaceholder.png);
}

img.video-placeholder {
	background-image: url(../images/videoPlaceholder.png);
}

/* Language customization */
.lang-en img.image-placeholder {
	background-image: url(../images/imagePlaceholderEn.png);
}

/* Wikia Image Gallery placeholder */
img.image-gallery {
	background-image: url(../../WikiaImageGallery/images/images.png);
}
