/** reset **/

*{
	/* disable the focus highlight */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-focus-ring-color: rgba(0,0,0,0);
	font-family: helvetica, arial;
	font-weight: 100;
}

html{
	margin:0px;
	padding:0px;
}

body{
	margin:0px;
	padding:0px;
	background:#333;
}

/** animation **/

.composite{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.transition-opacity{
	-webkit-transition: opacity .33s ease-in-ou;
	-moz-transition: opacity .33s ease-in-out;
	-o-transition: opacity .33s ease-in-out;
	-ms-transition: opacity .33s ease-in-out;
	transition: opacity .33s ease-in-out;
}

.transition-all{
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.transition-none{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}



/** screens **/
.screen{
	width: 100%;
	height: 100%;
}

#gameScreen{
	display: none;
}

#homeScreen{
	background: #00396D;
	-webkit-box-shadow: black 0 0 20px inset;
	-moz-box-shadow: black 0 0 20px inset;
	box-shadow: black 0 0 20px inset;
}

/** layout **/
#PhotoPopWrapper {
	width: 480px;
	height: 320px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: #00396D;
}

#logoWrapper{
	width:100%;
	position: relative;
}

#logoPhotopop{
	display:block;
	position: absolute;
	top: 29px;
	left: 31px;
}

#logoWikia {
	position: absolute;
	left: 297px;
	top: 23px;
}

#sliderWrapper{
	z-index: 10;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#buttonWrapper{
	position: absolute;
	right: 5px;
	top: 5px;
}

.button {
	margin: 8px;
}

#button_volume .off{
	display:none;
}

#slidercontent{
	background-color: #fff;
	height: 170px;
	width: 100%;
	overflow: hidden;
}

#sliderContent .progress{
	display:block;
	margin: 0 auto;
	line-height: 170px;
}

#slidercontent > ul{
	list-style: none;
	margin-top: 11px;
	padding: 0;
}

.gameIcon {
	padding: 5px;
	text-align: center;
	font-weight: bold;
	/*float: left;*/
	display: inline-block;
	cursor: pointer;
	margin: 0 12px;
}
.gameIcon img{
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
	box-shadow: rgba(0,0,0,0.5) 0 0 10px;
	height: 120px;
	width: 120px;
	margin-bottom: 5px;
}

.gameIcon.resumeGame {
	-webkit-box-shadow: black 0 0 20px;
	-moz-box-shadow: black 0 0 20px;
	box-shadow: 0 0 20px green;
}

.gameIcon .gameName {
	color: #00396D;
	font-weight: 600;
}

#saveInfo {
	border: 1px solid black;
}

#gameBoard{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#bgWrapper{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
	z-index: 10; /* hide it in the back */
}
#bgPic{
	position:absolute;
	display:none;
	width: 100%;
	height: 100%;
}
#bgPic img {
	width: 100%;
	height: 100%;
}

#gameBoard, #gameBoard *{
	margin: 0;
	padding: 0;
	position: absolute;
}

#gameBoard a:hover{
	background-color:#00f;
	display:block;
	width: 100%;
	height: 20%; /*TODO: To be calculated*/
}

		/** ANSWER DRAWER - BEGIN **/
#answerDrawer{
	top: 50%;
	margin-top: -125px;
	position:relative;
	float:right;
	height: 250px;
	color:#215B68;
	background-color:rgba(137, 196, 64, 0.9);
	border-radius: 15px 0 0 15px;
	z-index:29;
	-webkit-transition: right .3s ease-in-out;
	-moz-transition: right .3s ease-in-out;
}

#answerButton{
	top:50%;
	cursor:pointer;
	z-index:100;
	margin-top:-20px;
	width: 40px;
	height: 40px;
}

#answerButton img:last-of-type {
	visibility: hidden;
}
#answerList{
	height:100%;
	list-style-type:none;
	right: 0;
}

#answerList li{
	height: 25%;
	color: #215B68;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	line-height: 62.5px;
	overflow:hidden;
	cursor:pointer;
	position: static;
	text-align: center;
	padding: 0 20px;
	white-space: nowrap;
}
#answerList li.incorrect{
	color:white;
	/* GRADIENT BACKGROUND  Props to http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
	background-image: -ms-linear-gradient(top, #B60000 32%, #D72828 47%, #B60000 83%);
	background-image: -moz-linear-gradient(top, #B60000 32%, #D72828 47%, #B60000 83%);
	background-image: -o-linear-gradient(top, #B60000 32%, #D72828 47%, #B60000 83%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.32, #B60000), color-stop(.47, #D72828), color-stop(.83, #B60000));
	background-image: -webkit-linear-gradient(top, #B60000 32%, #D72828 47%, #B60000 83%);
	background-image: linear-gradient(top, #B60000 32%, #D72828 47%, #B60000 83%);
}

#answerList li:last-child{
	border-bottom:0px;
}
/** ANSWER DRAWER - END **/
#continue{
	padding-top: 2px;
	padding-bottom:2px;
	cursor:pointer;
	right: 100%;
}
#continue img {
	right: 0;
	bottom: 0;
}
#continueText, #timeUpText{
	white-space:nowrap;
	color:#fff;
}
#continueText{
	line-height: 35px;
	padding-left: 30px;
}
#timeUpText{
	display: block;
	width:300px;
	text-align:center;
	height:100px;
	top: 50%;
	left: 50%;
	background-color:rgba(51,51,51,0.7);
	padding:6px;
	margin: 400px 0 0 -150px;
	border-radius: 15px;
	z-index: 50;
	line-height: 100px;
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: 5px;
	-webkit-transition: all 1s ease-out;
	-moz-transition:all 1s ease-out;
}

#scoreBarWrapper{
	position:absolute;
	-webkit-box-shadow: black 0 0 15px inset;
	-moz-box-shadow: black 0 0 15px inset;
	box-shadow: black 0px 0px 15px inset;
	left: 0;
	top: 0;
	height: 100%;
	width: 10px;
	border: 1px solid #3a3a3a;
	border-right: 1px solid #3a3a3a;
	padding: 0 2px;
	background-color: rgba(204, 204, 204, 0.9);
	z-index:23;
}
#scoreBar{
	background-color: rgba(137, 196, 64, 0.9);
	position:absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 10px;
	height: 100%;
	border-radius:3px;
	z-index:24;
}

/** BOTTOM BAR **/
.bottomBar {
	bottom: 0;
	width:100%;
	text-align:left;
	background-color: rgba(0, 0, 0, 0.4);
	/*background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.6) 60%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(60%,rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(top, transparent 0%,rgba(0,0,0,0.6) 60%);
	background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.6) 60%);*/
	height: 30px;
	z-index:31;
	-webkit-transition: all .5s  ease-in;
	-moz-transition: all.5s  ease-in;
	-o-transition: all.5s  ease-in;
	padding-top: 2px;
	padding-bottom:2px;
	color:#d3eaff;
	line-height: 35px;
}
#hud #home {
	left: 25px;
	top: 5px
}

#hud #score {
	left: 70px
}

#hud #progress {
	left: 160px;
}

#hud #pauseButton {
	padding: 8px;
	right: 40px;
	width: 30px;
	height: 20px;}

#hud #muteButton {
	padding: 5px;
	right: 0;
	width: 30px;
	height: 20px;
}
#hud span{
	color:rgba(137, 196, 64, 0.9);
	position: static;
}

#pauseButton img:last-of-type,
#muteButton img:last-of-type {
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

		/** END-GAME SCREEN-OVERLAY - BEGIN **/
#endGameOuterWrapper{
	display:none;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:50; /* overlays all previous elements when shown */
}
#endGameInnerWrapper{
	position:relative;
	top:50%;
	margin-top:-75px;
	left:50%;
	margin-left:-150px;
	width:300px;
	height:150px;
	text-align: center;
}

#endGameInnerWrapper #highScore{
	color:white;
	background-color:#043C6F;
	border: 1px solid #156290;
	border-radius: 5px 5px 0 0;
	right:6px;
	font-size:14px;
	top: -25px;
	height: 30px;
	padding: 4px;
	width: auto;
}

#highScore span {
	position: static;
}


#endGameInnerWrapper #summaryWrapper{
	height:100%;
	width:100%;
	color:white;
	background-color: #89c440;
	border-radius:6px;
}
#endGameInnerWrapper #summaryWrapper #endGameSummary{
	width:100%;
	height:100%;
}

#endGameInnerWrapper #summaryWrapper #endGameSummary *{
	position:static;
}
#endGameInnerWrapper #summaryWrapper #endGameSummary h1{
	color:#00396d;
	padding:10px;
	font-size:2.5em;
	font-weight: 600;
	letter-spacing: 1px;
}
#endGameButtons {
	bottom: -27px;
	width: 100%;
	height: 54px;
}

#endGameButtons img {
	width: 54px;
	height: 54px;
}

#playAgain {
	left: 10px;
}
#goHome {
	left: 50%;
	margin-left:-27px;
}
#goToHighScores {
	right: 10px;
}

#endGameSummary .summaryTextWrapper .summaryText_score{
	margin-top:10px;
	font-size:1.25em;
}

#gameScreen {
	width: 100%;
	height: 100%;
}

#tilesWrapper {
	height: 100%;
	width: 100%;
	z-index: 21;
	background-repeat: no-repeat;
}
#tilesWrapper div {
	background-color: #00396d;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
/** END-GAME SCREEN-OVERLAY - END **/

/** TUTORIAL SCREEN - BEGIN **/
#modalWrapper {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 30;
	text-align: center;
}

#modalWrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

#modal {
	display: inline-block;
	vertical-align: middle;
	color: #00396D;
	font-size: x-large;
	padding: 10px;
	opacity: .9;
	background-color: white;
	border-radius: 15px;
	-webkit-box-shadow: black 0 0 20px;
	-moz-box-shadow: black 0 0 20px;
	box-shadow: black 0 0 20px;
	max-width: 70%;
}

#modal.triangle:after {
	font-size: 0;
	height: 0;
	line-height: 0;
	border-style: solid;
	border-color: transparent;
	/* chevron color */
	float: left;
	margin: 10px;
	content: '';
	position:absolute;
	top: 50%;
	margin-top: -30px;
}
#modal.triangle.right:after {
	border-left-color: white;
	border-width:30px 0 30px 30px;
	right: -40px;
}
#modal.triangle.left:after {
	border-right-color: white;
	border-width: 30px 30px 30px 0;
	left: -40px;
}

#jobProgress {
	display: none;
	font-size: large;
}

#jobProgress.visible {
	display: block;
}

#progressBarWrapper {
	width: 80%;
	min-width: 200px;
	height: 30px;
	margin: 30px auto;
}

#progressBar {
	height: 100%;
	width: 0;
	float: left;
	background: rgb(201,222,150); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
	opacity: .9;
	border-radius: 5px;
}

/**highscore**/
#highscoreScreen {
	background-color: #00396D;
	display: none;
	-webkit-box-shadow: black 0 0 20px inset;
	-moz-box-shadow: black 0 0 20px inset;
	box-shadow: black 0 0 20px inset;
}

#highscoreScreen h1 {
	color: white;
	text-align: center;
	margin: 0;
	padding: 10px;
}

#highscoreScreen table {
	width: 90%;
	margin: 10px auto;
}

#highscoreScreen tr {
	color: white;
	font-size: x-large;
	text-align: center;
	height: 28px;
}

#highscoreScreen tr:first-of-type {
	color: #89C440;
}
#highscoreScreen td:first-of-type {
	width: 20px;
}

#highscoreScreen td {
	font-size: .8em;
	font-weight: 100;
	line-height: 1.6em;
}


#highscoreScreen tr:nth-of-type(even) {
	background-color: rgba(0, 80, 120, 0.4);
}

#goBack {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
}
