.back-links {
	margin:0px 0px 10px 0px;
}

.back-links a {
	text-decoration:none;
	font-weight:bold;
}

.relationship-count {
	margin:0px 0px 15px 0px;
}

.relationship-item {
	border:1px solid #D7DEE8;
	padding:7px;
	float:left;
	margin:0px 15px 15px 0px;
	width:350px;
}

.relationship-item a {
	text-decoration:none;
}

.relationship-item img {
	border:1px solid #dcdcdc;
	background-color:#fff;
	padding:3px;
	display:block;
	float:left;
	margin:0px 10px 0px 0px;
}

.relationship-name {
	font-size:14px;
	font-weight:bold;
	margin:0px 0px 2px 0px;
}

.relationship-actions {
	font-size:10px;
}

.relationship-actions a {
	font-size:10px;
}

.relationship-delete {
	margin:0px 0px 0px 12px;
}

.page-nav a {
	font-weight:bold;
}

.relationship-error-message {
	margin:0px 0px 15px 0px;
}

.relationship-action {
	margin:0px 0px 15px 0px;
	color:#888;
	width:500px;
	font-weight:bold;
}

.relationship-action img {
	float:left;
	display:block;
	margin:0px 15px 0px 0px;
	background-color:#fff;
	padding:3px;
	border:1px solid #dcdcdc;
}

.relationship-buttons {
	padding:10px 0px 0px 0px;
}

.relationship-textbox-title {
	font-weight:bold;
	font-size:13px;
	margin:0px 0px 5px 0px;
}

.relationship-message {
	font-size:14px;
	margin:10px 0px 0px 0px;
	color:#888 !important;
}

.black-text {
	color:#333 !important;
}

.red-text {
	color:red !important;
}