/**
 * CSS rules for the wikisticky visual component on MyHome page.
 */
#wikisticky_browser {
    background: url(../images/bg.wikisticky.249x222.png) no-repeat;
    height: 222px;
    margin: 0 auto;
    width: 249px;
}
.wikisticky_content {
    height: 213px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 240px;
}

#wikisticky_browser h2 {
    border: none;
    font-size: 11pt;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: left;
}
.wikisticky_content p {
    margin: 0;
    padding: 0 20px;
}

.wikisticky_next {
    bottom: 0;
    color: #999;
    font-size: 12px;
    padding: 10px 0;
    position: absolute;
    right: 50px;
}
.wikisticky_curl {
    bottom: -8px;
    cursor: pointer;
    position: absolute;
    right: -8px;
    width: 80px;
}
.wikisticky_special_link {
    color:#002BB8;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: 30px;
    text-align: center;
}
