/**
 * CSS rules specific to the Special:WikiStickies page go here.
 */
.wikisticky_browser {
    background: url(../images/bg.wikisticky.209x187.png) no-repeat;
    color: #000;
    height: 187px;
    margin-bottom: 3em;
    width: 209px;
    position: absolute;
    left: 10px;
}

#bodyContent .wikisticky_browser .wikisticky_content a {
	color: #002BB8;
}

.wikisticky_content { padding-right: 8px; }
.wikistickiesfeed {
    clear: left;
    margin: 0 0 3em;
    min-height: 215px;
}

#wikistickies-admintools {
	color: #000;
}

.wikistickiesfeed h2,
#wikistickies-admintools h2 {
    border-bottom: none;
    font-size: 135%;
    font-weight: bold;
    margin: 0 0 6px 0;
}

#wikistickies-admintools .bigger {
	font-size: 155%;
	font-weight: none;
}

#contentSub {
	margin:0 0 2.4em 1em;
}

.wikistickiesfeed ul, .wikistickiesfeed .MoreLink {
    margin-left: 240px;
}

.wikistickiesfeed ul {
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding-left: 1.25em;
}
.wikistickiesfeed ul li {
    float: left;
    line-height: 1.75;
    margin-bottom: 0;
    margin-right: 16px;
    width: 45%;
}

.wikistickiesfeed .submerged {
    display: none;
    margin-top: 0;
}

#bodyContent .sprite {
	margin-right: 5px;
	float: left;
	top: 9px;
}

.wikistickiesfeed .MoreLink {
    display: block;
    border: 1px solid #CCC;
    border-width: 1px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 0;
}

#wikistickies-community .clearfix li {
	width: 100%;
}

#wikistickies-admintools, #wikistickies_save_all,
#wikistickies_save_all_upper {
    border:1px solid #AAA;
}

#wikistickies-admintools {
	background-color: #F5F5F5;
	padding: 20px;
	clear: both;
}

#wikistickies-admintools h2 {
	margin-top: 0;
}

#bodyContent h2 {
	margin-bottom:0.6em;
}

#wikistickies-admintools h3 {
	font: bold 14px/1em Arial, sans-serif;
}

#wikistickies-admintools ul {
	list-style: none;
	margin: 0;
}

#step2 #wikistickies_save_all_upper {
	clear: both;
}

#wikistickies_save_all, #wikistickies_save_all_upper {
	border-width: 1px 0 0 0;
	margin-top: 20px;
	padding-top: 5px;
}

.reflow {
    border-right: 1px solid transparent;
}
.accent {
    border-width: 1px;
    border-style: solid;
}
.step {
    clear: both;
    position: relative;
    z-index: 200;
}

.headline {
    font-size: 18pt;
    margin: 0;
    padding: 10px 15px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}
.wrapper {
    padding: 20px 0px;
    background-color: #F5F5F5;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

#step2 .wrapper, #step3 .wrapper {
    background-color: #F5F5F5;
}

#header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 120px;
    left: 0;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#logo {
    position: absolute;
    top: 10px;
    left: 55px;
}
#progress {
    float: right;
    margin-right: 55px;
}
#progress li {
    float: left;
    font-size: 20pt;
    font-weight: bold;
    height: 28px;
    line-height: 32px;
    margin-left: 5px;
    text-align: center;
    width: 28px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.nav {
    padding: 15px;
    text-align: right;
}
.nav_reverse {
    clear: both;
    float: left;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    button span {
        margin-top: -1px;
    }
}

.note {
    font-size: 10pt;
    padding: 10px;
}

/*** Step 2: Logo ***/
#logo_current {
    border: ridge black 3px;
    height: 155px;
    width: 216px;
    background-position:center center;
    background-repeat:no-repeat;
}

#step2 .note {
    float: right;
    width: 200px;
}
#sample_logo {
    margin-bottom: 5px;
}
#step2 label {
    display: block;
    font-weight: bold;
    float: left;
    width: 150px;
}
#logo_preview_wrapper {
    margin-top: 20px;
}

#logo_preview {
    background-repeat: no-repeat;
    float: left;
    height: 155px;
    width: 216px;
    margin-bottom: 20px;
}

/*** Step 3: Theme ***/
#theme_scroller {
    height: 270px;
    overflow: auto;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}
#theme_scroller td {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#theme_scroller img {
    border: 1px solid #AAA;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

#theme_scroller label {
	text-transform: capitalize;
}

/*** Step 5: Done ***/
#wiki_army_container {
    background: url(wiki_army_floor.png) bottom left repeat-x;
    height: 184px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}
#wiki_army {
    left: 50%;
    margin-left: -468px;
    position: absolute;
}
#wiki_army_logo {
    bottom: 0;
    left: 50%;
    margin-left: -115px;
    position: absolute;
}

/*** Styles for status bar http://www.west-wind.com/WebLog/posts/388213.aspx ***/

.statusbar {
    background: black;
    border: solid 1px lightgray;
    bottom: 5px;
    color: white;
    filter: alpha(opacity="70");
    font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
    height: 20px;
    left: 0;
    opacity: .70;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    position: fixed;
    right: 0;
    z-index: 200;
}

.statusbarhighlight {
    background-color: #F0E68C;
    border: solid 1px silver;
    color: maroon;
    font-weight: bold;
}

.statusbarerror {
    background-color: red;
    color: white;
}
