.wikisticky_browser {
    margin-bottom: 3em;
}
.wikisticky_content {
    font: 20px/1.25em "Comic Sans MS", Arial, sans-serif;
    height: 135px;
    margin: 28px auto 0 auto;
    text-align: center;
    width: 175px;
    visibility: hidden; /* Shown with JS. */
}
.wikisticky_content span { display: block; }
.wikisticky_content p { position: relative; }
.wikisticky_content a { padding-right: 3px; }
