<div class="recovered-message {{positionClass}}">
    <div class="icon"></div>
    <div class="message">
        <div class="dialog-pointer"></div>
        <h3>{{header}}</h3>
        <p>{{{text}}}</p>
        <div class="close-button"></div>
    </div>
</div>