<div class="recovered-message {{positionClass}}">
    <img src="/skins/oasis/images/recovered_message_icon.png" class="icon">
    <div class="message">
        <div class="dialog-pointer"></div>
        <h3>{{{header}}}</h3>
        <p>{{{text}}}</p>
        <div class="close-button"></div>
    </div>
</div>