<li {{#referenceId}}data-id="{{referenceId}}" {{/referenceId}} class="wikia-dropdown-nav-item">
	<a href="{{href}}" title="{{#tooltip}}{{tooltip}}{{/tooltip}}{{^tooltip}}{{title}}{{/tooltip}}"
		{{#accesskey}}accesskey="{{accesskey}}" {{/accesskey}}
		{{#id}}id="{{id}}" {{/id}}
		{{#id}}data-tracking-id="{{id}}" {{/id}}
		rel="{{#rel}}{{rel}}{{/rel}}{{^rel}}nofollow{{/rel}}"
		{{#dataAttr}}
			data-{{key}}="{{value}}"
		{{/dataAttr}}
		{{#class}} class="{{class}}" {{/class}}
	>
		{{{title}}}
	</a>
</li>
