<div class="wikia-dropdown-nav-wrapper" id="{{id}}">
	<div class="wikia-dropdown-nav-sections-wrapper">
		<div class="wikia-dropdown-nav-inner-wrapper">
			<ul class="wikia-dropdown-nav{{#classes}} {{.}}{{/classes}}">
				{{#sections}}
					{{>dropdownItem}}
				{{/sections}}
			</ul>
		</div>
	</div>
	<div class="wikia-dropdown-nav-subsections-wrapper">
		<div class="wikia-dropdown-nav-inner-wrapper">
			{{#subsections}}
			<ul id="{{referenceId}}" class="wikia-dropdown-nav">
			{{#sections}}
				{{>dropdownItem}}
			{{/sections}}
			</ul>
			{{/subsections}}
		</div>
	</div>
</div>
