<ul id="{{id}}" class="wikia-dropdown-nav" style="{{#maxHeight}}max-height: {{maxHeight}}px;{{/maxHeight}}">
	{{#data}}
	<li>
		<a href="{{href}}" title="{{title}}" {{#referenceId}}id="{{referenceId}}"{{/referenceId}} rel="{{#rel}}{{rel}}{{/rel}}{{^rel}}nofollow{{/rel}}">{{title}}</a>
	</li>
	{{/data}}
</ul>
