<ul id="{{id}}" class="wikia-dropdown-nav" style="{{#maxHeight}}max-height: {{maxHeight}}px;{{/maxHeight}}">
	{{#data}}
	<li>
		<a href="{{href}}" title="{{title}}" rel="nofollow">{{title}}</a>
	</li>
	{{/data}}
</ul>
