@import "../../../skins/oasis/css/core/color";

.RelatedPagesModule {
	clear: both;

	h2 {
		border-bottom: solid 1px $color-headline-border;
		font-size: 18px;
		margin-top: 30px;
		overflow: hidden;
	}
	ul {
		@include clearfix;
		list-style: none;
		margin: 5px 0 15px;
		text-align: center;
	}
	li {
		display: inline-block;
		line-height: 1.4em;
		max-width: 200px;
		padding: 0;
		position: relative;
		text-align: left;
		width: 30%;
		&:first-child {
			margin-left: 0;
			float: left;
		}
		&:last-child {
			float: right;
		}
		img {
			width: 200px;
			height: 100px;
			display: inline-block;
		}
	}
	a:hover {
		text-decoration: none;
	}
	.articleSnippet {
		height: 100px;
		overflow: hidden;
		width: 190px;
		color: $color-text;
		// quotes
		&:before {
			content: '\201C';
			font-size: 70px;
			left: 0;
			position: absolute;
			top: 25px;
		}
		p {
			font-size: 16px;
			height: 80px;
			line-height: 1.25em;
			margin-left: 35px;
			overflow: hidden;
			padding: 0;
		}
	}
	.more {
		display: block;
		margin: 5px 0;
		&:hover {
			text-decoration: underline;
		}
	}
}

#WikiaArticle {
	.RelatedPagesModule {
		margin: 0;
	}
}
