@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/core/layout";
@import "../../../../skins/oasis/css/mixins/curation-elements";
@import "../../../../skins/oasis/css/mixins/clearfix";

.slots-setup {
	width: 250px;
	float: left;
}
.slot-forms {
	overflow: hidden;
	.wikis-in-slots {
		float:left;
		label {
			width: 140px;
			float: left;
			clear: left;
		}
		input:not([type=submit]) {
			width: 50px;
		}
	}
}
.WikiaHomePageStaffTool .wiki-list td {
	padding: 5px 10px;
}
.submit-buttons {
	margin-top: 20px;
}

.collections-setup {
	border-left: 1px solid $color-page-border;
	float: left;
	margin: 0 0 20px 10px;
	padding-left: 10px;

	@if ( $responsive-layout-enabled ) {
		width: auto;

		width: -webkit-calc(100% - 280px);
		width: calc(100% - 280px);

		@media screen and (max-width: 1030px) {
			border: none;
			margin: 0;
			padding: 0;
			width: 100%;
		}

	} else {
		width: 735px;
	}

	.collection-module {
		@include module-box;

		position: relative;

		.input-group {
			@include clearfix;
			float: none;
			label {
				clear: both;
				float: left;
				margin-top: 10px;
				width: 145px;
			}
			input:not([type=checkbox]) {
				width: 400px;

				&:disabled {
					background-color: mix($color-page-opposite, $color-page, 15%);
				}
			}
			input[type=checkbox] {
				margin-top: 10px;
			}
		}

		.image-input-container {
			float: left;
			width: 100%;

			.input-group {
				width: 563px;
				float: left;
			}
			.wmu-show {
				margin-top: 11px;
			}
		}

		p.alternative {
			margin: 0 7px 10px 152px;
		}

		.navigation {
			@include navigation;
		}
	}
}

.wikis-setup {
	clear: left;

	p {
		padding-top: 20px;

		label {
			margin-left: 10px;
		}

		label:first-child {
			margin-left: 0px;
		}

		input[type=submit] {
			float: none;
		}

		input[type=reset] {
			margin-left: 10px;
		}

		#collections-filter {
			width: 150px;
		}
	}
}

input[type=submit] {
	float: right;
}

.alternative {
	color: $color-alternate-text;
}
