{{#noTemplateSet}}
<p>{{setTemplateNameCallToAction}}</p>
{{/noTemplateSet}}
{{^noTemplateSet}}
<iframe id="infoboxBuilderIframe" class="InfoboxBuilder" width="100%" data-src="{{iframeUrl}}"></iframe>
{{/noTemplateSet}}
