@import 'skins/shared/color';

// Colors
$color-insights-text-light: #fff;
$color-insights-border: #ccc;

$color-insights-highlight: darken($color-page, 5%);

@if $is-dark-wiki {
	$color-insights-highlight: lighten($color-page, 5%);
}

// Borders
$border-insights-default: 1px solid $color-insights-border;

// Icons
$insights-small-icon-size: auto 21px;
$insights-big-icon-size: auto 65px;

// Dimensions
$width-insights-nav: 250px;
$width-insights-pageviews-column: 120px;
