<div class="module-box">
	<h3 class="alternative">{{sectionNo}}.</h3>
	<div class="module-right-box grid-4 alpha">
		<div class="module-input-box">
			<h4 class="video-title">{{videoTitle}}</h4>
			<time class="timeago">{{timestamp}}</time>
			<a href="{{video['fullUrl']}}" target="_blank" class="video-url alternative">{{$video['fullUrl']}}</a>
			{{{hiddenFormFields}}}
		</div>
		
		<div class="module-image-box">
			<div class="image-placeholder video">
				{{{videoThumbnail}}}
			</div>
		</div>
		
		<div class="module-input-box buttons">
			<input type="button" class="delete" value="{{deleteMsg}}" />
			<input class="secondary clear" type="button" value="{{clearMsg}}" />
		</div>
		
		<button class="secondary navigation nav-up"><img class="chevron chevron-up" src="<?= $wg->BlankImgUrl; ?>"></button>
		<button class="secondary navigation nav-down"><img class="chevron chevron-down" src="<?= $wg->BlankImgUrl; ?>"></button>
	</div>
</div>