/**  **/

.top-users {
	float:left;
	margin:15px 0px 0px 0px;
}

.top-fan{
	width:250px;
	padding-right:10px;
	font-weight: bold;
	font-size: 90%;
	float: left;
}

.top-fan a{
	font-size:13px;
	text-decoration:none;
}

.top-fan img {
	vertical-align: middle;
	padding-right:4px;
}

.top-fan-num{
	font-weight: bold;
	font-size: 18px;
	color:#dcdcdc;
	float: left;
	width:45px;
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 5px;
}

.top-fan-points{
	float: left;
	font-size: 13px;
	color:#797979;
	height:30px;
	padding-top:5px;
}

.top-fan-row { 
	margin:0px 0px 10px 0px;
	clear: both;
}

.top-fan-level{
	font-size:16px;
	font-weight:800;
	color:#797979;
	margin:0px 0px 10px 0px;
}

.top-fan-nav h1 {
	font-size:16px;
	color:#333333;
	padding:0px 0px 3px 0px;
	border-bottom:1px solid #dcdcdc;
	margin:0px 0px 10px 0px !important;
}

.top-fan-level{
	font-size:16px;
	font-weight:800;
	color:#797979;
	margin:0px 0px 10px 0px;
}

.top-fan-nav{
	float:right;
	margin:10px 0px 0px 0px;
	width:200px;
	padding:5px;
}
.top-fan-nav a{
	font-weight:bold;
	text-decoration:none;
}
