.skin-venus .modal {

	.sso-login {
		.sso-login-divider span {
			font-size: 12px;
		}

		.wikia-button-facebook {
			background-color: #5e7bb2;
			background-image: -moz-linear-gradient(center top , #5e7bb2 0%, #3c62a1 100%);
			border-color: #afbdd6;
			border-radius: 2px;
			color: #ffffff;
			font-weight: bold;
			height: 21px;
			padding: 0 6px;
		}
	}

	fieldset {
		border: 0 none;
		margin: 0;
		padding: 0;
	}

	.input-group {
		clear: both;
		float: left;
		font-size: 13px;
		line-height: 13px;
		margin-bottom: 5px;
		padding: 5px 7px;

		.big {
			font-size: 16px;
			height: 40px;
			line-height: 23px;
		}

		label {
			display: block;
			line-height: 15px;
			margin: 0 0 5px;
		}

		input {
			background-color: #f7f7f7;
			border: 1px solid #cccccc;
			box-shadow: 1px 1px 1px 0 #e5e5e5 inset;
			font-size: 13px;
			margin: 0;
			padding: 8px;
		}
	}
}
