@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/core/layout";
@import "../../../../skins/oasis/css/mixins/arrow";
@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/box-shadow";

@import "DropdownColors";

.WikiaDropdown {
	font-size: 12px;

	.dropdown {
		@include border-radius(3px);
		@include box-shadow(0, 3px, 6px, $Dropdown-color-shadow);

		background-color: $Dropdown-color-background;
		border: 1px solid $Dropdown-color-border;
		display: none;
		margin-bottom: 10px;
		min-width: 200px;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: $zTop;
	}

	.dropdown-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.dropdown-item {
		cursor: pointer;
		display: block;
		line-height: 30px;
		margin: 0;
		padding: 0 10px;

		&:hover {
			background-color: $Dropdown-color-hover-background;
		}

		&.selected {
			background-color: $Dropdown-color-selected-background;
		}
	}

	&.open .dropdown {
		display: block;
	}

	&.MultiSelect {
		position: relative;

		.dropdown {
			left: 0;
			position: absolute;
			top: 0;
		}

		.dropdown-item {
			input[type="checkbox"] {
				margin-right: 10px;
			}

			label {
				display: block;
			}
		}

		.selected-items {
			@include border-radius(3px);

			background-color: $Dropdown-color-background;
			border: 1px solid $Dropdown-color-border;
			cursor: pointer;
			line-height: 30px;
			min-height: 30px;
			min-width: 180px;
			padding: 0 25px 0 10px;
			position: relative;

			&:hover {
				background-color: $Dropdown-color-hover-background;
			}

			.arrow {
				@include arrow(4px, $Dropdown-color-arrow);
				position: absolute;
				right: 10px;
				top: 50%;
			}
		}
	}
}