/* 
* Stylesheet for the markup of glossary terms in wiki pages.
*/

.tooltip {
	display: inline;
	position: relative;
	cursor: help;
}

.tooltip_abbr {
    border-bottom: 1px dotted #bbf;
}

.tooltip_tipwrapper {
    display: none;

	position: absolute;
	top: 0;
	left: 0;

	height: 3em;
	width: 23em;

	font-weight: normal;
	font-size: small;
	line-height: 1.2em;

	z-index: 2;
}

.tooltip_tip {
	display: block;

	position: absolute;
	top: 1.5em;
	left: 2em;

	width: 20em;

	padding: 0.5em;
	margin: 0;

	background-color: #F9F9F9;
	border: 1px solid #aaa;

	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px	#888;
}

.tooltip_tip span {
	display: block;
}

.tooltip:hover .tooltip_abbr {
    background-color:rgba(0,0,0,0.1);
}

.tooltip:hover .tooltip_tipwrapper {
    display: block;
}
