<li class="category" data-index="{{index}}" data-name="{{category.name}}" data-namespace="{{category.namespace}}" data-sortKey="{{category.sortKey}}">
	<span class="name">{{category.name}}</span>
	<ul class="toolbar">
		<li class="tool editCategory"><img src="{{blankImageUrl}}" class="sprite-small edit" title="{{edit}}"></li>
		<li class="tool removeCategory"><img src="{{blankImageUrl}}" class="sprite-small delete" title="{{remove}}"></li>
	</ul>
</li>