<div class="WikiaForm">
	<div class="input-group categoryName">
		<label>{{messages.name}}</label>
		<input type="text" name="categoryName" value="{{name}}">
		<div class="error-msg"></div>
	</div>
	<div class="input-group categorySortKey">
		<label>{{messages.sortKey}}</label>
		<input type="text" name="categorySortKey" value="{{sortkey}}">
	</div>
</div>
