<li class="category">
	<span class="name">{{{name}}}</span>
	<ul class="toolbar">
		<li class="tool editCategory"><img src="{{blankImageUrl}}" class="sprite-small edit" title="{{messages.edit}}"></li>
		<li class="tool removeCategory"><img src="{{blankImageUrl}}" class="sprite-small delete" title="{{messages.remove}}"></li>
	</ul>
</li>