/*
	Main stylesheet for the slideshow query printer
*/

.srf-slideshow .slideshow-nav {
	border: 1px solid #aaa;
	border-radius: 3px;
	background: #f1f2ff;
	margin: 0 1em;
}

.srf-slideshow .ui-slider-handle {
	outline: none;
	text-decoration: none;
	width: 0;
	padding: 0 1em;
}

.srf-slideshow .slideshow-nav-readout {
	margin: 0;
	text-align: center;
	position: relative;
	top: -0.3em;
	color: #000;
}

.srf-slideshow .slideshow-viewport {
	position: relative;
}

.srf-slideshow .slideshow-element-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.srf-slideshow .slideshow-element {
	background-color: white;
	position: relative;
	top:0;
	left:0;
}
