@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/rail-module";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";
.WikiaArticle {
	padding: 0;
}

.LandingPage {
	margin: 54px 0;

	.LandingPageSearch {
		float: right;
		left: 4px;
		margin-right: 9px;
		margin-top: -6px;
		
		width: 331px;
		.placeholder {
			width: 287px;
		}
		.secondary {
			height: 27px;
			top: 0px;
			border: 1px solid $color-page-border;
		}
	}
	 
	ul.LandingPageSocialLinks {
		position: absolute;
		left: 531px;
		top: -2px;
		list-style: none;
		margin: 0px;
		
		li {
			background: url(/skins/corporate/images/misc.wikiaglobal.sprite.png) no-repeat;  /* $wgCdnStylePath */
			float: left;
			margin-right: 7px;
			display: inline-block;
			
			&.facebook {
				background-position: -2px -249px;
			}
			
			&.blog {
				background-position: -36px -249px;
			}
			
			&.twitter {
				background-position: -73px -249px;
			}
			
			a {
				width: 30px;
				height: 30px;
				display: block;
			}
		}	
	}
		
	.LandingPageLanguageLinks {
		@include clearfix;
		list-style: none;
		margin: 0;
		float: right;
		position: absolute;
		right: 20px;
		top: -41px;

		li {
			float: left;
			margin: 0 4px;
		}
	}

	.LandingPageWelcome {
		margin-left: 11px;
		width: 475px;
		h1 {
			color: $color-links;
			font-size: 30px;
			font-weight: bold;
			margin: 0px;
			margin-bottom: 8px;
		}

		p {
			font-size: 17px;
		}
	}

	.LandingPageVideo {
		@include rail-module;
		@include clearfix;
		padding-top: 10px;
		width: 608px;
		height: 343px;
		margin: {
			top: 8px;
			left: 10px;
		}

		.video {
			width: 605px;
			height: 340px;
			border: none;
			margin: 0px;
		}

		h1 {
			@include linear-gradient($color-buttons, top, $color-button-highlight, 35%, $color-buttons, 65%);
			color: $color-button-text;
			display: inline;
			left: -5px;
			padding: 5px 15px 5px 25px;
			position: absolute;
			top: -12px;
			.banner-corner-left {
				border-color: #000000 #000000 transparent transparent;
				bottom: -4px;
				left: 0;
			}
		}
		
		ul {
			margin: 0;
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				line-height: 2.5em;
				margin: 5px 10px;
			}
			a {
				font-size: 12px;
				font-weight: normal;
			}
			img {
				border: solid 1px mix($color-text, $color-page, 20);
				display: block;
			}
		}
	}

	.LandingPageSites {
		@include linear-gradient(false, top, $color-module-highlight, 60%, $color-module-shadow, 100%);
		border: 1px solid $color-page-border;
		clear: both;
		float: right;
		margin-right: 8px;
		padding: 15px;
		width: 300px;

		ul {
			margin: 0;
			list-style: none;
			text-align: center;

			li {
				border-bottom: 1px solid $color-page-border;
				height: 82px;
				
				img {
					width: 300px;
					height: 82px;
				}
				
				&.landingpage-site1  {
					background-position: 32px 0px;
					height: 70px;
					img {
						height: 70px;
					}
				}
				
				&.landingpage-site2 {
					background-position: 32px -66px;
				}
				
				&.landingpage-site3 {
					background-position: 32px -146px;
				}
				
				&.landingpage-site4 {
					background-position: 32px -234px;
				}
				
				&.landingpage-site5 {
					background-position: 32px -317px;
					border-bottom: none;
				}
			}
			
		}
		
		.more {
			float: right;
			font-size: 13px;
		}
		
		h2 {
			border-bottom: none;
			font: {
				size: 22px;
				weight: bold;
			}
			color: $color-text;
			
			margin-top: 0px;
			margin-bottom: 2px;
			padding: 0px;
			
			overflow: visible !important; // /** change! **/
		}
	}

	.LandingPageMain {
		@include clearfix;
		display: block;
		margin: {
			left: 10px !important;
			right: 10px !important;
			top: 5px;
		}	
		font-size: 22px !important;
		line-height: 30px;
		
		width: 623px;
		strong {
			font-weight: bold;
		}
		
		.more {
			font: {
				size: 16px;
			}
		}
	}
}

#WikiaArticleBottomAd {
	display: none;
}