.color1 {
	background: #74B58A;
}
.color1, .color1 a {
	color: #FFF;
}
.color2 {
	background: #8DC7A0 center top no-repeat;
	background-image: url(/skins/answers/spring/images/background.jpg); /* $wgCdnStylePath */
}
.accent {
	background: #DAE6DE;
	border-color: #A9EBBF;
}
.neutral {
	background: #F5F5F5;
}
.dark_text_1 {
	color: #74B58A;
}
.dark_text_2 {
	color: #333;
}

#wikia_logo {
	background-image: url(/skins/answers/spring/images/wikia_logo.png); /* $wgCdnStylePath */
}

/* @group category select */

	/* synthesize .accent */
	#mw-normal-catlinks span a:link, 
	#mw-normal-catlinks span a:visited {
		background: #DAE6DE;
	}

	/* synthesize .color1 */
	#csAddCategorySwitch {
		border-color: #A9EBBF !important; /* using important to override inline styline */
	}
	#mw-normal-catlinks span a:hover, 
	#csAddCategorySwitch, 
	#csAddCategorySwitch a, 
	#CSitemOuterAddCategory {
		background: #74B58A !important; /* using important to override inline styline */
		color: #FFF;
	}
		
/* @end */

/* @group borders */

	#answers_ask input.header_field, 
	#tabAsk input.header_field, 
	#tabSearch input.header_field,
	#question_box,
	#catlinks {
		border-color: #DAE6DE /* .accent */
	}

	#searchform {
		border-color: #74B58A; /* .color1 */
	}

/* @end */

/* @group misc */
.article_count {
	color: #000;
}
.WidgetCommunity .widgetfeed li {
	color: #666;
}
/* @end */
