/*
 * The crazy overuse of !important is becuse this theme CSS is loaded before monaco_answers.css. 
 * When the order is fixed, the !importants can be removed
 * Author: Christian Williams
*/

.color1 {
	background: #74B58A !important;
}
.color1, .color1 a {
	color: #FFF !important;
}
.color2 {
	background: #8DC7A0 center top no-repeat !important;
	background-image: url(/skins/answers/spring/images/background.jpg) !important; /* $wgCdnStylePath */
}
.accent {
	background: #DAE6DE !important;
}
.neutral {
	background: #F5F5F5 !important;
}
.dark_text_1 {
	color: #74B58A !important;
}
.dark_text_2 {
	color: #333 !important;
}

#wikia_logo {
	background-image: url(/skins/answers/spring/images/wikia_logo.png); /* $wgCdnStylePath */
}

/* @group category select */

	/* synthesize .accent */
	#mw-normal-catlinks span a:link, #mw-normal-catlinks span a:visited {
		background: #DAE6DE !important;
	}

	/* synthesize .color1 */
	#mw-normal-catlinks span a:hover, #csAddCategorySwitch, #csAddCategorySwitch a, #CSitemOuterAddCategory {
		background: #74B58A !important;
		color: #FFF !important;
	}
		
/* @end */

/* @group borders */

	#answers_ask input.header_field, 
	#tabAsk input.header_field, 
	#tabSearch input.header_field,
	#question_box,
	#catlinks {
		border-color: #DAE6DE /* .accent */
	}

	#searchform {
		border-color: #74B58A; /* .color1 */
	}

/* @end */

/* @group misc */
.WidgetCommunity .widgetfeed li {
	color: #666 !important;
}
/* @end */
