@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/gradient";
@import "skins/oasis/css/core/color";

.VideoPageToolHeader {
	@include clearfix;

	.VideoPageToolTitle {
		&, h1 {
			float: left;
			margin-bottom: 0;
		}
		h2 {
			float:left;
			margin: 12px 10px 0;
			border: none;

			&:before {
				content: '> ';
			}
		}
		p {
			margin: 0;
		}
	}
	.right {
		float: right;
		padding-right: 20px;
		text-align: right;

		p:first-child {
			margin-top: 12px;
		}

		p {
			margin: 0.2em 0 0;
		}
	}

	.alternative {
		color: $color-alternate-text;
	}
}

.VideoPageToolHeaderGradient {
	height: 5px;
	margin: 10px 0;
	@include linear-gradient(null, top, $color-page, 0, mix($color-page, $color-page-opposite, 94%), 100%);
}