@import "skins/shared/color";
@import "skins/shared/mixins/arrow-hollow";
@import "skins/shared/mixins/clearfix";
@import "skins/shared/mixins/curation-elements";

$color-toolbox-datepicker-published-background: #deedbd;
$color-toolbox-datepicker-inprog-background: #d4ecf7;
$label-padding: 10px 10px 10px 0px;

#VPTDashboard {
	@include clearfix;
	background-color: $color-article-thumb-background;
	border: 1px solid $color-tab-background-top;

	h2 {
		border-bottom: none;
		margin-bottom: 30px;
		float: left;
	}

	&>div:not(:first-child) {
		border-left: 1px solid $color-article-thumb-border;
		height: 380px;
	}

	input[type="button"] {
		margin-bottom: 20px;
		width: 100%;
	}

	.ml15 {
		margin-left: 15px;
	}

	.chevron {
		border-color: transparent transparent transparent $color-article-thumb-background;
		border-width: 8px;
		margin-left: -1px;
		margin-top: -15px;
		position: absolute;
		top: 38%;
	}

	.chevron.border {
		margin-left: 0;
		border-color: transparent transparent transparent $color-tab-background-top;
	}

	&.WikiaGrid .grid-2 {
		width: 320px;
	}

	select {
		width: 100%;
	}

	.date-picker {
		clear: left;
	}
}

.VPTForms {
	// Form container styles
	.form-box {
		@include clearfix;
		@include module-box;
		padding: 0 20px;
		position: relative;
		&.with-nav {
			padding-right: 37px; // width of nav buttons + 5px padding
		}
	}
	.input-group {
		box-sizing: border-box;
		clear: none;
		padding: 5px 0;
		width: 68%;
		&.border {
			border-bottom: 1px solid $color-page-border-subtle;
		}
		input[type="text"], textarea, select {
			box-sizing: border-box;
			width: 70%;
		}
		textarea {
			height: 100px;
		}
	}

	button.navigation {
		@include navigation;
	}

	label {
		box-sizing: border-box;
		float: left;
		padding: $label-padding;
		width: 30%;
	}
	.alternative {
		color: $color-alternate-text;
	}

	.count {
		display: block;
		float: left;
		font-size: 18px;
		margin: 15px 0 0 -45px;
	}

	// Page level styles
	.submits {
		@include clearfix;
		float: right;
		padding: 10px 0 30px;
	}

	.publish {
		border-top: 1px solid $color-page-border-subtle;
		clear: both;
		padding-top: 10px;
		button {
			float: right;
		}
	}

	.hint {
		display: block;
		color: $color-alternate-text;
		float: right;
		width: 70%;
	}

	.button-group .hint {
		clear: both;
		float: none;
		padding: 10px 0;
	}

	// validation
	label.error {
		clear: both;
		float: right;
		font-size: 13px;
		margin: 0;
		width: 70%;
	}

	// Featured video form styles
	.featured-video {
		.media-btn {
			float: left;
			height: 25px;
			margin: 10px 10px 0 0;

			&.media-uploader.btn {
				margin-top: 0;
			}
		}
		.video-title, .alt-thumb-name {
			padding-top: 11px;
		}
		.video-thumb-wrapper {
			box-sizing: border-box;
			clear: left;
			float: right;
			margin-top: 5px;
			text-align: center;
			width: 179px;
		}
		.video-thumb {
			position: relative;

			img {
				width: 100%;
			}
		}
		.button-group {
			label.error {
				float: none;
			}
		}
	}

	// Latest video form styles
	.latest-video-form {

		.form-box {
			padding-top: 10px;
		}

		input[data-autocomplete] {
			outline: 0 none;
		}

		.autocomplete {
			position: absolute;
			left: 141px;
			top: 46px;
			max-height: 300px;
			overflow-y: scroll;
		}

		.search-button {
			float: left;
			margin: 17px 0 0 10px;
		}
		.preview {
			box-sizing: border-box;
			border: 1px solid $color-page-border-subtle;
			border-top-width: 0;
			clear: both;
			color: $color-alternate-text;
			display: block;
			margin-top: $module-box-margin-bottom * -1;
			margin-bottom: $module-box-margin-bottom;
			padding: 5px 10px;
			text-align: center;
			width: 100%;

			span {
				@include arrow-hollow( 6px, 3px, #CCC, white, 'down' );
				float: right;
				right: 40px;
				top: 9px;

					&:first-child {
					float: left;
					right: -10px;
				}

				&.active {
					@include arrow-hollow( 6px, 3px, #666, white, 'down' );
				}

				&.up {
					@include arrow-hollow( 6px, 3px, #CCC, white, 'up' );
					&.active {
						@include arrow-hollow( 6px, 3px, #666, white, 'up' );
					}
				}
			}
		}
	}
	.hidden {
		display: none;
	}
}

.ui-datepicker.ui-widget {
	.published a {
		background-color: $color-toolbox-datepicker-published-background;
	}

	.in-prog a {
		background-color: $color-toolbox-datepicker-inprog-background;
	}

	.ui-datepicker-current-day-legend a {
		border: 1px solid $color-page-opposite;
	}

	&.datepicker-example {
		width: 500px;
		margin: 0 auto;
		display: block;
		background-color: transparent;
		border: none;

		td a {
			display: inline;
			padding: 0.2em 0.5em;
		}
	}

	table.ui-datepicker-calendar td {
		text-align: center;
	}
}
