.AutomaticWikiAdoptionInfo {
	float: left;
	padding-right: 50px;
	width: 650px;
}

.AutomaticWikiAdoptionKnowMore {
	float: right;
	width: 280px;
}

#AdoptWelcome {
	h1 {
		font-size: 24px;
	}
	p {
		color: #747474;
		font-size: 18px;
		line-height: 25px;
	}
}