<!DOCTYPE html>
<html>
	<!--
	/*!
	 * VisualEditor minimal demo
	 *
	 * @copyright 2011-2015 VisualEditor Team and others; see http://ve.mit-license.org
	 */
	-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>VisualEditor Standalone Demo</title>

<!-- STYLES -->

	</head>
	<body dir="<!-- DIR -->">
		<div class="ve-instance"></div>
		<div class="ve-demo-output">
			<input type="button" class="ve-demo-convert" value="&darr; Convert to HTML">
			<textarea class="ve-demo-html"></textarea>
		</div>

<!-- SCRIPTS -->

	</body>
</html>
