@import "../../../../skins/oasis/css/mixins/arrow";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/core/color";

$alt-bg-color: mix($color-page-opposite, $color-page, 10%);

.wikinav2 .WikiaPageHeader {
	border-bottom: none;
	padding-bottom: 0;
}

// For now, this callout style will be specific to lvs, but we may want to make it global in the future
.lvs-callout {
	background: $color-buttons;
	color: $color-button-text;
	display: none;
	margin: 10px 0;
	padding: 15px;
	h1 {
		font-size: 26px;
		line-height: 33px;
		margin: 0 0 15px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.close {
		float: right;
	}
}

.LVSGrid {
	.row {
		@include clearfix;
		margin-bottom: 30px;
	}
	.more-link {
		float: right;
	}
	.grid-3 {
		height: 400px;
	}
	.video-container {
		padding-bottom: 10px;
	}
	.more-videos {
		background-color: $alt-bg-color;
		clear:both;
		padding: 15px;

		&:before {
			@include arrow(20px, $alt-bg-color, 'up');
			margin-top: -25px;
			content: "";
			display: inline-block;
			float: right;
		}
	}
}