<div class="wikia-ad wikia-ad-interactive-map hidden" data-map-id="{{map.id}}"></div><figure class="wikia-interactive-map-thumbnail" data-component="article-media-map-thumbnail" data-attrs="{{mercuryComponentAttrs}}"><a class="wikia-interactive-map-link" href="{{map.href}}" data-map-id="{{map.id}}" data-map-title="{{map.title}}" data-map-url="{{map.url}}"><img src="{{map.imagePlaceholder}}" alt="{{map.title}}" data-src="{{map.image}}"/><figcaption><p>{{map.title}}</p><span class="view">{{view}}</span></figcaption></a></figure>