<header class="page-header wikia-interactive-maps-page-header">
	<h1>{{title}}</h1>
	{{#mapFound}}{{{menu}}}{{/mapFound}}
</header>
{{#mapFound}}
<div class="wikia-interactive-map-wrapper">
	<div class="wikia-ad wikia-ad-interactive-map hidden" data-map-id="{{mapId}}">
	</div>
	<div class="wikia-interactive-map">
		<iframe name="wikia-interactive-map" width="100%" height="{{#height}}{{height}}{{/height}}{{^height}}100%{{/height}}" data-mapid="{{mapId}}" data-url="{{url}}"></iframe>
	</div>
</div>
{{/mapFound}}
{{^mapFound}}
	<p>{{messages.wikia-interactive-maps-map-not-found-error}}</p>
{{/mapFound}}
