<header class="page-header wikia-interactive-maps-page-header">
	<h1>{{title}}</h1>
	{{#mapFound}}{{{menu}}}{{/mapFound}}
</header>
{{#mapFound}}
<div class="wikia-interactive-map-wrapper">
	<div class="wikia-interactive-map">
        {{#notEmpty}}
            {{#poiCategories}}
				<h2>{{name}}</h2>
                {{#hasPois}}
					<dl>
                        {{#pois}}
							<dt>{{#link}}<a href="{{link}}">{{/link}}{{{name}}}{{#link}}</a>{{/link}}</dt>
							<dd>{{{description}}}</dd>
                        {{/pois}}
					</dl>
                {{/hasPois}}
            {{/poiCategories}}
        {{/notEmpty}}
	</div>
</div>
{{/mapFound}}
{{^mapFound}}
	<p>{{messages.wikia-interactive-maps-map-not-found-error}}</p>
{{/mapFound}}
