<figure class="wikia-interactive-map-thumbnail"><div class="wikia-ad wikia-ad-interactive-map hidden" data-map-id="{{map.id}}"></div><a data-map-id="{{map.id}}" data-map-title="{{map.title}}" data-map-url="{{map.url}}" title="{{map.title}}"><img src="{{map.image}}" alt="{{map.title}}" width="{{params.width}}" height="{{params.height}}" /><figcaption><div><p>{{map.title}}</p><span><img src="{{avatarUrl}}" alt="{{created_by}}" width="20" height="20" />{{created_by}}</span></div><span class="view">{{view}}</span></figcaption></a></figure>
