@import 'extensions/wikia/Venus/styles/variables';
@import 'extensions/wikia/Venus/styles/mixins';

$nav-font-color: #092140;
$new-border-color: #c7d1d8;

/*
#bubbles_count {
	text-align: right;
	float: right;
}

#WallNotificationsVenus {

	li {
		height: auto;
		padding: 0;
		a {
			height: auto;
		}
	}
	li:hover {
		@include clear-linear-gradient;
	}
	.bubbles {
		display: none;
	}

		> li:first-child,
		> li:nth-child(2) {
			border: none;
		}

		li {
			border-top: 1px solid $new-border-color;
			width: auto;
			a:hover {
				@include clear-box-shadow;
			}
		}

		.empty-notifications {
			display: none;
		}

		.notifications-header {
			background-color: $nav-font-color;
			padding: 23px 20px 17px;

			&:hover {
				background-color: $nav-font-color !important;
			}

			span {
				background-color: inherit;
				color: $nav-background-color;
				font-size: 15px;
				line-height: 1;
				padding: 0;
			}

			#wall-notifications-markasread {
				right: 14px;
				top: 23px;
			}

			#wall-notifications-markasread-sub {
				color: $nav-background-color;
			}

			#wall-notifications-markasread-this-wiki {
				color: $new-border-color;
				font-size: 15px;
			}
		}

		.notifications-for-wiki.show {
			.notifications-wiki-header {
				background-image: url(/skins/oasis/images/GlobalNavigation/chevron_up.png); /* $wgCdnStylePath /
			}
		}

		.notifications-wiki-header {
			background: #e2e6e9 no-repeat url(/skins/oasis/images/GlobalNavigation/chevron_down.png) 298px 50%; /* $wgCdnStylePath /
			color: $dropdown-font-color;
			font-weight: bold;
			padding: 20px;
			.chevron {
				display: none;
			}
		}

		.notifications-wiki-count-container {
			display: none;
		}

		.notifications-for-wiki-list a {
			background-color: #f4f6f7;
			display: block;
			&:hover {
				background-color: $nav-background-color !important;
			}

			.msg-title {
				color: $nav-font-color;
				font-size: 15px;
				width: auto;
			}
			.msg-body {
				color: $nav-font-color;
				font-size: 15px;
				width: auto;
			}
			.timeago {
				color: $new-border-color;
				font-size: 12px;
				width: auto;
			}
			.notification {
				@include width-calc('100% - 65px');
				line-height: 22px;
			}
		}

}
*/


.bubbles {
	background-color: #fff;
	border-radius: 50%;
	height: 20px;
	left: -6px;
	position: absolute;
	top: -6px;
	width: 20px;
}

.bubbles-count {
	background-color: red;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	left: 2px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 16px;
}

#notifications {
	position: relative;

	> a > span {
		float: right;
	}
}

#WallNotificationsVenus {
	@include grid-position('large', 2, 'right', $large-content-padding - 2);
	@include grid-column-width('large', 4, $large-content-padding);
	background-color: #fff;
	border: 1px solid #c7d1d8;
	border-top: 0;
	position: absolute;

	header {
		height: 51px;
		font-weight: bold;
		padding: 15px 20px;
	}

	.notifications-header {
		background-color: $nav-font-color;
		color: $new-border-color;
		padding-bottom: 0px;
	}

	.notifications-markasread {
		float: right;
		font-size: 12px;
		font-weight: normal;
		text-align: right;

		span {
			margin-left: 10px;
		}
	}

	.notifications-for-wiki {
		&.show {
			.chevron {
				border-top: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #c7d1d8;
			}

			.notifications-wiki-header:hover .chevron {
				border-bottom-color: #2b54b5;
			}

			.notifications-for-wiki-list {
				display: block;
			}
		}

		.chevron {
			float: right;
			margin-top: 10px;
		}

		.notifications-wiki-header {
			background-color: #e2e6e9;
			border-top: 1px solid $new-border-color;
			color: #2b54b5;

			&:hover .chevron {
				border-top-color: #2b54b5;
			}
		}

		.notifications-for-wiki-list {
			display: none;

			a {
				color: $nav-font-color;
				text-decoration: none;
			}
		}
	}

	.notification {
		border-top: 1px solid $new-border-color;
		line-height: 22px;
		padding: 20px 0;
		position: relative;

		.notification-message {
			@include grid-column-width('large', 3);
			display: inline-block;
		}

		.avatars {
			@include grid-column-width('large', 1);
			display: inline-block;
			vertical-align: top;
			text-align: center;
		}

		h4 {
			font-size: 15px;
			font-weight: bold;
		}

		time {
			color: $new-border-color;
			font-size: 12px;
		}

		&.empty, &.admin-notification {
			padding: 20px;
		}

		&.admin-notification:before {
			border-left: 10px solid $nav-font-color;
			display:block;
			content:".";
			color:transparent;
			height:100%;
			position:absolute;
			left:0;
			padding-top:1px;
			top: 0;
		}

		&.read {
			h4, .avatars {
				opacity: 0.7;
			}
		}

		&:hover {
			background-color: #eef1f3;

			h4, .avatars {
				opacity: 1;
			}
		}
	}
}

@media #{$small-only} {
	#WallNotificationsVenus {
		@include grid-position('small', 3, 'right', $small-content-padding - 1);
		@include grid-column-width('small', 6, $small-content-padding);

		.avatars {
			@include grid-column-width('small', 1);
		}

		.notification-message {
			@include grid-column-width('small', 5);
		}
	}
}

@media #{$medium-only} {
	#WallNotificationsVenus {
		@include grid-position('medium', 2, 'right', $medium-content-padding - 1);
		@include grid-column-width('medium', 4, $medium-content-padding);

		.avatars {
			@include grid-column-width('medium', 1);
		}

		.notification-message {
			@include grid-column-width('medium', 3);
		}
	}
}
