@import "skins/shared/color";
@import "skins/shared/mixins/box-shadow";

#WallNotificationsReminder {
	@include box-shadow(0px, 2px, 5px, darken($color-page,12%), 0, 0);
	background: $color-page;
	border: 1px solid $color-page-border;
	border-radius: 3px;
	@if $is-dark-wiki {
		@include box-shadow(0px, 2px, 5px, darken($color-page,7%), 0, 0);
		background: $color-module-background;
	}
	position: fixed;
	top: 20px;
	right: 20px;
	color: $color-links;
	padding: 10px;
	display: none;
	span {
		width: 1em;
		overflow: hidden;
	}
	a {
		cursor: pointer;
	}
}