<nav id="toc" class="toc" data-loaded="false"><div id="toctitle"><h2>{{tocHeader}}</h2><span class="toctoggle">[<a href="#" class="internal" id="togglelink" data-show="{{show}}" data-hide="{{hide}}">{{show}}</a>]</span></div><ol></ol></nav>
