{{#sections}}<li>
	<a href="#{{id}}">{{title}}</a>
	{{#wrapper}}{{#sections}}
	<li>
		<a href="#{{id}}">{{title}}</a>
		{{#wrapper}}{{#sections}}
		<li>
            <a href="#{{id}}">{{title}}</a>
            {{#wrapper}}{{#sections}}
            <li><a href="#{{id}}">{{title}}</a></li>
            {{/sections}}{{/wrapper}}
        </li>
        {{/sections}}{{/wrapper}}
	</li>
	{{/sections}}{{/wrapper}}
</li>{{/sections}}
