<nav id="toc" class="toc"><div id="toctitle"><h2>Content</h2><span class="toctoggle">[<a href="#" class="internal" id="togglelink" data-show="show" data-hide="hide">show</a>]</span></div><ol></ol></nav>