/*
	Main stylesheet for the filtered query printer
*/


.filtered { 
    height: 100%;
}

.filtered-filters { 
    height: 40%;
	overflow: auto;
	border: 1px solid #aaa;
	margin: 1em;
	position: relative;
	top: 0;
	left: 0;
}

.filtered-views { 
    height: 60%;
	overflow: auto;
	border: 1px solid #aaa;
	padding: 1em;
	margin: 1em;
}

