{{#isText}}
<!--<span class="wordmark text {{textSize}} {{textFont}}"><a href=""{{wikiUrl}}>{{text}}</a></span> -->
{{/isText}}
{{#isGraphic}}
<span class="wordmark graphic {{textSize}} {{textFont}}"><img src="{{imageUrl}}" alt="{{text}}" width="200" /></span><br />
{{/isGraphic}}
