<div class='striped-title'><span>Preview</span></div>
<div id='wkPreviewWindow'>
    <span class='preview-loader'></span>
</div>
<div id='wpPreviewActions' class='action-box'>
    <div class='flex-wrapper'>
        <input type='text' name='wkSummary' id='wkSummary' placeholder='What did you change (Optional)?'></input>
        <button id='wkContinueEditing' class='wkButn gray'>Keep Editing</button>
        <button id='wkSave' class='wkButn blue'>Publish</button>
    </div>
    <p class='license-brief'>Contributions licensed as <a href='http://community.wikia.com/wiki/Community_Central:Licensing'>CC-BY-SA</a>.</p>

</div>
