<section class=tag-section>
	<h2 class=collSec>{{name}}</h2>
	<ul class="artSec" id=custom>
	</ul>
	<input type=text placeholder='Abbreviation' id='custAbbr' class='cust-field'></input>
	<input type=text placeholder='Tag' id='custTag' class='cust-field'></input>
	<button id=addCustom class='add-custom'>Add</button>
	<button id=clearCustom class='clear-custom'>Clear Custom Tags</button>
</section>


