<div class='striped-title'><span>Preview</span></div>
<div id='wpPreviewWindow'>
    <span class='preview-loader'></span>
</div>
<div id='wpPreviewActions' class='action-box'>
    <input type='text' name='wpSummary' id='wpSummary' placeholder='What did you change (Optional)?'></input>
    <button id='wpContinueEditing' class='wkButn gray'>Keep Editing</button>
    <button id='wpSave' class='wkButn blue'>Publish</button>
    <p class='license-brief'>Contributions licensed as <a href='http://community.wikia.com/wiki/Community_Central:Licensing'>CC-BY-SA</a>.</p>
</div>
