<div class='wrapper fancy'>
            <div class ='shadow'></div>
            <div class='container left' id='menuLeft' style='bottom:60px'>
                <button type='button' class='cn-button master touchable'>+</button>
                <ul class="cn-wrapper primary minified">
                    <li class="menuItem touchable rotL1" data-tag="''_$''">
                        <a class="rotBackL1" href="#">B</a>
                    </li>
                    <li class="menuItem touchable rotL2" data-tag="'''_$'''">
                        <a class="rotBackL2" href="#">I</a>
                    </li>
                    <li class="menuItem touchable rotL3" data-tag="<sup>_$</sup>">
                        <a class="rotBackL3" href="#">SUP</a>
                    </li>
                    <li class="menuItem touchable rotL4" data-tag="<sub>_$</sub>">
                        <a class="rotBackL4" href="#">SUB</a>
                    </li>
                    <li class="menuItem touchable rotL5" data-tag="==_$==">
                        <a class="rotBackL5" href="#">H2</a>
                    </li>
                </ul>
                <ul class="cn-wrapper secondary minified">
                    <li class="menuItem touchable rotL1" data-tag="<small>_$</small>">
                        <a class="rotBackL1" href="#">SM</a>
                    </li>
                    <li class="menuItem touchable rotL2" data-tag="<blockquote>_$</blockquote>">
                        <a class="rotBackL2" href="#">QTE</a>
                    </li>
                    <li class="menuItem touchable rotL3" data-tag="[[_$]]">
                        <a class="rotBackL3" href="#">INT</a>
                    </li>
                    <li class="menuItem touchable rotL4" data-tag="[http:/_$ title]">
                        <a class="rotBackL4" href="#">EXT</a>
                    </li>
                    <li class="menuItem touchable rotL5" data-tag="[[File:_$]]">
                        <a class="rotBackL5" href="#">FILE</a>
                    </li>
                </ul>
            </div>

            <div class ='container right' id='menuRight' style='bottom:60px'>
                <button type='button' class='cn-button master touchable'>+</button>
                <ul class="cn-wrapper primary minified">
                    <li class="menuItem touchable rotR1" data-tag="[[Media:_$]]">
                        <a class="rotBackR1" href="#">MED</a>
                    </li>
                    <li class="menuItem touchable rotR2" data-tag="<math>_$</math>">
                        <a class="rotBackR2" href="#">MATH</a>
                    </li>
                    <li class="menuItem touchable rotR3" data-tag="<nowiki>_$</nowiki>">
                        <a class="rotBackR3" href="#">IGN</a>
                    </li>
                    <li class="menuItem touchable rotR4" data-tag="~~~~">
                        <a class="rotBackR4" href="#">USR</a>
                    </li>
                    <li class="menuItem touchable rotR5" data-tag="----">
                        <a class="rotBackR5" href="#">HRZL</a>
                    </li>
                </ul>
                <ul class="cn-wrapper secondary minified">
                    <li class="menuItem touchable rotR1" data-tag="<strike>_$</strike>">
                        <a class="rotBackR1" href="#">STR</a>
                    </li>
                    <li class="menuItem touchable rotR2" data-tag="<!--_$-->">
                        <a class="rotBackR2" href="#">HDN</a>
                    </li>
                    <li class="menuItem touchable rotR3" data-tag="[[Category:_$]]">
                        <a class="rotBackR3" href="#">CAT</a>
                    </li>
                    <li class="menuItem touchable rotR4" data-tag="REDIRECT[[_$]]">
                        <a class="rotBackR4" href="#">RED</a>
                    </li>
                    <li class="menuItem touchable rotR5" data-tag="<ref>_$</ref>">
                        <a class="rotBackR5" href="#">REF</a>
                    </li>
                </ul>
            </div>
        </div>
<ul class='suggestionBox off' id='suggestionBox'>
    <li class='suggestion off'></li>
    <li class='suggestion off'></li>
    <li class='suggestion off'></li>
</ul>
<section class='tagListWrapper'></section>