{{#tags}}
<section class=tagSection>
	<h2 class=collSec>{{name}}</h2>
	<ul class="artSec">
		{{#tags}}
            <li>
                <input type=checkbox id={{short}}>
                <label for={{short}}> {{name}} <small>!{{short}}!</small></label>
                <a href=# class=tagLink data-tag={{tag}}> ↳ </a>
            </li>
		{{/tags}}
	</ul>
</section>
{{/tags}}

