<div id='wkMobileInputs' class='action-box'>
	<a href='{{articleUrl}}' id='wkMobileCancel' class='wkButn gray'>{{cancel}}</a>
	<button id="wkPreview" name="wpPreview" class='wkButn blue'>{{preview}}</button>
</div>
