<div id='wkMobileInputs' class='action-box fixed'>
	<a href='{{articleUrl}}' id='wkMobileCancel' class='wkButn gray'>{{cancel}}</a>
	<button id="wkPreview" name="wpPreview" class='wkButn blue'>{{preview}}</button>
</div>
<div id=previewTemplate>
	<span>{{preview}}</span>
	<div id='wkPreviewActions' class='action-box'>
		<input id='wkSummary' placeholder='{{summaryPlaceholder}}'></input>
		<button id='wkContinueEditing' class='wkButn gray'>{{keepEditing}}</button>
		<button id='wkSave' class='wkButn blue'>{{publish}}</button>
		<p class='license-brief'>{{licensing}} <a href='http://community.wikia.com/wiki/Community_Central:Licensing' target=_blank >{{licensingType}}</a></p>
	</div>
</div>
