body {
	background: #3b0902;
	color: #000;
}
.accent {
	background-color: #f9eac1;
	border-color: #AAA;
	color: #333;
}
#header {
	background: #5d1b01;
	border-bottom: 1px solid #ffcb3b;
}
#progress li {
	color: #AAA;
}
#progress li.selected {
	background: #3b0902;
	color: #ffcb3b;
}
h1.headline {
	background: #ffcb3b;
	color: #333;
}
.wrapper {
	background-color: #FFF;
	border-color: #AAA;
}
.nav {
	color: #CCC;
}
.nav a {
	color: #FFF;
}
