@charset "UTF-8";
@import "extensions/wikia/Venus/styles/mixins";
@import "extensions/wikia/Venus/styles/variables";

@font-face {
	font-family: 'venus-icons-font';
	src: url('/extensions/wikia/Venus/styles/fonts/venus-icons.eot'); /* $wgCdnStylePath */
	src: url('/extensions/wikia/Venus/styles/fonts/venus-icons.eot?#iefix') format('embedded-opentype'), /* $wgCdnStylePath */
		url('/extensions/wikia/Venus/styles/fonts/venus-icons.woff') format('woff'), /* $wgCdnStylePath */
		url('/extensions/wikia/Venus/styles/fonts/venus-icons.svg#venus-icons-font') format('svg'); /* $wgCdnStylePath */
	font-weight: normal;
	font-style: normal;
}

.venus-icon:before,
[data-venus-icon]:before {
	@include venus-icons-font;
}

[data-venus-icon]:before {
	content: attr(data-venus-icon);
}

.venus-icon-toc:before {
	content: $venus-icon-toc;
}
.venus-icon-edit:before {
	content: $venus-icon-edit;
}
.venus-icon-settings:before {
	content: $venus-icon-settings;
}
.venus-icon-share:before {
	content: $venus-icon-share;
}
.venus-icon-reddit:before {
	content: $venus-icon-reddit;
}
.venus-icon-facebook:before {
	content: $venus-icon-facebook;
}
.venus-icon-twitter:before {
	content: $venus-icon-twitter;
}
.venus-icon-googleplus:before {
	content: $venus-icon-googleplus;
}
.venus-icon-tumblr:before {
	content: $venus-icon-tumblr;
}
.venus-icon-pinterest:before {
	content: $venus-icon-pinterest;
}
.venus-icon-vkontakte:before {
	content: $venus-icon-vkontakte;
}
.venus-icon-qzone:before {
	content: $venus-icon-qzone;
}


.venus-icon-toc-negative:before {
	content: $venus-icon-toc-negative;
}
.venus-icon-edit-negative:before {
	content: $venus-icon-edit-negative;
}
.venus-icon-settings-negative:before {
	content: $venus-icon-settings-negative;
}
.venus-icon-share-negative:before {
	content: $venus-icon-share-negative;
}
.venus-icon-reddit-negative:before {
	content: $venus-icon-reddit-negative;
}
.venus-icon-facebook-negative:before {
	content: $venus-icon-facebook-negative;
}
.venus-icon-twitter-negative:before {
	content: $venus-icon-twitter-negative;
}
.venus-icon-googleplus-negative:before {
	content: $venus-icon-googleplus-negative;
}
.venus-icon-tumblr-negative:before {
	content: $venus-icon-tumblr-negative;
}
.venus-icon-pinterest-negative:before {
	content: $venus-icon-pinterest-negative;
}
.venus-icon-vkontakte-negative:before {
	content: $venus-icon-vkontakte-negative;
}
.venus-icon-qzone-negative:before {
	content: $venus-icon-qzone-negative;
}
.venus-icon-cross-negative:before {
	content: $venus-icon-cross-negative;
}

.venus-icon-photo:before {
	content: $venus-icon-photo;
}
.venus-icon-link:before {
	content: $venus-icon-link;
}
.venus-icon-movie:before {
	content: $venus-icon-movie;
}
.venus-icon-brackets:before {
	content: $venus-icon-brackets;
}
.venus-icon-b:before {
	content: $venus-icon-b;
}
.venus-icon-i:before {
	content: $venus-icon-i;
}
.venus-icon-eye:before {
	content: $venus-icon-eye;
}
.venus-icon-back:before {
	content: $venus-icon-back;
}

.venus-icon-edit-large:before {
	content: $venus-icon-edit-large;
}

.venus-icon-upload-image:before {
	content: $venus-icon-upload-image
}
