<div class="content-review-toolbar">
	<h3 class="content-review-toolbar-title">{{toolbarTitle}}</h3>
	<button id="content-review-diff-button-approve" class="content-review-diff-button" data-wiki-id="{{wikiId}}" data-page-id="{{pageId}}" data-status="{{approveStatus}}">
		{{buttonApproveText}}
	</button>
	<button id="content-review-diff-button-reject" class="content-review-diff-button"  data-wiki-id="{{wikiId}}" data-page-id="{{pageId}}" data-status="{{rejectStatus}}">
		{{buttonRejectText}}
	</button>
	<div class="content-review-toolbar-links">
		<a href="{{talkpageUrl}}" target="_blank" class="button secondary content-review-toolbar-link">{{talkpageLinkText}}</a>
		<a href="{{guidelinesUrl}}" target="_blank" class="content-review-toolbar-link">{{guidelinesLinkText}}</a>
	</div>
</div>
