<div id="recirculation-footer-index-container">
	<div id="recirculation-impactFooter-container"></div>
	<div id="recirculation-footer-container"></div>
	<!-- todo move this to proper place -->
	<div class="mcf-card mcf-card-ns-stream" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://vignette.wikia.nocookie.net/c4dd477f-8123-4fec-9c55-487536c414b6/zoom-crop/width/640/height/360);">
		<span class="mcf-card-ns-stream__title">
			HBO hit show “Girls” Continues It Dominance
		</span>
		<a href="#" class="wds-button wds-is-squished">Explore posts</a>
	</div>
	<div class="mcf-card mcf-card-topic" style="background-image: url(https://vignette.wikia.nocookie.net/c4dd477f-8123-4fec-9c55-487536c414b6/zoom-crop/width/640/height/360);">
		<div class="mcf-card-topic__overlay">
			<span class="mcf-card-topic__title">
				Games
			</span>
			<a href="#" class="wds-button wds-is-squished wds-is-secondary">Explore</a>
		</div>
	</div>
    <div> ----- </div>
	<div class="mcf-card-wiki-article" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">
		<a class="mcf-card-wiki-article__title">
			Everything You Need to Know About ‘Iron Fist’ (1:36)
		</a>
		<a class="mcf-card-wiki-article__subtitle">
			Marvel Wiki
		</a>
	</div>
	<div> ----- </div>
	<div class="mcf-card-wiki-article" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">
		<div class="mcf-card-wiki-article__is-video">
			<svg class="play-icon" width="34" height="34" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19.69 12.6L5.143 22.867a.722.722 0 0 1-.753.05.733.733 0 0 1-.391-.65V1.733c0-.274.15-.524.391-.65a.724.724 0 0 1 .753.05l14.545 10.266a.734.734 0 0 1 0 1.201z" fill-rule="evenodd"/></svg>
		</div>
		<a class="mcf-card-wiki-article__title">
			Everything You Need to Know About ‘Iron Fist’ (1:36)
		</a>
		<a class="mcf-card-wiki-article__subtitle">
			Marvel Wiki
		</a>
	</div>
</div>
