<div id="recirculation-footer-index-container">
	<div id="recirculation-impactFooter-container"></div>
	<div id="recirculation-footer-container"></div>
	<!-- todo move this to proper place -->
	<a href="#" class="mcf-card mcf-card-ns-stream" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">
		<span class="mcf-card-ns-stream__title">
			HBO hit show “Girls” Continues It Dominance
		</span>
		<div class="wds-button wds-is-squished wds-is-secondary">Explore posts</div>
	</a>
	<hr>
	<a href="#" class="mcf-card mcf-card-topic" style="background-image: url(https://unsplash.it/400);">
		<div class="mcf-card-topic__overlay">
			<span class="mcf-card-topic__title">
				Games
			</span>
			<div class="wds-button wds-is-squished wds-is-secondary">Explore</div>
		</div>
	</a>
	<hr>
	<a href="#" class="mcf-card mcf-card-wiki-article" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">
		<span class="mcf-card-wiki-article__title">
			Everything You Need to Know About ‘Iron Fist’ (1:36)
		</span>
		<span class="mcf-card-wiki-article__subtitle">
			Marvel Wiki
		</span>
	</a>
	<hr>
	<a href="#" class="mcf-card mcf-card-wiki-article" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">

		<div class="mcf-card-wiki-article__video">
			<svg class="mcf-card-wiki-article__video-icon" width="34" height="34" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19.69 12.6L5.143 22.867a.722.722 0 0 1-.753.05.733.733 0 0 1-.391-.65V1.733c0-.274.15-.524.391-.65a.724.724 0 0 1 .753.05l14.545 10.266a.734.734 0 0 1 0 1.201z" fill-rule="evenodd"/></svg>
		</div>
		<span class="mcf-card-wiki-article__title">
			Everything You Need to Know About ‘Iron Fist’ (1:36)
		</span>
		<span class="mcf-card-wiki-article__subtitle">
			Marvel Wiki
		</span>
	</a>
	<hr>
	<div class="mcf-card mcf-card-related-wikis">
		<header class="mcf-card-related-wikis__header">
			Explore Wikis
		</header>
		<ul class="mcf-card-related-wikis__list">
			<li class="mcf-card-related-wikis__item">
				<a href="#" class="mcf-card-related-wikis__item-link">
					<img src="http://via.placeholder.com/125x70">
					<div>
						<span class="mcf-card-related-wikis__title">Twin Peaks Wiki</span>
						<span class="mcf-card-related-wikis__subtitle">240 recent edits</span>
					</div>
				</a>
			</li>
			<li class="mcf-card-related-wikis__item">
				<a href="#" class="mcf-card-related-wikis__item-link">
					<img src="http://via.placeholder.com/125x70">
					<div>
						<span class="mcf-card-related-wikis__title">Twin Peaks Wiki</span>
						<span class="mcf-card-related-wikis__subtitle">240 recent edits</span>
					</div>
				</a>
			</li>
			<li class="mcf-card-related-wikis__item">
				<a href="#" class="mcf-card-related-wikis__item-link">
					<img src="http://via.placeholder.com/125x70">
					<div>
						<span class="mcf-card-related-wikis__title">Twin Peaks Wiki</span>
						<span class="mcf-card-related-wikis__subtitle">240 recent edits</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<hr>
	<div class="mcf-card mcf-card-wiki-articles">
		<header class="mcf-card-wiki-articles__header" style="background-image: url(https://vignette3.wikia.nocookie.net/fallout/images/0/0e/Community-header-background/revision/latest/zoom-crop/width/471/height/115?cb=20170613080314);">
			<span class="mcf-card-wiki-articles__header-text">More Marvel</span>
		</header>
		<ul class="mcf-card-wiki-articles__list">
			<li class="mcf-card-wiki-articles__item">
				<a href="#" class="mcf-card-wiki-articles__item-link">
					<span class="mcf-card-wiki-articles__circle">1</span>
					<span class="mcf-card-wiki-articles__title">Stephen Strange (Earth-616)</span>
				</a>
			</li>
			<li class="mcf-card-wiki-articles__item">
				<a href="#" class="mcf-card-wiki-articles__item-link">
					<span class="mcf-card-wiki-articles__circle">2</span>
					<span class="mcf-card-wiki-articles__title">Stephen Strange (Earth-616)</span>
				</a>
			</li>
			<li class="mcf-card-wiki-articles__item">
				<a href="#" class="mcf-card-wiki-articles__item-link">
					<span class="mcf-card-wiki-articles__circle">3</span>
					<span class="mcf-card-wiki-articles__title">Stephen Strange (Earth-616)</span>
				</a>
			</li>
		</ul>
	</div>
</div>
