<div class="mcf-card mcf-card-wiki-articles">
	<header class="mcf-card-wiki-articles__header"{{#communityHeaderBackground}} style="background-image: url({{communityHeaderBackground}});"{{/communityHeaderBackground}}>
	<span class="mcf-card-wiki-articles__header-text">{{recirculationArticlesMore}} {{sitename}}</span>
	</header>
	<ul class="mcf-card-wiki-articles__list">
		<li class="mcf-card-wiki-articles__item">
			<a href="#" class="mcf-card-wiki-articles__item-link">
				<span class="mcf-card-wiki-articles__circle">1</span>
				<span class="mcf-card-wiki-articles__title">Stephen Strange (Earth-616)</span>
			</a>
		</li>
		<li class="mcf-card-wiki-articles__item">
			<a href="#" class="mcf-card-wiki-articles__item-link">
				<span class="mcf-card-wiki-articles__circle">2</span>
				<span class="mcf-card-wiki-articles__title">Stephen Strange (Earth-616)</span>
			</a>
		</li>
		<li class="mcf-card-wiki-articles__item">
			<a href="#" class="mcf-card-wiki-articles__item-link">
				<span class="mcf-card-wiki-articles__circle">3</span>
				<span class="mcf-card-wiki-articles__title">Stephen Strange (Earth-616)</span>
			</a>
		</li>
	</ul>
</div>
