<section class="module discussion-module discussion-test">
  <h2 class="discussion-title">{{ title }}</h2>
  <a class="discussion-link" href="{{ discussionsUrl }}">{{ linkText }} {{> arrow}}</a>
  <ul class="discussion-threads">
    {{#posts}}
      <li class="discussion-thread" data-link="{{ url }}">
        <div class="discussion-author">
          <img src="{{meta.authorAvatarUrl}}" class="discussion-author-avatar" />
          <h4>{{author}}</h4>
          <span class="subtext">&#183; <time class="discussion-timestamp" datetime="{{pub_date}}"></time></span>
        </div>
        <p class="discussion-content">{{title}}</p>
        <div class="discussion-meta">
          <div class="discussion-upvotes-container">
              {{> upvotes}}
              <span class="subtext">{{meta.upvoteCount}}</span>
          </div>
          <div class="discussion-comments-container">
            {{> comments}}
            <span class="subtext">{{meta.postCount}}</span>
          </div>
        </div>
      </li>
    {{/posts}}
  </ul>
</section>