<a href="#" class="mcf-card mcf-card-topic" style="background-image: url(https://unsplash.it/400);">
	<div class="mcf-card-topic__overlay">
			<span class="mcf-card-topic__title">
				Games
			</span>
		<div class="wds-button wds-is-squished wds-is-secondary">{{recirculationExplore}}</div>
	</div>
</a>
