<a href="#" class="mcf-card mcf-card-wiki-article"
   style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url(https://unsplash.it/400);">
	<span class="mcf-card-wiki-article__title">
		Everything You Need to Know About ‘Iron Fist’ (1:36)
	</span>
	<span class="mcf-card-wiki-article__subtitle">
		Marvel Wiki
	</span>
</a>
