<div class="mcf-card mcf-card-related-wikis">
	<header class="mcf-card-related-wikis__header">
		Explore Wikis
	</header>
	<ul class="mcf-card-related-wikis__list">
		<li class="mcf-card-related-wikis__item">
			<a href="#" class="mcf-card-related-wikis__item-link">
				<img src="http://via.placeholder.com/100x56" class="mcf-card-related-wikis__item-image">
				<div>
					<span class="mcf-card-related-wikis__title">Twin Peaks Wiki</span>
					<span class="mcf-card-related-wikis__subtitle">240 recent edits</span>
				</div>
			</a>
		</li>
		<li class="mcf-card-related-wikis__item">
			<a href="#" class="mcf-card-related-wikis__item-link">
				<img src="http://via.placeholder.com/100x56" class="mcf-card-related-wikis__item-image">
				<div>
					<span class="mcf-card-related-wikis__title">Twin Peaks Wiki</span>
					<span class="mcf-card-related-wikis__subtitle">240 recent edits</span>
				</div>
			</a>
		</li>
		<li class="mcf-card-related-wikis__item">
			<a href="#" class="mcf-card-related-wikis__item-link">
				<img src="http://via.placeholder.com/100x56" class="mcf-card-related-wikis__item-image">
				<div>
					<span class="mcf-card-related-wikis__title">Twin Peaks Wiki</span>
					<span class="mcf-card-related-wikis__subtitle">240 recent edits</span>
				</div>
			</a>
		</li>
	</ul>
</div>