@import "skins/oasis/css/core/color.scss";
@import "skins/oasis/css/core/layout.scss";
@import "skins/oasis/css/mixins/blackout.scss";
@import "skins/oasis/css/mixins/box-shadow.scss";
@import "skins/oasis/css/mixins/box-sizing.scss";
@import "skins/oasis/css/mixins/transition.scss";

$drawer-base-z-index: $zTop + 10;
$drawer-close-image: '/resources/wikia/ui_components/drawer/images/cross.png';
$drawer-shadow-size: 15px;
$drawer-text-color: #0e5ea3;
$drawer-width: 250px;
$subdrawer-width: 225px;

.drawer,
.subdrawer,
.drawer-blackout {
	@include transition-shorthand(all 0.2s ease-in-out);
}

.drawer,
.subdrawer {
	@include box-shadow(0px, 0px, $drawer-shadow-size, #808080);//$color-page-shadow);
	@include box-sizing;

	background: $color-page;
	bottom: 25px;
	color: $drawer-text-color;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;

	&.fixed {
		position: fixed;
	}

	&.open {
		opacity: 1;
	}
}

.drawer {
	padding: 10px;
	width: $drawer-width;
	z-index: $drawer-base-z-index;

	&.left {
		left: -$drawer-width - $drawer-shadow-size;

		&.open {
			left: 0;
		}
	}
	&.right {
		right: -$drawer-width - $drawer-shadow-size;

		&.open {
			right: 0;
		}
	}

	.close-button {
		background: url($drawer-close-image); /* $wgCdnStylePath */
		background-position: 0 3px;
		background-repeat: no-repeat;
		cursor: pointer;
		font-size: 12px;
		line-height: 20px;
		margin: 4px 0 25px 5px;
		padding-left: 20px;
		text-transform: uppercase;
		vertical-align: middle;

	}
}

.subdrawer {
	padding: 25px;
	width: $subdrawer-width;
	z-index: $drawer-base-z-index - 1;

	&.left {
		left: 0;

		&.hidden {
			left: -$drawer-width - $drawer-shadow-size;
		}

		&.open {
			left: $drawer-width;
		}
	}
	&.right {
		right: 0;

		&.hidden {
			right: -$drawer-width - $drawer-shadow-size;
		}

		&.open {
			right: $drawer-width;
		}
	}

}

.drawer-blackout {
	@include blackout();
	background: transparent;
	visibility: hidden;
	z-index: $drawer-base-z-index - 2;

	&.visible {
		visibility: visible;
	}
}
