<script type="text/html" id="reflect_template_new_bullet_dialog">
<![CDATA[
	<div class="new_bullet_prompt">
      <ul>   
         <li class="elicitation">Add a point that <%= this.commenter %> makes...</li>
         <li class="count">
               <a title="Please limit your bullet to 140 characters or less."><span class="count"></span></a>
         </li>
      </ul>
   </div>
	<table class="new_bullet_wrapper reflect">
		<tr>
			<td class="new_bullet_text_wrap">
				<textarea class="new_bullet_text"><% if (this.txt) %><%= this.txt %></textarea>  
			</td>
			<td class="submit_buttons">
				<div><button class="cancel_bullet"><img src="<%= this.media_dir %>/cancel2.png" ></button></div>
			</td>
		</tr>
		<tr class="submit_footer">
			<td> 
			<ul>
				<li class="submit">
					<button class="bullet_submit">Done</button>
				</li>
				<li class="be_neutral">
					<a title="Someone else reading your summary bullet point should not be able to tell whether YOU agree or disagree it.">
                  don't respond, <span class="big_word">summarize</span>
               </a>
				</li>					   
			</ul>
			</td> 
		</tr>
	</table>	

]]>
</script>

<script type="text/html" id="reflect_template_bullet_highlight">
<![CDATA[
	<tbody>
		<tr>
			<td class="new_bullet_text_wrap connect_directions">Please click the relevant sentences</td>
			<td class="submit_buttons">
				<div>
					<button class="cancel_bullet">
						<img src="<%= this.media_dir %>/cancel2.png">
					</button>
				</div>
			</td>
		</tr>
		<tr class="submit_footer">
			<td>
				<ul>
					<li class="submit">
						<button class="bullet_submit">Done</button>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
]]>
</script>

<script type="text/html" id="reflect_template_new_response">
<![CDATA[
   		<ul class="rebutt_list" >
   			<li class="img">
               <% if(this.sig == "2") { %>
			        <span class="response_yes">+</span>
               <% } else if(this.sig == "1") { %>
                    <span class="response_maybe">!</span> 
               <% } else if (this.sig == "0"){ %>
                    <span class="response_no">-</span>
			   <% } %>
			</li>
   			<li class="rebutt_txt"><%= this.text %>   <span class="username"><a class=user><%= this.user %></a></span></li>
   		</ul>
		<ul class="response_footer_wrapper">
		                <li class="modify_operation">
		                    <button class="modify">
		                        <a title="modify">
									<img class="base" src="<%= this.media_dir %>/edit.png">
									<img title="Modify" class="hover" src="<%= this.media_dir %>/edit_hover.png">
								</a>
		                    </button>
		                </li>
		                <li class="delete_operation">
		                    <button class="delete">
		                        <img class="base" src="<%= this.media_dir %>/delete_gray.png">
								<img title="Delete" class="hover" src="<%= this.media_dir %>/delete_red.png">
		                    </button>
		                </li>
		                <li class="dispute_operation">
		                    <span class="base">
								<img class="base" src="<%= this.media_dir %>/comment-flag.png">
								<img class=hover src="<%= this.media_dir %>/comment-flag-hover.png">
							</span>
		                    <ul class="bullet_report_problem">
		                        <li>not written neutrally</li>
		                    </ul>
		                </li>
		</ul>
		<div style="clear:both"></div>	
]]>
</script>



<script type="text/html" id="reflect_template_new_bullet_prompt">
<![CDATA[
       <button class="add_bullet" type="button">
            Add a point that <%= this.commenter %> makes
       </button>
]]>
</script>

<script type="text/html" id="reflect_template_response_dialog">
<![CDATA[
	<ul class="response_def">
		<li class="response_prompt">
         <label class="prompt">Did you make this point?</label>
			<ul class="response_eval">
				<li><input type="radio" name="accurate-<%=this.bullet_id %>" value="2" <% if(this.sig == "2"){ %> CHECKED <% } %>>Yes</li>
				<li><input type="radio" name="accurate-<%=this.bullet_id %>" value="1" <% if(this.sig == "1"){ %> CHECKED <% } %>>Kind of...</li>
				<li><input type="radio" name="accurate-<%=this.bullet_id %>" value="0" <% if(this.sig == "0"){ %> CHECKED <% } %>>No</li>
			</ul>
		</li>
		<li class=response_dialog>
		    <table class="new_bullet_wrapper reflect">
		        <tr>
		            <td class="new_bullet_text_wrap">
		                <textarea class="new_bullet_text"><% if(this.text) %><%= this.text %></textarea>  
		            </td>
		            <td class="submit_buttons">
		                <div>
							<button class="cancel_bullet">
								<img src="<%= this.media_dir %>/cancel2.png">
							</button>
						</div>
		            </td>
		        </tr>
		        <tr class="submit_footer">
		   			<td>
			            <ul>
		                	<li class="submit">
		                		<button class="bullet_submit">Done</button>
		                	</li>
		                    <li class="count">
		                        <a title="Please limit your response to 140 characters or less.">
									<span class="count"></span>
								</a>
		                    </li>
	                    </ul>
					</td>
               	</tr>
		    </table> 						
		</li>
	</ul>

]]>
</script>

<script type="text/html" id="reflect_template_bullet">
<![CDATA[
	   <div class="bullet_main">        
	      <ul class="bullet_main_wrapper">
	         <li class="bullet_text">
	              <%= this.bullet_text %>  <span class="username"><a class="user"><%= this.user %></a></span>  
	         </li>
	         <li class="bullet_footer_wrapper">
	             <ul class="bullet_operations">
	                 <li class="modify_operation">
	                     <button class="modify">
	                         <a title="modify">
	                             <img class="base" src="<%= this.media_dir %>/edit.png"></img> 
	                             <img title="Modify" class="hover" src="<%= this.media_dir %>/edit_hover.png"></img> 
	                         </a>
	                     </button>
	                 </li>
	                 <li class="delete_operation">
	                     <button class="delete">
	                         <a title="delete"> 
	                             <img class="base" src="<%= this.media_dir %>/delete_gray.png"></img> 
	                             <img title="Delete" class="hover" src="<%= this.media_dir %>/delete_red.png"></img> 
	                         </a>
	                     </button>
	                 </li>
	                 <li class="dispute_operation">
	                     <span class="bullet_prompt_problem">
	                         <img class="base" src="<%= this.media_dir %>/comment-flag.png"></img> 
	                         <img class="hover" src="<%= this.media_dir %>/comment-flag-hover.png"></img> 
	                     </span>
	                     <ul class="bullet_report_problem">
                                <li class="flag" name="input">not a summary</li>
	                         <li class="flag" name="neutral">not written neutrally</li>
	                         <li class="flag" name="accurate"><a class=user><%= this.commenter %></a> didn't say this</li>
	                         <li class="flag" name="duplicate">duplicate bullet</li>
	                     </ul>
	                 </li>
	             </ul>
	         </li>
	      </ul>
	      <div class="cl"></div> 
	  </div>
	  <div class="responses"><ul /></div>
]]>
</script>


