<ul id="PageShareToolbar">
{{#services}}
	<li class="page-share page-share-{{name}}" data-share-service="{{name}}">
		<a href="{{{href}}}" target="_blank" title="{{title}}">
			{{{icon}}}
		</a>
	</li>
{{/services}}
</ul>
