<ul id="PageShareToolbar" class="page-share-toolbar">
{{#services}}
	<li class="page-share page-share-{{name}}">
		<a href="{{{href}}}" target="_blank" title="{{title}}" data-share-service="{{name}}">
			{{{icon}}}
		</a>
	</li>
{{/services}}
</ul>
