.WikiaArticle {
	.wikiahubs-popular-videos {
		h2 {
			display: inline;
			border: none;
		}
		.title-wraper {
			display: block;
			width: 100%;
			border-bottom: 4px solid #D8E3E7;
			line-height: 30px;
		}
		#RelatedVideos {
			margin: 0;
		}
		.RVBody {
			.wrapper {
				width: 570px;
				.container {
					div.item, div.item:hover {
						margin: 11px;
						border: none;
						box-shadow: none;
					}
				}
			}
			.button.left {
				left: 623px;
			}
		}
	}
}

#relatehubsdvideos-video-player {
	.embedCode {
		margin: 30px 0 0 0;
		input {
			width: 650px;
		}
	}
}

/* temp transition code until grid is fully rolled out, remove and integrate after transition */
.WikiaPage.WikiaGrid .WikiaArticle {
	.wikiahubs-popular-videos {
		.button.left {
			left: 633px;
		}
		.scrollleft {
			left: 0;
		}
	}
}
/* end temp transistion code */