/**
* Style sheet for the save-and-continue button
*
* The order of the rules is actually important!
* There might be several classes set at the same time.
*/

.sf-save_and_continue {
    background-color: inherit;
}

.sf-save_and_continue-ok {
    background-color: #afa;
}

.sf-save_and_continue-error {
    background-color: #f35;
}

.sf-save_and_continue-wait {
    background-color: transparent;
}

.sf-save_and_continue-changed {
    background-color: #ff0;
}
