@import 'variables';
@import 'skins/shared/mixins/box-shadow';
@import 'skins/shared/mixins/clearfix';
@import 'skins/shared/mixins/placeholder';
@import 'skins/oasis/css/core/layout';
@import 'skins/shared/mixins/columns';
@import 'extensions/wikia/ThemeDesigner/css/ThemeTab';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/index.scss';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-components/_buttons.scss';

.WikiaSiteWrapper {
	background-color: $wds-color-off-white;
}

.WikiaPage {
	border: 0;

	.WikiaPageBackground {
		background: none;
	}
}

.WikiaFooter {
	padding-bottom: 10px;

	section {
		display: none;
	}
}

.AccountNavigation {
	display: none;
}

#CreateNewWiki {
	background: $wds-color-white;
	box-sizing: border-box;
	border: 1px solid $wds-color-faint-gray;
	color: $wds-color-dark-gray;
	font-size: $wds-typescale-size-base;
	line-height: $wds-line-height;
	margin: 4px auto 0;
	padding: $content-spacing-regular 0 $cnw-bottom-bar-size;
	position: relative;
	width: $cnw-size;

	@include placeholder {
		color: $wds-color-light-gray;
	}

	h1 {
		display: none;
	}

	h2 {
		border: none;
		font-size: $wds-typescale-size-plus-2;
		font-weight: bold;
		margin: 0 0 $content-spacing-regular 0;
		padding: 0;
	}

	h3 {
		font-weight: bold;
		margin: $content-spacing-xxlarge 0 $content-spacing-small;
	}

	p {
		margin: $content-spacing-regular 0 $content-spacing-large;
	}

	nav {
		bottom: 0;
		display: flex;
		position: absolute;
		right: 0;

		input[type=button] {
			@extend .wds-button;
			@extend .wds-is-text;
			background: $wds-color-white;
			float: right;
			height: auto;
			margin: $content-spacing-xxsmall 0 $content-spacing-xxsmall $content-spacing-xxsmall;
		}

		&.controls .wikiaThrobber {
			// fix color change when selecting different themes
			background-color: $wds-color-white;
			height: $cnw-bottom-bar-size;
			order: -1;
			position: relative;
			width: $cnw-bottom-bar-size;
		}
	}

	textarea, input {
		font-size: inherit;
	}

	.desc-block {
		display: flex;

		textarea {
			width: 320px;
		}

		.checkbox {
			margin-left: $content-spacing-xxlarge;
		}
	}

	.wiki-domain-container {
		position: relative;

		img {
			bottom: 4px;
			left: -40px;
			position: absolute;
		}
	}

	.language-choice {
		margin: $content-spacing-xxlarge 0;
	}

	.select-container {
		margin: $content-spacing-xxlarge 0;
	}

	.wiki-domain-container {
		margin: $content-spacing-xxlarge 0;
	}

	.instruction {
		margin-bottom: $content-spacing-xxlarge;
	}

	.step {
		line-height: inherit;
		margin: 0;
	}

	.steps {
		border-bottom: 1px solid $wds-color-mist-gray;
		list-style: none;
		margin: 0;
		padding: 0 $content-spacing-large;
	}

	.error-msg {
		color: red;
		font-size: 12px;
		font-style: italic;
	}

	.categories-sets {
		display: none;
	}

	.categories-set {
		@include column-count(4);
		display: none;

		label {
			display: inline-block;
			position: relative;
			width: 100%;
		}

		input {
			position: absolute;
		}

		span {
			display: block;
			margin-left: 1.75em;
		}
	}

	.ThemeTab {
		height: 125px;
		margin-left: -$content-spacing-regular;
		position: relative;

		.slider {
			height: 125px;
			top: 0;
			width: 608px;

			ul {
				list-style: none;
				margin: 0;
			}

			li {
				padding-bottom: 0;
				padding-top: 0;
			}

			h3 {
				display: none;
			}
		}

		.chevron {
			top: 37px;

			&.next {
				left: 645px;
			}
		}
	}
}

#DescWiki, #ThemeWiki {
	display: none;
}

#UserAuth {
	@include clearfix;
	display: none;
	width: 600px;

	.UserLoginModal {
		border-right: 1px solid $color-borders;
		margin: 0 0 15px;
		padding: 10px 90px 0 0;
	}

	.signup-loginmodal {
		float: left;
	}

	.signup-marketing {
		float: right;
		padding: 30px;
		width: 175px;
	}

	.get-account {
		display: none;
	}

	.keeploggedin {
		display: none;
	}
}

.hidden {
	display: none;
}
