@import 'variables';
@import 'skins/shared/mixins/box-shadow';
@import 'skins/shared/mixins/clearfix';
@import 'skins/oasis/css/core/layout';
@import 'extensions/wikia/ThemeDesigner/css/ThemeTab';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/index.scss';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-components/_buttons.scss';

.WikiaSiteWrapper {
	background-color: $wds-color-off-white;
}

.WikiaPage {
	border: 0;

	.WikiaPageBackground {
		background: none;
	}
}

.WikiaFooter {
	padding-bottom: 10px;

	section {
		display: none;
	}
}

.AccountNavigation {
	display: none;
}

#CreateNewWiki {
	background: white;
	box-sizing: border-box;
	border: 1px solid $wds-color-faint-gray;
	color: #747474;
	font-size: 12px;
	font-weight: normal;
	margin: 4px auto 0;
	padding: $content-spacing-regular 0 $cnw-bottom-bar-size;
	position: relative;
	width: $cnw-size;

	h1 {
		display: none;
	}

	h2 {
		border: 0;
		color: #2c85d6;
		font-size: 23px;
		font-weight: bold;
		line-height: 26px;
		margin: 0 0 14px;
	}

	nav {
		bottom: 0;
		display: flex;
		position: absolute;
		right: 0;

		input[type=button] {
			@extend .wds-button;
			@extend .wds-is-text;
			background: $wds-color-white;
			float: right;
			height: auto;
			margin: $content-spacing-xxsmall 0 $content-spacing-xxsmall $content-spacing-xxsmall;
		}

		&.controls .wikiaThrobber {
			// fix color change when selecting different themes
			background-color: $wds-color-white;
			height: $cnw-bottom-bar-size;
			order: -1;
			position: relative;
			width: $cnw-bottom-bar-size;
		}
	}

	[type=text],
	[type=password] {
		background: #e2f1fe;
		border: 1px solid #dbdbdb;
		font-size: 17px;
		outline: 0;
		padding: .3em;

		&:focus {
			@include box-shadow(0, 0, 6px, #2b5e94);
		}
	}

	h3 {
		/* following !important is used because the existing template has inline styles */
		font-size: 17px !important;
		font-weight: normal !important;
		line-height: 23px;

		&[for=wpRemember],
		&[for=wpMarketingOptIn] {
			font-size: 12px !important;
		}
	}

	.creative {
		font-size: 17px;
	}

	.wiki-domain-container {
		position: relative;

		img {
			bottom: 4px;
			left: -40px;
			position: absolute;
		}
	}

	.steps {
		border-bottom: 1px solid $wds-color-mist-gray;
		list-style: none;
		margin: 0;
		padding: 0 $content-spacing-large;
	}

	.awesome-box {
		left: -122px;
		position: absolute;
		top: -127px;
	}

	.error-msg {
		color: red;
		font-size: 12px;
		font-style: italic;
	}
}

#UserAuth {
	@include clearfix;
	display: none;
	width: 600px;

	.UserLoginModal {
		border-right: 1px solid $color-borders;
		margin: 0 0 15px;
		padding: 10px 90px 0 0;
	}

	.signup-loginmodal {
		float: left;
	}

	.signup-marketing {
		float: right;
		padding: 30px;
		width: 175px;
	}

	.get-account {
		display: none;
	}

	.keeploggedin {
		display: none;
	}
}

.hidden {
	display: none;
}
