@import 'variables';

#NameWiki {
	width: $cnw-size;

	form {
		font-size: 17px;

		h3 {
			display: block;
			margin-top: 15px;
		}

		[type=text],
		[type=password] {
			width: 365px;
		}

		.language-default {
			font-size: 12px;
			margin-top: 20px;
		}

		.language-choice {
			display: none;
		}
	}
}
