.mapframe {
	position:relative;
	padding:.7em;
	color:#191970;
	float:right;
	border:solid 1px #cccccc;
}

.map {
	position:relative;
	border:solid 1px #000000;
	float:right;
	clear:right;
	width: 100%;
}

.mapPreview {
	cursor: pointer;
	border: none;
}

/*
 * Force override of delay-loaded styles from openlayers/theme/default/style.css
 * TODO In the long run, we should probably create a MediaWiki theme
 * that contains customizations
 */
.olControlAttribution {
    right: 5px !important;
    bottom: 0px !important;
}

/* Custom wikiCode and reset buttons */
.buttonsPanel div {
	float:left;
	display:block;
	position:relative;
	left:50px;
	margin-left:3px;
	margin-top:7px;
	width:36px; 
	height:19px;
}

.buttonsPanel .getWikiCodeButtonItemInactive {
	width:36px;
	height:19px;
	background-image:url('wikicode-button.png');
} 

.buttonsPanel .resetButtonItemInactive {
	width:36px;
	height:19px;
	background-image:url('reset-button.png');
}

@media print {
    .olControlLayerSwitcher {
        display: none;
    }

    .olControlAttribution {
        display: none !important;
    }

    .buttonsPanel .getWikiCodeButtonItemInactive {
        display: none;
    } 

    .buttonsPanel .resetButtonItemInactive {
        display: none;
    }
}

