@import "../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/core/color";
@import "sprite-page-layout-builder";

$toolbox-width: 300px;
$color-list-background: darken($color-page,30%);


.module_plb_list {
	.plb-toolbox {
		vertical-align: top;

		a, a:hover, a:active, a:visited {
			cursor: auto;
		}

		$item-padding: 6px;
		$item-outer-height: 48px;
		$item-height: $item-outer-height - 2 * $item-padding;

		.plb-widgets {
			padding-top: 3px;
			
			ul.plb-widget-list {
				overflow-x: hidden;
				overflow-y: auto;
				list-style-type: none;
				margin: 0;
				padding: 0;
				width: 100%;
				input[type=button] {
					&.wikia-button {
						color:$color-button-text;
					}
					&.wikia-button.secondary {
						color:$color-text;
					}
				}
				li {
					height: $item-outer-height;
					padding: $item-padding 0;
					position: relative;
					border-top: 1px solid mix($color-text,$color-page,40%);
					width: 100%;
					line-height: $item-height;
					vertical-align: middle;
					overflow: hidden;
				}
				li:first-child {
					border-top-width: 0;
				}

				li > * {
					line-height: normal;
					vertical-align: middle;
				}
				
				li > span.details {
					display: inline;
					zoom: 1;
					display: inline-block;
					margin-left: 3px;
				}
				
				li span.type {
					font-weight: bold;
					display: block;
				}

				li > .buttons {
					position: absolute;
					display: block;
					top: 50%;
					right: 0;
					margin-right: 12px;
					margin-top: -8px;
					width: auto;
					height: 22px;
					line-height: 22px;
					
					>input[type=button], >a {
						float: left;
						display: block;
						cursor: pointer;
						margin-left: 6px;
					}
					
					>.delete {
						width: 16px;  // width and height must be repeated from the .sprite.delete class
						height: 16px; // because they get overriden by ck css rules
						margin-top: 2px;
					}
				}
		
			}
	/*
			.plb-widget-list-entry.selected {
				background-color: lighten($color-list-background,10%);
			}

			.plb-widget-list-entry.hover {
				background-color: lighten($color-list-background,20%);
			}
	*/
		}
		
		.plb-widgets-tutorial {
			margin: 6px 0;
			white-space: normal;
		}
	}
	.plb-widgets-tutorial {
		margin: 6px;
		margin-left: 0;
		padding: 0 6px;
		white-space: normal;
	}
}

$plb-window-width: 400px;
$plb-window-items-margin: 6px;
$plb-window-items-space: 2px;
.plb-pe-window {
	width: $plb-window-width;
	height: auto;


	.plb-pe-left-column, .plb-pe-right-column {
		display: inline-block;
	}

	.plb-pe-left-column {
		width: $plb-window-width / 2 - $plb-window-items-margin - $plb-window-items-space;
		padding-right: $plb-window-items-margin;
	}
	.plb-pe-right-column {
		width: $plb-window-width / 2 - $plb-window-items-margin - $plb-window-items-space;
		padding-left: $plb-window-items-margin;
	}

	.plb-pe-main {

		.label {
			margin-top: 6px;
		}

		.input {
			margin-bottom: 12px;
		}

		input, select, textarea {
			width: 100%;
		}

		input[type=checkbox] {
			width: auto;
		}

	}

	.helpicon {
		display: inline;
		zoom: 1;
		display: inline-block;
		position: relative;
		background-image: url(/skins/common/images/icon_help.png); /* $wgCdnStylePath */
		width: 16px;
		height: 16px;
	}

	.helpicon-text {
		display: none;

		border: 2px solid mix($color-body,$color-buttons,70%);
		background: $color-page;
		width: 300px;
		padding: 3px 6px;
	}

	.plb-pe-validation-status {
		background-color: #FFFFCC;
		border: 1px solid #AAAAAA;
		padding: 6px;
	}

	.plb-pe-field-error {
//		border: 1px solid red;
		border-color: red;
		border-style: solid;
	}
	input[type=checkbox] {
		border-width: 2px;
	}
	h2 {
		font-size:23px;
		margin-bottom:17px;
		margin-top:17px;
		border-top: 1px solid $color-page-border;
    	border-width: 1px;
    	padding-top: 10px;
	}
	.plb-pe-buttons {

		text-align: center;
		margin-top: 12px;
		margin-bottom: 3px;

		.plb-pe-button-save {
		}

		.plb-pe-button-cancel {
		}

	}
	.plb-pe-preview-title {
		@include linear-gradient(#cfe1ed, top, #cfe1ed, 0%, #a6c4dc, 100%);
		border-bottom: 1px solid #999;
		bottom: 0;
		height: 45px;
		position: absolute;
		width: 100%;
	}
}

.plb-preview-div {
	width: 660px;
}

.plb-editor-textarea {
	height:65px;
	width:424px;
}

#editform {
	textarea {
		&.plb-editor-desc {
			width:99%;
			height:50px;
		}
	}
}

img.plb-editor-element-list{
		float: left;
}

span.plb-editor-element-list{
	display:inline-block;
	line-height:48px;
	padding-left:5px;
}

#plbNewButton {
	margin-left:15px;
}

#mw-toolbar,#toolbar {
	.plb-add-element {
		&, li {
			list-style: none;
		}
		.chevron { /* ck override */
			border-color: #FFF transparent transparent;
			border-style: solid;
			border-width: 4px;
			width: 0;
		}
		li > ul > li {
			padding-right: 6px;
		}
	}
	.wikia-menu-button {
		*display: inline;
		list-style: none;
		margin: 0;
		position: relative;
		text-align: left;
		cursor: pointer;
		margin-right:80px;
		vertical-align:middle;

		a:hover {
			text-decoration: none;
		}
		>li, >li *, .chevron  {
			cursor: pointer;
		}
		>li {
			float: left; /*IE7 don't take out*/
			>a, >span {
				border-right: 1px solid mix($color-button-text, $color-buttons, 40%);
				color: $color-button-text;
				display: inline-block;
				padding: 0 8px 0 5px;
			}
		}
		ul {
			background: $color-page;
			border: 2px solid $color-buttons;
			display: none;
			width: 145px;
			left: -1px;
			list-style: none;
			margin: 0;
			color: $color-text;
			padding: 5px;
			position: absolute;
			top: 19px;
			z-index: 100;
			a {
				color: $color-text;
				display: block;
				padding: 4px 4px 2px;
				&:hover {
					background: $color-menu-highlight;
				}
			}
			li {
				border-top: 1px solid $color-page-border;
				line-height: normal;
				&:first-child {
					border: 0;
				}
				&.hover {
					background: $color-menu-highlight;
				}
			}
		}
		.icon {
			vertical-align: text-bottom;
		}
		.chevron {
			border-top-color: $color-button-text;
		}
		&.active {
			@include border-radius-se(0);
			@include border-radius-sw(0);
			ul {
				display: block;
			}
		}
	}
}
#cke_toolbar1 .cke_buttons_group_0 {
	border: 2px solid $color-buttons;
	.cke_rcombo .cke_text {
		width:150px;
	}
	.cke_rcombo a {
		background-color: $color-buttons;
		background-position:0 -100px;
	}
}

#plbHelpBox{
	.info1 {
		width:70%;
		float:left;
		font-size:1.1em;
		height:100px;
		h1 {
			font-weight: bold;
		}
	}

	.checkboxinfo {
	    font-size: 10px;
	}

	.info2 {
		font-size:1.2em;
	}

	.bodyCaption {
		@include clearfix;
		padding-top:32px;
		padding-bottom:9px;
		font-weight:bold;
	}

	.infoAdmin, .infoForm {
		border-right:1px dashed;
	}

	input {
		margin-left:0px;
	}
	.infoAdmin, .infoForm, .infoArticle {
		text-align:center;
		min-height:570px;
		width:33%;
		float:left;
		> img {
			border:4px solid #DCDCDC;
			width:270px;
		}
	}

	.footerclearfix {
		@include clearfix;
		clear:both;
		padding-top:30px;
	}

	.footer1, .footer2, .footer3 {
		width:33%;
		float:left;
	}

	.footer2 {
		text-align:center;
		position:relative;
		> span {
			font-size: 15px;
		}
		.buttondiv {
			left:26%;
			margin-top:5px;
			display:inline-block;
			text-align:left;
		}
	}


	.footer3 {
		margin-left:50px;
		width:250px;
		.helpicon {
			display: inline;
			zoom: 1;
			display: inline-block;
			position: relative;
			background-image: url(/skins/common/images/icon_help.png); /* $wgCdnStylePath */
			height: 16px;
			background-repeat: no-repeat;
    		margin-right: 4px;
    		font-weight:bold;
    		padding-left: 20px;
    		padding-top: 3px;
		}
		span.link {
			margin-left:20px;
			display:inline-block;
			padding-top:5px;
		}
	}

	.blueBox {
		padding-left:7px;
		padding-right:7px;
		padding-top:7px;
		text-align:left;
		border:6px solid #99C5E6;
		display:inline-block;
		width:280px;
		min-height:110px;
		margin-bottom:50px;
		position:relative;
		h1 {
			font-size: 16px;
		}
		img {
			left:50%;
			margin-left:-22px;
			margin-top:6px;
			position:absolute;
			top:100%;
		}
	}
}


#EditPage {
	.module_plb_insert {
		.cke_button {
			.cke_icon {
				@include sprite-page-layout-builder-base;
			}
			&.PLBAddElement_plb_input.cke_button_big .cke_icon {
				@include sprite-page-layout-builder('widget-icon-plb_input',48px,32px);
			}
			&.PLBAddElement_plb_image.cke_button_big .cke_icon {
				@include sprite-page-layout-builder('widget-icon-plb_image',48px,32px);
			}
			&.PLBAddElement_plb_mlinput.cke_button_big .cke_icon {
				@include sprite-page-layout-builder('widget-icon-plb_mlinput',48px,32px);
			}
			&.PLBAddElement_plb_sinput.cke_button_big .cke_icon {
				@include sprite-page-layout-builder('widget-icon-plb_sinput',48px,32px);
			}
			&.PLBAddElement_plb_gallery.cke_button_big .cke_icon {
				@include sprite-page-layout-builder('widget-icon-plb_gallery',48px,32px);
			}
		}
		// additional ".module" required here for higher priority than default value in editor
		&.module > .module_content { 
			padding: 10px 0 10px 12px;
		}
		.cke_button_big {
			display: inline-block;
			margin: 5px 0 4px 5px;
		}
		.cke_hidden {
			display: none;
		}		
	}
	.module_plb_list {
		.module_content {
			overflow-y: auto;
		}
	}
}