@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/index';
@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-mixins/index';
@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/mixins/transform';
@import 'skins/oasis/css/core/breakpoints-variables';

.WikiaPage .page-header {
	@include dropdown-theming($color-page, $color-text, $color-links, $color-page-border);

	@include flexbox();
	@include justify-content(flex-end);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	padding: 12px 0;
	position: relative;
	z-index: 4;

	button {
		background-image: none;
	}

	.wds-button {
		@include button-theming($color-buttons, $color-button-text, $color-text);
	}

	.wds-button-group {
		@include button-group-theming($color-button-text);
	}

	&__counter {
		color: $color-text;
		float: right;
		font-size: $wds-typescale-size-minus-1;
		font-weight: bold;
		padding-bottom: 10px;
		text-align: right;
	}

	&__contribution {
		@include align-items(flex-end);
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(space-between);

	}

	&__languages {
		padding-bottom: 12px;
	}

	&__main {
		@include flex-grow(1);
		max-width: 100%;
		min-width: 50%;
	}

	&__categories {
		@include align-items(flex-start);
		@include flexbox();
		font-size: $wds-typescale-size-minus-2;

		&-in {
			font-weight: 600;
			padding-right: 4px;
		}

		&-dropdown {
			padding-bottom: 10px;

			&-content {
				font-style: normal;
				overflow-x: hidden;
				width: 250px;
			}

			li {
				white-space: normal;
			}
		}

		&-links {
			color: $color-links;
			font-style: italic;
			line-height: 16px;
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-word;


			> a:last-child {
				display: inline-block;
				padding-bottom: 10px;
			}
		}
	}

	&__title {
		@include align-items(flex-end);
		color: $color-text;
		display: inline-block;
		font-size: $wds-typescale-size-plus-4;
		font-weight: bold;
		line-height: 1;
		max-width: 100%;
		word-wrap: break-word;
	}

	&__separator {
		background-color: $color-page-border;
		border: 0;
		height: 1px;
		margin-bottom: 18px;
	}

	&__page-subtitle {
		margin: {
			bottom: 13px;
			top: 6px;
		}
	}

	&__subtitle-blog-post {
		@include align-items(center);
		@include flexbox();
	}

	&__blog-post-details {
		margin-left: 6px;
	}

	.wds-avatar {
		border-color: $color-page-border;
	}
}

