@import 'extensions/wikia/DesignSystem/bower_components/design-system/dist/scss/wds-variables/index';
@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/mixins/transform';
@import 'skins/oasis/css/core/breakpoints-variables';

.page-header {
	margin: 5px 0 18px;
	padding-bottom: 12px;
	position: relative;
	z-index: 4;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&__title {
		color: $color-text;
		display: inline-block;
		font-size: $wds-typescale-size-plus-3;
		font-weight: bold;
		line-height: 1;
		padding-bottom: 12px;
	}

	&__dropdown-padding {
		padding-bottom: 10px;
	}

	&__separator {
		background-color: $color-page-border;
		border: 0;
		height: 1px;
	}

	&__counter {
		color: $color-text;
		float: right;
		font-size: $wds-typescale-size-minus-1;
		font-weight: bold;
		text-align: right;
	}

	&__categories {
		@include align-items(flex-start);
		@include flexbox();
		font-size: 12px;
		padding-top: 12px;

		&__in {
			font-weight: 600;
			padding-right: 4px;
		}

		&-links {
			color: $color-links;
			font-style: italic;
			font-size: 12px;
			line-height: 16px;
			word-break: break-word;

			> a:last-child {
				padding-bottom: 10px;
				display: inline-block;
			}

			> div > div {
				font-style: normal;
			}
		}
	}
}

