!node_modules/
node_modules/*
!node_modules/@wikia
node_modules/@wikia/*
!node_modules/@wikia/content-types
node_modules/@wikia/content-types/*
!node_modules/@wikia/content-types/dist/
node_modules/@wikia/content-types/dist/*
!node_modules/@wikia/content-types/dist/consumption.browser.js

