!node_modules/
node_modules/*
!node_modules/@wikia
node_modules/@wikia/*
!node_modules/@wikia/content-types-consumption
node_modules/@wikia/content-types-consumption/*
!node_modules/@wikia/content-types-consumption/dist