<div class="pyrkon-question-box">
	<h1 class="pyrkon-question-box__header">Pyrkon Scavenger Hunt</h1>
	<section class="pyrkon-question-box__body">
		<h2 class="pyrkon-question-box__title">
			Congratulations on finishing the scavenger hunt, {{nick}}!
		</h2>
		<p class="pyrkon-question-box__final-text">Your score: <strong>{{score}}</strong></p>
		<p class="pyrkon-question-box__final-text">Your time: <strong>{{time}}</strong></p>
		<div>
			<button class="pyrkon-question-box__submit">New game</button>
		</div>
	</section>
</div>