<div class="pyrkon-question-box">
	<h1 class="pyrkon-question-box__header">Pyrkon Scavenger Hunt</h1>
	<section class="pyrkon-question-box__body">
		<h2 class="pyrkon-question-box__title">
			Answer our questions in shortest possible time and win prizes!
			<span class="pyrkon-question-box__close"></span>
		</h2>
		<form class="pyrkon-question-box__form">
			<input class="pyrkon-question-box__input" placeholder="Your nickname...">
			<button class="pyrkon-question-box__submit" type="submit">Start!</button>
		</form>
	</section>
</div>