<div class="pyrkon-question-box">
	<h1 class="pyrkon-question-box__header">Pyrkon Scavenger Hunt</h1>
	<section class="pyrkon-question-box__body">
		<h2 class="pyrkon-question-box__title">
			Congratulations on finishing the scavenger hunt, {{nick}}
		</h2>
		<p>Your score: <strong>{{score}}</strong></p>
		<p>Your time: <strong>{{time}}</strong></p>
	</section>
</div>