
// @autosprite-start
@mixin sprite-Lightbox-base() {
	background-color: transparent;
	background-image: url('/extensions/wikia/Lightbox/images/sprite-Lightbox.png'); /* wgResourceBasePath */
	background-repeat: no-repeat;
}
@mixin sprite-Lightbox($imageName,$width: 0,$height: 0,$offset-x: 0,$offset-y: 0) {
	$image-x: -1;
	$image-y: -1;
	$image-width: -1;
	$image-height: -1;
	// @autosprite-image-details: arrow_large_next.png@72,0,e4da03059f1dca94132e780361bc3e17
	@if $imageName == 'arrow_large_next' {
		$image-x: 72px;
		$image-y: 0px;
		$image-width: 40px;
		$image-height: 60px;
	}
	// @autosprite-image-details: arrow_large_previous.png@124,0,7bfd4a597350f09ccc7499b7652e2025
	@if $imageName == 'arrow_large_previous' {
		$image-x: 124px;
		$image-y: 0px;
		$image-width: 40px;
		$image-height: 60px;
	}
	// @autosprite-image-details: facebook.png@176,0,318caf52f55ca1617cd0a89a8bf2785f
	@if $imageName == 'facebook' {
		$image-x: 176px;
		$image-y: 0px;
		$image-width: 32px;
		$image-height: 32px;
	}
	// @autosprite-image-details: filmstrip_close_black.png@220,0,62b8bf82657cb2f2bec1358cc7a5b31e
	@if $imageName == 'filmstrip_close_black' {
		$image-x: 220px;
		$image-y: 0px;
		$image-width: 22px;
		$image-height: 15px;
	}
	// @autosprite-image-details: filmstrip_close_white.png@254,0,9d462311eb073b01d6899476a26d284d
	@if $imageName == 'filmstrip_close_white' {
		$image-x: 254px;
		$image-y: 0px;
		$image-width: 22px;
		$image-height: 15px;
	}
	// @autosprite-image-details: filmstrip_open_black.png@288,0,87900ed49b9ba1c02be04e3a79c0e120
	@if $imageName == 'filmstrip_open_black' {
		$image-x: 288px;
		$image-y: 0px;
		$image-width: 22px;
		$image-height: 15px;
	}
	// @autosprite-image-details: filmstrip_open_white.png@322,0,1377b57ca447d8bcc11d95d528b9d348
	@if $imageName == 'filmstrip_open_white' {
		$image-x: 322px;
		$image-y: 0px;
		$image-width: 22px;
		$image-height: 15px;
	}
	// @autosprite-image-details: large_lightbox_black.png@356,0,4b0394ac7c96a720d1d8fea04eeea7e1
	@if $imageName == 'large_lightbox_black' {
		$image-x: 356px;
		$image-y: 0px;
		$image-width: 18px;
		$image-height: 15px;
	}
	// @autosprite-image-details: large_lightbox_white.png@386,0,5cbd6258aca219d3bd751dd9788edb85
	@if $imageName == 'large_lightbox_white' {
		$image-x: 386px;
		$image-y: 0px;
		$image-width: 18px;
		$image-height: 15px;
	}
	// @autosprite-image-details: more_info_black.png@416,0,512f9f0664edf80b7f00a2e388994d3e
	@if $imageName == 'more_info_black' {
		$image-x: 416px;
		$image-y: 0px;
		$image-width: 14px;
		$image-height: 14px;
	}
	// @autosprite-image-details: more_info_white.png@442,0,af8c6afd39d4d7e9c3afd7ed152ff271
	@if $imageName == 'more_info_white' {
		$image-x: 442px;
		$image-y: 0px;
		$image-width: 14px;
		$image-height: 14px;
	}
	// @autosprite-image-details: plusone.png@468,0,560170a308794f0da37180d422a06617
	@if $imageName == 'plusone' {
		$image-x: 468px;
		$image-y: 0px;
		$image-width: 32px;
		$image-height: 32px;
	}
	// @autosprite-image-details: reddit.png@512,0,669dd05709dc60ba3cbfa392855a79c4
	@if $imageName == 'reddit' {
		$image-x: 512px;
		$image-y: 0px;
		$image-width: 32px;
		$image-height: 32px;
	}
	// @autosprite-image-details: share_black.png@556,0,aaef6fe108c9cc950d903bfd1b3c6ed8
	@if $imageName == 'share_black' {
		$image-x: 556px;
		$image-y: 0px;
		$image-width: 12px;
		$image-height: 12px;
	}
	// @autosprite-image-details: share_white.png@580,0,0257bbd1ac176729e6ccacafaf004280
	@if $imageName == 'share_white' {
		$image-x: 580px;
		$image-y: 0px;
		$image-width: 12px;
		$image-height: 12px;
	}
	// @autosprite-image-details: small_lightbox_black.png@604,0,0c9ed12fd36a2fd71f67bd4ec008d7d2
	@if $imageName == 'small_lightbox_black' {
		$image-x: 604px;
		$image-y: 0px;
		$image-width: 18px;
		$image-height: 15px;
	}
	// @autosprite-image-details: small_lightbox_white.png@634,0,1f7ab6560944d9c0a7a338fb99736838
	@if $imageName == 'small_lightbox_white' {
		$image-x: 634px;
		$image-y: 0px;
		$image-width: 18px;
		$image-height: 15px;
	}
	// @autosprite-image-details: stumbleupon.png@664,0,99f4118143c669166c0db293e6f37e27
	@if $imageName == 'stumbleupon' {
		$image-x: 664px;
		$image-y: 0px;
		$image-width: 32px;
		$image-height: 32px;
	}
	// @autosprite-image-details: twitter.png@708,0,c19a731dacef96fd8015f0beca90478b
	@if $imageName == 'twitter' {
		$image-x: 708px;
		$image-y: 0px;
		$image-width: 32px;
		$image-height: 31px;
	}
	@if $image-x != -1 {
		$position-x: 0px - $image-x;
		$position-y: 0px - $image-y;
		@if $width > 0 {
			$position-x: $position-x + ( $width - $image-width ) / 2;
		}
		@if $height > 0 {
			$position-y: $position-y + ( $height - $image-height ) / 2;
		}
		@if $offset-x != 0 {
			$position-x: $position-x + $offset-x;
		}
		@if $offset-y != 0 {
			$position-y: $position-y + $offset-y;
		}
		background-position: $position-x $position-y;
	}
}
@mixin sprite-Lightbox-full($imageName, $width: 0, $height: 0,$offset-x: 0,$offset-y: 0) {
	@include sprite-Lightbox-base;
	@include sprite-Lightbox($imageName,$width,$height,$offset-x,$offset-y);
}
@mixin sprite-Lightbox-deep($width: 0,$height: 0) {
	@include sprite-Lightbox-base;
	&.arrow-large-next {
		@include sprite-Lightbox('arrow_large_next',$width,$height);
	}
	&.arrow-large-previous {
		@include sprite-Lightbox('arrow_large_previous',$width,$height);
	}
	&.facebook {
		@include sprite-Lightbox('facebook',$width,$height);
	}
	&.filmstrip-close-black {
		@include sprite-Lightbox('filmstrip_close_black',$width,$height);
	}
	&.filmstrip-close-white {
		@include sprite-Lightbox('filmstrip_close_white',$width,$height);
	}
	&.filmstrip-open-black {
		@include sprite-Lightbox('filmstrip_open_black',$width,$height);
	}
	&.filmstrip-open-white {
		@include sprite-Lightbox('filmstrip_open_white',$width,$height);
	}
	&.large-lightbox-black {
		@include sprite-Lightbox('large_lightbox_black',$width,$height);
	}
	&.large-lightbox-white {
		@include sprite-Lightbox('large_lightbox_white',$width,$height);
	}
	&.more-info-black {
		@include sprite-Lightbox('more_info_black',$width,$height);
	}
	&.more-info-white {
		@include sprite-Lightbox('more_info_white',$width,$height);
	}
	&.plusone {
		@include sprite-Lightbox('plusone',$width,$height);
	}
	&.reddit {
		@include sprite-Lightbox('reddit',$width,$height);
	}
	&.share-black {
		@include sprite-Lightbox('share_black',$width,$height);
	}
	&.share-white {
		@include sprite-Lightbox('share_white',$width,$height);
	}
	&.small-lightbox-black {
		@include sprite-Lightbox('small_lightbox_black',$width,$height);
	}
	&.small-lightbox-white {
		@include sprite-Lightbox('small_lightbox_white',$width,$height);
	}
	&.stumbleupon {
		@include sprite-Lightbox('stumbleupon',$width,$height);
	}
	&.twitter {
		@include sprite-Lightbox('twitter',$width,$height);
	}
}
// @autosprite-end