<!DOCTYPE html>
<html>
<head>
    <title>Wikia API V1 documentation</title>
    {{#css}}
        <link href="{{.}}"  media="screen" rel="stylesheet" type="text/css" />
    {{/css}}
    {{#js}}
        <script src="{{.}}"></script>
    {{/js}}

    <script src="http://arturd.wikia-dev.com/__cb1378983729/extensions/wikia/ApiDocs/templates/handlebars/main.handlebars" type="text/x-handlebars-template"></script>

    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                discoveryUrl: window.location.pathname + "?controller=ApiDocs&method=apiList",
                protocol: "http",
                dom_id:"swagger-ui-container",
                supportHeaderParams: false,
                supportedSubmitMethods: ['get', 'post', 'put'],
                onComplete: function(swaggerApi, swaggerUi){
                    if(console) {
                        console.log("Loaded SwaggerUI");
                        console.log(swaggerApi);
                        console.log(swaggerUi);
                    }
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                },
                onFailure: function(data) {
                    if(console) {
                        console.log("Unable to Load SwaggerUI");
                        console.log(data);
                    }
                },
                docExpansion: "none"
            });

            window.swaggerUi.load();
        });

    </script>
</head>

<body class="skin-oasis">
<div id='header' class="WikiaHeader">
    <nav class="swagger-ui-wrap">
        <a id="logo" href="http://wikia.com">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite logo" height="23" width="91" alt="Wikia">
        </a>
    </nav>
</div>
<div class="subnav"></div>
<h1>Wikia API V1 documentation</h1>
<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">	

</div>

<footer class="subnav">
		<a href="http://api.wikia.com/wiki/Terms_of_Use">Terms of Use</a>
</footer>

</body>

</html>
