<article class="message">
    <aside>
        For more information please check our
        <a href="http://api.wikia.com/wiki/Terms_of_Use">terms of use</a>.
    </aside>
    <section>
        <a href="{{licenseUrl}}" class="icons">
            <div class="icon cc"></div><div class="icon cc-by"></div><div class="icon cc-sa"></div>
        </a>
        Text content from this wikia accessed through the API is made available under the <a href="{{licenseUrl}}">CC-BY-SA License</a>. <br/>
        Non-text media should not be assumed to be available under the same license as the text.
    </section>
</article>
