<article class="api-warning">
    <header>
        <span class="more">For our free API, please <a href="http://api.wikia.com">api.wikia.com</a></span>
        <h2> API unavailable </h2>
    </header>
    <aside class="icons">
        some images
    </aside>
    <section>
        The content of this wiki was released under a license that may make it incompatible with certain uses.
        API access is not provided for this community
    </section>
</article>
<div class="api-warning-lightbox-background"></div>
