<!DOCTYPE html>
<html>
<head>
    <title>Wikia API V1 documentation</title>
    {{#css}}
        <link href="{{.}}"  media="screen" rel="stylesheet" type="text/css" />
    {{/css}}
</head>

<body class="skin-oasis">
<div id='header' class="WikiaHeader">
    <nav class="swagger-ui-wrap">
        <a id="logo" href="http://wikia.com">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" class="sprite logo" height="23" width="91" alt="Wikia">
        </a>
    </nav>
</div>
<div class="subnav"></div>
<h1>Wikia API V1 documentation</h1>
<div id="message-bar" class="swagger-ui-wrap message-bar">
API access to this wiki is disabled because
it's license disallows commercial use outside of Wikia.
</div>
<footer class="subnav">
		<a href="http://api.wikia.com/wiki/Terms_of_Use">Terms of Use</a>
</footer>
</body>

</html>
