<article class="api-warning">
    <header>
        <span class="more">For our free API, please visit <a href="http://api.wikia.com">api.wikia.com</a></span>
        <h2>API unavailable</h2>
    </header>
    <aside class="icons {{licenseClasses}}">
        <a href="{{licenseUrl}}">
            <div class="icon large cc"></div><div class="icon large cc-by"></div><div class="icon large cc-nc"></div><div class="icon large cc-nd"></div><div class="icon large cc-sa"></div><div class="icon large gfdl"></div>
        </a>
    </aside>
    <section>
        The content of this wiki was released under a <a href="{{licenseUrl}}">{{licenseName}}</a> that may make it incompatible with certain uses.
        API access is not provided for this community.
    </section>
</article>
<div class="api-warning-lightbox-background"></div>
