<img
	src="{{imgSrc}}"
	{{#alt}}alt="{{{alt}}}"{{/alt}}
	{{#imgClass}}class="{{imgClass}}"{{/imgClass}}
	data-{{mediaType}}-key="{{mediaKey}}"
	data-{{mediaType}}-name="{{mediaName}}"
	{{#dataSrc}}data-src="{{dataSrc}}"{{/dataSrc}}
	{{#imgWidth}}width="{{imgWidth}}"{{/imgWidth}}
	{{#imgHeight}}height="{{imgHeight}}"{{/imgHeight}}
	{{#imgAttrs}} {{{.}}}{{/imgAttrs}}>
