{{#linkHref}}
<a
	href="{{linkHref}}"
	class="image image-thumbnail{{#linkClasses}} {{.}}{{/linkClasses}}"
	{{#linkAttrs}} {{{.}}}{{/linkAttrs}}>
{{/linkHref}}

	{{>Thumbnail_imgTag}}
	{{#noscript}}<noscript>{{{noscript}}}</noscript>{{/noscript}}

	{{#metaAttrs}}<meta itemprop="{{itemprop}}" content="{{content}}">{{/metaAttrs}}

{{#linkHref}}
</a>
{{/linkHref}}
