<picture>

	{{! Images for smaller screens }}
	<source
		media="(max-width: {{breakPoint}}px)"
		srcset="{{smallUrlWebP}}"
		type="image/webp">
	<source
		media="(max-width: {{breakPoint}}px)"
		srcset="{{smallUrl}}">

	{{! Images for larger screens }}
	<source
		srcset="{{imgSrcWebP}}"
		type="image/webp">
	<source
		srcset="{{imgSrc}}">

	{{! Fall back to img tag for browsers that don't support picture tag yet }}
	{{>Thumbnail_imgTag}}

</picture>
