<img
	src="{{imgSrc}}"
	{{#imgClass}}class="{{imgClass}}"{{/imgClass}}
	data-{{mediaType}}-key="{{videoKey}}"
	data-{{mediaType}}-name="{{videoName}}"
	{{#dataSrc}}data-src="{{dataSrc}}" {{/dataSrc}}
	{{#imgWidth}}width="{{imgWidth}}" {{/imgWidth}}
	{{#imgHeight}}height="{{imgHeight}}" {{/imgHeight}}
	{{#imgAttrs}}{{{.}}} {{/imgAttrs}}>
