<img src="{{imgSrc}}"
	{{#alt}} alt="{{alt}}" {{/alt}}
	class="{{#imgClass}}{{.}} {{/imgClass}}"
	{{#style}} style="{{style}}" {{/style}}
	data-{{mediaType}}-key="{{mediaKey}}"
	data-{{mediaType}}-name="{{mediaName}}"
	{{#dataSrc}} data-src="{{dataSrc}}" {{/dataSrc}}
	{{#imgWidth}} width="{{imgWidth}}" {{/imgWidth}}
	{{#imgHeight}} height="{{imgHeight}}" {{/imgHeight}}
	{{#rdf}} itemprop="thumbnail" {{/rdf}}
	{{#dataParams}} data-params="{{{dataParams}}}" {{/dataParams}}
	{{#onLoad}} onload="{{onLoad}}" {{/onLoad}}
	{{#extraImgAttrs}} {{{.}}} {{/extraImgAttrs}}>
