@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/transition";

$categoryselect-color-category: mix( $color-text, $color-page, 5% );
$categoryselect-color-placeholder: lighten( $categoryselect-color-category, 2% );

// These styles are for view pages only
.CategorySelect.articlePage {
	@include clear-linear-gradient();
	line-height: normal;
	padding: 0;
	position: relative;

	&.modified .toolbar,
	&.showHidden .category.hidden {
		display: block;
	}

	.add {
		margin-left: 5px;
	}

	.category,
	.input,
	.placeholder {
		display: block;
		float: left;
		margin: 0;
		margin-bottom: 5px;
		padding: 0 5px;
	}

	.categories {
		@include clearfix;
		margin: 0;
		padding: 0;
	}

	.categoriesLink {
		display: block;
		float: left;
		margin-right: 5px;

		&:after {
			content: ':';
		}
	}

	.category {
		border-right: 1px solid $color-page-border;

		&:last-child {
			border-right: 0;
		}

		&.hidden {
			display: none;
		}

		.toolbar {
			display: none;
		}
	}

	.edit {
		@include clearfix;
	}

	.hide {
		display: none;
	}

	.input {
		background-color: $color-page;
		border: 1px solid $color-page-border;
		color: $color-text;
		font-size: 13px;
		margin-left: 5px;
		outline: none;
		padding: 4px 9px;
		width: 245px;
	}

	.newCategories {
		float: left;

		.name {
			cursor: move;
		}

		.toolbar {
			display: inline-block;
		}
	}

	.padded {
		padding: 10px;
	}

	.shifted {
		overflow: hidden;
	}

	.tool {
		cursor: pointer;
		display: inline-block;
		margin-left: 5px;
	}

	> .toolbar {
		background-color: $categoryselect-color-category;
		border-top: 1px solid $color-page-border;
		display: none;
		padding: 5px 10px;
		text-align: right;

		.wikia-button {
			margin-left: 5px;
		}
	}
}

// Need to use ID here for specificity
#CategorySelectEditModal {
	.WikiaForm {
		@include clearfix;

		input,
		.input-group {
			@include box-sizing( border-box );
			width: 100%;
		}
	}
}