@import "skins/shared/color";
@import "skins/shared/mixins/clearfix";
@import "skins/shared/mixins/ellipses";

// FIXME: including styles from EditPageLayout is pretty janky.
// When we refactor common colors/mixins into skins/oasis these should be removed.
@import "extensions/wikia/EditPageLayout/css/core/colors";
@import "extensions/wikia/EditPageLayout/css/core/dimensions";
@import "extensions/wikia/EditPageLayout/css/mixins/inputs";

// Width of the content inside of the right rail module
$categoryselect-width: $width-epl-module-input - 10;

$categoryselect-color-placeholder: darken( $color-epl-input, 2% );

// Needs editPage class so these styles won't apply to preview modal
.CategorySelect.editPage {
	.categories {
		// 4 items at 25px high
		height: 100px;
		margin: 10px 0 0 0;
		overflow: auto;
		position: relative;
	}

	.categories,
	.input, {
		@include epl-textfield;
		width: $categoryselect-width;
	}

	.category,
	.categories .placeholder {
		border-radius: 4px;
		display: block;
		padding: 0 5px;
	}

	.category {
		color: $color-text;
		height: 25px;
		margin: 0;
		position: relative;

		&:hover,
		&.ui-sortable-helper {
			background-color: $color-epl-hover;
		}

		&:hover {
			.name {
				width: $categoryselect-width - 60;
			}

			.toolbar {
				display: inline-block;
			}
		}
	}

	.input {
		height: 23px;
		outline: none;
	}

	.name {
		@include ellipses;
		cursor: move;
		display: inline-block;
		width: 100%;
	}

	.tool {
		cursor: pointer;
		display: inline-block;
		margin: 0 0 0 5px;
	}

	.toolbar {
		display: none;
		position: absolute;
		right: 5px;
		top: 2px;
	}

	.ui-autocomplete {
		width: $categoryselect-width;
	}
}

// Hide until moved to the right rail via JavaScript
.EditPageMain .CategorySelect {
	display: none;
}

// Unhide for widescreen mode
.EditPageToolbar .CategorySelect {
	display: block;
}
