@import "skins/oasis/css/mixins/clearfix";

// These styles are for view pages only
.WikiaArticleCategories {
	position: relative;

	.addCategory {
		bottom: -10px;
		position: absolute;
		right: 10px;
	}

	.catlinks {
		@include clearfix;

		.mw-categories-link {
			display: block;
			float: left;
			width: 75px;
		}

		ul {
			display: block;
			margin-left: 75px;
		}
	}
}