@import "skins/oasis/css/mixins/border-radius";
@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/opacity";

// These styles are for view pages only
.CategorySelect.articlePage {
	@include clear-linear-gradient();
	border: 0;
	line-height: normal;
	margin: 0;
	padding-bottom: 0;
	position: relative;

	&.modified > .toolbar {
		display: block;
	}

	&.showHidden .hidden {
		display: block;
	}

	h2 {
		border-bottom: 1px solid $color-page-border;
		font-size: 18px;
		padding-bottom: 6px;
	}

	.category,
	.input,
	.placeholder {
		@include border-radius( 4px );
		background-color: $color-speech-bubble;
		border: 1px solid $color-page-border;
		display: block;
		float: left;
		margin: 6px 6px 0 0;
		padding: 2px 6px;
	}

	.add {
		float: left;
	}

	.categories {
		float: left;
		margin: 0;
		padding: 0;
	}

	.category {
		&.hidden {
			display: none;
		}

		&.new {
			.name {
				cursor: move;
			}

			.toolbar {
				display: inline-block;
			}
		}
	}

	.container {
		@include clearfix;
		padding: 4px 10px 10px 10px;
	}

	.input {
		background-color: $color-page;
		border-color: $color-page;
		color: $color-text;
		font-size: 12px;
		outline: none;
		padding-top: 1px;
		width: 245px;
	}

	.placeholder {
		@include opacity( 35 );
	}

	.sprite-small {
		vertical-align: text-top;
	}

	.tool {
		border-left: 1px solid $color-page-border;
		cursor: pointer;
		display: inline-block;
		margin-left: 6px;
		padding-left: 6px;

		&:first-child {
			border-left: 0;
			padding-left: 0;
		}
	}

	.toolbar {
		display: none;
	}

	> .toolbar {
		text-align: right;

		.wikia-button {
			margin-left: 6px;
		}
	}

	.ui-autocomplete {
		border-top: 1px solid $color-page-border;
	}
}

// Need to use ID here for specificity
#CategorySelectEditModal {
	.WikiaForm {
		@include clearfix;

		input,
		.input-group {
			@include box-sizing( border-box );
			width: 100%;
		}
	}
}