<!DOCTYPE html>
<html>
	<!--
	/*!
	 * VisualEditor standalone demo
	 *
	 * @copyright 2011-2014 VisualEditor Team and others; see http://ve.mit-license.org
	 */
	-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>VisualEditor Standalone Demo</title>

<!-- STYLES -->

	</head>
	<body>
		<div class="ve-demo-menu">
			<div class="ve-demo-logo"></div>
		</div>
		<div class="ve-demo-editor"></div>

<!-- SCRIPTS -->

		<script>
		ve.demoPages = <!-- MENU -->;
		</script>

	</body>
</html>
