{{#error}}
<p class="error">{{error}}</p>
{{/error}}

{{#sentToChillingEffects}}
<div class="successbox">{{{submittedMsg}}}</div>
{{/sentToChillingEffects}}
<p>{{{returnto}}}</p>

<h3>{{noticeTextHeader}}</h3>
<pre>
{{{noticeText}}}
</pre>

{{#form}}
<h3>{{formHeader}}</h3>
{{{form}}}
{{/form}}
