{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 9.0"]
            },
            "modules": false
        }]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "lodash"
    ]
}
