/*
      Copy 
          @import url("../../extensions/Wikidata/WiktionaryZ/tmp/tables.css");
          
      into the appropriate stylesheets like 
          skins/monobook/main.css
          skins/common/common.css
*/

/* Wikidata tables */

.wiki-data-table td, .wiki-data-table th {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	border: none;
}

.wiki-data-table th {
	background-color: #EEEEEE;
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
}

.wiki-data-table th.sortable {
	cursor: pointer;
}

.wiki-data-table th.sortedUp {
	padding-right: 15px;
	background-image: url('../../../skins/common/images/sort_up.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.wiki-data-table th.sortedDown {
	padding-right: 15px;
	
	background-image: url('../../../skins/common/images/sort_down.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.wiki-data-table td.column-odd {
	background-color: #F6F6F6;
}

.wiki-data-table td.column-even {
	background-color: #FFFFFF;
}
.boolean {
	text-align: center;
}

.integer {
	text-align: right;
}

.language, .text, .short-text {
	text-align: left;
}

/*.wiki-data-table td.language {
	font-style: italic;
}*/

.wiki-data-table td.text {
	padding-bottom: 4px;
}

.wiki-data-table td {
	vertical-align: top;
}

.wiki-data-table td.remove {
	text-align: center;
	background-color: #EEEEEE;
}

.wiki-data-table tr.to-be-removed td.column-odd, .wiki-data-table tr.to-be-removed td.remove {
	background: #FFD8C0;
}

.wiki-data-table tr.to-be-removed td.column-even {
	background: #FFE8D0;
}

.wiki-data-table tr.to-be-removed th {
	background: #FFD0B2;
}

.wiki-data-table th.remove, .wiki-data-table th.input-rows {
	font-weight: normal;
	padding-left: 4px;
	padding-right: 4px;
}

.wiki-data-table td .wiki-data-table td textarea, li .wiki-data-table td textarea {
	width: auto;
}

td.add {
	text-align: center;
}

/* Toggle */

.toggle {
	cursor: pointer;
	text-indent: 0px;
	margin: 0px;
	/*color: #000000;
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: dotted;
	padding-left: 0px;
	font-size: 80%;*/
}

/* Attribute list */

ul.collapsable-items {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
}

.collapsable-items .toggle {
	margin-left: 0px;
	text-indent: 0px;
}

/* Option panel */

.option-panel {
	margin: 8px 4px 4px 4px;
	padding: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #AAAAAA;
}

.option-panel, .option-panel th, .option-panel td {
	background-color: #F5F5F5;
}

.option-panel th {
	padding-right: 8px;
	white-space: nowrap;
	text-align: left;
}

.option-panel table {
	width: 100%;
}

.option-panel td.option-field {
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.dataset-panel {
	float:right;
	margin-left:0.5em;
}

.dataset-panel-heading {
	vertical-align: top;
	font-size:100%;
}

.dataset-panel-active {
	background:#f0f0f0;
	text-align:center;
	border-style:solid;
	border-width:1px;
	font-size:110%;
	font-weight:bold;
}

.dataset-panel-inactive {
	background:white;
	text-align:center;
	border-style:solid;
	border-width:1px;
	font-size:110%;
}