{{#userErrorMessage}}
    <div class="log-error-message" xmlns="http://www.w3.org/1999/html">{{userErrorMessage}}</div>
{{/userErrorMessage}}
{{^userErrorMessage}}
	{{#hasNoUserLogRecords}}
		<div class="log-error-message">{{noUserLogRecordsMessage}}</div>
	{{/hasNoUserLogRecords}}
	{{^hasNoUserLogRecords}}
		<table class="article-table">
            <caption class="log-table-caption">{{logTableCaption}}</caption>
            <thead>
			<tr>
				<th>{{userNameHeader}}</th>
				<th>{{ipAddressHeader}}</th>
				<th>{{locationHeader}}</th>
				<th>{{languageHeader}}</th>
				<th>{{userAgentHeader}}</th>
				<th>{{appHeader}}</th>
				<th>{{timestampHeader}}</th>
			</tr>
			</thead>
			{{#userLogRecords}}
				<tr class="record">
					<td><a href="{{userUrl}}">{{userName}}</a></td>
					<td><a href="{{ipUrl}}" class="ip">{{ip}}</a></td>
					<td class="location">Loading...</td>
					<td>{{language}}</td>
					<td class="useragent">{{userAgent}}</td>
					<td>{{app}}</td>
					<td>{{timestamp}}</td>
				</tr>
			{{/userLogRecords}}
		</table>
        <script>
            var ipCache = {};

            $('.record').each(function( i, elem ) {
                var ip = $(elem).find('.ip').text();

                // if this IP address is already being fetched, attach to it and exit
                if (ip in ipCache) {
                    ipCache[ip].push($(elem));
                    return;
                } else {
                    ipCache[ip] = [$(elem)];
                }

                var primaryURL = 'http://ipinfo.io/' + ip + '/json';
                var fallbackURL = 'https://geoiptool.com/en/?ip=' + ip;

                $.getJSON(primaryURL, function(data){
                    var locationArr = [],
                        location;

                    for (var prop of ['city', 'region', 'country']) {
                        if (data.hasOwnProperty(prop) && data[prop].length) {
                            locationArr.push(data[prop]);
                        }
                    }

                    if (locationArr.length > 0) {
                        location = locationArr.join(', ');
                    } else {
                        location = 'Unknown';
                    }

                    $.each(ipCache[ip], function(i, elem) {
                        elem.find('.location').html(location);
                    });
                }).error(function(){
                    $.each(ipCache[ip], function(i, elem) {
                        elem.find('.location').html('<a href=\'' + fallbackURL + '\'>Click for info</a>');
                    });
                });
            });
        </script>
	{{/hasNoUserLogRecords}}
{{/userErrorMessage}}
