{{#hasUserError}}
	<p>{{userErrorMessage}}</p>
{{/hasUserError}}
{{^hasUserError}}
	{{#hasNoUserLogRecords}}
		<p>{{noUserLogRecordsMessage}}</p>
	{{/hasNoUserLogRecords}}
	{{^hasNoUserLogRecords}}
		<p>{{logTableCaption}}</p>
		<table class="article-table">
			<thead>
			<tr>
				<th style="padding-right:8px">IP Address</th>
				<th style="padding-right:8px">Location</th>
				<th style="padding-right:8px">Language</th>
				<th style="padding-right:8px">User Agent</th>
				<th style="padding-right:8px">App</th>
				<th style="padding-right:8px">Timestamp</th>
			</tr>
			</thead>
			{{#userLogRecords}}
				<tr>
					<td style=\"padding-right:8px\">{{ip}}</td>
					<td style=\"padding-right:8px\">{{location}}</td>
					<td style=\"padding-right:8px\">{{language}}</td>
					<td style=\"padding-right:8px\">{{userAgent}}</td>
					<td style=\"padding-right:8px\">{{app}}</td>
					<td style=\"padding-right:8px\">{{timestamp}}</td>
				</tr>
			{{/userLogRecords}}
		</table>
	{{/hasNoUserLogRecords}}
{{/hasUserError}}
