{{#userErrorMessage}}
	<div class="log-error-message">{{userErrorMessage}}</div>
{{/userErrorMessage}}
{{^userErrorMessage}}
	{{#hasNoUserLogRecords}}
		<div class="log-error-message">{{noUserLogRecordsMessage}}</div>
	{{/hasNoUserLogRecords}}
	{{^hasNoUserLogRecords}}
		<table class="article-table">
            <caption class="log-table-caption">{{logTableCaption}}</caption>
            <thead>
			<tr>
				<th>{{userNameHeader}}</th>
				<th>{{ipAddressHeader}}</th>
				<th>{{locationHeader}}</th>
				<th>{{languageHeader}}</th>
				<th>{{userAgentHeader}}</th>
				<th>{{appHeader}}</th>
				<th>{{timestampHeader}}</th>
			</tr>
			</thead>
			{{#userLogRecords}}
				<tr>
					<td><a href="{{userUrl}}">{{userName}}</a></td>
					<td><a href="{{ipUrl}}">{{ip}}</a></td>
					<td>{{location}}</td>
					<td>{{language}}</td>
					<td>{{userAgent}}</td>
					<td>{{app}}</td>
					<td>{{timestamp}}</td>
				</tr>
			{{/userLogRecords}}
		</table>
	{{/hasNoUserLogRecords}}
{{/userErrorMessage}}
