<form method="get" class="form-username">
	<label for="username">{{userNameLabel}}</label>
	<input id="username" name="username" type="text" value="{{userName}}" required>
	<input type="submit" value="{{viewLogsAction}}">
</form>
<div class="form-divider">{{orLabel}}</div>
<form method="get" class="form-ipaddress">
	<label for="ipAddress">{{ipAddressLabel}}</label>
	<input id="ipAddress" name="ipAddress" type="text" value="{{ipAddress}}" required>
	<input type="submit" value="{{viewLogsAction}}">
</form>
