/* dashed blue line between rows */
#regexblock_blocks li,
#regexblock_triggers li {
border-bottom:1px dashed #778899;
padding-bottom:2px;
font-size:11px;
}

/* target name in green */
#regexblock_blocks .rb_target {
color:#3B7F07;
font-size:12px;
}

/* expired block time in red */
#regexblock_blocks .rb_expired {
color:#DC143C;
}

.red_button {
	background-color: #900;
	background-image: -moz-linear-gradient(top, #c00 20%, #670000 70%);
	background-image: -webkit-gradient(linear, 0% 20%, 0% 70%, from(#c00), to(#670000));
	border-color: #ff0000;
	color: #FFF;
	-moz-box-shadow: 0 0 0 1px #800000;
	-webkit-box-shadow: 0 1px 0 #800000, 0 -1px 0 #800000, 1px 0 0 #800000, -1px 0 0 #800000;
}
