#myhome-wrapper {
	position: relative;
}

.myhome-feed {
	margin-right: 300px;
}

.myhome-feed dl {
	padding: 0 0 30px 0;
	position: relative;
}

.myhome-feed dt {
	position: relative;
}

.myhome-feed dd {
	line-height: 1.3em;
	padding: 8px 0 0 45px;
}

.myhome-feed em {
	font-style: italic;
}

.myhome-feed img.sprite {
	background: transparent url(http://images.wikia.com/common/skins/monaco/images/sprite.png?myhome) repeat scroll 0 0;
	height: 16px;
	position: absolute;
	top: 1px;
	width: 528px;
}

.myhome-feed-sun-icon .sprite {
	clip: rect(0px 528px 16px 512px);
	left: -512px;
}

.myhome-feed-pencil-icon .sprite {
	clip: rect(0px 16px 16px 0px);
	left: 0px;
}

.myhome-feed-talk-icon .sprite {
	clip: rect(0px 498px 16px 482px);
	left: -482px;
}

.myhome-feed-photo-icon .sprite {
	clip: rect(0px 432px 16px 416px);
	left: -416px;
}

.myhome-feed-film-icon .sprite {
	clip: rect(0px 512px 16px 498px);
	left: -498px;
}

.myhome-feed-comment-icon .sprite {
	clip: rect(0px 482px 16px 466px);
	left: -466px;
}

.myhome-feed dt .title {
	font-size: 1.2em;
	margin-left: 18px;
}

.myhome-feed cite {
	display: block;
	font-size: 0.9em;
	margin-left: 18px;
}

.myhome-diff {
	margin: 0 4px;
}

.myhome-feed-more {
	text-align: right;
}

.myhome-feed-more a {
	cursor: pointer;
}

.myhome-feed-loading .myhome-feed-more {
	background: transparent url(http://images.wikia.com/common/skins/common/progress-wheel.gif) no-repeat 100% 50%;
}

.myhome-feed-loading .myhome-feed-more a {
	visibility: hidden;
}

#myhome-image-preview,
#myhome-video-player {
	padding: 2px 0 0 !important;
}

#myhome-sidebar {
	border-left: solid 1px #aaa;
	padding-left: 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;
}

#myhome-sidebar .myhome-feed {
	margin-right: 0;
}

#myhome-user-contributions-feed-content dl {
	padding: 0 0 5px;
}

#myhome-user-contributions-feed-content a.title {
	font-size: 1em;
}

#myhome-user-contributions-feed-content cite {
	display: inline;
	margin: 0;
}

/* IE6 fixes */
* html .myhome-feed .sprite {
	background-image: none !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://images.wikia.com/common/skins/monaco/images/sprite.png?myhome', sizingMethod='crop');
}
