#myhome-wrapper {
	height: 1%;
	overflow: hidden;
	position: relative;
}
#myhome-wrapper h2 {
	clear: left;
	margin: 0 0 0.6em;
}
#myhome-feed-switch {
	font-size: 9pt;
	position: absolute;
	top: 12px;
	right: 300px;
}

#myhome-feed-switch .selected {
	font-weight: bold;
}
#myhome-feed-switch-default {
	float: right;
	font-size: 8pt;
	padding: 0 3px;
}

#myhome-feed-switch-default-checkbox {
	vertical-align: middle;
}

#myhome-main h2 {
	margin: 0;
}
#myhome-main .activityfeed {
	margin-top: 25px;
}

h3.myhome-empty-message {
	line-height: 1.5em;
	padding: 20px 0;
}

.activityfeed {
	margin-left: 20px;
}

.activityfeed li {
	height: 1%;
	margin-bottom: 25px;
}

.activityfeed em {
	font-style: normal;
	font-weight: bold;
}

.activityfeed img.sprite {
	margin-left: -20px;
}

.activityfeed strong {
	font-size: 14pt;
	font-weight: normal;
	position: relative;
}

.activityfeed cite {
	font-size: 9pt;
}
.activityfeed table {
	margin-top: 5px;
}
.activityfeed td {
	line-height: 1.3em;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}
td.activityfeed-details-label {
	padding-right: 10px;
	white-space: nowrap;
}

.myhome-feed-more {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
	text-align: center;
}
.myhome-feed-more a {
	cursor: pointer;
	display: block;
	padding: 5px 0;
}

.myhome-feed-loading .myhome-feed-more {
	background: transparent url(http://images.wikia.com/common/skins/common/progress-wheel.gif?20091023) no-repeat 50% 50%;
}

.myhome-feed-loading .myhome-feed-more a {
	visibility: hidden;
}

/* Images / videos */
#myhome-image-preview,
#myhome-video-player {
	padding: 2px 0 0 !important;
}

#myhome-image-preview img {
	display: block;
	margin: 0 auto;
}

#myhome-image-preview-popup {
	min-height: 150px;
	min-width: 150px;
}

.activityfeed-inserted-media li {
	border: solid 1px #ccc;
	float: left;
	margin: 4px 4px 4px 0;
	position: relative;
}

.activityfeed-inserted-media li a {
	cursor: pointer;
	display: table-cell;
	height: 160px;
	text-align: center;
	vertical-align: middle;
	width: 160px;
}

.myhome-video-play {
	background: transparent url(images/play.png?20091023) no-repeat 50% 50%;
	left: 0;
	height: 160px;
	position: absolute;
	top: 0;
	width: 160px;
}

#myhome-main {
	margin-right: 300px;
}

/* Sidebar */
#myhome-sidebar {
	border-left: solid 1px #aaa;
	float: right;
	padding-left: 10px;
	width: 280px;
}

#myhome-sidebar ul {
	margin-bottom: 30px;
}

/* User contributions */
#myhome-user-contributions li {
	margin-bottom: 5px;
}

.activityfeed li .title {
	position: relative;
}

/* Hot Spots */
#myhome-hot-spots {
	margin: 0;
}
#myhome-hot-spots li {
	clear: left;
	height: 1%;
}
#myhome-hot-spots li div {
	clear: left;
	color: #FFF;
	float: left;
	height: 26px;
	margin-bottom: 10px;
	text-align: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#myhome-hot-spots big {
	display: block;
	float: left;
	font-size: 16pt;
	font-weight: normal;
	line-height: 30px;
	width: 35px;
}

#myhome-hot-spots small {
	font-size: 9pt;
	font-weight: normal;
	line-height: 28px;
	margin-left: 10px;
	margin-right: 15px;
}

#myhome-hot-spots span {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 6px;
}
.hot-spot-severity-1 {
	background-color: #C03;
}
.hot-spot-severity-2 {
	background-color: #F90;
}
.hot-spot-severity-3 {
	background-color: #FC0;
}
.hot-spot-severity-4 {
	background-color: #390;
}
.hot-spot-severity-5 {
	background-color: #069;
}
#myhome-hot-spots .myhome-hot-spots-fire {
	margin-right: 10px;
}
.fire .myhome-hot-spots-fire {
	background: url(http://images.wikia.com/common/extensions/wikia/MyHome/images/fire.png?20091023) repeat-x;
	padding-top: 30px;
}
.fire span {
	padding-top: 36px !important;
}

/* Community Corner */
#myhome-community-corner {
	clear: right;
}

/* Special:ActivityFeed */
#activityfeed-wrapper #myhome-main {
	margin-right: 0;
}
