<div class="item">
	{{{videoThumb}}}
	<div class="description">
		{{#video}}
			<a class="lightbox" href="{{fullUrl}}" data-ref="{{prefixedUrl}}" data-external="{{external}}" data-video-name="{{title}}" >
				{{truncatedTitle}}
			</a>
			<span class="video-views">{{viewsMsg}}</span>
		{{/video}}
	</div>
</div>