<div class="item" data-total-count="{{totalVideos}}">
	{{#canDelete}}
		<a class="remove" title="{{removeTooltip}}" href="#"><span class="sprite trash"></span></a>
	{{/canDelete}}
	{{{videoThumb}}}
	{{#isNew}}
		<div class="new">{{isNewMsg}}<div class="newRibbon" ></div></div>
	{{/isNew}}
	<div class="description">
		{{#video}}
			<a class="lightbox lightbox-link-to-open" href="{{fullUrl}}" data-ref="{{prefixedUrl}}" data-external="{{external}}" data-video-name="{{title}}" data-video-key="{{key}}">
				{{{truncatedTitle}}}
			</a>
			<span class="video-views">{{viewsMsg}}</span>
		{{/video}}
	</div>
</div>