/* common formatting for fields */

#wpTableMultiEdit ,
#cp-multiedit {
	clear: both ;
}

#createpageform .normal-input ,
#createpageform textarea {
	border: solid 1px #a0a0a0;
	padding: 2px 3px;
}

#createpageform textarea {
	width: 92% ;
}

#createpageoverlay {
	opacity: 0.5 ;
	background-color: #dddeee ;
	filter: alpha (opacity=50) ;
}

#createpagepreview .actionBar ,
#createpageform .actionBar {
	background:#F9F9F9 none repeat scroll 0%;
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	clear:both;
	margin-top: -12 px;
	padding:4px 8px;
	text-align:right;
}

#createpageform #createpageinfo {	
	clear: both ;
	padding-left: 5px ;
	padding-right: 10px ;
	text-align: left ;	
}

#createpageform .actionBar #wpRunInitialCheck {
	float: left ;
	margin-left: 6px ;
}

#createpagepreview .actionBarStrong ,
#createpageform .actionBarStrong {
	background:#e9e9e9 none repeat scroll 0%;
	border-bottom: 1px solid #000000 ;
	border-top: 1px solid #000000 ;
	margin-top: 10px ;
	padding-left: 6px ;
	text-align: left ;
	font-weight: bold ;
	color: #000000 ;
}

#createpageform .buttonBar {
	text-align: left ;
}

#createpageform .buttonDefault
{
	border-width: 6px;
}
#createpageform .upload_submit {
	margin-left: 132px ;
	margin-bottom: 4px ;
	background:#3366CC none repeat scroll 0%;
	border:4px double #FFFFFF;
	color:#FFFFFF;
	cursor:pointer;
	font-family:"Lucida Grande",sans-serif;
	font-size:8pt;
	font-weight:bold;
	padding:2px 5px;	
	width: auto ;
}
#createpageform .progress {
	padding-left: 130px ;
	display: none ;
}

#createpagebottom {
	padding: 2px 2px 2px 2px ;
	margin-bottom: 4px ;
}

#wpTableMultiEdit .upload_submit {
	margin-left: 130px ;
	width: auto ;
}

#wpTableMultiEdit .progress {
	padding-left: 130px ;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

#cp-title-check {
	clear: both ;
	margin: 5px 10px 5px 100px;
	float: left ;
	font-weight: bold;
}


/* infobox */
#Createtitlelabel {
	float:left;
	font-weight:bold;
	width: 85px;
	padding-left:5px;
        padding-right:10px;
        text-align:left;
        text-transform:capitalize;
	margin-top: 3px;
}

#wpTableMultiEdit .normal-label ,
#cp-infobox .normal-label {
        float: left;
        width: 120px;
        font-weight: bold;
        text-transform: capitalize;
        text-align: right;
        padding-right: 10px;
}

#wpTableMultiEdit .nofloat ,
#cp-infobox .nofloat {
	margin-left: -20px ;
}

#wpTableMultiEdit input .fileUpload,
#cp-infobox input.fileUpload {
    margin-right: 50px;
}

#wpTableMultiEdit div div .createpage_input_file ,
#cp-infobox div .createpage_input_file {
	width:auto;
        position:relative;
        font:x-small/160% Verdana;
        margin:0 0 4px 0;
        zoom:1;
	overflow:hidden;
}

#wpTableMultiEdit div div .createpage_input_file label,
#cp-infobox div .createpage_input_file label {
        float:right;
        white-space:nowrap;
        position:relative;
        z-index:1;
        left:0;
        top:0;
        overflow:hidden;
	cursor: pointer;
	font-family:"Lucida Grande",sans-serif;
	font-size:9pt;
	font-weight:bold;
	padding:2px 5px;
        display:inline;
        -webkit-border-top-right-radius:8px;
        -webkit-border-bottom-right-radius:8px;
}

#wpTableMultiEdit div div .createpage_input_file_no_path label ,
#cp-infobox div .createpage_input_file_no_path label {
        float:left;
}

#wpTableMultiEdit div div .createpage_input_file label input,
#cp-infobox div .createpage_input_file label input{
        position:absolute;
        right:0;
        top:0;
        border:none;
        font-size:5em;
        line-height:12px;
        opacity:0;
        zoom:1;
        filter:alpha(opacity=0);
        cursor:pointer;
}

#wpTableMultiEdit div div .createpage_input_file_no_path label ,
#cp-infobox div .createpage_input_file_no_path label {
        -webkit-border-radius:8px;
}

#Createtitle,
#wpTableMultiEdit .normal-input ,
#cp-infobox .normal-input {
	margin-bottom: 5px;
	width: 250px;
}

#cp-infobox .rename {
	margin-left: 5px;
	width: 200px;
}

#Createtitle {
	float: left ;
	margin-top: 4px ;
	border: 1px solid #A0A0A0 ;
	padding 2px 3px ;
}

.bordered {
	border: 1px solid gray ;
        margin-left:20px;
	width: 450px ;
	padding-top:4px;
}

#cp-infobox br {
	clear: left;
}

#createpage_upload_submit {
	margin-left: 110px;
	width: auto !important;
}

/* old template chooser */
#cp-scroller {
	width:90%;
	margin:0 auto;
	overflow:hidden;
	padding:20px 35px;
	position:relative;
}
#cp-scroller a {
	position:absolute;
	text-decoration:none;
	top:50px;
	z-index:100;
}
#cp-scroller-left {
	display:none;
	left:5px;
}
#cp-scroller-right {
	display:none;
	right:5px;
}
#cp-scroller-inside {
	width:90%;
	overflow:hidden;
	margin:0 auto;
	position:relative;
}
#cp-scroller-list {
	width:2000px;
}
#cp-scroller-list, #cp-scroller-list li {
	margin:0;
	overflow:hidden;
	padding:0;
}
#cp-scroller-list li {
	float:left;
	height:90px;
	margin:0 10px 0 0;
	width:90px;
	padding:0;
	text-align: center;
}

#cp-infobox-fieldset {
	border: 2px 1px 1px 1px;
}

/* template chooser */
#createpageform div.templateFrame {
	border-right:1px solid #CCCCCC;
	float:left;
	padding:10px;
}

#createpageform div.templateFrame:hover {
	background-color:#F1F1F1;
	cursor:pointer;
}

#createpageform div.templateFrameSelected {
	background-color: #e7e7e7;
	border: solid 1px #2f6fab;
}

#createpageform div.templateFrameLast {
	border-right: none;
}

#createpage_warning_copy,
#createpage_warning_copy2 {
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	color:#000000;
}

#createpage_warning_copy .boxHeader,
#createpage_warning_copy2 .boxHeader {
	padding:3px 5px;
}

#createpage_warning_copy div.warning_text,
#createpage_warning_copy2 div.warning_text {
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 10px;
    margin-top: 10px;
}

#createpage_warning_copy div.warning_buttons,
#createpage_warning_copy2 div.warning_buttons {
    padding: 5px;
    text-align: center;
}

#createpage_warning_copy div.warning_buttons input, 
#createpage_warning_copy2 div.warning_buttons input {
    margin: 0 5px;
}

#createpage_cloud_section, #createpage_cloud_section_njs {
	border: 1px solid lightgray;
	padding: 15px 15px 15px 15px;
}

#wpCategoryTextarea {
	display: none ;
}

#wpCategoryInput, #wpCategoryButton {
	margin: 4px 2px 0 2px ;
}

#wpCategoryInput {
	width: 450px ;
}

.createpage-separator {
	height: 10pt;
} 
