{{notificationMessage}}
{{#insightsPageLink}}
	<a href="{{insightsPageLink}}" data-type="back-to-list">{{insightsPageButton}}</a>
{{/insightsPageLink}}
{{#nextArticleLink}}
	<a id="InsightsNextPageButton" href="{{nextArticleLink}}" data-type="next-page">{{nextArticleButton}}</a>
{{/nextArticleLink}}
