{{notificationMessage}}
{{#insightsPageLink}}
	<a id="InsightsBackToListButton" href="{{insightsPageLink}}">{{insightsPageButton}}</a>
{{/insightsPageLink}}
{{#nextArticleLink}}
	<a id="InsightsNextPageButton" href="{{nextArticleLink}}">{{nextArticleButton}}</a>
{{/nextArticleLink}}
