{{notificationMessage}}
{{#editPageLink}}
	<a id="InsightsEditPageButton" href="{{editPageLink}}" data-type="back-to-edit">{{editPageText}}</a>
{{/editPageLink}}
{{#insightsPageLink}}
	<a href="{{insightsPageLink}}" data-type="back-to-list">{{insightsPageText}}</a>
{{/insightsPageLink}}
{{#nextArticleLink}}
	<a id="InsightsNextPageButton" href="{{nextArticleLink}}" data-type="next-page">{{nextArticleText}}</a>
{{/nextArticleLink}}
