/**Create Form**/
.create-collablib-top {
	background-color:#F2F4F7;
	border:1px solid #DCDCDC;
	margin:-10px 0px 15px;
	padding:9px;
	width:500px;
}

.create-collablib-top h1 {
	font-size:22px;
	font-color:#333333;
	margin:0px 0px 10px 0px !important;
}

.create-collablib h1 {
	font-size:16px;
	font-weight:800;
	font-color:#333333;
	margin:20px 0px 10px 0px !important;
}

.create-collablib-text {
	margin:0px 0px 8px 0px;
}

.create-collablib-title input {
	width:250px;
}