##
##  you must add a filter:rewrite section to the swift proxy-server.conf 
##  this file documents the options available
##

[filter:rewrite]

# the auth system turns our login and key into an account / token pair.
# the account remains valid forever, but the token times out.
url = http://127.0.0.1:8080/auth/v1.0
account = AUTH_205b4c23-6716-4a3b-91b2-5da36ce1d120
login = mw:thumb
key = testing

# the name of the scaler cluster.
thumbhost = upload.wikimedia.org

# upload doesn"t like our User-agent (Python-urllib/2.6), otherwise we could call it using urllib2.urlopen()
user_agent = Mozilla/5.0

# uncomment this if we want to write the 404 handler"s output into Swift.
writethumb=yes

# Should we shard containers?  Note that this config and mediawiki's config must agree or bad things will happen.
# valid choices: all, some, none
shard_containers = some
# if we shard some containers, provide an unquoted comma-separated list of containers to shard
# note that these are container names, not URL paths.
shard_container_list = wikimedia-commons-thumb,wikipedia-en-thumb

