.WidgetGamespot a {
	color: #feb900 !important;
	display: block;
	font-size: 9pt;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}
.WidgetGamespot ul {
	margin: 5px !important;
	margin-top: -5px !important;
	padding: 0 !important;
	font-size:8.5pt !important;
}
.WidgetGamespot li {
	border-bottom: 1px dotted #666;
	list-style: none;
	margin-bottom: 0.1em;
}
.WidgetGamespot li a {
	display: inline;
	text-align: left;
}
.WidgetGamespot a:hover {
	text-decoration: underline;
}
.WidgetGamespotDate {
	color: #b8b8b8;
	font-style: italic;
	height: 30px;
	line-height: 30px;
}
.WidgetGamespot h1 {
	/*background: url(/skins/quartz/gamespot/images/gamespot_logo_box.gif) no-repeat;*/
	/*padding-left: 100px !important;*/
	font-size: 12pt !important;
	color: #c9c9c9 !important;
	text-decoration: none !important;
	line-height: 30px !important;
	font-weight:normal !important;
}
