.narayam-input {
	/* FIXME: needed to add !important because WikiEditor overrides border for #wpTextbox1
	 * and SimpleSearch overrides background-color for the search box. Talk to Trevor
	 * about styling this nicely
	 */
	background-color: #EAF3F8 !important;
}

li#pt-narayam {
	padding-left: 15px !important;
}

/* Variants and Actions */
/* @noflip */
div#narayam-menu {
	direction: ltr;
	float: left;
	display: none;
}

div#narayam-menu.open {
	display: block;
}
/* @noflip */
body.rtl div#narayam-menu {
	direction: rtl;
}
div#narayam-menu div.menu-items {
	position: absolute;
	display: block;
	clear: both;
	text-align: left;
	z-index: 99999;
	width: 200px;
	top: 20px;
	font-size: 0.8em;
}

div#narayam-menu-items li {
	margin: 0;
	padding: 5px;
	font-size: 100%;
	float: none;
	z-index: 99999;

}
ul#imelist{
	padding: 5px;
}
/* OVERRIDDEN BY COMPLIANT BROWSERS */
/* @noflip */
body.rtl div#narayam-menu div.menu-items {
	margin-left: 24px;
}
/* IGNORED BY IE6 */
/* @noflip */
body.rtl div#narayam-menu > div.menu-items {
	margin-left: auto;
}
/* IGNORED BY IE6 */
/* Also fixes old versions of FireFox */
/* @noflip */
body.rtl div#narayam-menu > div.menu-items,
x:-moz-any-link {
	margin-left: 23px;
}

div#narayam-menu ul {
	position: absolute;
	background-color: white;
	border: solid 1px silver;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-top-width: 0;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	padding: 10px; /* Space for scrollbars etc. */
	margin: 0;
	margin-left: -1px;
	text-align: left;
	max-height: 360px;
	overflow-y: auto;
	width: 100%;
}

div#narayam-menu li {
	margin: 0;
	text-align: left;
	line-height: 1em;
}

div#narayam-menu li.selected a,
div#narayam-menu li.selected a:visited {
	color: #333333;
	text-decoration: none;
}
div#narayam-menu a {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

div#narayam-menu-items li.narayam-help-link a {
	/* @embed */
	background: url('images/help.png') no-repeat scroll left center transparent;
	padding-left: 20px;
	line-height: 1.5em;
}

li#pt-narayam.narayam-active {
	/* @embed */
	background: url('images/narayam-active.png') no-repeat scroll left top transparent;
}

li#pt-narayam.narayam-inactive {
	/* @embed */
	background: url('images/narayam-inactive.png') no-repeat scroll left top transparent;
}

li.narayam-more-imes-link {
	/* @embed */
	background: url('images/closed-ltr.png') no-repeat scroll left center transparent;
}

li.narayam-more-imes-link.open {
	/* @embed */
	background: url('images/open.png') no-repeat scroll left center transparent;
}
li.narayam-more-imes-link a {
	padding-left: 10px;
}

div#narayam-menu label:hover, div#narayam-menu input:hover {
	cursor: pointer;
}
