@import 'skins/shared/color';

$tc-name-color-checked: $color-links;

@if $is-dark-wiki {
	$tc-name-color: lighten(mix($color-text, $color-links, 75%), 5%);
	$tc-modal-text-color: darken($color-text, 20);
} @else {
	$tc-name-color: darken(mix($color-text, $color-links, 75%), 5%);
	$tc-modal-text-color: lighten($color-text, 20);
}

$tc-name-color: #000;
$tc-modal-text-color: #000;

.template-classification-type-wrapper {
	position: relative;
}

.template-classification-type-text {
	cursor: pointer;

	.edit {
		display: inline-block;
		margin: 0 4px;
	}
}

.tc-edit-rail-box {
	margin: 10px 0;

	.tc-edit-rail-header {
		font-size: 14px;
	}
}

.editpage-sourcewidemode-on {
	.tc-edit-rail-box {
		display: none;
	}
}

.template-classification-edit-modal {
	/* Override modal defaults to new design */
	color: $tc-modal-text-color;
	font-size: 14px;
	line-height: 20px;

	&.modal>section {
		padding: 25px 27px;
	}

	h2 {
		margin-bottom: 27px;
	}

	.tc-instructions {
		font-size: 16px;
		margin-bottom: 37px;
	}

	.tc-type-name {
		//color: $tc-name-color;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 4px;
	}

	:checked+div .tc-type-name,
	a {
		color: $tc-name-color-checked;
	}

	.template-classification-edit-form-input {
		flex: 0 0 14px;
		margin: 0 13px 0 0;
		vertical-align: text-bottom;
	}

	.template-classification-edit-form-label::after {
		content: '\A';
		white-space: pre;
	}
}

.template-classification-edit-form-label {
	align-items: baseline;
	display: flex;
	justify-content: flex-start;

	&:last-child div p {
		margin-bottom: 0;
	}

	div {
		display: inline-block;
		vertical-align: top;

		p {
			line-height: 20px;
			margin-bottom: 30px;
		}
	}

	.tc-type-name {
		font-weight: bold;
	}
}

@keyframes fadeBackground {
	to {
		background-color: transparent;
	}
}

.template-classification-error {
	animation: fadeBackground 1s linear;
	background-color: $color-error;
}

.template-classification-type-wrapper .tooltip,
.wikia-page-header .tooltip {
	color: $color-text;
	white-space: normal;
	width: 220px;

	a {
		color: $color-links;
	}

	.close-bulk-hint {
		text-align: right;
	}
}

// for new templates in order to hide editor while template classification modal is visible
.show-template-classification-modal .WikiaPage {
	opacity: 0;
}
