    .WidgetSlideshowImages {  
	position: relative;
	overflow: hidden;
	height:   120px;
	margin: 3px;
    }
    
    div.WidgetSlideshowImages div.slide {
	position:absolute;
	top: 0;
	left: 0;
	opacity: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #000000;
	border: solid 1px #666666;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    }
    
    div.WidgetSlideshowImages div.slide a {
	width: 100%;
	height: 100%;
	display: block;
    }
    
    .yui-sldshw-next {
     z-index: 1;
     display: block;
     opacity: 1.0;
    }

    .yui-sldshw-active {
     z-index: 10;
     display: block;
     opacity: 1.0;
    }
    
    .yui-sldshw-cached {
     display: none;
     z-index: 0;
     opacity: 1.0;
    }

    div.yui-sldshw-frame {
     background: white;
    }
    
    
	.WidgetSlideshowControls
	{
		float: right;
		padding: 5px 0 !important;
		z-index: 100;
		opacity: 0.7;
	}

	.WidgetSlideshowControls a
	{
		width: 16px;
		height: 16px;
		margin: 0 3px;
		display: block;
		cursor: pointer;
		float: left;
		text-decoration: none !important;
	}
	
	.WidgetSlideshowControlPrev
	{
		background-image: url('../icons/widget_slideshow_prev.png');
	}
	
	.WidgetSlideshowControlNext
	{
		background-image: url('../icons/widget_slideshow_next.png');
	}
	
	.WidgetSlideshowControlPause
	{
		background-image: url('../icons/widget_slideshow_pause.png');
	}
	
	.WidgetSlideshowControlPlay
	{
		background-image: url('../icons/widget_slideshow_play.png');
	}
.widgetReferrersDomainTag {margin: 2px 5px; line-height: 1.3em}

.WidgetShoutBox h5 {font-weight: bold !important; margin: 3px 0 !important}
.WidgetShoutBoxChat form input {border: solid 1px #666666; font-size: 0.9em; margin: 6px 0 2px 0}
.WidgetShoutBoxChat form input[type="text"] {width: 100%; padding: 2px}
.WidgetShoutBoxChat form input[type="submit"] {width: 75px; padding: 1px; cursor: pointer; margin-top: 3px}
body.ltr .widgetShoutBox ul li {padding-left: 60px; text-indent: -60px}
.WidgetShoutBoxChat ul li p {display: inline}
.WidgetShoutBoxChat ul li .shoutBoxMsg a {text-decoration: underline}
body.rtl .WidgetShoutBox ul {direction: ltr; text-align: right}

.WidgetTopContent select {
    float: left;
    width: 130px;
    margin-top: 4px;
    font-size: 0.9em !important;
}