@import 'mixins';
@import 'variables';

.wikia-ad.hidden,
.wikia-ad .hidden,
.wikia-ad[id^="INVISIBLE_"],
.wikia-ad iframe[width="1"][height="1"] {
	display: none !important;
}

.wikia-ad-label {
	color: $color-alternate-text;
	display: block;
	font-size: 10px;
	line-height: 100%;
	padding-bottom: 4px;
	text-align: left;
	text-transform: uppercase;
}

.top-ads {
	line-height: 0;
	margin: 10px auto;
	text-align: center;

	> .ad {
		display: inline-block;
		position: relative;

		> .default-height {
			height: 90px;
		}
	}
}

.top-right-ad {
	@include grid-column-width('medium', 4, -2 * $medium-grid-column-padding);
	display: block;
	float: right;
	margin: 0 $medium-grid-column-padding + $medium-content-padding - $content-border-width 0 $medium-grid-gutter + $medium-grid-column-padding;
	position: relative; // Temporary fix for tables overlapping recentWikiActivity & medrec ad
	text-align: center;

	> .ad {
		margin: 0 auto 0;
		width: 300px;

		> .default-height {
			height: 250px;
		}

		> .wikia-ad {
			margin-bottom: 20px;
		}
	}
}

@media #{$medium-up} {
	.top-right-ad > .ad > .wikia-ad {
		margin-top: 50px;
	}
}

.bottom-ads {
	@include clearfix;
	background: $global-wikia-background-color;
	border: $content-border-width solid $color-page-border;
	border-bottom: 0;
	border-top: 0;
	font-size: 0;
	text-align: center;
	position: relative; // ad-skin should not cover this div

	> .wikia-ad {
		display: inline-block;
		margin: 40px 15px 50px;
		width: 300px;
	}
}

.ad-in-content {
	clear: right;
	float: right;

	> .default-height {
		width: 300px;
		height: 265px; // height of the ad including the label
	}

	> .wikia-ad {
		margin: 12px 0 30px 30px; // margin-right set below per breakpoint
	}
}

@media #{$small-only} {
	.ad-in-content > .wikia-ad {
		margin-right: -$small-grid-column-padding;
	}
}

@media #{$medium-only} {
	.ad-in-content > .wikia-ad {
		margin-right: -$medium-grid-column - $medium-grid-column-padding;
	}
}

@media #{$large-only} {
	.ad-in-content > .wikia-ad {
		margin-right: -$large-grid-column - $large-grid-column-padding;
	}
}

.clear-right-after-ad-in-content {
	clear: right;
}

@media #{$small-only} {
	.top-ads {
		width: 100%;
	}

	.top-right-ad {
		@include grid-column-width('small', 5);
		margin: 0 $small-content-padding - $content-border-width 0 $small-grid-gutter + $small-grid-column-padding;
	}
}

@media #{$large-up} {
	.top-right-ad {
		@include grid-column-width('large', 4, -2 * $large-grid-column-padding);
		margin: 0 $large-grid-column-padding + $large-content-padding - $content-border-width 0 $large-grid-gutter + $large-grid-column-padding;
	}

	// Scale the skin ads on the largest breakpoint
	body.background-ad {
		background-size: 1920px;
	}
}

// A monkey-patch for Video walls plus global navigation
#videowallplayerwrapper,
#jpright,
#jpleft,
#jpgradient,
#jpsuperheader {
	top: $global-navigation-height;
}
