@import "skins/shared/color";

// Background
//$background-height: get_command_line_param( "background-image-height", 0 );
$background-width: get_command_line_param( "background-image-width", 0 );
$width-limit: 1000px;

$background-align: if( $background-width > $width-limit, center, left );

body.skin-venus {
	background-color: $color-body;
	background-image: url($background-image); /* $wgCdnStylePath */
	background-repeat: repeat;
	background-position: top $background-align;

	&.background-not-tiled {
		background-repeat: no-repeat;
	}

	&.background-fixed {
		background-attachment: fixed;
	}
}
