@import 'variables';

#glyph-button {
	background: $color-buttons;
	color: #fff;
}

#outline-button {
	background: transparent;
	color: $color-buttons;
}

.wikia-button {
	@extend #glyph-button;
	border: 0;
	border: 1px solid $color-buttons;
	font-size: $font-size-xxs;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-transform: uppercase;

	&[disabled] {
		opacity: 0.5;

		&:hover {
			@extend #glyph-button;
		}
	}

	&:hover {
		@extend #outline-button;
	}
}

.wikia-button.secondary {
	@extend #outline-button;

	&[disabled] {
		opacity: 0.5;

		&:hover {
			@extend #outline-button;
		}
	}

	&:hover {
		@extend #glyph-button;
	}
}
