/**
 * GENERAL CLASSES FOR DIRECTIONALITY SUPPORT
 * These file base on /skins/common/shared.css
 */

/**
 * These classes should be used for text depending on the content direction.
 * Content stuff like editsection, ul/ol and TOC depend on this.
 */
.mw-content-ltr {
	/* @noflip */
	direction: ltr;
}
.mw-content-rtl {
	/* @noflip */
	direction: rtl;
}

/* Most input fields should be in site direction */
.sitedir-ltr textarea,
.sitedir-ltr input {
	/* @noflip */
	direction: ltr;
}
.sitedir-rtl textarea,
.sitedir-rtl input {
	/* @noflip */
	direction: rtl;
}

/* Input types that should follow user direction, like buttons */
/* TODO: What about buttons in wikipage content ? */
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"] {
	direction: ltr;
}

/* Override default values */
textarea[dir="ltr"],
input[dir="ltr"] {
	/* @noflip */
	direction: ltr;
}
textarea[dir="rtl"],
input[dir="rtl"] {
	/* @noflip */
	direction: rtl;
}

/* Default style for semantic tags */
abbr,
acronym,
.explain {
	border-bottom: 1px dotted;
	cursor: help;
}

/* Correct directionality when page dir is different from site/user dir */
.mw-content-ltr .editsection,
.mw-content-rtl .mw-content-ltr .editsection {
	/* @noflip */
	float: right;
}
.mw-content-rtl .editsection,
.mw-content-ltr .mw-content-rtl .editsection {
	/* @noflip */
	float: left;
}

/* Plainlinks - this can be used to switch
 * off special external link styling */
.plainlinks a {
	background: none !important;
	padding: 0 !important;
}

/* External URLs should always be treated as LTR (bug 4330) */
/* @noflip */ .rtl a.external.free,
.rtl a.external.autonumber {
	direction: ltr;
	unicode-bidi: embed;
}

/* success and error messages */
.success {
	color: green;
	font-size: larger;
}
.warning {
	color: #FFA500; /* orange */
	font-size: larger;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox,
.warningbox,
.successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.warningbox {
	border-color: #FF8C00; /* darkorange */
	background-color: #FFFFC0;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2,
.warningbox h2,
.successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

/* general info/warning box for SP */
.mw-infobox {
	border: 2px solid #ff7f00;
	margin: 0.5em;
	clear: left;
	overflow: hidden;
}

.mw-infobox-left {
	margin: 7px;
	float: left;
	width: 35px;
}

.mw-infobox-right {
	margin: 0.5em 0.5em 0.5em 49px;
}

/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

/* Correct directionality when page dir is different from site/user dir */
.mw-content-ltr ul,
.mw-content-rtl .mw-content-ltr ul {
	/* @noflip */
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}
.mw-content-rtl ul,
.mw-content-ltr .mw-content-rtl ul {
	/* @noflip */
	margin: 0.3em 1.6em 0 0;
	padding: 0;
}
.mw-content-ltr ol,
.mw-content-rtl .mw-content-ltr ol {
	/* @noflip */
	margin: 0.3em 0 0 3.2em;
	padding: 0;
}
.mw-content-rtl ol,
.mw-content-ltr .mw-content-rtl ol {
	/* @noflip */
	margin: 0.3em 3.2em 0 0;
	padding: 0;
}
/* @noflip */
.mw-content-ltr dd,
.mw-content-rtl .mw-content-ltr dd {
	margin-left: 1.6em;
	margin-right: 0;
}
/* @noflip */
.mw-content-rtl dd,
.mw-content-ltr .mw-content-rtl dd {
	margin-right: 1.6em;
	margin-left: 0;
}

.mw-ajax-loader {
	/* @embed */
	/*Wikia change start - author Federico (FB#35346)*/
	background-image: url(/skins/common/images/ajax-loader.gif);
	/*Wikia change end*/
	background-position: center center;
	background-repeat: no-repeat;
	padding: 16px;
	position: relative;
	top: -16px;
}

.mw-small-spinner {
	padding: 10px !important;
	margin-right: 0.6em;
	/* @embed */
	/*Wikia change start - author Federico (FB#35346)*/
	background-image: url(/skins/common/images/spinner.gif);
	/*Wikia change end*/
	background-position: center center;
	background-repeat: no-repeat;
}

/* Language specific height correction for titles. Ref Bug 29405 and Bug 30809 */
/* Languages like hi or ml require slightly more vertical space to show diacritics properly */
h1:lang(as),
h1:lang(bn),
h1:lang(gu),
h1:lang(hi),
h1:lang(kn),
h1:lang(ml),
h1:lang(mr),
h1:lang(or),
h1:lang(pa),
h1:lang(sa),
h1:lang(ta),
h1:lang(te) {
	line-height: 1.5em !important;
}
h2:lang(as), h3:lang(as), h4:lang(as), h5:lang(as), h6:lang(as),
h2:lang(bn), h3:lang(bn), h4:lang(bn), h5:lang(bn), h6:lang(bn),
h2:lang(gu), h3:lang(gu), h4:lang(gu), h5:lang(gu), h6:lang(gu),
h2:lang(hi), h3:lang(hi), h4:lang(hi), h5:lang(hi), h6:lang(hi),
h2:lang(kn), h3:lang(kn), h4:lang(kn), h5:lang(kn), h6:lang(kn),
h2:lang(ml), h3:lang(ml), h4:lang(ml), h5:lang(ml), h6:lang(ml),
h2:lang(mr), h3:lang(mr), h4:lang(mr), h5:lang(mr), h6:lang(mr),
h2:lang(or), h3:lang(or), h4:lang(or), h5:lang(or), h6:lang(or),
h2:lang(pa), h3:lang(pa), h4:lang(pa), h5:lang(pa), h6:lang(pa),
h2:lang(sa), h3:lang(sa), h4:lang(sa), h5:lang(sa), h6:lang(sa),
h2:lang(ta), h3:lang(ta), h4:lang(ta), h5:lang(ta), h6:lang(ta),
h2:lang(te), h3:lang(te), h4:lang(te), h5:lang(te), h6:lang(te) {
	line-height: 1.2em;
}

/* Localised ordered list numbering for some languages */
ol:lang(bcc) li,
ol:lang(bqi) li,
ol:lang(fa) li,
ol:lang(glk) li,
ol:lang(kk-arab) li,
ol:lang(mzn) li {
	list-style-type: -moz-persian;
	list-style-type: persian;
}

ol:lang(ckb) li {
	list-style-type: -moz-arabic-indic;
	list-style-type: arabic-indic;
}

ol:lang(as) li,
ol:lang(bn) li {
	list-style-type: -moz-bengali;
	list-style-type: bengali;
}

ol:lang(or) li {
	list-style-type: -moz-oriya;
	list-style-type: oriya;
}

#toc ul, .toc ul {
	margin: .3em 0;
}

/* Correct directionality when page dir is different from site/user dir */
/* @noflip */ .mw-content-ltr .toc ul,
.mw-content-ltr #toc ul,
.mw-content-rtl .mw-content-ltr .toc ul,
.mw-content-rtl .mw-content-ltr #toc ul {
	text-align: left;
}
/* @noflip */ .mw-content-rtl .toc ul,
.mw-content-rtl #toc ul,
.mw-content-ltr .mw-content-rtl .toc ul,
.mw-content-ltr .mw-content-rtl #toc ul {
	text-align: right;
}
/* @noflip */ .mw-content-ltr .toc ul ul,
.mw-content-ltr #toc ul ul,
.mw-content-rtl .mw-content-ltr .toc ul ul,
.mw-content-rtl .mw-content-ltr #toc ul ul {
	margin: 0 0 0 2em;
}
/* @noflip */ .mw-content-rtl .toc ul ul,
.mw-content-rtl #toc ul ul,
.mw-content-ltr .mw-content-rtl .toc ul ul,
.mw-content-ltr .mw-content-rtl #toc ul ul {
	margin: 0 2em 0 0;
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	direction: ltr;
}

/* For developpers */
.xdebug-error {
	position: absolute;
	z-index: 99;
}
