@import 'skins/shared/modal';
@import 'skins/shared/tabs';
@import 'skins/shared/styles/buttons/buttons-wikia';
@import 'skins/shared/styles/buttons/buttons-wikia-chiclet';
@import 'skins/shared/styles/buttons/buttons-facebook';
@import 'extensions/wikia/WikiaStyleGuide/css/Form';

.wikia-button {
	.photo {
		background-color: transparent;
		background-image: url('/extensions/wikia/Venus/images/gallery_add_photo.png'); /* base64 */
		background-repeat: no-repeat;
	}
}
