@import "extensions/wikia/Venus/styles/variables";

@mixin font-size-xxs {
	font-size: 12px;
}

@mixin font-size-xs {
	font-size: 14px;
}

@mixin font-size-s {
	font-size: 15px;
}

@mixin font-size-base {
	font-size: 16px;
}

@mixin font-size-l {
	font-size: 18px;
}

@mixin font-size-xl {
	font-size: $size-xl;
}

@mixin font-size-xxl {
	font-size: 36px;
}
