@import 'skins/oasis/css/core/color.scss';
@import 'extensions/wikia/Venus/styles/mixins.scss';
@import 'extensions/wikia/Venus/styles/variables.scss';

@mixin thumbnail-size($columns-count) {
	@media #{$small-only} {
		$width: ($small-grid-column * $columns-count) + ($small-grid-gutter * ($columns-count - 1)) + ($small-grid-gutter * ($columns-count * 2));
		$height: $width * 9 / 16;
		height: $height;
		width: $width;
	}

	@media #{$medium-only} {
		$width: ($medium-grid-column * $columns-count) + ($medium-grid-gutter * ($columns-count - 1)) + ($medium-grid-gutter * ($columns-count * 2));
		$height: $width * 9 / 16;
		height: $height;
		width: $width;
	}

	@media #{$large-up} {
		$width: ($large-grid-column * $columns-count) + ($large-grid-gutter * ($columns-count - 1)) + ($large-grid-gutter * ($columns-count * 2));
		$height: $width * 9 / 16;
		height: $height;
		width: $width;
	}
}

@mixin image-size($columns-count) {
	@media #{$small-only} {
		max-width: ($small-grid-column * $columns-count) + ($small-grid-gutter * ($columns-count - 1)) + ($small-grid-gutter * ($columns-count * 2));
	}

	@media #{$medium-only} {
		max-width: ($medium-grid-column * $columns-count) + ($small-grid-gutter * ($columns-count - 1)) + ($small-grid-gutter * ($columns-count * 2));
	}

	@media #{$large-up} {
		max-width: ($large-grid-column * $columns-count) + ($large-grid-gutter * ($columns-count - 1)) + ($large-grid-gutter * ($columns-count * 2));
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.body-text {
	font-size: 18px;
	line-height: 24px;
}

.headline {
	color: $color-links;
	font-size: 22px;
	line-height: 26px;
}

.subtext {
	color: $color-alternate-text;
	font-size: 16px;
	line-height: 22px;
}

.results-section {
	margin-top: 30px;

	.result-count {
		color: $color-alternate-text;
		font-size: 16px;
		margin-bottom: 5px;
		text-align: left;
	}

	.results {
		margin-top: 40px;

		.result-entry {
			margin-top: 35px;

			.searchmatch {
				font-weight: bold;
			}

			.result-thumbnail-wrapper {
				display: inline-table;
				text-align: center;
				vertical-align: top;

				.result-thumbnail {
					background-color: $color-article-thumb-background;
					display: table-cell;
					position: relative;
					vertical-align: middle;
				}

				.image-wrapper {
					display: inline;
					position: relative;

					img {
						vertical-align: text-bottom;
					}
				}

				.duration {
					display: none;
				}

				.play-circle {
					background-image: url('/extensions/wikia/Search/images/play_btn.svg'); /* base64 */
					background-position: center;
					background-repeat: no-repeat;
					bottom: 15px;
					height: 33px;
					left: 15px;
					position: absolute;
					width: 33px;
				}
			}

			.result-thumbnail-description {
				display: inline-block;
				.headline {
					margin: 0;
				}

				.subtext {
					margin-bottom: 14px;
					margin-top: 8px;
				}

				.result-link.subtext {
					word-wrap: break-word;
				}
			}
		}
	}
}

.top-wiki-articles {
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	@include grid-width(4);

	a {
		color: $color-links;
		font-size: 18px;
		font-weight: bold;
	}

	div {
		overflow: hidden;
	}

	h1 {
		color: $color-wikiahome-community;
		font-size: 18px;
		margin: 40px 0 0;
		padding: 0 $large-grid-gutter;
	}

	img {
		float: left;
	}

	.top-wiki-articles-item {
		border-bottom: 1px solid $color-text-light;
		padding: 20px 0;
	}

	.top-wiki-articles-snippet {
		color: $color-text-dark;
		padding: 0 $large-grid-gutter;
	}

	.thumbnail-large {
		@include grid-width(4);
		margin-bottom: 20px;
	}

	.thumbnail-small {
		@include grid-width(1);
	}
 }

.wikia-paginator {
	border: #eef1f3 solid;
	border-width: 1px 0;
	height: 75px;
	line-height: 75px;
	margin: 40px 0;
	padding: 0;
	text-align: center;

	ul {
		display: inline-block;
		letter-spacing: 0;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			margin: 0;
			padding: 0;
		}

		.paginator-page {
			color: #0a6eb4;
			height: 18px;
			margin: 0 10px;
			padding: 0 4px;

			&:hover {
				cursor: pointer;
			}
			&.active {
				color: #3c3c3c;
			}
		}

		.paginator-prev,
		.paginator-next {
			span {
				display: none;
			}
		}

		.paginator-prev {
			@include chevron(25px, 3px, 'left', #0a6eb4);
			margin: 0;
			padding: 0;

			&.disabled {
				@include chevron(25px, 3px, 'left', #c8d2d7);
			}
		}

		.paginator-next {
			@include chevron(25px, 3px, 'right', #0a6eb4);
			margin: 0 0 6px;
			padding: 0;

			&.disabled {
				@include chevron(25px, 3px, 'right', #c8d2d7);
			}
		}
	}
}

@media #{$large-up} {
	.result-thumbnail-wrapper {
		@include thumbnail-size(3);
		img {
			@include image-size(3);
		}
	}
	.result-thumbnail-description {
		@include grid-width(4);
	}
}

@media #{$medium-only} {
	.body-text {
		font-size: 16px;
		line-height: 22px;
	}

	.headline {
		font-size: 18px;
		line-height: 22px;
	}

	.subtext {
		font-size: 14px;
		line-height: 22px;
	}

	.result-thumbnail-wrapper {
		@include thumbnail-size(3);
		img {
			@include image-size(3);
		}
	}
	.result-thumbnail-description {
		@include grid-width(5);
	}

	.top-wiki-articles {
		@include grid-width(4);

		a {
			display: block;
		}

		h1 {
			padding: 0 $medium-grid-gutter;
		}

		.top-wiki-articles-snippet {
			padding: 0 $medium-grid-gutter;
		}

		.thumbnail-large {
			@include grid-width(4);
			@include grid-height(4);
		}

		.thumbnail-small {
			@include grid-width(1);
			@include grid-height(1);
			margin-right: $medium-grid-gutter;
		}
	}
}

@media #{$small-only} {
	.body-text {
		font-size: 16px;
		line-height: 22px;
	}

	.search-right-rail {
		display: none;
	}

	.headline {
		font-size: 18px;
		line-height: 22px;
	}

	.subtext {
		font-size: 14px;
		line-height: 22px;
	}

	.result-thumbnail-wrapper {
		@include thumbnail-size(4);
		img {
			@include image-size(4);
		}
	}

	.result-thumbnail-description {
		@include grid-width(7);
	}

}
