<span class="results-page-current">1</span> of <span class="results-page-count">{{ pages }}</span> pages <span class="results-total">(Total Videos: {{ total }})</span>
<div class="category-carousel"></div>
