@charset "UTF-8";

@font-face {
	font-family: 'njord-icons-font';
	src: url('/extensions/wikia/NjordPrototype/css/fonts/venus-icons.eot'); /* $wgCdnStylePath */
	src: url('/extensions/wikia/NjordPrototype/css/fonts/venus-icons.eot?#iefix') format('embedded-opentype'), /* $wgCdnStylePath */
		url('/extensions/wikia/NjordPrototype/css/fonts/venus-icons.woff') format('woff'), /* $wgCdnStylePath */
		url('/extensions/wikia/NjordPrototype/css/fonts/venus-icons.svg#venus-icons-font') format('svg'); /* $wgCdnStylePath */
	font-weight: normal;
	font-style: normal;
}

.njord-icon-upload-image:before {
	font-family: 'njord-icons-font' !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	content: "\f062";
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	speak: none;
	text-transform: none !important;
}
