@import "skins/shared/color";

.global-edit-wrap {
  border-bottom: 1px solid $color-page-border;
  margin:60px 8% 20px 8%;
  a:hover {
    text-decoration: none;
  }
  .global-edit-btn {
    vertical-align: text-bottom;
  }
  .edit-link {
    color: #0a5fa3;
    text-transform: uppercase;
  }
}
.MainPageHero {
  background-color: #092140;
  max-height: 400px;
  position: relative;
  width: 100%;

  .btn-bar {
    align-items: center;
    border: 1px solid #092140;
    background-color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    padding: 10px 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
  }

  .drag-cursor {
    cursor: move;
  }

  .image-window {
    height: 100%;
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,.05)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,.05)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,.05)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,.05)); /* Standard syntax */
    }
  }

  .image-wrap {
    height: 100%;
  }

  .title-wrap {
    .edit-box {
      background-color: rgba(0, 0, 0, .2);
      bottom: -64px;
      display: none;
      position: absolute;
      width: 100%;
    }
    .hero-title {
      min-height: 44px;
      outline: none;
      word-wrap: break-word;
    }
    .title-edit-btn {
      cursor: pointer;
      height: 24px;
    }
    .title-text {
      word-wrap: break-word;
      max-width: 400px;
    }
    bottom: 6%;
    color: #fff;
    display: inline-block;
    left: 8%;
    position: absolute;
    text-align: left;
    width: 425px;
  }

  .hero-image {
    vertical-align: bottom;
    width: 100%;
  }
  .position-info {
    display: none;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 1;
    .position-text {
      background-color: #C7D1D8;
      border-radius: 3px;
      color: #092140;
      margin: auto;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }

  .upload-group {
    .update-btn {
      cursor: pointer;
    }
    .update-text {
      text-transform: uppercase;
      vertical-align: super;
    }
    .upload-btn {
      cursor: pointer;
      text-align: left;
    }
    .upload-desc {
      margin-left: 5px;
    }
    .upload-icon {
      height: 25px;
    }
    .upload-text {
      text-transform: uppercase;
      vertical-align: super;
    }
    color: #fff;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin: 5px auto auto 7%;
    z-index: 1;
    -webkit-flex-direction: column;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
    .overlay-flex {
      display: flex;
      display: -webkit-flex;
      height: 100%;
    }
    .overlay-text {
      color: #FFFFFF;
      margin: auto;
      text-transform: uppercase;
    }
  }

  .upload-mask {
    display: none;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    position: absolute;
    z-index: 3;
  }
}

.MainPageHeroHeader {
  overflow: hidden;
  .btn-bar {
    align-items: center;
    border: 1px solid #092140;
    background-color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    padding: 10px 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
  }

  .edit-box {
    background-color: rgba(0, 0, 0, .03);
    display: none;
    position: relative;
    .edited-text {
      outline: none;
      min-height: 1.2em;
      display: block;
    }
  }
  .edit-btn {
    cursor: pointer;
  }

  .hero-description {
    margin: 20px 8%;
    word-wrap: break-word;
  }

  .hero-description-text {
    word-wrap: break-word;
  }

  .image-save-bar {
    align-items: center;
    border-bottom: 1px solid #092140;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    background-color: white;
    display: none;
    justify-content: flex-end;
    padding: 10px 15px 10px 8%;
    width: 100%;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    .save-text {
      display: block;
      flex-grow: 1;
      width: 75%;
      -webkit-flex-grow: 1;
    }
  }
  .new-btn {
    border: 1px solid #092140;
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    &.edit-btn {
      display: none;
    }
  }
  .new-btn.discard-btn {
    background-color: #FFFFFF;
    color: #092140;
    &:hover {
      background-color: #0a5fa3;
      border: 1px solid #0a5fa3;
      color: #fff;
    }
  }
  .new-btn.save-btn {
    background-color: #092140;
    color: #fff;
    &:hover {
      background-color: #0a5fa3;
      border: 1px solid #0a5fa3;
    }
  }
  .sg-main {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .sg-main-small {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }

  .sg-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }

  .sg-sub {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .sg-sub-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
  }
//states
  &.no-edit-state {
    .MainPageHero {
      padding-top: 25%;
    }
    .edit-btn {
      display: none;
    }
    .image-wrap {
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
    }
    .title-edit-btn {
      display: none;
    }
    .upload-wrap {
      display: none;
    }
  }
  .edit-state {
    .edit-box {
      display: block;
    }
    .title-edit-btn {
      display: none;
    }
    .title-default-text {
      display: none;
    }
    .title-text {
      display: none;
    }
    .hero-description-text {
      display: none;
    }
    .hero-description-default-text {
      display: none;
    }
    .edit-btn{
      display: none;
    }
  }

  .filled-state {
    .title-default-text {
      display: none;
    }
    .desc-default-text {
      display: none;
    }
    .update-btn {
      display: inherit;
    }
    .upload-btn {
      display: none;
    }
    .upload {
      display: flex;
      display: -webkit-flex;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    .upload-desc {
      display: none;
    }
    .upload-group {
      margin: 5px auto auto 8%;
      position: absolute;
      z-index: 1;
    }
    .hero-description-default-text {
      display: none;
    }
  }

  .upload-state {
    .image-window:after {
      display: none;
    }
    .position-info {
      display: flex;
      display: -webkit-flex;
    }
    .upload-wrap {
      display: none;
    }
    &.image-save-bar {
      display: flex;
      display: -webkit-flex;
    }
  }

  .zero-state {
    .title-text {
      display: none;
    }
    .update-btn {
      display: none;
    }
    .upload {
      border: 1px dashed white;
      display: flex;
      display: -webkit-flex;
      height: 92%;
      margin: 1%;
      position: absolute;
      text-align: center;
      width: 98%;
    }
    .hero-description-text {
      display: none;
    }
    .hero-description-default-text {
      display: inline-block;
    }
  }
}
