<div class="my-profile-step step-2"></div>
<h3 class="my-profile-welcome-header">Your profile is almost ready!</h3>
<form class="my-profile-form">
	<label class="my-profile-label" for="my-profile-gaming-platforms">Tell us a few words about yourself:</label>
	<textarea class="my-profile-textarea" id="my-profile-gaming-platforms"></textarea>
</form>
<button class="next-step">Next step</button>

