<div class="my-profile-step step-1"></div>
<h3 class="my-profile-welcome-header">Welcome to the Community, {{userName}}!</h3>
<p class="my-profile-welcome-message">It’s great to have you here, in a place created for fans by fans.<br>
	Before you plunge into the depths of this Wiki, we’d like to know you better.</p>
<form class="my-profile-form">
	<label class="my-profile-label" for="my-profile-favorite-moment">What is your favorite moment in the game?</label>
	<textarea class="my-profile-textarea" id="my-profile-favorite-moment">{{answer}}</textarea>
</form>
<button class="next-step">Next step</button>
