<div class="my-profile-step step-3"></div>
<p>Welcome in step 3</p>
<label>Tell us a few words about yourself:</label>
<input type="text" class="my-profile-answer" name="my-profile-answer"/>
<button class="next-step">Next</button>

