<div class="my-profile-step step-4"></div>
<h3 class="my-profile-welcome-header">Congratulations!</h3>
<p class="my-profile-welcome-message">We’re thrilled to have you as a part of this Community, {{userName}}!</p>
<p class="my-profile-welcome-message">Perhaps you can be the one to help with these articles?</p>
<ul class="my-profile-next-pages">
{{#items}}
	<li class="insights-icon-{{category}}"><a href="{{url}}">{{title}}</a><br/>{{category-desc}}</li>
{{/items}}
</ul>
