.WikiaGrid {
	.grid-6.wikiacorporatefooter {
		margin-top: 20px;
		padding: 30px 0 95px 0;
		border-top: 5px solid #e6e7e8;
		a .wikia-button {
			color: $whitecolor;
		}
		.grid-1.alpha.cell {
			margin: 0 5px;
			font-family: Helvetica,sans-serif;
			font-size: 12px;
			&:first-child {
				margin-left:0;
			}
			&:last-child {
				margin-right:0;
			}
			h3 {
				font-weight:bold;
				font-size:12px;
				margin: 0 0 5px 0;
			}
			p {
				line-height:22px;
				.wikia-button {
					margin-top:10px;
				}
			}
			p + p {
				margin:0;
			}
		}
	}	
}
