.WikiaGrid {
	.grid-2.wikiahubs-top-wikis {
		margin-top: 25px;
		.description {
			color: $color-text;
			padding: 18px 0 0 0;
		}
		ol {
			padding: 0;
			li {
				margin: 0;
				padding: 6px 0;
				a {
					font-size: 14px;
				}
			}
		}
	}
}
