@import "../../../../skins/oasis/css/mixins/gradient";

.wikiahubs-newstabs {
	.title-wrapper {
		border-bottom: 4px solid $color-wikiahome-hubcolor;
		width: 100%;
		@include clearfix;
		float: left;
		font-size: 18px;
		font-weight: bold;
	}
	.tabberlive {
		margin: 0;
		.tabbernav {
			font-family: helvetica;
			font-size: 15px;
			font-weight: normal;
			border-bottom: none;
			padding: 0;
			li a {
				background: $color-page;
				border: none;
				color: $color-links;
				display: inline-block;
				margin: 0;
				padding: 10px;
				vartical-align: middle;
			}
			li a:hover {
				background-color: #d8e3e7;
				border: none;
				color: $color-links;
			}
			li a:visited {
				background-color: #d8e3e7;
				border: none;
				color: $color-links;
			}
			li a:link {
				background: $color-page;
				border: none;
				color: $color-links;
			}
			li.tabberactive a {
				background-color: #d8e3e7;
				border: none;
				color: $color-text;
			}
			li.tabberactive a:hover {
				background-color: #d8e3e7;
				border: none;
				color: $color-text;
			}
		}
		.tabbertab {
			border: none;
		}
	}
}
