.WikiaGrid .wikiahubs-wikiastats {
	margin: 10px 0 15px;
	.wikiastats-content {
		clear: both;
		padding: 0 10px;
		.title {
			border-bottom: 4px solid $color-wikiahome-hubcolor;
			height: 30px;
			a {
				float: right;
				margin-top: 8px;
			}
		}
		h2 {
			border: none;
			float: left;
		}
		h3 {
			clear: both;
			font-weight: bold;
			margin: 12px 0;
		}
		h4 {
			font-size: 16px;
		}
		.statisticdata {
			height: 261px;
			overflow: hidden;
			padding-top: 20px;
			.datasection {
				float: left;
				height: 60px;
				line-height: 20px;
				margin: 10px 0 10px 40px;
				text-align: left;
				width: 200px;
				strong {
					display: block;
					font-size: 26px;
					margin-top: 10px;
				}
				&:nth-child(odd) {
					border-right: 1px solid #ccc;
					width: 199px;
				}
			}
		}
		.tooltip-icon {
			background-color: $color-wikiahome-hubcolor;
			border-radius: 12px;
			color: white;
			cursor: pointer;
			display: inline-block;
			font-size: 14px;
			height: 16px;
			line-height: 1;
			text-align: center;
			width: 16px;
		}
	}
}
