@import 'skins/shared/mixins/flexbox';
@import 'skins/shared/color';

// DISCUSSIONS
$recirculation-discussion-height: 348px;
$recirculation-discussion-small-font-size: 12px;
$recirculation-discussion-small-font-color: #999999;

.discussion-module {
	clear: both;
	padding-top: 20px;
	position: relative;

	.subtext {
		font-size: $recirculation-discussion-small-font-size;
		font-weight: bold;
		color: $recirculation-discussion-small-font-color;
	}

	.discussion-title {
		margin: 0;
	}

	.discussion-link {
		position: absolute;
		right: 0;
		top: 20px;
		display: block;

		svg {
			vertical-align: baseline;
		}

		.arrow-path {
			fill: $color-links;
		}
	}

	.discussion-threads,
	.discussion-thread,
	.discussion-meta,
	.discussion-meta div,
	.discussion-author {
		@include flexbox();
	}

	.discussion-threads,
	.discussion-thread {
		@include flex-direction(column);
		box-sizing: border-box;
		margin: 0;
	}
}


// THREAD STYLE
$recirculation-discussion-thread-background-color-dark: #262626;
$recirculation-discussion-thread-border-color-dark: #1a1a1a;
$recirculation-discussion-thread-border-color-light: $color-headline-border;
$recirculation-discussion-thread-height: 100px;
$recirculation-discussion-thread-featured-height: 147px;
$recirculation-discussion-thread-font-size: 14px;
$recirculation-discussion-thread-line-height: 18px;
$recirculation-discussion-thread-side-padding: 15px;
$recirculation-discussion-thread-padding: 10px;

.discussion-module .discussion-threads {
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	height: $recirculation-discussion-height;
	padding: ($recirculation-discussion-thread-padding * 2) $recirculation-discussion-thread-padding;

	.discussion-thread {
		border: 1px solid $recirculation-discussion-thread-border-color-light;
		font-size: $recirculation-discussion-thread-font-size;
		height: $recirculation-discussion-thread-featured-height;
		line-height: $recirculation-discussion-thread-line-height;
		list-style-type: none;
		padding: $recirculation-discussion-thread-padding $recirculation-discussion-thread-side-padding;
		position: relative;
		width: 49%;
		cursor: pointer;

		.discussion-content {
			max-height: 55px;
			overflow: hidden;
		}
	}
}

.discussion-test {
	.discussion-thread:nth-child(n+3) {
		@include align-self(flex-end);
		font-size: $recirculation-discussion-small-font-size;
		height: $recirculation-discussion-thread-height;
		line-height: 16px;
		padding: 6px $recirculation-discussion-thread-side-padding;

		.discussion-meta {
			display: none;
		}

		.discussion-content {
			margin-top: 0.3em;
		}
	}
}

@if ($is-dark-wiki) {
	.discussion-threads .discussion-thread {
		background-color: $recirculation-discussion-thread-background-color-dark;
		border-color: $recirculation-discussion-thread-border-color-dark;
	}
}

// AUTHOR
$recirculation-discussion-avatar-size: 30px;

.discussion-author {
	@include align-items(center);

	h4 {
		color: $color-links;
		margin: 0 6px 0;
		max-width: 56%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.discussion-author-avatar {
		border: 2px solid $color-headline-border;
		border-radius: $recirculation-discussion-avatar-size / 2;
		box-sizing: border-box;
		height: $recirculation-discussion-avatar-size;
		width: $recirculation-discussion-avatar-size;
	}
}

// META
$recirculation-discussion-icon-size: 18px;
$recirculation-discussion-icon-background-light: white;
$recirculation-discussion-icon-background-dark: #262626;

.discussion-meta {
	@include align-items(center);
	@include justify-content(space-between);
	bottom: $recirculation-discussion-thread-padding;
	left: $recirculation-discussion-thread-side-padding;
	position: absolute;
	right: $recirculation-discussion-thread-side-padding;

	div {
		@include flex-grow(1);

		span {
			line-height: $recirculation-discussion-icon-size;
			margin-left: 5px;
		}
	}

	.discussion-comments-container {
		margin-left: -30px;
	}

	.discussion-icon {
		fill: $recirculation-discussion-small-font-color;
		width: $recirculation-discussion-icon-size;
		height: $recirculation-discussion-icon-size;
	}

	.upvote-icon-background {
		fill: $recirculation-discussion-icon-background-light;
		stroke: $recirculation-discussion-icon-background-light;
	}

	@if ($is-dark-wiki) {
		.upvote-icon-background {
			fill: $recirculation-discussion-icon-background-dark;
			stroke: $recirculation-discussion-icon-background-dark;
		}
	}
}
