@import 'skins/shared/color';
@import 'skins/shared/mixins/flexbox';

$recirculation-thumbnail-margin: 6px;
$recirculation-thumbnail-size: 20px;

.WikiaRail .premium-recirculation-rail {

	.recirculation-sponsored-footer {
		font-size: 12px;
		font-style: italic;
		letter-spacing: 0;
		opacity: 0.5;
		padding-top: 3px;
		text-transform: none;
	}

	.item {
		margin: 0 6px 16px;

		&.is-video .image-thumbnail::after {
			bottom: $recirculation-thumbnail-margin;
			height: $recirculation-thumbnail-size;
			right: $recirculation-thumbnail-margin;
			width: $recirculation-thumbnail-size;
		}
	}

	.image-thumbnail {
		@include flex(0 0 94px);
	}

	.content {
		font-size: 12px;
		margin-left: 12px;
		margin-top: 3px;
	}

	a {
		@include flexbox();
		@include align-items(flex-start);
		color: $color-text;

		&:hover {
			color: $color-links;
			text-decoration: none;
		}
	}
}
