@import 'skins/shared/color';

%rail-thumbnaili {
	border: 1px solid $color-page-border;
	border-radius: 4px;
	height: 53px;
	width: 53px;
}

.WikiaRail .premium-recirculation-rail {
	.recirculation-rail__placeholder, img {
		@extend %rail-thumbnaili;

		align-self: center;
		display: block;
	}

	.recirculation-rail__placeholder {
		@extend %rail-thumbnaili;

		background: #002A32;
		position: relative;

		svg {
			fill: #00d6d6;
			height: 50%;
			left: 50%;
			opacity: .2;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 35%;
		}
	}

	li {
		margin: 0 6px 16px;
	}

	a {
		color: $color-text;
		display: flex;

		&:hover {
			color: $color-links;
			text-decoration: none;
		}
	}

	p {
		margin: 16px 12px 0;
	}

	.rail-sponsored-content {
		p {
			margin: 0 0 5px;
		}

		span {
			font-style: italic;
			font-weight: bold;
			opacity: 0.5;
		}
	}

	.rail-sponsored-content-desc {
		margin: 5px 12px;
	}

	.rail-sponsored-content-image {
		@extend %rail-thumbnaili;

		align-self: flex-start;
		background-size: cover;
		background-position: center;
	}
}
