@import 'skins/shared/color';
@import 'skins/shared/mixins/transform';

.WikiaRail .recirculation-rail {
	.rail-item {
		margin-bottom: 15px;
	}

	.image-thumbnail {
		background-color: $color-headline-border;
		display: block;
		margin-bottom: 7px;
		max-height: 166px;
		max-width: 268px;
		overflow: hidden;

		img {
			display: block;
			max-height: 100%;
			max-width: 100%;
		}
	}

	.title {
		font-size: 15px;
	}

	.metadata {
		display: none;
	}

	a {
		color: $color-text;

		&:hover {
			color: $color-links;
		}
	}
}

$recirculation-fandom-dark-blue: #39414d;
$recirculation-mafia-color: #010201;
$recirculation-fandom-icon-size: 48px;

.recirculation-rail.group-SDCC {
	margin-top: 30px;

	&::before {
		background: {
			color: $recirculation-fandom-dark-blue;
			image: url('/extensions/wikia/Recirculation/images/fandom-logo.svg');
			position: center;
			repeat: no-repeat;
		};
		border: {
			color: $color-module-background;
			radius: $recirculation-fandom-icon-size / 2;
			style: solid;
			width: 4px;
		};
		box-sizing: border-box;
		content: '';
		display: block;
		height: $recirculation-fandom-icon-size;
		left: 50%;
		margin-left: -$recirculation-fandom-icon-size / 2;
		position: absolute;
		top: -$recirculation-fandom-icon-size / 2;
		width: $recirculation-fandom-icon-size;
	}

	h2 {
		font-size: 24px;
		letter-spacing: -.3px;
		line-height: 20px;
		margin-bottom: 20px;
		margin-top: 15px;
		padding: 0;
		text-align: center;
		color: $color-alternate-text;

		span {
			font-size: 10px;
			line-height: 10px;
			text-transform: uppercase;
		}

		strong {
			color: $color-text;
		}

		svg {
			fill: $recirculation-mafia-color;
			margin-left: 5px;
			position: relative;
			top: 2px;
		}
	}

	@if ($is-dark-wiki) {
		&::before {
			background-color: $color-white;
		}

		h2 svg {
			fill: $color-white;
		}
	}
}

// Update Taboola in Right Rail to match other right rail modules
// Right rail module code found: skins/oasis/css/core/page.scss
#RECIRCULATION_RAIL .trc_rbox_container {
	background: $color-page;
	border: 1px solid $color-page-border;
	margin-bottom: 10px;
	padding: 20px 15px 15px;

	@if ($is-dark-wiki) {
		background: $color-module-background;
	}

	.thumbnails-rr2 {
		padding: 0;

		.video-title {
			font-weight: 400;
		}
	}

	.trc_rbox_header {
		margin-bottom: 25px;
	}
}
