@import 'skins/shared/color';

.WikiaRail .recirculation-rail {
	.title-thumbnail {
		margin-bottom: 15px;
	}

	.image-thumbnail {
		background-color: $color-headline-border;
		display: block;
		margin-bottom: 7px;

		img {
			display: block;
		}
	}

	.title a {
		color: $color-text;
		display: block;
		font-size: 15px;

		&:hover {
			color: $color-links;
		}
	}
}

// GOOGLE MATCHED CONTENT
.recirculation-rail.adsbygoogle {
	border: 1px solid $color-page-border;
	margin: 10px 0;
	overflow: hidden;

	iframe {
		margin: -1px;
	}
}