@import 'horizontal';
@import 'rail';
@import 'discussions';
@import 'perfect-scrollbar';
@import 'scroller';
@import 'impact-footer';

@import 'skins/shared/color';


// GOOGLE MATCHED CONTENT
.recirculation-incontent.adsbygoogle {
	border: 1px solid $color-page-border;
	display: block;
	height: 230px;
	margin: 20px auto;
	overflow: hidden;
	width: 95%;

	iframe {
		margin: -1px;
	}
}

.recirculation-unit {

	.rail-item.is-video,
	.item.is-video {
		.image-thumbnail,
		.thumbnail {
			position: relative;

			&::after {
				background: {
					image: url('/extensions/wikia/Recirculation/images/playhead.svg'); /* $wgCdnStylePath */
					position: center center;
					repeat: no-repeat;
					size: cover;
				}

				bottom: 12px;
				content: '';
				display: block;
				height: 48px;
				position: absolute;
				right: 12px;
				width: 48px;
				z-index: 1;
			}
		}
	}
}
