<button class="global-shortcuts-help-entry-point secondary" accesskey="?" title="Open keyboard shortcuts help dialog (?)"></button>
<div class="wikiaThrobber global-shortcuts-help-entry-point-throbber"></div>