<div class="col">
	<h2>Actions</h2>
	<ul class="key-list">
		<li>
			<span class="label">Edit</span>
			<span class="key-combination">
				<span class="key">e</span>
			</span>
		</li>
		<li>
			<span class="label">Delete</span>
			<span class="key-combination">
				<span class="key">d</span>
			</span>
		</li>
		<li>
			<span class="label">Move</span>
			<span class="key-combination">
				<span class="key">m</span>
			</span>
		</li>
		<li>
			<span class="label">Flag</span>
			<span class="key-combination">
				<span class="key">f</span>
			</span>
		</li>
		<li>
			<span class="label">Classify</span>
			<span class="key-combination">
				<span class="key">k</span>
			</span>
		</li>
		<li>
			<span class="label">Start a wikia</span>
			<span class="key-combination">
				<span class="key">s</span>
			</span>
		</li>
	</ul>
</div>
<div class="col">
	<h2>Global navigation</h2>
	<ul class="key-list">
		<li>
			<span class="label">Edit history</span>
			<span class="key-combination">
				<span class="key">g</span>
				then
				<span class="key">h</span>
			</span>
		</li>
		<li>
			<span class="label">Recent Changes</span>
			<span class="key-combination">
				<span class="key">g</span>
				then
				<span class="key">r</span>
			</span>
		</li>
		<li>
			<span class="label">Insights</span>
			<span class="key-combination">
				<span class="key">g</span>
				then
				<span class="key">i</span>
			</span>
		</li>
		<li>
			<span class="label">Discussions</span>
			<span class="key-combination">
				<span class="key">g</span>
				then
				<span class="key">d</span>
			</span>
		</li>
	</ul>
</div>
<div class="full-width">
	<h2>Local navigation / move focus</h2>
	<ul class="key-list">
		<li>
			<span class="label">Open this help dialog</span>
				<span class="key-combination">
					<span class="key">?</span>
				</span>
		</li>
		<li>
			<span class="label">Go to search bar</span>
			<span class="key-combination">
				<span class="key">/</span> or<br>
				<span class="key">g</span> then <span class="key">s</span>
			</span>
		</li>
	</ul>
</div>
