<span class="{{class}}">
	{{#keyCombination}}
	{{#combo}}
		{{#key}}
			<span class="key">{{key}}</span>
		{{/key}}
		{{#space}}then{{/space}}
		{{#plus}}+{{/plus}}
		{{#or}}<strong class="separate">or</strong>{{/or}}
	{{/combo}}
	{{/keyCombination}}
</span>
