<span class="key-combination">
	{{#keyCombination}}
	{{#combo}}
		<span class="key">{{key}}</span>
		{{#space}}{{thenMsg}}{{/space}}
		{{#or}}{{orMsg}}<br>{{/or}}
	{{/combo}}
	{{/keyCombination}}
</span>
