@import "../../../../../skins/oasis/css/core/color";
@import "../../../../../skins/oasis/css/core/layout";

$welcome-bar-background: $color-buttons;
$welcome-bar-color: $color-button-text;

#WelcomeBar {
	background-color: $welcome-bar-background;
	color: $welcome-bar-color;
	display: none;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 10px 15px;
	width: $width-outside - 20px;
	> a {
		color: $welcome-bar-color;
		text-decoration: underline;
	}
	> .close {
		cursor: pointer;
		float: right;
	}
}