<?PHP


/** where do I find the omegawiki api */
$ow_api_location = 'http://www.omegawiki.org/api.php?action=wikidata';

/** basic information on where to find the mysql database */
$mysql_info=array(
	"server"=>"localhost",
	"user"=>"kim",
	"password"=>"",
	"dbname"=>"trainer"
);

/**pear auth is REALLY obnoxious about parameters
 * so same mysql info, now as a dsn STRING, because fine auth
 * doesn't like dsn arrays (despite the fact that it's likely feeding
 * that info direct to the database module anyway.)
 * Could it maybe accept a db handle or something? ARGH
 * remind me to hand in some patches someday.
 */

# phptype://username:password@hostspec/database
$dsn="mysql://kim@localhost/trainer";

/** Which collection should be checked as default? (collection ID)
* you can get a list of collection id's by viewing source, or
* in XML by : 
*	http://www.omegawiki.org/api.php?action=wikidata&wdtype=listCollections 
* 
*/
$default_collection="376317" # OLPC Children's Dictionary

?>
