#main {
	padding:0px 0px 0px 0px !important;
}

#main p {
	font-size:12px;
	font-weight:normal;
	line-height:16px;
}

#forum-page-left {
	float:left;
	width:190px;
	margin:0px 0px 0px 0px;
}

#forum-page-middle {
	float:left;
	width:550px;
	margin:0px 25px;
	overflow:hidden;
	padding:8px 0px 0px 0px;
}

#forum-page-right {
	float:left;
	width:179px;
	padding:8px 0px 0px 0px;
	background-color:#F2F4F7;
	border-left:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	padding:10px;
}

#forum-page-middle h1.page-title {
	margin:5px 0px 0px 0px !important;
	line-height:22px;
}

#forum-page-middle #edit-menu {
	margin:0px 0px 0px 7px !important;
}

.forum-left-units {
	background-color:#F2F4F7;
	padding:10px 10px 5px 10px;
	border-bottom:1px solid #dcdcdc;
}

.forum-container {
	padding:0px 0px 10px 0px;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid #dcdcdc;
}


.forum-container h2 {
	margin:0px 0px 8px 0px !important;
	font-size:16px;
	letter-spacing:-1px;
	color:#333;
}

.bottom-fix {
	border-bottom:none !important;
	padding-bottom:5px !important;
	margin-bottom:0px !important;
}

/**Author**/

.author-container {
}

.author-container-fix {
	margin:0px 0px 10px 0px;
}

.more-container {
	margin:0px 0px 10px 0px;
	padding:7px 0px 5px 0px;
	border-bottom:1px solid #dcdcdc;
}

.more-container-fix {
	margin:0px !important;
	border:none !important;
}

.forum-left-units h2 {
	letter-spacing:-1px;
	padding:0px !important;
	margin:0px !important;
	color:#333;
}

.author-info {
	font-size:11px;
	color:#333;
	line-height:14px;
	margin:10px 0px 0px 0px;
}

.author-info img {
	float:left;
	border:1px solid #dcdcdc;
	padding:3px;
	background-color:#fff;
	display:block;
	text-align:justify;
	margin:0px 10px 0px 0px;
}

.author-articles {
	margin:4px 0px 0px 0px;
}

.more-container h3 {
	margin:0px 0px 5px 0px !important;
	font-size:11px;
	letter-spacing:-1px;
	color:#555;
}

.author-title {
	margin:0px 0px 6px 0px;
}

.author-title a {
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}

.author-article-item {
	line-height:12px;
	margin:0px 0px 4px 0px;
}

.author-article-item a {
	text-decoration:none;
	font-size:11px;
}

.author-item-small {
	font-size:10px;
	color:#888;
}

.author-archive-link {
	text-align:right;
	font-size:10px;
}

/**Recent Container **/

.recent-container {
	margin:0px 0px 10px;
	padding:0px 0px 10px;
	font-size:11px;
	border-bottom:1px solid #dcdcdc;
}

.recent-container div {
	font-size:10px;
	margin:0px 0px 5px 0px;
	line-height:11px;
	color:#888;
}

.recent-container h2 {
	letter-spacing:-1px;
	font-size:14px;
	margin:0px 0px 1px 0px !important;
	color:#333;
}

.recent-item {
	margin:0px 0px 0px 0px;
}

.recent-title {
	color:#444;
	font-size:12px;
	line-height:13px;
	font-weight:bold;
	margin:0px 0px 10px 0px;
}

.recent-container img {
	padding:2px;
	border:1px solid #dcdcdc;
	background-color:#fff;
	margin:2px 2px 0px 0px
}

.recent-container a {
	text-decoration:none;
}

/**Comment of the Day**/

.cod-score {
	font-weight:bold;
	color:#fff;
	background-color:orange;
	padding:0px 3px;
	margin:0px 4px 0px 0px;
}

.cod-poster a {
	font-size:12px;
	text-decoration:none;
}

.cod-comment a {
	text-decoration:none;
	font-size:12px;
}

.cod-comment {
	line-height:13px;
}


.cod-item {
	margin:0px 0px 5px 0px;
	overflow:hidden;
}

.cod-item img {
	padding:1px;
	background-color:#fff;
	border:1px solid #dcdcdc;
	vertical-align:middle;
}

/**Ad Unit**/
.article-ad {
	margin:10px 0px 0px 0px;
	text-align:center;
}

.article-ad a {
	text-align:center;
}

/**Casual Game**/
.game-unit-container {
	padding:0px 0px 10px 0px;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid #dcdcdc;
	overflow:hidden;
}


.game-unit-container h2 {
	margin:0px 0px 8px 0px !important;
	font-size:16px;
	letter-spacing:-1px;
	color:#333;
}

.poll-unit-title {
	font-size:12px;
	line-height:13px;
	font-weight:bold;
	color:#777;
	margin:0px 0px 8px 0px;
}

.poll-unit-choices a {
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	display:block;
}

.poll-unit-image {
	margin:0px 0px 8px 0px;
}

.poll-unit-image img {
	padding:3px;
	background-color:#fff;
	border:1px solid #dcdcdc;
}

.poll-unit-choices input {
	margin:0px 5px 0px 0px;
}

.quiz-unit-image {
	margin:8px 0px 0px 0px;
}

.quiz-unit-image img {
	padding:3px;
	background-color:#fff;
	border:1px solid #dcdcdc;
}

.quiz-unit-title a {
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
}

.pg-unit-title {
	font-size:12px;
	line-height:13px;
	font-weight:bold;
	color:#777;
	margin:0px 0px 8px 0px;
}

.pg-unit-pictures img {
	float:left;
	background-color:#fff;
	border:1px solid #dcdcdc;
	padding:3px;
	margin:0px 3px 0px 0px;
}

.pickem-unit-game {
	/*border-bottom:1px solid #dcdcdc;*/
	padding:8px 0px;
}

.pickem-unit-date {
	font-weight:bold;
}

.pickem-unit-visitor, .pickem-unit-home {
	margin:5px 0px 0px 0px;
	cursor:pointer;
}

.pickem-unit-visitor img, .pickem-unit-home img{
	vertical-align:middle;
	border:1px solid #dcdcdc;
	margin:0px 5px 0px 0px;
}

.pickem-unit-nogame {
	font-weight:bold;
	color: #FF0000;
}

/**List Pages**/
#forum-page-right .listpages-item {
	line-height:14px;
}

#forum-page-right .listpages-item a {
	font-size:12px !important;
	font-weight:normal !important;
	text-decoration:none !important;
}

#forum-page-right .listpages-item {
	margin:0px 0px 6px 0px !important;
}

/*By Line*/
.blog-byline {
	font-weight:bold;
	margin:8px 0px 0px 0px;
	color:#555;
	font-size:13px;
}

.blog-byline-last-edited {
	font-size:11px;
	color:#888;
	margin:0px 0px 15px 0px;
}

/*Categories*/
#categories {
	padding:10px 0px;
}

.full {
	width:530px;
}

.reply {
	margin-left:70px !important;
	width:460px;
}

.fc-item {
	position:relative;
	padding:0px 0px 10px 0px;
	margin:0px 0px 15px 0px;
	width:100%;
}

.fc-avatar {
	position:absolute;
	top:0px;
	left:0px;
}

.fc-avatar img {
	padding:3px;
	border:1px solid #dcdcdc;
	background-color:#fff;
}

.fc-container {
	position:relative;
	top:0px;
	top:0px;
	margin:0px 0px 0px 70px;
	z-index:2;
}

.fc-user {
	font-weight:bold;
	position:relative;
	margin:0px 0px 6px 0px;
}

.fc-user a {
	font-size:14px;
	text-decoration:none;
}

.fc-time {
	font-size:10px;
	color:#888;
	line-height:11px !important;
	font-weight:normal !important;
}

.fc-text {
	margin-top:30px;
}
