$content-review-status-border: 14px solid;
$content-review-color-none: #aaa;
$content-review-color-live: #76bf06;
$content-review-color-approved: #76bf06;
$content-review-color-rejected: #e1390b;
$content-review-color-awaiting: #008cce;
$content-review-color-unsubmitted: #ffad00;
$content-review-escalated-background: #f2dede;
