/**
 * CSS for SRF Gallery Carousel module
 * Adopted .jcarousel-skin-tango
 *
 * @licence: GNU GPL v2 or later
 * @author:  mwjames and others
 *
 * @release: 0.1.3
 */
.jcarousel-skin-smw {
	clear: both;
}

.jcarousel-skin-smw .jcarousel-container {
	background: #ffffff;
}

.jcarousel-skin-smw .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-list .jcarousel-list-horizontal {
	margin-left:20px;
}

.jcarousel-skin-smw .jcarousel-container-horizontal {
	width: 99.6%;
	padding: 0px 1px;
	margin-bottom:10px;
	border: 1px solid #eee;

}

.jcarousel-skin-smw .jcarousel-container-vertical {
	width: 155px;
	height: 365px;
	padding: 23px 15px;
	margin-left:10px;
	margin-bottom:10px;
	border: 1px solid #eee;
	float:right;
}

.jcarousel-skin-smw .jcarousel-clip {
	overflow: hidden;
}

.jcarousel-skin-smw .jcarousel-clip-horizontal {
	width:  97%;
	height: auto;
}

.jcarousel-skin-smw .jcarousel-clip-vertical {
	width:  160px;
	height: 355px;
}

.jcarousel-skin-smw .jcarousel-item {
	width: auto;
	height: auto;
}

.jcarousel-skin-smw .jcarousel-item-horizontal {
	margin-left: 23px;
	margin-right: 0px;
	margin-top: 4px;
}

.jcarousel-skin-smw .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 23px;
}

.jcarousel-skin-smw .jcarousel-item-vertical {
	margin-bottom: 10px;
}

.jcarousel-skin-smw .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-smw .jcarousel-next-horizontal  {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(images/next-horizontal.png) no-repeat 0 0;
	background-size:7px 11px;
}

.jcarousel-skin-smw .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: -1px;
	right: auto;
	background-image: url(images/next-horizontal.png);
}

.jcarousel-skin-smw .jcarousel-next-horizontal:hover,
.jcarousel-skin-smw .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
}

.jcarousel-skin-smw .jcarousel-next-horizontal:active {
	background-position: -64px 0;
}

.jcarousel-skin-smw .jcarousel-next-disabled-horizontal,
.jcarousel-skin-smw .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-smw .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-smw .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}

.jcarousel-skin-smw .jcarousel-prev-horizontal {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(images/prev-horizontal.png) no-repeat 0 0;
	background-size:7px 11px;
}

.jcarousel-skin-smw .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: -1px;
	background-image: url(images/prev-horizontal.png);
}

.jcarousel-skin-smw .jcarousel-prev-horizontal:hover,
.jcarousel-skin-smw .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
}

.jcarousel-skin-smw .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}

.jcarousel-skin-smw .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-smw .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-smw .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-smw .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}

.jcarousel-skin-smw .jcarousel-next-horizontal,
.jcarousel-skin-smw .jcarousel-prev-horizontal {
	background-color: whiteSmoke;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid gainsboro;
	color: #7B7B7B;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	height: 100%;
	line-height: 216px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	width: 23px;
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
}

.jcarousel-skin-smw .jcarousel-next-horizontal:hover,
.jcarousel-skin-smw .jcarousel-prev-horizontal:hover {
	background-color: #F8F8F8;
	border-color: #D6D6D6;
	box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.1);
	color: #4B4B4B;
	text-decoration: none;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-smw .jcarousel-next-vertical {
	position: absolute;
	bottom: -1px;
	left: -1px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(images/next-vertical.png) no-repeat 0 0;
	background-size:11px 7px;

}

.jcarousel-skin-smw .jcarousel-next-vertical:hover,
.jcarousel-skin-smw .jcarousel-next-vertical:focus {
	background-position: 0 -32px;
}

.jcarousel-skin-smw .jcarousel-next-vertical:active {
	background-position: 0 -64px;
}

.jcarousel-skin-smw .jcarousel-next-disabled-vertical,
.jcarousel-skin-smw .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-smw .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-smw .jcarousel-next-disabled-vertical:active {
	cursor: default;
	background-position: 0 -96px;
}

.jcarousel-skin-smw .jcarousel-prev-vertical {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(images/prev-vertical.png) no-repeat 0 0;
	background-size:11px 7px;
}

.jcarousel-skin-smw .jcarousel-prev-vertical:hover,
.jcarousel-skin-smw .jcarousel-prev-vertical:focus {
	background-position: 0 -32px;
}

.jcarousel-skin-smw .jcarousel-prev-vertical:active {
	background-position: 0 -64px;
}

.jcarousel-skin-smw .jcarousel-prev-disabled-vertical,
.jcarousel-skin-smw .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-smw .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-smw .jcarousel-prev-disabled-vertical:active {
	cursor: default;
	background-position: 0 -96px;
}

.jcarousel-skin-smw .jcarousel-next-vertical,
.jcarousel-skin-smw .jcarousel-prev-vertical {
	background-color: whiteSmoke;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid gainsboro;
	color: #7B7B7B;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	line-height: 216px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	height: 23px;
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
}

.jcarousel-skin-smw .jcarousel-next-vertical:hover,
.jcarousel-skin-smw .jcarousel-prev-vertical:hover {
	background-color: #F8F8F8;
	border-color: #D6D6D6;
	box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.1);
	color: #4B4B4B;
	text-decoration: none;
}