<section>
	<h1 class="light-font">{{header}}</h1>
	<p>{{paragraph}}</p>
	<ul>
		{{#list}}
				<li>
					<a href="{{link}}" title="{{linkTitle}}">{{linkName}}</a>
					<small>{{linkTagline}}</small>
				</li>
		{{/list}}
	</ul>
</section>
