<h4>{{typeName}}</h4>
<div>
	<table>
		<thead>
			<tr>
				<th>{{paramCellHeadline}}</th>
				<th>{{templateVarCellHeadline}}</th>
				<th>{{typeCellHeadline}}</th>
				<th>{{valueObjectCellHeadline}}</th>
				<th>{{descCellHeadline}}</th>
			</tr>
		</thead>
		<tbody>
			{{#typeParams}}
				<tr>
					<td>{{templateVar}}</td>
					<td>{{templateVar}}</td>
					<td>{{type}}</td>
					<td>
						{{#object}}
							{{>SpecialStyleguide_componentParamObject}}
						{{/object}}
						{{#value}}
							{{>SpecialStyleguide_componentParamValue}}
						{{/value}}
					</td>
					<td>{{description}}</td>
				</tr>
			{{/typeParams}}
		</tbody>
	</table>
</div>
