@import "../../../../skins/oasis/css/core/color";

.UserStatsMenu {
	background: $color-page;
	border: 3px solid $color-body;
	display: none;
	font-size: 12px;
	padding: 5px;
	position: absolute;
	z-index: 100;
	.info {
		background: $color-menu-highlight;
		line-height: 15px;
		margin-bottom: 5px;
		padding: 5px 5px 5px 35px;
		position: relative;
		img {
			@extend ._avatar;
			height: 24px;
			position: absolute;
			left: 5px;
			top: 5px;
			width: 24px;
		}
		.username {
			display: block;
			font-weight: bold;
		}
		.edits {
			display: block;
		}
		.since {
			display: block;
			white-space: nowrap;
		}
	}
	.actions {
		li {
			border-top: 1px solid $color-page-border;
			&:first-child {
				border-top: none;
			}
			a {
				display: block;
				padding: 5px;
				&:hover {
					background: $color-menu-highlight;
					text-decoration: none;			
				}
			}
		}
	}
}
