<p>{{discussionsInactiveMessage}}</p>
<form method="post" class="form-discussions">
    <input type="hidden" name="editToken" value="{{editToken}}"/>
    <input type="submit" value="{{activateDiscussions}}"/>
</form>
