<p>{{discussionsInactiveMessage}}</p>
<form method="post" class="form-discussions">
    <input type="hidden" name="edit" value="{{token}}"/>
    <input type="submit" value="{{activateDiscussions}}"/>
</form>
