<div class="featured-video__attribution-container">
    {{#userAvatarUrl}}
        <img class="featured-video__attribution-avatar" src="{{userAvatarUrl}}"/>
    {{/userAvatarUrl}}
    <a class="featured-video__attribution-username" href="{{userUrl}}" target="_blank">
		{{fromMsg}} {{username}}
	</a>
	<a class="featured-video__attribution-icon" href="{{userUrl}}" target="_blank">
		{{! DS icon: wds-icons-external-tiny }}
		<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny">
			<path d="M6 7a.999.999 0 0 1-.707-1.707L7.586 3H7a1 1 0 0 1 0-2h3.003a.988.988 0 0 1 .704.293.998.998 0 0 1 .293.704V5a1 1 0 0 1-2 0v-.586L6.707 6.707A.997.997 0 0 1 6 7m3 4H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3v5h5V8a1 1 0 0 1 2 0v2a1 1 0 0 1-1 1" fill-rule="evenodd"/>
		</svg>
	</a>
</div>
