/* Monobook Style */
body.skin-monobook div#p-DONATE h5 {
	display: none;
}
body.skin-monobook div#p-DONATE div.pBody a {
	display: block;
	margin: 0.5em;
	margin-bottom: 0.25em;
}
/* Modern Style */
body.skin-modern div#p-DONATE {
	padding-top: 0.25em;
}
body.skin-modern div#p-DONATE h5 {
	display: none;
}
body.skin-modern div#p-DONATE div.pBody a {
	display: block;
	padding: 0;
	margin: 0.5em;
	margin-bottom: 0.25em;
}
/* Vector Style */
body.skin-vector div#p-DONATE {
	padding-top: 1em;
}
body.skin-vector div#p-DONATE h5 {
	display: none;
}
body.skin-vector div#p-DONATE div.body {
	background: none;
	padding: 0;
	margin: 0;
	margin-left: 0.5em;
}
body.skin-vector div#p-DONATE div a {
	display: block;
	margin: 0.5em;
	margin-bottom: 0;
}
