<div id="fundraiserportal-button">
	<div>
		<div>
			<div>
				<div>
					<div>
						<div>
							<a href="{{{buttonUrl}}}">{{msg:fundraiserportal-rubytext-button}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fundraiserportal-message">
	<div>
		<div>
			<div>
				<div>
					<p>{{msg:fundraiserportal-rubytext-message}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fundraiserportal-close"><a href="#" onclick="toggleFundraiserPortal();return false;" title="{{msg:fundraiserportal-rubytext-close}}"></a></div>
