<div id="fundraiserportal-button">
	<div>
		<div>
			<div>
				<div>
					<div>
						<div>
							<a href="{{{buttonUrl}}}"> {{msg:fundraiserportal-ruby-button}} </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="clear:both"></div>