<div id="fundraiserportal-box-top"><div><div></div></div></div>
<div id="fundraiserportal-box">
	<div>
		<div id="fundraiserportal-message">
			<div id="fundraiserportal-close"><a href="#" onclick="toggleFundraiserPortal();return false;" title="{{msg:fundraiserportal-tourmaline-close}}"></a></div>
			 {{msg:fundraiserportal-tourmaline-message}}
		</div>
		<div id="fundraiserportal-button"><div><div><div><div><div><div><div><div><a href="{{{buttonUrl}}}">{{msg:fundraiserportal-tourmaline-button}}</a></div></div></div></div></div></div></div></div></div>
	</div>
</div>
<div id="fundraiserportal-box-bottom"><div><div></div></div></div>
