@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../skins/oasis/css/core/reset";
@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/core/buttons";
@import "../../../../skins/oasis/css/core/typography";
@import "../../../../skins/oasis/css/mixins/clearfix";

$roundness: 2px;

.failover-warning{
	@include clearfix;
	background: mix($color-buttons, $color-page, 15%);
	border-radius: $roundness;
	border-style: none;
	border-width: 1px;
	padding: 5px 12px;
	h2 {
		margin-top:5px;
	}
	img{
		float: right;
		width: 150px;
	}
}

.failover-from{
	textarea {
		width: 99%;
		height: 100px;
	}
}

h2.mode-info-regular {
	span{
		background: green; 
	}
}

h2.mode-info-failover {
	span{
		background: red; 
	}
}