@import "skins/oasis/css/mixins/box-sizing-border-box";
@import "skins/oasis/css/mixins/clearfix";
@import "skins/oasis/css/mixins/opacity";
@import "skins/oasis/css/core/responsive";
@import "skins/oasis/css/mixins/transition";
@import '../mixins/_sprite-VideoPageTool.scss';


$play-button-overlay-fade-duration: 400ms;

.WikiaPage {
	border: 0;
}

.featured-video {
	@include clearfix;
	background: black;
	.featured-video-slider{
		position: relative;
		visibility: hidden;
		ul {
			list-style: none;
			margin: 0;
		}
		li {
			list-style: none;
		}
		// Large Images
		.bx-viewport {
			position: relative;
			overflow: hidden;
		}
		.bxslider {
			position: relative;
			li {
				// border hack to deal with 1px miscalculation in bxslider
				border: 1px solid black;
				border-width: 0px 1px;
				float: left;
				margin-top: 0;
				position: relative;

				.slide-image {
					width: 100%;

					> img {
						width: 100%;
					}
				}
			}
			.Wikia-video-play-button {
				position: absolute;
				top: 50%;
				margin-top: -43px;
				width: inherit;
			}
			.slide-video {
				width: 750px;
				margin: auto;
			}
		}
		.bx-controls-direction a {
			@include sprite-VideoPageTool-base();
			height: 55px;
			width: 42px;
			&.bx-prev {
				@include sprite-VideoPageTool('carousel_left_arrow_white');
			}
			&.bx-next {
				@include sprite-VideoPageTool('carousel_right_arrow_white');
			}
		}
		// Small navigation circles
		.bx-pager {
			bottom: -30px;
			.bx-pager-item {
				padding-top: 30px;
			}
		}
		// Thumbnails
		.thumbs {
			display: none;
			background: #3a3a3a;
			bottom: 0;
			left: 0;
			position: absolute;
			a {
				display: inline-block;
				float: left;
				margin: 10px 0;
				text-align: center;
				width: 20%;
				img {
					max-width: 98%;
				}
				.Wikia-video-play-button {
					@include transition-shorthand(opacity $play-button-overlay-fade-duration ease-out);
					@include opacity(0);
					width: 100%;
				}
				&:hover .Wikia-video-play-button {
					@include opacity(100);
					@include transition-shorthand(opacity $play-button-overlay-fade-duration ease-out);
					visibility: visible;
				}
			}
		}
	}
}
