@import "skins/oasis/css/mixins/box-sizing-border-box";
@import "skins/oasis/css/core/responsive";

.featured-video {
	background: black;
	width: 100%;
	.featured-video-slider{
		position: relative;
		margin: 0 auto;
		ul {
			list-style: none;
			margin: 0;
		}
		li {
			list-style: none;
		}
		// Large Images
		.bx-viewport {
			position: relative;
			overflow: hidden;
		}
		.bxslider {
			position: relative;
			li {
				float: left;
				position: relative;
			}
			img {
				width: 100%;
			}
		}
		// Thumbnails
		.bx-pager {
			bottom: 10px;
		}
		.thumbs {
			display: none;
			background: #3a3a3a;
			bottom: 0;
			position: absolute;
			width: 100%;
			a {
				display: inline-block;
				float: left;
				margin: 10px 0;
				text-align: center;
				width: 20%;
				img {
					max-width: 98%;
				}
				.Wikia-video-play-button {
					width: 100%
				}
			}
		}
	}

	@media ( min-width: $breakpoint-small ) {
		.featured-video-slider {
			width: $breakpoint-small - $width-gutter;
		}
	}
	@media ( max-width: $breakpoint-small ) {
		.featured-video-slider {
			width: 100%;
		}
	}
}
