@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/rail-module";
@import "../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../skins/oasis/css/mixins/border-radius";

.SponsoredLinkForm {
	.box {
		float: left;
		padding: 8px;
		width: 460px;

		&.item-2 {
			float: right;
		}
	}

	.chooseheader {
		font-size: 300%;
		font-weight: bold;
		padding: 30px 0px 10px;
		text-align: center;
	}

	fieldset {
		@include clearfix;
		border: none;
		padding: 0;

		section.box {
			@include rail-module;
			height: 180px;

			.wikia-button {
				bottom: 5px;
				left: 50%;
				margin-left: -50px;
				padding: 0 20px;
				position: absolute;
			}
		}

		label {
			display: block;
			margin-top: 0.5em;
		}

		input[type="text"], textarea {
			width: 375px;
		}

		.wikia-button {
			display: block;
			margin: 0.5em 0;
		}

		h3 {
			font-size: 180%;
			font-weight: bold;
			letter-spacing: -1px;
			margin-top: 0px;
			padding: 0px;
		}

		.price {
			font-size: 130%;
			padding: 0px 0px 15px;
		}

		p {
			padding: 5px 0px 5px;
		}
	}
}

// monaco fixes
.wikiaSkinMonaco .SponsoredLinkForm {
	.box {
		width: 45%;
	}

	fieldset {
		section.box {
			height: 220px;
		}
		input[type="text"], textarea {
			width: 80%;
		}
	}
}

.error {
	color: $color-error;
}
