<div class="preview-modal-msg-wrapper">
<div class="preview-modal-msg">
<p class="preview-message">{{bestPracticesMsg}}</p>
<div class="preview-link"><a href="{{bestPracticesLinkUrl}}" target="_blank" class="wikia-button">{{bestPracticesLinkText}}</a></div>
</div>
</div>
