<form>
	<select id="previewTypeDropdown">
		{{#options}}
			<option value="{{value}}">{{name}}</option>
		{{/options}}
	</select>
	<span class="tooltip-icon" rel="tooltip" title="{{toolTipMessage}}">?</span>
</form>
