<div id="crosslinkTag-{{markerId}}" class="crosslink-tag" style="display: none;">
	<ul>
		{{#articles}}
		<li id="crosslinkTagSlider-{{markerId}}-{{sliderId}}" class="crosslink-tag-slider-{{sliderId}}">
			<a href="{{url}}">
				<img class="crosslink-tag-slider" src="{{imageUrl}}" width="670" height="360">
			</a>
			<div class="description-background"></div>
			<div class="description">
				<h2>{{title}}</h2>
				<p>{{description}}</p>
				<p><a href="{{url}}" class="wikia-button secondary"><span>{{readMore}}</span></a></p>
			</div>
			<div class="nav">
				<img src="{{imageUrl}}" width="90" height="70">
			</div>
		</li>
		{{/articles}}
	</ul>
</div>
