<div class="affiiate-unit__wrapper>
    <img class="affiiate-unit__image" src="{{image}}" />
    <p class="affiiate-unit__header>{{heading}}</p>
    <button class="affiiate-unit__cta">{{buttonText}}</button>
    <img class="affiiate-unit__logo" src={{logo}} />
</div>
