@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';

.pph-article-header {
	display: flex;
	margin: 5px 0 18px;
}

.pph-article-title {
	flex: 1;
	font-weight: 600;
	margin-right: 10px;

	h1 {
		font-size: 36px;
		line-height: 1;
	}
}

.pph-categories {
	align-items: center;
	display: flex;
	font-size: 12px;
	height: 32px;
}

.pph-category-links {
	color: $color-links;
}

.pph-article-contribution {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}

.pph-languages {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 32px;
	margin-right: -12px;
	padding: 0 12px;

	svg {
		height: 9px;
		margin-left: 6px;
		width: 9px;
	}
}

.pph-contribution-buttons {
	display: flex;
}

.pph-button-group {
	display: flex;
}

.pph-button {
	align-items: center;
	background-color: $color-buttons;
	box-sizing: border-box;
	color: $color-button-text;
	display: flex;
	font-size: 10px;
	font-weight: 600;
	height: 34px;
	margin-left: 6px;
	padding: 0 12px;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
	}

	.pph-button-icon {
		margin-right: 6px;
	}

	&.pph-button-secondary {
		background-color: transparent;
		border: 1px solid $color-buttons;
		color: $color-buttons;
	}

	&.pph-button-chevron {
		border-left: 1px solid transparentize($color-button-text, 0.5);
		margin-left: 0;
	}
}

@media #{$breakpoint-small-only} {
	.pph-article-title h1 {
		font-size: 28px;
	}
}