@import 'skins/shared/color';
@import 'skins/oasis/css/core/breakpoints-variables';


.pph-wiki-header {
	background-color: $color-buttons;
	color: $color-button-text;
	display: flex;
	margin: -1px -31px 0;
	position: relative;
	z-index: 1;

	.wordmark {
		height: 65px;
		margin: 20px 18px 20px 20px;
	}
}

@media #{$breakpoint-medium-only} {
	.pph-wiki-header {
		margin: -1px -21px 0;
	}
}

@media #{$breakpoint-small-only} {
	.pph-wiki-header {
		margin: -1px -25px 0;
	}
}

.pph-wordmark-text {
	flex: 1;
	font-size: 36px;
	line-height: 24px;
	margin-top: 24px;
}

.pph-tally-area {
	align-items: flex-start;
	display: flex;
	margin: 20px;

	.tally {
		text-align: right;

		em {
			font-size: 24px;
			line-height: 24px;
		}

		span {
			display: block;
			float: none;
			font-size: 12px;
		}
	}
}

.pph-add-new-page {
	align-items: center;
	border: 1px solid #fff;
	color: #fff;
	display: flex;
	font-size: 10px;
	margin-left: 18px;
	padding: 8px;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
	}

	svg {
		fill: $color-button-text;
		margin-right: 6px;
	}
}
