/*** MAIN COLORS ***/
.color1, .color1 a, .yui-panel .hd {
	background-color: #ff0000;
}
.color2 {
	background-color: #F2F2F2;
}

/*** WIDGETS ***/
#search_field {
	border-color: #501313;
}
#search_button {
	background-image: url(http://images.wikia.com/common/skins/monaco/ruby/images/search.png);
}

/*** HEADER AND FOOTER ***/
#header_username a {
	color: #8b2222;
}
#wikia_logo {
	background-image: url(../images/wikia_logo.png);
}
.headerMenuButton dt, .headerMenuButton dd {
	background-image: url(http://images.wikia.com/common/skins/monaco/ruby/images/header_button.png);
}

.editsectionbutton {
	background-color: #FFC;
	color: #FFC;
}
