<div id="CommunityPageHeader" class="community-page-header"{{#headerImage}} style="background-image: url('{{headerImage}}');"{{/headerImage}}>
	<div class="community-page-header-content">
		<h1>{{headerWelcomeMsg}}</h1>
	</div>
</div>
<div id="CommunityPageContent" class="task-page-content">
	<div class="admin-message">{{adminWelcomeMsg}}</div>
	<section class="task-page-page-list">
		{{^pageList}}
		<p>{{pageListEmptyText}}</p>
		{{/pageList}}
		<ul>
			{{#pageList}}
			<li><a class="page-list-edit-link" href="{{editUrl}}"><image data-tracking-label="tasks-stub-page-edit-link" src="{{blankImage}}" class="edit-icon"></a> <a class="page-title" data-tracking-label="tasks-stub-page-title" href="{{titleUrl}}">{{titleText}}</a> <a class="page-list-edit" data-tracking-label="tasks-stub-page-edit-link" href="{{editUrl}}">{{pageListEditText}}</a></li>
			{{/pageList}}
		</ul>
	</section>
</div>
