<ul id="article-comments-ul" class="comments">
	{{#comments}}
		{{#comment}}
			{{>comm}}
		{{/comment}}
		{{#replies}}
		<ul class="sub-comments">
			{{#replies}}
				{{>comm}}
			{{/replies}}
		</ul>
		{{/replies}}
	{{/comments}}
</ul>
