/** Styles for feedback links **/

#articleFeedbackv5-titlebarlink {
	float: right;
	font-size: 85%;
	font-weight: bold;
	line-height: 1.5em;
	margin: 5px 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: right;
	text-indent: 0;
	text-transform: none;
	top: 0;
	white-space: nowrap;
}

.articleFeedbackv5-fixedtab {
	position: fixed;
	margin: 0;
	right: 0;
	top: 200px;
}
.articleFeedbackv5-fixedtabbox {
	position: relative;
	/*-moz-transform:rotate(90deg); 
	-moz-transform-origin: top left;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: top left;
	-o-transform: rotate(90deg);
	-o-transform-origin: top left;
	-ms-transform: rotate(90deg);
	-ms-transform-origin: top left;
	transform: rotate(90deg);
	transform-origin: top left;*/
}
.articleFeedbackv5-fixedtablink {
	/*border: none;
	background-color: #5373a6;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	min-width: 105px;*/
	width: 27px;
	height: 114px;
	right: 0;
	display: block;
	margin: 0;
	/* @embed */
	background: url(images/img_aftv5_tablink.png) no-repeat;
	/*padding: 5px 10px;
	color: #fff;
	text-align: center;
	writing-mode: tb-rl;*/	
	position: absolute;
	z-index: 999;
}
.articleFeedbackv5-fixedtablink:hover {
	text-decoration: none;
}

.articleFeedbackv5-bottomrighttab {
	position: fixed;
	margin: 0;
	right: 0;
	bottom: 0;
	height: 27px;
	width: 141px;
}
.articleFeedbackv5-bottomrighttabbox {
	position: relative;
}
.articleFeedbackv5-bottomrighttablink {
	border: none;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	color: #000;
	background-color: #d0e1f4;
	min-width: 105px;
	right: 0;
	display: block;
	margin: 0;
	padding: 5px 10px;
	text-align: center;
	position: absolute;
	z-index: 999;
}
.articleFeedbackv5-bottomrighttablink:hover {
	text-decoration: none;
}

