@import "../../../../../skins/oasis/css/mixins/border-radius";
@import "../../../../../skins/oasis/css/mixins/gradient";
@import "../../../../../skins/oasis/css/mixins/box-shadow";
@import "../../../../../skins/oasis/css/mixins/clearfix";
@import "../../../../../skins/oasis/css/core/color";


#WikiaPageHeader {
    border: none;
}

#plbLayoutList {
	margin-bottom:10px;
	width: 100%;
	thead{
		td{
			@include linear-gradient($color-secondary-button, top, $color-secondary-button-highlight, 35%, $color-secondary-button, 65%);
			border-top: 1px solid $color-page-border;
			border-bottom: 1px solid $color-page-border;
			color: $color-text;
			font-weight:bold;
			&.first {
				border-left: 1px solid $color-page-border;
			}
			&.last {
				border-right: 1px solid $color-page-border;
				text-align: right;
			}
			&.desc {
				width:300px;
			}
			&.count {
				text-align:center;
				width:72px;
			}
		}
	}
	td {
		padding:7px;
	}
	tbody{
		td{
			border-bottom: 1px solid $color-page-border;
			width:300px;
			p {
				margin:0;
				&.layout-name {
					font-size: 15px;
				}
			}
			.edit {
				color: $color-text;
			}
			&.name {
				vertical-align:top;
			}
			&.desc {
				vertical-align:top;
			}
			&.username {
				width:185px;
				ul {
					list-style: none;
					li {
						float: left;
						height:24px;
						line-height:24px;
						padding-right:4px;
					}
					.username {
						line-height: 12px;
						span {
							font-size: 10px;
						}
					}
				}
			}
			&.count {
				text-align:center;
				width:72px;
			}
		}
		tr{
			height:80px;
		}
	}
}
