/**
 * Ad CSS for Monaco skin
 *
 * @see http://www.ianhoar.com/2008/03/08/how-to-center-google-adsense-ads/
 * @note The !importants are really needed, don't remove them!
 */
.monaco-ad {
	position: relative !important;
	margin: auto !important;
	padding-bottom: 5px !important;
}

/* Leaderboard ad */
#monaco-leaderboard-ad {
	width: 728px;
}

/* Sidebar ad (small square) */
#monaco-sidebar-ad {
	width: 200px;
}