#WikiaArticleCategories {
	padding: $page-padding;

	h1 {
		padding: 5px;
		border-bottom: 1px solid $border-color;
		color: $section-text-color;
	}

	#catlinks {
		display: none;
		&.open {
			display: block;
		}
	}

	#mw-normal-catlinks span{
		padding: 5px;
	}
}