//dependencies
@import "variables.scss";
@import "main_page.scss";
@import "infobox.scss";
@import "sections.scss";
@import "images.scss";
@import "footer.scss";
@import "zepto.modal.scss";
@import "navigation.scss";

//mixins
@import "mixins/transition.scss";

html {
	border: none;
	padding: 0;
	margin: 0;
	//cursor: pointer;
}

body {
    background-color: $page-background-color;
    color: $page-text-color;
	font-family: helvetica, android, sans-serif;
	font-size: medium;
	line-height: 25px;
    margin: 0;

	//avoid webkit's automatic text adjustment
    -webkit-text-size-adjust: none;
}

#WikiaMainContentHeader {
	border-bottom: 1px solid $border-color;
	padding: $page-padding;

	h1{
		margin:0;
		padding:0;
	}
}

.arrow {
	font-size: 0;
	line-height: 0;
	width: 0;
	display: block;
	border-bottom: none;
	border-top: 8px solid $arrowcolor;
	border-left: 8px solid rgba( 0, 0, 0, 0 );
	border-right: 8px solid rgba( 0, 0, 0, 0 );
}

ul {
  list-style-type: none;
}

a {
	color: $link-color;
	text-decoration: none;
}

//ads
#adPlace {
  width: 100%;
  height: 50px;
  z-index: $top-layer-z-index;

  #adWrapper {
    opacity: 1;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    @include transition(all 0.5s);
    z-index: $top-layer-z-index + 1;
  }
}

#showAll{
	width: 100px;
	height: 40px;
}

#leftPane {
	@include transition(all 0.5s);
	background-color: #494949;
	color: #C6C6C6;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

#article-comments {
	display: none;

	&.open {
		display: block;
	}
}

#WikiaArticleComments {
	.controls {
		display: none;
	}
}

#WikiaPage {
	overflow-x: hidden;
}

#WikiaMainContent{
  padding: $page-padding;

  //fixes for fluid content
  .tvetnone {
	width: 100% !important;
	text-align: center;
  }

  //end of fluiding thead content

  table#toc {
    display: none;
    //TODO: get rid of TOC
  }

  div{
    //temporary fix for slideshows
    &.wikia-slideshow-wrapper{
      width: auto !important;

      div.wikia-slideshow-images-wrapper {
        ul {
          &.wikia-slideshow-images {
            width: auto !important;/* is an inline style, no other way to force that, sorry ;) */
            height: auto !important;/* is an inline style, no other way to force that, sorry ;) */
          }
        }
      }
    }
  }

  .searchresults, .search-types {
    ul {
      padding: 3px;

      li {
        border: 1px solid #e3e3e3;
        border-radius: 6px;
        margin: 5px 3px;
        padding: 3px;
        -webkit-box-shadow: 0 0 8px #e4e4e4;

        a {
          display: block;
          width: 100%;
        }
      }
    }
  }
}