h1, h2, h3{
	font-weight: normal;
}

#WikiaMainContent{
	.mw-headline{
		b{
			font-weight: normal;
		}
	}

	& > h2, #article-comments-counter-header{
		padding: 5px;
		border-bottom: 1px solid $border-color;
		color: $section-text-color;
	}

	.editsection {
		display: none;
	}

	.articleSection {
		display: none;

		&.open {
			display: block;
		}
	}
}