//mixins
@import "mixins/section-title.scss";

h1, h2, h3{
	font-weight: normal;
	margin: $section-title-margin;
}

#WikiaMainContent{
	.mw-headline{
		b{
			font-weight: normal;
		}
	}

	& > h2, #article-comments-counter-header{
		@include section-title;
	}

	.editsection {
		display: none;
	}

	.articleSection {
		display: none;

		&.open {
			display: block;
		}
	}
}