/**
 * Global variables
 */

//base colors
$page-background-color: #FFFFFF;

//navigation
$arrowcolor: grey;
$openMenuLength: 500px;
$menuBackgroundColor: #555;
$menuSecondColor: #333;

//footer
$footerBackground: #CCF;