//dependencies
@import "variables.scss";

//mixins
@import "mixins/transition.scss";

#modalWrapper {
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba( 0,0,0,0 );
	-webkit-focus-ring-color: rgba( 0,0,0,0 );
	&.modalShown {
		visibility: visible;
	}
}

#modalTopBar {
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $highest-z-index;
	background-color: rgba(0,0,0,.8);
	@include transition(top .5s ease-in);
	&.hidden {
		top: -31px;
	}
}

#modalContent {
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #505050;

	.fullScreenImage {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

#modalFooter {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	z-index: $highest-z-index;
	@include transition(all .5s ease-in);
	display: none;

	&.hidden {
		bottom: -200px;
	}
}

#modalClose {
	position: absolute;
	right: 3px;
	top: 0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: right;
	@include transition(top .5s ease-in);
	font-size: xx-large;
	z-index: $highest-z-index + 1;
	&.hidden {
		top: -31px;
	}
}

.changeImageButton {
	position: absolute;
	top: 0;
	height: 100%;
	width: 15%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	@include transition(all .5s ease-in);
	&.hidden {
		opacity: .2;
	}
}

#nextImage {
	right: 0;
	background-image:url('/skins/wikiamobile/images/chevron-right.png');
}

#previousImage {
	left: 0;
	background-image:url('/skins/wikiamobile/images/chevron-left.png');

}
