<nav class="article-navigation">
	<ul>
		<li>
          <span class="nav-icon toc">&#xF000;</span>
        </li>
        <li>
            <span class="nav-icon edit">&#xF001;</span>
        </li>
        <li>
            <span class="nav-icon settings">&#xF002;</span>
        </li>
        <li>
            <span class="nav-icon share">&#xF006;</span>
        </li>
	</ul>
</nav>
