<div class="article-header clearfix{{#showCoverUnit}} cover-unit{{/showCoverUnit}}">
	<h1>{{{title}}}</h1>
	{{#subtitle}}
		<span>{{{subtitle}}}</span>
	{{/subtitle}}
	{{#redirect}}
		<span>{{{redirect}}}</span>
	{{/redirect}}
</div>
