{{{cssLinks}}}
{{{pageCss}}}
<body class="{{bodyClasses}} venus-preview">
<script>
	var JSSnippetsStack = [];
</script>
<div class="wikia-page-wrapper">
	<section class="wikia-page page-width" id="WikiaPage">
		<main>
			<article class="article clearfix" id="WikiaArticle">
			{{{content}}}
			</article>
		</main>
	</section>
</div>
{{{jsPreviewFiles}}}
</body>
