<!doctype html>
<html lang="{{lang}}" dir="{{dir}}">
<head>
	<meta http-equiv="Content-Type" content="{{mimeType}}; charset={{charset}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	{{{headLinks}}}
	<title>{{pageTitle}}</title>
	{{{cssLinks}}}
	{{{pageCss}}}
	{{{jsHeadScripts}}}
	{{{headItems}}}
</head>
<body class="{{bodyClasses}}">
	{{{comScore}}}
	{{{quantServe}}}
	{{{googleAnalytics}}}
	{{{amazonMatch}}}
	{{{dynamicYield}}}
	{{{ivw2}}}
	{{{rubiconRtp}}}
	<div id="ad-skin" class="wikia-ad noprint"></div>
	{{{globalNavigation}}}
	<div class="wikia-page-wrapper">
		{{{notifications}}}
		<div class="top-ads" id="WikiaTopAds">
			<div class="ad">
				{{{adTopLeaderboard}}}
			</div>
			{{{adInvisibleSkin}}}
		</div>
		<section class="wikia-page page-width" id="WikiaPage">
			{{{localNavigation}}}
			<main>
				<article class="article clearfix" id="WikiaArticle">
					{{{header}}}
					{{{articleNav}}}
					<div class="top-right-ad">
						<div class="ad">
							{{{adTopRightBoxad}}}
						</div>
					</div>
					{{{recentWikiActivity}}}
					{{{contents}}}
					{{{categorySelect}}}
					{{{dataAfterContent}}}
				</article>
			</main>
		</section>
		<div class="bottom-ads page-width">
			{{{adPrefooterLeftBoxad}}}
			{{{adPrefooterRightBoxad}}}
		</div>
		{{! TODO: Re-Enable when it's ready: corporateFooter}}
	</div>
	{{{adsBottom}}}
	{{{jsBodyFiles}}}
</body>
</html>
