{{{headLinks}}}
{{{cssLinks}}}
{{{pageCss}}}
{{{jsHeadScripts}}}
{{{headItems}}}
<body class="{{bodyClasses}}">
<div class="wikia-page-wrapper">
	<section class="wikia-page page-width" id="WikiaPage">
		<main>
			<article class="article clearfix" id="WikiaArticle">
			{{{contents}}}
			</article>
		</main>
	</section>
</div>
{{{jsBodyFiles}}}
</body>
