/*.WidgetMagCloudM .WidgetMagCloudSample {
	background: #fff url(http://images.wikia.com/common/extensions/wikia/WidgetFramework/Widgets/WidgetMagCloudM/images/MagCloudPreview2.png) no-repeat 50% 50%;
	border: solid 1px #eee;
	height: 154px;
	margin: 5px 0;
}

.WidgetMagCloudM .WidgetMagCloudClickable {
	cursor: pointer;
}

.WidgetMagCloudM p {
	padding: 5px 0;
	text-align: center;
}

.WidgetMagCloudM .WidgetMagCloudPoweredBy {
	background: #c73024 url(http://images.wikia.com/common/extensions/wikia/WidgetFramework/Widgets/WidgetMagCloudM/images/MagCloudPoweredBy.png) no-repeat 96% 50%;
	color: #fff;
	font-size: 0.9em;
	margin: 5px -7px -7px -7px;
	padding: 4px 104px 4px 7px;
	text-align: right;
}*/
