<form id="InsightsUpdateForm" class="WikiaForm" action="" method="post">
	<fieldset>
		<legend>{{msg-insights-update-desc}}</legend>
		<input type="hidden" id="token" value="{{token}}" />
		<input type="submit" value="{{msg-ok}}" />
	</fieldset>
</form>
