#searchInputWrapperTest .wds-global-navigation__search-suggestions {
    background-color: #eee;
    box-shadow: 0 7px 10px -5px rgba(26,26,26,.2);
    width: calc(100% + 16px);
    margin-left: -8px;
}
