@import "../../../../skins/oasis/css/core/color";

.userrollback-form {
	[name=users] {
		width: 600px;
		height: 80px;
	}
	[name=time] {
		width: 600px;
	}
	
	.userrollback-errors {
		color: red;
	}
}
