//The worst CSS code I've seen and its mine ... Jakub Olek
//all the importants are used as I have to override inline styles for IPad
//yes, I am ashamed...

#AjaxLoginBoxWrapper {
  top: 12px !important;
}

input {
  height: 30px !important;
  font-size: 15pt;
}

#AjaxLoginConnectMarketing div {
  h1:nth-of-type(2) {
    display: none;
  }
  ul {
    display: none;
  }

}

#userRegisterAjax {
  #wpName2, #wpEmail, #uselang, #wpBirthYear {
  position: absolute !important;
  left: 35px !important; 
  }
  #wpBirthMonth {
  position: absolute !important;
  left: 120px !important;
  }
  #wpBirthDay {
  position: absolute !important;
  left: 205px !important;
  }
  .captcha {
    img {
      position: relative;
      left: 20px;
    }
    #wpCaptchaWord,.captchadesc {
      position: relative;
      top:- 60px;
    }
  }
}

#lightbox {
  width: 97% !important;
  height: 96% !important;
  .modalContent {
    height: 91% !important;
    div {
      height: 100% !important;
      #lightbox-image {
        height: 95% !important;
        div {
          height: 100% !important;     
        }
      }
    }
  }
  button.close {
    margin: 20px;
  }
}

.wikia-slideshow-popout-prev-next {
  display: block !important;
}
.wikia-slideshow-popout-images-wrapper {
  margin: 0 auto !important;
}

#WikiaPage {
  width: 100%;
  #WikiaMainContent {
   width: 704px;
  }
}

#WikiaHeader {
  width: 100%;
  .banner-corner-left, .banner-corner-right {
    display: none;
  }
}

@media ( orientation: landscape ) {
  #lightbox {
    height: 93% !important;
    .modalContent {
      height: 85% !important;
    }
  }

  .modalWrapper.wikia-slideshow-popout {
    height: 95% !important;
    width: 95% !important;
      #wikia-slideshow-popout-images-wrapper {
      width: 90% !important;
      height: 42% !important;
    }
  }
}

@media ( orientation: portrait ) {
  .modalWrapper.wikia-slideshow-popout {
    left: 10px !important;
    margin-left: 0 !important;
    width: 688px !important;
    #wikia-slideshow-popout-images-wrapper {
      width: 90% !important;
    }

  }
}

