//The worst CSS code I've seen and its ... mine, Jakub Olek
//all the importants are used as I have to override inline styles for IPad
//yes, I am ashamed...

#labelFor_wpRemember2Ajax {
  position: relative;
  top: -9px;
}

input {
  height: 30px !important;
  font-size: 15pt;
}

#AjaxLoginConnectMarketing div {
  h1:nth-of-type(2), ul {
    display: none;
  }
}

#userRegisterAjax {
  #wpName2, #wpEmail, #uselang, #wpBirthYear {
    position: absolute !important;
    left: 35px !important; 
  }
  #wpBirthMonth {
    position: absolute !important;
    left: 120px !important;
  }
  #wpBirthDay {
    position: absolute !important;
    left: 205px !important;
  }
  .mw-input label {
    position: relative;
    top: -9px;
  }
  .wpAjaxLoginInput {
    padding-bottom: 10px;
  }
  .captcha {
    img {
      position: relative;
      left: 20px;
    }
    #wpCaptchaWord, .captchadesc {
      position: relative;
      top: -60px;
    }
  }
}

#lightbox {
  margin-left: 0 !important;
  left: 1% !important;
}

#WikiaMainContent {
  //extend wikia main content to full available width with wikia-rail, itll take whole page if there is not wikia-rail
  min-width: 68%;
}

.wikia-slideshow-popout-prev-next {
  display: block !important;
}
.wikia-slideshow-popout-images-wrapper {
  margin: 0 auto !important;
  width: 90% !important;
}
.wikia-slideshow-popout-caption-wrapper {
  height: 45px;
}

#WikiaHeader, #WikiaPage {
  width: 100%;
  .banner-corner-left, .banner-corner-right {
    display: none;
  }
}

@media ( orientation: landscape ) {
  .modalWrapper.wikia-slideshow-popout {
    height: 97% !important;
    width: 95% !important;
    .wikia-slideshow-popout-images-wrapper {
      height: 340px !important;
    }
    .wikia-slideshow-popout-prev-next {
      top: 130px !important;
    }
  }
}

@media ( orientation: portrait ) {
  .modalWrapper.wikia-slideshow-popout {
    left: 10px !important;
    margin-left: 0 !important;
    width: 90%!important;
    #wikia-slideshow-popout-images-wrapper {
      height: 700px !important;
    }
    .wikia-slideshow-popout-prev-next {
      top: 350px !important;
    }
  }
}

