.WikiaGrid {
	.grid-1,
	.grid-2,
	.grid-3,
	.grid-4,
	.grid-5,
	.grid-6 {
		display: inline;
		float: left;
		margin: 0 0 0 10px;
		&.alpha {
			margin: 0;
		}
	}
	.grid-1 {
		width: 155px;
	}
	.grid-2 {
		width: 320px;
	}
	.grid-3 {
		width: 485px;
	}
	.grid-4 {
		width: 650px;
	}
	.grid-5 {
		width: 815px;
	}
	.grid-6 {
		width: 980px;
	}
}